<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__r2070_pgtopj__r2070_pgtoresidbr -->
<div class="col-md-12">
  <div class="form-group">
    <label>Pagamento a Beneficiário Pessoa Jurídica - Domiciliado no Brasil</label>
    <select name="r2070_pgtoresidbr" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r2070_pgtoresidbr_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r2070_pgtoresidbr' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r2070_pgtopj__r2070_pgtoresidbr -->

<!-- inicio__r2070_pgtopj__dtpagto -->
<div class="col-md-3">
  <div class="form-group">
    <label>Informar a data de pagamento ou crédito, base para retenção</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtpagto" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtpagto' %}{{ dict_fields|get_value_from_dict:'dtpagto' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__r2070_pgtopj__dtpagto -->

<!-- inicio__r2070_pgtopj__vlrrendtributavel -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor do rendimento tributável</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrrendtributavel" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrrendtributavel' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_pgtopj__vlrrendtributavel -->

<!-- inicio__r2070_pgtopj__vlrret -->
<div class="col-md-3">
  <div class="form-group">
    <label>Preencher com o valor da retenção na Fonte relativamente a IR, CSLL, Cofins, PIS/PASEP.</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrret" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrret' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_pgtopj__vlrret -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r2070_pgtoresidbr" value="1" {% if show_fields|get_value_from_dict:'show_r2070_pgtoresidbr' %}checked{% endif %} >Pagamento a Beneficiário Pessoa Jurídica - Domiciliado no Brasil
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtpagto" value="1" {% if show_fields|get_value_from_dict:'show_dtpagto' %}checked{% endif %} >Informar a data de pagamento ou crédito, base para retenção
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrrendtributavel" value="1" {% if show_fields|get_value_from_dict:'show_vlrrendtributavel' %}checked{% endif %} >Valor do rendimento tributável
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrret" value="1" {% if show_fields|get_value_from_dict:'show_vlrret' %}checked{% endif %} >Preencher com o valor da retenção na Fonte relativamente a IR, CSLL, Cofins, PIS/PASEP.
    </div>
</div>


