<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__r2070_infomolestia__r2070_evtpgtosdivs -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações de Beneficiário portador de moléstia grave</label>
    <select name="r2070_evtpgtosdivs" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in r2070_evtpgtosdivs_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'r2070_evtpgtosdivs' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__r2070_infomolestia__r2070_evtpgtosdivs -->

<!-- inicio__r2070_infomolestia__dtlaudo -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data atribuída pelo laudo da moléstia grave</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtlaudo" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtlaudo' %}{{ dict_fields|get_value_from_dict:'dtlaudo' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__r2070_infomolestia__dtlaudo -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r2070_evtpgtosdivs" value="1" {% if show_fields|get_value_from_dict:'show_r2070_evtpgtosdivs' %}checked{% endif %} >Informações de Beneficiário portador de moléstia grave
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtlaudo" value="1" {% if show_fields|get_value_from_dict:'show_dtlaudo' %}checked{% endif %} >Data atribuída pelo laudo da moléstia grave
    </div>
</div>


