<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2405_brasil__s2405_endereco -->
<div class="col-md-12">
  <div class="form-group">
    <label>Preenchimento obrigatório para trabalhador residente no Brasil.</label>
    <select name="s2405_endereco" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2405_endereco_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2405_endereco' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2405_brasil__s2405_endereco -->

<!-- inicio__s2405_brasil__tplograd -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de logradouro</label>
    <input type="text" id="txt_tplograd" name="txt_tplograd" class="form-control" value="{{ dict_fields|get_value_from_dict:'tplograd' }}">
    <input type="hidden" id="id_tplograd" name="tplograd" value="{{ dict_fields|get_value_from_dict:'tplograd'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_tplograd').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/266/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_tplograd').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__s2405_brasil__tplograd -->

<!-- inicio__s2405_brasil__dsclograd -->
<div class="col-md-6">
  <div class="form-group">
    <label>Logradouro</label>
    <div name="dsclograd" class="input-group" style="width: 100%;">
      <input type="text" name="dsclograd" class="form-control" value="{{ dict_fields|get_value_from_dict:'dsclograd' }}">
    </div>
  </div>
</div>
<!-- fim__s2405_brasil__dsclograd -->

<!-- inicio__s2405_brasil__nrlograd -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número</label>
    <div name="nrlograd" class="input-group" style="width: 100%;">
      <input type="text" name="nrlograd" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrlograd' }}">
    </div>
  </div>
</div>
<!-- fim__s2405_brasil__nrlograd -->

<!-- inicio__s2405_brasil__complemento -->
<div class="col-md-6">
  <div class="form-group">
    <label>Complemento</label>
    <div name="complemento" class="input-group" style="width: 100%;">
      <input type="text" name="complemento" class="form-control" value="{{ dict_fields|get_value_from_dict:'complemento' }}">
    </div>
  </div>
</div>
<!-- fim__s2405_brasil__complemento -->

<!-- inicio__s2405_brasil__bairro -->
<div class="col-md-6">
  <div class="form-group">
    <label>Bairro</label>
    <div name="bairro" class="input-group" style="width: 100%;">
      <input type="text" name="bairro" class="form-control" value="{{ dict_fields|get_value_from_dict:'bairro' }}">
    </div>
  </div>
</div>
<!-- fim__s2405_brasil__bairro -->

<!-- inicio__s2405_brasil__cep -->
<div class="col-md-6">
  <div class="form-group">
    <label>CEP</label>
    <div name="cep" class="input-group" style="width: 100%;">
      <input type="text" name="cep" class="form-control" value="{{ dict_fields|get_value_from_dict:'cep' }}">
    </div>
  </div>
</div>
<!-- fim__s2405_brasil__cep -->

<!-- inicio__s2405_brasil__codmunic -->
<div class="col-md-6">
  <div class="form-group">
    <label>Código do Município</label>
    <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{{ dict_fields|get_value_from_dict:'codmunic' }}">
    <input type="hidden" id="id_codmunic" name="codmunic" value="{{ dict_fields|get_value_from_dict:'codmunic'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_codmunic').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/59/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_codmunic').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__s2405_brasil__codmunic -->

<!-- inicio__s2405_brasil__uf -->
<div class="col-md-6">
  <div class="form-group">
    <label>UF</label>
    <div class="input-group" style="width: 100%;">
      <select name="uf" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="AC" {% ifequal 'AC' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Acre</option>
        <option value="AL" {% ifequal 'AL' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Alagoas</option>
        <option value="AM" {% ifequal 'AM' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Amazonas</option>
        <option value="AP" {% ifequal 'AP' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Amapá</option>
        <option value="BA" {% ifequal 'BA' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Bahia</option>
        <option value="CE" {% ifequal 'CE' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Ceará</option>
        <option value="DF" {% ifequal 'DF' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Distrito Federal</option>
        <option value="ES" {% ifequal 'ES' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Espírito Santo</option>
        <option value="GO" {% ifequal 'GO' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Goiás</option>
        <option value="MA" {% ifequal 'MA' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Maranhão</option>
        <option value="MG" {% ifequal 'MG' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Minas Gerais</option>
        <option value="MS" {% ifequal 'MS' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Mato Grosso do Sul</option>
        <option value="MT" {% ifequal 'MT' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Mato Grosso</option>
        <option value="PA" {% ifequal 'PA' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Pará</option>
        <option value="PB" {% ifequal 'PB' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Paraíba</option>
        <option value="PE" {% ifequal 'PE' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Pernambuco</option>
        <option value="PI" {% ifequal 'PI' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Piauí</option>
        <option value="PR" {% ifequal 'PR' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Paraná</option>
        <option value="RJ" {% ifequal 'RJ' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rio de Janeiro</option>
        <option value="RN" {% ifequal 'RN' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rio Grande do Norte</option>
        <option value="RO" {% ifequal 'RO' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rondônia</option>
        <option value="RR" {% ifequal 'RR' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Roraima</option>
        <option value="RS" {% ifequal 'RS' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rio Grande do Sul</option>
        <option value="SC" {% ifequal 'SC' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Santa Catarina</option>
        <option value="SE" {% ifequal 'SE' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Sergipe</option>
        <option value="SP" {% ifequal 'SP' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >São Paulo</option>
        <option value="TO" {% ifequal 'TO' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Tocantins</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2405_brasil__uf -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2405_endereco" value="1" {% if show_fields|get_value_from_dict:'show_s2405_endereco' %}checked{% endif %} >Preenchimento obrigatório para trabalhador residente no Brasil.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tplograd" value="1" {% if show_fields|get_value_from_dict:'show_tplograd' %}checked{% endif %} >Tipo de logradouro
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dsclograd" value="1" {% if show_fields|get_value_from_dict:'show_dsclograd' %}checked{% endif %} >Logradouro
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrlograd" value="1" {% if show_fields|get_value_from_dict:'show_nrlograd' %}checked{% endif %} >Número
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_complemento" value="1" {% if show_fields|get_value_from_dict:'show_complemento' %}checked{% endif %} >Complemento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_bairro" value="1" {% if show_fields|get_value_from_dict:'show_bairro' %}checked{% endif %} >Bairro
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cep" value="1" {% if show_fields|get_value_from_dict:'show_cep' %}checked{% endif %} >CEP
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codmunic" value="1" {% if show_fields|get_value_from_dict:'show_codmunic' %}checked{% endif %} >Código do Município
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_uf" value="1" {% if show_fields|get_value_from_dict:'show_uf' %}checked{% endif %} >UF
    </div>
</div>


