{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s1020_evttablotacao %}
            <th>Inclusão de novas informações</th>
            {% endif %}
            {% if show_fields.show_idelotacao %}
            <th>Informações de identificação da lotação e validade das informações que estão sendo incluídas</th>
            {% endif %}
            {% if show_fields.show_codlotacao %}
            <th>Código da Lotação</th>
            {% endif %}
            {% if show_fields.show_inivalid %}
            <th>Início da Validade</th>
            {% endif %}
            {% if show_fields.show_fimvalid %}
            <th>Fim da Validade</th>
            {% endif %}
            {% if show_fields.show_dadoslotacao %}
            <th>Detalhamento das informações da lotação que está sendo incluída</th>
            {% endif %}
            {% if show_fields.show_tplotacao %}
            <th>Tipo de Lotação</th>
            {% endif %}
            {% if show_fields.show_tpinsc %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_fpaslotacao %}
            <th>Informações de FPAS e Terceiros relativas à lotação tributária</th>
            {% endif %}
            {% if show_fields.show_fpas %}
            <th>FPAS</th>
            {% endif %}
            {% if show_fields.show_codtercs %}
            <th>Código de Terceiros</th>
            {% endif %}
            {% if show_fields.show_codtercssusp %}
            <th>Código de Terceiros (Suspensão)</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s1020_inclusao_lista %}
        <tr>
            {% if show_fields.show_s1020_evttablotacao %}
            <td>{{ a.s1020_evttablotacao }}</td>
            {% endif %}
            {% if show_fields.show_idelotacao %}
            <td></td>
            {% endif %}
            {% if show_fields.show_codlotacao %}
            <td>{{ a.codlotacao }}</td>
            {% endif %}
            {% if show_fields.show_inivalid %}
            <td>{{ a.get_inivalid_display }}</td>
            {% endif %}
            {% if show_fields.show_fimvalid %}
            <td>{{ a.get_fimvalid_display }}</td>
            {% endif %}
            {% if show_fields.show_dadoslotacao %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tplotacao %}
            <td>{{ a.get_tplotacao_display }}</td>
            {% endif %}
            {% if show_fields.show_tpinsc %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_fpaslotacao %}
            <td></td>
            {% endif %}
            {% if show_fields.show_fpas %}
            <td>{{ a.fpas|valor }}</td>
            {% endif %}
            {% if show_fields.show_codtercs %}
            <td>{{ a.codtercs }}</td>
            {% endif %}
            {% if show_fields.show_codtercssusp %}
            <td>{{ a.codtercssusp }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s1020.change_s1020inclusao or perms.s1020.add_s1020inclusao %}

                        <a href="{% url 's1020_inclusao_salvar' pk=a.id %}">
                            {% if perms.s1020.change_s1020inclusao %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s1020.can_see_data_s1020inclusao %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s1020.delete_s1020inclusao %}
                        <a href="{% url 's1020_inclusao_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
