{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s1020_alteracao or 1 %}
            <th>Informações sobre a existência de processos judiciais, com sentença/decisão favorável ao contribuinte, relativos às contribuições destinadas a outras Entidades e Fundos.</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s1020_alteracao_infoprocjudterceiros_lista %}
        <tr>
            {% if show_fields.show_s1020_alteracao or 1 %}
            <td>{{ a.s1020_alteracao }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.s1020.can_view_s1020alteracaoinfoProcJudTerceiros %}
                        <a href="{% url 's1020_alteracao_infoprocjudterceiros_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.s1020.add_s1020alteracaoinfoProcJudTerceiros or perms.s1020.change_s1020alteracaoinfoProcJudTerceiros %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.s1020.delete_s1020alteracaoinfoProcJudTerceiros %}
                        <a href="{% url 's1020_alteracao_infoprocjudterceiros_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
