{% extends 'base.html' %}{% load templatetags %}{% block content %}

{% if not for_print %}

    <section class="content-header">
      <h1>
        R-2030 - Recursos Recebidos por Associação Desportiva
        <small>Verificações</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">R-2030 - Recursos Recebidos por Associação Desportiva</a></li>
        <li class="active">Verificar</li>
      </ol>
    </section>
    <section class="content">

        {% if messages %}
                <div class="pad margin no-print">
            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="margin-bottom: 0!important;">
                        {{ message }}
                    </div>
            {% endfor %}
                </div>
        {% endif %}

      

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">R-2030 - Recursos Recebidos por Associação Desportiva<br>Identidade: {{ r2030_evtassocdesprec.identidade }}</h3>
              <div class="text-right">
                <a href="{% url 'r2030_evtassocdesprec_verificar' hash='{}'|json_id:r2030_evtassocdesprec_id|json_print:1|base64_encode_me %}" target="_blank">
                  <button id="btnImprimir" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</button>
                </a>



                  <div class="btn-group">
                                <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Exportar
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><span class="caret"></span><span class="sr-only">Exportar</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="text-left"><a
                                            href="{% url 'r2030_evtassocdesprec_verificar' hash='{}'|json_id:r2030_evtassocdesprec_id|json_print:2|base64_encode_me %}"
                                            target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;PDF</a></li>
                                    <li class="text-left"><a
                                            href="{% url 'r2030_evtassocdesprec_verificar' hash='{}'|json_id:r2030_evtassocdesprec_id|json_print:3|base64_encode_me %}"
                                            target="_blank"><i class="fa fa-file-excel-o"></i>&nbsp;XLS</a></li>
                                    <!--<li class="text-left"><a
                                            href="{% url 'r2030_evtassocdesprec_verificar' hash='{}'|json_id:r2030_evtassocdesprec_id|json_print:4|base64_encode_me %}"
                                            target="_blank"><i class="fa fa-file-text-o"></i>&nbsp;CSV</a></li>-->
                                </ul>
                            </div>&nbsp;

              </div>              
            </div>
            <div class="box-body">
{% else %} 
   <section class="invoice">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            R-2030 - Recursos Recebidos por Associação Desportiva<br>Identidade: {{ r2030_evtassocdesprec.identidade }}
            <small class="pull-right">Usuário: {{ usuario.nome }}<br>Data: {{ data }}<br></small>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 table-responsive">
{% endif %} 




      <h4>Layout</h4>




<table {% if not for_print %}class="table table-bordered"{% else %}border=1 border="0.5px" cellpadding="5px" width="100%"{% endif %}>
              

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">evtAssocDespRec</td>
            <td bgcolor="lightgray" colspan="3">Evento Recursos Recebidos por Associação Desportiva que mantenha equipe de Futebol profissional Regras de validação: REGRA_EVE_ ASSOCDESP REGRA_EVE_ ASSOCDESP_PER REGRA_EVE_IND_RETIFICACAO REGRA_EVE_VALIDO_ESTAB REGRA_EXISTE_INFO_CONTRIBUINTE REGRA_VALIDA_ID_EVENTO</td>
        </tr>

    {% for r2030_evtassocdesprec in r2030_evtassocdesprec_lista %}
    {% ifequal 1 1 %}

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEvento</td>
            <td bgcolor="lightgray" colspan="3">Informações de Identificação do Evento</td>
        </tr>


        <tr {% if r2030_evtassocdesprec.indretif|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.indretif" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">indRetif</td>
            <td width="500px">Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.indretif or r2030_evtassocdesprec.indretif == 0 %}{{ r2030_evtassocdesprec.indretif|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_evtassocdesprec.nrrecibo|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.nrrecibo" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrRecibo</td>
            <td width="500px">Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo objeto da retificação.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.nrrecibo or r2030_evtassocdesprec.nrrecibo == 0 %}{{ r2030_evtassocdesprec.nrrecibo }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_evtassocdesprec.perapur|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.perapur" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApur</td>
            <td width="500px">Informar o ano/mês de referência das informações no formato AAAA-MM. Validação: Deve ser um ano/mês válido para o qual haja informações do contribuinte informadas através do evento R-1000. Não pode ser maior que o ano/mês corrente.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.perapur or r2030_evtassocdesprec.perapur == 0 %}{{ r2030_evtassocdesprec.perapur }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_evtassocdesprec.tpamb|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.tpamb" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpAmb</td>
            <td width="500px">Identificação do ambiente: 1 - Produção; 2 - Produção restrita; Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.tpamb or r2030_evtassocdesprec.tpamb == 0 %}{{ r2030_evtassocdesprec.tpamb|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_evtassocdesprec.procemi|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.procemi" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">procEmi</td>
            <td width="500px">Processo de emissão do evento: 1 - Aplicativo do contribuinte; 2 - Aplicativo governamental. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.procemi or r2030_evtassocdesprec.procemi == 0 %}{{ r2030_evtassocdesprec.procemi|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_evtassocdesprec.verproc|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.verproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">verProc</td>
            <td width="500px">Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.verproc or r2030_evtassocdesprec.verproc == 0 %}{{ r2030_evtassocdesprec.verproc }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideContri</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do contribuinte</td>
        </tr>


        <tr {% if r2030_evtassocdesprec.tpinsc|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição do contribuinte. Validação: Deve ser igual a [1] (CNPJ).</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.tpinsc or r2030_evtassocdesprec.tpinsc == 0 %}{{ r2030_evtassocdesprec.tpinsc|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_evtassocdesprec.nrinsc|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o CNPJ apenas com a Raiz/Base de oito posições, exceto se natureza jurídica do declarante for de administração pública direta federal ([101-5], [104-0], [107-4] e [116-3]), situação em que o campo deve ser preenchido com o CNPJ completo com 14 posições. Validação: Deve ser um número de CNPJ válido.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.nrinsc or r2030_evtassocdesprec.nrinsc == 0 %}{{ r2030_evtassocdesprec.nrinsc }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEstab</td>
            <td bgcolor="lightgray" colspan="3">Identificação dos estabelecimentos da associação desportiva que receberam os recursos</td>
        </tr>


        <tr {% if r2030_evtassocdesprec.tpinscestab|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.tpinscestab" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInscEstab</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição Validação: Deve ser igual a [1] (CNPJ)</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.tpinscestab or r2030_evtassocdesprec.tpinscestab == 0 %}{{ r2030_evtassocdesprec.tpinscestab|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_evtassocdesprec.nrinscestab|validacoes_esocial_efdreinf:"r2030_evtassocdesprec.nrinscestab" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInscEstab</td>
            <td width="500px">Informar o número de inscrição do estabelecimento de acordo com o tipo de inscrição indicado no campo {tpInscEstab}. Validação: Deve ser um número de CNPJ válido que representa um estabelecimento do contribuinte.</td>
            <td width="200px"><b>{% if r2030_evtassocdesprec.nrinscestab or r2030_evtassocdesprec.nrinscestab == 0 %}{{ r2030_evtassocdesprec.nrinscestab }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_evtassocdesprec_visualizar' %}
                <a href="{% url 'r2030_evtassocdesprec_salvar'  hash='{}'|json_id:r2030_evtassocdesprec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">recursosRec</td>
            <td bgcolor="lightgray" colspan="3">Registro preenchido exclusivamente por associação desportiva que mantenha equipe de futebol profissional, quando receber repasse de outras empresas a título de patrocínio, publicidade, licenciamento, etc .Totalizador dos recursos recebidos por estabelecimento</td>
        </tr>

    {% for r2030_recursosrec in r2030_recursosrec_lista %}
    {% ifequal r2030_recursosrec.r2030_evtassocdesprec.id r2030_evtassocdesprec.id %}

        <tr {% if r2030_recursosrec.cnpjorigrecurso|validacoes_esocial_efdreinf:"r2030_recursosrec.cnpjorigrecurso" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">cnpjOrigRecurso</td>
            <td width="500px">Preencher com o CNPJ da empresa que repassou recursos Validação: Deve ser um CNPJ válido, diferente do CNPJ do declarante</td>
            <td width="200px"><b>{% if r2030_recursosrec.cnpjorigrecurso or r2030_recursosrec.cnpjorigrecurso == 0 %}{{ r2030_recursosrec.cnpjorigrecurso }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_recursosrec_visualizar' %}
                <a href="{% url 'r2030_recursosrec_salvar'  hash='{}'|json_id:r2030_recursosrec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_recursosrec.vlrtotalrec|validacoes_esocial_efdreinf:"r2030_recursosrec.vlrtotalrec" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrTotalRec</td>
            <td width="500px">Preencher com o valor bruto dos recursos recebidos Validação: Deve corresponder a soma do campo {vlrBruto} do grupo {infoRecurso}</td>
            <td width="200px"><b>{% if r2030_recursosrec.vlrtotalrec or r2030_recursosrec.vlrtotalrec == 0 %}{{ r2030_recursosrec.vlrtotalrec|format_number_2dec_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_recursosrec_visualizar' %}
                <a href="{% url 'r2030_recursosrec_salvar'  hash='{}'|json_id:r2030_recursosrec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_recursosrec.vlrtotalret|validacoes_esocial_efdreinf:"r2030_recursosrec.vlrtotalret" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrTotalRet</td>
            <td width="500px">Soma do valor da retenção dos recursos recebidos Validação: Deve corresponder a soma do campo {vlrRetApur} do grupo {infoRecurso}.</td>
            <td width="200px"><b>{% if r2030_recursosrec.vlrtotalret or r2030_recursosrec.vlrtotalret == 0 %}{{ r2030_recursosrec.vlrtotalret|format_number_2dec_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_recursosrec_visualizar' %}
                <a href="{% url 'r2030_recursosrec_salvar'  hash='{}'|json_id:r2030_recursosrec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_recursosrec.vlrtotalnret|validacoes_esocial_efdreinf:"r2030_recursosrec.vlrtotalnret" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrTotalNRet</td>
            <td width="500px">Valor da retenção que deixou de ser feita pela entidade que efetuou o repasse ou que foi depositada em juízo em decorrência da decisão judicial/administrativa Validação: Não pode ser maior que {vlrTotalRet} e deve corresponder a soma do campo {vlrNRet} dos registros vinculados</td>
            <td width="200px"><b>{% if r2030_recursosrec.vlrtotalnret or r2030_recursosrec.vlrtotalnret == 0 %}{{ r2030_recursosrec.vlrtotalnret|format_number_2dec_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_recursosrec_visualizar' %}
                <a href="{% url 'r2030_recursosrec_salvar'  hash='{}'|json_id:r2030_recursosrec.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">infoRecurso</td>
            <td bgcolor="lightgray" colspan="3">Detalhamento dos recursos recebidos.</td>
        </tr>

    {% for r2030_inforecurso in r2030_inforecurso_lista %}
    {% ifequal r2030_inforecurso.r2030_recursosrec.id r2030_recursosrec.id %}

        <tr {% if r2030_inforecurso.tprepasse|validacoes_esocial_efdreinf:"r2030_inforecurso.tprepasse" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpRepasse</td>
            <td width="500px">Tipo de repasse, conforme tabela abaixo: 1 - Patrocínio; 2 - Licenciamento de marcas e símbolos; 3 - Publicidade; 4 - Propaganda; 5 - Transmissão de espetáculos. Valores Válidos: 1, 2, 3, 4, 5</td>
            <td width="200px"><b>{% if r2030_inforecurso.tprepasse or r2030_inforecurso.tprepasse == 0 %}{{ r2030_inforecurso.tprepasse|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_inforecurso_visualizar' %}
                <a href="{% url 'r2030_inforecurso_salvar'  hash='{}'|json_id:r2030_inforecurso.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_inforecurso.descrecurso|validacoes_esocial_efdreinf:"r2030_inforecurso.descrecurso" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">descRecurso</td>
            <td width="500px">Descrição resumida do recurso recebido</td>
            <td width="200px"><b>{% if r2030_inforecurso.descrecurso or r2030_inforecurso.descrecurso == 0 %}{{ r2030_inforecurso.descrecurso }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_inforecurso_visualizar' %}
                <a href="{% url 'r2030_inforecurso_salvar'  hash='{}'|json_id:r2030_inforecurso.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_inforecurso.vlrbruto|validacoes_esocial_efdreinf:"r2030_inforecurso.vlrbruto" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBruto</td>
            <td width="500px">Preencher com o valor bruto do repasse recebido a título de patrocínio, publicidade, licenciamento, etc Validação: Deve ser maior que 0 (zero).</td>
            <td width="200px"><b>{% if r2030_inforecurso.vlrbruto or r2030_inforecurso.vlrbruto == 0 %}{{ r2030_inforecurso.vlrbruto|format_number_2dec_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_inforecurso_visualizar' %}
                <a href="{% url 'r2030_inforecurso_salvar'  hash='{}'|json_id:r2030_inforecurso.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_inforecurso.vlrretapur|validacoes_esocial_efdreinf:"r2030_inforecurso.vlrretapur" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrRetApur</td>
            <td width="500px">Preencher com o valor da retenção de contribuição previdenciária.</td>
            <td width="200px"><b>{% if r2030_inforecurso.vlrretapur or r2030_inforecurso.vlrretapur == 0 %}{{ r2030_inforecurso.vlrretapur|format_number_2dec_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_inforecurso_visualizar' %}
                <a href="{% url 'r2030_inforecurso_salvar'  hash='{}'|json_id:r2030_inforecurso.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">infoProc</td>
            <td bgcolor="lightgray" colspan="3">Informações de processos relacionados a não retenção de contribuição previdenciária. Validação: A soma dos valores informados no campo {vlrNRet} deste grupo, com exceção dos valores informados para {indSusp} = [92], deve ser igual a {vlrTotalNRet} do grupo {recursosRec}.</td>
        </tr>

    {% for r2030_infoproc in r2030_infoproc_lista %}
    {% ifequal r2030_infoproc.r2030_recursosrec.id r2030_recursosrec.id %}

        <tr {% if r2030_infoproc.tpproc|validacoes_esocial_efdreinf:"r2030_infoproc.tpproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpProc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de processo: 1 - Administrativo; 2 - Judicial. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r2030_infoproc.tpproc or r2030_infoproc.tpproc == 0 %}{{ r2030_infoproc.tpproc|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_infoproc_visualizar' %}
                <a href="{% url 'r2030_infoproc_salvar'  hash='{}'|json_id:r2030_infoproc.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_infoproc.nrproc|validacoes_esocial_efdreinf:"r2030_infoproc.nrproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrProc</td>
            <td width="500px">Informar o número do processo administrativo/judicial. Validação: O processo deve existir na tabela de processos.</td>
            <td width="200px"><b>{% if r2030_infoproc.nrproc or r2030_infoproc.nrproc == 0 %}{{ r2030_infoproc.nrproc }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_infoproc_visualizar' %}
                <a href="{% url 'r2030_infoproc_salvar'  hash='{}'|json_id:r2030_infoproc.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_infoproc.codsusp|validacoes_esocial_efdreinf:"r2030_infoproc.codsusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">codSusp</td>
            <td width="500px">Código do Indicativo da Suspensão, atribuído pelo contribuinte. Este campo deve ser utilizado se, num mesmo processo, houver mais de uma matéria tributária objeto de contestação e as decisões forem diferentes para cada uma. Validação: Preenchimento obrigatório se houver mais de uma informação de Indicativo de Suspensão para um mesmo processo. Se informado, deve existir na tabela de processos (R-1070 - campo {codSusp}), vinculado ao número do processo informado em {nrProc}.</td>
            <td width="200px"><b>{% if r2030_infoproc.codsusp or r2030_infoproc.codsusp == 0 %}{{ r2030_infoproc.codsusp|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_infoproc_visualizar' %}
                <a href="{% url 'r2030_infoproc_salvar'  hash='{}'|json_id:r2030_infoproc.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if r2030_infoproc.vlrnret|validacoes_esocial_efdreinf:"r2030_infoproc.vlrnret" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrNRet</td>
            <td width="500px">Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial.</td>
            <td width="200px"><b>{% if r2030_infoproc.vlrnret or r2030_infoproc.vlrnret == 0 %}{{ r2030_infoproc.vlrnret|format_number_2dec_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'r2030_infoproc_visualizar' %}
                <a href="{% url 'r2030_infoproc_salvar'  hash='{}'|json_id:r2030_infoproc.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}    {% endifequal %}{% endfor %}  {% endifequal %}{% endfor %}
</table>
{% if not for_print %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% else %} 

        </div>
      </div>
    </section>
{% endif %}  

{% endblock content %}