{% load templatetags %}{% load static %}



<!-- inicio__s3000_evtexclusao__evtexclusao -->
<div class="col-md-12" id="s3000_evtexclusao__evtexclusao__div">
  <h4>Evento de Exclusão</h4>
</div>
<!-- fim__s3000_evtexclusao__evtexclusao -->
<!-- inicio__s3000_evtexclusao__identidade -->
<div class="col-md-6" id="s3000_evtexclusao__identidade__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__identidade__label">Identidade do Registro<a data-toggle="tooltip" title="Identificação única do evento. <regras_validacao> REGRA_VALIDA_ID_EVENTO"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s3000_evtexclusao_form.identidade.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s3000_evtexclusao_form.identidade.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s3000_evtexclusao_form.identidade|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__identidade -->
<!-- inicio__s3000_evtexclusao__ideevento -->
<div class="col-md-12" id="s3000_evtexclusao__ideevento__div">
  <h4>Informações de Identificação do Evento</h4>
</div>
<!-- fim__s3000_evtexclusao__ideevento -->
<!-- inicio__s3000_evtexclusao__tpamb -->
<div class="col-md-6" id="s3000_evtexclusao__tpamb__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__tpamb__label">Identificação do ambiente*<a data-toggle="tooltip" title="Identificação do ambiente<opcoes>1 - Produção; 2 - Produção restrita. <valores_validos> 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s3000_evtexclusao_form.tpamb.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s3000_evtexclusao_form.tpamb.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s3000_evtexclusao_form.tpamb.field.widget.attrs.readonly %}
        {% if s3000_evtexclusao_form.tpamb.field.widget.attrs.disabled %}
          {{ s3000_evtexclusao_form.tpamb|addcss:'form-control' }}
          <input id="id_tpamb" name="tpamb" type="hidden" value="{% if s3000_evtexclusao_form.tpamb.value or s3000_evtexclusao_form.tpamb.value == 0 %}{{ s3000_evtexclusao_form.tpamb.value|valor }}{% endif %}">
        {% else %}
          {{ s3000_evtexclusao_form.tpamb|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s3000_evtexclusao_form.tpamb|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__tpamb -->
<!-- inicio__s3000_evtexclusao__procemi -->
<div class="col-md-6" id="s3000_evtexclusao__procemi__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__procemi__label">Processo de emissão do evento*<a data-toggle="tooltip" title="Processo de emissão do evento<opcoes> 1 - Aplicativo do empregador; 2 - Aplicativo governamental - Empregador Doméstico; 3 - Aplicativo governamental - Web Geral; 4 - Aplicativo governamental - Microempreendedor Individual (MEI); 5 - Aplicativo governamental - Segurado Especial. <valores_validos> 1, 2, 3, 4, 5."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s3000_evtexclusao_form.procemi.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s3000_evtexclusao_form.procemi.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s3000_evtexclusao_form.procemi.field.widget.attrs.readonly %}
        {% if s3000_evtexclusao_form.procemi.field.widget.attrs.disabled %}
          {{ s3000_evtexclusao_form.procemi|addcss:'form-control' }}
          <input id="id_procemi" name="procemi" type="hidden" value="{% if s3000_evtexclusao_form.procemi.value or s3000_evtexclusao_form.procemi.value == 0 %}{{ s3000_evtexclusao_form.procemi.value|valor }}{% endif %}">
        {% else %}
          {{ s3000_evtexclusao_form.procemi|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s3000_evtexclusao_form.procemi|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__procemi -->
<!-- inicio__s3000_evtexclusao__verproc -->
<div class="col-md-6" id="s3000_evtexclusao__verproc__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__verproc__label">Versão do processo*<a data-toggle="tooltip" title="Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s3000_evtexclusao_form.verproc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s3000_evtexclusao_form.verproc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s3000_evtexclusao_form.verproc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__verproc -->
<!-- inicio__s3000_evtexclusao__ideempregador -->
<div class="col-md-12" id="s3000_evtexclusao__ideempregador__div">
  <h4>Informações de identificação do empregador</h4>
</div>
<!-- fim__s3000_evtexclusao__ideempregador -->
<!-- inicio__s3000_evtexclusao__tpinsc -->
<div class="col-md-6" id="s3000_evtexclusao__tpinsc__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__tpinsc__label">Tipo de inscrição*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição, conforme tabela 5. <validacao> Deve ser igual a [1] (CNPJ) ou [2] (CPF)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s3000_evtexclusao_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s3000_evtexclusao_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s3000_evtexclusao_form.tpinsc.field.widget.attrs.readonly %}
        {% if s3000_evtexclusao_form.tpinsc.field.widget.attrs.disabled %}
          {{ s3000_evtexclusao_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s3000_evtexclusao_form.tpinsc.value or s3000_evtexclusao_form.tpinsc.value == 0 %}{{ s3000_evtexclusao_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s3000_evtexclusao_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s3000_evtexclusao_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__tpinsc -->
<!-- inicio__s3000_evtexclusao__nrinsc -->
<div class="col-md-6" id="s3000_evtexclusao__nrinsc__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__nrinsc__label">Número de inscrição (CPF/CNPJ)*<a data-toggle="tooltip" title="Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Se for um CNPJ deve ser informada apenas a Raiz/Base de oito posições, exceto se natureza jurídica de administração pública direta federal ([101-5], [104-0], [107-4], [116-3], situação em que o campo deve ser preenchido com o CNPJ completo (14 posições). <validacao> Se {tpInsc} for igual a [1], deve ser um número de CNPJ válido. Se {tpInsc} for igual a [2], deve ser um CPF válido."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s3000_evtexclusao_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s3000_evtexclusao_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s3000_evtexclusao_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__nrinsc -->
<!-- inicio__s3000_evtexclusao__infoexclusao -->
<div class="col-md-12" id="s3000_evtexclusao__infoexclusao__div">
  <h4>Registro que identifica o evento objeto da exclusão.</h4>
</div>
<!-- fim__s3000_evtexclusao__infoexclusao -->
<!-- inicio__s3000_evtexclusao__tpevento -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s3000_evtexclusao__tpevento__div">
    <div class="form-group">
      <label id="s3000_evtexclusao__tpevento__label">Tipo de evento*<a data-toggle="tooltip" title="Preencher com o tipo de evento, conforme tabela 9. <validacao> Deve existir na tabela 9. Podem ser excluídos apenas os eventos relacionados abaixo: a) Não periódicos (S-2190 a S-2400); b) Periódicos (S-1200 a S-1280 e S-1300)."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s3000_evtexclusao_form.tpevento.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s3000_evtexclusao_form.tpevento.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_tpevento" 
               name="txt_tpevento" class="form-control" 
               value="{% if s3000_evtexclusao.tpevento %}{{ s3000_evtexclusao.tpevento|get_opcoes_titulo:546 }}{% endif %}" 
               {% if s3000_evtexclusao_form.tpevento.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s3000_evtexclusao_form.tpevento.field.widget.attrs.required %} required="required"{% endif %}
               {% if s3000_evtexclusao_form.tpevento.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_tpevento" 
               name="tpevento" 
               value="{% if s3000_evtexclusao.tpevento %}{{ s3000_evtexclusao_form.tpevento.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_tpevento').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/546/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_tpevento').val(ui.item.value);
        return false;
      }});
    {% if s3000_evtexclusao_form.tpevento.field.widget.attrs.required %}
    $("#id_form_s3000_evtexclusao").submit(function(e) {
      $('#txt_tpevento').disabled = true;
        if ($('#id_tpevento').val() == "") {
          $('#txt_tpevento').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Tipo de evento!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s3000_evtexclusao__tpevento__div">
    <div class="form-group">
      <label id="s3000_evtexclusao__tpevento__label">Tipo de evento*<a data-toggle="tooltip" title="Preencher com o tipo de evento, conforme tabela 9. <validacao> Deve existir na tabela 9. Podem ser excluídos apenas os eventos relacionados abaixo: a) Não periódicos (S-2190 a S-2400); b) Periódicos (S-1200 a S-1280 e S-1300)."><i class="fa fa-fw fa-question-circle"></i></a></label>
        <input type="text" id="txt_tpevento" name="txt_tpevento" class="form-control" value="{% if s3000_evtexclusao.tpevento %}{{ s3000_evtexclusao.tpevento }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s3000_evtexclusao__tpevento -->
<!-- inicio__s3000_evtexclusao__nrrecevt -->
<div class="col-md-6" id="s3000_evtexclusao__nrrecevt__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__nrrecevt__label">Número do recibo do evento*<a data-toggle="tooltip" title="Preencher com o número do recibo do evento que será excluído. <validacao> O recibo deve ser relativo ao mesmo tipo de evento indicado em {tpEvento} e o respectivo evento não deve constar como excluído ou retificado. Além disso, no caso de exclusão de eventos em que existe a identificação do trabalhador, o evento que está sendo excluído deve referir-se ao mesmo trabalhador identificado por {cpfTrab} e {nisTrab}."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s3000_evtexclusao_form.nrrecevt.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s3000_evtexclusao_form.nrrecevt.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s3000_evtexclusao_form.nrrecevt|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__nrrecevt -->
<!-- inicio__s3000_evtexclusao__versao -->
<div class="col-md-3" id="s3000_evtexclusao__versao__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__versao__label">Versão<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s3000_evtexclusao_form.versao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s3000_evtexclusao_form.versao.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s3000_evtexclusao_form.versao.field.widget.attrs.readonly %}
        {% if s3000_evtexclusao_form.versao.field.widget.attrs.disabled %}
          {{ s3000_evtexclusao_form.versao|addcss:'form-control' }}
          <input id="id_versao" name="versao" type="hidden" value="{% if s3000_evtexclusao_form.versao.value or s3000_evtexclusao_form.versao.value == 0 %}{{ s3000_evtexclusao_form.versao.value }}{% endif %}">
        {% else %}
          {{ s3000_evtexclusao_form.versao|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s3000_evtexclusao_form.versao|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__versao -->
<!-- inicio__s3000_evtexclusao__transmissor_lote_esocial -->

<script type="text/javascript">
    $(document).ready(function(){
        $('#id_transmissor_lote_esocial').change(function(){
            document.getElementById("s3000_evtexclusao__transmissor_lote_esocial__div_acessar").style.display = 'none';
        });
    });
</script>

<div class="col-md-3" id="s3000_evtexclusao__transmissor_lote_esocial__div">
<div class="form-group">
  <label id="s3000_evtexclusao__transmissor_lote_esocial__label">Transmissor<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
  
  {% if not output %}
    {% if s3000_evtexclusao_form.transmissor_lote_esocial.value %}
    <a id="s3000_evtexclusao__transmissor_lote_esocial__div_acessar" href="{% url 'transmissor_lote_esocial_salvar' pk=s3000_evtexclusao_form.transmissor_lote_esocial.value tab='master' %}">
     [Acessar]
    </a>
    {% endif %} 
  {% endif %}
  
  {% if s3000_evtexclusao_form.transmissor_lote_esocial.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s3000_evtexclusao_form.transmissor_lote_esocial.errors }}
    </div>
  {% endif %}
  {% if s3000_evtexclusao_form.transmissor_lote_esocial.field.widget.attrs.readonly %}
    {% if s3000_evtexclusao_form.transmissor_lote_esocial.field.widget.attrs.disabled %}
      {{ s3000_evtexclusao_form.transmissor_lote_esocial|addcss:'form-control' }}
      <input id="id_transmissor_lote_esocial" name="transmissor_lote_esocial" type="hidden" value="{% if s3000_evtexclusao_form.transmissor_lote_esocial.value or s3000_evtexclusao_form.transmissor_lote_esocial.value == 0 %}{{ s3000_evtexclusao_form.transmissor_lote_esocial.value|valor }}
    {% endif %}">
   {% else %}
     {{ s3000_evtexclusao_form.transmissor_lote_esocial|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ s3000_evtexclusao_form.transmissor_lote_esocial|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__s3000_evtexclusao__transmissor_lote_esocial -->
<!-- inicio__s3000_evtexclusao__status -->
<div class="col-md-3" id="s3000_evtexclusao__status__div">
  <div class="form-group">
    <label id="s3000_evtexclusao__status__label">Status<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s3000_evtexclusao_form.status.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s3000_evtexclusao_form.status.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s3000_evtexclusao_form.status.field.widget.attrs.readonly %}
        {% if s3000_evtexclusao_form.status.field.widget.attrs.disabled %}
          {{ s3000_evtexclusao_form.status|addcss:'form-control' }}
          <input id="id_status" name="status" type="hidden" value="{% if s3000_evtexclusao_form.status.value or s3000_evtexclusao_form.status.value == 0 %}{{ s3000_evtexclusao_form.status.value|valor }}{% endif %}">
        {% else %}
          {{ s3000_evtexclusao_form.status|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s3000_evtexclusao_form.status|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s3000_evtexclusao__status -->