{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r2020_evtservprest or 1 %}
            <th>Detalhamento das notas fiscais de serviços prestados pela empresa identificada no registro superior</th>
            {% endif %}
            {% if show_fields.show_serie or 1 %}
            <th>Informar o número de série da nota fiscal/fatura ou do Recibo Provisório de Serviço - RPS</th>
            {% endif %}
            {% if show_fields.show_numdocto or 1 %}
            <th>Número da Nota Fiscal/Fatura ou do Recibo Provisório de Serviço - RPS.</th>
            {% endif %}
            {% if show_fields.show_dtemissaonf or 1 %}
            <th>Data de Emissão da Nota Fiscal/Fatura ou do Recibo Provisório de Serviço - RPS</th>
            {% endif %}
            {% if show_fields.show_vlrbruto or 1 %}
            <th>Preencher com o valor bruto da nota fiscal ou do Recibo Provisório de Serviço - RPS</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r2020_nfs_lista %}
        <tr>
            {% if show_fields.show_r2020_evtservprest or 1 %}
            <td>{{ a.r2020_evtservprest }}</td>
            {% endif %}
            {% if show_fields.show_serie or 1 %}
            <td>{{ a.serie }}</td>
            {% endif %}
            {% if show_fields.show_numdocto or 1 %}
            <td>{{ a.numdocto }}</td>
            {% endif %}
            {% if show_fields.show_dtemissaonf or 1 %}
            <td><span style="display:none">{{ a.dtemissaonf|date:"Y-m-d" }}</span>{{ a.dtemissaonf|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_vlrbruto or 1 %}
            <td>{{ a.vlrbruto }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if dict_permissoes|get_permissao:'r2020_nfs_visualizar' %}
                        <a href="{% url 'r2020_nfs_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if dict_permissoes|get_permissao:'r2020_nfs_editar' or dict_permissoes|get_permissao:'r2020_nfs_cadastrar' %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if dict_permissoes|get_permissao:'r2020_nfs_apagar' %}
                        <a href="{% url 'r2020_nfs_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
