{% load templatetags %}{% load static %}



<!-- inicio__r1000_alteracao_softhouse__r1000_alteracao -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r1000_alteracao').change(function(){
       document.getElementById("r1000_alteracao_softhouse__r1000_alteracao__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r1000_alteracao_softhouse__r1000_alteracao__div">
  <div class="form-group">
    <label id="r1000_alteracao_softhouse__r1000_alteracao__label">Informações da(s) empresa(s) desenvolvedora(s) da(s) aplicação(ões) que gera(m) os arquivos transmitidos para o ambiente nacional da EFD-Reinf.*<a data-toggle="tooltip" title="Informações da(s) empresa(s) desenvolvedora(s) da(s) aplicação(ões) que gera(m) os arquivos transmitidos para o ambiente nacional da EFD-Reinf."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if r1000_alteracao_softhouse_form.r1000_alteracao.value %}
        <a id="r1000_alteracao_softhouse__r1000_alteracao__div_acessar" href="{% url 'r1000_alteracao_salvar' pk=r1000_alteracao_softhouse_form.r1000_alteracao.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r1000_alteracao_softhouse_form.r1000_alteracao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r1000_alteracao_softhouse_form.r1000_alteracao.errors }}
      </div>
    {% endif %}
    {% if r1000_alteracao_softhouse_form.r1000_alteracao.field.widget.attrs.readonly %}
      {% if r1000_alteracao_softhouse_form.r1000_alteracao.field.widget.attrs.disabled %}
        {{ r1000_alteracao_softhouse_form.r1000_alteracao|addcss:'form-control' }}
        <input id="id_r1000_alteracao" name="r1000_alteracao" type="hidden" value="{% if r1000_alteracao_softhouse_form.r1000_alteracao.value or r1000_alteracao_softhouse_form.r1000_alteracao.value == 0 %}{{ r1000_alteracao_softhouse_form.r1000_alteracao.value|valor }}{% endif %}">
      {% else %}
        {{ r1000_alteracao_softhouse_form.r1000_alteracao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r1000_alteracao_softhouse_form.r1000_alteracao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r1000_alteracao_softhouse__r1000_alteracao -->
<!-- inicio__r1000_alteracao_softhouse__cnpjsofthouse -->
<div class="col-md-6" id="r1000_alteracao_softhouse__cnpjsofthouse__div">
  <div class="form-group">
    <label id="r1000_alteracao_softhouse__cnpjsofthouse__label">CNPJ da empresa desenvolvedora do software.*<a data-toggle="tooltip" title="CNPJ da empresa desenvolvedora do software."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r1000_alteracao_softhouse_form.cnpjsofthouse.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_alteracao_softhouse_form.cnpjsofthouse.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_alteracao_softhouse_form.cnpjsofthouse|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_alteracao_softhouse__cnpjsofthouse -->
<!-- inicio__r1000_alteracao_softhouse__nmrazao -->
<div class="col-md-6" id="r1000_alteracao_softhouse__nmrazao__div">
  <div class="form-group">
    <label id="r1000_alteracao_softhouse__nmrazao__label">Se pessoa jurídica ou órgão público, informar a Razão Social. Caso contrário, informar o nome do contribuinte.*<a data-toggle="tooltip" title="Se pessoa jurídica ou órgão público, informar a Razão Social. Caso contrário, informar o nome do contribuinte."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r1000_alteracao_softhouse_form.nmrazao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_alteracao_softhouse_form.nmrazao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_alteracao_softhouse_form.nmrazao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_alteracao_softhouse__nmrazao -->
<!-- inicio__r1000_alteracao_softhouse__nmcont -->
<div class="col-md-6" id="r1000_alteracao_softhouse__nmcont__div">
  <div class="form-group">
    <label id="r1000_alteracao_softhouse__nmcont__label">Nome do contato na empresa.*<a data-toggle="tooltip" title="Nome do contato na empresa."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r1000_alteracao_softhouse_form.nmcont.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_alteracao_softhouse_form.nmcont.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_alteracao_softhouse_form.nmcont|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_alteracao_softhouse__nmcont -->
<!-- inicio__r1000_alteracao_softhouse__telefone -->
<div class="col-md-6" id="r1000_alteracao_softhouse__telefone__div">
  <div class="form-group">
    <label id="r1000_alteracao_softhouse__telefone__label">Informar o número do telefone, com DDD<a data-toggle="tooltip" title="Informar o número do telefone, com DDD. <validacao> Se preenchido, deve conter apenas números com o mínimo de dez dígitos."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r1000_alteracao_softhouse_form.telefone.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_alteracao_softhouse_form.telefone.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_alteracao_softhouse_form.telefone|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_alteracao_softhouse__telefone -->
<!-- inicio__r1000_alteracao_softhouse__email -->
<div class="col-md-6" id="r1000_alteracao_softhouse__email__div">
  <div class="form-group">
    <label id="r1000_alteracao_softhouse__email__label">Endereço eletrônico<a data-toggle="tooltip" title="Endereço eletrônico. <validacao> O e-mail deve possuir o caractere "@" e este não pode estar no início e/ou no final do endereço informado. Deve possuir no mínimo um caractere "." depois do @ e não pode estar no final do endereço informado."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r1000_alteracao_softhouse_form.email.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_alteracao_softhouse_form.email.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_alteracao_softhouse_form.email|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_alteracao_softhouse__email -->