{% load templatetags %}{% load static %}



<!-- inicio__r1000_inclusao_softhouse__r1000_inclusao -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r1000_inclusao').change(function(){
       document.getElementById("r1000_inclusao_softhouse__r1000_inclusao__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r1000_inclusao_softhouse__r1000_inclusao__div">
  <div class="form-group">
    <label id="r1000_inclusao_softhouse__r1000_inclusao__label">Informações da(s) empresa(s) desenvolvedora(s) da(s) aplicação(ões) que gera(m) os arquivos transmitidos para o ambiente nacional da EFD-Reinf.*</label>
    {% if not for_print %}
      {% if r1000_inclusao_softhouse_form.r1000_inclusao.value %}
        <a id="r1000_inclusao_softhouse__r1000_inclusao__div_acessar" href="{% url 'r1000_inclusao_salvar' hash='{}'|json_id:r1000_inclusao_softhouse_form.r1000_inclusao.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r1000_inclusao_softhouse_form.r1000_inclusao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r1000_inclusao_softhouse_form.r1000_inclusao.errors }}
      </div>
    {% endif %}
    {% if r1000_inclusao_softhouse_form.r1000_inclusao.field.widget.attrs.readonly %}
      {% if r1000_inclusao_softhouse_form.r1000_inclusao.field.widget.attrs.disabled %}
        {{ r1000_inclusao_softhouse_form.r1000_inclusao|addcss:'form-control' }}
        <input id="id_r1000_inclusao" name="r1000_inclusao" type="hidden" value="{% if r1000_inclusao_softhouse_form.r1000_inclusao.value or r1000_inclusao_softhouse_form.r1000_inclusao.value == 0 %}{{ r1000_inclusao_softhouse_form.r1000_inclusao.value|valor }}{% endif %}">
      {% else %}
        {{ r1000_inclusao_softhouse_form.r1000_inclusao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r1000_inclusao_softhouse_form.r1000_inclusao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r1000_inclusao_softhouse__r1000_inclusao -->
<!-- inicio__r1000_inclusao_softhouse__cnpjsofthouse -->
<div class="col-md-6" id="r1000_inclusao_softhouse__cnpjsofthouse__div">
  <div class="form-group">
    <label id="r1000_inclusao_softhouse__cnpjsofthouse__label">CNPJ da empresa desenvolvedora do software.*</label>
      {% if r1000_inclusao_softhouse_form.cnpjsofthouse.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_inclusao_softhouse_form.cnpjsofthouse.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_inclusao_softhouse_form.cnpjsofthouse|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_inclusao_softhouse__cnpjsofthouse -->
<!-- inicio__r1000_inclusao_softhouse__nmrazao -->
<div class="col-md-6" id="r1000_inclusao_softhouse__nmrazao__div">
  <div class="form-group">
    <label id="r1000_inclusao_softhouse__nmrazao__label">Se pessoa jurídica ou órgão público, informar a Razão Social. Caso contrário, informar o nome do contribuinte.*</label>
      {% if r1000_inclusao_softhouse_form.nmrazao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_inclusao_softhouse_form.nmrazao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_inclusao_softhouse_form.nmrazao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_inclusao_softhouse__nmrazao -->
<!-- inicio__r1000_inclusao_softhouse__nmcont -->
<div class="col-md-6" id="r1000_inclusao_softhouse__nmcont__div">
  <div class="form-group">
    <label id="r1000_inclusao_softhouse__nmcont__label">Nome do contato na empresa.*</label>
      {% if r1000_inclusao_softhouse_form.nmcont.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_inclusao_softhouse_form.nmcont.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_inclusao_softhouse_form.nmcont|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_inclusao_softhouse__nmcont -->
<!-- inicio__r1000_inclusao_softhouse__telefone -->
<div class="col-md-6" id="r1000_inclusao_softhouse__telefone__div">
  <div class="form-group">
    <label id="r1000_inclusao_softhouse__telefone__label">Informar o número do telefone, com DDD</label>
      {% if r1000_inclusao_softhouse_form.telefone.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_inclusao_softhouse_form.telefone.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_inclusao_softhouse_form.telefone|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_inclusao_softhouse__telefone -->
<!-- inicio__r1000_inclusao_softhouse__email -->
<div class="col-md-6" id="r1000_inclusao_softhouse__email__div">
  <div class="form-group">
    <label id="r1000_inclusao_softhouse__email__label">Endereço eletrônico</label>
      {% if r1000_inclusao_softhouse_form.email.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1000_inclusao_softhouse_form.email.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1000_inclusao_softhouse_form.email|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1000_inclusao_softhouse__email -->