{% load templatetags %}{% load static %}



<!-- inicio__r2020_evtservprest__evtservprest -->
<div class="col-md-12" id="r2020_evtservprest__evtservprest__div">
  <h4>Evento Serviços Prestados - Cessão de Mão de Obra ou Empreitada</h4>
</div>
<!-- fim__r2020_evtservprest__evtservprest -->
<!-- inicio__r2020_evtservprest__identidade -->
<div class="col-md-6" id="r2020_evtservprest__identidade__div">
  <div class="form-group">
    <label id="r2020_evtservprest__identidade__label">Identificação única do evento<a data-toggle="tooltip" title="Identificação única do evento. <regras_validacao> REGRA_VALIDA_ID_EVENTO"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.identidade.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.identidade.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.identidade|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__identidade -->
<!-- inicio__r2020_evtservprest__ideevento -->
<div class="col-md-12" id="r2020_evtservprest__ideevento__div">
  <h4>Informações de Identificação do Evento</h4>
</div>
<!-- fim__r2020_evtservprest__ideevento -->
<!-- inicio__r2020_evtservprest__indretif -->
<div class="col-md-6" id="r2020_evtservprest__indretif__div">
  <div class="form-group">
    <label id="r2020_evtservprest__indretif__label">Informe [1] para arquivo original ou [2] para arquivo de retificação*<a data-toggle="tooltip" title="Identificador de Retificação<opcoes>1 - Arquivo original; 2 - Arquivo de Retificação. <valores_validos> 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.indretif.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2020_evtservprest_form.indretif.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2020_evtservprest_form.indretif.field.widget.attrs.readonly %}
        {% if r2020_evtservprest_form.indretif.field.widget.attrs.disabled %}
          {{ r2020_evtservprest_form.indretif|addcss:'form-control' }}
          <input id="id_indretif" name="indretif" type="hidden" value="{% if r2020_evtservprest_form.indretif.value or r2020_evtservprest_form.indretif.value == 0 %}{{ r2020_evtservprest_form.indretif.value|valor }}{% endif %}">
        {% else %}
          {{ r2020_evtservprest_form.indretif|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2020_evtservprest_form.indretif|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__indretif -->
<!-- inicio__r2020_evtservprest__nrrecibo -->
<div class="col-md-6" id="r2020_evtservprest__nrrecibo__div">
  <div class="form-group">
    <label id="r2020_evtservprest__nrrecibo__label">Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado. <validacao> O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo objeto da retificação."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.nrrecibo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.nrrecibo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.nrrecibo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__nrrecibo -->
<!-- inicio__r2020_evtservprest__perapur -->
<div class="col-md-6" id="r2020_evtservprest__perapur__div">
  <div class="form-group">
    <label id="r2020_evtservprest__perapur__label">Informar o ano/mês de referência das informações no formato AAAA-MM*<a data-toggle="tooltip" title="Informar o ano/mês de referência das informações no formato AAAA-MM. <validacao> Deve ser um ano/mês válido para o qual haja informações do contribuinte informadas através do evento R-1000. Não pode ser maior que o ano/mês corrente."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.perapur.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.perapur.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.perapur|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__perapur -->
<!-- inicio__r2020_evtservprest__tpamb -->
<div class="col-md-6" id="r2020_evtservprest__tpamb__div">
  <div class="form-group">
    <label id="r2020_evtservprest__tpamb__label">Identificação do ambiente*<a data-toggle="tooltip" title="Identificação do ambiente<opcoes>1 - Produção; 2 - Produção restrita. <valores_validos> 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.tpamb.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2020_evtservprest_form.tpamb.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2020_evtservprest_form.tpamb.field.widget.attrs.readonly %}
        {% if r2020_evtservprest_form.tpamb.field.widget.attrs.disabled %}
          {{ r2020_evtservprest_form.tpamb|addcss:'form-control' }}
          <input id="id_tpamb" name="tpamb" type="hidden" value="{% if r2020_evtservprest_form.tpamb.value or r2020_evtservprest_form.tpamb.value == 0 %}{{ r2020_evtservprest_form.tpamb.value|valor }}{% endif %}">
        {% else %}
          {{ r2020_evtservprest_form.tpamb|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2020_evtservprest_form.tpamb|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__tpamb -->
<!-- inicio__r2020_evtservprest__procemi -->
<div class="col-md-6" id="r2020_evtservprest__procemi__div">
  <div class="form-group">
    <label id="r2020_evtservprest__procemi__label">Processo de emissão do evento*<a data-toggle="tooltip" title="Processo de emissão do evento<opcoes>1 - Aplicativo do contribuinte; 2 - Aplicativo governamental. <valores_validos> 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.procemi.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2020_evtservprest_form.procemi.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2020_evtservprest_form.procemi.field.widget.attrs.readonly %}
        {% if r2020_evtservprest_form.procemi.field.widget.attrs.disabled %}
          {{ r2020_evtservprest_form.procemi|addcss:'form-control' }}
          <input id="id_procemi" name="procemi" type="hidden" value="{% if r2020_evtservprest_form.procemi.value or r2020_evtservprest_form.procemi.value == 0 %}{{ r2020_evtservprest_form.procemi.value|valor }}{% endif %}">
        {% else %}
          {{ r2020_evtservprest_form.procemi|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2020_evtservprest_form.procemi|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__procemi -->
<!-- inicio__r2020_evtservprest__verproc -->
<div class="col-md-6" id="r2020_evtservprest__verproc__div">
  <div class="form-group">
    <label id="r2020_evtservprest__verproc__label">Versão do processo de emissão do evento*<a data-toggle="tooltip" title="Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.verproc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.verproc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.verproc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__verproc -->
<!-- inicio__r2020_evtservprest__idecontri -->
<div class="col-md-12" id="r2020_evtservprest__idecontri__div">
  <h4>Informações de identificação do contribuinte</h4>
</div>
<!-- fim__r2020_evtservprest__idecontri -->
<!-- inicio__r2020_evtservprest__tpinsc -->
<div class="col-md-6" id="r2020_evtservprest__tpinsc__div">
  <div class="form-group">
    <label id="r2020_evtservprest__tpinsc__label">Preencher com o código correspondente ao tipo de inscrição*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição do contribuinte. <validacao> Deve ser igual a [1] (CNPJ)."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.tpinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.tpinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.tpinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__tpinsc -->
<!-- inicio__r2020_evtservprest__nrinsc -->
<div class="col-md-6" id="r2020_evtservprest__nrinsc__div">
  <div class="form-group">
    <label id="r2020_evtservprest__nrinsc__label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}*<a data-toggle="tooltip" title="Informar o CNPJ apenas com a Raiz/Base de oito posições, exceto se natureza jurídica do declarante for de administração pública direta federal ([101-5], [104-0], [107-4] e [116-3]), situação em que o campo deve ser preenchido com o CNPJ completo com 14 posições. <validacao> Deve ser um número de CNPJ válido."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__nrinsc -->
<!-- inicio__r2020_evtservprest__infoservprest -->
<div class="col-md-12" id="r2020_evtservprest__infoservprest__div">
  <h4>Informação dos Serviços Prestados (Cessão de Mão de Obra ou Empreitada)</h4>
</div>
<!-- fim__r2020_evtservprest__infoservprest -->
<!-- inicio__r2020_evtservprest__ideestabprest -->
<div class="col-md-12" id="r2020_evtservprest__ideestabprest__div">
  <h4>Registro que identifica o estabelecimento 'prestador' de serviços mediante cessão de mão de obra.</h4>
</div>
<!-- fim__r2020_evtservprest__ideestabprest -->
<!-- inicio__r2020_evtservprest__tpinscestabprest -->
<div class="col-md-6" id="r2020_evtservprest__tpinscestabprest__div">
  <div class="form-group">
    <label id="r2020_evtservprest__tpinscestabprest__label">Preencher com o código correspondente ao tipo de inscrição*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição. <validacao> Deve ser igual a [1] (CNPJ)."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.tpinscestabprest.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.tpinscestabprest.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.tpinscestabprest|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__tpinscestabprest -->
<!-- inicio__r2020_evtservprest__nrinscestabprest -->
<div class="col-md-6" id="r2020_evtservprest__nrinscestabprest__div">
  <div class="form-group">
    <label id="r2020_evtservprest__nrinscestabprest__label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInscEstabPrest}*<a data-toggle="tooltip" title="Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInscEstabPrest}. <validacao> A inscrição informada deve ser compatível com o {tpInscEstabPrest}."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.nrinscestabprest.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.nrinscestabprest.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.nrinscestabprest|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__nrinscestabprest -->
<!-- inicio__r2020_evtservprest__idetomador -->
<div class="col-md-12" id="r2020_evtservprest__idetomador__div">
  <h4>Identificação dos tomadores dos serviços</h4>
</div>
<!-- fim__r2020_evtservprest__idetomador -->
<!-- inicio__r2020_evtservprest__tpinsctomador -->
<div class="col-md-6" id="r2020_evtservprest__tpinsctomador__div">
  <div class="form-group">
    <label id="r2020_evtservprest__tpinsctomador__label">Preencher com o código correspondente ao tipo de inscrição*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição. <validacao> Deve ser igual a [1] (CNPJ) ou [4] CNO. <valores_validos> 1,4."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.tpinsctomador.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.tpinsctomador.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.tpinsctomador|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__tpinsctomador -->
<!-- inicio__r2020_evtservprest__nrinsctomador -->
<div class="col-md-6" id="r2020_evtservprest__nrinsctomador__div">
  <div class="form-group">
    <label id="r2020_evtservprest__nrinsctomador__label">Indicar o número de inscrição do tomador, conforme indicado no campo {tpInscTomador}*<a data-toggle="tooltip" title="Indicar o número de inscrição do tomador, conforme indicado no campo {tpInscTomador}. <validacao> A inscrição informada deve ser compatível com o {tpInscTomador}. Se {indObra} = [0], o número informado deve ser um CNPJ válido e não pertencer ao contribuinte declarante na base cadastral da RFB. Se {indObra} for igual a 1 (Empreitada Total), o {nrInscTomador} informado deve ser um CNO de propriedade do estabelecimento prestador {ideEstabPrest} na base da RFB. Se {indObra} for igual a 2 (Empreitada Parcial), o {nrInscTomador} informado deve ser um CNO e não pertencer ao contribuinte declarante na base cadastral da RFB."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2020_evtservprest_form.nrinsctomador.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2020_evtservprest_form.nrinsctomador.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2020_evtservprest_form.nrinsctomador|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__nrinsctomador -->
<!-- inicio__r2020_evtservprest__indobra -->
<div class="col-md-6" id="r2020_evtservprest__indobra__div">
  <div class="form-group">
    <label id="r2020_evtservprest__indobra__label">Indicativo de Prestação de Serviços em Obra de Construção Civil*<a data-toggle="tooltip" title="Indicativo de Prestação de Serviços em Obra de Construção Civil<opcoes>0 - Não é obra de construção civil ou não está sujeita a matrícula de obra; 1 - Obra de Construção Civil - Empreitada Total; 2 - Obra de Construção Civil - Empreitada Parcial. <valores_validos> 0, 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.indobra.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2020_evtservprest_form.indobra.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2020_evtservprest_form.indobra.field.widget.attrs.readonly %}
        {% if r2020_evtservprest_form.indobra.field.widget.attrs.disabled %}
          {{ r2020_evtservprest_form.indobra|addcss:'form-control' }}
          <input id="id_indobra" name="indobra" type="hidden" value="{% if r2020_evtservprest_form.indobra.value or r2020_evtservprest_form.indobra.value == 0 %}{{ r2020_evtservprest_form.indobra.value|valor }}{% endif %}">
        {% else %}
          {{ r2020_evtservprest_form.indobra|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2020_evtservprest_form.indobra|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__indobra -->
<!-- inicio__r2020_evtservprest__vlrtotalbruto -->
<div class="col-md-6" id="r2020_evtservprest__vlrtotalbruto__div">
  <div class="form-group">
    <label id="r2020_evtservprest__vlrtotalbruto__label">Preencher com o valor bruto da(s) nota(s) fiscal(is) *<a data-toggle="tooltip" title="Preencher com o valor bruto da(s) nota(s) fiscal(is). <validacao> Deve corresponder a soma do campo {vlrBruto} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.vlrtotalbruto.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2020_evtservprest_form.vlrtotalbruto.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2020_evtservprest_form.vlrtotalbruto|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__vlrtotalbruto -->
<!-- inicio__r2020_evtservprest__vlrtotalbaseret -->
<div class="col-md-6" id="r2020_evtservprest__vlrtotalbaseret__div">
  <div class="form-group">
    <label id="r2020_evtservprest__vlrtotalbaseret__label">Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante*<a data-toggle="tooltip" title="Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante. <validacao> Deve corresponder a soma do campo {vlrBaseRet} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.vlrtotalbaseret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2020_evtservprest_form.vlrtotalbaseret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2020_evtservprest_form.vlrtotalbaseret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__vlrtotalbaseret -->
<!-- inicio__r2020_evtservprest__vlrtotalretprinc -->
<div class="col-md-6" id="r2020_evtservprest__vlrtotalretprinc__div">
  <div class="form-group">
    <label id="r2020_evtservprest__vlrtotalretprinc__label">Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante*<a data-toggle="tooltip" title="Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante. <validacao> Deve corresponder a soma do campo {vlrRetencao} - a soma do campo {vlrRetSub} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.vlrtotalretprinc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2020_evtservprest_form.vlrtotalretprinc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2020_evtservprest_form.vlrtotalretprinc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__vlrtotalretprinc -->
<!-- inicio__r2020_evtservprest__vlrtotalretadic -->
<div class="col-md-6" id="r2020_evtservprest__vlrtotalretadic__div">
  <div class="form-group">
    <label id="r2020_evtservprest__vlrtotalretadic__label">Soma do valor do adicional de retenção das notas fiscais<a data-toggle="tooltip" title="Soma do valor do adicional de retenção das notas fiscais. <validacao> Deve corresponder a soma do campo {vlrAdicional} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.vlrtotalretadic.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2020_evtservprest_form.vlrtotalretadic.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2020_evtservprest_form.vlrtotalretadic|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__vlrtotalretadic -->
<!-- inicio__r2020_evtservprest__vlrtotalnretprinc -->
<div class="col-md-6" id="r2020_evtservprest__vlrtotalnretprinc__div">
  <div class="form-group">
    <label id="r2020_evtservprest__vlrtotalnretprinc__label">Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial. <validacao> Deve corresponder a soma do campo {vlrNRetPrinc} dos registros vinculados. Não pode ser maior que {vlrTotalRetPrinc}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.vlrtotalnretprinc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2020_evtservprest_form.vlrtotalnretprinc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2020_evtservprest_form.vlrtotalnretprinc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__vlrtotalnretprinc -->
<!-- inicio__r2020_evtservprest__vlrtotalnretadic -->
<div class="col-md-6" id="r2020_evtservprest__vlrtotalnretadic__div">
  <div class="form-group">
    <label id="r2020_evtservprest__vlrtotalnretadic__label">Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial. <validacao> Deve corresponder a soma do campo {vlrNRetAdic} dos registros vinculados. Não pode ser maior que {vlrTotalRetAdic}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.vlrtotalnretadic.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2020_evtservprest_form.vlrtotalnretadic.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2020_evtservprest_form.vlrtotalnretadic|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__vlrtotalnretadic -->
<!-- inicio__r2020_evtservprest__versao -->
<div class="col-md-3" id="r2020_evtservprest__versao__div">
  <div class="form-group">
    <label id="r2020_evtservprest__versao__label">Versão<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.versao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2020_evtservprest_form.versao.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2020_evtservprest_form.versao.field.widget.attrs.readonly %}
        {% if r2020_evtservprest_form.versao.field.widget.attrs.disabled %}
          {{ r2020_evtservprest_form.versao|addcss:'form-control' }}
          <input id="id_versao" name="versao" type="hidden" value="{% if r2020_evtservprest_form.versao.value or r2020_evtservprest_form.versao.value == 0 %}{{ r2020_evtservprest_form.versao.value }}{% endif %}">
        {% else %}
          {{ r2020_evtservprest_form.versao|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2020_evtservprest_form.versao|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__versao -->
<!-- inicio__r2020_evtservprest__transmissor_lote_efdreinf -->

<script type="text/javascript">
    $(document).ready(function(){
        $('#id_transmissor_lote_efdreinf').change(function(){
            document.getElementById("r2020_evtservprest__transmissor_lote_efdreinf__div_acessar").style.display = 'none';
        });
    });
</script>

<div class="col-md-3" id="r2020_evtservprest__transmissor_lote_efdreinf__div">
<div class="form-group">
  <label id="r2020_evtservprest__transmissor_lote_efdreinf__label">Transmissor<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
  
  {% if not output %}
    {% if r2020_evtservprest_form.transmissor_lote_efdreinf.value %}
    <a id="r2020_evtservprest__transmissor_lote_efdreinf__div_acessar" href="{% url 'transmissor_lote_efdreinf_salvar' pk=r2020_evtservprest_form.transmissor_lote_efdreinf.value tab='master' %}">
     [Acessar]
    </a>
    {% endif %} 
  {% endif %}
  
  {% if r2020_evtservprest_form.transmissor_lote_efdreinf.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2020_evtservprest_form.transmissor_lote_efdreinf.errors }}
    </div>
  {% endif %}
  {% if r2020_evtservprest_form.transmissor_lote_efdreinf.field.widget.attrs.readonly %}
    {% if r2020_evtservprest_form.transmissor_lote_efdreinf.field.widget.attrs.disabled %}
      {{ r2020_evtservprest_form.transmissor_lote_efdreinf|addcss:'form-control' }}
      <input id="id_transmissor_lote_efdreinf" name="transmissor_lote_efdreinf" type="hidden" value="{% if r2020_evtservprest_form.transmissor_lote_efdreinf.value or r2020_evtservprest_form.transmissor_lote_efdreinf.value == 0 %}{{ r2020_evtservprest_form.transmissor_lote_efdreinf.value|valor }}
    {% endif %}">
   {% else %}
     {{ r2020_evtservprest_form.transmissor_lote_efdreinf|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ r2020_evtservprest_form.transmissor_lote_efdreinf|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__r2020_evtservprest__transmissor_lote_efdreinf -->
<!-- inicio__r2020_evtservprest__status -->
<div class="col-md-3" id="r2020_evtservprest__status__div">
  <div class="form-group">
    <label id="r2020_evtservprest__status__label">Status<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2020_evtservprest_form.status.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2020_evtservprest_form.status.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2020_evtservprest_form.status.field.widget.attrs.readonly %}
        {% if r2020_evtservprest_form.status.field.widget.attrs.disabled %}
          {{ r2020_evtservprest_form.status|addcss:'form-control' }}
          <input id="id_status" name="status" type="hidden" value="{% if r2020_evtservprest_form.status.value or r2020_evtservprest_form.status.value == 0 %}{{ r2020_evtservprest_form.status.value|valor }}{% endif %}">
        {% else %}
          {{ r2020_evtservprest_form.status|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2020_evtservprest_form.status|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2020_evtservprest__status -->