{% load templatetags %}{% load static %}



<!-- inicio__r4020_evtretpj__evtretpj -->
<div class="col-md-12" id="r4020_evtretpj__evtretpj__div">
  <h4>Evento Retenções na Fonte - IR, CSLL, Cofins e PIS/PASEP</h4>
</div>
<!-- fim__r4020_evtretpj__evtretpj -->
<!-- inicio__r4020_evtretpj__identidade -->
<div class="col-md-6" id="r4020_evtretpj__identidade__div">
  <div class="form-group">
    <label id="r4020_evtretpj__identidade__label">Identificação única do evento</label>
      {% if r4020_evtretpj_form.identidade.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.identidade.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.identidade|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__identidade -->
<!-- inicio__r4020_evtretpj__ideevento -->
<div class="col-md-12" id="r4020_evtretpj__ideevento__div">
  <h4>Informações de Identificação do Evento</h4>
</div>
<!-- fim__r4020_evtretpj__ideevento -->
<!-- inicio__r4020_evtretpj__indretif -->
<div class="col-md-6" id="r4020_evtretpj__indretif__div">
  <div class="form-group">
    <label id="r4020_evtretpj__indretif__label">Informe [1] para arquivo original ou [2] para arquivo de retificação*</label>
    {% if r4020_evtretpj_form.indretif.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4020_evtretpj_form.indretif.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4020_evtretpj_form.indretif.field.widget.attrs.readonly %}
        {% if r4020_evtretpj_form.indretif.field.widget.attrs.disabled %}
          {{ r4020_evtretpj_form.indretif|addcss:'form-control' }}
          <input id="id_indretif" name="indretif" type="hidden" value="{% if r4020_evtretpj_form.indretif.value or r4020_evtretpj_form.indretif.value == 0 %}{{ r4020_evtretpj_form.indretif.value|valor }}{% endif %}">
        {% else %}
          {{ r4020_evtretpj_form.indretif|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4020_evtretpj_form.indretif|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__indretif -->
<!-- inicio__r4020_evtretpj__nrrecibo -->
<div class="col-md-6" id="r4020_evtretpj__nrrecibo__div">
  <div class="form-group">
    <label id="r4020_evtretpj__nrrecibo__label">Preencher com o número do recibo do arquivo a ser retificado</label>
      {% if r4020_evtretpj_form.nrrecibo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.nrrecibo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.nrrecibo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__nrrecibo -->
<!-- inicio__r4020_evtretpj__perapur -->
<div class="col-md-6" id="r4020_evtretpj__perapur__div">
  <div class="form-group">
    <label id="r4020_evtretpj__perapur__label">Informar o ano/mês de referência das informações no formato AAAA-MM*</label>
      {% if r4020_evtretpj_form.perapur.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.perapur.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.perapur|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__perapur -->
<!-- inicio__r4020_evtretpj__tpamb -->
<div class="col-md-6" id="r4020_evtretpj__tpamb__div">
  <div class="form-group">
    <label id="r4020_evtretpj__tpamb__label">Identificação do ambiente*</label>
    {% if r4020_evtretpj_form.tpamb.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4020_evtretpj_form.tpamb.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4020_evtretpj_form.tpamb.field.widget.attrs.readonly %}
        {% if r4020_evtretpj_form.tpamb.field.widget.attrs.disabled %}
          {{ r4020_evtretpj_form.tpamb|addcss:'form-control' }}
          <input id="id_tpamb" name="tpamb" type="hidden" value="{% if r4020_evtretpj_form.tpamb.value or r4020_evtretpj_form.tpamb.value == 0 %}{{ r4020_evtretpj_form.tpamb.value|valor }}{% endif %}">
        {% else %}
          {{ r4020_evtretpj_form.tpamb|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4020_evtretpj_form.tpamb|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__tpamb -->
<!-- inicio__r4020_evtretpj__procemi -->
<div class="col-md-6" id="r4020_evtretpj__procemi__div">
  <div class="form-group">
    <label id="r4020_evtretpj__procemi__label">Processo de emissão do evento*</label>
    {% if r4020_evtretpj_form.procemi.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4020_evtretpj_form.procemi.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4020_evtretpj_form.procemi.field.widget.attrs.readonly %}
        {% if r4020_evtretpj_form.procemi.field.widget.attrs.disabled %}
          {{ r4020_evtretpj_form.procemi|addcss:'form-control' }}
          <input id="id_procemi" name="procemi" type="hidden" value="{% if r4020_evtretpj_form.procemi.value or r4020_evtretpj_form.procemi.value == 0 %}{{ r4020_evtretpj_form.procemi.value|valor }}{% endif %}">
        {% else %}
          {{ r4020_evtretpj_form.procemi|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4020_evtretpj_form.procemi|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__procemi -->
<!-- inicio__r4020_evtretpj__verproc -->
<div class="col-md-6" id="r4020_evtretpj__verproc__div">
  <div class="form-group">
    <label id="r4020_evtretpj__verproc__label">Versão do processo de emissão do evento*</label>
      {% if r4020_evtretpj_form.verproc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.verproc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.verproc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__verproc -->
<!-- inicio__r4020_evtretpj__idecontri -->
<div class="col-md-12" id="r4020_evtretpj__idecontri__div">
  <h4>Informações de identificação do contribuinte</h4>
</div>
<!-- fim__r4020_evtretpj__idecontri -->
<!-- inicio__r4020_evtretpj__tpinsc -->
<div class="col-md-6" id="r4020_evtretpj__tpinsc__div">
  <div class="form-group">
    <label id="r4020_evtretpj__tpinsc__label">Preencher com o código correspondente ao tipo de inscrição*</label>
      {% if r4020_evtretpj_form.tpinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.tpinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.tpinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__tpinsc -->
<!-- inicio__r4020_evtretpj__nrinsc -->
<div class="col-md-6" id="r4020_evtretpj__nrinsc__div">
  <div class="form-group">
    <label id="r4020_evtretpj__nrinsc__label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}*</label>
      {% if r4020_evtretpj_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__nrinsc -->
<!-- inicio__r4020_evtretpj__ideestab -->
<div class="col-md-12" id="r4020_evtretpj__ideestab__div">
  <h4>Identificação dos estabelecimentos da associação desportiva que receberam os recursos</h4>
</div>
<!-- fim__r4020_evtretpj__ideestab -->
<!-- inicio__r4020_evtretpj__tpinscestab -->
<div class="col-md-6" id="r4020_evtretpj__tpinscestab__div">
  <div class="form-group">
    <label id="r4020_evtretpj__tpinscestab__label">Preencher com o código correspondente ao tipo de inscrição*</label>
      {% if r4020_evtretpj_form.tpinscestab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.tpinscestab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.tpinscestab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__tpinscestab -->
<!-- inicio__r4020_evtretpj__nrinscestab -->
<div class="col-md-6" id="r4020_evtretpj__nrinscestab__div">
  <div class="form-group">
    <label id="r4020_evtretpj__nrinscestab__label">Informar o número de inscrição do estabelecimento de acordo com o tipo de inscrição indicado no campo {tpInscEstab}.*</label>
      {% if r4020_evtretpj_form.nrinscestab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.nrinscestab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.nrinscestab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__nrinscestab -->
<!-- inicio__r4020_evtretpj__idebenef -->
<div class="col-md-12" id="r4020_evtretpj__idebenef__div">
  <h4>Identificação do Beneficiário e do Rendimento</h4>
</div>
<!-- fim__r4020_evtretpj__idebenef -->
<!-- inicio__r4020_evtretpj__cnpjbenef -->
<div class="col-md-6" id="r4020_evtretpj__cnpjbenef__div">
  <div class="form-group">
    <label id="r4020_evtretpj__cnpjbenef__label">Informar o CNPJ do beneficiário do crédito ou pagamento</label>
      {% if r4020_evtretpj_form.cnpjbenef.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.cnpjbenef.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.cnpjbenef|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__cnpjbenef -->
<!-- inicio__r4020_evtretpj__nmbenef -->
<div class="col-md-6" id="r4020_evtretpj__nmbenef__div">
  <div class="form-group">
    <label id="r4020_evtretpj__nmbenef__label">Nome do beneficiário</label>
      {% if r4020_evtretpj_form.nmbenef.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_evtretpj_form.nmbenef.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_evtretpj_form.nmbenef|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__nmbenef -->
<!-- inicio__r4020_evtretpj__isenimun -->
<div class="col-md-6" id="r4020_evtretpj__isenimun__div">
  <div class="form-group">
    <label id="r4020_evtretpj__isenimun__label">Informações sobre isenção e imunidade*</label>
    {% if r4020_evtretpj_form.isenimun.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4020_evtretpj_form.isenimun.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4020_evtretpj_form.isenimun.field.widget.attrs.readonly %}
        {% if r4020_evtretpj_form.isenimun.field.widget.attrs.disabled %}
          {{ r4020_evtretpj_form.isenimun|addcss:'form-control' }}
          <input id="id_isenimun" name="isenimun" type="hidden" value="{% if r4020_evtretpj_form.isenimun.value or r4020_evtretpj_form.isenimun.value == 0 %}{{ r4020_evtretpj_form.isenimun.value|valor }}{% endif %}">
        {% else %}
          {{ r4020_evtretpj_form.isenimun|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4020_evtretpj_form.isenimun|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__isenimun -->
<!-- inicio__r4020_evtretpj__versao -->
<div class="col-md-3" id="r4020_evtretpj__versao__div">
  <div class="form-group">
    <label id="r4020_evtretpj__versao__label">Versão</label>
    {% if r4020_evtretpj_form.versao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4020_evtretpj_form.versao.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4020_evtretpj_form.versao.field.widget.attrs.readonly %}
        {% if r4020_evtretpj_form.versao.field.widget.attrs.disabled %}
          {{ r4020_evtretpj_form.versao|addcss:'form-control' }}
          <input id="id_versao" name="versao" type="hidden" value="{% if r4020_evtretpj_form.versao.value or r4020_evtretpj_form.versao.value == 0 %}{{ r4020_evtretpj_form.versao.value }}{% endif %}">
        {% else %}
          {{ r4020_evtretpj_form.versao|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4020_evtretpj_form.versao|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__versao -->
<!-- inicio__r4020_evtretpj__transmissor_lote_efdreinf -->

{% if r4020_evtretpj_form.transmissor_lote_efdreinf.value %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_transmissor_lote_efdreinf').change(function(){
            document.getElementById("r4020_evtretpj__transmissor_lote_efdreinf__div_acessar").style.display = 'none';
        });
    });
</script>
{% endif %}

<div class="col-md-3" id="r4020_evtretpj__transmissor_lote_efdreinf__div">
<div class="form-group">
  <label id="r4020_evtretpj__transmissor_lote_efdreinf__label">Transmissor</label>
  
  {% if not output %}
    {% if r4020_evtretpj_form.transmissor_lote_efdreinf.value %}
    <a id="r4020_evtretpj__transmissor_lote_efdreinf__div_acessar" href="{% url 'transmissor_lote_efdreinf_salvar' pk=r4020_evtretpj_form.transmissor_lote_efdreinf.value tab='master' %}">
     [Acessar]
    </a>
    {% endif %} 
  {% endif %}
  
  {% if r4020_evtretpj_form.transmissor_lote_efdreinf.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4020_evtretpj_form.transmissor_lote_efdreinf.errors }}
    </div>
  {% endif %}
  {% if r4020_evtretpj_form.transmissor_lote_efdreinf.field.widget.attrs.readonly %}
    {% if r4020_evtretpj_form.transmissor_lote_efdreinf.field.widget.attrs.disabled %}
      {{ r4020_evtretpj_form.transmissor_lote_efdreinf|addcss:'form-control' }}
      <input id="id_transmissor_lote_efdreinf" name="transmissor_lote_efdreinf" type="hidden" value="{% if r4020_evtretpj_form.transmissor_lote_efdreinf.value or r4020_evtretpj_form.transmissor_lote_efdreinf.value == 0 %}{{ r4020_evtretpj_form.transmissor_lote_efdreinf.value|valor }}
    {% endif %}">
   {% else %}
     {{ r4020_evtretpj_form.transmissor_lote_efdreinf|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ r4020_evtretpj_form.transmissor_lote_efdreinf|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__r4020_evtretpj__transmissor_lote_efdreinf -->
<!-- inicio__r4020_evtretpj__status -->
<div class="col-md-3" id="r4020_evtretpj__status__div">
  <div class="form-group">
    <label id="r4020_evtretpj__status__label">Status</label>
    {% if r4020_evtretpj_form.status.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4020_evtretpj_form.status.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4020_evtretpj_form.status.field.widget.attrs.readonly %}
        {% if r4020_evtretpj_form.status.field.widget.attrs.disabled %}
          {{ r4020_evtretpj_form.status|addcss:'form-control' }}
          <input id="id_status" name="status" type="hidden" value="{% if r4020_evtretpj_form.status.value or r4020_evtretpj_form.status.value == 0 %}{{ r4020_evtretpj_form.status.value|valor }}{% endif %}">
        {% else %}
          {{ r4020_evtretpj_form.status|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4020_evtretpj_form.status|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4020_evtretpj__status -->