{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s1200_dmdev or 1 %}
            <th>Registro preenchido exclusivamente quando o evento de remuneração se referir a trabalhador cuja categoria não estiver obrigada ao evento de início de TSVE e se não houver evento S-2300 correspondente (CPF + categoria).</th>
            {% endif %}
            {% if show_fields.show_codcbo or 1 %}
            <th>CBO</th>
            {% endif %}
            {% if show_fields.show_natatividade or 0 %}
            <th>Natureza da atividade</th>
            {% endif %}
            {% if show_fields.show_qtddiastrab or 0 %}
            <th>Quant. de dias trabalhados</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s1200_infoperant_infocomplcont_lista %}
        <tr>
            {% if show_fields.show_s1200_dmdev %}
            <td>{{ a.s1200_dmdev }}</td>
            {% endif %}
            {% if show_fields.show_codcbo %}
            <td>{{ a.codcbo }}</td>
            {% endif %}
            {% if show_fields.show_natatividade %}
            <td>{{ a.get_natatividade_display }}</td>
            {% endif %}
            {% if show_fields.show_qtddiastrab %}
            <td>{{ a.qtddiastrab }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s1200.change_s1200infoPerAntinfoComplCont or perms.s1200.add_s1200infoPerAntinfoComplCont %}

                        <a href="{% url 's1200_infoperant_infocomplcont_salvar' pk=a.id %}">
                            {% if perms.s1200.change_s1200infoPerAntinfoComplCont %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s1200.can_see_data_s1200infoPerAntinfoComplCont %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s1200.delete_s1200infoPerAntinfoComplCont %}
                        <a href="{% url 's1200_infoperant_infocomplcont_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
