<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s1030_inclusao__s1030_evttabcargo -->
<div class="col-md-12" id="s1030_inclusao__s1030_evttabcargo__div">
  <div class="form-group">
    <label id="s1030_inclusao__s1030_evttabcargo__label">Inclusão de novas informações*<a data-toggle="tooltip" title="Inclusão de novas informações."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s1030_inclusao_form.s1030_evttabcargo.value %}
        <a href="{% url 's1030_evttabcargo_salvar' pk=s1030_inclusao_form.s1030_evttabcargo.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s1030_inclusao_form.s1030_evttabcargo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1030_inclusao_form.s1030_evttabcargo.errors }}
      </div>
    {% endif %}
    {% if s1030_inclusao_form.s1030_evttabcargo.field.widget.attrs.readonly %}
      {% if s1030_inclusao_form.s1030_evttabcargo.field.widget.attrs.disabled %}
        {{ s1030_inclusao_form.s1030_evttabcargo|addcss:'form-control' }}
        <input id="id_s1030_evttabcargo" name="s1030_evttabcargo" type="hidden" value="{{ s1030_inclusao_form.s1030_evttabcargo.value }}">
      {% else %}
        {{ s1030_inclusao_form.s1030_evttabcargo|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1030_inclusao_form.s1030_evttabcargo|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1030_inclusao__s1030_evttabcargo -->
<!-- inicio__s1030_inclusao__idecargo -->
<div class="col-md-12" id="s1030_inclusao__idecargo__div">
  <h4>Informações de identificação do cargo e validade das informações que estão sendo incluídas</h4>
</div>
<!-- fim__s1030_inclusao__idecargo -->
<!-- inicio__s1030_inclusao__codcargo -->
<div class="col-md-6" id="s1030_inclusao__codcargo__div">
  <div class="form-group">
    <label id="s1030_inclusao__codcargo__label">Código do Cargo*<a data-toggle="tooltip" title="Preencher com o código do cargo. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 (sete) primeiras posições. Regra de validação: REGRA_CARACTER_ESPECIAL"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1030_inclusao_form.codcargo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1030_inclusao_form.codcargo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1030_inclusao_form.codcargo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1030_inclusao__codcargo -->
<!-- inicio__s1030_inclusao__inivalid -->
<div class="col-md-6" id="s1030_inclusao__inivalid__div">
  <div class="form-group">
    <label id="s1030_inclusao__inivalid__label">Início da Validade*<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1030_inclusao_form.inivalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1030_inclusao_form.inivalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1030_inclusao_form.inivalid.field.widget.attrs.readonly %}
        {% if s1030_inclusao_form.inivalid.field.widget.attrs.disabled %}
          {{ s1030_inclusao_form.inivalid|addcss:'form-control' }}
          <input id="id_inivalid" name="inivalid" type="hidden" value="{% if s1030_inclusao_form.inivalid.value or s1030_inclusao_form.inivalid.value == 0 %}{{ s1030_inclusao_form.inivalid.value }}{% endif %}">
        {% else %}
          {{ s1030_inclusao_form.inivalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1030_inclusao_form.inivalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1030_inclusao__inivalid -->
<!-- inicio__s1030_inclusao__fimvalid -->
<div class="col-md-6" id="s1030_inclusao__fimvalid__div">
  <div class="form-group">
    <label id="s1030_inclusao__fimvalid__label">Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1030_inclusao_form.fimvalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1030_inclusao_form.fimvalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1030_inclusao_form.fimvalid.field.widget.attrs.readonly %}
        {% if s1030_inclusao_form.fimvalid.field.widget.attrs.disabled %}
          {{ s1030_inclusao_form.fimvalid|addcss:'form-control' }}
          <input id="id_fimvalid" name="fimvalid" type="hidden" value="{% if s1030_inclusao_form.fimvalid.value or s1030_inclusao_form.fimvalid.value == 0 %}{{ s1030_inclusao_form.fimvalid.value }}{% endif %}">
        {% else %}
          {{ s1030_inclusao_form.fimvalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1030_inclusao_form.fimvalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1030_inclusao__fimvalid -->
<!-- inicio__s1030_inclusao__dadoscargo -->
<div class="col-md-12" id="s1030_inclusao__dadoscargo__div">
  <h4>Detalhamento das informações do cargo que está sendo incluído</h4>
</div>
<!-- fim__s1030_inclusao__dadoscargo -->
<!-- inicio__s1030_inclusao__nmcargo -->
<div class="col-md-6" id="s1030_inclusao__nmcargo__div">
  <div class="form-group">
    <label id="s1030_inclusao__nmcargo__label">Nome*<a data-toggle="tooltip" title="Preencher com o nome do cargo."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1030_inclusao_form.nmcargo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1030_inclusao_form.nmcargo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1030_inclusao_form.nmcargo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1030_inclusao__nmcargo -->
<!-- inicio__s1030_inclusao__codcbo -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s1030_inclusao__codcbo__div">
    <div class="form-group">
      <label id="s1030_inclusao__codcbo__label">CBO*<a data-toggle="tooltip" title="Classificação Brasileira de Ocupação - CBO. Validação: Deve ser um código existente na tabela de CBO, com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s1030_inclusao_form.codcbo.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1030_inclusao_form.codcbo.errors }}
          </div>
        {% endif %}
        <input type="text"
               id="txt_codcbo"
               name="txt_codcbo" class="form-control"
               value="{% if s1030_inclusao.codcbo %}{{ s1030_inclusao.codcbo|get_opcoes_titulo:133 }}{% endif %}"
               {% if s1030_inclusao_form.codcbo.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s1030_inclusao_form.codcbo.field.widget.attrs.required %} required="required"{% endif %}
               {% if s1030_inclusao_form.codcbo.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden"
               id="id_codcbo"
               name="codcbo"
               value="{% if s1030_inclusao.codcbo %}{{ s1030_inclusao_form.codcbo.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codcbo').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/133/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codcbo').val(ui.item.value);
        return false;
      }});
    {% if s1030_inclusao_form.codcbo.field.widget.attrs.required %}
    $("#id_form_s1030_inclusao").submit(function(e) {
      $('#txt_codcbo').disabled = true;
        if ($('#id_codcbo').val() == "") {
          $('#txt_codcbo').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo CBO!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s1030_inclusao__codcbo__div">
    <div class="form-group">
      <label id="s1030_inclusao__codcbo__label">CBO*<a data-toggle="tooltip" title="Classificação Brasileira de Ocupação - CBO. Validação: Deve ser um código existente na tabela de CBO, com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
        <input type="text" id="txt_codcbo" name="txt_codcbo" class="form-control" value="{% if s1030_inclusao.codcbo %}{{ s1030_inclusao.codcbo }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1030_inclusao__codcbo -->