{% load templatetags %}"{{ conta.nome_empresa }}"
"Informações sobre a contratação de pessoa com deficiência (PCD). Essa informação deve ser prestada apenas no estabelecimento 'Matriz'."
{% if show_fields.show_s1005_inclusao or not s1005_inclusao_id and 1 %}"Inclusão de novas informações";{% endif %}{% if show_fields.show_contpcd or 1 %}"Situação PCD";{% endif %}{% if show_fields.show_nrprocjud or 0 %}"Número do Processo Judicial";{% endif %}
{% for a in s1005_inclusao_infopcd_lista %}{% if show_fields.show_s1005_inclusao or  not s1005_inclusao_id and 1 %}"{{ a.s1005_inclusao }}";{% endif %}{% if show_fields.show_contpcd or 1 %}"{{ a.get_contpcd_display }}";{% endif %}{% if show_fields.show_nrprocjud or 0 %}"{{ a.nrprocjud }}";{% endif %}
{% endfor %}