{% load templatetags %}"{{ conta.nome_empresa }}"
"Identificação da(s) entidade(s) educativa(s) ou de prática desportiva"
{% if show_fields.show_s1005_alteracao or not s1005_alteracao_id and 1 %}"Alteração das informações";{% endif %}{% if show_fields.show_nrinsc or 1 %}"Número de inscrição (CPF/CNPJ)";{% endif %}
{% for a in s1005_alteracao_infoenteduc_lista %}{% if show_fields.show_s1005_alteracao or  not s1005_alteracao_id and 1 %}"{{ a.s1005_alteracao }}";{% endif %}{% if show_fields.show_nrinsc or 1 %}"{{ a.nrinsc }}";{% endif %}
{% endfor %}