{% load templatetags %}{% load static %}



<!-- inicio__s2205_rne__s2205_documentos -->
<div class="col-md-12" id="s2205_rne__s2205_documentos__div">
  <div class="form-group">
    <label id="s2205_rne__s2205_documentos__label">Informações do Registro Nacional de Estrangeiro*</label>
    {% if not for_print %}{% if s2205_rne_form.s2205_documentos.value %}
        <a href="{% url 's2205_documentos_salvar' hash='{}'|json_return_page:'s2205_rne_salvar'|json_return_hash:hash|json_id:s2205_rne_form.s2205_documentos.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2205_rne_form.s2205_documentos.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_rne_form.s2205_documentos.errors }}
      </div>
    {% endif %}
    {% if s2205_rne_form.s2205_documentos.field.widget.attrs.readonly %}
      {% if s2205_rne_form.s2205_documentos.field.widget.attrs.disabled %}
        {{ s2205_rne_form.s2205_documentos|addcss:'form-control' }}
        <input id="id_s2205_documentos" name="s2205_documentos" type="hidden" value="{{ s2205_rne_form.s2205_documentos.value }}">
      {% else %}
        {{ s2205_rne_form.s2205_documentos|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2205_rne_form.s2205_documentos|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2205_rne__s2205_documentos -->
<!-- inicio__s2205_rne__nrrne -->
<div class="col-md-3" id="s2205_rne__nrrne__div">
  <div class="form-group">
    <label id="s2205_rne__nrrne__label">Número do RNE*</label>
      {% if s2205_rne_form.nrrne.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_rne_form.nrrne.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_rne_form.nrrne|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_rne__nrrne -->
<!-- inicio__s2205_rne__orgaoemissor -->
<div class="col-md-3" id="s2205_rne__orgaoemissor__div">
  <div class="form-group">
    <label id="s2205_rne__orgaoemissor__label">Órgão Emissor do RIC*</label>
      {% if s2205_rne_form.orgaoemissor.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_rne_form.orgaoemissor.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_rne_form.orgaoemissor|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_rne__orgaoemissor -->
<!-- inicio__s2205_rne__dtexped -->
<div class="col-md-3" id="s2205_rne__dtexped__div">
  <div class="form-group">
    <label id="s2205_rne__dtexped__label">Data de Expedição do RIC</label>
        {% if s2205_rne_form.dtexped.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2205_rne_form.dtexped.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_rne_form.dtexped|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2205_rne__dtexped -->