<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s1202_infoperapur_detoper__s1202_infoperapur_infosaudecolet -->
<div class="col-md-12">
  <div class="form-group">
    <label>Detalhamento dos valores pagos a Operadoras de Planos de Saúde.</label>
    <select name="s1202_infoperapur_infosaudecolet" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s1202_infoperapur_infosaudecolet_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s1202_infoperapur_infosaudecolet' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s1202_infoperapur_detoper__s1202_infoperapur_infosaudecolet -->

<!-- inicio__s1202_infoperapur_detoper__cnpjoper -->
<div class="col-md-3">
  <div class="form-group">
    <label>CNPJ da Operadora do Plano de Saúde</label>
    <div name="cnpjoper" class="input-group" style="width: 100%;">
      <input type="text" name="cnpjoper" class="form-control" value="{{ dict_fields|get_value_from_dict:'cnpjoper' }}">
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detoper__cnpjoper -->

<!-- inicio__s1202_infoperapur_detoper__regans -->
<div class="col-md-3">
  <div class="form-group">
    <label>Registro ANS</label>
    <div name="regans" class="input-group" style="width: 100%;">
      <input type="text" name="regans" class="form-control" value="{{ dict_fields|get_value_from_dict:'regans' }}">
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detoper__regans -->

<!-- inicio__s1202_infoperapur_detoper__vrpgtit -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor pago pelo titular</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrpgtit" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrpgtit' }}">
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detoper__vrpgtit -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s1202_infoperapur_infosaudecolet" value="1" {% if show_fields|get_value_from_dict:'show_s1202_infoperapur_infosaudecolet' %}checked{% endif %} >Detalhamento dos valores pagos a Operadoras de Planos de Saúde.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cnpjoper" value="1" {% if show_fields|get_value_from_dict:'show_cnpjoper' %}checked{% endif %} >CNPJ da Operadora do Plano de Saúde
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_regans" value="1" {% if show_fields|get_value_from_dict:'show_regans' %}checked{% endif %} >Registro ANS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrpgtit" value="1" {% if show_fields|get_value_from_dict:'show_vrpgtit' %}checked{% endif %} >Valor pago pelo titular
    </div>
</div>


