{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2210_evtcat or 1 %}
            <th>Detalhamento do(s) agente(s) causador(es) do acidente de trabalho</th>
            {% endif %}
            {% if show_fields.show_codagntcausador or 1 %}
            <th>Agente Causador</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2210_agentecausador_lista %}
        <tr>
            {% if show_fields.show_s2210_evtcat or 1 %}
            <td>{{ a.s2210_evtcat }}</td>
            {% endif %}
            {% if show_fields.show_codagntcausador or 1 %}
            <td>{{ a.codagntcausador|valor }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.s2210.change_s2210agenteCausador or perms.s2210.add_s2210agenteCausador %}
                    
                        <a href="{% url 's2210_agentecausador_salvar' pk=a.id tab='master' %}">
                            {% if perms.s2210.change_s2210agenteCausador %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2210.can_see_data_s2210agenteCausador %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2210.delete_s2210agenteCausador %}
                        <a href="{% url 's2210_agentecausador_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
