{% load templatetags %}"{{ conta.nome_empresa }}"
"Detalhamento do(s) agente(s) causador(es) do acidente de trabalho"
{% if show_fields.show_s2210_evtcat or not s2210_evtcat_id and 1 %}"Evento Comunicação de Acidente de Trabalho";{% endif %}{% if show_fields.show_codagntcausador or 1 %}"Agente Causador";{% endif %}
{% for a in s2210_agentecausador_lista %}{% if show_fields.show_s2210_evtcat or  not s2210_evtcat_id and 1 %}"{{ a.s2210_evtcat }}";{% endif %}{% if show_fields.show_codagntcausador or 1 %}"{{ a.get_codagntcausador_display }}";{% endif %}
{% endfor %}