{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2210_evtcat or 1 %}
            <th>Atestado Médico</th>
            {% endif %}
            {% if show_fields.show_dtatendimento or 1 %}
            <th>Data do atendimento</th>
            {% endif %}
            {% if show_fields.show_hratendimento or 1 %}
            <th>Hora do atendimento</th>
            {% endif %}
            {% if show_fields.show_indinternacao or 1 %}
            <th>Internação</th>
            {% endif %}
            {% if show_fields.show_durtrat or 1 %}
            <th>Duração do tratamento</th>
            {% endif %}
            {% if show_fields.show_indafast or 1 %}
            <th>Afastamento</th>
            {% endif %}
            {% if show_fields.show_dsclesao or 1 %}
            <th>Descrição da Lesão</th>
            {% endif %}
            {% if show_fields.show_codcid or 1 %}
            <th>CID</th>
            {% endif %}
            {% if show_fields.show_nmemit or 1 %}
            <th>Nome</th>
            {% endif %}
            {% if show_fields.show_ideoc or 1 %}
            <th>Órgão de Classe (OC)</th>
            {% endif %}
            {% if show_fields.show_nroc or 1 %}
            <th>Número de Inscrição no órgão de classe.</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2210_atestado_lista %}
        <tr>
            {% if show_fields.show_s2210_evtcat or 1 %}
            <td>{{ a.s2210_evtcat }}</td>
            {% endif %}
            {% if show_fields.show_dtatendimento or 1 %}
            <td><span style="display:none">{{ a.dtatendimento|date:"Y-m-d" }}</span>{{ a.dtatendimento|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_hratendimento or 1 %}
            <td>{{ a.hratendimento }}</td>
            {% endif %}
            {% if show_fields.show_indinternacao or 1 %}
            <td>{{ a.get_indinternacao_display }}</td>
            {% endif %}
            {% if show_fields.show_durtrat or 1 %}
            <td>{{ a.durtrat }}</td>
            {% endif %}
            {% if show_fields.show_indafast or 1 %}
            <td>{{ a.get_indafast_display }}</td>
            {% endif %}
            {% if show_fields.show_dsclesao or 1 %}
            <td>{{ a.dsclesao|valor }}</td>
            {% endif %}
            {% if show_fields.show_codcid or 1 %}
            <td>{{ a.codcid }}</td>
            {% endif %}
            {% if show_fields.show_nmemit or 1 %}
            <td>{{ a.nmemit }}</td>
            {% endif %}
            {% if show_fields.show_ideoc or 1 %}
            <td>{{ a.get_ideoc_display }}</td>
            {% endif %}
            {% if show_fields.show_nroc or 1 %}
            <td>{{ a.nroc }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.s2210.can_view_s2210atestado %}
                        <a href="{% url 's2210_atestado_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.s2210.add_s2210atestado or perms.s2210.change_s2210atestado %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.s2210.delete_s2210atestado %}
                        <a href="{% url 's2210_atestado_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
