{% load templatetags %}{% load static %}



<!-- inicio__s5013_baseperapur__s5013_infobasefgts -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5013_infobasefgts').change(function(){
       document.getElementById("s5013_baseperapur__s5013_infobasefgts__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5013_baseperapur__s5013_infobasefgts__div">
  <div class="form-group">
    <label id="s5013_baseperapur__s5013_infobasefgts__label">Informações sobre bases de cálculo do FGTS referentes à remuneração do período de apuração e de períodos anteriores, exceto se {tpAcConv} = [E]. Origem: S-1200, S-2299 ou S-2399.*</label>
    {% if not for_print %}
      {% if s5013_baseperapur_form.s5013_infobasefgts.value %}
        <a id="s5013_baseperapur__s5013_infobasefgts__div_acessar" href="{% url 's5013_infobasefgts_salvar' hash='{}'|json_id:s5013_baseperapur_form.s5013_infobasefgts.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5013_baseperapur_form.s5013_infobasefgts.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5013_baseperapur_form.s5013_infobasefgts.errors }}
      </div>
    {% endif %}
    {% if s5013_baseperapur_form.s5013_infobasefgts.field.widget.attrs.readonly %}
      {% if s5013_baseperapur_form.s5013_infobasefgts.field.widget.attrs.disabled %}
        {{ s5013_baseperapur_form.s5013_infobasefgts|addcss:'form-control' }}
        <input id="id_s5013_infobasefgts" name="s5013_infobasefgts" type="hidden" value="{% if s5013_baseperapur_form.s5013_infobasefgts.value or s5013_baseperapur_form.s5013_infobasefgts.value == 0 %}{{ s5013_baseperapur_form.s5013_infobasefgts.value|valor }}{% endif %}">
      {% else %}
        {{ s5013_baseperapur_form.s5013_infobasefgts|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5013_baseperapur_form.s5013_infobasefgts|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5013_baseperapur__s5013_infobasefgts -->
<!-- inicio__s5013_baseperapur__tpvalor -->
<div class="col-md-4" id="s5013_baseperapur__tpvalor__div">
  <div class="form-group">
    <label id="s5013_baseperapur__tpvalor__label">Tipo de Valor*</label>
    {% if s5013_baseperapur_form.tpvalor.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5013_baseperapur_form.tpvalor.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5013_baseperapur_form.tpvalor.field.widget.attrs.readonly %}
        {% if s5013_baseperapur_form.tpvalor.field.widget.attrs.disabled %}
          {{ s5013_baseperapur_form.tpvalor|addcss:'form-control' }}
          <input id="id_tpvalor" name="tpvalor" type="hidden" value="{% if s5013_baseperapur_form.tpvalor.value or s5013_baseperapur_form.tpvalor.value == 0 %}{{ s5013_baseperapur_form.tpvalor.value|valor }}{% endif %}">
        {% else %}
          {{ s5013_baseperapur_form.tpvalor|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5013_baseperapur_form.tpvalor|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5013_baseperapur__tpvalor -->
<!-- inicio__s5013_baseperapur__basefgts -->
<div class="col-md-4" id="s5013_baseperapur__basefgts__div">
  <div class="form-group">
    <label id="s5013_baseperapur__basefgts__label">Remuneração (valor da base de cálculo) do FGTS*</label>
    {% if s5013_baseperapur_form.basefgts.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5013_baseperapur_form.basefgts.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5013_baseperapur_form.basefgts|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5013_baseperapur__basefgts -->