{% load templatetags %}{% load static %}



<!-- inicio__s5013_dpsperante__s5013_infodpsperante -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5013_infodpsperante').change(function(){
       document.getElementById("s5013_dpsperante__s5013_infodpsperante__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5013_dpsperante__s5013_infodpsperante__div">
  <div class="form-group">
    <label id="s5013_dpsperante__s5013_infodpsperante__label">Cálculo dos valores de FGTS a serem depositados, incidentes sobre a remuneração de períodos anteriores quando {tpAcConv} = [E].*</label>
    {% if not for_print %}
      {% if s5013_dpsperante_form.s5013_infodpsperante.value %}
        <a id="s5013_dpsperante__s5013_infodpsperante__div_acessar" href="{% url 's5013_infodpsperante_salvar' hash='{}'|json_id:s5013_dpsperante_form.s5013_infodpsperante.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5013_dpsperante_form.s5013_infodpsperante.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5013_dpsperante_form.s5013_infodpsperante.errors }}
      </div>
    {% endif %}
    {% if s5013_dpsperante_form.s5013_infodpsperante.field.widget.attrs.readonly %}
      {% if s5013_dpsperante_form.s5013_infodpsperante.field.widget.attrs.disabled %}
        {{ s5013_dpsperante_form.s5013_infodpsperante|addcss:'form-control' }}
        <input id="id_s5013_infodpsperante" name="s5013_infodpsperante" type="hidden" value="{% if s5013_dpsperante_form.s5013_infodpsperante.value or s5013_dpsperante_form.s5013_infodpsperante.value == 0 %}{{ s5013_dpsperante_form.s5013_infodpsperante.value|valor }}{% endif %}">
      {% else %}
        {{ s5013_dpsperante_form.s5013_infodpsperante|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5013_dpsperante_form.s5013_infodpsperante|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5013_dpsperante__s5013_infodpsperante -->
<!-- inicio__s5013_dpsperante__tpdpse -->
<div class="col-md-4" id="s5013_dpsperante__tpdpse__div">
  <div class="form-group">
    <label id="s5013_dpsperante__tpdpse__label">Tipo de depósito*</label>
    {% if s5013_dpsperante_form.tpdpse.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5013_dpsperante_form.tpdpse.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5013_dpsperante_form.tpdpse.field.widget.attrs.readonly %}
        {% if s5013_dpsperante_form.tpdpse.field.widget.attrs.disabled %}
          {{ s5013_dpsperante_form.tpdpse|addcss:'form-control' }}
          <input id="id_tpdpse" name="tpdpse" type="hidden" value="{% if s5013_dpsperante_form.tpdpse.value or s5013_dpsperante_form.tpdpse.value == 0 %}{{ s5013_dpsperante_form.tpdpse.value|valor }}{% endif %}">
        {% else %}
          {{ s5013_dpsperante_form.tpdpse|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5013_dpsperante_form.tpdpse|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5013_dpsperante__tpdpse -->
<!-- inicio__s5013_dpsperante__vrfgtse -->
<div class="col-md-4" id="s5013_dpsperante__vrfgtse__div">
  <div class="form-group">
    <label id="s5013_dpsperante__vrfgtse__label">Valor histórico do FGTS a ser depositado na conta vinculada do trabalhador*</label>
    {% if s5013_dpsperante_form.vrfgtse.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5013_dpsperante_form.vrfgtse.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5013_dpsperante_form.vrfgtse|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5013_dpsperante__vrfgtse -->