{% load templatetags %}{% load static %}



<!-- inicio__s5013_baseperante__s5013_infobaseperante -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5013_infobaseperante').change(function(){
       document.getElementById("s5013_baseperante__s5013_infobaseperante__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5013_baseperante__s5013_infobaseperante__div">
  <div class="form-group">
    <label id="s5013_baseperante__s5013_infobaseperante__label">Informações sobre bases de cálculo do FGTS referentes à remuneração de períodos anteriores quando {tpAcConv} = [E]. Origem: S-1200 ou S-2299.*</label>
    {% if not for_print %}
      {% if s5013_baseperante_form.s5013_infobaseperante.value %}
        <a id="s5013_baseperante__s5013_infobaseperante__div_acessar" href="{% url 's5013_infobaseperante_salvar' hash='{}'|json_id:s5013_baseperante_form.s5013_infobaseperante.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5013_baseperante_form.s5013_infobaseperante.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5013_baseperante_form.s5013_infobaseperante.errors }}
      </div>
    {% endif %}
    {% if s5013_baseperante_form.s5013_infobaseperante.field.widget.attrs.readonly %}
      {% if s5013_baseperante_form.s5013_infobaseperante.field.widget.attrs.disabled %}
        {{ s5013_baseperante_form.s5013_infobaseperante|addcss:'form-control' }}
        <input id="id_s5013_infobaseperante" name="s5013_infobaseperante" type="hidden" value="{% if s5013_baseperante_form.s5013_infobaseperante.value or s5013_baseperante_form.s5013_infobaseperante.value == 0 %}{{ s5013_baseperante_form.s5013_infobaseperante.value|valor }}{% endif %}">
      {% else %}
        {{ s5013_baseperante_form.s5013_infobaseperante|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5013_baseperante_form.s5013_infobaseperante|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5013_baseperante__s5013_infobaseperante -->
<!-- inicio__s5013_baseperante__tpvalore -->
<div class="col-md-4" id="s5013_baseperante__tpvalore__div">
  <div class="form-group">
    <label id="s5013_baseperante__tpvalore__label">Tipo de valor que influi na apuração do FGTS*</label>
    {% if s5013_baseperante_form.tpvalore.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5013_baseperante_form.tpvalore.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5013_baseperante_form.tpvalore.field.widget.attrs.readonly %}
        {% if s5013_baseperante_form.tpvalore.field.widget.attrs.disabled %}
          {{ s5013_baseperante_form.tpvalore|addcss:'form-control' }}
          <input id="id_tpvalore" name="tpvalore" type="hidden" value="{% if s5013_baseperante_form.tpvalore.value or s5013_baseperante_form.tpvalore.value == 0 %}{{ s5013_baseperante_form.tpvalore.value|valor }}{% endif %}">
        {% else %}
          {{ s5013_baseperante_form.tpvalore|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5013_baseperante_form.tpvalore|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5013_baseperante__tpvalore -->
<!-- inicio__s5013_baseperante__basefgtse -->
<div class="col-md-4" id="s5013_baseperante__basefgtse__div">
  <div class="form-group">
    <label id="s5013_baseperante__basefgtse__label">Remuneração (valor da base de cálculo) do FGTS*</label>
    {% if s5013_baseperante_form.basefgtse.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5013_baseperante_form.basefgtse.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5013_baseperante_form.basefgtse|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5013_baseperante__basefgtse -->