{% load templatetags %}{% load static %}



<!-- inicio__s2306_infocomplementares__s2306_evttsvaltcontr -->
<div class="col-md-12" id="s2306_infocomplementares__s2306_evttsvaltcontr__div">
  <div class="form-group">
    <label id="s2306_infocomplementares__s2306_evttsvaltcontr__label">Informações complementares sobre o declarante*</label>
    {% if not for_print %}{% if s2306_infocomplementares_form.s2306_evttsvaltcontr.value %}
        <a href="{% url 's2306_evttsvaltcontr_salvar' hash='{}'|json_return_page:'s2306_infocomplementares_salvar'|json_return_hash:hash|json_id:s2306_infocomplementares_form.s2306_evttsvaltcontr.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2306_infocomplementares_form.s2306_evttsvaltcontr.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2306_infocomplementares_form.s2306_evttsvaltcontr.errors }}
      </div>
    {% endif %}
    {% if s2306_infocomplementares_form.s2306_evttsvaltcontr.field.widget.attrs.readonly %}
      {% if s2306_infocomplementares_form.s2306_evttsvaltcontr.field.widget.attrs.disabled %}
        {{ s2306_infocomplementares_form.s2306_evttsvaltcontr|addcss:'form-control' }}
        <input id="id_s2306_evttsvaltcontr" name="s2306_evttsvaltcontr" type="hidden" value="{{ s2306_infocomplementares_form.s2306_evttsvaltcontr.value }}">
      {% else %}
        {{ s2306_infocomplementares_form.s2306_evttsvaltcontr|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2306_infocomplementares_form.s2306_evttsvaltcontr|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2306_infocomplementares__s2306_evttsvaltcontr -->