{% load templatetags %}{% load static %}



<!-- inicio__s2231_fimcessao__s2231_evtcessao -->
<div class="col-md-12" id="s2231_fimcessao__s2231_evtcessao__div">
  <div class="form-group">
    <label id="s2231_fimcessao__s2231_evtcessao__label">Informações de término da cessão/exercício em outro órgão*</label>
    {% if not for_print %}{% if s2231_fimcessao_form.s2231_evtcessao.value %}
        <a href="{% url 's2231_evtcessao_salvar' pk=s2231_fimcessao_form.s2231_evtcessao.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s2231_fimcessao_form.s2231_evtcessao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2231_fimcessao_form.s2231_evtcessao.errors }}
      </div>
    {% endif %}
    {% if s2231_fimcessao_form.s2231_evtcessao.field.widget.attrs.readonly %}
      {% if s2231_fimcessao_form.s2231_evtcessao.field.widget.attrs.disabled %}
        {{ s2231_fimcessao_form.s2231_evtcessao|addcss:'form-control' }}
        <input id="id_s2231_evtcessao" name="s2231_evtcessao" type="hidden" value="{{ s2231_fimcessao_form.s2231_evtcessao.value }}">
      {% else %}
        {{ s2231_fimcessao_form.s2231_evtcessao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2231_fimcessao_form.s2231_evtcessao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2231_fimcessao__s2231_evtcessao -->
<!-- inicio__s2231_fimcessao__dttermcessao -->
<div class="col-md-6" id="s2231_fimcessao__dttermcessao__div">
  <div class="form-group">
    <label id="s2231_fimcessao__dttermcessao__label">Preencher com a data de término da cessão/exercício em outro órgão*</label>
        {% if s2231_fimcessao_form.dttermcessao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2231_fimcessao_form.dttermcessao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2231_fimcessao_form.dttermcessao|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2231_fimcessao__dttermcessao -->