{% load templatetags %}{% load static %}



<!-- inicio__r9011_rrecrepad__r9011_infototalcontrib -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r9011_infototalcontrib').change(function(){
       document.getElementById("r9011_rrecrepad__r9011_infototalcontrib__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r9011_rrecrepad__r9011_infototalcontrib__div">
  <div class="form-group">
    <label id="r9011_rrecrepad__r9011_infototalcontrib__label">Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre recursos repassados a Associações Desportivas que mantenham equipe de futebol profissional, apuradas no evento R-2040*<a data-toggle="tooltip" title="Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre recursos repassados a Associação Desportiva que mantenha equipe de futebol profissional."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if r9011_rrecrepad_form.r9011_infototalcontrib.value %}
        <a id="r9011_rrecrepad__r9011_infototalcontrib__div_acessar" href="{% url 'r9011_infototalcontrib_salvar' pk=r9011_rrecrepad_form.r9011_infototalcontrib.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if r9011_rrecrepad_form.r9011_infototalcontrib.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r9011_rrecrepad_form.r9011_infototalcontrib.errors }}
      </div>
    {% endif %}
    {% if r9011_rrecrepad_form.r9011_infototalcontrib.field.widget.attrs.readonly %}
      {% if r9011_rrecrepad_form.r9011_infototalcontrib.field.widget.attrs.disabled %}
        {{ r9011_rrecrepad_form.r9011_infototalcontrib|addcss:'form-control' }}
        <input id="id_r9011_infototalcontrib" name="r9011_infototalcontrib" type="hidden" value="{% if r9011_rrecrepad_form.r9011_infototalcontrib.value or r9011_rrecrepad_form.r9011_infototalcontrib.value == 0 %}{{ r9011_rrecrepad_form.r9011_infototalcontrib.value|valor }}{% endif %}">
      {% else %}
        {{ r9011_rrecrepad_form.r9011_infototalcontrib|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r9011_rrecrepad_form.r9011_infototalcontrib|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r9011_rrecrepad__r9011_infototalcontrib -->
<!-- inicio__r9011_rrecrepad__crrecrepad -->
<div class="col-md-3" id="r9011_rrecrepad__crrecrepad__div">
  <div class="form-group">
    <label id="r9011_rrecrepad__crrecrepad__label">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre recursos repassados a Associação Desportiva que mantenha equipe de futebol profissional, calculada segundo as regras estabelecidas na legislação em vigor*<a data-toggle="tooltip" title="Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre recursos repassados a Associação Desportiva que mantenha equipe de futebol profissional, calculada segundo as regras estabelecidas na legislação em vigor. Origem: R-9001. Validação: Deve ser um código válido, compatível com as informações prestadas nos demais eventos. Deve ser maior que 0 (zero). Valores Válidos: 1151-02."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r9011_rrecrepad_form.crrecrepad.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r9011_rrecrepad_form.crrecrepad.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r9011_rrecrepad_form.crrecrepad|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r9011_rrecrepad__crrecrepad -->
<!-- inicio__r9011_rrecrepad__vlrcrrecrepad -->
<div class="col-md-3" id="r9011_rrecrepad__vlrcrrecrepad__div">
  <div class="form-group">
    <label id="r9011_rrecrepad__vlrcrrecrepad__label">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRecRepAD}. Origem: R-2040*<a data-toggle="tooltip" title="Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRecRepAD}. Origem: R-9001. Validação: Deve ser apurado de acordo com a legislação em vigor na competência."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r9011_rrecrepad_form.vlrcrrecrepad.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9011_rrecrepad_form.vlrcrrecrepad.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9011_rrecrepad_form.vlrcrrecrepad|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9011_rrecrepad__vlrcrrecrepad -->
<!-- inicio__r9011_rrecrepad__vlrcrrecrepadsusp -->
<div class="col-md-3" id="r9011_rrecrepad__vlrcrrecrepadsusp__div">
  <div class="form-group">
    <label id="r9011_rrecrepad__vlrcrrecrepadsusp__label">Valor da retenção da contribuição previdenciária que deixou de ser efetuada ou que foi depositada em juízo em decorência de decisão judicial/administrativa, correspondente ao Código de Receita - CR informado em {CRRecRepAD}<a data-toggle="tooltip" title="Valor da retenção da contribuição previdenciária que deixou de ser efetuada ou que foi depositada em juízo em decorrência de decisão judicial/administrativa, correspondente ao Código de Receita - CR informado em {CRRecRepAD}. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r9011_rrecrepad_form.vlrcrrecrepadsusp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9011_rrecrepad_form.vlrcrrecrepadsusp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9011_rrecrepad_form.vlrcrrecrepadsusp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9011_rrecrepad__vlrcrrecrepadsusp -->