{% load templatetags %}{% load static %}



<!-- inicio__r9011_infototalcontrib__r9011_evttotalcontrib -->
<div class="col-md-12" id="r9011_infototalcontrib__r9011_evttotalcontrib__div">
  <div class="form-group">
    <label id="r9011_infototalcontrib__r9011_evttotalcontrib__label">Informações consolidadas por contribuinte relativas a totalizadores de bases e tributos*</label>
    {% if not for_print %}{% if r9011_infototalcontrib_form.r9011_evttotalcontrib.value %}
        <a href="{% url 'r9011_evttotalcontrib_salvar' pk=r9011_infototalcontrib_form.r9011_evttotalcontrib.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r9011_infototalcontrib_form.r9011_evttotalcontrib.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r9011_infototalcontrib_form.r9011_evttotalcontrib.errors }}
      </div>
    {% endif %}
    {% if r9011_infototalcontrib_form.r9011_evttotalcontrib.field.widget.attrs.readonly %}
      {% if r9011_infototalcontrib_form.r9011_evttotalcontrib.field.widget.attrs.disabled %}
        {{ r9011_infototalcontrib_form.r9011_evttotalcontrib|addcss:'form-control' }}
        <input id="id_r9011_evttotalcontrib" name="r9011_evttotalcontrib" type="hidden" value="{{ r9011_infototalcontrib_form.r9011_evttotalcontrib.value }}">
      {% else %}
        {{ r9011_infototalcontrib_form.r9011_evttotalcontrib|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r9011_infototalcontrib_form.r9011_evttotalcontrib|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r9011_infototalcontrib__r9011_evttotalcontrib -->
<!-- inicio__r9011_infototalcontrib__nrrecarqbase -->
<div class="col-md-4" id="r9011_infototalcontrib__nrrecarqbase__div">
  <div class="form-group">
    <label id="r9011_infototalcontrib__nrrecarqbase__label">Preencher com o número do recibo do arquivo que deu origem ao presente arquivo de retorno ao contribuinte</label>
      {% if r9011_infototalcontrib_form.nrrecarqbase.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r9011_infototalcontrib_form.nrrecarqbase.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r9011_infototalcontrib_form.nrrecarqbase|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r9011_infototalcontrib__nrrecarqbase -->
<!-- inicio__r9011_infototalcontrib__indexistinfo -->
<div class="col-md-4" id="r9011_infototalcontrib__indexistinfo__div">
  <div class="form-group">
    <label id="r9011_infototalcontrib__indexistinfo__label">Indicativo de existência de valores de bases ou de tributos*</label>
    {% if r9011_infototalcontrib_form.indexistinfo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r9011_infototalcontrib_form.indexistinfo.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r9011_infototalcontrib_form.indexistinfo.field.widget.attrs.readonly %}
        {% if r9011_infototalcontrib_form.indexistinfo.field.widget.attrs.disabled %}
          {{ r9011_infototalcontrib_form.indexistinfo|addcss:'form-control' }}
          <input id="id_indexistinfo" name="indexistinfo" type="hidden" value="{% if r9011_infototalcontrib_form.indexistinfo.value or r9011_infototalcontrib_form.indexistinfo.value == 0 %}{{ r9011_infototalcontrib_form.indexistinfo.value|valor }}{% endif %}">
        {% else %}
          {{ r9011_infototalcontrib_form.indexistinfo|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r9011_infototalcontrib_form.indexistinfo|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r9011_infototalcontrib__indexistinfo -->