{% load templatetags %}{% load static %}



<!-- inicio__s2405_exterior__s2405_endereco -->
<div class="col-md-12" id="s2405_exterior__s2405_endereco__div">
  <div class="form-group">
    <label id="s2405_exterior__s2405_endereco__label">Preenchido em caso de trabalhador residente no exterior.*</label>
    {% if not for_print %}{% if s2405_exterior_form.s2405_endereco.value %}
        <a href="{% url 's2405_endereco_salvar' pk=s2405_exterior_form.s2405_endereco.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2405_exterior_form.s2405_endereco.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2405_exterior_form.s2405_endereco.errors }}
      </div>
    {% endif %}
    {% if s2405_exterior_form.s2405_endereco.field.widget.attrs.readonly %}
      {% if s2405_exterior_form.s2405_endereco.field.widget.attrs.disabled %}
        {{ s2405_exterior_form.s2405_endereco|addcss:'form-control' }}
        <input id="id_s2405_endereco" name="s2405_endereco" type="hidden" value="{{ s2405_exterior_form.s2405_endereco.value }}">
      {% else %}
        {{ s2405_exterior_form.s2405_endereco|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2405_exterior_form.s2405_endereco|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2405_exterior__s2405_endereco -->
<!-- inicio__s2405_exterior__paisresid -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s2405_exterior__paisresid__div">
    <div class="form-group">
      <label id="s2405_exterior__paisresid__label">País*</label>
        {% if s2405_exterior_form.paisresid.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2405_exterior_form.paisresid.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_paisresid" 
               name="txt_paisresid" class="form-control" 
               value="{% if s2405_exterior.paisresid %}{{ s2405_exterior.paisresid|get_opcoes_titulo:204 }}{% endif %}" 
               {% if s2405_exterior_form.paisresid.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s2405_exterior_form.paisresid.field.widget.attrs.required %} required="required"{% endif %}
               {% if s2405_exterior_form.paisresid.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_paisresid" 
               name="paisresid" 
               value="{% if s2405_exterior.paisresid %}{{ s2405_exterior_form.paisresid.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_paisresid').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/204/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_paisresid').val(ui.item.value);
        return false;
      }});
    {% if s2405_exterior_form.paisresid.field.widget.attrs.required %}
    $("#id_form_s2405_exterior").submit(function(e) {
      $('#txt_paisresid').disabled = true;
        if ($('#id_paisresid').val() == "") {
          $('#txt_paisresid').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo País!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s2405_exterior__paisresid__div">
    <div class="form-group">
      <label id="s2405_exterior__paisresid__label">País*</label>
        <input type="text" id="txt_paisresid" name="txt_paisresid" class="form-control" value="{% if s2405_exterior.paisresid %}{{ s2405_exterior.paisresid }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2405_exterior__paisresid -->
<!-- inicio__s2405_exterior__dsclograd -->
<div class="col-md-6" id="s2405_exterior__dsclograd__div">
  <div class="form-group">
    <label id="s2405_exterior__dsclograd__label">Logradouro*</label>
      {% if s2405_exterior_form.dsclograd.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2405_exterior_form.dsclograd.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2405_exterior_form.dsclograd|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2405_exterior__dsclograd -->
<!-- inicio__s2405_exterior__nrlograd -->
<div class="col-md-6" id="s2405_exterior__nrlograd__div">
  <div class="form-group">
    <label id="s2405_exterior__nrlograd__label">Número*</label>
      {% if s2405_exterior_form.nrlograd.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2405_exterior_form.nrlograd.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2405_exterior_form.nrlograd|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2405_exterior__nrlograd -->
<!-- inicio__s2405_exterior__complemento -->
<div class="col-md-6" id="s2405_exterior__complemento__div">
  <div class="form-group">
    <label id="s2405_exterior__complemento__label">Complemento</label>
      {% if s2405_exterior_form.complemento.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2405_exterior_form.complemento.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2405_exterior_form.complemento|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2405_exterior__complemento -->
<!-- inicio__s2405_exterior__bairro -->
<div class="col-md-6" id="s2405_exterior__bairro__div">
  <div class="form-group">
    <label id="s2405_exterior__bairro__label">Bairro</label>
      {% if s2405_exterior_form.bairro.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2405_exterior_form.bairro.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2405_exterior_form.bairro|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2405_exterior__bairro -->
<!-- inicio__s2405_exterior__nmcid -->
<div class="col-md-6" id="s2405_exterior__nmcid__div">
  <div class="form-group">
    <label id="s2405_exterior__nmcid__label">Nome da Cidade*</label>
      {% if s2405_exterior_form.nmcid.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2405_exterior_form.nmcid.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2405_exterior_form.nmcid|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2405_exterior__nmcid -->
<!-- inicio__s2405_exterior__codpostal -->
<div class="col-md-6" id="s2405_exterior__codpostal__div">
  <div class="form-group">
    <label id="s2405_exterior__codpostal__label">Código Postal</label>
      {% if s2405_exterior_form.codpostal.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2405_exterior_form.codpostal.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2405_exterior_form.codpostal|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2405_exterior__codpostal -->