{% load templatetags %}{% load static %}



<!-- inicio__s1005_exclusao__s1005_evttabestab -->
<div class="col-md-12" id="s1005_exclusao__s1005_evttabestab__div">
  <div class="form-group">
    <label id="s1005_exclusao__s1005_evttabestab__label">Exclusão das informações*</label>
    {% if not for_print %}{% if s1005_exclusao_form.s1005_evttabestab.value %}
        <a href="{% url 's1005_evttabestab_salvar' pk=s1005_exclusao_form.s1005_evttabestab.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s1005_exclusao_form.s1005_evttabestab.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1005_exclusao_form.s1005_evttabestab.errors }}
      </div>
    {% endif %}
    {% if s1005_exclusao_form.s1005_evttabestab.field.widget.attrs.readonly %}
      {% if s1005_exclusao_form.s1005_evttabestab.field.widget.attrs.disabled %}
        {{ s1005_exclusao_form.s1005_evttabestab|addcss:'form-control' }}
        <input id="id_s1005_evttabestab" name="s1005_evttabestab" type="hidden" value="{{ s1005_exclusao_form.s1005_evttabestab.value }}">
      {% else %}
        {{ s1005_exclusao_form.s1005_evttabestab|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1005_exclusao_form.s1005_evttabestab|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1005_exclusao__s1005_evttabestab -->
<!-- inicio__s1005_exclusao__ideestab -->
<div class="col-md-12" id="s1005_exclusao__ideestab__div">
  <h4>Informações de identificação do estabelecimento, obra ou órgão público e período de validade das informações que estão sendo incluídas</h4>
</div>
<!-- fim__s1005_exclusao__ideestab -->
<!-- inicio__s1005_exclusao__tpinsc -->
<div class="col-md-6" id="s1005_exclusao__tpinsc__div">
  <div class="form-group">
    <label id="s1005_exclusao__tpinsc__label">Tipo de inscrição*</label>
    {% if s1005_exclusao_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1005_exclusao_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1005_exclusao_form.tpinsc.field.widget.attrs.readonly %}
        {% if s1005_exclusao_form.tpinsc.field.widget.attrs.disabled %}
          {{ s1005_exclusao_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s1005_exclusao_form.tpinsc.value or s1005_exclusao_form.tpinsc.value == 0 %}{{ s1005_exclusao_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s1005_exclusao_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1005_exclusao_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1005_exclusao__tpinsc -->
<!-- inicio__s1005_exclusao__nrinsc -->
<div class="col-md-6" id="s1005_exclusao__nrinsc__div">
  <div class="form-group">
    <label id="s1005_exclusao__nrinsc__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s1005_exclusao_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1005_exclusao_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1005_exclusao_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1005_exclusao__nrinsc -->
<!-- inicio__s1005_exclusao__inivalid -->
<div class="col-md-6" id="s1005_exclusao__inivalid__div">
  <div class="form-group">
    <label id="s1005_exclusao__inivalid__label">Início da Validade*</label>
    {% if s1005_exclusao_form.inivalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1005_exclusao_form.inivalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1005_exclusao_form.inivalid.field.widget.attrs.readonly %}
        {% if s1005_exclusao_form.inivalid.field.widget.attrs.disabled %}
          {{ s1005_exclusao_form.inivalid|addcss:'form-control' }}
          <input id="id_inivalid" name="inivalid" type="hidden" value="{% if s1005_exclusao_form.inivalid.value or s1005_exclusao_form.inivalid.value == 0 %}{{ s1005_exclusao_form.inivalid.value }}{% endif %}">
        {% else %}
          {{ s1005_exclusao_form.inivalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1005_exclusao_form.inivalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1005_exclusao__inivalid -->
<!-- inicio__s1005_exclusao__fimvalid -->
<div class="col-md-6" id="s1005_exclusao__fimvalid__div">
  <div class="form-group">
    <label id="s1005_exclusao__fimvalid__label">Fim da Validade</label>
    {% if s1005_exclusao_form.fimvalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1005_exclusao_form.fimvalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1005_exclusao_form.fimvalid.field.widget.attrs.readonly %}
        {% if s1005_exclusao_form.fimvalid.field.widget.attrs.disabled %}
          {{ s1005_exclusao_form.fimvalid|addcss:'form-control' }}
          <input id="id_fimvalid" name="fimvalid" type="hidden" value="{% if s1005_exclusao_form.fimvalid.value or s1005_exclusao_form.fimvalid.value == 0 %}{{ s1005_exclusao_form.fimvalid.value }}{% endif %}">
        {% else %}
          {{ s1005_exclusao_form.fimvalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1005_exclusao_form.fimvalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1005_exclusao__fimvalid -->