<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5012_evtirrf or 1 %}
            <th>Informações consolidadas das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, por código de Receita - CR.</th>
            {% endif %}
            {% if show_fields.show_tpcr or 1 %}
            <th>Código da Receita (CR)</th>
            {% endif %}
            {% if show_fields.show_vrcr or 1 %}
            <th>Valor do CR apurado</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5012_infocrcontrib_lista %}
        <tr>
            {% if show_fields.show_s5012_evtirrf or 1 %}
            <td>{{ a.s5012_evtirrf }}</td>
            {% endif %}
            {% if show_fields.show_tpcr or 1 %}
            <td>{{ a.get_tpcr_display }}</td>
            {% endif %}
            {% if show_fields.show_vrcr or 1 %}
            <td>{{ a.vrcr }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
