{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2399_verbasresc or 1 %}
            <th>Informações sobre a existência de processos judiciais do trabalhador com decisão favorável quanto à não incidência ou alterações na incidência de contribuições sociais e/ou Imposto de Renda sobre as rubricas apresentadas nos subregistros de {dmDev}.</th>
            {% endif %}
            {% if show_fields.show_tptrib or 1 %}
            <th>Abrangência da Decisão</th>
            {% endif %}
            {% if show_fields.show_nrprocjud or 1 %}
            <th>Número do Processo Judicial</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2399_procjudtrab_lista %}
        <tr>
            {% if show_fields.show_s2399_verbasresc or 1 %}
            <td>{{ a.s2399_verbasresc }}</td>
            {% endif %}
            {% if show_fields.show_tptrib or 1 %}
            <td>{{ a.get_tptrib_display }}</td>
            {% endif %}
            {% if show_fields.show_nrprocjud or 1 %}
            <td>{{ a.nrprocjud }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                        {% if perms.s2399.change_s2399procJudTrab or perms.s2399.add_s2399procJudTrab %}
                    
                        <a href="{% url 's2399_procjudtrab_salvar' pk=a.id tab='master' %}">
                            {% if perms.s2399.change_s2399procJudTrab %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2399.can_see_data_s2399procJudTrab %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2399.delete_s2399procJudTrab %}
                        <a href="{% url 's2399_procjudtrab_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
