.DS_Store
*.pyc
*.zip
.env
.env_dev
.env_localhost
.env_web
certificado/*.pfx
certificado/*.pem
certificados/*.pfx
certificados/*.pem
umls_retorno/
arquivos/
logs/
arquivos_old/
static/
arquivos_backup/
media/
predecessores/
www/
UMLs/
*_backup.py
backup.py
atualizar_web.py
clear_database.py
download.py
.idea/
emensageriapro.wsgi
xsd/rename_xsds.py
make_and_migrate_all_apps.py
copy_xmls_example.py
teste_cron.txt
delete_unused_migrations.py
delete_unused_files.py
get_last_migrations.py