.DS_Store
*.pyc
.env
.env_localhost
.env_web
certificados/*.pfx
certificados/*.pem
arquivos/
static/
arquivos_backup/
media/
predecessores/
www/
UMLs/
*_backup.py
backup.py
atualizar_web.py
clear_database.py
.idea/
emensageriapro.wsgi
xsd/rename_xsds.py
make_and_migrate_all_apps.py