.DS_Store
*.pyc
.env
.env_localhost
certificados/*.pfx
certificados/*.pem
arquivos/
static/
arquivos_backup/
media/
predecessores/
www/
UMLs/
*_backup.py
backup.py
atualizar_web.py
clear_database.py
.idea/
emensageriapro.wsgi