Django==1.11.15
untangle==1.1.1
psycopg2==2.6.2
pyOpenSSL==17.5.0
lxml==3.7.3
signxml==2.5.2
xhtml2pdf==0.2.2
django-wkhtmltopdf==3.2.0
goslate==1.5.1
django-environ==0.4.5
xmltodict==0.11.0
googletrans==2.2.0
djangorestframework==3.8.2
markdown==2.6
django-filter==2.0.0