{% load templatetags %}{% load static %}



<!-- inicio__s1202_infoperapur_detplano__s1202_infoperapur_detoper -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1202_infoperapur_detoper').change(function(){
       document.getElementById("s1202_infoperapur_detplano__s1202_infoperapur_detoper__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1202_infoperapur_detplano__s1202_infoperapur_detoper__div">
  <div class="form-group">
    <label id="s1202_infoperapur_detplano__s1202_infoperapur_detoper__label">Informações do dependente do plano privado de saúde.*</label>
    {% if not for_print %}
      {% if s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.value %}
        <a id="s1202_infoperapur_detplano__s1202_infoperapur_detoper__div_acessar" href="{% url 's1202_infoperapur_detoper_salvar' hash='{}'|json_id:s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.errors }}
      </div>
    {% endif %}
    {% if s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.field.widget.attrs.readonly %}
      {% if s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.field.widget.attrs.disabled %}
        {{ s1202_infoperapur_detplano_form.s1202_infoperapur_detoper|addcss:'form-control' }}
        <input id="id_s1202_infoperapur_detoper" name="s1202_infoperapur_detoper" type="hidden" value="{% if s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.value or s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.value == 0 %}{{ s1202_infoperapur_detplano_form.s1202_infoperapur_detoper.value|valor }}{% endif %}">
      {% else %}
        {{ s1202_infoperapur_detplano_form.s1202_infoperapur_detoper|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1202_infoperapur_detplano_form.s1202_infoperapur_detoper|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1202_infoperapur_detplano__s1202_infoperapur_detoper -->
<!-- inicio__s1202_infoperapur_detplano__tpdep -->
<div class="col-md-6" id="s1202_infoperapur_detplano__tpdep__div">
  <div class="form-group">
    <label id="s1202_infoperapur_detplano__tpdep__label">Tipo*</label>
    {% if s1202_infoperapur_detplano_form.tpdep.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1202_infoperapur_detplano_form.tpdep.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1202_infoperapur_detplano_form.tpdep.field.widget.attrs.readonly %}
        {% if s1202_infoperapur_detplano_form.tpdep.field.widget.attrs.disabled %}
          {{ s1202_infoperapur_detplano_form.tpdep|addcss:'form-control' }}
          <input id="id_tpdep" name="tpdep" type="hidden" value="{% if s1202_infoperapur_detplano_form.tpdep.value or s1202_infoperapur_detplano_form.tpdep.value == 0 %}{{ s1202_infoperapur_detplano_form.tpdep.value }}{% endif %}">
        {% else %}
          {{ s1202_infoperapur_detplano_form.tpdep|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1202_infoperapur_detplano_form.tpdep|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detplano__tpdep -->
<!-- inicio__s1202_infoperapur_detplano__cpfdep -->
<div class="col-md-6" id="s1202_infoperapur_detplano__cpfdep__div">
  <div class="form-group">
    <label id="s1202_infoperapur_detplano__cpfdep__label">CPF</label>
      {% if s1202_infoperapur_detplano_form.cpfdep.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1202_infoperapur_detplano_form.cpfdep.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1202_infoperapur_detplano_form.cpfdep|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detplano__cpfdep -->
<!-- inicio__s1202_infoperapur_detplano__nmdep -->
<div class="col-md-6" id="s1202_infoperapur_detplano__nmdep__div">
  <div class="form-group">
    <label id="s1202_infoperapur_detplano__nmdep__label">Nome*</label>
      {% if s1202_infoperapur_detplano_form.nmdep.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1202_infoperapur_detplano_form.nmdep.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1202_infoperapur_detplano_form.nmdep|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detplano__nmdep -->
<!-- inicio__s1202_infoperapur_detplano__dtnascto -->
<div class="col-md-6" id="s1202_infoperapur_detplano__dtnascto__div">
  <div class="form-group">
    <label id="s1202_infoperapur_detplano__dtnascto__label">Data de nascimento*</label>
        {% if s1202_infoperapur_detplano_form.dtnascto.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s1202_infoperapur_detplano_form.dtnascto.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1202_infoperapur_detplano_form.dtnascto|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detplano__dtnascto -->
<!-- inicio__s1202_infoperapur_detplano__vlrpgdep -->
<div class="col-md-6" id="s1202_infoperapur_detplano__vlrpgdep__div">
  <div class="form-group">
    <label id="s1202_infoperapur_detplano__vlrpgdep__label">Valor pago relativo ao plano de saúde do dependente*</label>
    {% if s1202_infoperapur_detplano_form.vlrpgdep.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1202_infoperapur_detplano_form.vlrpgdep.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1202_infoperapur_detplano_form.vlrpgdep|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1202_infoperapur_detplano__vlrpgdep -->