{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_username or 1 %}
            <th>Usuário (Utilizado no Login)</th>
            {% endif %}
            {% if show_fields.show_first_name or 1 %}
            <th>Nome</th>
            {% endif %}
            {% if show_fields.show_last_name or 1 %}
            <th>Sobrenome</th>
            {% endif %}
            {% if show_fields.show_email or 1 %}
            <th>Email</th>
            {% endif %}
            {% if show_fields.show_is_active or 1 %}
            <th>Ativo?</th>
            {% endif %}
            {% if show_fields.show_config_perfis or 1 %}
            <th>Perfil</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in usuarios_lista %}
        <tr>
            {% if show_fields.show_username or 1 %}
            <td>{{ a.username }}</td>
            {% endif %}
            {% if show_fields.show_first_name or 1 %}
            <td>{{ a.first_name }}</td>
            {% endif %}
            {% if show_fields.show_last_name or 1 %}
            <td>{{ a.last_name }}</td>
            {% endif %}
            {% if show_fields.show_email or 1 %}
            <td>{{ a.email }}</td>
            {% endif %}
            {% if show_fields.show_is_active or 1 %}
            <td>{% if a.is_active %}Sim{% else %}Não{% endif %}</td>
            {% endif %}
            {% if show_fields.show_config_perfis or 1 %}
            <td>{{ a.config_perfis }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.controle_de_acesso.change_Usuarios or perms.controle_de_acesso.add_Usuarios %}
                    
                        <a href="{% url 'usuarios_salvar' pk=a.id %}">
                            {% if perms.controle_de_acesso.change_Usuarios %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.controle_de_acesso.can_see_data_Usuarios %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.controle_de_acesso.delete_Usuarios %}
                        <a href="{% url 'usuarios_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
