{% load templatetags %}{% load static %}



<!-- inicio__r1070_alteracao_dadosprocjud__r1070_alteracao -->
<div class="col-md-12" id="r1070_alteracao_dadosprocjud__r1070_alteracao__div">
  <div class="form-group">
    <label id="r1070_alteracao_dadosprocjud__r1070_alteracao__label">Informações Complementares do Processo Judicial*</label>
    {% if not for_print %}{% if r1070_alteracao_dadosprocjud_form.r1070_alteracao.value %}
        <a href="{% url 'r1070_alteracao_salvar' hash='{}'|json_return_page:'r1070_alteracao_dadosprocjud_salvar'|json_return_hash:hash|json_id:r1070_alteracao_dadosprocjud_form.r1070_alteracao.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r1070_alteracao_dadosprocjud_form.r1070_alteracao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1070_alteracao_dadosprocjud_form.r1070_alteracao.errors }}
      </div>
    {% endif %}
    {% if r1070_alteracao_dadosprocjud_form.r1070_alteracao.field.widget.attrs.readonly %}
      {% if r1070_alteracao_dadosprocjud_form.r1070_alteracao.field.widget.attrs.disabled %}
        {{ r1070_alteracao_dadosprocjud_form.r1070_alteracao|addcss:'form-control' }}
        <input id="id_r1070_alteracao" name="r1070_alteracao" type="hidden" value="{{ r1070_alteracao_dadosprocjud_form.r1070_alteracao.value }}">
      {% else %}
        {{ r1070_alteracao_dadosprocjud_form.r1070_alteracao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r1070_alteracao_dadosprocjud_form.r1070_alteracao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r1070_alteracao_dadosprocjud__r1070_alteracao -->
<!-- inicio__r1070_alteracao_dadosprocjud__ufvara -->
<div class="col-md-3" id="r1070_alteracao_dadosprocjud__ufvara__div">
  <div class="form-group">
    <label id="r1070_alteracao_dadosprocjud__ufvara__label">Identificação da Unidade da Federação - UF da Seção Judiciária*</label>
    {% if r1070_alteracao_dadosprocjud_form.ufvara.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r1070_alteracao_dadosprocjud_form.ufvara.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r1070_alteracao_dadosprocjud_form.ufvara.field.widget.attrs.readonly %}
        {% if r1070_alteracao_dadosprocjud_form.ufvara.field.widget.attrs.disabled %}
          {{ r1070_alteracao_dadosprocjud_form.ufvara|addcss:'form-control' }}
          <input id="id_ufvara" name="ufvara" type="hidden" value="{% if r1070_alteracao_dadosprocjud_form.ufvara.value or r1070_alteracao_dadosprocjud_form.ufvara.value == 0 %}{{ r1070_alteracao_dadosprocjud_form.ufvara.value }}{% endif %}">
        {% else %}
          {{ r1070_alteracao_dadosprocjud_form.ufvara|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r1070_alteracao_dadosprocjud_form.ufvara|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r1070_alteracao_dadosprocjud__ufvara -->
<!-- inicio__r1070_alteracao_dadosprocjud__codmunic -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-3" id="r1070_alteracao_dadosprocjud__codmunic__div">
    <div class="form-group">
      <label id="r1070_alteracao_dadosprocjud__codmunic__label">Código do Município*</label>
        {% if r1070_alteracao_dadosprocjud_form.codmunic.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ r1070_alteracao_dadosprocjud_form.codmunic.errors }}
          </div>
        {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if r1070_alteracao_dadosprocjud.codmunic %}{{ r1070_alteracao_dadosprocjud.codmunic }}{% endif %}" 
        {% if r1070_alteracao_dadosprocjud_form.codmunic.field.widget.attrs.readonly %} readonly="readonly"{% endif %}{% if r1070_alteracao_dadosprocjud_form.codmunic.field.widget.attrs.required %} required="required"{% endif %}{% if r1070_alteracao_dadosprocjud_form.codmunic.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" id="id_codmunic" name="codmunic" value="{% if r1070_alteracao_dadosprocjud.codmunic %}{{ r1070_alteracao_dadosprocjud_form.codmunic.value|valor }}{% endif %}">
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codmunic').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas//json-search/" + request.term + "/", function (data) {
          response($.map(data., function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codmunic').val(ui.item.value);
        return false;
      }});
    {% if r1070_alteracao_dadosprocjud_form.codmunic.field.widget.attrs.required %}
    $("#id_form_r1070_alteracao_dadosprocjud").submit(function(e) {
      $('#txt_codmunic').disabled = true;
        if ($('#id_codmunic').val() == "") {
          $('#txt_codmunic').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código do Município!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-3" id="r1070_alteracao_dadosprocjud__codmunic__div">
    <div class="form-group">
      <label id="r1070_alteracao_dadosprocjud__codmunic__label">Código do Município*</label>
        {% if not for_print %}{% if r1070_alteracao_dadosprocjud_form.codmunic.value %}
            <a id="r1070_alteracao_dadosprocjud__codmunic__div_acessar" href="{% url '_salvar' hash='{}'|json_id:r1070_alteracao_dadosprocjud_form.codmunic.value|json_print:0|base64_encode_me %}">
                [Acessar]
            </a>
        {% endif %} {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if r1070_alteracao_dadosprocjud.codmunic %}{{ r1070_alteracao_dadosprocjud.codmunic }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__r1070_alteracao_dadosprocjud__codmunic -->
<!-- inicio__r1070_alteracao_dadosprocjud__idvara -->
<div class="col-md-3" id="r1070_alteracao_dadosprocjud__idvara__div">
  <div class="form-group">
    <label id="r1070_alteracao_dadosprocjud__idvara__label">Código de Identificação da Vara.*</label>
      {% if r1070_alteracao_dadosprocjud_form.idvara.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r1070_alteracao_dadosprocjud_form.idvara.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r1070_alteracao_dadosprocjud_form.idvara|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r1070_alteracao_dadosprocjud__idvara -->