{% load templatetags %}{% load static %}



<!-- inicio__config_permissoes__config_perfis -->
<script type="text/javascript">$(document).ready(function(){$('#id_config_perfis').change(function(){document.getElementById("config_permissoes__config_perfis__div_acessar").style.display = 'none';});});</script>
<div class="col-md-12" id="config_permissoes__config_perfis__div">
<div class="form-group">
  <label id="config_permissoes__config_perfis__label">Perfil*</label>
  
  {% if config_permissoes_form.config_perfis.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ config_permissoes_form.config_perfis.errors }}
    </div>
  {% endif %}
  {% if config_permissoes_form.config_perfis.field.widget.attrs.readonly %}
    {% if config_permissoes_form.config_perfis.field.widget.attrs.disabled %}
      {{ config_permissoes_form.config_perfis|addcss:'form-control' }}
      <input id="id_config_perfis" name="config_perfis" type="hidden" value="{% if config_permissoes_form.config_perfis.value or config_permissoes_form.config_perfis.value == 0 %}{{ config_permissoes_form.config_perfis.value|valor }}
    {% endif %}">
   {% else %}
     {{ config_permissoes_form.config_perfis|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ config_permissoes_form.config_perfis|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__config_permissoes__config_perfis -->
<!-- inicio__config_permissoes__config_paginas -->
<script type="text/javascript">$(document).ready(function(){$('#id_config_paginas').change(function(){document.getElementById("config_permissoes__config_paginas__div_acessar").style.display = 'none';});});</script>
<div class="col-md-12" id="config_permissoes__config_paginas__div">
<div class="form-group">
  <label id="config_permissoes__config_paginas__label">Página*</label>
  
  {% if config_permissoes_form.config_paginas.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ config_permissoes_form.config_paginas.errors }}
    </div>
  {% endif %}
  {% if config_permissoes_form.config_paginas.field.widget.attrs.readonly %}
    {% if config_permissoes_form.config_paginas.field.widget.attrs.disabled %}
      {{ config_permissoes_form.config_paginas|addcss:'form-control' }}
      <input id="id_config_paginas" name="config_paginas" type="hidden" value="{% if config_permissoes_form.config_paginas.value or config_permissoes_form.config_paginas.value == 0 %}{{ config_permissoes_form.config_paginas.value|valor }}
    {% endif %}">
   {% else %}
     {{ config_permissoes_form.config_paginas|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ config_permissoes_form.config_paginas|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__config_permissoes__config_paginas -->
<!-- inicio__config_permissoes__permite_listar -->
<div class="col-md-2" id="config_permissoes__permite_listar__div">
  <div class="form-group">
    <label id="config_permissoes__permite_listar__label">Permite Listar*</label>
    {% if config_permissoes_form.permite_listar.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ config_permissoes_form.permite_listar.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if config_permissoes_form.permite_listar.field.widget.attrs.readonly %}
        {% if config_permissoes_form.permite_listar.field.widget.attrs.disabled %}
          {{ config_permissoes_form.permite_listar|addcss:'form-control' }}
          <input id="id_permite_listar" name="permite_listar" type="hidden" value="{% if config_permissoes_form.permite_listar.value or config_permissoes_form.permite_listar.value == 0 %}{{ config_permissoes_form.permite_listar.value|valor }}{% endif %}">
        {% else %}
          {{ config_permissoes_form.permite_listar|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ config_permissoes_form.permite_listar|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__config_permissoes__permite_listar -->
<!-- inicio__config_permissoes__permite_cadastrar -->
<div class="col-md-2" id="config_permissoes__permite_cadastrar__div">
  <div class="form-group">
    <label id="config_permissoes__permite_cadastrar__label">Permite Cadastrar*</label>
    {% if config_permissoes_form.permite_cadastrar.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ config_permissoes_form.permite_cadastrar.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if config_permissoes_form.permite_cadastrar.field.widget.attrs.readonly %}
        {% if config_permissoes_form.permite_cadastrar.field.widget.attrs.disabled %}
          {{ config_permissoes_form.permite_cadastrar|addcss:'form-control' }}
          <input id="id_permite_cadastrar" name="permite_cadastrar" type="hidden" value="{% if config_permissoes_form.permite_cadastrar.value or config_permissoes_form.permite_cadastrar.value == 0 %}{{ config_permissoes_form.permite_cadastrar.value|valor }}{% endif %}">
        {% else %}
          {{ config_permissoes_form.permite_cadastrar|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ config_permissoes_form.permite_cadastrar|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__config_permissoes__permite_cadastrar -->
<!-- inicio__config_permissoes__permite_editar -->
<div class="col-md-2" id="config_permissoes__permite_editar__div">
  <div class="form-group">
    <label id="config_permissoes__permite_editar__label">Permite Editar*</label>
    {% if config_permissoes_form.permite_editar.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ config_permissoes_form.permite_editar.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if config_permissoes_form.permite_editar.field.widget.attrs.readonly %}
        {% if config_permissoes_form.permite_editar.field.widget.attrs.disabled %}
          {{ config_permissoes_form.permite_editar|addcss:'form-control' }}
          <input id="id_permite_editar" name="permite_editar" type="hidden" value="{% if config_permissoes_form.permite_editar.value or config_permissoes_form.permite_editar.value == 0 %}{{ config_permissoes_form.permite_editar.value|valor }}{% endif %}">
        {% else %}
          {{ config_permissoes_form.permite_editar|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ config_permissoes_form.permite_editar|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__config_permissoes__permite_editar -->
<!-- inicio__config_permissoes__permite_visualizar -->
<div class="col-md-2" id="config_permissoes__permite_visualizar__div">
  <div class="form-group">
    <label id="config_permissoes__permite_visualizar__label">Permite Visualizar*</label>
    {% if config_permissoes_form.permite_visualizar.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ config_permissoes_form.permite_visualizar.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if config_permissoes_form.permite_visualizar.field.widget.attrs.readonly %}
        {% if config_permissoes_form.permite_visualizar.field.widget.attrs.disabled %}
          {{ config_permissoes_form.permite_visualizar|addcss:'form-control' }}
          <input id="id_permite_visualizar" name="permite_visualizar" type="hidden" value="{% if config_permissoes_form.permite_visualizar.value or config_permissoes_form.permite_visualizar.value == 0 %}{{ config_permissoes_form.permite_visualizar.value|valor }}{% endif %}">
        {% else %}
          {{ config_permissoes_form.permite_visualizar|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ config_permissoes_form.permite_visualizar|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__config_permissoes__permite_visualizar -->
<!-- inicio__config_permissoes__permite_apagar -->
<div class="col-md-2" id="config_permissoes__permite_apagar__div">
  <div class="form-group">
    <label id="config_permissoes__permite_apagar__label">Permite Apagar*</label>
    {% if config_permissoes_form.permite_apagar.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ config_permissoes_form.permite_apagar.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if config_permissoes_form.permite_apagar.field.widget.attrs.readonly %}
        {% if config_permissoes_form.permite_apagar.field.widget.attrs.disabled %}
          {{ config_permissoes_form.permite_apagar|addcss:'form-control' }}
          <input id="id_permite_apagar" name="permite_apagar" type="hidden" value="{% if config_permissoes_form.permite_apagar.value or config_permissoes_form.permite_apagar.value == 0 %}{{ config_permissoes_form.permite_apagar.value|valor }}{% endif %}">
        {% else %}
          {{ config_permissoes_form.permite_apagar|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ config_permissoes_form.permite_apagar|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__config_permissoes__permite_apagar -->