{% load templatetags %}{% load static %}



<!-- inicio__usuarios__foto -->
<link rel="stylesheet" type="text/css" href="{% static 'jcrop/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jcrop/style-example.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jcrop/jquery.Jcrop.css' %}">
<script type="text/javascript" src="{% static 'jcrop/jquery.Jcrop.js' %}"></script>
<script type="text/javascript" src="{% static 'jcrop/jquery.SimpleCropper.js' %}"></script>
<div class="col-md-4" id="usuarios__foto__div">
  <div class="cropme" style="width: 270px; height: 270px;">
    <img src="{% if usuarios_form.foto.value and usuarios_form.foto.value != 'None' %}{{ usuarios_form.foto.value }}{% else %}{% static 'jcrop/foto_270px_270px.png' %}{% endif %}" name="foto_p">
    <input name="foto" type="hidden" value="{{ usuarios_form.foto.value }}">
  </div>
</div>
<script type="text/javascript">
    $('.cropme').simpleCropper();
</script>
<!-- fim__usuarios__foto -->
<!-- inicio__usuarios__username -->
<div class="col-md-8" id="usuarios__username__div">
  <div class="form-group">
    <label id="usuarios__username__label">Usuário (Utilizado no Login)*</label>
      {% if users_form.username.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ users_form.username.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ users_form.username|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__usuarios__username -->
<!-- inicio__usuarios__first_name -->
<div class="col-md-4" id="usuarios__first_name__div">
  <div class="form-group">
    <label id="usuarios__first_name__label">Nome*</label>
      {% if users_form.first_name.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ users_form.first_name.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ users_form.first_name|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__usuarios__first_name -->
<!-- inicio__usuarios__last_name -->
<div class="col-md-4" id="usuarios__last_name__div">
  <div class="form-group">
    <label id="usuarios__last_name__label">Sobrenome*</label>
      {% if users_form.last_name.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ users_form.last_name.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ users_form.last_name|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__usuarios__last_name -->
<!-- inicio__usuarios__email -->
<div class="col-md-8" id="usuarios__email__div">
  <div class="form-group">
    <label>E-mail</label>
        {% if users_form.email.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ users_form.email.errors }}
          </div>
        {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-envelope-o"></i>
      </div>
      {{ users_form.email|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__usuarios__email -->
<!-- inicio__usuarios__is_superuser -->
{% if user.is_superuser %}
<div class="col-md-4" id="usuarios__is_superuser__div">
    <div class="form-group">
      <label>
        <input type="checkbox" name="is_superuser" class="minimal" value="True"
        {% if users_form.is_superuser.value %}checked{% endif %} >
        {% comment %}{{ users_form.is_superuser }}{% endcomment %}
        É Super usuário?* {{ users_form.is_superuser.errors }}
      </label>
    </div>
</div>
{% endif %}
<!-- fim__usuarios__is_superuser -->
<!-- inicio__usuarios__is_staff -->
{% if user.is_superuser %}
<div class="col-md-4" id="usuarios__is_staff__div">
    <div class="form-group">
      <label>
        <input type="checkbox" name="is_staff" class="minimal" value="True"
        {% if users_form.is_staff.value %}checked{% endif %} >
        {% comment %}{{ users_form.is_staff }}{% endcomment %}
        É Administrador?* {{ users_form.is_staff.errors }}
      </label>
    </div>
</div>
{% endif %}
<!-- fim__usuarios__is_staff -->
<!-- inicio__usuarios__is_active -->
{% if user.is_superuser %}
<div class="col-md-4" id="usuarios__is_active__div">
    <div class="form-group">
      <label>
        <input type="checkbox" name="is_active" class="minimal" value="True"
        {% if users_form.is_active.value %}checked{% endif %} >
        {% comment %}{{ users_form.is_active }}{% endcomment %}
        Ativo?* {{ users_form.is_active.errors }}
      </label>
    </div>
</div>
{% endif %}
<!-- fim__usuarios__is_active -->
<!-- inicio__usuarios__config_perfis -->

<div class="col-md-4" id="usuarios__config_perfis__div">
<div class="form-group">
  <label id="usuarios__config_perfis__label">Perfil*</label>

  {% if usuarios_form.config_perfis.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ usuarios_form.config_perfis.errors }}
    </div>
  {% endif %}
  {% if usuarios_form.config_perfis.field.widget.attrs.readonly %}
    {% if usuarios_form.config_perfis.field.widget.attrs.disabled %}
      {{ usuarios_form.config_perfis|addcss:'form-control' }}
      <input id="id_config_perfis" name="config_perfis" type="hidden" value="{% if usuarios_form.config_perfis.value or usuarios_form.config_perfis.value == 0 %}{{ usuarios_form.config_perfis.value|valor }}
    {% endif %}">
   {% else %}
     {{ usuarios_form.config_perfis|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ usuarios_form.config_perfis|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__usuarios__config_perfis -->
<!-- inicio__usuarios__name -->
<div class="col-md-12" id="usuarios__name__div">
  <div class="form-group">
    <label id="usuarios__name__label">Nome Completo*</label>
      {% if usuarios_form.name.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ usuarios_form.name.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ usuarios_form.name|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__usuarios__name -->