{% load templatetags %}"{{ conta.nome_empresa }}"
"Informações de afastamento do trabalhador"
{% if show_fields.show_s2300_evttsvinicio or not s2300_evttsvinicio_id and 1 %}"Evento Trabalhador Sem Vínculo de Emprego/Estatutário - Início";{% endif %}{% if show_fields.show_dtiniafast or 1 %}"Data de início do afastamento";{% endif %}{% if show_fields.show_codmotafast or 1 %}"Afastamento";{% endif %}
{% for a in s2300_afastamento_lista %}{% if show_fields.show_s2300_evttsvinicio or  not s2300_evttsvinicio_id and 1 %}"{{ a.s2300_evttsvinicio }}";{% endif %}{% if show_fields.show_dtiniafast or 1 %}"{{ a.dtiniafast|date:"d/m/Y" }}";{% endif %}{% if show_fields.show_codmotafast or 1 %}"{{ a.get_codmotafast_display }}";{% endif %}
{% endfor %}