{% load templatetags %}{% load static %}



<!-- inicio__s1295_iderespinf__s1295_evttotconting -->
<div class="col-md-12" id="s1295_iderespinf__s1295_evttotconting__div">
  <div class="form-group">
    <label id="s1295_iderespinf__s1295_evttotconting__label">Responsável pelas informações*</label>
    {% if not for_print %}{% if s1295_iderespinf_form.s1295_evttotconting.value %}
        <a href="{% url 's1295_evttotconting_salvar' hash='{}'|json_return_page:'s1295_iderespinf_salvar'|json_return_hash:hash|json_id:s1295_iderespinf_form.s1295_evttotconting.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s1295_iderespinf_form.s1295_evttotconting.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1295_iderespinf_form.s1295_evttotconting.errors }}
      </div>
    {% endif %}
    {% if s1295_iderespinf_form.s1295_evttotconting.field.widget.attrs.readonly %}
      {% if s1295_iderespinf_form.s1295_evttotconting.field.widget.attrs.disabled %}
        {{ s1295_iderespinf_form.s1295_evttotconting|addcss:'form-control' }}
        <input id="id_s1295_evttotconting" name="s1295_evttotconting" type="hidden" value="{{ s1295_iderespinf_form.s1295_evttotconting.value }}">
      {% else %}
        {{ s1295_iderespinf_form.s1295_evttotconting|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1295_iderespinf_form.s1295_evttotconting|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1295_iderespinf__s1295_evttotconting -->
<!-- inicio__s1295_iderespinf__nmresp -->
<div class="col-md-6" id="s1295_iderespinf__nmresp__div">
  <div class="form-group">
    <label id="s1295_iderespinf__nmresp__label">Nome do Responsável pelas Informações*</label>
      {% if s1295_iderespinf_form.nmresp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1295_iderespinf_form.nmresp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1295_iderespinf_form.nmresp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1295_iderespinf__nmresp -->
<!-- inicio__s1295_iderespinf__cpfresp -->
<div class="col-md-6" id="s1295_iderespinf__cpfresp__div">
  <div class="form-group">
    <label id="s1295_iderespinf__cpfresp__label">CPF*</label>
      {% if s1295_iderespinf_form.cpfresp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1295_iderespinf_form.cpfresp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1295_iderespinf_form.cpfresp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1295_iderespinf__cpfresp -->
<!-- inicio__s1295_iderespinf__telefone -->
<div class="col-md-6" id="s1295_iderespinf__telefone__div">
  <div class="form-group">
    <label id="s1295_iderespinf__telefone__label">Telefone*</label>
      {% if s1295_iderespinf_form.telefone.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1295_iderespinf_form.telefone.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1295_iderespinf_form.telefone|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1295_iderespinf__telefone -->
<!-- inicio__s1295_iderespinf__email -->
<div class="col-md-6" id="s1295_iderespinf__email__div">
  <div class="form-group">
    <label id="s1295_iderespinf__email__label">E-mail</label>
      {% if s1295_iderespinf_form.email.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1295_iderespinf_form.email.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1295_iderespinf_form.email|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1295_iderespinf__email -->