{% load templatetags %}{% load static %}



<!-- inicio__s2399_infosaudecolet__s2399_ideestablot -->
<div class="col-md-12" id="s2399_infosaudecolet__s2399_ideestablot__div">
  <div class="form-group">
    <label id="s2399_infosaudecolet__s2399_ideestablot__label">Informações de plano privado coletivo empresarial de assistência à saúde*</label>
    {% if not for_print %}{% if s2399_infosaudecolet_form.s2399_ideestablot.value %}
        <a href="{% url 's2399_ideestablot_salvar' pk=s2399_infosaudecolet_form.s2399_ideestablot.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2399_infosaudecolet_form.s2399_ideestablot.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2399_infosaudecolet_form.s2399_ideestablot.errors }}
      </div>
    {% endif %}
    {% if s2399_infosaudecolet_form.s2399_ideestablot.field.widget.attrs.readonly %}
      {% if s2399_infosaudecolet_form.s2399_ideestablot.field.widget.attrs.disabled %}
        {{ s2399_infosaudecolet_form.s2399_ideestablot|addcss:'form-control' }}
        <input id="id_s2399_ideestablot" name="s2399_ideestablot" type="hidden" value="{{ s2399_infosaudecolet_form.s2399_ideestablot.value }}">
      {% else %}
        {{ s2399_infosaudecolet_form.s2399_ideestablot|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2399_infosaudecolet_form.s2399_ideestablot|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2399_infosaudecolet__s2399_ideestablot -->