{% load templatetags %}{% load static %}



<!-- inicio__s2399_ideestablot__s2399_dmdev -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2399_dmdev').change(function(){
       document.getElementById("s2399_ideestablot__s2399_dmdev__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2399_ideestablot__s2399_dmdev__div">
  <div class="form-group">
    <label id="s2399_ideestablot__s2399_dmdev__label">Registro que identifica o Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração*</label>
    {% if not for_print %}
      {% if s2399_ideestablot_form.s2399_dmdev.value %}
        <a id="s2399_ideestablot__s2399_dmdev__div_acessar" href="{% url 's2399_dmdev_salvar' pk=s2399_ideestablot_form.s2399_dmdev.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s2399_ideestablot_form.s2399_dmdev.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2399_ideestablot_form.s2399_dmdev.errors }}
      </div>
    {% endif %}
    {% if s2399_ideestablot_form.s2399_dmdev.field.widget.attrs.readonly %}
      {% if s2399_ideestablot_form.s2399_dmdev.field.widget.attrs.disabled %}
        {{ s2399_ideestablot_form.s2399_dmdev|addcss:'form-control' }}
        <input id="id_s2399_dmdev" name="s2399_dmdev" type="hidden" value="{% if s2399_ideestablot_form.s2399_dmdev.value or s2399_ideestablot_form.s2399_dmdev.value == 0 %}{{ s2399_ideestablot_form.s2399_dmdev.value|valor }}{% endif %}">
      {% else %}
        {{ s2399_ideestablot_form.s2399_dmdev|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2399_ideestablot_form.s2399_dmdev|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2399_ideestablot__s2399_dmdev -->
<!-- inicio__s2399_ideestablot__tpinsc -->
<div class="col-md-3" id="s2399_ideestablot__tpinsc__div">
  <div class="form-group">
    <label id="s2399_ideestablot__tpinsc__label">Tipo de inscrição*</label>
    {% if s2399_ideestablot_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2399_ideestablot_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2399_ideestablot_form.tpinsc.field.widget.attrs.readonly %}
        {% if s2399_ideestablot_form.tpinsc.field.widget.attrs.disabled %}
          {{ s2399_ideestablot_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s2399_ideestablot_form.tpinsc.value or s2399_ideestablot_form.tpinsc.value == 0 %}{{ s2399_ideestablot_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s2399_ideestablot_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2399_ideestablot_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2399_ideestablot__tpinsc -->
<!-- inicio__s2399_ideestablot__nrinsc -->
<div class="col-md-3" id="s2399_ideestablot__nrinsc__div">
  <div class="form-group">
    <label id="s2399_ideestablot__nrinsc__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s2399_ideestablot_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2399_ideestablot_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2399_ideestablot_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2399_ideestablot__nrinsc -->
<!-- inicio__s2399_ideestablot__codlotacao -->
<div class="col-md-3" id="s2399_ideestablot__codlotacao__div">
  <div class="form-group">
    <label id="s2399_ideestablot__codlotacao__label">Código da Lotação*</label>
      {% if s2399_ideestablot_form.codlotacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2399_ideestablot_form.codlotacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2399_ideestablot_form.codlotacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2399_ideestablot__codlotacao -->