{% load templatetags %}{% load static %}



<!-- inicio__s2399_verbasresc__s2399_evttsvtermino -->
<div class="col-md-12" id="s2399_verbasresc__s2399_evttsvtermino__div">
  <div class="form-group">
    <label id="s2399_verbasresc__s2399_evttsvtermino__label">Registro onde são prestadas as informações relativas às verbas devidas ao trabalhador na rescisão contratual.*</label>
    {% if not for_print %}{% if s2399_verbasresc_form.s2399_evttsvtermino.value %}
        <a href="{% url 's2399_evttsvtermino_salvar' pk=s2399_verbasresc_form.s2399_evttsvtermino.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2399_verbasresc_form.s2399_evttsvtermino.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2399_verbasresc_form.s2399_evttsvtermino.errors }}
      </div>
    {% endif %}
    {% if s2399_verbasresc_form.s2399_evttsvtermino.field.widget.attrs.readonly %}
      {% if s2399_verbasresc_form.s2399_evttsvtermino.field.widget.attrs.disabled %}
        {{ s2399_verbasresc_form.s2399_evttsvtermino|addcss:'form-control' }}
        <input id="id_s2399_evttsvtermino" name="s2399_evttsvtermino" type="hidden" value="{{ s2399_verbasresc_form.s2399_evttsvtermino.value }}">
      {% else %}
        {{ s2399_verbasresc_form.s2399_evttsvtermino|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2399_verbasresc_form.s2399_evttsvtermino|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2399_verbasresc__s2399_evttsvtermino -->