{% load templatetags %}{% load static %}



<!-- inicio__s2399_procjudtrab__s2399_verbasresc -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2399_verbasresc').change(function(){
       document.getElementById("s2399_procjudtrab__s2399_verbasresc__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2399_procjudtrab__s2399_verbasresc__div">
  <div class="form-group">
    <label id="s2399_procjudtrab__s2399_verbasresc__label">Informações sobre a existência de processos judiciais do trabalhador com decisão favorável quanto à não incidência ou alterações na incidência de contribuições sociais e/ou Imposto de Renda sobre as rubricas apresentadas nos subregistros de {dmDev}.*</label>
    {% if not for_print %}
      {% if s2399_procjudtrab_form.s2399_verbasresc.value %}
        <a id="s2399_procjudtrab__s2399_verbasresc__div_acessar" href="{% url 's2399_verbasresc_salvar' pk=s2399_procjudtrab_form.s2399_verbasresc.value %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s2399_procjudtrab_form.s2399_verbasresc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2399_procjudtrab_form.s2399_verbasresc.errors }}
      </div>
    {% endif %}
    {% if s2399_procjudtrab_form.s2399_verbasresc.field.widget.attrs.readonly %}
      {% if s2399_procjudtrab_form.s2399_verbasresc.field.widget.attrs.disabled %}
        {{ s2399_procjudtrab_form.s2399_verbasresc|addcss:'form-control' }}
        <input id="id_s2399_verbasresc" name="s2399_verbasresc" type="hidden" value="{% if s2399_procjudtrab_form.s2399_verbasresc.value or s2399_procjudtrab_form.s2399_verbasresc.value == 0 %}{{ s2399_procjudtrab_form.s2399_verbasresc.value|valor }}{% endif %}">
      {% else %}
        {{ s2399_procjudtrab_form.s2399_verbasresc|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2399_procjudtrab_form.s2399_verbasresc|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2399_procjudtrab__s2399_verbasresc -->
<!-- inicio__s2399_procjudtrab__tptrib -->
<div class="col-md-3" id="s2399_procjudtrab__tptrib__div">
  <div class="form-group">
    <label id="s2399_procjudtrab__tptrib__label">Abrangência da Decisão*</label>
    {% if s2399_procjudtrab_form.tptrib.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2399_procjudtrab_form.tptrib.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2399_procjudtrab_form.tptrib.field.widget.attrs.readonly %}
        {% if s2399_procjudtrab_form.tptrib.field.widget.attrs.disabled %}
          {{ s2399_procjudtrab_form.tptrib|addcss:'form-control' }}
          <input id="id_tptrib" name="tptrib" type="hidden" value="{% if s2399_procjudtrab_form.tptrib.value or s2399_procjudtrab_form.tptrib.value == 0 %}{{ s2399_procjudtrab_form.tptrib.value|valor }}{% endif %}">
        {% else %}
          {{ s2399_procjudtrab_form.tptrib|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2399_procjudtrab_form.tptrib|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2399_procjudtrab__tptrib -->
<!-- inicio__s2399_procjudtrab__nrprocjud -->
<div class="col-md-3" id="s2399_procjudtrab__nrprocjud__div">
  <div class="form-group">
    <label id="s2399_procjudtrab__nrprocjud__label">Número do Processo Judicial*</label>
      {% if s2399_procjudtrab_form.nrprocjud.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2399_procjudtrab_form.nrprocjud.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2399_procjudtrab_form.nrprocjud|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2399_procjudtrab__nrprocjud -->
<!-- inicio__s2399_procjudtrab__codsusp -->
<div class="col-md-3" id="s2399_procjudtrab__codsusp__div">
  <div class="form-group">
    <label id="s2399_procjudtrab__codsusp__label">Código do Indicativo da Suspensão</label>
      {% if s2399_procjudtrab_form.codsusp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2399_procjudtrab_form.codsusp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2399_procjudtrab_form.codsusp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2399_procjudtrab__codsusp -->