{% load templatetags %}{% load static %}



<!-- inicio__r2070_evtpgtosdivs__evtpgtosdivs -->
<div class="col-md-12" id="r2070_evtpgtosdivs__evtpgtosdivs__div">
  <h4>Evento Pagamentos ou Créditos Efetuados - Retenções na Fonte de IR, CSLL, Cofins e PIS/PASEP</h4>
</div>
<!-- fim__r2070_evtpgtosdivs__evtpgtosdivs -->

<!-- inicio__r2070_evtpgtosdivs__identidade -->
<div class="col-md-6">
  <div class="form-group">
    <label>Identificação única do evento</label>
    <div name="identidade" class="input-group" style="width: 100%;">
      <input type="text" name="identidade" class="form-control" value="{{ dict_fields|get_value_from_dict:'identidade' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__identidade -->

<!-- inicio__r2070_evtpgtosdivs__ideevento -->
<div class="col-md-12" id="r2070_evtpgtosdivs__ideevento__div">
  <h4>Informações de Identificação do Evento</h4>
</div>
<!-- fim__r2070_evtpgtosdivs__ideevento -->

<!-- inicio__r2070_evtpgtosdivs__indretif -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informe [1] para arquivo original ou [2] para arquivo de retificação</label>
    <div class="input-group" style="width: 100%;">
      <select name="indretif" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'indretif' %}selected="selected"{% endifequal %} >1 - Arquivo original</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'indretif' %}selected="selected"{% endifequal %} >2 - Arquivo de Retificação.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__indretif -->

<!-- inicio__r2070_evtpgtosdivs__nrrecibo -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o número do recibo do arquivo a ser retificado</label>
    <div name="nrrecibo" class="input-group" style="width: 100%;">
      <input type="text" name="nrrecibo" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrrecibo' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__nrrecibo -->

<!-- inicio__r2070_evtpgtosdivs__perapur -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar o ano/mês de referência das informações no formato AAAA-MM</label>
    <div name="perapur" class="input-group" style="width: 100%;">
      <input type="text" name="perapur" class="form-control" value="{{ dict_fields|get_value_from_dict:'perapur' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__perapur -->

<!-- inicio__r2070_evtpgtosdivs__tpamb -->
<div class="col-md-6">
  <div class="form-group">
    <label>Identificação do ambiente</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpamb" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpamb' %}selected="selected"{% endifequal %} >1 - Produção</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpamb' %}selected="selected"{% endifequal %} >2 - Produção restrita.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__tpamb -->

<!-- inicio__r2070_evtpgtosdivs__procemi -->
<div class="col-md-6">
  <div class="form-group">
    <label>Processo de emissão do evento</label>
    <div class="input-group" style="width: 100%;">
      <select name="procemi" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'procemi' %}selected="selected"{% endifequal %} >1 - Aplicativo do contribuinte</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'procemi' %}selected="selected"{% endifequal %} >2 - Aplicativo governamental.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__procemi -->

<!-- inicio__r2070_evtpgtosdivs__verproc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Versão do processo de emissão do evento</label>
    <div name="verproc" class="input-group" style="width: 100%;">
      <input type="text" name="verproc" class="form-control" value="{{ dict_fields|get_value_from_dict:'verproc' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__verproc -->

<!-- inicio__r2070_evtpgtosdivs__idecontri -->
<div class="col-md-12" id="r2070_evtpgtosdivs__idecontri__div">
  <h4>Informações de identificação do contribuinte</h4>
</div>
<!-- fim__r2070_evtpgtosdivs__idecontri -->

<!-- inicio__r2070_evtpgtosdivs__tpinsc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o código correspondente ao tipo de inscrição</label>
    <div name="tpinsc" class="input-group" style="width: 100%;">
      <input type="text" name="tpinsc" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'tpinsc' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__tpinsc -->

<!-- inicio__r2070_evtpgtosdivs__nrinsc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}</label>
    <div name="nrinsc" class="input-group" style="width: 100%;">
      <input type="text" name="nrinsc" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinsc' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__nrinsc -->

<!-- inicio__r2070_evtpgtosdivs__idebenef -->
<div class="col-md-12" id="r2070_evtpgtosdivs__idebenef__div">
  <h4>Identificação do Beneficiário e do Rendimento</h4>
</div>
<!-- fim__r2070_evtpgtosdivs__idebenef -->

<!-- inicio__r2070_evtpgtosdivs__codpgto -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o código do pagamento conforme tabela 01 - Códigos de Pagamentos</label>
    <div name="codpgto" class="input-group" style="width: 100%;">
      <input type="text" name="codpgto" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'codpgto' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__codpgto -->

<!-- inicio__r2070_evtpgtosdivs__tpinscbenef -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de Beneficiário</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpinscbenef" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpinscbenef' %}selected="selected"{% endifequal %} >1 - Pessoa Jurídica</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpinscbenef' %}selected="selected"{% endifequal %} >2 - Pessoa Física.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__tpinscbenef -->

<!-- inicio__r2070_evtpgtosdivs__nrinscbenef -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o número de inscrição (CNPJ/CPF) do Beneficiário do pagamento, de acordo com {tpInscBenef}</label>
    <div name="nrinscbenef" class="input-group" style="width: 100%;">
      <input type="text" name="nrinscbenef" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinscbenef' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__nrinscbenef -->

<!-- inicio__r2070_evtpgtosdivs__nmrazaobenef -->
<div class="col-md-6">
  <div class="form-group">
    <label>Nome/Razão Social do Beneficiário</label>
    <div name="nmrazaobenef" class="input-group" style="width: 100%;">
      <input type="text" name="nmrazaobenef" class="form-control" value="{{ dict_fields|get_value_from_dict:'nmrazaobenef' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__nmrazaobenef -->

<!-- inicio__r2070_evtpgtosdivs__infopgto -->
<div class="col-md-12" id="r2070_evtpgtosdivs__infopgto__div">
  <h4>Informações do Pagamento</h4>
</div>
<!-- fim__r2070_evtpgtosdivs__infopgto -->

<!-- inicio__r2070_evtpgtosdivs__versao -->
<div class="col-md-3">
  <div class="form-group">
    <label>Versão</label>
    <div class="input-group" style="width: 100%;">
      <select name="versao" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="v1_03_02" {% ifequal 'v1_03_02' dict_fields|get_value_from_dict:'versao' %}selected="selected"{% endifequal %} >Versão 1.03.02</option>
        <option value="v1_04_00" {% ifequal 'v1_04_00' dict_fields|get_value_from_dict:'versao' %}selected="selected"{% endifequal %} >Versão 1.04.00</option>
        <option value="v2_00_00" {% ifequal 'v2_00_00' dict_fields|get_value_from_dict:'versao' %}selected="selected"{% endifequal %} >Versão 2.00.00</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__versao -->

<!-- inicio__r2070_evtpgtosdivs__transmissor_lote_efdreinf -->
<div class="col-md-3">
  <div class="form-group">
    <label>Transmissor</label>
    <select name="transmissor_lote_efdreinf" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in transmissor_lote_efdreinf_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'transmissor_lote_efdreinf' %}selected="selected"{% endifequal %}>{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__transmissor_lote_efdreinf -->

<!-- inicio__r2070_evtpgtosdivs__status -->
<div class="col-md-3">
  <div class="form-group">
    <label>Status</label>
    <div class="input-group" style="width: 100%;">
      <select name="status" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Cadastrado</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Importado</option>
        <option value="10" {% ifequal 10 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Aguardando envio</option>
        <option value="11" {% ifequal 11 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Enviado</option>
        <option value="12" {% ifequal 12 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro no Envio/Consulta</option>
        <option value="13" {% ifequal 13 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Processado</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Duplicado</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Gerado</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro na Geração</option>
        <option value="5" {% ifequal 5 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Assinado</option>
        <option value="6" {% ifequal 6 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro na Assinatura</option>
        <option value="7" {% ifequal 7 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Validado</option>
        <option value="8" {% ifequal 8 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro na validação</option>
        <option value="9" {% ifequal 9 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Aguardando envio de precedência</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__status -->

<!-- inicio__r2070_evtpgtosdivs__cdretorno -->
<div class="col-md-4">
  <div class="form-group">
    <label>Código do Retorno</label>
    <div name="cdretorno" class="input-group" style="width: 100%;">
      <input type="text" name="cdretorno" class="form-control" value="{{ dict_fields|get_value_from_dict:'cdretorno' }}">
    </div>
  </div>
</div>
<!-- fim__r2070_evtpgtosdivs__cdretorno -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_evtpgtosdivs" value="1" {% if show_fields|get_value_from_dict:'show_evtpgtosdivs' %}checked{% endif %} >Evento Pagamentos ou Créditos Efetuados - Retenções na Fonte de IR, CSLL, Cofins e PIS/PASEP
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_identidade" value="1" {% if show_fields|get_value_from_dict:'show_identidade' %}checked{% endif %} >Identificação única do evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ideevento" value="1" {% if show_fields|get_value_from_dict:'show_ideevento' %}checked{% endif %} >Informações de Identificação do Evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indretif" value="1" {% if show_fields|get_value_from_dict:'show_indretif' %}checked{% endif %} >Informe [1] para arquivo original ou [2] para arquivo de retificação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrrecibo" value="1" {% if show_fields|get_value_from_dict:'show_nrrecibo' %}checked{% endif %} >Preencher com o número do recibo do arquivo a ser retificado
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_perapur" value="1" {% if show_fields|get_value_from_dict:'show_perapur' %}checked{% endif %} >Informar o ano/mês de referência das informações no formato AAAA-MM
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpamb" value="1" {% if show_fields|get_value_from_dict:'show_tpamb' %}checked{% endif %} >Identificação do ambiente
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_procemi" value="1" {% if show_fields|get_value_from_dict:'show_procemi' %}checked{% endif %} >Processo de emissão do evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_verproc" value="1" {% if show_fields|get_value_from_dict:'show_verproc' %}checked{% endif %} >Versão do processo de emissão do evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_idecontri" value="1" {% if show_fields|get_value_from_dict:'show_idecontri' %}checked{% endif %} >Informações de identificação do contribuinte
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpinsc" value="1" {% if show_fields|get_value_from_dict:'show_tpinsc' %}checked{% endif %} >Preencher com o código correspondente ao tipo de inscrição
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinsc" value="1" {% if show_fields|get_value_from_dict:'show_nrinsc' %}checked{% endif %} >Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_idebenef" value="1" {% if show_fields|get_value_from_dict:'show_idebenef' %}checked{% endif %} >Identificação do Beneficiário e do Rendimento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codpgto" value="1" {% if show_fields|get_value_from_dict:'show_codpgto' %}checked{% endif %} >Preencher com o código do pagamento conforme tabela 01 - Códigos de Pagamentos
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpinscbenef" value="1" {% if show_fields|get_value_from_dict:'show_tpinscbenef' %}checked{% endif %} >Tipo de Beneficiário
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinscbenef" value="1" {% if show_fields|get_value_from_dict:'show_nrinscbenef' %}checked{% endif %} >Preencher com o número de inscrição (CNPJ/CPF) do Beneficiário do pagamento, de acordo com {tpInscBenef}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nmrazaobenef" value="1" {% if show_fields|get_value_from_dict:'show_nmrazaobenef' %}checked{% endif %} >Nome/Razão Social do Beneficiário
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_infopgto" value="1" {% if show_fields|get_value_from_dict:'show_infopgto' %}checked{% endif %} >Informações do Pagamento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_versao" value="1" {% if show_fields|get_value_from_dict:'show_versao' %}checked{% endif %} >Versão
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_transmissor_lote_efdreinf" value="1" {% if show_fields|get_value_from_dict:'show_transmissor_lote_efdreinf' %}checked{% endif %} >Transmissor
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_status" value="1" {% if show_fields|get_value_from_dict:'show_status' %}checked{% endif %} >Status
    </div>
</div>


