{% load templatetags %}{% load static %}



<!-- inicio__r1070_alteracao__r1070_evttabprocesso -->
<div class="col-md-12">
  <div class="form-group">
    <label>Alteração das informações</label>
    <select name="r1070_evttabprocesso" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in r1070_evttabprocesso_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'r1070_evttabprocesso' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__r1070_alteracao__r1070_evttabprocesso -->

<!-- inicio__r1070_alteracao__ideprocesso -->
<div class="col-md-12" id="r1070_alteracao__ideprocesso__div">
  <h4>Informações de identificação do Processo e validade das informações que estão sendo incluídas</h4>
</div>
<!-- fim__r1070_alteracao__ideprocesso -->

<!-- inicio__r1070_alteracao__tpproc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o código correspondente ao tipo de processo</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpproc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpproc' %}selected="selected"{% endifequal %} >1 - Administrativo</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpproc' %}selected="selected"{% endifequal %} >2 - Judicial.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r1070_alteracao__tpproc -->

<!-- inicio__r1070_alteracao__nrproc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar o número do processo administrativo/judicial</label>
    <div name="nrproc" class="input-group" style="width: 100%;">
      <input type="text" name="nrproc" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrproc' }}">
    </div>
  </div>
</div>
<!-- fim__r1070_alteracao__nrproc -->

<!-- inicio__r1070_alteracao__inivalid -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM</label>
    <div class="input-group" style="width: 100%;">
      <select name="inivalid" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="2017-01" {% ifequal '2017-01' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Janeiro/2017</option>
        <option value="2017-02" {% ifequal '2017-02' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Fevereiro/2017</option>
        <option value="2017-03" {% ifequal '2017-03' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Março/2017</option>
        <option value="2017-04" {% ifequal '2017-04' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Abril/2017</option>
        <option value="2017-05" {% ifequal '2017-05' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Maio/2017</option>
        <option value="2017-06" {% ifequal '2017-06' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Junho/2017</option>
        <option value="2017-07" {% ifequal '2017-07' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Julho/2017</option>
        <option value="2017-08" {% ifequal '2017-08' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Agosto/2017</option>
        <option value="2017-09" {% ifequal '2017-09' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Setembro/2017</option>
        <option value="2017-10" {% ifequal '2017-10' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Outubro/2017</option>
        <option value="2017-11" {% ifequal '2017-11' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Novembro/2017</option>
        <option value="2017-12" {% ifequal '2017-12' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Dezembro/2017</option>
        <option value="2018-01" {% ifequal '2018-01' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Janeiro/2018</option>
        <option value="2018-02" {% ifequal '2018-02' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Fevereiro/2018</option>
        <option value="2018-03" {% ifequal '2018-03' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Março/2018</option>
        <option value="2018-04" {% ifequal '2018-04' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Abril/2018</option>
        <option value="2018-05" {% ifequal '2018-05' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Maio/2018</option>
        <option value="2018-06" {% ifequal '2018-06' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Junho/2018</option>
        <option value="2018-07" {% ifequal '2018-07' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Julho/2018</option>
        <option value="2018-08" {% ifequal '2018-08' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Agosto/2018</option>
        <option value="2018-09" {% ifequal '2018-09' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Setembro/2018</option>
        <option value="2018-10" {% ifequal '2018-10' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Outubro/2018</option>
        <option value="2018-11" {% ifequal '2018-11' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Novembro/2018</option>
        <option value="2018-12" {% ifequal '2018-12' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Dezembro/2018</option>
        <option value="2019-01" {% ifequal '2019-01' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Janeiro/2019</option>
        <option value="2019-02" {% ifequal '2019-02' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Fevereiro/2019</option>
        <option value="2019-03" {% ifequal '2019-03' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Março/2019</option>
        <option value="2019-04" {% ifequal '2019-04' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Abril/2019</option>
        <option value="2019-05" {% ifequal '2019-05' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Maio/2019</option>
        <option value="2019-06" {% ifequal '2019-06' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Junho/2019</option>
        <option value="2019-07" {% ifequal '2019-07' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Julho/2019</option>
        <option value="2019-08" {% ifequal '2019-08' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Agosto/2019</option>
        <option value="2019-09" {% ifequal '2019-09' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Setembro/2019</option>
        <option value="2019-10" {% ifequal '2019-10' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Outubro/2019</option>
        <option value="2019-11" {% ifequal '2019-11' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Novembro/2019</option>
        <option value="2019-12" {% ifequal '2019-12' dict_fields|get_value_from_dict:'inivalid' %}selected="selected"{% endifequal %} >Dezembro/2019</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r1070_alteracao__inivalid -->

<!-- inicio__r1070_alteracao__fimvalid -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o mês e ano de término da validade das informações, se houver</label>
    <div class="input-group" style="width: 100%;">
      <select name="fimvalid" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="2017-01" {% ifequal '2017-01' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Janeiro/2017</option>
        <option value="2017-02" {% ifequal '2017-02' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Fevereiro/2017</option>
        <option value="2017-03" {% ifequal '2017-03' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Março/2017</option>
        <option value="2017-04" {% ifequal '2017-04' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Abril/2017</option>
        <option value="2017-05" {% ifequal '2017-05' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Maio/2017</option>
        <option value="2017-06" {% ifequal '2017-06' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Junho/2017</option>
        <option value="2017-07" {% ifequal '2017-07' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Julho/2017</option>
        <option value="2017-08" {% ifequal '2017-08' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Agosto/2017</option>
        <option value="2017-09" {% ifequal '2017-09' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Setembro/2017</option>
        <option value="2017-10" {% ifequal '2017-10' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Outubro/2017</option>
        <option value="2017-11" {% ifequal '2017-11' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Novembro/2017</option>
        <option value="2017-12" {% ifequal '2017-12' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Dezembro/2017</option>
        <option value="2018-01" {% ifequal '2018-01' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Janeiro/2018</option>
        <option value="2018-02" {% ifequal '2018-02' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Fevereiro/2018</option>
        <option value="2018-03" {% ifequal '2018-03' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Março/2018</option>
        <option value="2018-04" {% ifequal '2018-04' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Abril/2018</option>
        <option value="2018-05" {% ifequal '2018-05' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Maio/2018</option>
        <option value="2018-06" {% ifequal '2018-06' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Junho/2018</option>
        <option value="2018-07" {% ifequal '2018-07' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Julho/2018</option>
        <option value="2018-08" {% ifequal '2018-08' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Agosto/2018</option>
        <option value="2018-09" {% ifequal '2018-09' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Setembro/2018</option>
        <option value="2018-10" {% ifequal '2018-10' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Outubro/2018</option>
        <option value="2018-11" {% ifequal '2018-11' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Novembro/2018</option>
        <option value="2018-12" {% ifequal '2018-12' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Dezembro/2018</option>
        <option value="2019-01" {% ifequal '2019-01' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Janeiro/2019</option>
        <option value="2019-02" {% ifequal '2019-02' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Fevereiro/2019</option>
        <option value="2019-03" {% ifequal '2019-03' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Março/2019</option>
        <option value="2019-04" {% ifequal '2019-04' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Abril/2019</option>
        <option value="2019-05" {% ifequal '2019-05' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Maio/2019</option>
        <option value="2019-06" {% ifequal '2019-06' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Junho/2019</option>
        <option value="2019-07" {% ifequal '2019-07' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Julho/2019</option>
        <option value="2019-08" {% ifequal '2019-08' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Agosto/2019</option>
        <option value="2019-09" {% ifequal '2019-09' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Setembro/2019</option>
        <option value="2019-10" {% ifequal '2019-10' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Outubro/2019</option>
        <option value="2019-11" {% ifequal '2019-11' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Novembro/2019</option>
        <option value="2019-12" {% ifequal '2019-12' dict_fields|get_value_from_dict:'fimvalid' %}selected="selected"{% endifequal %} >Dezembro/2019</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r1070_alteracao__fimvalid -->

<!-- inicio__r1070_alteracao__indautoria -->
<div class="col-md-6">
  <div class="form-group">
    <label>Indicativo da autoria da ação judicial</label>
    <div class="input-group" style="width: 100%;">
      <select name="indautoria" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'indautoria' %}selected="selected"{% endifequal %} >1 - Próprio contribuinte</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'indautoria' %}selected="selected"{% endifequal %} >2 - Outra entidade ou empresa.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r1070_alteracao__indautoria -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r1070_evttabprocesso" value="1" {% if show_fields|get_value_from_dict:'show_r1070_evttabprocesso' %}checked{% endif %} >Alteração das informações
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ideprocesso" value="0" {% if show_fields|get_value_from_dict:'show_ideprocesso' %}checked{% endif %} >Informações de identificação do Processo e validade das informações que estão sendo incluídas
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpproc" value="1" {% if show_fields|get_value_from_dict:'show_tpproc' %}checked{% endif %} >Preencher com o código correspondente ao tipo de processo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrproc" value="1" {% if show_fields|get_value_from_dict:'show_nrproc' %}checked{% endif %} >Informar o número do processo administrativo/judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_inivalid" value="1" {% if show_fields|get_value_from_dict:'show_inivalid' %}checked{% endif %} >Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_fimvalid" value="0" {% if show_fields|get_value_from_dict:'show_fimvalid' %}checked{% endif %} >Preencher com o mês e ano de término da validade das informações, se houver
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indautoria" value="1" {% if show_fields|get_value_from_dict:'show_indautoria' %}checked{% endif %} >Indicativo da autoria da ação judicial
    </div>
</div>


