{% load templatetags %}{% load static %}



<!-- inicio__r9002_totapurqui__r9002_infototal -->
<div class="col-md-12">
  <div class="form-group">
    <label>Totalizador das bases de cálculo e das retenções dos tributos com período de apuração quinzenal</label>
    <select name="r9002_infototal" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r9002_infototal_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r9002_infototal' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r9002_totapurqui__r9002_infototal -->

<!-- inicio__r9002_totapurqui__perapurqui -->
<div class="col-md-6">
  <div class="form-group">
    <label>Período de apuração quinzenal do Código de Receita - CR</label>
    <div class="input-group" style="width: 100%;">
      <select name="perapurqui" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'perapurqui' %}selected="selected"{% endifequal %} >1 - O dia ("DD") da data informada em {dtFG} no evento de origem é de 1 a 15</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'perapurqui' %}selected="selected"{% endifequal %} >2 - O dia ("DD") da data informada em {dtFG} no evento de origem é de 16 a 31.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r9002_totapurqui__perapurqui -->

<!-- inicio__r9002_totapurqui__crqui -->
<div class="col-md-6">
  <div class="form-group">
    <label>Código de Receita - CR relativo a tributo que possui período de apuração quinzenal</label>
    <div name="crqui" class="input-group" style="width: 100%;">
      <input type="text" name="crqui" class="form-control" value="{{ dict_fields|get_value_from_dict:'crqui' }}">
    </div>
  </div>
</div>
<!-- fim__r9002_totapurqui__crqui -->

<!-- inicio__r9002_totapurqui__vlrbasecrqui -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da base do tributo com período de apuração quinzenal</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrbasecrqui" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrbasecrqui' }}">
    </div>
  </div>
</div>
<!-- fim__r9002_totapurqui__vlrbasecrqui -->

<!-- inicio__r9002_totapurqui__vlrcrqui -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do tributo retido com período de apuração quinzenal, calculado segundo as regras estabelecidas na legislação em vigor</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrcrqui" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrcrqui' }}">
    </div>
  </div>
</div>
<!-- fim__r9002_totapurqui__vlrcrqui -->

<!-- inicio__r9002_totapurqui__vlrbasecrquisusp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da base do tributo com período de apuração quinzenal, com exigibilidade suspensa</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrbasecrquisusp" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrbasecrquisusp' }}">
    </div>
  </div>
</div>
<!-- fim__r9002_totapurqui__vlrbasecrquisusp -->

<!-- inicio__r9002_totapurqui__vlrcrquisusp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do tributo com período de apuração quinzenal, que deixou de ser retido</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrcrquisusp" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrcrquisusp' }}">
    </div>
  </div>
</div>
<!-- fim__r9002_totapurqui__vlrcrquisusp -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r9002_infototal" value="1" {% if show_fields|get_value_from_dict:'show_r9002_infototal' %}checked{% endif %} >Totalizador das bases de cálculo e das retenções dos tributos com período de apuração quinzenal
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_perapurqui" value="1" {% if show_fields|get_value_from_dict:'show_perapurqui' %}checked{% endif %} >Período de apuração quinzenal do Código de Receita - CR
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_crqui" value="1" {% if show_fields|get_value_from_dict:'show_crqui' %}checked{% endif %} >Código de Receita - CR relativo a tributo que possui período de apuração quinzenal
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrbasecrqui" value="1" {% if show_fields|get_value_from_dict:'show_vlrbasecrqui' %}checked{% endif %} >Valor da base do tributo com período de apuração quinzenal
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrcrqui" value="1" {% if show_fields|get_value_from_dict:'show_vlrcrqui' %}checked{% endif %} >Valor do tributo retido com período de apuração quinzenal, calculado segundo as regras estabelecidas na legislação em vigor
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrbasecrquisusp" value="0" {% if show_fields|get_value_from_dict:'show_vlrbasecrquisusp' %}checked{% endif %} >Valor da base do tributo com período de apuração quinzenal, com exigibilidade suspensa
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrcrquisusp" value="0" {% if show_fields|get_value_from_dict:'show_vlrcrquisusp' %}checked{% endif %} >Valor do tributo com período de apuração quinzenal, que deixou de ser retido
    </div>
</div>


