{% load templatetags %}{% load static %}



<!-- inicio__s2240_iniexprisco_respreg__s2240_evtexprisco -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações relativas ao responsável pelos registros ambientais</label>
    <select name="s2240_evtexprisco" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s2240_evtexprisco_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2240_evtexprisco' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__s2240_evtexprisco -->

<!-- inicio__s2240_iniexprisco_respreg__cpfresp -->
<div class="col-md-6">
  <div class="form-group">
    <label>CPF</label>
    <div name="cpfresp" class="input-group" style="width: 100%;">
      <input type="text" name="cpfresp" class="form-control" value="{{ dict_fields|get_value_from_dict:'cpfresp' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__cpfresp -->

<!-- inicio__s2240_iniexprisco_respreg__nisresp -->
<div class="col-md-6">
  <div class="form-group">
    <label>NIS</label>
    <div name="nisresp" class="input-group" style="width: 100%;">
      <input type="text" name="nisresp" class="form-control" value="{{ dict_fields|get_value_from_dict:'nisresp' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__nisresp -->

<!-- inicio__s2240_iniexprisco_respreg__nmresp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Nome do Responsável pelas Informações</label>
    <div name="nmresp" class="input-group" style="width: 100%;">
      <input type="text" name="nmresp" class="form-control" value="{{ dict_fields|get_value_from_dict:'nmresp' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__nmresp -->

<!-- inicio__s2240_iniexprisco_respreg__ideoc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Órgão de Classe (OC)</label>
    <div class="input-group" style="width: 100%;">
      <select name="ideoc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'ideoc' %}selected="selected"{% endifequal %} >1 - Conselho Regional de Medicina (CRM)</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'ideoc' %}selected="selected"{% endifequal %} >4 - Conselho Regional de Engenharia e Agronomia (CREA)</option>
        <option value="9" {% ifequal 9 dict_fields|get_value_from_dict:'ideoc' %}selected="selected"{% endifequal %} >9 - Outros.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__ideoc -->

<!-- inicio__s2240_iniexprisco_respreg__dscoc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Descrição (sigla) do órgão de classe ao qual o responsável pelos registros ambientais está vinculado</label>
    <div name="dscoc" class="input-group" style="width: 100%;">
      <input type="text" name="dscoc" class="form-control" value="{{ dict_fields|get_value_from_dict:'dscoc' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__dscoc -->

<!-- inicio__s2240_iniexprisco_respreg__nroc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número de Inscrição no órgão de classe.</label>
    <div name="nroc" class="input-group" style="width: 100%;">
      <input type="text" name="nroc" class="form-control" value="{{ dict_fields|get_value_from_dict:'nroc' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__nroc -->

<!-- inicio__s2240_iniexprisco_respreg__ufoc -->
<div class="col-md-6">
  <div class="form-group">
    <label>UF do OC</label>
    <div class="input-group" style="width: 100%;">
      <select name="ufoc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="AC" {% ifequal 'AC' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Acre</option>
        <option value="AL" {% ifequal 'AL' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Alagoas</option>
        <option value="AP" {% ifequal 'AP' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Amapá</option>
        <option value="AM" {% ifequal 'AM' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Amazonas</option>
        <option value="BA" {% ifequal 'BA' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Bahia</option>
        <option value="CE" {% ifequal 'CE' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Ceará</option>
        <option value="DF" {% ifequal 'DF' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Distrito Federal</option>
        <option value="ES" {% ifequal 'ES' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Espírito Santo</option>
        <option value="GO" {% ifequal 'GO' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Goiás</option>
        <option value="MA" {% ifequal 'MA' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Maranhão</option>
        <option value="MT" {% ifequal 'MT' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Mato Grosso</option>
        <option value="MS" {% ifequal 'MS' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Mato Grosso do Sul</option>
        <option value="MG" {% ifequal 'MG' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Minas Gerais</option>
        <option value="PR" {% ifequal 'PR' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Paraná</option>
        <option value="PB" {% ifequal 'PB' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Paraíba</option>
        <option value="PA" {% ifequal 'PA' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Pará</option>
        <option value="PE" {% ifequal 'PE' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Pernambuco</option>
        <option value="PI" {% ifequal 'PI' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Piauí</option>
        <option value="RN" {% ifequal 'RN' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Rio Grande do Norte</option>
        <option value="RS" {% ifequal 'RS' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Rio Grande do Sul</option>
        <option value="RJ" {% ifequal 'RJ' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Rio de Janeiro</option>
        <option value="RO" {% ifequal 'RO' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Rondônia</option>
        <option value="RR" {% ifequal 'RR' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Roraima</option>
        <option value="SC" {% ifequal 'SC' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Santa Catarina</option>
        <option value="SE" {% ifequal 'SE' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Sergipe</option>
        <option value="SP" {% ifequal 'SP' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >São Paulo</option>
        <option value="TO" {% ifequal 'TO' dict_fields|get_value_from_dict:'ufoc' %}selected="selected"{% endifequal %} >Tocantins</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_respreg__ufoc -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2240_evtexprisco" value="1" {% if show_fields|get_value_from_dict:'show_s2240_evtexprisco' %}checked{% endif %} >Informações relativas ao responsável pelos registros ambientais
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cpfresp" value="1" {% if show_fields|get_value_from_dict:'show_cpfresp' %}checked{% endif %} >CPF
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nisresp" value="1" {% if show_fields|get_value_from_dict:'show_nisresp' %}checked{% endif %} >NIS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nmresp" value="1" {% if show_fields|get_value_from_dict:'show_nmresp' %}checked{% endif %} >Nome do Responsável pelas Informações
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ideoc" value="1" {% if show_fields|get_value_from_dict:'show_ideoc' %}checked{% endif %} >Órgão de Classe (OC)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dscoc" value="0" {% if show_fields|get_value_from_dict:'show_dscoc' %}checked{% endif %} >Descrição (sigla) do órgão de classe ao qual o responsável pelos registros ambientais está vinculado
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nroc" value="1" {% if show_fields|get_value_from_dict:'show_nroc' %}checked{% endif %} >Número de Inscrição no órgão de classe.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ufoc" value="1" {% if show_fields|get_value_from_dict:'show_ufoc' %}checked{% endif %} >UF do OC
    </div>
</div>


