<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2240_iniexprisco_obs__s2240_evtexprisco -->
<div class="col-md-12">
  <div class="form-group">
    <label>Observações relativas a registros ambientais</label>
    <select name="s2240_evtexprisco" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2240_evtexprisco_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2240_evtexprisco' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2240_iniexprisco_obs__s2240_evtexprisco -->

<!-- inicio__s2240_iniexprisco_obs__meterg -->
<div class="col-md-3">
  <div class="form-group">
    <label>Descrição da metodologia utilizada para o levantamento dos riscos ergonômicos.</label>
    <div name="meterg" class="input-group" style="width: 100%;">
      <input type="text" name="meterg" class="form-control" value="{{ dict_fields|get_value_from_dict:'meterg' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_obs__meterg -->

<!-- inicio__s2240_iniexprisco_obs__obscompl -->
<div class="col-md-3">
  <div class="form-group">
    <label>Observação(ões) complementar(es) referente(s) a registros ambientais. Validação: Preenchimento obrigatório se {metErg} não for informado.</label>
    <div name="obscompl" class="input-group" style="width: 100%;">
      <input type="text" name="obscompl" class="form-control" value="{{ dict_fields|get_value_from_dict:'obscompl' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_obs__obscompl -->

<!-- inicio__s2240_iniexprisco_obs__observacao -->
<div class="col-md-3">
  <div class="form-group">
    <label>Observações</label>
    <div name="observacao" class="input-group" style="width: 100%;">
      <input type="text" name="observacao" class="form-control" value="{{ dict_fields|get_value_from_dict:'observacao' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_obs__observacao -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2240_evtexprisco" value="1" {% if show_fields|get_value_from_dict:'show_s2240_evtexprisco' %}checked{% endif %} >Observações relativas a registros ambientais
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_meterg" value="1" {% if show_fields|get_value_from_dict:'show_meterg' %}checked{% endif %} >Descrição da metodologia utilizada para o levantamento dos riscos ergonômicos.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_obscompl" value="1" {% if show_fields|get_value_from_dict:'show_obscompl' %}checked{% endif %} >Observação(ões) complementar(es) referente(s) a registros ambientais. Validação: Preenchimento obrigatório se {metErg} não for informado.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_observacao" value="1" {% if show_fields|get_value_from_dict:'show_observacao' %}checked{% endif %} >Observações
    </div>
</div>


