{% load templatetags %}{% load static %}



<!-- inicio__s2240_altexprisco_fatrisco__s2240_altexprisco_infoamb -->
<div class="col-md-12">
  <div class="form-group">
    <label>Fator de risco ao qual o trabalhador está exposto na atividade exercida no ambiente</label>
    <select name="s2240_altexprisco_infoamb" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s2240_altexprisco_infoamb_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2240_altexprisco_infoamb' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2240_altexprisco_fatrisco__s2240_altexprisco_infoamb -->

<!-- inicio__s2240_altexprisco_fatrisco__codfatris -->
<div class="col-md-6">
  <div class="form-group">
    <label>Código do Fator de Risco</label>
    <input type="text" id="txt_codfatris" name="txt_codfatris" class="form-control" value="{{ dict_fields|get_value_from_dict:'codfatris' }}">
    <input type="hidden" id="id_codfatris" name="codfatris" value="{{ dict_fields|get_value_from_dict:'codfatris'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_codfatris').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/390/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_codfatris').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__s2240_altexprisco_fatrisco__codfatris -->

<!-- inicio__s2240_altexprisco_fatrisco__intconc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Concentração</label>
    <div name="intconc" class="input-group" style="width: 100%;">
      <input type="text" name="intconc" class="form-control" value="{{ dict_fields|get_value_from_dict:'intconc' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_altexprisco_fatrisco__intconc -->

<!-- inicio__s2240_altexprisco_fatrisco__tecmedicao -->
<div class="col-md-6">
  <div class="form-group">
    <label>Técnica de medição</label>
    <div name="tecmedicao" class="input-group" style="width: 100%;">
      <input type="text" name="tecmedicao" class="form-control" value="{{ dict_fields|get_value_from_dict:'tecmedicao' }}">
    </div>
  </div>
</div>
<!-- fim__s2240_altexprisco_fatrisco__tecmedicao -->

<!-- inicio__s2240_altexprisco_fatrisco__epcepi -->
<div class="col-md-12" id="s2240_altexprisco_fatrisco__epcepi__div">
  <h4>Informações relativas a Equipamentos de Proteção Coletiva - EPC e Equipamentos de Proteção Individual - EPI</h4>
</div>
<!-- fim__s2240_altexprisco_fatrisco__epcepi -->

<!-- inicio__s2240_altexprisco_fatrisco__utilizepc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Utiliza EPC</label>
    <div class="input-group" style="width: 100%;">
      <select name="utilizepc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'utilizepc' %}selected="selected"{% endifequal %} >0 - Não se aplica</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'utilizepc' %}selected="selected"{% endifequal %} >1 - Não utilizado</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'utilizepc' %}selected="selected"{% endifequal %} >2 - Utilizado.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2240_altexprisco_fatrisco__utilizepc -->

<!-- inicio__s2240_altexprisco_fatrisco__utilizepi -->
<div class="col-md-6">
  <div class="form-group">
    <label>Utiliza EPI</label>
    <div class="input-group" style="width: 100%;">
      <select name="utilizepi" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'utilizepi' %}selected="selected"{% endifequal %} >0 - Não se aplica</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'utilizepi' %}selected="selected"{% endifequal %} >1 - Não utilizado</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'utilizepi' %}selected="selected"{% endifequal %} >2 - Utilizado.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2240_altexprisco_fatrisco__utilizepi -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2240_altexprisco_infoamb" value="1" {% if show_fields|get_value_from_dict:'show_s2240_altexprisco_infoamb' %}checked{% endif %} >Fator de risco ao qual o trabalhador está exposto na atividade exercida no ambiente
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codfatris" value="1" {% if show_fields|get_value_from_dict:'show_codfatris' %}checked{% endif %} >Código do Fator de Risco
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_intconc" value="1" {% if show_fields|get_value_from_dict:'show_intconc' %}checked{% endif %} >Concentração
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tecmedicao" value="1" {% if show_fields|get_value_from_dict:'show_tecmedicao' %}checked{% endif %} >Técnica de medição
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_epcepi" value="1" {% if show_fields|get_value_from_dict:'show_epcepi' %}checked{% endif %} >Informações relativas a Equipamentos de Proteção Coletiva - EPC e Equipamentos de Proteção Individual - EPI
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_utilizepc" value="1" {% if show_fields|get_value_from_dict:'show_utilizepc' %}checked{% endif %} >Utiliza EPC
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_utilizepi" value="1" {% if show_fields|get_value_from_dict:'show_utilizepi' %}checked{% endif %} >Utiliza EPI
    </div>
</div>


