{% load templatetags %}{% load static %}



<!-- inicio__s2299_infoperapur_ideestablot__s2299_infoperapur -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2299_infoperapur').change(function(){
       document.getElementById("s2299_infoperapur_ideestablot__s2299_infoperapur__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2299_infoperapur_ideestablot__s2299_infoperapur__div">
  <div class="form-group">
    <label id="s2299_infoperapur_ideestablot__s2299_infoperapur__label">Registro que identifica o Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração*<a data-toggle="tooltip" title="Registro que identifica o Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração. O estabelecimento identificado no registro pode ser: o número do CNPJ do estabelecimento da própria empresa (matriz/filial), o número da obra (própria) no CNO, ou o número do CAEPF (no caso de pessoa física obrigada a inscrição no cadastro de atividades específicas da pessoa física). No caso específico do trabalhador doméstico, o estabelecimento deve ser o próprio CPF do empregador."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s2299_infoperapur_ideestablot_form.s2299_infoperapur.value %}
        <a id="s2299_infoperapur_ideestablot__s2299_infoperapur__div_acessar" href="{% url 's2299_infoperapur_salvar' pk=s2299_infoperapur_ideestablot_form.s2299_infoperapur.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s2299_infoperapur_ideestablot_form.s2299_infoperapur.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2299_infoperapur_ideestablot_form.s2299_infoperapur.errors }}
      </div>
    {% endif %}
    {% if s2299_infoperapur_ideestablot_form.s2299_infoperapur.field.widget.attrs.readonly %}
      {% if s2299_infoperapur_ideestablot_form.s2299_infoperapur.field.widget.attrs.disabled %}
        {{ s2299_infoperapur_ideestablot_form.s2299_infoperapur|addcss:'form-control' }}
        <input id="id_s2299_infoperapur" name="s2299_infoperapur" type="hidden" value="{% if s2299_infoperapur_ideestablot_form.s2299_infoperapur.value or s2299_infoperapur_ideestablot_form.s2299_infoperapur.value == 0 %}{{ s2299_infoperapur_ideestablot_form.s2299_infoperapur.value|valor }}{% endif %}">
      {% else %}
        {{ s2299_infoperapur_ideestablot_form.s2299_infoperapur|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2299_infoperapur_ideestablot_form.s2299_infoperapur|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2299_infoperapur_ideestablot__s2299_infoperapur -->
<!-- inicio__s2299_infoperapur_ideestablot__tpinsc -->
<div class="col-md-3" id="s2299_infoperapur_ideestablot__tpinsc__div">
  <div class="form-group">
    <label id="s2299_infoperapur_ideestablot__tpinsc__label">Tipo de inscrição*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição do estabelecimento, de acordo com as opções da Tabela 05. Validação: Se {classTrib} igual a [21], deve ser igual a [3,4], exceto se empregador doméstico. Se {classTrib} igual a [22], caso não seja empregador doméstico, deve ser igual a [3, 4] e, se for igual a [3], o CAEPF deve constar na tabela S-1005 como sendo de segurado especial. Se empregador doméstico (trabalhador com {codCateg} = [104]), deve ser igual a [2]. Nos demais casos ({classTrib} <> [21,22]), deve ser igual a [1,4]. Valores Válidos: 1, 2, 3, 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2299_infoperapur_ideestablot_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2299_infoperapur_ideestablot_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2299_infoperapur_ideestablot_form.tpinsc.field.widget.attrs.readonly %}
        {% if s2299_infoperapur_ideestablot_form.tpinsc.field.widget.attrs.disabled %}
          {{ s2299_infoperapur_ideestablot_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s2299_infoperapur_ideestablot_form.tpinsc.value or s2299_infoperapur_ideestablot_form.tpinsc.value == 0 %}{{ s2299_infoperapur_ideestablot_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s2299_infoperapur_ideestablot_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2299_infoperapur_ideestablot_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2299_infoperapur_ideestablot__tpinsc -->
<!-- inicio__s2299_infoperapur_ideestablot__nrinsc -->
<div class="col-md-3" id="s2299_infoperapur_ideestablot__nrinsc__div">
  <div class="form-group">
    <label id="s2299_infoperapur_ideestablot__nrinsc__label">Número de inscrição (CPF/CNPJ)*<a data-toggle="tooltip" title="Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Validação: A inscrição informada deve ser compatível com {tpInsc}. Se {tpInsc} igual a [1, 3, 4] deve constar na tabela S-1005."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2299_infoperapur_ideestablot_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_infoperapur_ideestablot_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2299_infoperapur_ideestablot_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2299_infoperapur_ideestablot__nrinsc -->
<!-- inicio__s2299_infoperapur_ideestablot__codlotacao -->
<div class="col-md-3" id="s2299_infoperapur_ideestablot__codlotacao__div">
  <div class="form-group">
    <label id="s2299_infoperapur_ideestablot__codlotacao__label">Código da Lotação*<a data-toggle="tooltip" title="Informar o código atribuído pela empresa para a lotação tributária. Validação: Deve ser um código existente em S-1020 - Tabela de Lotações Tributárias."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2299_infoperapur_ideestablot_form.codlotacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_infoperapur_ideestablot_form.codlotacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2299_infoperapur_ideestablot_form.codlotacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2299_infoperapur_ideestablot__codlotacao -->