{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s1250_tpaquis %}
            <th>Registro preenchido quando houver processo judicial do adquirente ou de terceiros e que abranja a totalidade dos produtores identificados em {ideProdutor} com decisão/sentença determinando a não retenção pelo adquirente, das contribuições incidentes sobre a aquisição de produção.</th>
            {% endif %}
            {% if show_fields.show_nrprocjud %}
            <th>Número do Processo Judicial</th>
            {% endif %}
            {% if show_fields.show_codsusp %}
            <th>Código do Indicativo da Suspensão</th>
            {% endif %}
            {% if show_fields.show_vrcpnret %}
            <th>Valor da CP não retida</th>
            {% endif %}
            {% if show_fields.show_vrratnret %}
            <th>Valor da GILRAT</th>
            {% endif %}
            {% if show_fields.show_vrsenarnret %}
            <th>Valor da CP destinada ao SENAR não retida</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s1250_infoprocj_lista %}
        <tr>
            {% if show_fields.show_s1250_tpaquis %}
            <td>{{ a.s1250_tpaquis }}</td>
            {% endif %}
            {% if show_fields.show_nrprocjud %}
            <td>{{ a.nrprocjud }}</td>
            {% endif %}
            {% if show_fields.show_codsusp %}
            <td>{{ a.codsusp }}</td>
            {% endif %}
            {% if show_fields.show_vrcpnret %}
            <td>{{ a.vrcpnret }}</td>
            {% endif %}
            {% if show_fields.show_vrratnret %}
            <td>{{ a.vrratnret }}</td>
            {% endif %}
            {% if show_fields.show_vrsenarnret %}
            <td>{{ a.vrsenarnret }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s1250.change_s1250infoProcJ or perms.s1250.add_s1250infoProcJ %}

                        <a href="{% url 's1250_infoprocj_salvar' pk=a.id %}">
                            {% if perms.s1250.change_s1250infoProcJ %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s1250.can_see_data_s1250infoProcJ %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s1250.delete_s1250infoProcJ %}
                        <a href="{% url 's1250_infoprocj_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
