{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s1250_tpaquis or 1 %}
            <th>Registro que identifica os produtores rurais dos quais foi efetuada aquisição da produção pelo contribuinte declarante.</th>
            {% endif %}
            {% if show_fields.show_tpinscprod or 1 %}
            <th>Tipo de Inscrição Produtor</th>
            {% endif %}
            {% if show_fields.show_nrinscprod or 1 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_vlrbruto or 1 %}
            <th>Valor bruto</th>
            {% endif %}
            {% if show_fields.show_vrcpdescpr or 1 %}
            <th>Valor da CP descontada PR</th>
            {% endif %}
            {% if show_fields.show_vrratdescpr or 1 %}
            <th>Valor RAT descontado do produtor rural</th>
            {% endif %}
            {% if show_fields.show_vrsenardesc or 1 %}
            <th>Valor descontado destinado ao SENAR</th>
            {% endif %}
            {% if show_fields.show_indopccp or 1 %}
            <th>Indicativo da opção pelo produtor rural pela forma de tributação da contribuição previdenciária</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s1250_ideprodutor_lista %}
        <tr>
            {% if show_fields.show_s1250_tpaquis or 1 %}
            <td>{{ a.s1250_tpaquis }}</td>
            {% endif %}
            {% if show_fields.show_tpinscprod or 1 %}
            <td>{{ a.tpinscprod }}</td>
            {% endif %}
            {% if show_fields.show_nrinscprod or 1 %}
            <td>{{ a.nrinscprod }}</td>
            {% endif %}
            {% if show_fields.show_vlrbruto or 1 %}
            <td>{{ a.vlrbruto }}</td>
            {% endif %}
            {% if show_fields.show_vrcpdescpr or 1 %}
            <td>{{ a.vrcpdescpr }}</td>
            {% endif %}
            {% if show_fields.show_vrratdescpr or 1 %}
            <td>{{ a.vrratdescpr }}</td>
            {% endif %}
            {% if show_fields.show_vrsenardesc or 1 %}
            <td>{{ a.vrsenardesc }}</td>
            {% endif %}
            {% if show_fields.show_indopccp or 1 %}
            <td>{{ a.get_indopccp_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.s1250.change_s1250ideProdutor or perms.s1250.add_s1250ideProdutor %}
                    
                        <a href="{% url 's1250_ideprodutor_salvar' pk=a.id tab='master' %}">
                            {% if perms.s1250.change_s1250ideProdutor %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s1250.can_see_data_s1250ideProdutor %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s1250.delete_s1250ideProdutor %}
                        <a href="{% url 's1250_ideprodutor_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
