{% load templatetags %}{% load static %}



<!-- inicio__s5002_irrf__s5002_infoirrf -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5002_infoirrf').change(function(){
       document.getElementById("s5002_irrf__s5002_infoirrf__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5002_irrf__s5002_infoirrf__div">
  <div class="form-group">
    <label id="s5002_irrf__s5002_infoirrf__label">Informações relativas ao Imposto de Renda Retido na Fonte*</label>
    {% if not for_print %}
      {% if s5002_irrf_form.s5002_infoirrf.value %}
        <a id="s5002_irrf__s5002_infoirrf__div_acessar" href="{% url 's5002_infoirrf_salvar' pk=s5002_irrf_form.s5002_infoirrf.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s5002_irrf_form.s5002_infoirrf.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5002_irrf_form.s5002_infoirrf.errors }}
      </div>
    {% endif %}
    {% if s5002_irrf_form.s5002_infoirrf.field.widget.attrs.readonly %}
      {% if s5002_irrf_form.s5002_infoirrf.field.widget.attrs.disabled %}
        {{ s5002_irrf_form.s5002_infoirrf|addcss:'form-control' }}
        <input id="id_s5002_infoirrf" name="s5002_infoirrf" type="hidden" value="{% if s5002_irrf_form.s5002_infoirrf.value or s5002_irrf_form.s5002_infoirrf.value == 0 %}{{ s5002_irrf_form.s5002_infoirrf.value|valor }}{% endif %}">
      {% else %}
        {{ s5002_irrf_form.s5002_infoirrf|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5002_irrf_form.s5002_infoirrf|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5002_irrf__s5002_infoirrf -->
<!-- inicio__s5002_irrf__tpcr -->
<div class="col-md-4" id="s5002_irrf__tpcr__div">
  <div class="form-group">
    <label id="s5002_irrf__tpcr__label">Código da Receita (CR)*</label>
    {% if s5002_irrf_form.tpcr.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5002_irrf_form.tpcr.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5002_irrf_form.tpcr.field.widget.attrs.readonly %}
        {% if s5002_irrf_form.tpcr.field.widget.attrs.disabled %}
          {{ s5002_irrf_form.tpcr|addcss:'form-control' }}
          <input id="id_tpcr" name="tpcr" type="hidden" value="{% if s5002_irrf_form.tpcr.value or s5002_irrf_form.tpcr.value == 0 %}{{ s5002_irrf_form.tpcr.value }}{% endif %}">
        {% else %}
          {{ s5002_irrf_form.tpcr|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5002_irrf_form.tpcr|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5002_irrf__tpcr -->
<!-- inicio__s5002_irrf__vrirrfdesc -->
<div class="col-md-4" id="s5002_irrf__vrirrfdesc__div">
  <div class="form-group">
    <label id="s5002_irrf__vrirrfdesc__label">Valor efetivamente descontado IRRF*</label>
    {% if s5002_irrf_form.vrirrfdesc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5002_irrf_form.vrirrfdesc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5002_irrf_form.vrirrfdesc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5002_irrf__vrirrfdesc -->