{% load templatetags %}{% load static %}



<!-- inicio__s5002_infodep__s5002_evtirrfbenef -->
<div class="col-md-12" id="s5002_infodep__s5002_evtirrfbenef__div">
  <div class="form-group">
    <label id="s5002_infodep__s5002_evtirrfbenef__label">Informações relativas a existência de dependentes do beneficiário do pagamento. Origem: S-1210 - registro {deps}*</label>
    {% if not for_print %}{% if s5002_infodep_form.s5002_evtirrfbenef.value %}
        <a href="{% url 's5002_evtirrfbenef_salvar' pk=s5002_infodep_form.s5002_evtirrfbenef.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s5002_infodep_form.s5002_evtirrfbenef.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5002_infodep_form.s5002_evtirrfbenef.errors }}
      </div>
    {% endif %}
    {% if s5002_infodep_form.s5002_evtirrfbenef.field.widget.attrs.readonly %}
      {% if s5002_infodep_form.s5002_evtirrfbenef.field.widget.attrs.disabled %}
        {{ s5002_infodep_form.s5002_evtirrfbenef|addcss:'form-control' }}
        <input id="id_s5002_evtirrfbenef" name="s5002_evtirrfbenef" type="hidden" value="{{ s5002_infodep_form.s5002_evtirrfbenef.value }}">
      {% else %}
        {{ s5002_infodep_form.s5002_evtirrfbenef|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5002_infodep_form.s5002_evtirrfbenef|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5002_infodep__s5002_evtirrfbenef -->
<!-- inicio__s5002_infodep__vrdeddep -->
<div class="col-md-6" id="s5002_infodep__vrdeddep__div">
  <div class="form-group">
    <label id="s5002_infodep__vrdeddep__label">Valor da dedução da BC do IRRF*</label>
    {% if s5002_infodep_form.vrdeddep.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5002_infodep_form.vrdeddep.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5002_infodep_form.vrdeddep|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5002_infodep__vrdeddep -->