{% load templatetags %}{% load static %}



<!-- inicio__s2416_evtcdbenalt__evtcdbenalt -->
<div class="col-md-12" id="s2416_evtcdbenalt__evtcdbenalt__div">
  <h4>Evento de cadastro de benefícios - Alteração</h4>
</div>
<!-- fim__s2416_evtcdbenalt__evtcdbenalt -->

<!-- inicio__s2416_evtcdbenalt__identidade -->
<div class="col-md-6">
  <div class="form-group">
    <label>Identidade do Registro</label>
    <div name="identidade" class="input-group" style="width: 100%;">
      <input type="text" name="identidade" class="form-control" value="{{ dict_fields|get_value_from_dict:'identidade' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__identidade -->

<!-- inicio__s2416_evtcdbenalt__ideevento -->
<div class="col-md-12" id="s2416_evtcdbenalt__ideevento__div">
  <h4>Informações de Identificação do Evento</h4>
</div>
<!-- fim__s2416_evtcdbenalt__ideevento -->

<!-- inicio__s2416_evtcdbenalt__indretif -->
<div class="col-md-6">
  <div class="form-group">
    <label>Identificador de retificação</label>
    <div class="input-group" style="width: 100%;">
      <select name="indretif" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'indretif' %}selected="selected"{% endifequal %} >1 - Arquivo original</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'indretif' %}selected="selected"{% endifequal %} >2 - Arquivo de Retificação.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__indretif -->

<!-- inicio__s2416_evtcdbenalt__nrrecibo -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número do recibo</label>
    <div name="nrrecibo" class="input-group" style="width: 100%;">
      <input type="text" name="nrrecibo" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrrecibo' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__nrrecibo -->

<!-- inicio__s2416_evtcdbenalt__tpamb -->
<div class="col-md-6">
  <div class="form-group">
    <label>Identificação do ambiente</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpamb" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpamb' %}selected="selected"{% endifequal %} >1 - Produção</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpamb' %}selected="selected"{% endifequal %} >2 - Produção restrita.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__tpamb -->

<!-- inicio__s2416_evtcdbenalt__procemi -->
<div class="col-md-6">
  <div class="form-group">
    <label>Processo de emissão do evento</label>
    <div class="input-group" style="width: 100%;">
      <select name="procemi" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'procemi' %}selected="selected"{% endifequal %} >1 - Aplicativo do empregador</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'procemi' %}selected="selected"{% endifequal %} >2 - Aplicativo governamental - Empregador Doméstico</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'procemi' %}selected="selected"{% endifequal %} >3 - Aplicativo governamental - Web Geral</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'procemi' %}selected="selected"{% endifequal %} >4 - Aplicativo governamental - Microempreendedor Individual (MEI)</option>
        <option value="5" {% ifequal 5 dict_fields|get_value_from_dict:'procemi' %}selected="selected"{% endifequal %} >5 - Aplicativo governamental - Segurado Especial.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__procemi -->

<!-- inicio__s2416_evtcdbenalt__verproc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Versão do processo</label>
    <div name="verproc" class="input-group" style="width: 100%;">
      <input type="text" name="verproc" class="form-control" value="{{ dict_fields|get_value_from_dict:'verproc' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__verproc -->

<!-- inicio__s2416_evtcdbenalt__ideempregador -->
<div class="col-md-12" id="s2416_evtcdbenalt__ideempregador__div">
  <h4>Informações de identificação do empregador</h4>
</div>
<!-- fim__s2416_evtcdbenalt__ideempregador -->

<!-- inicio__s2416_evtcdbenalt__tpinsc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de inscrição</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpinsc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpinsc' %}selected="selected"{% endifequal %} >1 - CNPJ</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpinsc' %}selected="selected"{% endifequal %} >2 - CPF</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'tpinsc' %}selected="selected"{% endifequal %} >3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'tpinsc' %}selected="selected"{% endifequal %} >4 - CNO (Cadastro Nacional de Obra)</option>
        <option value="5" {% ifequal 5 dict_fields|get_value_from_dict:'tpinsc' %}selected="selected"{% endifequal %} >5 - CGC</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__tpinsc -->

<!-- inicio__s2416_evtcdbenalt__nrinsc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número de inscrição (CPF/CNPJ)</label>
    <div name="nrinsc" class="input-group" style="width: 100%;">
      <input type="text" name="nrinsc" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinsc' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__nrinsc -->

<!-- inicio__s2416_evtcdbenalt__idebeneficio -->
<div class="col-md-12" id="s2416_evtcdbenalt__idebeneficio__div">
  <h4>Identificação do beneficiário e do benefício</h4>
</div>
<!-- fim__s2416_evtcdbenalt__idebeneficio -->

<!-- inicio__s2416_evtcdbenalt__cpfbenef -->
<div class="col-md-6">
  <div class="form-group">
    <label>CPF</label>
    <div name="cpfbenef" class="input-group" style="width: 100%;">
      <input type="text" name="cpfbenef" class="form-control" value="{{ dict_fields|get_value_from_dict:'cpfbenef' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__cpfbenef -->

<!-- inicio__s2416_evtcdbenalt__nrbeneficio -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o número do benefício</label>
    <div name="nrbeneficio" class="input-group" style="width: 100%;">
      <input type="text" name="nrbeneficio" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrbeneficio' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__nrbeneficio -->

<!-- inicio__s2416_evtcdbenalt__infobenalteracao -->
<div class="col-md-12" id="s2416_evtcdbenalt__infobenalteracao__div">
  <h4>Informações do benefício - Alteração</h4>
</div>
<!-- fim__s2416_evtcdbenalt__infobenalteracao -->

<!-- inicio__s2416_evtcdbenalt__dtaltbeneficio -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data de alteração das informações relativas ao benefício</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtaltbeneficio" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtaltbeneficio' %}{{ dict_fields|get_value_from_dict:'dtaltbeneficio' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__dtaltbeneficio -->

<!-- inicio__s2416_evtcdbenalt__dadosbeneficio -->
<div class="col-md-12" id="s2416_evtcdbenalt__dadosbeneficio__div">
  <h4>Dados relativos ao benefício</h4>
</div>
<!-- fim__s2416_evtcdbenalt__dadosbeneficio -->

<!-- inicio__s2416_evtcdbenalt__tpbeneficio -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de benefício</label>
    <input type="text" id="txt_tpbeneficio" name="txt_tpbeneficio" class="form-control" value="{{ dict_fields|get_value_from_dict:'tpbeneficio' }}">
    <input type="hidden" id="id_tpbeneficio" name="tpbeneficio" value="{{ dict_fields|get_value_from_dict:'tpbeneficio'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_tpbeneficio').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/201/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_tpbeneficio').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__s2416_evtcdbenalt__tpbeneficio -->

<!-- inicio__s2416_evtcdbenalt__tpplanrp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de plano de segregação de massa</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpplanrp" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'tpplanrp' %}selected="selected"{% endifequal %} >0 - Sem segregação da massa</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpplanrp' %}selected="selected"{% endifequal %} >1 - Fundo em capitalização</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpplanrp' %}selected="selected"{% endifequal %} >2 - Fundo em repartição</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'tpplanrp' %}selected="selected"{% endifequal %} >3 - Mantido pelo Tesouro.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__tpplanrp -->

<!-- inicio__s2416_evtcdbenalt__dsc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Descrição</label>
    <div name="dsc" class="input-group" style="width: 100%;">
      <input type="text" name="dsc" class="form-control" value="{{ dict_fields|get_value_from_dict:'dsc' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__dsc -->

<!-- inicio__s2416_evtcdbenalt__inddecjud -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar se o benefício foi concedido por determinação judicial</label>
    <div class="input-group" style="width: 100%;">
      <select name="inddecjud" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'inddecjud' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'inddecjud' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__inddecjud -->

<!-- inicio__s2416_evtcdbenalt__indhomologtc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Indicativo de homologação do benefício pelo Tribunal de Contas</label>
    <div class="input-group" style="width: 100%;">
      <select name="indhomologtc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'indhomologtc' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'indhomologtc' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__indhomologtc -->

<!-- inicio__s2416_evtcdbenalt__indsuspensao -->
<div class="col-md-6">
  <div class="form-group">
    <label>Indicativo de suspensão do benefício</label>
    <div class="input-group" style="width: 100%;">
      <select name="indsuspensao" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'indsuspensao' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'indsuspensao' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__indsuspensao -->

<!-- inicio__s2416_evtcdbenalt__versao -->
<div class="col-md-3">
  <div class="form-group">
    <label>Versão</label>
    <div class="input-group" style="width: 100%;">
      <select name="versao" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="v02_04_02" {% ifequal 'v02_04_02' dict_fields|get_value_from_dict:'versao' %}selected="selected"{% endifequal %} >Versão 2.04.02</option>
        <option value="v02_05_00" {% ifequal 'v02_05_00' dict_fields|get_value_from_dict:'versao' %}selected="selected"{% endifequal %} >Versão 2.05.00</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__versao -->

<!-- inicio__s2416_evtcdbenalt__transmissor_lote_esocial -->
<div class="col-md-3">
  <div class="form-group">
    <label>Transmissor</label>
    <select name="transmissor_lote_esocial" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in transmissor_lote_esocial_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'transmissor_lote_esocial' %}selected="selected"{% endifequal %}>{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__transmissor_lote_esocial -->

<!-- inicio__s2416_evtcdbenalt__status -->
<div class="col-md-3">
  <div class="form-group">
    <label>Status</label>
    <div class="input-group" style="width: 100%;">
      <select name="status" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Cadastrado</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Importado</option>
        <option value="10" {% ifequal 10 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Aguardando envio</option>
        <option value="11" {% ifequal 11 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Enviado</option>
        <option value="12" {% ifequal 12 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro no Envio/Consulta</option>
        <option value="13" {% ifequal 13 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Processado</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Duplicado</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Gerado</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro na Geração</option>
        <option value="5" {% ifequal 5 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Assinado</option>
        <option value="6" {% ifequal 6 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro na Assinatura</option>
        <option value="7" {% ifequal 7 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Validado</option>
        <option value="8" {% ifequal 8 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Erro na validação</option>
        <option value="9" {% ifequal 9 dict_fields|get_value_from_dict:'status' %}selected="selected"{% endifequal %} >Aguardando envio de precedência</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2416_evtcdbenalt__status -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_evtcdbenalt" value="1" {% if show_fields|get_value_from_dict:'show_evtcdbenalt' %}checked{% endif %} >Evento de cadastro de benefícios - Alteração
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_identidade" value="1" {% if show_fields|get_value_from_dict:'show_identidade' %}checked{% endif %} >Identidade do Registro
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ideevento" value="1" {% if show_fields|get_value_from_dict:'show_ideevento' %}checked{% endif %} >Informações de Identificação do Evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indretif" value="1" {% if show_fields|get_value_from_dict:'show_indretif' %}checked{% endif %} >Identificador de retificação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrrecibo" value="1" {% if show_fields|get_value_from_dict:'show_nrrecibo' %}checked{% endif %} >Número do recibo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpamb" value="1" {% if show_fields|get_value_from_dict:'show_tpamb' %}checked{% endif %} >Identificação do ambiente
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_procemi" value="1" {% if show_fields|get_value_from_dict:'show_procemi' %}checked{% endif %} >Processo de emissão do evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_verproc" value="1" {% if show_fields|get_value_from_dict:'show_verproc' %}checked{% endif %} >Versão do processo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ideempregador" value="1" {% if show_fields|get_value_from_dict:'show_ideempregador' %}checked{% endif %} >Informações de identificação do empregador
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpinsc" value="1" {% if show_fields|get_value_from_dict:'show_tpinsc' %}checked{% endif %} >Tipo de inscrição
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinsc" value="1" {% if show_fields|get_value_from_dict:'show_nrinsc' %}checked{% endif %} >Número de inscrição (CPF/CNPJ)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_idebeneficio" value="1" {% if show_fields|get_value_from_dict:'show_idebeneficio' %}checked{% endif %} >Identificação do beneficiário e do benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cpfbenef" value="1" {% if show_fields|get_value_from_dict:'show_cpfbenef' %}checked{% endif %} >CPF
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrbeneficio" value="1" {% if show_fields|get_value_from_dict:'show_nrbeneficio' %}checked{% endif %} >Preencher com o número do benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_infobenalteracao" value="1" {% if show_fields|get_value_from_dict:'show_infobenalteracao' %}checked{% endif %} >Informações do benefício - Alteração
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtaltbeneficio" value="1" {% if show_fields|get_value_from_dict:'show_dtaltbeneficio' %}checked{% endif %} >Data de alteração das informações relativas ao benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dadosbeneficio" value="1" {% if show_fields|get_value_from_dict:'show_dadosbeneficio' %}checked{% endif %} >Dados relativos ao benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpbeneficio" value="1" {% if show_fields|get_value_from_dict:'show_tpbeneficio' %}checked{% endif %} >Tipo de benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpplanrp" value="1" {% if show_fields|get_value_from_dict:'show_tpplanrp' %}checked{% endif %} >Tipo de plano de segregação de massa
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dsc" value="1" {% if show_fields|get_value_from_dict:'show_dsc' %}checked{% endif %} >Descrição
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_inddecjud" value="1" {% if show_fields|get_value_from_dict:'show_inddecjud' %}checked{% endif %} >Informar se o benefício foi concedido por determinação judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indhomologtc" value="1" {% if show_fields|get_value_from_dict:'show_indhomologtc' %}checked{% endif %} >Indicativo de homologação do benefício pelo Tribunal de Contas
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indsuspensao" value="1" {% if show_fields|get_value_from_dict:'show_indsuspensao' %}checked{% endif %} >Indicativo de suspensão do benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_versao" value="1" {% if show_fields|get_value_from_dict:'show_versao' %}checked{% endif %} >Versão
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_transmissor_lote_esocial" value="1" {% if show_fields|get_value_from_dict:'show_transmissor_lote_esocial' %}checked{% endif %} >Transmissor
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_status" value="1" {% if show_fields|get_value_from_dict:'show_status' %}checked{% endif %} >Status
    </div>
</div>


