{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5011_infopj or 1 %}
            <th>Informações prestadas por empresa enquadrada no Regime de Tributação Simples Nacional com tributação previdenciária substituída e não substituída.</th>
            {% endif %}
            {% if show_fields.show_fatormes or 1 %}
            <th>Fator mês</th>
            {% endif %}
            {% if show_fields.show_fator13 or 1 %}
            <th>Fator decimo terceiro</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5011_infoatconc_lista %}
        <tr>
            {% if show_fields.show_s5011_infopj or 1 %}
            <td>{{ a.s5011_infopj }}</td>
            {% endif %}
            {% if show_fields.show_fatormes or 1 %}
            <td>{{ a.fatormes }}</td>
            {% endif %}
            {% if show_fields.show_fator13 or 1 %}
            <td>{{ a.fator13 }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if dict_permissoes|get_permissao:'s5011_infoatconc_visualizar' %}
                        <a href="{% url 's5011_infoatconc_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if dict_permissoes|get_permissao:'s5011_infoatconc_editar' or dict_permissoes|get_permissao:'s5011_infoatconc_cadastrar' %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if dict_permissoes|get_permissao:'s5011_infoatconc_apagar' %}
                        <a href="{% url 's5011_infoatconc_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
