{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5011_idelotacao or 1 %}
            <th>Informação complementar que apresenta identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada</th>
            {% endif %}
            {% if show_fields.show_tpinsccontrat or 1 %}
            <th>Tipo de inscrição do Contratante</th>
            {% endif %}
            {% if show_fields.show_nrinsccontrat or 1 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_tpinscprop or 0 %}
            <th>Tipo de inscrição (Proprietário do CNO)</th>
            {% endif %}
            {% if show_fields.show_nrinscprop or 0 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_cnoobra or 0 %}
            <th>Número do CNO da obra</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5011_infoemprparcial_lista %}
        <tr>
            {% if show_fields.show_s5011_idelotacao or 1 %}
            <td>{{ a.s5011_idelotacao }}</td>
            {% endif %}
            {% if show_fields.show_tpinsccontrat or 1 %}
            <td>{{ a.get_tpinsccontrat_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsccontrat or 1 %}
            <td>{{ a.nrinsccontrat }}</td>
            {% endif %}
            {% if show_fields.show_tpinscprop or 0 %}
            <td>{{ a.get_tpinscprop_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinscprop or 0 %}
            <td>{{ a.nrinscprop }}</td>
            {% endif %}
            {% if show_fields.show_cnoobra or 0 %}
            <td>{{ a.cnoobra }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
