{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5011_idelotacao or 1 %}
            <th>Informações de suspensão de contribuições destinadas a Outras Entidades e Fundos (Terceiros).</th>
            {% endif %}
            {% if show_fields.show_codterc or 1 %}
            <th>Código de Terceiros</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5011_infotercsusp_lista %}
        <tr>
            {% if show_fields.show_s5011_idelotacao or 1 %}
            <td>{{ a.s5011_idelotacao }}</td>
            {% endif %}
            {% if show_fields.show_codterc or 1 %}
            <td>{{ a.codterc }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
