{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2231_evtcessao %}
            <th>Informações de término da cessão/exercício em outro órgão</th>
            {% endif %}
            {% if show_fields.show_dttermcessao %}
            <th>Preencher com a data de término da cessão/exercício em outro órgão</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2231_fimcessao_lista %}
        <tr>
            {% if show_fields.show_s2231_evtcessao %}
            <td>{{ a.s2231_evtcessao }}</td>
            {% endif %}
            {% if show_fields.show_dttermcessao %}
            <td><span style="display:none">{{ a.dttermcessao|date:"Y-m-d" }}</span>{{ a.dttermcessao|date:"d/m/Y" }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s2231.change_s2231fimCessao or perms.s2231.add_s2231fimCessao %}

                        <a href="{% url 's2231_fimcessao_salvar' pk=a.id %}">
                            {% if perms.s2231.change_s2231fimCessao %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2231.can_see_data_s2231fimCessao %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2231.delete_s2231fimCessao %}
                        <a href="{% url 's2231_fimcessao_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
