{% load templatetags %}{% load static %}



<!-- inicio__s3000_idetrabalhador__s3000_evtexclusao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Registro que apresenta a identificação básica do trabalhador ao qual se refere o evento de remuneração.</label>
    <select name="s3000_evtexclusao" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s3000_evtexclusao_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s3000_evtexclusao' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s3000_idetrabalhador__s3000_evtexclusao -->

<!-- inicio__s3000_idetrabalhador__cpftrab -->
<div class="col-md-4">
  <div class="form-group">
    <label>CPF</label>
    <div name="cpftrab" class="input-group" style="width: 100%;">
      <input type="text" name="cpftrab" class="form-control" value="{{ dict_fields|get_value_from_dict:'cpftrab' }}">
    </div>
  </div>
</div>
<!-- fim__s3000_idetrabalhador__cpftrab -->

<!-- inicio__s3000_idetrabalhador__nistrab -->
<div class="col-md-4">
  <div class="form-group">
    <label>NIS</label>
    <div name="nistrab" class="input-group" style="width: 100%;">
      <input type="text" name="nistrab" class="form-control" value="{{ dict_fields|get_value_from_dict:'nistrab' }}">
    </div>
  </div>
</div>
<!-- fim__s3000_idetrabalhador__nistrab -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s3000_evtexclusao" value="1" {% if show_fields|get_value_from_dict:'show_s3000_evtexclusao' %}checked{% endif %} >Registro que apresenta a identificação básica do trabalhador ao qual se refere o evento de remuneração.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cpftrab" value="1" {% if show_fields|get_value_from_dict:'show_cpftrab' %}checked{% endif %} >CPF
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nistrab" value="1" {% if show_fields|get_value_from_dict:'show_nistrab' %}checked{% endif %} >NIS
    </div>
</div>


