{% load templatetags %}{% load static %}



<!-- inicio__s3000_idefolhapagto__s3000_evtexclusao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Registro que identifica a qual folha de pagamento pertence o evento que será excluído</label>
    <select name="s3000_evtexclusao" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s3000_evtexclusao_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s3000_evtexclusao' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s3000_idefolhapagto__s3000_evtexclusao -->

<!-- inicio__s3000_idefolhapagto__indapuracao -->
<div class="col-md-4">
  <div class="form-group">
    <label>Indicativo do periodo de apuração</label>
    <div class="input-group" style="width: 100%;">
      <select name="indapuracao" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'indapuracao' %}selected="selected"{% endifequal %} >1 - Mensal</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'indapuracao' %}selected="selected"{% endifequal %} >2 - Anual (13° salário).</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s3000_idefolhapagto__indapuracao -->

<!-- inicio__s3000_idefolhapagto__perapur -->
<div class="col-md-4">
  <div class="form-group">
    <label>Período de Apuração</label>
    <div name="perapur" class="input-group" style="width: 100%;">
      <input type="text" name="perapur" class="form-control" value="{{ dict_fields|get_value_from_dict:'perapur' }}">
    </div>
  </div>
</div>
<!-- fim__s3000_idefolhapagto__perapur -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s3000_evtexclusao" value="1" {% if show_fields|get_value_from_dict:'show_s3000_evtexclusao' %}checked{% endif %} >Registro que identifica a qual folha de pagamento pertence o evento que será excluído
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indapuracao" value="1" {% if show_fields|get_value_from_dict:'show_indapuracao' %}checked{% endif %} >Indicativo do periodo de apuração
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_perapur" value="1" {% if show_fields|get_value_from_dict:'show_perapur' %}checked{% endif %} >Período de Apuração
    </div>
</div>


