{% load templatetags %}{% load static %}



<!-- inicio__s1270_remunavnp__s1270_evtcontratavnp -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1270_evtcontratavnp').change(function(){
       document.getElementById("s1270_remunavnp__s1270_evtcontratavnp__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1270_remunavnp__s1270_evtcontratavnp__div">
  <div class="form-group">
    <label id="s1270_remunavnp__s1270_evtcontratavnp__label">Registro que apresenta a remuneração dos trabalhadores avulsos não portuários, de forma totalizada por estabelecimento contratante.*</label>
    {% if not for_print %}
      {% if s1270_remunavnp_form.s1270_evtcontratavnp.value %}
        <a id="s1270_remunavnp__s1270_evtcontratavnp__div_acessar" href="{% url 's1270_evtcontratavnp_salvar' pk=s1270_remunavnp_form.s1270_evtcontratavnp.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s1270_remunavnp_form.s1270_evtcontratavnp.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1270_remunavnp_form.s1270_evtcontratavnp.errors }}
      </div>
    {% endif %}
    {% if s1270_remunavnp_form.s1270_evtcontratavnp.field.widget.attrs.readonly %}
      {% if s1270_remunavnp_form.s1270_evtcontratavnp.field.widget.attrs.disabled %}
        {{ s1270_remunavnp_form.s1270_evtcontratavnp|addcss:'form-control' }}
        <input id="id_s1270_evtcontratavnp" name="s1270_evtcontratavnp" type="hidden" value="{% if s1270_remunavnp_form.s1270_evtcontratavnp.value or s1270_remunavnp_form.s1270_evtcontratavnp.value == 0 %}{{ s1270_remunavnp_form.s1270_evtcontratavnp.value|valor }}{% endif %}">
      {% else %}
        {{ s1270_remunavnp_form.s1270_evtcontratavnp|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1270_remunavnp_form.s1270_evtcontratavnp|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1270_remunavnp__s1270_evtcontratavnp -->
<!-- inicio__s1270_remunavnp__tpinsc -->
<div class="col-md-6" id="s1270_remunavnp__tpinsc__div">
  <div class="form-group">
    <label id="s1270_remunavnp__tpinsc__label">Tipo de inscrição*</label>
    {% if s1270_remunavnp_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1270_remunavnp_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1270_remunavnp_form.tpinsc.field.widget.attrs.readonly %}
        {% if s1270_remunavnp_form.tpinsc.field.widget.attrs.disabled %}
          {{ s1270_remunavnp_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s1270_remunavnp_form.tpinsc.value or s1270_remunavnp_form.tpinsc.value == 0 %}{{ s1270_remunavnp_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s1270_remunavnp_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1270_remunavnp_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__tpinsc -->
<!-- inicio__s1270_remunavnp__nrinsc -->
<div class="col-md-6" id="s1270_remunavnp__nrinsc__div">
  <div class="form-group">
    <label id="s1270_remunavnp__nrinsc__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s1270_remunavnp_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1270_remunavnp_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1270_remunavnp_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__nrinsc -->
<!-- inicio__s1270_remunavnp__codlotacao -->
<div class="col-md-6" id="s1270_remunavnp__codlotacao__div">
  <div class="form-group">
    <label id="s1270_remunavnp__codlotacao__label">Código da Lotação*</label>
      {% if s1270_remunavnp_form.codlotacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1270_remunavnp_form.codlotacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1270_remunavnp_form.codlotacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__codlotacao -->
<!-- inicio__s1270_remunavnp__vrbccp00 -->
<div class="col-md-6" id="s1270_remunavnp__vrbccp00__div">
  <div class="form-group">
    <label id="s1270_remunavnp__vrbccp00__label">Valor da BC da CP*</label>
    {% if s1270_remunavnp_form.vrbccp00.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1270_remunavnp_form.vrbccp00.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1270_remunavnp_form.vrbccp00|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__vrbccp00 -->
<!-- inicio__s1270_remunavnp__vrbccp15 -->
<div class="col-md-6" id="s1270_remunavnp__vrbccp15__div">
  <div class="form-group">
    <label id="s1270_remunavnp__vrbccp15__label">Valor da BC da CP (15 anos)*</label>
    {% if s1270_remunavnp_form.vrbccp15.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1270_remunavnp_form.vrbccp15.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1270_remunavnp_form.vrbccp15|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__vrbccp15 -->
<!-- inicio__s1270_remunavnp__vrbccp20 -->
<div class="col-md-6" id="s1270_remunavnp__vrbccp20__div">
  <div class="form-group">
    <label id="s1270_remunavnp__vrbccp20__label">Valor da BC da CP (20 anos)*</label>
    {% if s1270_remunavnp_form.vrbccp20.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1270_remunavnp_form.vrbccp20.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1270_remunavnp_form.vrbccp20|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__vrbccp20 -->
<!-- inicio__s1270_remunavnp__vrbccp25 -->
<div class="col-md-6" id="s1270_remunavnp__vrbccp25__div">
  <div class="form-group">
    <label id="s1270_remunavnp__vrbccp25__label">Valor da BC da CP (25 anos)*</label>
    {% if s1270_remunavnp_form.vrbccp25.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1270_remunavnp_form.vrbccp25.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1270_remunavnp_form.vrbccp25|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__vrbccp25 -->
<!-- inicio__s1270_remunavnp__vrbccp13 -->
<div class="col-md-6" id="s1270_remunavnp__vrbccp13__div">
  <div class="form-group">
    <label id="s1270_remunavnp__vrbccp13__label">Valor da BC da CP (13 anos)*</label>
    {% if s1270_remunavnp_form.vrbccp13.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1270_remunavnp_form.vrbccp13.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1270_remunavnp_form.vrbccp13|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__vrbccp13 -->
<!-- inicio__s1270_remunavnp__vrbcfgts -->
<div class="col-md-6" id="s1270_remunavnp__vrbcfgts__div">
  <div class="form-group">
    <label id="s1270_remunavnp__vrbcfgts__label">Valor da BC do FGTS*</label>
    {% if s1270_remunavnp_form.vrbcfgts.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1270_remunavnp_form.vrbcfgts.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1270_remunavnp_form.vrbcfgts|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__vrbcfgts -->
<!-- inicio__s1270_remunavnp__vrdesccp -->
<div class="col-md-6" id="s1270_remunavnp__vrdesccp__div">
  <div class="form-group">
    <label id="s1270_remunavnp__vrdesccp__label">Valor total descontada dos segurados*</label>
    {% if s1270_remunavnp_form.vrdesccp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1270_remunavnp_form.vrdesccp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1270_remunavnp_form.vrdesccp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1270_remunavnp__vrdesccp -->