{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5013_infodpsperante or 1 %}
            <th>Cálculo dos valores de FGTS a serem depositados, incidentes sobre a remuneração de períodos anteriores quando {tpAcConv} = [E].</th>
            {% endif %}
            {% if show_fields.show_tpdpse or 1 %}
            <th>Tipo de depósito</th>
            {% endif %}
            {% if show_fields.show_vrfgtse or 1 %}
            <th>Valor histórico do FGTS a ser depositado na conta vinculada do trabalhador</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5013_dpsperante_lista %}
        <tr>
            {% if show_fields.show_s5013_infodpsperante or 1 %}
            <td>{{ a.s5013_infodpsperante }}</td>
            {% endif %}
            {% if show_fields.show_tpdpse or 1 %}
            <td>{{ a.get_tpdpse_display }}</td>
            {% endif %}
            {% if show_fields.show_vrfgtse or 1 %}
            <td>{{ a.vrfgtse }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.s5013.can_view_s5013dpsPerAntE %}
                        <a href="{% url 's5013_dpsperante_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.s5013.add_s5013dpsPerAntE or perms.s5013.change_s5013dpsPerAntE %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.s5013.delete_s5013dpsPerAntE %}
                        <a href="{% url 's5013_dpsperante_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
