{% load templatetags %}{% load static %}



<!-- inicio__s2206_infoestatutario__s2206_evtaltcontratual -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações de Trabalhador Estatutário</label>
    <select name="s2206_evtaltcontratual" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2206_evtaltcontratual_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2206_evtaltcontratual' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2206_infoestatutario__s2206_evtaltcontratual -->

<!-- inicio__s2206_infoestatutario__tpplanrp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de plano de segregação de massa</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpplanrp" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpplanrp' %}selected="selected"{% endifequal %} >1 - Plano previdenciário ou único</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpplanrp' %}selected="selected"{% endifequal %} >2 - Plano financeiro.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__tpplanrp -->

<!-- inicio__s2206_infoestatutario__indtetorgps -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar se o servidor está sujeito ao Teto do Regime Geral pela instituição do regime de previdência complementar</label>
    <div class="input-group" style="width: 100%;">
      <select name="indtetorgps" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'indtetorgps' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'indtetorgps' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__indtetorgps -->

<!-- inicio__s2206_infoestatutario__indabonoperm -->
<div class="col-md-6">
  <div class="form-group">
    <label>Indicar se o servidor recebe abono permanência</label>
    <div class="input-group" style="width: 100%;">
      <select name="indabonoperm" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'indabonoperm' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'indabonoperm' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__indabonoperm -->

<!-- inicio__s2206_infoestatutario__indparcremun -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar se o servidor fez a opção pela inclusão na base de cálculo da contribuição de parcelas remuneratórias percebidas em decorrência de local de trabalho e do exercício de cargo em comissão ou de função comissionada ou gratificada, conforme art. 4º, § 2º, da Lei nº 10.887/2004</label>
    <div class="input-group" style="width: 100%;">
      <select name="indparcremun" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'indparcremun' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'indparcremun' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__indparcremun -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2206_evtaltcontratual" value="1" {% if show_fields|get_value_from_dict:'show_s2206_evtaltcontratual' %}checked{% endif %} >Informações de Trabalhador Estatutário
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpplanrp" value="1" {% if show_fields|get_value_from_dict:'show_tpplanrp' %}checked{% endif %} >Tipo de plano de segregação de massa
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indtetorgps" value="1" {% if show_fields|get_value_from_dict:'show_indtetorgps' %}checked{% endif %} >Informar se o servidor está sujeito ao Teto do Regime Geral pela instituição do regime de previdência complementar
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indabonoperm" value="1" {% if show_fields|get_value_from_dict:'show_indabonoperm' %}checked{% endif %} >Indicar se o servidor recebe abono permanência
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indparcremun" value="1" {% if show_fields|get_value_from_dict:'show_indparcremun' %}checked{% endif %} >Informar se o servidor fez a opção pela inclusão na base de cálculo da contribuição de parcelas remuneratórias percebidas em decorrência de local de trabalho e do exercício de cargo em comissão ou de função comissionada ou gratificada, conforme art. 4º, § 2º, da Lei nº 10.887/2004
    </div>
</div>


