DEBUG=on
SECRET_KEY='2w0qr9j#u2e=q081@sk)^-t3g9p5+k0+k9-b=yx4*aw!j=dsm$'
DATABASE_URL=psql://usuario:senha@localhost:5432/nome_banco
ALLOWED_HOSTS=www.endereco.com.br
EMAIL_HOST=smtp.endereco.com.br
EMAIL_HOST_USER=contato@endereco.com.br
EMAIL_HOST_PASSWORD=senha_email
EMAIL_PORT=587
EMAIL_USE_TLS=True
SERVER_EMAIL=contato@endereco.com.br
CERT_HOST=certificados/certificado.pfx
CERT_PASS=senha_certificado
CERT_PEM_FILE=certificados/cert.pem
KEY_PEM_FILE=certificados/key.pem
CA_CERT_PEM_FILE=certificados/acserproacfv5.crt
TP_AMB=2
FORCE_PRODUCAO_RESTRITA=True
PASS_SCRIPT=senha_webservice
LINK_WEBSITE=http://www.emensageria.com.br/emensageriapro/
EMAIL_RECUPERACAO_SENHA=emensageria@emensageria.com.br
STATIC_ROOT=/endereco/pasta/static