{% extends 'base.html' %}{% load templatetags %}{% block content %}

{% if not for_print %}

    <section class="content-header">
      <h1>
        S-1207 - Benefícios previdenciários - RPPS
        <small>Verificações</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">S-1207 - Benefícios previdenciários - RPPS</a></li>
        <li class="active">Verificar</li>
      </ol>
    </section>
    <section class="content">

        {% if messages %}
                <div class="pad margin no-print">
            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="margin-bottom: 0!important;">
                        {{ message }}
                    </div>
            {% endfor %}
                </div>
        {% endif %}

      

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">S-1207 - Benefícios previdenciários - RPPS<br>Identidade: {{ s1207_evtbenprrp.identidade }}</h3>
              <div class="text-right">
                <a href="{% url 's1207_evtbenprrp_verificar' hash='{}'|json_id:s1207_evtbenprrp_id|json_print:1|base64_encode_me %}" target="_blank">
                  <button id="btnImprimir" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</button>
                </a>



                  <div class="btn-group">
                                <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Exportar
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><span class="caret"></span><span class="sr-only">Exportar</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="text-left"><a
                                            href="{% url 's1207_evtbenprrp_verificar' hash='{}'|json_id:s1207_evtbenprrp_id|json_print:2|base64_encode_me %}"
                                            target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;PDF</a></li>
                                    <li class="text-left"><a
                                            href="{% url 's1207_evtbenprrp_verificar' hash='{}'|json_id:s1207_evtbenprrp_id|json_print:3|base64_encode_me %}"
                                            target="_blank"><i class="fa fa-file-excel-o"></i>&nbsp;XLS</a></li>
                                    <!--<li class="text-left"><a
                                            href="{% url 's1207_evtbenprrp_verificar' hash='{}'|json_id:s1207_evtbenprrp_id|json_print:4|base64_encode_me %}"
                                            target="_blank"><i class="fa fa-file-text-o"></i>&nbsp;CSV</a></li>-->
                                </ul>
                            </div>&nbsp;

              </div>              
            </div>
            <div class="box-body">
{% else %} 
   <section class="invoice">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            S-1207 - Benefícios previdenciários - RPPS<br>Identidade: {{ s1207_evtbenprrp.identidade }}
            <small class="pull-right">Usuário: {{ usuario.nome }}<br>Data: {{ data }}<br></small>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 table-responsive">
{% endif %} 




      <h4>Layout</h4>




<table {% if not for_print %}class="table table-bordered"{% else %}border=1 border="0.5px" cellpadding="5px" width="100%"{% endif %}>
              

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">evtBenPrRP</td>
            <td bgcolor="lightgray" colspan="3">Evento remuneração de trabalhadores vinculados a Regime Próprio dePrevidência Social</td>
        </tr>

    {% for s1207_evtbenprrp in s1207_evtbenprrp_lista %}
    {% ifequal 1 1 %}

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEvento</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do evento</td>
        </tr>


        <tr {% if s1207_evtbenprrp.indretif|validacoes_esocial_efdreinf:"s1207_evtbenprrp.indretif" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">indRetif</td>
            <td width="500px">Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.indretif or s1207_evtbenprrp.indretif == 0 %}{{ s1207_evtbenprrp.indretif|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_evtbenprrp.nrrecibo|validacoes_esocial_efdreinf:"s1207_evtbenprrp.nrrecibo" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrRecibo</td>
            <td width="500px">Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2].Deve ser um recibo de entrega válido, correspondente ao arquivo que estásendo retificado.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.nrrecibo or s1207_evtbenprrp.nrrecibo == 0 %}{{ s1207_evtbenprrp.nrrecibo }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_evtbenprrp.indapuracao|validacoes_esocial_efdreinf:"s1207_evtbenprrp.indapuracao" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">indApuracao</td>
            <td width="500px">Indicativo de período de apuração:1 - Mensal;2 - Anual (13° salário). Valores Válidos: 1, 2</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.indapuracao or s1207_evtbenprrp.indapuracao == 0 %}{{ s1207_evtbenprrp.indapuracao|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_evtbenprrp.perapur|validacoes_esocial_efdreinf:"s1207_evtbenprrp.perapur" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApur</td>
            <td width="500px">Informar o mês/ano (formato AAAA-MM) de referência das informações, se{indApuracao} for igual a [1], ou apenas o ano (formato AAAA), se{indApuracao} for igual a [2]Validação: Deve ser um mês/ano ou ano válido, igual ou posterior a implementação do eSocial.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.perapur or s1207_evtbenprrp.perapur == 0 %}{{ s1207_evtbenprrp.perapur }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_evtbenprrp.tpamb|validacoes_esocial_efdreinf:"s1207_evtbenprrp.tpamb" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpAmb</td>
            <td width="500px">Identificação do ambiente: 1 - Produção;2 - Produção restrita. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.tpamb or s1207_evtbenprrp.tpamb == 0 %}{{ s1207_evtbenprrp.tpamb|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_evtbenprrp.procemi|validacoes_esocial_efdreinf:"s1207_evtbenprrp.procemi" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">procEmi</td>
            <td width="500px">Processo de emissão do evento: 1 - Aplicativo do empregador; 2 - Aplicativo governamental - Empregador Doméstico; 3 - Aplicativo governamental - Web Geral; 4 - Aplicativo governamental - Microempreendedor Individual(MEI); 5 - Aplicativo governamental - Segurado Especial. Valores Válidos: 1, 2, 3, 4, 5.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.procemi or s1207_evtbenprrp.procemi == 0 %}{{ s1207_evtbenprrp.procemi|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_evtbenprrp.verproc|validacoes_esocial_efdreinf:"s1207_evtbenprrp.verproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">verProc</td>
            <td width="500px">Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.verproc or s1207_evtbenprrp.verproc == 0 %}{{ s1207_evtbenprrp.verproc }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEmpregador</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do empregador</td>
        </tr>


        <tr {% if s1207_evtbenprrp.tpinsc|validacoes_esocial_efdreinf:"s1207_evtbenprrp.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição, conforme tabela5Validação: Deve ser igual a [1] (CNPJ) Valores Válidos: 1</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.tpinsc or s1207_evtbenprrp.tpinsc == 0 %}{{ s1207_evtbenprrp.tpinsc|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_evtbenprrp.nrinsc|validacoes_esocial_efdreinf:"s1207_evtbenprrp.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o CNPJ apenas com a Raiz/Base de oito posições, exceto se natureza jurídica do declarante for de administração pública direta federal ([101-5], [104-0], [107-4] e [116-3]), situação em que o campo deve ser preenchidocom o CNPJ completo com 14 posições. Validação: Deve ser um número de CNPJ válido.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.nrinsc or s1207_evtbenprrp.nrinsc == 0 %}{{ s1207_evtbenprrp.nrinsc }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideBenef</td>
            <td bgcolor="lightgray" colspan="3">Registro que apresenta a identificação básica do trabalhador ao qual se refere o evento de remuneração.</td>
        </tr>


        <tr {% if s1207_evtbenprrp.cpfbenef|validacoes_esocial_efdreinf:"s1207_evtbenprrp.cpfbenef" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">cpfBenef</td>
            <td width="500px">Informar o CPF do beneficiário.</td>
            <td width="200px"><b>{% if s1207_evtbenprrp.cpfbenef or s1207_evtbenprrp.cpfbenef == 0 %}{{ s1207_evtbenprrp.cpfbenef }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_evtbenprrp_visualizar' %}
                <a href="{% url 's1207_evtbenprrp_salvar'  hash='{}'|json_id:s1207_evtbenprrp.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">dmDev</td>
            <td bgcolor="lightgray" colspan="3">Identificação de cada um dos demonstrativos de valores devidos ao beneficiário antes das retenções de pensão alimentícia e IRRF. (As retenções de pensão alimentícia e IRRF devem ser realizadas no ato do pagamento e, portanto, são informadas no evento S-1210).O somatório de cada uma das rubricas cujo {codIncCP} = [31, 32, 34, 35] não pode ser negativo.O somatório dos Vencimentos deve ser maior ou igual ao somatório dosDescontos.</td>
        </tr>

    {% for s1207_dmdev in s1207_dmdev_lista %}
    {% ifequal s1207_dmdev.s1207_evtbenprrp.id s1207_evtbenprrp.id %}

        <tr {% if s1207_dmdev.tpbenef|validacoes_esocial_efdreinf:"s1207_dmdev.tpbenef" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpBenef</td>
            <td width="500px">Tipo de benefício previdenciário, conforme tabela 25Validação: Deve ser um código existente na tabela 25</td>
            <td width="200px"><b>{% if s1207_dmdev.tpbenef or s1207_dmdev.tpbenef == 0 %}{{ s1207_dmdev.tpbenef|inteiro_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_dmdev_visualizar' %}
                <a href="{% url 's1207_dmdev_salvar'  hash='{}'|json_id:s1207_dmdev.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_dmdev.nrbenefic|validacoes_esocial_efdreinf:"s1207_dmdev.nrbenefic" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrBenefic</td>
            <td width="500px">Número do benefício previdenciárioValidação: Deve estar previamente cadastrado através do evento S-2400 e estar ativo no período definido em {perApur}.</td>
            <td width="200px"><b>{% if s1207_dmdev.nrbenefic or s1207_dmdev.nrbenefic == 0 %}{{ s1207_dmdev.nrbenefic }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_dmdev_visualizar' %}
                <a href="{% url 's1207_dmdev_salvar'  hash='{}'|json_id:s1207_dmdev.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_dmdev.idedmdev|validacoes_esocial_efdreinf:"s1207_dmdev.idedmdev" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">ideDmDev</td>
            <td width="500px">Identificador atribuído pelo órgão público para o demonstrativo de pagamento. Este campo poderá ser informado utilizando-se de um identificador padrão para todos os beneficiários, no entanto, havendo mais de um pagamento relativo a um mesmo período de competência devem ser utilizados identificadores diferentes para cada um dos demonstrativos. Validação: Deve ser um identificador único dentro da mesma competência para cada um dos demonstrativos de pagamento do beneficiário.</td>
            <td width="200px"><b>{% if s1207_dmdev.idedmdev or s1207_dmdev.idedmdev == 0 %}{{ s1207_dmdev.idedmdev }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_dmdev_visualizar' %}
                <a href="{% url 's1207_dmdev_salvar'  hash='{}'|json_id:s1207_dmdev.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">itens</td>
            <td bgcolor="lightgray" colspan="3">Detalhamento dos valores devidos ao beneficiário</td>
        </tr>

    {% for s1207_itens in s1207_itens_lista %}
    {% ifequal s1207_itens.s1207_dmdev.id s1207_dmdev.id %}

        <tr {% if s1207_itens.codrubr|validacoes_esocial_efdreinf:"s1207_itens.codrubr" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">codRubr</td>
            <td width="500px">Informar o código atribuído pela empresa e que identifica a rubrica em sua folha de pagamento.</td>
            <td width="200px"><b>{% if s1207_itens.codrubr or s1207_itens.codrubr == 0 %}{{ s1207_itens.codrubr }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_itens_visualizar' %}
                <a href="{% url 's1207_itens_salvar'  hash='{}'|json_id:s1207_itens.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_itens.idetabrubr|validacoes_esocial_efdreinf:"s1207_itens.idetabrubr" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">ideTabRubr</td>
            <td width="500px">Preencher com o identificador da tabela de rubricas, conforme informado emS-1010 para a rubrica definida em {codRubr}.Validação: Deve existir na tabela S-1010 (em conjunto com {codRubr})vigente no período indicado em {perApur}.</td>
            <td width="200px"><b>{% if s1207_itens.idetabrubr or s1207_itens.idetabrubr == 0 %}{{ s1207_itens.idetabrubr }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_itens_visualizar' %}
                <a href="{% url 's1207_itens_salvar'  hash='{}'|json_id:s1207_itens.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>


        <tr {% if s1207_itens.vrrubr|validacoes_esocial_efdreinf:"s1207_itens.vrrubr" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vrRubr</td>
            <td width="500px">Valor total da rubricaValidação: Deve ser maior que zero.</td>
            <td width="200px"><b>{% if s1207_itens.vrrubr or s1207_itens.vrrubr == 0 %}{{ s1207_itens.vrrubr|format_number_2dec_xml }}{% else %}(vazio){% endif %}</b></td>

            {% if not for_print %}
            <td width="40px">
              <div>
                {% if dict_permissoes|get_permissao:'s1207_itens_visualizar' %}
                <a href="{% url 's1207_itens_salvar'  hash='{}'|json_id:s1207_itens.id|json_print:0|base64_encode_me %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}    {% endifequal %}{% endfor %}{% endifequal %}{% endfor %}
</table>
{% if not for_print %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% else %} 

        </div>
      </div>
    </section>
{% endif %}  

{% endblock content %}