{% load templatetags %}{% load static %}



<!-- inicio__s5001_procjudtrab__s5001_evtbasestrab -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5001_evtbasestrab').change(function(){
       document.getElementById("s5001_procjudtrab__s5001_evtbasestrab__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5001_procjudtrab__s5001_evtbasestrab__div">
  <div class="form-group">
    <label id="s5001_procjudtrab__s5001_evtbasestrab__label">Informações sobre a existência de processos judiciais do trabalhador com decisão favorável quanto à não incidência ou alterações na incidência de contribuições sociais e/ou Imposto de Renda sobre as rubricas apresentadas nos subregistros de {dmDev}.*</label>
    {% if not for_print %}
      {% if s5001_procjudtrab_form.s5001_evtbasestrab.value %}
        <a id="s5001_procjudtrab__s5001_evtbasestrab__div_acessar" href="{% url 's5001_evtbasestrab_salvar' pk=s5001_procjudtrab_form.s5001_evtbasestrab.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5001_procjudtrab_form.s5001_evtbasestrab.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5001_procjudtrab_form.s5001_evtbasestrab.errors }}
      </div>
    {% endif %}
    {% if s5001_procjudtrab_form.s5001_evtbasestrab.field.widget.attrs.readonly %}
      {% if s5001_procjudtrab_form.s5001_evtbasestrab.field.widget.attrs.disabled %}
        {{ s5001_procjudtrab_form.s5001_evtbasestrab|addcss:'form-control' }}
        <input id="id_s5001_evtbasestrab" name="s5001_evtbasestrab" type="hidden" value="{% if s5001_procjudtrab_form.s5001_evtbasestrab.value or s5001_procjudtrab_form.s5001_evtbasestrab.value == 0 %}{{ s5001_procjudtrab_form.s5001_evtbasestrab.value|valor }}{% endif %}">
      {% else %}
        {{ s5001_procjudtrab_form.s5001_evtbasestrab|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5001_procjudtrab_form.s5001_evtbasestrab|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5001_procjudtrab__s5001_evtbasestrab -->
<!-- inicio__s5001_procjudtrab__nrprocjud -->
<div class="col-md-4" id="s5001_procjudtrab__nrprocjud__div">
  <div class="form-group">
    <label id="s5001_procjudtrab__nrprocjud__label">Número do Processo Judicial*</label>
      {% if s5001_procjudtrab_form.nrprocjud.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5001_procjudtrab_form.nrprocjud.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5001_procjudtrab_form.nrprocjud|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5001_procjudtrab__nrprocjud -->
<!-- inicio__s5001_procjudtrab__codsusp -->
<div class="col-md-4" id="s5001_procjudtrab__codsusp__div">
  <div class="form-group">
    <label id="s5001_procjudtrab__codsusp__label">Código do Indicativo da Suspensão*</label>
      {% if s5001_procjudtrab_form.codsusp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5001_procjudtrab_form.codsusp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5001_procjudtrab_form.codsusp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5001_procjudtrab__codsusp -->