<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2416_homologtc__s2416_evtcdbenalt -->
<div class="col-md-12">
  <div class="form-group">
    <label>Registro que apresenta as informações de homologação do benefício pelo Tribunal de Contas</label>
    <select name="s2416_evtcdbenalt" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2416_evtcdbenalt_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2416_evtcdbenalt' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2416_homologtc__s2416_evtcdbenalt -->

<!-- inicio__s2416_homologtc__nratolegal -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar o número do ato legal de registro ou homologação do Tribunal de Contas.</label>
    <div name="nratolegal" class="input-group" style="width: 100%;">
      <input type="text" name="nratolegal" class="form-control" value="{{ dict_fields|get_value_from_dict:'nratolegal' }}">
    </div>
  </div>
</div>
<!-- fim__s2416_homologtc__nratolegal -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2416_evtcdbenalt" value="1" {% if show_fields|get_value_from_dict:'show_s2416_evtcdbenalt' %}checked{% endif %} >Registro que apresenta as informações de homologação do benefício pelo Tribunal de Contas
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nratolegal" value="1" {% if show_fields|get_value_from_dict:'show_nratolegal' %}checked{% endif %} >Informar o número do ato legal de registro ou homologação do Tribunal de Contas.
    </div>
</div>


