{% load templatetags %}{% load static %}



<!-- inicio__r9012_totapurmen__r9012_infototalcontrib -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r9012_infototalcontrib').change(function(){
       document.getElementById("r9012_totapurmen__r9012_infototalcontrib__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r9012_totapurmen__r9012_infototalcontrib__div">
  <div class="form-group">
    <label id="r9012_totapurmen__r9012_infototalcontrib__label">Totalizador das bases de cálculo e das retenções dos tributos com período de apuração mensal*<a data-toggle="tooltip" title="Totalizador das bases de cálculo e das retenções dos tributos com período de apuração mensal."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if r9012_totapurmen_form.r9012_infototalcontrib.value %}
        <a id="r9012_totapurmen__r9012_infototalcontrib__div_acessar" href="{% url 'r9012_infototalcontrib_salvar' pk=r9012_totapurmen_form.r9012_infototalcontrib.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r9012_totapurmen_form.r9012_infototalcontrib.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r9012_totapurmen_form.r9012_infototalcontrib.errors }}
      </div>
    {% endif %}
    {% if r9012_totapurmen_form.r9012_infototalcontrib.field.widget.attrs.readonly %}
      {% if r9012_totapurmen_form.r9012_infototalcontrib.field.widget.attrs.disabled %}
        {{ r9012_totapurmen_form.r9012_infototalcontrib|addcss:'form-control' }}
        <input id="id_r9012_infototalcontrib" name="r9012_infototalcontrib" type="hidden" value="{% if r9012_totapurmen_form.r9012_infototalcontrib.value or r9012_totapurmen_form.r9012_infototalcontrib.value == 0 %}{{ r9012_totapurmen_form.r9012_infototalcontrib.value|valor }}{% endif %}">
      {% else %}
        {{ r9012_totapurmen_form.r9012_infototalcontrib|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r9012_totapurmen_form.r9012_infototalcontrib|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r9012_totapurmen__r9012_infototalcontrib -->
<!-- inicio__r9012_totapurmen__crmen -->
<div class="col-md-6" id="r9012_totapurmen__crmen__div">
  <div class="form-group">
    <label id="r9012_totapurmen__crmen__label">Código de Receita - CR relativo ao tributo que possui período de apuração mensal*<a data-toggle="tooltip" title="Código de Receita - CR relativo ao tributo que possui período de apuração mensal. Origem: R-9002. <validacao> Deve ser um dos seguintes valores, compatível com as informações prestadas nos demais eventos: [0561, 0588, 5200, 5936, 1889, 3533, 3562, 3223, 3540, 3556, 5565, 3579, 3208, 3277, 8045, 3280, 1708, 5944, 5204, 6891, 5928, 1895, 5952, 5987, 5960, 5979, 6147, 9060, 8739, 8767, 6175, 8850, 8863, 6188, 6190]."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r9012_totapurmen_form.crmen.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r9012_totapurmen_form.crmen.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r9012_totapurmen_form.crmen|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r9012_totapurmen__crmen -->
<!-- inicio__r9012_totapurmen__vlrbasecrmen -->
<div class="col-md-6" id="r9012_totapurmen__vlrbasecrmen__div">
  <div class="form-group">
    <label id="r9012_totapurmen__vlrbasecrmen__label">Valor da base do tributo com período de apuração mensal*<a data-toggle="tooltip" title="Valor da base do tributo com período de apuração mensal. Origem: R-9002."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r9012_totapurmen_form.vlrbasecrmen.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9012_totapurmen_form.vlrbasecrmen.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9012_totapurmen_form.vlrbasecrmen|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9012_totapurmen__vlrbasecrmen -->
<!-- inicio__r9012_totapurmen__vlrcrmen -->
<div class="col-md-6" id="r9012_totapurmen__vlrcrmen__div">
  <div class="form-group">
    <label id="r9012_totapurmen__vlrcrmen__label">Valor do tributo retido com período de apuração mensal, calculado segundo as regras estabelecidas na legislação em vigor*<a data-toggle="tooltip" title="Valor do tributo retido com período de apuração mensal, calculado segundo as regras estabelecidas na legislação em vigor. Origem: R-9002."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r9012_totapurmen_form.vlrcrmen.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9012_totapurmen_form.vlrcrmen.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9012_totapurmen_form.vlrcrmen|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9012_totapurmen__vlrcrmen -->
<!-- inicio__r9012_totapurmen__vlrbasecrmensusp -->
<div class="col-md-6" id="r9012_totapurmen__vlrbasecrmensusp__div">
  <div class="form-group">
    <label id="r9012_totapurmen__vlrbasecrmensusp__label">Valor da base do tributo com período de apuração mensal, com exigibilidade suspensa<a data-toggle="tooltip" title="Valor da base do tributo com período de apuração mensal, com exigibilidade suspensa. Origem: R-9002."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r9012_totapurmen_form.vlrbasecrmensusp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9012_totapurmen_form.vlrbasecrmensusp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9012_totapurmen_form.vlrbasecrmensusp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9012_totapurmen__vlrbasecrmensusp -->
<!-- inicio__r9012_totapurmen__vlrcrmensusp -->
<div class="col-md-6" id="r9012_totapurmen__vlrcrmensusp__div">
  <div class="form-group">
    <label id="r9012_totapurmen__vlrcrmensusp__label">Valor do tributo com período de apuração mensal, que deixou de ser retido<a data-toggle="tooltip" title="Valor do tributo com período de apuração mensal, que deixou de ser retido. Origem: R-9002."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r9012_totapurmen_form.vlrcrmensusp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9012_totapurmen_form.vlrcrmensusp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9012_totapurmen_form.vlrcrmensusp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9012_totapurmen__vlrcrmensusp -->