{% load templatetags %}{% load static %}



<!-- inicio__r3010_boletim__r3010_evtespdesportivo -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r3010_evtespdesportivo').change(function(){
       document.getElementById("r3010_boletim__r3010_evtespdesportivo__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r3010_boletim__r3010_evtespdesportivo__div">
  <div class="form-group">
    <label id="r3010_boletim__r3010_evtespdesportivo__label">Boletim do Espetáculo Desportivo*</label>
    {% if not for_print %}
      {% if r3010_boletim_form.r3010_evtespdesportivo.value %}
        <a id="r3010_boletim__r3010_evtespdesportivo__div_acessar" href="{% url 'r3010_evtespdesportivo_salvar' hash='{}'|json_id:r3010_boletim_form.r3010_evtespdesportivo.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r3010_boletim_form.r3010_evtespdesportivo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r3010_boletim_form.r3010_evtespdesportivo.errors }}
      </div>
    {% endif %}
    {% if r3010_boletim_form.r3010_evtespdesportivo.field.widget.attrs.readonly %}
      {% if r3010_boletim_form.r3010_evtespdesportivo.field.widget.attrs.disabled %}
        {{ r3010_boletim_form.r3010_evtespdesportivo|addcss:'form-control' }}
        <input id="id_r3010_evtespdesportivo" name="r3010_evtespdesportivo" type="hidden" value="{% if r3010_boletim_form.r3010_evtespdesportivo.value or r3010_boletim_form.r3010_evtespdesportivo.value == 0 %}{{ r3010_boletim_form.r3010_evtespdesportivo.value|valor }}{% endif %}">
      {% else %}
        {{ r3010_boletim_form.r3010_evtespdesportivo|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r3010_boletim_form.r3010_evtespdesportivo|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r3010_boletim__r3010_evtespdesportivo -->
<!-- inicio__r3010_boletim__nrboletim -->
<div class="col-md-6" id="r3010_boletim__nrboletim__div">
  <div class="form-group">
    <label id="r3010_boletim__nrboletim__label">Número do boletim relativo ao espetáculo desportivo*</label>
      {% if r3010_boletim_form.nrboletim.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.nrboletim.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.nrboletim|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__nrboletim -->
<!-- inicio__r3010_boletim__tpcompeticao -->
<div class="col-md-6" id="r3010_boletim__tpcompeticao__div">
  <div class="form-group">
    <label id="r3010_boletim__tpcompeticao__label">Tipo de Competição*</label>
    {% if r3010_boletim_form.tpcompeticao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r3010_boletim_form.tpcompeticao.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r3010_boletim_form.tpcompeticao.field.widget.attrs.readonly %}
        {% if r3010_boletim_form.tpcompeticao.field.widget.attrs.disabled %}
          {{ r3010_boletim_form.tpcompeticao|addcss:'form-control' }}
          <input id="id_tpcompeticao" name="tpcompeticao" type="hidden" value="{% if r3010_boletim_form.tpcompeticao.value or r3010_boletim_form.tpcompeticao.value == 0 %}{{ r3010_boletim_form.tpcompeticao.value|valor }}{% endif %}">
        {% else %}
          {{ r3010_boletim_form.tpcompeticao|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r3010_boletim_form.tpcompeticao|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__tpcompeticao -->
<!-- inicio__r3010_boletim__categevento -->
<div class="col-md-6" id="r3010_boletim__categevento__div">
  <div class="form-group">
    <label id="r3010_boletim__categevento__label">Categoria do evento*</label>
    {% if r3010_boletim_form.categevento.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r3010_boletim_form.categevento.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r3010_boletim_form.categevento.field.widget.attrs.readonly %}
        {% if r3010_boletim_form.categevento.field.widget.attrs.disabled %}
          {{ r3010_boletim_form.categevento|addcss:'form-control' }}
          <input id="id_categevento" name="categevento" type="hidden" value="{% if r3010_boletim_form.categevento.value or r3010_boletim_form.categevento.value == 0 %}{{ r3010_boletim_form.categevento.value|valor }}{% endif %}">
        {% else %}
          {{ r3010_boletim_form.categevento|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r3010_boletim_form.categevento|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__categevento -->
<!-- inicio__r3010_boletim__moddesportiva -->
<div class="col-md-6" id="r3010_boletim__moddesportiva__div">
  <div class="form-group">
    <label id="r3010_boletim__moddesportiva__label">Descrição da modalidade do evento desportivo*</label>
      {% if r3010_boletim_form.moddesportiva.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.moddesportiva.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.moddesportiva|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__moddesportiva -->
<!-- inicio__r3010_boletim__nomecompeticao -->
<div class="col-md-6" id="r3010_boletim__nomecompeticao__div">
  <div class="form-group">
    <label id="r3010_boletim__nomecompeticao__label">Nome da competição. (Campeonato Brasileiro, Copa do Brasil, Campeonato Estadual, entre outras)*</label>
      {% if r3010_boletim_form.nomecompeticao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.nomecompeticao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.nomecompeticao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__nomecompeticao -->
<!-- inicio__r3010_boletim__cnpjmandante -->
<div class="col-md-6" id="r3010_boletim__cnpjmandante__div">
  <div class="form-group">
    <label id="r3010_boletim__cnpjmandante__label">Preencher com o CNPJ do clube mandante*</label>
      {% if r3010_boletim_form.cnpjmandante.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.cnpjmandante.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.cnpjmandante|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__cnpjmandante -->
<!-- inicio__r3010_boletim__cnpjvisitante -->
<div class="col-md-6" id="r3010_boletim__cnpjvisitante__div">
  <div class="form-group">
    <label id="r3010_boletim__cnpjvisitante__label">Preencher com o número de inscrição do clube visitante no CNPJ</label>
      {% if r3010_boletim_form.cnpjvisitante.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.cnpjvisitante.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.cnpjvisitante|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__cnpjvisitante -->
<!-- inicio__r3010_boletim__nomevisitante -->
<div class="col-md-6" id="r3010_boletim__nomevisitante__div">
  <div class="form-group">
    <label id="r3010_boletim__nomevisitante__label">Nome do clube visitante</label>
      {% if r3010_boletim_form.nomevisitante.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.nomevisitante.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.nomevisitante|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__nomevisitante -->
<!-- inicio__r3010_boletim__pracadesportiva -->
<div class="col-md-6" id="r3010_boletim__pracadesportiva__div">
  <div class="form-group">
    <label id="r3010_boletim__pracadesportiva__label">Praça desportiva do local do evento*</label>
      {% if r3010_boletim_form.pracadesportiva.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.pracadesportiva.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.pracadesportiva|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__pracadesportiva -->
<!-- inicio__r3010_boletim__codmunic -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-12" id="r3010_boletim__codmunic__div">
    <div class="form-group">
      <label id="r3010_boletim__codmunic__label">Código do Município</label>
        {% if r3010_boletim_form.codmunic.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ r3010_boletim_form.codmunic.errors }}
          </div>
        {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if r3010_boletim.codmunic %}{{ r3010_boletim.codmunic }}{% endif %}" 
        {% if r3010_boletim_form.codmunic.field.widget.attrs.readonly %} readonly="readonly"{% endif %}{% if r3010_boletim_form.codmunic.field.widget.attrs.required %} required="required"{% endif %}{% if r3010_boletim_form.codmunic.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" id="id_codmunic" name="codmunic" value="{% if r3010_boletim.codmunic %}{{ r3010_boletim_form.codmunic.value|valor }}{% endif %}">
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codmunic').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/municipios/json-search/" + request.term + "/", function (data) {
          response($.map(data.municipios, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codmunic').val(ui.item.value);
        return false;
      }});
    {% if r3010_boletim_form.codmunic.field.widget.attrs.required %}
    $("#id_form_r3010_boletim").submit(function(e) {
      $('#txt_codmunic').disabled = true;
        if ($('#id_codmunic').val() == "") {
          $('#txt_codmunic').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código do Município!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-12" id="r3010_boletim__codmunic__div">
    <div class="form-group">
      <label id="r3010_boletim__codmunic__label">Código do Município</label>
        {% if not for_print %}{% if r3010_boletim_form.codmunic.value %}
            <a id="r3010_boletim__codmunic__div_acessar" href="{% url 'municipios_salvar' hash='{}'|json_id:r3010_boletim_form.codmunic.value|json_print:0|base64_encode_me %}">
                [Acessar]
            </a>
        {% endif %} {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if r3010_boletim.codmunic %}{{ r3010_boletim.codmunic }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__r3010_boletim__codmunic -->
<!-- inicio__r3010_boletim__uf -->
<div class="col-md-6" id="r3010_boletim__uf__div">
  <div class="form-group">
    <label id="r3010_boletim__uf__label">Preencher com a sigla da Unidade da Federação*</label>
    {% if r3010_boletim_form.uf.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r3010_boletim_form.uf.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r3010_boletim_form.uf.field.widget.attrs.readonly %}
        {% if r3010_boletim_form.uf.field.widget.attrs.disabled %}
          {{ r3010_boletim_form.uf|addcss:'form-control' }}
          <input id="id_uf" name="uf" type="hidden" value="{% if r3010_boletim_form.uf.value or r3010_boletim_form.uf.value == 0 %}{{ r3010_boletim_form.uf.value }}{% endif %}">
        {% else %}
          {{ r3010_boletim_form.uf|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r3010_boletim_form.uf|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__uf -->
<!-- inicio__r3010_boletim__qtdepagantes -->
<div class="col-md-6" id="r3010_boletim__qtdepagantes__div">
  <div class="form-group">
    <label id="r3010_boletim__qtdepagantes__label">Quantidade de espectadores pagantes do evento*</label>
      {% if r3010_boletim_form.qtdepagantes.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.qtdepagantes.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.qtdepagantes|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__qtdepagantes -->
<!-- inicio__r3010_boletim__qtdenaopagantes -->
<div class="col-md-6" id="r3010_boletim__qtdenaopagantes__div">
  <div class="form-group">
    <label id="r3010_boletim__qtdenaopagantes__label">Quantidade de espectadores não pagantes do evento*</label>
      {% if r3010_boletim_form.qtdenaopagantes.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r3010_boletim_form.qtdenaopagantes.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r3010_boletim_form.qtdenaopagantes|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__qtdenaopagantes -->