
        <div class="row">
{#            <div class="col-lg-3 col-xs-6">#}
{#                <div class="small-box bg-aqua">#}
{#                    <div class="inner"><h3>{{ esocial_quant_cadastrados }}</h3>#}
{#                        <p><strong>Eventos cadastrados</strong><br>#}
{#                            Aguardando validação</p>#}
{#                    </div>#}
{#                    <div class="icon"><i class="fa fa-edit"></i></div>#}
{#                    <a href="{% url 'mapa_esocial' tab='master' %}"#}
{#                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
            <div class="col-lg-2 col-xs-6">
                <div class="small-box bg-orange">
                    <div class="inner"><h3>{{ esocial_quant_importados }}</h3>
                        <p><strong>Eventos importados</strong>
                            <br>Aguardando validação</p>
                    </div>
                    <div class="icon"><i class="fa fa-check"></i></div>
                    <a href="{% url 'mapa_esocial' tab='importados' %}"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner"><h3>{{ esocial_quant_erros_validacao }}</h3>
                        <p><strong>Erros de validação</strong>
                            <br>Aguardando correção
                        </p>
                    </div>
                    <div class="icon"><i class="fa fa-close"></i></div>
                    <a href="{% url 'mapa_esocial' tab='erros_validacao' %}"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6">
                <div class="small-box bg-purple">
                    <div class="inner"><h3>{{ esocial_quant_validados }}</h3>
                        <p><strong>Eventos validados</strong>
                            <br>Aguardando envio</p>
                    </div>
                    <div class="icon"><i class="fa fa-cloud-upload"></i></div>
                    <a href="{% url 'mapa_esocial' tab='validados' %}"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner"><h3>{{ esocial_quant_erros_envio }}</h3>
                        <p><strong>Erros de envio</strong>
                            <br>Aguardando correção
                        </p>
                    </div>
                    <div class="icon"><i class="fa fa-close"></i></div>
                    <a href="{% url 'mapa_esocial' tab='erros_envio' %}"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner"><h3>{{ esocial_quant_enviados }}</h3>
                        <p><strong>Eventos enviados</strong>
                            <br>Aguardando consulta</p>
                    </div>
                    <div class="icon"><i class="fa fa-clock-o"></i></div>
                    <a href="{% url 'mapa_esocial' tab='enviados' %}"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6">
                <div class="small-box bg-primary">
                    <div class="inner"><h3>{{ esocial_quant_processados }}</h3>
                        <p><strong>Eventos processados</strong><br>Imprima o recibo</p></div>
                    <div class="icon"><i class="fa fa-check"></i></div>
                    <a href="{% url 'mapa_esocial' tab='processados' %}"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-{% if tab == 'master' %}4{% else %}3{% endif %}">
                <a href="{% url 'esocial_validar_api' tab=tab_return %}">
                    <span class="btn btn-warning btn-block btn-lg">
                        <i class="fa fa-gear"></i>&nbsp;
                        Validar
                    </span>
                </a>&nbsp;
            </div>
            <div class="col-md-{% if tab == 'master' %}4{% else %}3{% endif %}">
                <a href="{% url 'esocial_enviar_api' tab=tab_return %}">
                    <span class="btn btn-warning btn-block btn-lg">
                        <i class="fa fa-gear"></i>&nbsp;
                        Enviar
                    </span>
                </a>&nbsp;
            </div>
            <div class="col-md-{% if tab == 'master' %}4{% else %}3{% endif %}">
                <a href="{% url 'esocial_consultar_api' tab=tab_return %}">
                    <span class="btn btn-warning btn-block btn-lg">
                        <i class="fa fa-gear"></i>&nbsp;
                        Consultar
                    </span>
                </a>&nbsp;
            </div>
            {% if tab != 'master' %}
            <div class="col-md-3">
                <div class="btn-group btn-block">
                    <button type="button"
                            class="btn btn-primary dropdown-toggle btn-block btn-lg"
                            data-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fa fa-print"></i>&nbsp;Imprimir
                        <span class="caret"></span>
                        <span class="sr-only">Imprimir</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="text-left">
                            <a href="{% url 'mapa_esocial_print' tab=tab output='html' %}" target="_blank">
                                <i class="fa fa-file-code-o"></i>&nbsp;HTML
                            </a>
                        </li>
                        <li class="text-left">
                            <a href="{% url 'mapa_esocial_print' tab=tab output='pdf' %}" target="_blank">
                                <i class="fa fa-file-pdf-o"></i>&nbsp;PDF
                            </a>
                        </li>
                        <li class="text-left">
                            <a href="{% url 'mapa_esocial_print' tab=tab output='xls' %}" target="_blank">
                                <i class="fa fa-file-excel-o"></i>&nbsp;XLS
                            </a>
                        </li>
{#                        <li class="text-left">#}
{#                            <a href="{% url 'mapa_esocial_print' tab=tab output='csv' %}" target="_blank">#}
{#                                <i class="fa fa-file-text-o"></i>&nbsp;CSV#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>&nbsp;
            </div>
            {% endif %}
        </div>