{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r3010_boletim or 1 %}
            <th>Receita da Venda de Ingressos</th>
            {% endif %}
            {% if show_fields.show_tpingresso or 1 %}
            <th>Tipo de Ingresso</th>
            {% endif %}
            {% if show_fields.show_descingr or 1 %}
            <th>Descrição do tipo de ingresso</th>
            {% endif %}
            {% if show_fields.show_qtdeingrvenda or 0 %}
            <th>Número de ingressos colocados à venda</th>
            {% endif %}
            {% if show_fields.show_qtdeingrvendidos or 0 %}
            <th>Número de ingressos vendidos</th>
            {% endif %}
            {% if show_fields.show_qtdeingrdev or 0 %}
            <th>Número de ingressos devolvidos</th>
            {% endif %}
            {% if show_fields.show_precoindiv or 0 %}
            <th>Preço individual do ingresso</th>
            {% endif %}
            {% if show_fields.show_vlrtotal or 0 %}
            <th>Valor total arrecadado</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r3010_receitaingressos_lista %}
        <tr>
            {% if show_fields.show_r3010_boletim or 1 %}
            <td>{{ a.r3010_boletim }}</td>
            {% endif %}
            {% if show_fields.show_tpingresso or 1 %}
            <td>{{ a.get_tpingresso_display }}</td>
            {% endif %}
            {% if show_fields.show_descingr or 1 %}
            <td>{{ a.descingr }}</td>
            {% endif %}
            {% if show_fields.show_qtdeingrvenda or 0 %}
            <td>{{ a.qtdeingrvenda }}</td>
            {% endif %}
            {% if show_fields.show_qtdeingrvendidos or 0 %}
            <td>{{ a.qtdeingrvendidos }}</td>
            {% endif %}
            {% if show_fields.show_qtdeingrdev or 0 %}
            <td>{{ a.qtdeingrdev }}</td>
            {% endif %}
            {% if show_fields.show_precoindiv or 0 %}
            <td>{{ a.precoindiv }}</td>
            {% endif %}
            {% if show_fields.show_vlrtotal or 0 %}
            <td>{{ a.vlrtotal }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.r3010.change_r3010receitaIngressos or perms.r3010.add_r3010receitaIngressos %}

                        <a href="{% url 'r3010_receitaingressos_salvar' pk=a.id %}">
                            {% if perms.r3010.change_r3010receitaIngressos %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.r3010.can_see_data_r3010receitaIngressos %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.r3010.delete_r3010receitaIngressos %}
                        <a href="{% url 'r3010_receitaingressos_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
