{% load templatetags %}{% load static %}



<!-- inicio__s1200_infoperant_infocomplcont__s1200_dmdev -->
<div class="col-md-12" id="s1200_infoperant_infocomplcont__s1200_dmdev__div">
  <div class="form-group">
    <label id="s1200_infoperant_infocomplcont__s1200_dmdev__label">Registro preenchido exclusivamente quando o evento de remuneração se referir a trabalhador cuja categoria não estiver obrigada ao evento de início de TSVE e se não houver evento S-2300 correspondente (CPF + categoria).*</label>
    {% if not for_print %}{% if s1200_infoperant_infocomplcont_form.s1200_dmdev.value %}
        <a href="{% url 's1200_dmdev_salvar' pk=s1200_infoperant_infocomplcont_form.s1200_dmdev.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s1200_infoperant_infocomplcont_form.s1200_dmdev.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infoperant_infocomplcont_form.s1200_dmdev.errors }}
      </div>
    {% endif %}
    {% if s1200_infoperant_infocomplcont_form.s1200_dmdev.field.widget.attrs.readonly %}
      {% if s1200_infoperant_infocomplcont_form.s1200_dmdev.field.widget.attrs.disabled %}
        {{ s1200_infoperant_infocomplcont_form.s1200_dmdev|addcss:'form-control' }}
        <input id="id_s1200_dmdev" name="s1200_dmdev" type="hidden" value="{{ s1200_infoperant_infocomplcont_form.s1200_dmdev.value }}">
      {% else %}
        {{ s1200_infoperant_infocomplcont_form.s1200_dmdev|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1200_infoperant_infocomplcont_form.s1200_dmdev|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1200_infoperant_infocomplcont__s1200_dmdev -->
<!-- inicio__s1200_infoperant_infocomplcont__codcbo -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-3" id="s1200_infoperant_infocomplcont__codcbo__div">
    <div class="form-group">
      <label id="s1200_infoperant_infocomplcont__codcbo__label">CBO*</label>
        {% if s1200_infoperant_infocomplcont_form.codcbo.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1200_infoperant_infocomplcont_form.codcbo.errors }}
          </div>
        {% endif %}
        <input type="text"
               id="txt_codcbo"
               name="txt_codcbo" class="form-control"
               value="{% if s1200_infoperant_infocomplcont.codcbo %}{{ s1200_infoperant_infocomplcont.codcbo|get_opcoes_titulo:129 }}{% endif %}"
               {% if s1200_infoperant_infocomplcont_form.codcbo.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s1200_infoperant_infocomplcont_form.codcbo.field.widget.attrs.required %} required="required"{% endif %}
               {% if s1200_infoperant_infocomplcont_form.codcbo.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden"
               id="id_codcbo"
               name="codcbo"
               value="{% if s1200_infoperant_infocomplcont.codcbo %}{{ s1200_infoperant_infocomplcont_form.codcbo.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codcbo').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/129/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codcbo').val(ui.item.value);
        return false;
      }});
    {% if s1200_infoperant_infocomplcont_form.codcbo.field.widget.attrs.required %}
    $("#id_form_s1200_infoperant_infocomplcont").submit(function(e) {
      $('#txt_codcbo').disabled = true;
        if ($('#id_codcbo').val() == "") {
          $('#txt_codcbo').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo CBO!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-3" id="s1200_infoperant_infocomplcont__codcbo__div">
    <div class="form-group">
      <label id="s1200_infoperant_infocomplcont__codcbo__label">CBO*</label>
        <input type="text" id="txt_codcbo" name="txt_codcbo" class="form-control" value="{% if s1200_infoperant_infocomplcont.codcbo %}{{ s1200_infoperant_infocomplcont.codcbo }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1200_infoperant_infocomplcont__codcbo -->
<!-- inicio__s1200_infoperant_infocomplcont__natatividade -->
<div class="col-md-3" id="s1200_infoperant_infocomplcont__natatividade__div">
  <div class="form-group">
    <label id="s1200_infoperant_infocomplcont__natatividade__label">Natureza da atividade</label>
    {% if s1200_infoperant_infocomplcont_form.natatividade.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1200_infoperant_infocomplcont_form.natatividade.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1200_infoperant_infocomplcont_form.natatividade.field.widget.attrs.readonly %}
        {% if s1200_infoperant_infocomplcont_form.natatividade.field.widget.attrs.disabled %}
          {{ s1200_infoperant_infocomplcont_form.natatividade|addcss:'form-control' }}
          <input id="id_natatividade" name="natatividade" type="hidden" value="{% if s1200_infoperant_infocomplcont_form.natatividade.value or s1200_infoperant_infocomplcont_form.natatividade.value == 0 %}{{ s1200_infoperant_infocomplcont_form.natatividade.value|valor }}{% endif %}">
        {% else %}
          {{ s1200_infoperant_infocomplcont_form.natatividade|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1200_infoperant_infocomplcont_form.natatividade|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_infocomplcont__natatividade -->
<!-- inicio__s1200_infoperant_infocomplcont__qtddiastrab -->
<div class="col-md-3" id="s1200_infoperant_infocomplcont__qtddiastrab__div">
  <div class="form-group">
    <label id="s1200_infoperant_infocomplcont__qtddiastrab__label">Quant. de dias trabalhados</label>
      {% if s1200_infoperant_infocomplcont_form.qtddiastrab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infoperant_infocomplcont_form.qtddiastrab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1200_infoperant_infocomplcont_form.qtddiastrab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_infocomplcont__qtddiastrab -->