{% load templatetags %}{% load static %}



<!-- inicio__s1200_infoperapur_remunperapur__s1200_infoperapur_ideestablot -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1200_infoperapur_ideestablot').change(function(){
       document.getElementById("s1200_infoperapur_remunperapur__s1200_infoperapur_ideestablot__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1200_infoperapur_remunperapur__s1200_infoperapur_ideestablot__div">
  <div class="form-group">
    <label id="s1200_infoperapur_remunperapur__s1200_infoperapur_ideestablot__label">Informações relativas a remuneração do trabalhador no período de apuração*<a data-toggle="tooltip" title="Informações relativas a remuneração do trabalhador no período de apuração."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.value %}
        <a id="s1200_infoperapur_remunperapur__s1200_infoperapur_ideestablot__div_acessar" href="{% url 's1200_infoperapur_ideestablot_salvar' pk=s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.errors }}
      </div>
    {% endif %}
    {% if s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.field.widget.attrs.readonly %}
      {% if s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.field.widget.attrs.disabled %}
        {{ s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot|addcss:'form-control' }}
        <input id="id_s1200_infoperapur_ideestablot" name="s1200_infoperapur_ideestablot" type="hidden" value="{% if s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.value or s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.value == 0 %}{{ s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot.value|valor }}{% endif %}">
      {% else %}
        {{ s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1200_infoperapur_remunperapur_form.s1200_infoperapur_ideestablot|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1200_infoperapur_remunperapur__s1200_infoperapur_ideestablot -->
<!-- inicio__s1200_infoperapur_remunperapur__matricula -->
<div class="col-md-4" id="s1200_infoperapur_remunperapur__matricula__div">
  <div class="form-group">
    <label id="s1200_infoperapur_remunperapur__matricula__label">Matricula<a data-toggle="tooltip" title="Matrícula atribuída ao trabalhador pela empresa ou, no caso de agente público, a matrícula constante no Sistema de Administração de Recursos Humanos do órgão. Validação: Informação obrigatória para trabalhadores das categorias "empregados" e "agentes públicos". Deve corresponder à matrícula informada pelo empregador no evento S-2200 do respectivo vínculo trabalhista."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1200_infoperapur_remunperapur_form.matricula.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infoperapur_remunperapur_form.matricula.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1200_infoperapur_remunperapur_form.matricula|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperapur_remunperapur__matricula -->
<!-- inicio__s1200_infoperapur_remunperapur__indsimples -->
<div class="col-md-4" id="s1200_infoperapur_remunperapur__indsimples__div">
  <div class="form-group">
    <label id="s1200_infoperapur_remunperapur__indsimples__label">Contribuição Substituída<a data-toggle="tooltip" title="Indicador de Contribuição Substituída: 1 - Contribuição Substituída Integralmente; 2 - Contribuição não substituída; 3 - Contribuição não substituída concomitante com contribuição substituída. Validação: O preenchimento do campo é obrigatório apenas no caso das empresas enquadradas no regime de tributação Simples Nacional, com tributação previdenciária substituída e não substituída, ({classTrib} do evento S-1000 -Informações do Empregador = [03]). Para os demais empregadores, não deve ser informado. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1200_infoperapur_remunperapur_form.indsimples.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1200_infoperapur_remunperapur_form.indsimples.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1200_infoperapur_remunperapur_form.indsimples.field.widget.attrs.readonly %}
        {% if s1200_infoperapur_remunperapur_form.indsimples.field.widget.attrs.disabled %}
          {{ s1200_infoperapur_remunperapur_form.indsimples|addcss:'form-control' }}
          <input id="id_indsimples" name="indsimples" type="hidden" value="{% if s1200_infoperapur_remunperapur_form.indsimples.value or s1200_infoperapur_remunperapur_form.indsimples.value == 0 %}{{ s1200_infoperapur_remunperapur_form.indsimples.value|valor }}{% endif %}">
        {% else %}
          {{ s1200_infoperapur_remunperapur_form.indsimples|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1200_infoperapur_remunperapur_form.indsimples|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperapur_remunperapur__indsimples -->