{% load templatetags %}{% load static %}



<!-- inicio__s1200_infoperapur_infotrabinterm__s1200_infoperapur_remunperapur -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1200_infoperapur_remunperapur').change(function(){
       document.getElementById("s1200_infoperapur_infotrabinterm__s1200_infoperapur_remunperapur__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1200_infoperapur_infotrabinterm__s1200_infoperapur_remunperapur__div">
  <div class="form-group">
    <label id="s1200_infoperapur_infotrabinterm__s1200_infoperapur_remunperapur__label">Informações da(s) convocação(ões) de trabalho intermitente*</label>
    {% if not for_print %}
      {% if s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.value %}
        <a id="s1200_infoperapur_infotrabinterm__s1200_infoperapur_remunperapur__div_acessar" href="{% url 's1200_infoperapur_remunperapur_salvar' pk=s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.errors }}
      </div>
    {% endif %}
    {% if s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.field.widget.attrs.readonly %}
      {% if s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.field.widget.attrs.disabled %}
        {{ s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur|addcss:'form-control' }}
        <input id="id_s1200_infoperapur_remunperapur" name="s1200_infoperapur_remunperapur" type="hidden" value="{% if s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.value or s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.value == 0 %}{{ s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur.value|valor }}{% endif %}">
      {% else %}
        {{ s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1200_infoperapur_infotrabinterm_form.s1200_infoperapur_remunperapur|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1200_infoperapur_infotrabinterm__s1200_infoperapur_remunperapur -->
<!-- inicio__s1200_infoperapur_infotrabinterm__codconv -->
<div class="col-md-6" id="s1200_infoperapur_infotrabinterm__codconv__div">
  <div class="form-group">
    <label id="s1200_infoperapur_infotrabinterm__codconv__label">Preencher com o código atribuído pela empresa que identifica a convocação para trabalho intermitente*</label>
      {% if s1200_infoperapur_infotrabinterm_form.codconv.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infoperapur_infotrabinterm_form.codconv.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1200_infoperapur_infotrabinterm_form.codconv|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperapur_infotrabinterm__codconv -->