{% load templatetags %}{% load static %}



<!-- inicio__s1200_infoperant_ideestablot__s1200_infoperant_ideperiodo -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1200_infoperant_ideperiodo').change(function(){
       document.getElementById("s1200_infoperant_ideestablot__s1200_infoperant_ideperiodo__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1200_infoperant_ideestablot__s1200_infoperant_ideperiodo__div">
  <div class="form-group">
    <label id="s1200_infoperant_ideestablot__s1200_infoperant_ideperiodo__label">Registro que identifica o Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração*</label>
    {% if not for_print %}
      {% if s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.value %}
        <a id="s1200_infoperant_ideestablot__s1200_infoperant_ideperiodo__div_acessar" href="{% url 's1200_infoperant_ideperiodo_salvar' pk=s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.value %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.errors }}
      </div>
    {% endif %}
    {% if s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.field.widget.attrs.readonly %}
      {% if s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.field.widget.attrs.disabled %}
        {{ s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo|addcss:'form-control' }}
        <input id="id_s1200_infoperant_ideperiodo" name="s1200_infoperant_ideperiodo" type="hidden" value="{% if s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.value or s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.value == 0 %}{{ s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo.value|valor }}{% endif %}">
      {% else %}
        {{ s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1200_infoperant_ideestablot_form.s1200_infoperant_ideperiodo|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1200_infoperant_ideestablot__s1200_infoperant_ideperiodo -->
<!-- inicio__s1200_infoperant_ideestablot__tpinsc -->
<div class="col-md-3" id="s1200_infoperant_ideestablot__tpinsc__div">
  <div class="form-group">
    <label id="s1200_infoperant_ideestablot__tpinsc__label">Tipo de inscrição*</label>
    {% if s1200_infoperant_ideestablot_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1200_infoperant_ideestablot_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1200_infoperant_ideestablot_form.tpinsc.field.widget.attrs.readonly %}
        {% if s1200_infoperant_ideestablot_form.tpinsc.field.widget.attrs.disabled %}
          {{ s1200_infoperant_ideestablot_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s1200_infoperant_ideestablot_form.tpinsc.value or s1200_infoperant_ideestablot_form.tpinsc.value == 0 %}{{ s1200_infoperant_ideestablot_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s1200_infoperant_ideestablot_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1200_infoperant_ideestablot_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideestablot__tpinsc -->
<!-- inicio__s1200_infoperant_ideestablot__nrinsc -->
<div class="col-md-3" id="s1200_infoperant_ideestablot__nrinsc__div">
  <div class="form-group">
    <label id="s1200_infoperant_ideestablot__nrinsc__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s1200_infoperant_ideestablot_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infoperant_ideestablot_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1200_infoperant_ideestablot_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideestablot__nrinsc -->
<!-- inicio__s1200_infoperant_ideestablot__codlotacao -->
<div class="col-md-3" id="s1200_infoperant_ideestablot__codlotacao__div">
  <div class="form-group">
    <label id="s1200_infoperant_ideestablot__codlotacao__label">Código da Lotação*</label>
      {% if s1200_infoperant_ideestablot_form.codlotacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infoperant_ideestablot_form.codlotacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1200_infoperant_ideestablot_form.codlotacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideestablot__codlotacao -->