{% load templatetags %}{% load static %}



<!-- inicio__s1200_infointerm__s1200_evtremun -->
<div class="col-md-12" id="s1200_infointerm__s1200_evtremun__div">
  <div class="form-group">
    <label id="s1200_infointerm__s1200_evtremun__label">Informações relativas ao trabalho intermitente*</label>
    {% if not for_print %}{% if s1200_infointerm_form.s1200_evtremun.value %}
        <a href="{% url 's1200_evtremun_salvar' pk=s1200_infointerm_form.s1200_evtremun.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s1200_infointerm_form.s1200_evtremun.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infointerm_form.s1200_evtremun.errors }}
      </div>
    {% endif %}
    {% if s1200_infointerm_form.s1200_evtremun.field.widget.attrs.readonly %}
      {% if s1200_infointerm_form.s1200_evtremun.field.widget.attrs.disabled %}
        {{ s1200_infointerm_form.s1200_evtremun|addcss:'form-control' }}
        <input id="id_s1200_evtremun" name="s1200_evtremun" type="hidden" value="{{ s1200_infointerm_form.s1200_evtremun.value }}">
      {% else %}
        {{ s1200_infointerm_form.s1200_evtremun|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1200_infointerm_form.s1200_evtremun|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1200_infointerm__s1200_evtremun -->
<!-- inicio__s1200_infointerm__qtddiasinterm -->
<div class="col-md-6" id="s1200_infointerm__qtddiasinterm__div">
  <div class="form-group">
    <label id="s1200_infointerm__qtddiasinterm__label">Quantidade de dias trabalhados no mês pelo empregado com contrato de trabalho intermitente*</label>
      {% if s1200_infointerm_form.qtddiasinterm.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1200_infointerm_form.qtddiasinterm.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1200_infointerm_form.qtddiasinterm|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1200_infointerm__qtddiasinterm -->