{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2230_evtafasttemp or 1 %}
            <th>Informações de retificação do Afastamento Temporário</th>
            {% endif %}
            {% if show_fields.show_origretif or 1 %}
            <th>Origem da retificação</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2230_inforetif_lista %}
        <tr>
            {% if show_fields.show_s2230_evtafasttemp or 1 %}
            <td>{{ a.s2230_evtafasttemp }}</td>
            {% endif %}
            {% if show_fields.show_origretif or 1 %}
            <td>{{ a.get_origretif_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.s2230.can_view_s2230infoRetif %}
                        <a href="{% url 's2230_inforetif_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.s2230.add_s2230infoRetif or perms.s2230.change_s2230infoRetif %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.s2230.delete_s2230infoRetif %}
                        <a href="{% url 's2230_inforetif_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
