{% load templatetags %}{% load static %}



<!-- inicio__s2260_localtrabinterm__s2260_evtconvinterm -->
<div class="col-md-12" id="s2260_localtrabinterm__s2260_evtconvinterm__div">
  <div class="form-group">
    <label id="s2260_localtrabinterm__s2260_evtconvinterm__label">Informações do local de trabalho intermitente, quando prestado em apenas um local e fora do estabelecimento do empregador cadastrado no S-2200/S-2206*</label>
    {% if not for_print %}{% if s2260_localtrabinterm_form.s2260_evtconvinterm.value %}
        <a href="{% url 's2260_evtconvinterm_salvar' pk=s2260_localtrabinterm_form.s2260_evtconvinterm.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2260_localtrabinterm_form.s2260_evtconvinterm.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2260_localtrabinterm_form.s2260_evtconvinterm.errors }}
      </div>
    {% endif %}
    {% if s2260_localtrabinterm_form.s2260_evtconvinterm.field.widget.attrs.readonly %}
      {% if s2260_localtrabinterm_form.s2260_evtconvinterm.field.widget.attrs.disabled %}
        {{ s2260_localtrabinterm_form.s2260_evtconvinterm|addcss:'form-control' }}
        <input id="id_s2260_evtconvinterm" name="s2260_evtconvinterm" type="hidden" value="{{ s2260_localtrabinterm_form.s2260_evtconvinterm.value }}">
      {% else %}
        {{ s2260_localtrabinterm_form.s2260_evtconvinterm|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2260_localtrabinterm_form.s2260_evtconvinterm|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2260_localtrabinterm__s2260_evtconvinterm -->
<!-- inicio__s2260_localtrabinterm__tplograd -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s2260_localtrabinterm__tplograd__div">
    <div class="form-group">
      <label id="s2260_localtrabinterm__tplograd__label">Tipo de logradouro*</label>
        {% if s2260_localtrabinterm_form.tplograd.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2260_localtrabinterm_form.tplograd.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_tplograd" 
               name="txt_tplograd" class="form-control" 
               value="{% if s2260_localtrabinterm.tplograd %}{{ s2260_localtrabinterm.tplograd|get_opcoes_titulo:261 }}{% endif %}" 
               {% if s2260_localtrabinterm_form.tplograd.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s2260_localtrabinterm_form.tplograd.field.widget.attrs.required %} required="required"{% endif %}
               {% if s2260_localtrabinterm_form.tplograd.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_tplograd" 
               name="tplograd" 
               value="{% if s2260_localtrabinterm.tplograd %}{{ s2260_localtrabinterm_form.tplograd.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_tplograd').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/261/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_tplograd').val(ui.item.value);
        return false;
      }});
    {% if s2260_localtrabinterm_form.tplograd.field.widget.attrs.required %}
    $("#id_form_s2260_localtrabinterm").submit(function(e) {
      $('#txt_tplograd').disabled = true;
        if ($('#id_tplograd').val() == "") {
          $('#txt_tplograd').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Tipo de logradouro!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s2260_localtrabinterm__tplograd__div">
    <div class="form-group">
      <label id="s2260_localtrabinterm__tplograd__label">Tipo de logradouro*</label>
        <input type="text" id="txt_tplograd" name="txt_tplograd" class="form-control" value="{% if s2260_localtrabinterm.tplograd %}{{ s2260_localtrabinterm.tplograd }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2260_localtrabinterm__tplograd -->
<!-- inicio__s2260_localtrabinterm__dsclograd -->
<div class="col-md-6" id="s2260_localtrabinterm__dsclograd__div">
  <div class="form-group">
    <label id="s2260_localtrabinterm__dsclograd__label">Logradouro*</label>
      {% if s2260_localtrabinterm_form.dsclograd.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2260_localtrabinterm_form.dsclograd.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2260_localtrabinterm_form.dsclograd|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2260_localtrabinterm__dsclograd -->
<!-- inicio__s2260_localtrabinterm__nrlograd -->
<div class="col-md-6" id="s2260_localtrabinterm__nrlograd__div">
  <div class="form-group">
    <label id="s2260_localtrabinterm__nrlograd__label">Número*</label>
      {% if s2260_localtrabinterm_form.nrlograd.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2260_localtrabinterm_form.nrlograd.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2260_localtrabinterm_form.nrlograd|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2260_localtrabinterm__nrlograd -->
<!-- inicio__s2260_localtrabinterm__complem -->
<div class="col-md-6" id="s2260_localtrabinterm__complem__div">
  <div class="form-group">
    <label id="s2260_localtrabinterm__complem__label">Complemento</label>
      {% if s2260_localtrabinterm_form.complem.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2260_localtrabinterm_form.complem.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2260_localtrabinterm_form.complem|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2260_localtrabinterm__complem -->
<!-- inicio__s2260_localtrabinterm__bairro -->
<div class="col-md-6" id="s2260_localtrabinterm__bairro__div">
  <div class="form-group">
    <label id="s2260_localtrabinterm__bairro__label">Bairro</label>
      {% if s2260_localtrabinterm_form.bairro.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2260_localtrabinterm_form.bairro.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2260_localtrabinterm_form.bairro|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2260_localtrabinterm__bairro -->
<!-- inicio__s2260_localtrabinterm__cep -->
<div class="col-md-6" id="s2260_localtrabinterm__cep__div">
  <div class="form-group">
    <label id="s2260_localtrabinterm__cep__label">CEP*</label>
      {% if s2260_localtrabinterm_form.cep.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2260_localtrabinterm_form.cep.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2260_localtrabinterm_form.cep|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2260_localtrabinterm__cep -->
<!-- inicio__s2260_localtrabinterm__codmunic -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s2260_localtrabinterm__codmunic__div">
    <div class="form-group">
      <label id="s2260_localtrabinterm__codmunic__label">Código do Município*</label>
        {% if s2260_localtrabinterm_form.codmunic.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2260_localtrabinterm_form.codmunic.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_codmunic" 
               name="txt_codmunic" class="form-control" 
               value="{% if s2260_localtrabinterm.codmunic %}{{ s2260_localtrabinterm.codmunic|get_opcoes_titulo:58 }}{% endif %}" 
               {% if s2260_localtrabinterm_form.codmunic.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s2260_localtrabinterm_form.codmunic.field.widget.attrs.required %} required="required"{% endif %}
               {% if s2260_localtrabinterm_form.codmunic.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_codmunic" 
               name="codmunic" 
               value="{% if s2260_localtrabinterm.codmunic %}{{ s2260_localtrabinterm_form.codmunic.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codmunic').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/58/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codmunic').val(ui.item.value);
        return false;
      }});
    {% if s2260_localtrabinterm_form.codmunic.field.widget.attrs.required %}
    $("#id_form_s2260_localtrabinterm").submit(function(e) {
      $('#txt_codmunic').disabled = true;
        if ($('#id_codmunic').val() == "") {
          $('#txt_codmunic').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código do Município!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s2260_localtrabinterm__codmunic__div">
    <div class="form-group">
      <label id="s2260_localtrabinterm__codmunic__label">Código do Município*</label>
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if s2260_localtrabinterm.codmunic %}{{ s2260_localtrabinterm.codmunic }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2260_localtrabinterm__codmunic -->
<!-- inicio__s2260_localtrabinterm__uf -->
<div class="col-md-6" id="s2260_localtrabinterm__uf__div">
  <div class="form-group">
    <label id="s2260_localtrabinterm__uf__label">UF*</label>
    {% if s2260_localtrabinterm_form.uf.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2260_localtrabinterm_form.uf.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2260_localtrabinterm_form.uf.field.widget.attrs.readonly %}
        {% if s2260_localtrabinterm_form.uf.field.widget.attrs.disabled %}
          {{ s2260_localtrabinterm_form.uf|addcss:'form-control' }}
          <input id="id_uf" name="uf" type="hidden" value="{% if s2260_localtrabinterm_form.uf.value or s2260_localtrabinterm_form.uf.value == 0 %}{{ s2260_localtrabinterm_form.uf.value }}{% endif %}">
        {% else %}
          {{ s2260_localtrabinterm_form.uf|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2260_localtrabinterm_form.uf|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2260_localtrabinterm__uf -->