{% load templatetags %}{% load static %}



<!-- inicio__r4010_inforeembdep__r4010_infodependpl -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r4010_infodependpl').change(function(){
       document.getElementById("r4010_inforeembdep__r4010_infodependpl__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r4010_inforeembdep__r4010_infodependpl__div">
  <div class="form-group">
    <label id="r4010_inforeembdep__r4010_infodependpl__label">Informação de reembolso do dependente do plano de saúde coletivo empresarial*</label>
    {% if not for_print %}
      {% if r4010_inforeembdep_form.r4010_infodependpl.value %}
        <a id="r4010_inforeembdep__r4010_infodependpl__div_acessar" href="{% url 'r4010_infodependpl_salvar' pk=r4010_inforeembdep_form.r4010_infodependpl.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if r4010_inforeembdep_form.r4010_infodependpl.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4010_inforeembdep_form.r4010_infodependpl.errors }}
      </div>
    {% endif %}
    {% if r4010_inforeembdep_form.r4010_infodependpl.field.widget.attrs.readonly %}
      {% if r4010_inforeembdep_form.r4010_infodependpl.field.widget.attrs.disabled %}
        {{ r4010_inforeembdep_form.r4010_infodependpl|addcss:'form-control' }}
        <input id="id_r4010_infodependpl" name="r4010_infodependpl" type="hidden" value="{% if r4010_inforeembdep_form.r4010_infodependpl.value or r4010_inforeembdep_form.r4010_infodependpl.value == 0 %}{{ r4010_inforeembdep_form.r4010_infodependpl.value|valor }}{% endif %}">
      {% else %}
        {{ r4010_inforeembdep_form.r4010_infodependpl|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r4010_inforeembdep_form.r4010_infodependpl|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r4010_inforeembdep__r4010_infodependpl -->
<!-- inicio__r4010_inforeembdep__tpinsc -->
<div class="col-md-6" id="r4010_inforeembdep__tpinsc__div">
  <div class="form-group">
    <label id="r4010_inforeembdep__tpinsc__label">Preencher com o código correspondente ao tipo de inscrição*</label>
    {% if r4010_inforeembdep_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4010_inforeembdep_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4010_inforeembdep_form.tpinsc.field.widget.attrs.readonly %}
        {% if r4010_inforeembdep_form.tpinsc.field.widget.attrs.disabled %}
          {{ r4010_inforeembdep_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if r4010_inforeembdep_form.tpinsc.value or r4010_inforeembdep_form.tpinsc.value == 0 %}{{ r4010_inforeembdep_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ r4010_inforeembdep_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4010_inforeembdep_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4010_inforeembdep__tpinsc -->
<!-- inicio__r4010_inforeembdep__nrinsc -->
<div class="col-md-6" id="r4010_inforeembdep__nrinsc__div">
  <div class="form-group">
    <label id="r4010_inforeembdep__nrinsc__label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}*</label>
      {% if r4010_inforeembdep_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4010_inforeembdep_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4010_inforeembdep_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4010_inforeembdep__nrinsc -->
<!-- inicio__r4010_inforeembdep__vlrreemb -->
<div class="col-md-6" id="r4010_inforeembdep__vlrreemb__div">
  <div class="form-group">
    <label id="r4010_inforeembdep__vlrreemb__label">Valor do reembolso relativo ao período indicado em {perApur}*</label>
    {% if r4010_inforeembdep_form.vlrreemb.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4010_inforeembdep_form.vlrreemb.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4010_inforeembdep_form.vlrreemb|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4010_inforeembdep__vlrreemb -->
<!-- inicio__r4010_inforeembdep__vlrreembant -->
<div class="col-md-6" id="r4010_inforeembdep__vlrreembant__div">
  <div class="form-group">
    <label id="r4010_inforeembdep__vlrreembant__label">Valor do reembolso relativo a anos anteriores</label>
    {% if r4010_inforeembdep_form.vlrreembant.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4010_inforeembdep_form.vlrreembant.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4010_inforeembdep_form.vlrreembant|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4010_inforeembdep__vlrreembant -->