{% load templatetags %}{% load static %}



<!-- inicio__r4010_scp__r4010_infopgto -->
<div class="col-md-12" id="r4010_scp__r4010_infopgto__div">
  <div class="form-group">
    <label id="r4010_scp__r4010_infopgto__label">Sociedade em conta de participação do qual o beneficiário faça parte e o declarante seja sócio ostensivo*</label>
    {% if not for_print %}{% if r4010_scp_form.r4010_infopgto.value %}
        <a href="{% url 'r4010_infopgto_salvar' hash='{}'|json_return_page:'r4010_scp_salvar'|json_return_hash:hash|json_id:r4010_scp_form.r4010_infopgto.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r4010_scp_form.r4010_infopgto.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4010_scp_form.r4010_infopgto.errors }}
      </div>
    {% endif %}
    {% if r4010_scp_form.r4010_infopgto.field.widget.attrs.readonly %}
      {% if r4010_scp_form.r4010_infopgto.field.widget.attrs.disabled %}
        {{ r4010_scp_form.r4010_infopgto|addcss:'form-control' }}
        <input id="id_r4010_infopgto" name="r4010_infopgto" type="hidden" value="{{ r4010_scp_form.r4010_infopgto.value }}">
      {% else %}
        {{ r4010_scp_form.r4010_infopgto|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r4010_scp_form.r4010_infopgto|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r4010_scp__r4010_infopgto -->
<!-- inicio__r4010_scp__nrinscscp -->
<div class="col-md-4" id="r4010_scp__nrinscscp__div">
  <div class="form-group">
    <label id="r4010_scp__nrinscscp__label">Número de inscrição no CNPJ da Sociedade em Conta de Participação da qual o beneficiário faça parte e o declarante seja sócio ostensivo*</label>
      {% if r4010_scp_form.nrinscscp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4010_scp_form.nrinscscp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4010_scp_form.nrinscscp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4010_scp__nrinscscp -->
<!-- inicio__r4010_scp__percscp -->
<div class="col-md-4" id="r4010_scp__percscp__div">
  <div class="form-group">
    <label id="r4010_scp__percscp__label">Percentual que o beneficiário possui na Sociedade em Conta de Participação*</label>
    {% if r4010_scp_form.percscp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4010_scp_form.percscp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      {{ r4010_scp_form.percscp|addcss:'form-control automate-decimal' }}
    </div>
  </div>
</div>
<!-- fim__r4010_scp__percscp -->