{% load templatetags %}{% load static %}



<!-- inicio__r4010_inforra_ideadv__r4010_inforra_despprocjud -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r4010_inforra_despprocjud').change(function(){
       document.getElementById("r4010_inforra_ideadv__r4010_inforra_despprocjud__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r4010_inforra_ideadv__r4010_inforra_despprocjud__div">
  <div class="form-group">
    <label id="r4010_inforra_ideadv__r4010_inforra_despprocjud__label">Identificação do advogado*</label>
    {% if not for_print %}
      {% if r4010_inforra_ideadv_form.r4010_inforra_despprocjud.value %}
        <a id="r4010_inforra_ideadv__r4010_inforra_despprocjud__div_acessar" href="{% url 'r4010_inforra_despprocjud_salvar' pk=r4010_inforra_ideadv_form.r4010_inforra_despprocjud.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r4010_inforra_ideadv_form.r4010_inforra_despprocjud.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4010_inforra_ideadv_form.r4010_inforra_despprocjud.errors }}
      </div>
    {% endif %}
    {% if r4010_inforra_ideadv_form.r4010_inforra_despprocjud.field.widget.attrs.readonly %}
      {% if r4010_inforra_ideadv_form.r4010_inforra_despprocjud.field.widget.attrs.disabled %}
        {{ r4010_inforra_ideadv_form.r4010_inforra_despprocjud|addcss:'form-control' }}
        <input id="id_r4010_inforra_despprocjud" name="r4010_inforra_despprocjud" type="hidden" value="{% if r4010_inforra_ideadv_form.r4010_inforra_despprocjud.value or r4010_inforra_ideadv_form.r4010_inforra_despprocjud.value == 0 %}{{ r4010_inforra_ideadv_form.r4010_inforra_despprocjud.value|valor }}{% endif %}">
      {% else %}
        {{ r4010_inforra_ideadv_form.r4010_inforra_despprocjud|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r4010_inforra_ideadv_form.r4010_inforra_despprocjud|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r4010_inforra_ideadv__r4010_inforra_despprocjud -->
<!-- inicio__r4010_inforra_ideadv__tpinscadv -->
<div class="col-md-3" id="r4010_inforra_ideadv__tpinscadv__div">
  <div class="form-group">
    <label id="r4010_inforra_ideadv__tpinscadv__label">Tipo de inscrição do advogado*</label>
    {% if r4010_inforra_ideadv_form.tpinscadv.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4010_inforra_ideadv_form.tpinscadv.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4010_inforra_ideadv_form.tpinscadv.field.widget.attrs.readonly %}
        {% if r4010_inforra_ideadv_form.tpinscadv.field.widget.attrs.disabled %}
          {{ r4010_inforra_ideadv_form.tpinscadv|addcss:'form-control' }}
          <input id="id_tpinscadv" name="tpinscadv" type="hidden" value="{% if r4010_inforra_ideadv_form.tpinscadv.value or r4010_inforra_ideadv_form.tpinscadv.value == 0 %}{{ r4010_inforra_ideadv_form.tpinscadv.value|valor }}{% endif %}">
        {% else %}
          {{ r4010_inforra_ideadv_form.tpinscadv|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4010_inforra_ideadv_form.tpinscadv|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4010_inforra_ideadv__tpinscadv -->
<!-- inicio__r4010_inforra_ideadv__nrinscadv -->
<div class="col-md-3" id="r4010_inforra_ideadv__nrinscadv__div">
  <div class="form-group">
    <label id="r4010_inforra_ideadv__nrinscadv__label">Informar o número de inscrição do advogado*</label>
      {% if r4010_inforra_ideadv_form.nrinscadv.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4010_inforra_ideadv_form.nrinscadv.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4010_inforra_ideadv_form.nrinscadv|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4010_inforra_ideadv__nrinscadv -->
<!-- inicio__r4010_inforra_ideadv__vlradv -->
<div class="col-md-3" id="r4010_inforra_ideadv__vlradv__div">
  <div class="form-group">
    <label id="r4010_inforra_ideadv__vlradv__label">Valor da despesa com o advogado*</label>
    {% if r4010_inforra_ideadv_form.vlradv.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4010_inforra_ideadv_form.vlradv.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4010_inforra_ideadv_form.vlradv|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4010_inforra_ideadv__vlradv -->