{% load templatetags %}{% load static %}



<!-- inicio__s2230_infocessao__s2230_iniafastamento -->
<div class="col-md-12" id="s2230_infocessao__s2230_iniafastamento__div">
  <div class="form-group">
    <label id="s2230_infocessao__s2230_iniafastamento__label">Registro preenchido nos casos de afastamento por cessão ou requisição do trabalhador.*<a data-toggle="tooltip" title="Registro preenchido nos casos de afastamento por cessão ou requisição do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2230_infocessao_form.s2230_iniafastamento.value %}
        <a href="{% url 's2230_iniafastamento_salvar' pk=s2230_infocessao_form.s2230_iniafastamento.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2230_infocessao_form.s2230_iniafastamento.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2230_infocessao_form.s2230_iniafastamento.errors }}
      </div>
    {% endif %}
    {% if s2230_infocessao_form.s2230_iniafastamento.field.widget.attrs.readonly %}
      {% if s2230_infocessao_form.s2230_iniafastamento.field.widget.attrs.disabled %}
        {{ s2230_infocessao_form.s2230_iniafastamento|addcss:'form-control' }}
        <input id="id_s2230_iniafastamento" name="s2230_iniafastamento" type="hidden" value="{{ s2230_infocessao_form.s2230_iniafastamento.value }}">
      {% else %}
        {{ s2230_infocessao_form.s2230_iniafastamento|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2230_infocessao_form.s2230_iniafastamento|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2230_infocessao__s2230_iniafastamento -->
<!-- inicio__s2230_infocessao__cnpjcess -->
<div class="col-md-4" id="s2230_infocessao__cnpjcess__div">
  <div class="form-group">
    <label id="s2230_infocessao__cnpjcess__label">CNPJ do Cessionário*<a data-toggle="tooltip" title="Preencher com o CNPJ do órgão/entidade para o qual o trabalhador foi cedido/requisitado. <validacao> Deve ser um CNPJ diferente do CNPJ do empregador e diferente dos estabelecimentos informados através do evento S-1005. <regras_validacao> REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2230_infocessao_form.cnpjcess.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2230_infocessao_form.cnpjcess.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2230_infocessao_form.cnpjcess|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2230_infocessao__cnpjcess -->
<!-- inicio__s2230_infocessao__infonus -->
<div class="col-md-4" id="s2230_infocessao__infonus__div">
  <div class="form-group">
    <label id="s2230_infocessao__infonus__label">Onus da cessão/requisição*<a data-toggle="tooltip" title="Ônus da cessão/requisição<opcoes>1 - Ônus do Cedente; 2 - Ônus do Cessionário; 3 - Ônus do Cedente e Cessionário. <valores_validos> 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2230_infocessao_form.infonus.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2230_infocessao_form.infonus.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2230_infocessao_form.infonus.field.widget.attrs.readonly %}
        {% if s2230_infocessao_form.infonus.field.widget.attrs.disabled %}
          {{ s2230_infocessao_form.infonus|addcss:'form-control' }}
          <input id="id_infonus" name="infonus" type="hidden" value="{% if s2230_infocessao_form.infonus.value or s2230_infocessao_form.infonus.value == 0 %}{{ s2230_infocessao_form.infonus.value|valor }}{% endif %}">
        {% else %}
          {{ s2230_infocessao_form.infonus|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2230_infocessao_form.infonus|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2230_infocessao__infonus -->