{% load templatetags %}{% load static %}



<!-- inicio__s2230_emitente__s2230_infoatestado -->
<div class="col-md-12" id="s2230_emitente__s2230_infoatestado__div">
  <div class="form-group">
    <label id="s2230_emitente__s2230_infoatestado__label">Médico/Dentista que emitiu o atestado*</label>
    {% if not for_print %}{% if s2230_emitente_form.s2230_infoatestado.value %}
        <a href="{% url 's2230_infoatestado_salvar' hash='{}'|json_return_page:'s2230_emitente_salvar'|json_return_hash:hash|json_id:s2230_emitente_form.s2230_infoatestado.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2230_emitente_form.s2230_infoatestado.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2230_emitente_form.s2230_infoatestado.errors }}
      </div>
    {% endif %}
    {% if s2230_emitente_form.s2230_infoatestado.field.widget.attrs.readonly %}
      {% if s2230_emitente_form.s2230_infoatestado.field.widget.attrs.disabled %}
        {{ s2230_emitente_form.s2230_infoatestado|addcss:'form-control' }}
        <input id="id_s2230_infoatestado" name="s2230_infoatestado" type="hidden" value="{{ s2230_emitente_form.s2230_infoatestado.value }}">
      {% else %}
        {{ s2230_emitente_form.s2230_infoatestado|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2230_emitente_form.s2230_infoatestado|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2230_emitente__s2230_infoatestado -->
<!-- inicio__s2230_emitente__nmemit -->
<div class="col-md-6" id="s2230_emitente__nmemit__div">
  <div class="form-group">
    <label id="s2230_emitente__nmemit__label">Nome*</label>
      {% if s2230_emitente_form.nmemit.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2230_emitente_form.nmemit.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2230_emitente_form.nmemit|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2230_emitente__nmemit -->
<!-- inicio__s2230_emitente__ideoc -->
<div class="col-md-6" id="s2230_emitente__ideoc__div">
  <div class="form-group">
    <label id="s2230_emitente__ideoc__label">Órgão de Classe (OC)*</label>
    {% if s2230_emitente_form.ideoc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2230_emitente_form.ideoc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2230_emitente_form.ideoc.field.widget.attrs.readonly %}
        {% if s2230_emitente_form.ideoc.field.widget.attrs.disabled %}
          {{ s2230_emitente_form.ideoc|addcss:'form-control' }}
          <input id="id_ideoc" name="ideoc" type="hidden" value="{% if s2230_emitente_form.ideoc.value or s2230_emitente_form.ideoc.value == 0 %}{{ s2230_emitente_form.ideoc.value|valor }}{% endif %}">
        {% else %}
          {{ s2230_emitente_form.ideoc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2230_emitente_form.ideoc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2230_emitente__ideoc -->
<!-- inicio__s2230_emitente__nroc -->
<div class="col-md-6" id="s2230_emitente__nroc__div">
  <div class="form-group">
    <label id="s2230_emitente__nroc__label">Número do OC*</label>
      {% if s2230_emitente_form.nroc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2230_emitente_form.nroc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2230_emitente_form.nroc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2230_emitente__nroc -->
<!-- inicio__s2230_emitente__ufoc -->
<div class="col-md-6" id="s2230_emitente__ufoc__div">
  <div class="form-group">
    <label id="s2230_emitente__ufoc__label">UF do OC</label>
    {% if s2230_emitente_form.ufoc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2230_emitente_form.ufoc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2230_emitente_form.ufoc.field.widget.attrs.readonly %}
        {% if s2230_emitente_form.ufoc.field.widget.attrs.disabled %}
          {{ s2230_emitente_form.ufoc|addcss:'form-control' }}
          <input id="id_ufoc" name="ufoc" type="hidden" value="{% if s2230_emitente_form.ufoc.value or s2230_emitente_form.ufoc.value == 0 %}{{ s2230_emitente_form.ufoc.value }}{% endif %}">
        {% else %}
          {{ s2230_emitente_form.ufoc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2230_emitente_form.ufoc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2230_emitente__ufoc -->