{% load templatetags %}{% load static %}



<!-- inicio__r5001_rprest__r5001_infototal -->
<div class="col-md-12">
  <div class="form-group">
    <label>Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre serviços prestados, apuradas no evento R-2020</label>
    <select name="r5001_infototal" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in r5001_infototal_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'r5001_infototal' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__r5001_rprest__r5001_infototal -->

<!-- inicio__r5001_rprest__tpinsctomador -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o código correspondente ao tipo de inscrição</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpinsctomador" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpinsctomador' %}selected="selected"{% endifequal %} >1 - CNPJ</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'tpinsctomador' %}selected="selected"{% endifequal %} >4 - CNO</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__tpinsctomador -->

<!-- inicio__r5001_rprest__nrinsctomador -->
<div class="col-md-6">
  <div class="form-group">
    <label>Indicar o número de inscrição do tomador, conforme indicado no campo {tpInscTomador}</label>
    <div name="nrinsctomador" class="input-group" style="width: 100%;">
      <input type="text" name="nrinsctomador" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinsctomador' }}">
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__nrinsctomador -->

<!-- inicio__r5001_rprest__vlrtotalbaseret -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrtotalbaseret" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrtotalbaseret' }}">
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalbaseret -->

<!-- inicio__r5001_rprest__vlrtotalretprinc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrtotalretprinc" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrtotalretprinc' }}">
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalretprinc -->

<!-- inicio__r5001_rprest__vlrtotalretadic -->
<div class="col-md-6">
  <div class="form-group">
    <label>Soma do valor do adicional de retenção das notas fiscais</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrtotalretadic" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrtotalretadic' }}">
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalretadic -->

<!-- inicio__r5001_rprest__vlrtotalnretprinc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrtotalnretprinc" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrtotalnretprinc' }}">
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalnretprinc -->

<!-- inicio__r5001_rprest__vlrtotalnretadic -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrtotalnretadic" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrtotalnretadic' }}">
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalnretadic -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r5001_infototal" value="1" {% if show_fields|get_value_from_dict:'show_r5001_infototal' %}checked{% endif %} >Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre serviços prestados, apuradas no evento R-2020
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpinsctomador" value="1" {% if show_fields|get_value_from_dict:'show_tpinsctomador' %}checked{% endif %} >Preencher com o código correspondente ao tipo de inscrição
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinsctomador" value="1" {% if show_fields|get_value_from_dict:'show_nrinsctomador' %}checked{% endif %} >Indicar o número de inscrição do tomador, conforme indicado no campo {tpInscTomador}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrtotalbaseret" value="1" {% if show_fields|get_value_from_dict:'show_vlrtotalbaseret' %}checked{% endif %} >Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrtotalretprinc" value="1" {% if show_fields|get_value_from_dict:'show_vlrtotalretprinc' %}checked{% endif %} >Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrtotalretadic" value="1" {% if show_fields|get_value_from_dict:'show_vlrtotalretadic' %}checked{% endif %} >Soma do valor do adicional de retenção das notas fiscais
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrtotalnretprinc" value="1" {% if show_fields|get_value_from_dict:'show_vlrtotalnretprinc' %}checked{% endif %} >Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrtotalnretadic" value="1" {% if show_fields|get_value_from_dict:'show_vlrtotalnretadic' %}checked{% endif %} >Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial
    </div>
</div>


