{% load templatetags %}{% load static %}



<!-- inicio__s2206_infoestatutario__s2206_evtaltcontratual -->
<div class="col-md-12" id="s2206_infoestatutario__s2206_evtaltcontratual__div">
  <div class="form-group">
    <label id="s2206_infoestatutario__s2206_evtaltcontratual__label">Informações de Trabalhador Estatutário*</label>
    {% if not for_print %}{% if s2206_infoestatutario_form.s2206_evtaltcontratual.value %}
        <a href="{% url 's2206_evtaltcontratual_salvar' pk=s2206_infoestatutario_form.s2206_evtaltcontratual.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s2206_infoestatutario_form.s2206_evtaltcontratual.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2206_infoestatutario_form.s2206_evtaltcontratual.errors }}
      </div>
    {% endif %}
    {% if s2206_infoestatutario_form.s2206_evtaltcontratual.field.widget.attrs.readonly %}
      {% if s2206_infoestatutario_form.s2206_evtaltcontratual.field.widget.attrs.disabled %}
        {{ s2206_infoestatutario_form.s2206_evtaltcontratual|addcss:'form-control' }}
        <input id="id_s2206_evtaltcontratual" name="s2206_evtaltcontratual" type="hidden" value="{{ s2206_infoestatutario_form.s2206_evtaltcontratual.value }}">
      {% else %}
        {{ s2206_infoestatutario_form.s2206_evtaltcontratual|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2206_infoestatutario_form.s2206_evtaltcontratual|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2206_infoestatutario__s2206_evtaltcontratual -->
<!-- inicio__s2206_infoestatutario__tpplanrp -->
<div class="col-md-6" id="s2206_infoestatutario__tpplanrp__div">
  <div class="form-group">
    <label id="s2206_infoestatutario__tpplanrp__label">Tipo de plano de segregação de massa*</label>
    {% if s2206_infoestatutario_form.tpplanrp.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2206_infoestatutario_form.tpplanrp.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2206_infoestatutario_form.tpplanrp.field.widget.attrs.readonly %}
        {% if s2206_infoestatutario_form.tpplanrp.field.widget.attrs.disabled %}
          {{ s2206_infoestatutario_form.tpplanrp|addcss:'form-control' }}
          <input id="id_tpplanrp" name="tpplanrp" type="hidden" value="{% if s2206_infoestatutario_form.tpplanrp.value or s2206_infoestatutario_form.tpplanrp.value == 0 %}{{ s2206_infoestatutario_form.tpplanrp.value|valor }}{% endif %}">
        {% else %}
          {{ s2206_infoestatutario_form.tpplanrp|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2206_infoestatutario_form.tpplanrp|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__tpplanrp -->
<!-- inicio__s2206_infoestatutario__indtetorgps -->
<div class="col-md-6" id="s2206_infoestatutario__indtetorgps__div">
  <div class="form-group">
    <label id="s2206_infoestatutario__indtetorgps__label">Informar se o servidor está sujeito ao Teto do Regime Geral pela instituição do regime de previdência complementar</label>
    {% if s2206_infoestatutario_form.indtetorgps.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2206_infoestatutario_form.indtetorgps.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2206_infoestatutario_form.indtetorgps.field.widget.attrs.readonly %}
        {% if s2206_infoestatutario_form.indtetorgps.field.widget.attrs.disabled %}
          {{ s2206_infoestatutario_form.indtetorgps|addcss:'form-control' }}
          <input id="id_indtetorgps" name="indtetorgps" type="hidden" value="{% if s2206_infoestatutario_form.indtetorgps.value or s2206_infoestatutario_form.indtetorgps.value == 0 %}{{ s2206_infoestatutario_form.indtetorgps.value }}{% endif %}">
        {% else %}
          {{ s2206_infoestatutario_form.indtetorgps|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2206_infoestatutario_form.indtetorgps|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__indtetorgps -->
<!-- inicio__s2206_infoestatutario__indabonoperm -->
<div class="col-md-6" id="s2206_infoestatutario__indabonoperm__div">
  <div class="form-group">
    <label id="s2206_infoestatutario__indabonoperm__label">Indicar se o servidor recebe abono permanência</label>
    {% if s2206_infoestatutario_form.indabonoperm.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2206_infoestatutario_form.indabonoperm.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2206_infoestatutario_form.indabonoperm.field.widget.attrs.readonly %}
        {% if s2206_infoestatutario_form.indabonoperm.field.widget.attrs.disabled %}
          {{ s2206_infoestatutario_form.indabonoperm|addcss:'form-control' }}
          <input id="id_indabonoperm" name="indabonoperm" type="hidden" value="{% if s2206_infoestatutario_form.indabonoperm.value or s2206_infoestatutario_form.indabonoperm.value == 0 %}{{ s2206_infoestatutario_form.indabonoperm.value }}{% endif %}">
        {% else %}
          {{ s2206_infoestatutario_form.indabonoperm|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2206_infoestatutario_form.indabonoperm|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__indabonoperm -->
<!-- inicio__s2206_infoestatutario__indparcremun -->
<div class="col-md-6" id="s2206_infoestatutario__indparcremun__div">
  <div class="form-group">
    <label id="s2206_infoestatutario__indparcremun__label">Informar se o servidor fez a opção pela inclusão na base de cálculo da contribuição de parcelas remuneratórias percebidas em decorrência de local de trabalho e do exercício de cargo em comissão ou de função comissionada ou gratificada, conforme art. 4º, § 2º, da Lei nº 10.887/2004</label>
    {% if s2206_infoestatutario_form.indparcremun.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2206_infoestatutario_form.indparcremun.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2206_infoestatutario_form.indparcremun.field.widget.attrs.readonly %}
        {% if s2206_infoestatutario_form.indparcremun.field.widget.attrs.disabled %}
          {{ s2206_infoestatutario_form.indparcremun|addcss:'form-control' }}
          <input id="id_indparcremun" name="indparcremun" type="hidden" value="{% if s2206_infoestatutario_form.indparcremun.value or s2206_infoestatutario_form.indparcremun.value == 0 %}{{ s2206_infoestatutario_form.indparcremun.value }}{% endif %}">
        {% else %}
          {{ s2206_infoestatutario_form.indparcremun|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2206_infoestatutario_form.indparcremun|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2206_infoestatutario__indparcremun -->