{% load templatetags %}{% load static %}



<!-- inicio__s1207_infoperant__s1207_dmdev -->
<div class="col-md-12" id="s1207_infoperant__s1207_dmdev__div">
  <div class="form-group">
    <label id="s1207_infoperant__s1207_dmdev__label">Registro destinado ao registro de: a) remuneração relativa a diferenças salariais provenientes de acordos coletivos, convenção coletiva e dissídio; b) remuneração relativa a diferenças de vencimento provenientes de disposições legais (órgãos públicos); c) bases de cálculo para efeitos de apuração de FGTS resultantes de conversão de licença saúde em acidente de trabalho. d) verbas de natureza salarial ou não salarial devidas após o desligamento*</label>
    {% if not for_print %}{% if s1207_infoperant_form.s1207_dmdev.value %}
        <a href="{% url 's1207_dmdev_salvar' pk=s1207_infoperant_form.s1207_dmdev.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s1207_infoperant_form.s1207_dmdev.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1207_infoperant_form.s1207_dmdev.errors }}
      </div>
    {% endif %}
    {% if s1207_infoperant_form.s1207_dmdev.field.widget.attrs.readonly %}
      {% if s1207_infoperant_form.s1207_dmdev.field.widget.attrs.disabled %}
        {{ s1207_infoperant_form.s1207_dmdev|addcss:'form-control' }}
        <input id="id_s1207_dmdev" name="s1207_dmdev" type="hidden" value="{{ s1207_infoperant_form.s1207_dmdev.value }}">
      {% else %}
        {{ s1207_infoperant_form.s1207_dmdev|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1207_infoperant_form.s1207_dmdev|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1207_infoperant__s1207_dmdev -->