<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s1207_procjudtrab__s1207_evtbenprrp -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1207_evtbenprrp').change(function(){
       document.getElementById("s1207_procjudtrab__s1207_evtbenprrp__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1207_procjudtrab__s1207_evtbenprrp__div">
  <div class="form-group">
    <label id="s1207_procjudtrab__s1207_evtbenprrp__label">Informações sobre a existência de processos judiciais do trabalhador com decisão favorável quanto à não incidência ou alterações na incidência de contribuições sociais e/ou Imposto de Renda sobre as rubricas apresentadas nos subregistros de {dmDev}.*<a data-toggle="tooltip" title="Informações sobre a existência de processos judiciais do beneficiário com decisão favorável quanto a não incidência/exigibilidade ou alterações na incidência/exigibilidade de contribuição previdenciária e/ou Imposto de Renda sobre as rubricas apresentadas nos subregistros de {dmDev}"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s1207_procjudtrab_form.s1207_evtbenprrp.value %}
        <a id="s1207_procjudtrab__s1207_evtbenprrp__div_acessar" href="{% url 's1207_evtbenprrp_salvar' pk=s1207_procjudtrab_form.s1207_evtbenprrp.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s1207_procjudtrab_form.s1207_evtbenprrp.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1207_procjudtrab_form.s1207_evtbenprrp.errors }}
      </div>
    {% endif %}
    {% if s1207_procjudtrab_form.s1207_evtbenprrp.field.widget.attrs.readonly %}
      {% if s1207_procjudtrab_form.s1207_evtbenprrp.field.widget.attrs.disabled %}
        {{ s1207_procjudtrab_form.s1207_evtbenprrp|addcss:'form-control' }}
        <input id="id_s1207_evtbenprrp" name="s1207_evtbenprrp" type="hidden" value="{% if s1207_procjudtrab_form.s1207_evtbenprrp.value or s1207_procjudtrab_form.s1207_evtbenprrp.value == 0 %}{{ s1207_procjudtrab_form.s1207_evtbenprrp.value|valor }}{% endif %}">
      {% else %}
        {{ s1207_procjudtrab_form.s1207_evtbenprrp|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1207_procjudtrab_form.s1207_evtbenprrp|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1207_procjudtrab__s1207_evtbenprrp -->
<!-- inicio__s1207_procjudtrab__tptrib -->
<div class="col-md-3" id="s1207_procjudtrab__tptrib__div">
  <div class="form-group">
    <label id="s1207_procjudtrab__tptrib__label">Abrangência da Decisão*<a data-toggle="tooltip" title="Abrangência da decisão: 1 - IRRF; 5 - Contribuição para o RPPS/regime militar. Valores Válidos: 1, 5."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1207_procjudtrab_form.tptrib.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1207_procjudtrab_form.tptrib.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1207_procjudtrab_form.tptrib.field.widget.attrs.readonly %}
        {% if s1207_procjudtrab_form.tptrib.field.widget.attrs.disabled %}
          {{ s1207_procjudtrab_form.tptrib|addcss:'form-control' }}
          <input id="id_tptrib" name="tptrib" type="hidden" value="{% if s1207_procjudtrab_form.tptrib.value or s1207_procjudtrab_form.tptrib.value == 0 %}{{ s1207_procjudtrab_form.tptrib.value|valor }}{% endif %}">
        {% else %}
          {{ s1207_procjudtrab_form.tptrib|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1207_procjudtrab_form.tptrib|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1207_procjudtrab__tptrib -->
<!-- inicio__s1207_procjudtrab__nrprocjud -->
<div class="col-md-3" id="s1207_procjudtrab__nrprocjud__div">
  <div class="form-group">
    <label id="s1207_procjudtrab__nrprocjud__label">Número do Processo Judicial*<a data-toggle="tooltip" title="Informar um número de processo judicial cadastrado através do evento S- 1070, cujo {indMatProc} seja igual a: - [1], se {tpTrib} = [1]; - [9], se {tpTrib} = [5]. Validação: O processo deve existir na tabela de processos."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1207_procjudtrab_form.nrprocjud.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1207_procjudtrab_form.nrprocjud.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1207_procjudtrab_form.nrprocjud|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1207_procjudtrab__nrprocjud -->
<!-- inicio__s1207_procjudtrab__codsusp -->
<div class="col-md-3" id="s1207_procjudtrab__codsusp__div">
  <div class="form-group">
    <label id="s1207_procjudtrab__codsusp__label">Código do Indicativo da Suspensão<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo empregador em S-1070. Validação: Preenchimento obrigatório se {tpTrib} = [1]. A informação prestada deve estar de acordo com o que foi informado em S- 1070."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1207_procjudtrab_form.codsusp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1207_procjudtrab_form.codsusp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1207_procjudtrab_form.codsusp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1207_procjudtrab__codsusp -->