{% load templatetags %}{% load static %}



<!-- inicio__r2050_tipocom__r2050_evtcomprod -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r2050_evtcomprod').change(function(){
       document.getElementById("r2050_tipocom__r2050_evtcomprod__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r2050_tipocom__r2050_evtcomprod__div">
  <div class="form-group">
    <label id="r2050_tipocom__r2050_evtcomprod__label">Registro que apresenta o valor total da Receita Bruta por 'tipo' de comercialização.*</label>
    {% if not for_print %}
      {% if r2050_tipocom_form.r2050_evtcomprod.value %}
        <a id="r2050_tipocom__r2050_evtcomprod__div_acessar" href="{% url 'r2050_evtcomprod_salvar' pk=r2050_tipocom_form.r2050_evtcomprod.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r2050_tipocom_form.r2050_evtcomprod.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2050_tipocom_form.r2050_evtcomprod.errors }}
      </div>
    {% endif %}
    {% if r2050_tipocom_form.r2050_evtcomprod.field.widget.attrs.readonly %}
      {% if r2050_tipocom_form.r2050_evtcomprod.field.widget.attrs.disabled %}
        {{ r2050_tipocom_form.r2050_evtcomprod|addcss:'form-control' }}
        <input id="id_r2050_evtcomprod" name="r2050_evtcomprod" type="hidden" value="{% if r2050_tipocom_form.r2050_evtcomprod.value or r2050_tipocom_form.r2050_evtcomprod.value == 0 %}{{ r2050_tipocom_form.r2050_evtcomprod.value|valor }}{% endif %}">
      {% else %}
        {{ r2050_tipocom_form.r2050_evtcomprod|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2050_tipocom_form.r2050_evtcomprod|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2050_tipocom__r2050_evtcomprod -->
<!-- inicio__r2050_tipocom__indcom -->
<div class="col-md-4" id="r2050_tipocom__indcom__div">
  <div class="form-group">
    <label id="r2050_tipocom__indcom__label">Indicativo de Comercialização*</label>
    {% if r2050_tipocom_form.indcom.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2050_tipocom_form.indcom.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2050_tipocom_form.indcom.field.widget.attrs.readonly %}
        {% if r2050_tipocom_form.indcom.field.widget.attrs.disabled %}
          {{ r2050_tipocom_form.indcom|addcss:'form-control' }}
          <input id="id_indcom" name="indcom" type="hidden" value="{% if r2050_tipocom_form.indcom.value or r2050_tipocom_form.indcom.value == 0 %}{{ r2050_tipocom_form.indcom.value|valor }}{% endif %}">
        {% else %}
          {{ r2050_tipocom_form.indcom|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2050_tipocom_form.indcom|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2050_tipocom__indcom -->
<!-- inicio__r2050_tipocom__vlrrecbruta -->
<div class="col-md-4" id="r2050_tipocom__vlrrecbruta__div">
  <div class="form-group">
    <label id="r2050_tipocom__vlrrecbruta__label">Preencher com o valor total da comercialização*</label>
    {% if r2050_tipocom_form.vlrrecbruta.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2050_tipocom_form.vlrrecbruta.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2050_tipocom_form.vlrrecbruta|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2050_tipocom__vlrrecbruta -->