<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s1000_inclusao_dadosisencao__s1000_inclusao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações Complementares - Empresas Isentas - Dados da Isenção</label>
    <select name="s1000_inclusao" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s1000_inclusao_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s1000_inclusao' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__s1000_inclusao -->

<!-- inicio__s1000_inclusao_dadosisencao__ideminlei -->
<div class="col-md-6">
  <div class="form-group">
    <label>Lei que concedeu a isenção</label>
    <div name="ideminlei" class="input-group" style="width: 100%;">
      <input type="text" name="ideminlei" class="form-control" value="{{ dict_fields|get_value_from_dict:'ideminlei' }}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__ideminlei -->

<!-- inicio__s1000_inclusao_dadosisencao__nrcertif -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número certificado</label>
    <div name="nrcertif" class="input-group" style="width: 100%;">
      <input type="text" name="nrcertif" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrcertif' }}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__nrcertif -->

<!-- inicio__s1000_inclusao_dadosisencao__dtemiscertif -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data de emissao certificado</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtemiscertif" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtemiscertif' %}{{ dict_fields|get_value_from_dict:'dtemiscertif' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__dtemiscertif -->

<!-- inicio__s1000_inclusao_dadosisencao__dtvenccertif -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data de vencimento certificado</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtvenccertif" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtvenccertif' %}{{ dict_fields|get_value_from_dict:'dtvenccertif' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__dtvenccertif -->

<!-- inicio__s1000_inclusao_dadosisencao__nrprotrenov -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número protocolo do pedido renovação</label>
    <div name="nrprotrenov" class="input-group" style="width: 100%;">
      <input type="text" name="nrprotrenov" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrprotrenov' }}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__nrprotrenov -->

<!-- inicio__s1000_inclusao_dadosisencao__dtprotrenov -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data do protocolo do pedido de renovação</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtprotrenov" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtprotrenov' %}{{ dict_fields|get_value_from_dict:'dtprotrenov' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__dtprotrenov -->

<!-- inicio__s1000_inclusao_dadosisencao__dtdou -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data de publicação DOU</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtdou" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtdou' %}{{ dict_fields|get_value_from_dict:'dtdou' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__dtdou -->

<!-- inicio__s1000_inclusao_dadosisencao__pagdou -->
<div class="col-md-6">
  <div class="form-group">
    <label>Página de publicação DOU</label>
    <div name="pagdou" class="input-group" style="width: 100%;">
      <input type="text" name="pagdou" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'pagdou' }}">
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao_dadosisencao__pagdou -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s1000_inclusao" value="1" {% if show_fields|get_value_from_dict:'show_s1000_inclusao' %}checked{% endif %} >Informações Complementares - Empresas Isentas - Dados da Isenção
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ideminlei" value="1" {% if show_fields|get_value_from_dict:'show_ideminlei' %}checked{% endif %} >Lei que concedeu a isenção
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrcertif" value="1" {% if show_fields|get_value_from_dict:'show_nrcertif' %}checked{% endif %} >Número certificado
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtemiscertif" value="1" {% if show_fields|get_value_from_dict:'show_dtemiscertif' %}checked{% endif %} >Data de emissao certificado
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtvenccertif" value="1" {% if show_fields|get_value_from_dict:'show_dtvenccertif' %}checked{% endif %} >Data de vencimento certificado
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrprotrenov" value="1" {% if show_fields|get_value_from_dict:'show_nrprotrenov' %}checked{% endif %} >Número protocolo do pedido renovação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtprotrenov" value="1" {% if show_fields|get_value_from_dict:'show_dtprotrenov' %}checked{% endif %} >Data do protocolo do pedido de renovação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtdou" value="1" {% if show_fields|get_value_from_dict:'show_dtdou' %}checked{% endif %} >Data de publicação DOU
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_pagdou" value="1" {% if show_fields|get_value_from_dict:'show_pagdou' %}checked{% endif %} >Página de publicação DOU
    </div>
</div>


