{% load templatetags %}{% load static %}



<!-- inicio__s1000_alteracao_infoefr__s1000_alteracao_infoop -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações relativas a Ente Federativo Responsável - EFR</label>
    <select name="s1000_alteracao_infoop" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s1000_alteracao_infoop_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s1000_alteracao_infoop' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s1000_alteracao_infoefr__s1000_alteracao_infoop -->

<!-- inicio__s1000_alteracao_infoefr__ideefr -->
<div class="col-md-6">
  <div class="form-group">
    <label>É Ente Federativo Responsável?</label>
    <div class="input-group" style="width: 100%;">
      <select name="ideefr" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'ideefr' %}selected="selected"{% endifequal %} >N - Não é EFR.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'ideefr' %}selected="selected"{% endifequal %} >S - É EFR</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1000_alteracao_infoefr__ideefr -->

<!-- inicio__s1000_alteracao_infoefr__cnpjefr -->
<div class="col-md-6">
  <div class="form-group">
    <label>CNPJ do EFR</label>
    <div name="cnpjefr" class="input-group" style="width: 100%;">
      <input type="text" name="cnpjefr" class="form-control" value="{{ dict_fields|get_value_from_dict:'cnpjefr' }}">
    </div>
  </div>
</div>
<!-- fim__s1000_alteracao_infoefr__cnpjefr -->

<!-- inicio__s1000_alteracao_infoefr__indrpps -->
<div class="col-md-6">
  <div class="form-group">
    <label>Possui RPPS</label>
    <div class="input-group" style="width: 100%;">
      <select name="indrpps" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'indrpps' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'indrpps' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1000_alteracao_infoefr__indrpps -->

<!-- inicio__s1000_alteracao_infoefr__prevcomp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar se o EFR instituiu regime de previdência complementar</label>
    <div class="input-group" style="width: 100%;">
      <select name="prevcomp" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'prevcomp' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'prevcomp' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1000_alteracao_infoefr__prevcomp -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s1000_alteracao_infoop" value="1" {% if show_fields|get_value_from_dict:'show_s1000_alteracao_infoop' %}checked{% endif %} >Informações relativas a Ente Federativo Responsável - EFR
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ideefr" value="1" {% if show_fields|get_value_from_dict:'show_ideefr' %}checked{% endif %} >É Ente Federativo Responsável?
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cnpjefr" value="0" {% if show_fields|get_value_from_dict:'show_cnpjefr' %}checked{% endif %} >CNPJ do EFR
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indrpps" value="1" {% if show_fields|get_value_from_dict:'show_indrpps' %}checked{% endif %} >Possui RPPS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_prevcomp" value="1" {% if show_fields|get_value_from_dict:'show_prevcomp' %}checked{% endif %} >Informar se o EFR instituiu regime de previdência complementar
    </div>
</div>


