{% load templatetags %}{% load static %}



<!-- inicio__s2250_detavprevio__s2250_evtavprevio -->
<div class="col-md-12" id="s2250_detavprevio__s2250_evtavprevio__div">
  <div class="form-group">
    <label id="s2250_detavprevio__s2250_evtavprevio__label">Detalha as informações do evento trabalhista*</label>
    {% if not for_print %}{% if s2250_detavprevio_form.s2250_evtavprevio.value %}
        <a href="{% url 's2250_evtavprevio_salvar' hash='{}'|json_return_page:'s2250_detavprevio_salvar'|json_return_hash:hash|json_id:s2250_detavprevio_form.s2250_evtavprevio.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2250_detavprevio_form.s2250_evtavprevio.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2250_detavprevio_form.s2250_evtavprevio.errors }}
      </div>
    {% endif %}
    {% if s2250_detavprevio_form.s2250_evtavprevio.field.widget.attrs.readonly %}
      {% if s2250_detavprevio_form.s2250_evtavprevio.field.widget.attrs.disabled %}
        {{ s2250_detavprevio_form.s2250_evtavprevio|addcss:'form-control' }}
        <input id="id_s2250_evtavprevio" name="s2250_evtavprevio" type="hidden" value="{{ s2250_detavprevio_form.s2250_evtavprevio.value }}">
      {% else %}
        {{ s2250_detavprevio_form.s2250_evtavprevio|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2250_detavprevio_form.s2250_evtavprevio|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2250_detavprevio__s2250_evtavprevio -->
<!-- inicio__s2250_detavprevio__dtavprv -->
<div class="col-md-6" id="s2250_detavprevio__dtavprv__div">
  <div class="form-group">
    <label id="s2250_detavprevio__dtavprv__label">Data do aviso prévio*</label>
        {% if s2250_detavprevio_form.dtavprv.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2250_detavprevio_form.dtavprv.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2250_detavprevio_form.dtavprv|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2250_detavprevio__dtavprv -->
<!-- inicio__s2250_detavprevio__dtprevdeslig -->
<div class="col-md-6" id="s2250_detavprevio__dtprevdeslig__div">
  <div class="form-group">
    <label id="s2250_detavprevio__dtprevdeslig__label">Data prevista para o desligamento*</label>
        {% if s2250_detavprevio_form.dtprevdeslig.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2250_detavprevio_form.dtprevdeslig.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2250_detavprevio_form.dtprevdeslig|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2250_detavprevio__dtprevdeslig -->
<!-- inicio__s2250_detavprevio__tpavprevio -->
<div class="col-md-6" id="s2250_detavprevio__tpavprevio__div">
  <div class="form-group">
    <label id="s2250_detavprevio__tpavprevio__label">Tipo de aviso prévio*</label>
    {% if s2250_detavprevio_form.tpavprevio.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2250_detavprevio_form.tpavprevio.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2250_detavprevio_form.tpavprevio.field.widget.attrs.readonly %}
        {% if s2250_detavprevio_form.tpavprevio.field.widget.attrs.disabled %}
          {{ s2250_detavprevio_form.tpavprevio|addcss:'form-control' }}
          <input id="id_tpavprevio" name="tpavprevio" type="hidden" value="{% if s2250_detavprevio_form.tpavprevio.value or s2250_detavprevio_form.tpavprevio.value == 0 %}{{ s2250_detavprevio_form.tpavprevio.value|valor }}{% endif %}">
        {% else %}
          {{ s2250_detavprevio_form.tpavprevio|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2250_detavprevio_form.tpavprevio|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2250_detavprevio__tpavprevio -->
<!-- inicio__s2250_detavprevio__observacao -->
<div class="col-md-6" id="s2250_detavprevio__observacao__div">
  <div class="form-group">
    <label id="s2250_detavprevio__observacao__label">Observações</label>
      {% if s2250_detavprevio_form.observacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2250_detavprevio_form.observacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2250_detavprevio_form.observacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2250_detavprevio__observacao -->