{% load templatetags %}{% load static %}



<!-- inicio__r4020_origemrec__r4020_infoprocjud -->
<div class="col-md-12" id="r4020_origemrec__r4020_infoprocjud__div">
  <div class="form-group">
    <label id="r4020_origemrec__r4020_infoprocjud__label">Informações sobre a origem dos recursos*</label>
    {% if not for_print %}{% if r4020_origemrec_form.r4020_infoprocjud.value %}
        <a href="{% url 'r4020_infoprocjud_salvar' pk=r4020_origemrec_form.r4020_infoprocjud.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r4020_origemrec_form.r4020_infoprocjud.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_origemrec_form.r4020_infoprocjud.errors }}
      </div>
    {% endif %}
    {% if r4020_origemrec_form.r4020_infoprocjud.field.widget.attrs.readonly %}
      {% if r4020_origemrec_form.r4020_infoprocjud.field.widget.attrs.disabled %}
        {{ r4020_origemrec_form.r4020_infoprocjud|addcss:'form-control' }}
        <input id="id_r4020_infoprocjud" name="r4020_infoprocjud" type="hidden" value="{{ r4020_origemrec_form.r4020_infoprocjud.value }}">
      {% else %}
        {{ r4020_origemrec_form.r4020_infoprocjud|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r4020_origemrec_form.r4020_infoprocjud|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r4020_origemrec__r4020_infoprocjud -->
<!-- inicio__r4020_origemrec__cnpjorigrecurso -->
<div class="col-md-6" id="r4020_origemrec__cnpjorigrecurso__div">
  <div class="form-group">
    <label id="r4020_origemrec__cnpjorigrecurso__label">Preencher com o CNPJ da empresa que repassou recursos*</label>
      {% if r4020_origemrec_form.cnpjorigrecurso.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_origemrec_form.cnpjorigrecurso.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r4020_origemrec_form.cnpjorigrecurso|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r4020_origemrec__cnpjorigrecurso -->