{% load templatetags %}{% load static %}



<!-- inicio__r4020_pp__r4020_infopgto -->
<div class="col-md-12" id="r4020_pp__r4020_infopgto__div">
  <div class="form-group">
    <label id="r4020_pp__r4020_infopgto__label">Informações relativas ao PIS/PASEP*<a data-toggle="tooltip" title="Informações relativas ao PIS/PASEP."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if r4020_pp_form.r4020_infopgto.value %}
        <a href="{% url 'r4020_infopgto_salvar' pk=r4020_pp_form.r4020_infopgto.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r4020_pp_form.r4020_infopgto.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r4020_pp_form.r4020_infopgto.errors }}
      </div>
    {% endif %}
    {% if r4020_pp_form.r4020_infopgto.field.widget.attrs.readonly %}
      {% if r4020_pp_form.r4020_infopgto.field.widget.attrs.disabled %}
        {{ r4020_pp_form.r4020_infopgto|addcss:'form-control' }}
        <input id="id_r4020_infopgto" name="r4020_infopgto" type="hidden" value="{{ r4020_pp_form.r4020_infopgto.value }}">
      {% else %}
        {{ r4020_pp_form.r4020_infopgto|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r4020_pp_form.r4020_infopgto|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r4020_pp__r4020_infopgto -->
<!-- inicio__r4020_pp__vlrbasepp -->
<div class="col-md-6" id="r4020_pp__vlrbasepp__div">
  <div class="form-group">
    <label id="r4020_pp__vlrbasepp__label">Valor da base do PIS/PASEP, conforme previsto na legislação*<a data-toggle="tooltip" title="Valor da base do PIS/PASEP, conforme previsto na legislação."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r4020_pp_form.vlrbasepp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4020_pp_form.vlrbasepp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4020_pp_form.vlrbasepp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4020_pp__vlrbasepp -->
<!-- inicio__r4020_pp__vlrpp -->
<div class="col-md-6" id="r4020_pp__vlrpp__div">
  <div class="form-group">
    <label id="r4020_pp__vlrpp__label">Valor da retenção do PIS/PASEP, conforme previsto na legislação*<a data-toggle="tooltip" title="Valor da retenção do PIS/PASEP, conforme previsto na legislação."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r4020_pp_form.vlrpp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4020_pp_form.vlrpp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4020_pp_form.vlrpp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4020_pp__vlrpp -->
<!-- inicio__r4020_pp__vlrbasenpp -->
<div class="col-md-6" id="r4020_pp__vlrbasenpp__div">
  <div class="form-group">
    <label id="r4020_pp__vlrbasenpp__label">Valor da base do PIS/PASEP com exigibilidade suspensa<a data-toggle="tooltip" title="Valor da base do PIS/PASEP com exigibilidade suspensa. <validacao> Se informado, não pode ser maior que {vlrBasePP}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r4020_pp_form.vlrbasenpp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4020_pp_form.vlrbasenpp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4020_pp_form.vlrbasenpp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4020_pp__vlrbasenpp -->
<!-- inicio__r4020_pp__vlrnpp -->
<div class="col-md-6" id="r4020_pp__vlrnpp__div">
  <div class="form-group">
    <label id="r4020_pp__vlrnpp__label">Valor do PIS/PASEP com exigibilidade suspensa, que deixou de ser retido<a data-toggle="tooltip" title="Valor do PIS/PASEP com exigibilidade suspensa, que deixou de ser retido. <validacao> Se informado, não pode ser maior que {vlrPP}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r4020_pp_form.vlrnpp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4020_pp_form.vlrnpp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4020_pp_form.vlrnpp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4020_pp__vlrnpp -->
<!-- inicio__r4020_pp__vlrdeppp -->
<div class="col-md-6" id="r4020_pp__vlrdeppp__div">
  <div class="form-group">
    <label id="r4020_pp__vlrdeppp__label">Valor depósito judicial de PIS/PASEP<a data-toggle="tooltip" title="Valor depósito judicial de PIS/PASEP. <validacao> Se informado, não pode ser maior que {vlrPP}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r4020_pp_form.vlrdeppp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r4020_pp_form.vlrdeppp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r4020_pp_form.vlrdeppp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r4020_pp__vlrdeppp -->