<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__r2020_infoprocretpr__r2020_evtservprest -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações de processos relacionados a não retenção de contribuição previdenciária</label>
    <select name="r2020_evtservprest" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r2020_evtservprest_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r2020_evtservprest' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r2020_infoprocretpr__r2020_evtservprest -->

<!-- inicio__r2020_infoprocretpr__tpprocretprinc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o código correspondente ao tipo de processo</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpprocretprinc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpprocretprinc' %}selected="selected"{% endifequal %} >1 - Administrativo</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpprocretprinc' %}selected="selected"{% endifequal %} >2 - Judicial.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r2020_infoprocretpr__tpprocretprinc -->

<!-- inicio__r2020_infoprocretpr__nrprocretprinc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar o número do processo administrativo/judicial</label>
    <div name="nrprocretprinc" class="input-group" style="width: 100%;">
      <input type="text" name="nrprocretprinc" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrprocretprinc' }}">
    </div>
  </div>
</div>
<!-- fim__r2020_infoprocretpr__nrprocretprinc -->

<!-- inicio__r2020_infoprocretpr__codsuspprinc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Código do Indicativo da Suspensão, atribuído pelo contribuinte</label>
    <div name="codsuspprinc" class="input-group" style="width: 100%;">
      <input type="text" name="codsuspprinc" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'codsuspprinc' }}">
    </div>
  </div>
</div>
<!-- fim__r2020_infoprocretpr__codsuspprinc -->

<!-- inicio__r2020_infoprocretpr__valorprinc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial.</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="valorprinc" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'valorprinc' }}">
    </div>
  </div>
</div>
<!-- fim__r2020_infoprocretpr__valorprinc -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r2020_evtservprest" value="1" {% if show_fields|get_value_from_dict:'show_r2020_evtservprest' %}checked{% endif %} >Informações de processos relacionados a não retenção de contribuição previdenciária
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpprocretprinc" value="1" {% if show_fields|get_value_from_dict:'show_tpprocretprinc' %}checked{% endif %} >Preencher com o código correspondente ao tipo de processo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrprocretprinc" value="1" {% if show_fields|get_value_from_dict:'show_nrprocretprinc' %}checked{% endif %} >Informar o número do processo administrativo/judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codsuspprinc" value="1" {% if show_fields|get_value_from_dict:'show_codsuspprinc' %}checked{% endif %} >Código do Indicativo da Suspensão, atribuído pelo contribuinte
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_valorprinc" value="1" {% if show_fields|get_value_from_dict:'show_valorprinc' %}checked{% endif %} >Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial.
    </div>
</div>


