{% extends 'base.html' %}{% load templatetags %}{% block content %}
    <script type='text/javascript'>$.getJSON("/processar-arquivos/", function (data) {
    });</script>{% if not for_print %}
        <section class="content-header">
            <h1>Importação de Arquivos
                <small>Listar</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">Importação de Arquivos</a></li>
                <li class="active">Listar</li>
            </ol>
        </section>
        <section class="content">{% if messages %}
            <div class="row">
                <div class="pad margin no-print">{% for message in messages %}
                    <div class="alert alert-{{ message.tags }}"
                         style="margin-bottom: 0!important;">{{ message }}</div>{% endfor %}</div>
            </div>{% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary {% if not filtrar %}collapsed-box{% endif %}">
                        <div class="box-header with-border"><h3 class="box-title">Filtrar</h3>
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i
                                        class="fa fa-minus"></i></button>
                                <!--<button type="button" class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
                            </div>
                        </div>
                        <form action="#" method="POST" id="FormRelatorio" target="_self">{% csrf_token %}
                            <div class="box-body">
                                <div class="row">{% include 'filters/importacao_arquivos.html' %}</div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="text-left"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="text-right">
                                            <button id="btnVisualizar" type="submit" class="btn btn-primary"><i
                                                    class="fa fa-filter"></i>Filtrar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border"><h3 class="box-title">Listagem de Importação de
                            Arquivos</h3><!-- XXXXXX -->
                            <div class="text-right">
                                {% if perms.mensageiro.add_ImportacaoArquivos %}
                                    <button type="button" class="btn btn-info" id="myBtn"><i
                                            class="fa fa-plus-circle"></i>&nbsp; Importar Arquivo
                                    </button>{% endif %}</div><!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog"><!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Selecione o arquivo a ser importado.</h4><font
                                                style="color:red">Somente é permitido importar arquivos em XML ou lotes
                                            de arquivos .XML compactados com as extensões .ZIP</font></div>
                                        <div class="modal-body">
                                            <form action="{% url 'scripts_salvar_arquivos' tab-'master' %}" method="post"
                                                  enctype="multipart/form-data">{% csrf_token %}
                                                <div class="form-group"><input type="file" class="form-control"
                                                                               name="arquivo" id="file"
                                                                               placeholder="arquivo" accept=".xml,.zip">
                                                </div>
                                                <button type="submit" class="btn btn-default btn-info btn-block">
                                                    Importar arquivo
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>$(document).ready(function () {
                                $("#myBtn").click(function () {
                                    $("#myModal").modal();
                                });
                            });</script><!-- XXXXXX --></div>
                        <div class="box-body">{% include 'tables/importacao_arquivos.html' %}</div>
                    </div>
                </div>
            </div>
        </section>
        <script>$(document).ready(function () {
            $('#btnVisualizar').click(function () {
                var formAction = '{% url 'importacao_arquivos' %}';
                $('#FormRelatorio').attr('action', formAction);
                $('#FormRelatorio').attr('target', '_self');
                $('#FormRelatorio').submit();
            });
            $('#btnImprimir').click(function () {
                var formAction = '{% url 'importacao_arquivos' %}';
                $('#FormRelatorio').attr('action', formAction);
                $('#FormRelatorio').attr('target', '_blank');
                $('#FormRelatorio').submit();
            });
        });</script>{% else %}
        <section class="invoice">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">Importação de Arquivos
                        <small class="pull-right">Usuário: {{ usuario.nome }}<br>Data: {{ data }}</small>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 table-responsive">{% include 'tables/importacao_arquivos.html' %}</div>
            </div>
        </section>{% endif %} {% endblock content %}