{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2245_evttreicap or 1 %}
            <th>Informações relativas ao profissional responsável pelo treinamento/capacitação</th>
            {% endif %}
            {% if show_fields.show_nmprof or 1 %}
            <th>Nome do profissional responsável pelo treinamento/capacitação.</th>
            {% endif %}
            {% if show_fields.show_tpprof or 1 %}
            <th>O treinamento/capacitação foi ministrado por</th>
            {% endif %}
            {% if show_fields.show_formprof or 1 %}
            <th>Formação do profissional responsável pelo treinamento/capacitação (seja acadêmica, prática ou outra forma).</th>
            {% endif %}
            {% if show_fields.show_codcbo or 1 %}
            <th>CBO</th>
            {% endif %}
            {% if show_fields.show_nacprof or 1 %}
            <th>Indicativo da nacionalidade do profissional responsável pelo treinamento/capacitação/exercício simulado</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2245_ideprofresp_lista %}
        <tr>
            {% if show_fields.show_s2245_evttreicap or 1 %}
            <td>{{ a.s2245_evttreicap }}</td>
            {% endif %}
            {% if show_fields.show_nmprof or 1 %}
            <td>{{ a.nmprof }}</td>
            {% endif %}
            {% if show_fields.show_tpprof or 1 %}
            <td>{{ a.get_tpprof_display }}</td>
            {% endif %}
            {% if show_fields.show_formprof or 1 %}
            <td>{{ a.formprof }}</td>
            {% endif %}
            {% if show_fields.show_codcbo or 1 %}
            <td>{{ a.codcbo }}</td>
            {% endif %}
            {% if show_fields.show_nacprof or 1 %}
            <td>{{ a.get_nacprof_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div>
                    <!-- botões especiais -->
                    
                        {% if perms.s2245.change_s2245ideProfResp or perms.s2245.add_s2245ideProfResp %}
                    
                        <a href="{% url 's2245_ideprofresp_salvar' pk=a.id tab='master' %}">
                            {% if perms.s2245.change_s2245ideProfResp %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2245.can_see_data_s2245ideProfResp %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2245.delete_s2245ideProfResp %}
                        <a href="{% url 's2245_ideprofresp_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
