{% load templatetags %}{% load static %}



<!-- inicio__r2030_infoproc__r2030_recursosrec -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r2030_recursosrec').change(function(){
       document.getElementById("r2030_infoproc__r2030_recursosrec__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r2030_infoproc__r2030_recursosrec__div">
  <div class="form-group">
    <label id="r2030_infoproc__r2030_recursosrec__label">Informações de processos relacionados a não retenção de contribuição previdenciária*</label>
    {% if not for_print %}
      {% if r2030_infoproc_form.r2030_recursosrec.value %}
        <a id="r2030_infoproc__r2030_recursosrec__div_acessar" href="{% url 'r2030_recursosrec_salvar' pk=r2030_infoproc_form.r2030_recursosrec.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if r2030_infoproc_form.r2030_recursosrec.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2030_infoproc_form.r2030_recursosrec.errors }}
      </div>
    {% endif %}
    {% if r2030_infoproc_form.r2030_recursosrec.field.widget.attrs.readonly %}
      {% if r2030_infoproc_form.r2030_recursosrec.field.widget.attrs.disabled %}
        {{ r2030_infoproc_form.r2030_recursosrec|addcss:'form-control' }}
        <input id="id_r2030_recursosrec" name="r2030_recursosrec" type="hidden" value="{% if r2030_infoproc_form.r2030_recursosrec.value or r2030_infoproc_form.r2030_recursosrec.value == 0 %}{{ r2030_infoproc_form.r2030_recursosrec.value|valor }}{% endif %}">
      {% else %}
        {{ r2030_infoproc_form.r2030_recursosrec|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2030_infoproc_form.r2030_recursosrec|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2030_infoproc__r2030_recursosrec -->
<!-- inicio__r2030_infoproc__tpproc -->
<div class="col-md-6" id="r2030_infoproc__tpproc__div">
  <div class="form-group">
    <label id="r2030_infoproc__tpproc__label">Preencher com o código correspondente ao tipo de processo*</label>
    {% if r2030_infoproc_form.tpproc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2030_infoproc_form.tpproc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2030_infoproc_form.tpproc.field.widget.attrs.readonly %}
        {% if r2030_infoproc_form.tpproc.field.widget.attrs.disabled %}
          {{ r2030_infoproc_form.tpproc|addcss:'form-control' }}
          <input id="id_tpproc" name="tpproc" type="hidden" value="{% if r2030_infoproc_form.tpproc.value or r2030_infoproc_form.tpproc.value == 0 %}{{ r2030_infoproc_form.tpproc.value|valor }}{% endif %}">
        {% else %}
          {{ r2030_infoproc_form.tpproc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2030_infoproc_form.tpproc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2030_infoproc__tpproc -->
<!-- inicio__r2030_infoproc__nrproc -->
<div class="col-md-6" id="r2030_infoproc__nrproc__div">
  <div class="form-group">
    <label id="r2030_infoproc__nrproc__label">Informar o número do processo administrativo/judicial*</label>
      {% if r2030_infoproc_form.nrproc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2030_infoproc_form.nrproc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2030_infoproc_form.nrproc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2030_infoproc__nrproc -->
<!-- inicio__r2030_infoproc__codsusp -->
<div class="col-md-6" id="r2030_infoproc__codsusp__div">
  <div class="form-group">
    <label id="r2030_infoproc__codsusp__label">Código do Indicativo da Suspensão, atribuído pelo contribuinte</label>
      {% if r2030_infoproc_form.codsusp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2030_infoproc_form.codsusp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2030_infoproc_form.codsusp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2030_infoproc__codsusp -->
<!-- inicio__r2030_infoproc__vlrnret -->
<div class="col-md-6" id="r2030_infoproc__vlrnret__div">
  <div class="form-group">
    <label id="r2030_infoproc__vlrnret__label">Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial.*</label>
    {% if r2030_infoproc_form.vlrnret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2030_infoproc_form.vlrnret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2030_infoproc_form.vlrnret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2030_infoproc__vlrnret -->