{% load templatetags %}{% load static %}



<!-- inicio__r2030_recursosrec__r2030_evtassocdesprec -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r2030_evtassocdesprec').change(function(){
       document.getElementById("r2030_recursosrec__r2030_evtassocdesprec__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r2030_recursosrec__r2030_evtassocdesprec__div">
  <div class="form-group">
    <label id="r2030_recursosrec__r2030_evtassocdesprec__label">Registro preenchido exclusivamente por associação desportiva que mantenha equipe de futebol profissional, quando receber repasse de outras empresas a título de patrocínio, publicidade, licenciamento, etc*</label>
    {% if not for_print %}
      {% if r2030_recursosrec_form.r2030_evtassocdesprec.value %}
        <a id="r2030_recursosrec__r2030_evtassocdesprec__div_acessar" href="{% url 'r2030_evtassocdesprec_salvar' hash='{}'|json_id:r2030_recursosrec_form.r2030_evtassocdesprec.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r2030_recursosrec_form.r2030_evtassocdesprec.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2030_recursosrec_form.r2030_evtassocdesprec.errors }}
      </div>
    {% endif %}
    {% if r2030_recursosrec_form.r2030_evtassocdesprec.field.widget.attrs.readonly %}
      {% if r2030_recursosrec_form.r2030_evtassocdesprec.field.widget.attrs.disabled %}
        {{ r2030_recursosrec_form.r2030_evtassocdesprec|addcss:'form-control' }}
        <input id="id_r2030_evtassocdesprec" name="r2030_evtassocdesprec" type="hidden" value="{% if r2030_recursosrec_form.r2030_evtassocdesprec.value or r2030_recursosrec_form.r2030_evtassocdesprec.value == 0 %}{{ r2030_recursosrec_form.r2030_evtassocdesprec.value|valor }}{% endif %}">
      {% else %}
        {{ r2030_recursosrec_form.r2030_evtassocdesprec|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2030_recursosrec_form.r2030_evtassocdesprec|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2030_recursosrec__r2030_evtassocdesprec -->
<!-- inicio__r2030_recursosrec__cnpjorigrecurso -->
<div class="col-md-6" id="r2030_recursosrec__cnpjorigrecurso__div">
  <div class="form-group">
    <label id="r2030_recursosrec__cnpjorigrecurso__label">Preencher com o CNPJ da empresa que repassou recursos*</label>
      {% if r2030_recursosrec_form.cnpjorigrecurso.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2030_recursosrec_form.cnpjorigrecurso.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2030_recursosrec_form.cnpjorigrecurso|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2030_recursosrec__cnpjorigrecurso -->
<!-- inicio__r2030_recursosrec__vlrtotalrec -->
<div class="col-md-6" id="r2030_recursosrec__vlrtotalrec__div">
  <div class="form-group">
    <label id="r2030_recursosrec__vlrtotalrec__label">Preencher com o valor bruto dos recursos recebidos*</label>
    {% if r2030_recursosrec_form.vlrtotalrec.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2030_recursosrec_form.vlrtotalrec.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2030_recursosrec_form.vlrtotalrec|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2030_recursosrec__vlrtotalrec -->
<!-- inicio__r2030_recursosrec__vlrtotalret -->
<div class="col-md-6" id="r2030_recursosrec__vlrtotalret__div">
  <div class="form-group">
    <label id="r2030_recursosrec__vlrtotalret__label">Soma do valor da retenção dos recursos recebidos*</label>
    {% if r2030_recursosrec_form.vlrtotalret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2030_recursosrec_form.vlrtotalret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2030_recursosrec_form.vlrtotalret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2030_recursosrec__vlrtotalret -->
<!-- inicio__r2030_recursosrec__vlrtotalnret -->
<div class="col-md-6" id="r2030_recursosrec__vlrtotalnret__div">
  <div class="form-group">
    <label id="r2030_recursosrec__vlrtotalnret__label">Valor da retenção que deixou de ser feita pela entidade que efetuou o repasse ou que foi depositada em juízo em decorrência da decisão judicial/administrativa</label>
    {% if r2030_recursosrec_form.vlrtotalnret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2030_recursosrec_form.vlrtotalnret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2030_recursosrec_form.vlrtotalnret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2030_recursosrec__vlrtotalnret -->