{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r1000_evtinfocontri or 1 %}
            <th>Alteração das informações</th>
            {% endif %}
            {% if show_fields.show_inivalid or 1 %}
            <th>Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM</th>
            {% endif %}
            {% if show_fields.show_classtrib or 1 %}
            <th>Preencher com o código correspondente à classificação tributária do contribuinte, conforme tabela 8</th>
            {% endif %}
            {% if show_fields.show_indescrituracao or 1 %}
            <th>Indicativo da obrigatoriedade do contribuinte em fazer a sua escrituração contábil na ECD Escrituração Contábil Digital</th>
            {% endif %}
            {% if show_fields.show_inddesoneracao or 1 %}
            <th>Indicativo de desoneração da folha pela CPRB</th>
            {% endif %}
            {% if show_fields.show_indacordoisenmulta or 1 %}
            <th>Indicativo da existência de acordo internacional para isenção de multa</th>
            {% endif %}
            {% if show_fields.show_nmctt or 1 %}
            <th>Nome do contato no contribuinte</th>
            {% endif %}
            {% if show_fields.show_cpfctt or 1 %}
            <th>Preencher com o número do CPF do contato.</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r1000_alteracao_lista %}
        <tr>
            {% if show_fields.show_r1000_evtinfocontri or 1 %}
            <td>{{ a.r1000_evtinfocontri }}</td>
            {% endif %}
            {% if show_fields.show_inivalid or 1 %}
            <td>{{ a.get_inivalid_display }}</td>
            {% endif %}
            {% if show_fields.show_classtrib or 1 %}
            <td>{{ a.get_classtrib_display }}</td>
            {% endif %}
            {% if show_fields.show_indescrituracao or 1 %}
            <td>{{ a.get_indescrituracao_display }}</td>
            {% endif %}
            {% if show_fields.show_inddesoneracao or 1 %}
            <td>{{ a.get_inddesoneracao_display }}</td>
            {% endif %}
            {% if show_fields.show_indacordoisenmulta or 1 %}
            <td>{{ a.get_indacordoisenmulta_display }}</td>
            {% endif %}
            {% if show_fields.show_nmctt or 1 %}
            <td>{{ a.nmctt }}</td>
            {% endif %}
            {% if show_fields.show_cpfctt or 1 %}
            <td>{{ a.cpfctt }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div>
                    <!-- botões especiais -->
                    
                        {% if perms.r1000.change_r1000alteracao or perms.r1000.add_r1000alteracao %}
                    
                        <a href="{% url 'r1000_alteracao_salvar' pk=a.id tab='master' %}">
                            {% if perms.r1000.change_r1000alteracao %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.r1000.can_see_data_r1000alteracao %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.r1000.delete_r1000alteracao %}
                        <a href="{% url 'r1000_alteracao_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
