{% load templatetags %}{% load static %}



<!-- inicio__s1005_inclusao_infoobra__s1005_inclusao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Registro preenchido exclusivamente por empresa construtora enquadrada nos Arts. 7 a 9 da Lei 12.546/2011, relacionando os estabelecimentos inscritos no CNO, para indicar a substituição ou não da contribuição patronal incidente sobre a remuneração dos trabalhadores de obra de construção civil.</label>
    <select name="s1005_inclusao" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s1005_inclusao_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s1005_inclusao' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s1005_inclusao_infoobra__s1005_inclusao -->

<!-- inicio__s1005_inclusao_infoobra__indsubstpatrobra -->
<div class="col-md-6">
  <div class="form-group">
    <label>Substituição de CP patronal de Obra</label>
    <div class="input-group" style="width: 100%;">
      <select name="indsubstpatrobra" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'indsubstpatrobra' %}selected="selected"{% endifequal %} >1 - Contribuição Patronal Substituída</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'indsubstpatrobra' %}selected="selected"{% endifequal %} >2 - Contribuição Patronal Não Substituída.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1005_inclusao_infoobra__indsubstpatrobra -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s1005_inclusao" value="1" {% if show_fields|get_value_from_dict:'show_s1005_inclusao' %}checked{% endif %} >Registro preenchido exclusivamente por empresa construtora enquadrada nos Arts. 7 a 9 da Lei 12.546/2011, relacionando os estabelecimentos inscritos no CNO, para indicar a substituição ou não da contribuição patronal incidente sobre a remuneração dos trabalhadores de obra de construção civil.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indsubstpatrobra" value="1" {% if show_fields|get_value_from_dict:'show_indsubstpatrobra' %}checked{% endif %} >Substituição de CP patronal de Obra
    </div>
</div>


