<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2240_iniexprisco_infoamb__s2240_evtexprisco -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2240_evtexprisco').change(function(){
       document.getElementById("s2240_iniexprisco_infoamb__s2240_evtexprisco__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2240_iniexprisco_infoamb__s2240_evtexprisco__div">
  <div class="form-group">
    <label id="s2240_iniexprisco_infoamb__s2240_evtexprisco__label">Informações relativas ao ambiente de trabalho*<a data-toggle="tooltip" title="Informações relativas ao ambiente de trabalho."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s2240_iniexprisco_infoamb_form.s2240_evtexprisco.value %}
        <a id="s2240_iniexprisco_infoamb__s2240_evtexprisco__div_acessar" href="{% url 's2240_evtexprisco_salvar' pk=s2240_iniexprisco_infoamb_form.s2240_evtexprisco.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s2240_iniexprisco_infoamb_form.s2240_evtexprisco.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2240_iniexprisco_infoamb_form.s2240_evtexprisco.errors }}
      </div>
    {% endif %}
    {% if s2240_iniexprisco_infoamb_form.s2240_evtexprisco.field.widget.attrs.readonly %}
      {% if s2240_iniexprisco_infoamb_form.s2240_evtexprisco.field.widget.attrs.disabled %}
        {{ s2240_iniexprisco_infoamb_form.s2240_evtexprisco|addcss:'form-control' }}
        <input id="id_s2240_evtexprisco" name="s2240_evtexprisco" type="hidden" value="{% if s2240_iniexprisco_infoamb_form.s2240_evtexprisco.value or s2240_iniexprisco_infoamb_form.s2240_evtexprisco.value == 0 %}{{ s2240_iniexprisco_infoamb_form.s2240_evtexprisco.value|valor }}{% endif %}">
      {% else %}
        {{ s2240_iniexprisco_infoamb_form.s2240_evtexprisco|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2240_iniexprisco_infoamb_form.s2240_evtexprisco|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2240_iniexprisco_infoamb__s2240_evtexprisco -->
<!-- inicio__s2240_iniexprisco_infoamb__codamb -->
<div class="col-md-6" id="s2240_iniexprisco_infoamb__codamb__div">
  <div class="form-group">
    <label id="s2240_iniexprisco_infoamb__codamb__label">Código do Ambiente*<a data-toggle="tooltip" title="Informar o código do ambiente de trabalho constante da Tabela S-1060 no qual o trabalhador está desempenhando as atividades. Validação: Deve ser um código existente na Tabela S-1060."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2240_iniexprisco_infoamb_form.codamb.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2240_iniexprisco_infoamb_form.codamb.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2240_iniexprisco_infoamb_form.codamb|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2240_iniexprisco_infoamb__codamb -->