{% load templatetags %}{% load static %}



<!-- inicio__r4010_ideopsaude__r4010_evtretpf -->
<div class="col-md-12">
  <div class="form-group">
    <label>Identificação da operadora do plano privado coletivo empresarial de assistência à saúde</label>
    <select name="r4010_evtretpf" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r4010_evtretpf_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r4010_evtretpf' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r4010_ideopsaude__r4010_evtretpf -->

<!-- inicio__r4010_ideopsaude__nrinsc -->
<div class="col-md-3">
  <div class="form-group">
    <label>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}</label>
    <div name="nrinsc" class="input-group" style="width: 100%;">
      <input type="text" name="nrinsc" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinsc' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_ideopsaude__nrinsc -->

<!-- inicio__r4010_ideopsaude__regans -->
<div class="col-md-3">
  <div class="form-group">
    <label>Registro na Agência Nacional de Saúde - ANS</label>
    <div name="regans" class="input-group" style="width: 100%;">
      <input type="text" name="regans" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'regans' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_ideopsaude__regans -->

<!-- inicio__r4010_ideopsaude__vlrsaude -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor pago ao plano de saúde</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrsaude" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrsaude' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_ideopsaude__vlrsaude -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r4010_evtretpf" value="1" {% if show_fields|get_value_from_dict:'show_r4010_evtretpf' %}checked{% endif %} >Identificação da operadora do plano privado coletivo empresarial de assistência à saúde
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinsc" value="1" {% if show_fields|get_value_from_dict:'show_nrinsc' %}checked{% endif %} >Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_regans" value="1" {% if show_fields|get_value_from_dict:'show_regans' %}checked{% endif %} >Registro na Agência Nacional de Saúde - ANS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrsaude" value="1" {% if show_fields|get_value_from_dict:'show_vlrsaude' %}checked{% endif %} >Valor pago ao plano de saúde
    </div>
</div>


