{% load templatetags %}{% load static %}



<!-- inicio__r4010_benefpen__r4010_detded -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informação dos beneficiários da pensão alimentícia</label>
    <select name="r4010_detded" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r4010_detded_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r4010_detded' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r4010_benefpen__r4010_detded -->

<!-- inicio__r4010_benefpen__cpf -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número do CPF do dependente</label>
    <div name="cpf" class="input-group" style="width: 100%;">
      <input type="text" name="cpf" class="form-control" value="{{ dict_fields|get_value_from_dict:'cpf' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_benefpen__cpf -->

<!-- inicio__r4010_benefpen__dtnascto -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar a data de nascimento do dependente</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtnascto" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtnascto' %}{{ dict_fields|get_value_from_dict:'dtnascto' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__r4010_benefpen__dtnascto -->

<!-- inicio__r4010_benefpen__nome -->
<div class="col-md-6">
  <div class="form-group">
    <label>Nome do dependente</label>
    <div name="nome" class="input-group" style="width: 100%;">
      <input type="text" name="nome" class="form-control" value="{{ dict_fields|get_value_from_dict:'nome' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_benefpen__nome -->

<!-- inicio__r4010_benefpen__reldep -->
<div class="col-md-6">
  <div class="form-group">
    <label>Relação de dependência</label>
    <div class="input-group" style="width: 100%;">
      <select name="reldep" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >1 - Neto, bisneto</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >2 - Irmão</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >3 - Cônjuge/companheiro</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >4 - Filho</option>
        <option value="5" {% ifequal 5 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >5 - Pais, avós e bisavós</option>
        <option value="6" {% ifequal 6 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >6 - Enteado</option>
        <option value="7" {% ifequal 7 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >7 - Sogro</option>
        <option value="99" {% ifequal 99 dict_fields|get_value_from_dict:'reldep' %}selected="selected"{% endifequal %} >99 - Agregado/Outros.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r4010_benefpen__reldep -->

<!-- inicio__r4010_benefpen__descrdep -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar a descrição da dependência</label>
    <div name="descrdep" class="input-group" style="width: 100%;">
      <input type="text" name="descrdep" class="form-control" value="{{ dict_fields|get_value_from_dict:'descrdep' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_benefpen__descrdep -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r4010_detded" value="1" {% if show_fields|get_value_from_dict:'show_r4010_detded' %}checked{% endif %} >Informação dos beneficiários da pensão alimentícia
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cpf" value="1" {% if show_fields|get_value_from_dict:'show_cpf' %}checked{% endif %} >Número do CPF do dependente
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtnascto" value="1" {% if show_fields|get_value_from_dict:'show_dtnascto' %}checked{% endif %} >Informar a data de nascimento do dependente
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nome" value="1" {% if show_fields|get_value_from_dict:'show_nome' %}checked{% endif %} >Nome do dependente
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_reldep" value="1" {% if show_fields|get_value_from_dict:'show_reldep' %}checked{% endif %} >Relação de dependência
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_descrdep" value="1" {% if show_fields|get_value_from_dict:'show_descrdep' %}checked{% endif %} >Informar a descrição da dependência
    </div>
</div>


