{% load templatetags %}{% load static %}



<!-- inicio__r4010_inforra_despprocjud__r4010_inforra -->
<div class="col-md-12">
  <div class="form-group">
    <label>Detalhamento das despesas de processo judicial</label>
    <select name="r4010_inforra" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in r4010_inforra_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'r4010_inforra' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__r4010_inforra_despprocjud__r4010_inforra -->

<!-- inicio__r4010_inforra_despprocjud__vlrdespcustas -->
<div class="col-md-4">
  <div class="form-group">
    <label>Preencher com o Valor da despesa com custas judiciais</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrdespcustas" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrdespcustas' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_inforra_despprocjud__vlrdespcustas -->

<!-- inicio__r4010_inforra_despprocjud__vlrdespadvogados -->
<div class="col-md-4">
  <div class="form-group">
    <label>Preencher com o Valor da despesa com advogado(s)</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrdespadvogados" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrdespadvogados' }}">
    </div>
  </div>
</div>
<!-- fim__r4010_inforra_despprocjud__vlrdespadvogados -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r4010_inforra" value="1" {% if show_fields|get_value_from_dict:'show_r4010_inforra' %}checked{% endif %} >Detalhamento das despesas de processo judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrdespcustas" value="1" {% if show_fields|get_value_from_dict:'show_vlrdespcustas' %}checked{% endif %} >Preencher com o Valor da despesa com custas judiciais
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrdespadvogados" value="1" {% if show_fields|get_value_from_dict:'show_vlrdespadvogados' %}checked{% endif %} >Preencher com o Valor da despesa com advogado(s)
    </div>
</div>


