{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2200_infoestatutario or 1 %}
            <th>Informações sobre os dados da decisão judicial</th>
            {% endif %}
            {% if show_fields.show_nrprocjud or 1 %}
            <th>Número do Processo Judicial</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2200_infodecjud_lista %}
        <tr>
            {% if show_fields.show_s2200_infoestatutario or 1 %}
            <td>{{ a.s2200_infoestatutario }}</td>
            {% endif %}
            {% if show_fields.show_nrprocjud or 1 %}
            <td>{{ a.nrprocjud }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if dict_permissoes|get_permissao:'s2200_infodecjud_visualizar' %}
                        <a href="{% url 's2200_infodecjud_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if dict_permissoes|get_permissao:'s2200_infodecjud_editar' or dict_permissoes|get_permissao:'s2200_infodecjud_cadastrar' %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if dict_permissoes|get_permissao:'s2200_infodecjud_apagar' %}
                        <a href="{% url 's2200_infodecjud_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
