{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2200_documentos or 1 %}
            <th>Informações do Documento Nacional de Identidade - DNI (Registro de Identificação Civil - RIC)</th>
            {% endif %}
            {% if show_fields.show_nrric or 1 %}
            <th>Número do RIC</th>
            {% endif %}
            {% if show_fields.show_orgaoemissor or 1 %}
            <th>Órgão Emissor do RIC</th>
            {% endif %}
            {% if show_fields.show_dtexped or 0 %}
            <th>Data de Expedição do RIC</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2200_ric_lista %}
        <tr>
            {% if show_fields.show_s2200_documentos %}
            <td>{{ a.s2200_documentos }}</td>
            {% endif %}
            {% if show_fields.show_nrric %}
            <td>{{ a.nrric }}</td>
            {% endif %}
            {% if show_fields.show_orgaoemissor %}
            <td>{{ a.orgaoemissor }}</td>
            {% endif %}
            {% if show_fields.show_dtexped %}
            <td><span style="display:none">{{ a.dtexped|date:"Y-m-d" }}</span>{{ a.dtexped|date:"d/m/Y" }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s2200.change_s2200RIC or perms.s2200.add_s2200RIC %}

                        <a href="{% url 's2200_ric_salvar' pk=a.id %}">
                            {% if perms.s2200.change_s2200RIC %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2200.can_see_data_s2200RIC %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2200.delete_s2200RIC %}
                        <a href="{% url 's2200_ric_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
