{% load templatetags %}{% load static %}



<!-- inicio__s1000_inclusao__s1000_evtinfoempregador -->
<div class="col-md-12" id="s1000_inclusao__s1000_evtinfoempregador__div">
  <div class="form-group">
    <label id="s1000_inclusao__s1000_evtinfoempregador__label">Inclusão de novas informações*<a data-toggle="tooltip" title="Inclusão de novas informações."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s1000_inclusao_form.s1000_evtinfoempregador.value %}
        <a href="{% url 's1000_evtinfoempregador_salvar' pk=s1000_inclusao_form.s1000_evtinfoempregador.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s1000_inclusao_form.s1000_evtinfoempregador.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.s1000_evtinfoempregador.errors }}
      </div>
    {% endif %}
    {% if s1000_inclusao_form.s1000_evtinfoempregador.field.widget.attrs.readonly %}
      {% if s1000_inclusao_form.s1000_evtinfoempregador.field.widget.attrs.disabled %}
        {{ s1000_inclusao_form.s1000_evtinfoempregador|addcss:'form-control' }}
        <input id="id_s1000_evtinfoempregador" name="s1000_evtinfoempregador" type="hidden" value="{{ s1000_inclusao_form.s1000_evtinfoempregador.value }}">
      {% else %}
        {{ s1000_inclusao_form.s1000_evtinfoempregador|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1000_inclusao_form.s1000_evtinfoempregador|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1000_inclusao__s1000_evtinfoempregador -->
<!-- inicio__s1000_inclusao__ideperiodo -->
<div class="col-md-12" id="s1000_inclusao__ideperiodo__div">
  <h4>Período de validade das informações incluídas</h4>
</div>
<!-- fim__s1000_inclusao__ideperiodo -->
<!-- inicio__s1000_inclusao__inivalid -->
<div class="col-md-6" id="s1000_inclusao__inivalid__div">
  <div class="form-group">
    <label id="s1000_inclusao__inivalid__label">Início da Validade*<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.inivalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.inivalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.inivalid.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.inivalid.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.inivalid|addcss:'form-control' }}
          <input id="id_inivalid" name="inivalid" type="hidden" value="{% if s1000_inclusao_form.inivalid.value or s1000_inclusao_form.inivalid.value == 0 %}{{ s1000_inclusao_form.inivalid.value }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.inivalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.inivalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__inivalid -->
<!-- inicio__s1000_inclusao__fimvalid -->
<div class="col-md-6" id="s1000_inclusao__fimvalid__div">
  <div class="form-group">
    <label id="s1000_inclusao__fimvalid__label">Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.fimvalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.fimvalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.fimvalid.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.fimvalid.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.fimvalid|addcss:'form-control' }}
          <input id="id_fimvalid" name="fimvalid" type="hidden" value="{% if s1000_inclusao_form.fimvalid.value or s1000_inclusao_form.fimvalid.value == 0 %}{{ s1000_inclusao_form.fimvalid.value }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.fimvalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.fimvalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__fimvalid -->
<!-- inicio__s1000_inclusao__infocadastro -->
<div class="col-md-12" id="s1000_inclusao__infocadastro__div">
  <h4>Informações do empregador</h4>
</div>
<!-- fim__s1000_inclusao__infocadastro -->
<!-- inicio__s1000_inclusao__nmrazao -->
<div class="col-md-6" id="s1000_inclusao__nmrazao__div">
  <div class="form-group">
    <label id="s1000_inclusao__nmrazao__label">Razão Social<a data-toggle="tooltip" title="Informar o nome do contribuinte, no caso de pessoa física, ou a razão social, no caso de pessoa jurídica ou órgão público. O preenchimento deste campo é facultativo."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1000_inclusao_form.nmrazao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.nmrazao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1000_inclusao_form.nmrazao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__nmrazao -->
<!-- inicio__s1000_inclusao__classtrib -->
<div class="col-md-6" id="s1000_inclusao__classtrib__div">
  <div class="form-group">
    <label id="s1000_inclusao__classtrib__label">Classificação tributária*<a data-toggle="tooltip" title="Preencher com o código correspondente à classificação tributária do contribuinte, conforme tabela 8. Validação: Deve ser um dos códigos existentes na tabela. Os códigos [21] e [22] somente podem ser utilizados se {tpInsc} for igual a [2]. Para os demais códigos, {tpInsc} deve ser igual a [1]."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.classtrib.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.classtrib.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.classtrib.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.classtrib.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.classtrib|addcss:'form-control' }}
          <input id="id_classtrib" name="classtrib" type="hidden" value="{% if s1000_inclusao_form.classtrib.value or s1000_inclusao_form.classtrib.value == 0 %}{{ s1000_inclusao_form.classtrib.value }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.classtrib|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.classtrib|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__classtrib -->
<!-- inicio__s1000_inclusao__natjurid -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s1000_inclusao__natjurid__div">
    <div class="form-group">
      <label id="s1000_inclusao__natjurid__label">Natureza juridica<a data-toggle="tooltip" title="Preencher com o código da Natureza Jurídica do Contribuinte, conforme tabela 21. Validação: O preenchimento do campo é obrigatório e exclusivo para empregador PJ e administração pública. Neste caso, deve ser um código existente na tabela 21 e compatível com a informação constante no CNPJ. Se {classtrib} = [85], o número da {natJurid} deve iniciar por 1 (exemplo: 101-5, 112-0, etc.). Não é permitida a utilização dos códigos 402-2 e 412-0."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s1000_inclusao_form.natjurid.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1000_inclusao_form.natjurid.errors }}
          </div>
        {% endif %}
        <input type="text"
               id="txt_natjurid"
               name="txt_natjurid" class="form-control"
               value="{% if s1000_inclusao.natjurid %}{{ s1000_inclusao.natjurid|get_opcoes_titulo:44 }}{% endif %}"
               {% if s1000_inclusao_form.natjurid.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s1000_inclusao_form.natjurid.field.widget.attrs.required %} required="required"{% endif %}
               {% if s1000_inclusao_form.natjurid.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden"
               id="id_natjurid"
               name="natjurid"
               value="{% if s1000_inclusao.natjurid %}{{ s1000_inclusao_form.natjurid.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_natjurid').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/44/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_natjurid').val(ui.item.value);
        return false;
      }});
    {% if s1000_inclusao_form.natjurid.field.widget.attrs.required %}
    $("#id_form_s1000_inclusao").submit(function(e) {
      $('#txt_natjurid').disabled = true;
        if ($('#id_natjurid').val() == "") {
          $('#txt_natjurid').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Natureza juridica!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s1000_inclusao__natjurid__div">
    <div class="form-group">
      <label id="s1000_inclusao__natjurid__label">Natureza juridica<a data-toggle="tooltip" title="Preencher com o código da Natureza Jurídica do Contribuinte, conforme tabela 21. Validação: O preenchimento do campo é obrigatório e exclusivo para empregador PJ e administração pública. Neste caso, deve ser um código existente na tabela 21 e compatível com a informação constante no CNPJ. Se {classtrib} = [85], o número da {natJurid} deve iniciar por 1 (exemplo: 101-5, 112-0, etc.). Não é permitida a utilização dos códigos 402-2 e 412-0."><i class="fa fa-fw fa-question-circle"></i></a></label>
        <input type="text" id="txt_natjurid" name="txt_natjurid" class="form-control" value="{% if s1000_inclusao.natjurid %}{{ s1000_inclusao.natjurid }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1000_inclusao__natjurid -->
<!-- inicio__s1000_inclusao__indcoop -->
<div class="col-md-6" id="s1000_inclusao__indcoop__div">
  <div class="form-group">
    <label id="s1000_inclusao__indcoop__label">Cooperativa?<a data-toggle="tooltip" title="Indicativo de Cooperativa: 0 - Não é cooperativa; 1 - Cooperativa de Trabalho; 2 - Cooperativa de Produção; 3 - Outras Cooperativas. Validação: O preenchimento do campo é exclusivo e obrigatório para PJ. Somente pode ser diferente de ZERO se {natJurid} for igual a [2143]. Valores Válidos: 0, 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.indcoop.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.indcoop.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.indcoop.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.indcoop.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.indcoop|addcss:'form-control' }}
          <input id="id_indcoop" name="indcoop" type="hidden" value="{% if s1000_inclusao_form.indcoop.value or s1000_inclusao_form.indcoop.value == 0 %}{{ s1000_inclusao_form.indcoop.value|valor }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.indcoop|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.indcoop|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__indcoop -->
<!-- inicio__s1000_inclusao__indconstr -->
<div class="col-md-6" id="s1000_inclusao__indconstr__div">
  <div class="form-group">
    <label id="s1000_inclusao__indconstr__label">Construtora?<a data-toggle="tooltip" title="Indicativo de Construtora: 0 - Não é Construtora; 1 - Empresa Construtora. Validação: O preenchimento do campo é exclusivo e obrigatório para PJ. Valores Válidos: 0, 1."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.indconstr.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.indconstr.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.indconstr.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.indconstr.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.indconstr|addcss:'form-control' }}
          <input id="id_indconstr" name="indconstr" type="hidden" value="{% if s1000_inclusao_form.indconstr.value or s1000_inclusao_form.indconstr.value == 0 %}{{ s1000_inclusao_form.indconstr.value|valor }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.indconstr|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.indconstr|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__indconstr -->
<!-- inicio__s1000_inclusao__inddesfolha -->
<div class="col-md-6" id="s1000_inclusao__inddesfolha__div">
  <div class="form-group">
    <label id="s1000_inclusao__inddesfolha__label">Desoneração de folha?*<a data-toggle="tooltip" title="Indicativo de Desoneração da Folha: 0 - Não Aplicável; 1 - Empresa enquadrada nos art. 7º a 9º da Lei 12.546/2011. Validação: Pode ser igual a [1] apenas se a classificação tributária for igual a [02,03,99]. Nos demais casos, deve ser igual a [0]. Valores Válidos: 0, 1."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.inddesfolha.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.inddesfolha.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.inddesfolha.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.inddesfolha.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.inddesfolha|addcss:'form-control' }}
          <input id="id_inddesfolha" name="inddesfolha" type="hidden" value="{% if s1000_inclusao_form.inddesfolha.value or s1000_inclusao_form.inddesfolha.value == 0 %}{{ s1000_inclusao_form.inddesfolha.value|valor }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.inddesfolha|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.inddesfolha|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__inddesfolha -->
<!-- inicio__s1000_inclusao__indopccp -->
<div class="col-md-6" id="s1000_inclusao__indopccp__div">
  <div class="form-group">
    <label id="s1000_inclusao__indopccp__label">Indicativo da opção pelo produtor rural pela forma de tributação da contribuição previdenciária<a data-toggle="tooltip" title="Indicativo da opção pelo produtor rural pela forma de tributação da contribuição previdenciária, nos termos do art. 25, §13, da Lei 8.212/1991 e do art. 25, §7°, da Lei 8.870/1994. O não preenchimento deste campo por parte do produtor rural implica opção pela comercialização da sua produção: 1 - Sobre a comercialização da sua produção; 2 - Sobre a folha de pagamento. Validação: Não preencher se ({classTrib} <> [07, 08, 21]). Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.indopccp.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.indopccp.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.indopccp.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.indopccp.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.indopccp|addcss:'form-control' }}
          <input id="id_indopccp" name="indopccp" type="hidden" value="{% if s1000_inclusao_form.indopccp.value or s1000_inclusao_form.indopccp.value == 0 %}{{ s1000_inclusao_form.indopccp.value|valor }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.indopccp|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.indopccp|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__indopccp -->
<!-- inicio__s1000_inclusao__indporte -->
<div class="col-md-6" id="s1000_inclusao__indporte__div">
  <div class="form-group">
    <label id="s1000_inclusao__indporte__label">Indicativo de microempresa (ME) ou empresa de pequeno porte (EPP) para permissão de acesso ao módulo simplificado (não preencher caso o usuário não se enquadre como micro ou pequena empresa)<a data-toggle="tooltip" title="Indicativo de microempresa (ME) ou empresa de pequeno porte (EPP) para permissão de acesso ao módulo simplificado (não preencher caso o usuário não se enquadre como micro ou pequena empresa): S - Sim. Validação: Não preencher se {classTrib} = [21, 22]. Valor Válido: S."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.indporte.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.indporte.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.indporte.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.indporte.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.indporte|addcss:'form-control' }}
          <input id="id_indporte" name="indporte" type="hidden" value="{% if s1000_inclusao_form.indporte.value or s1000_inclusao_form.indporte.value == 0 %}{{ s1000_inclusao_form.indporte.value }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.indporte|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.indporte|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__indporte -->
<!-- inicio__s1000_inclusao__indoptregeletron -->
<div class="col-md-6" id="s1000_inclusao__indoptregeletron__div">
  <div class="form-group">
    <label id="s1000_inclusao__indoptregeletron__label">Indicador de opção pelo registro eletrônico de empregados?*<a data-toggle="tooltip" title="Indica se houve opção pelo registro eletrônico de empregados: 0 - Não optou pelo registro eletrônico de empregados; 1 - Optou pelo registro eletrônico de empregados. Valores Válidos: 0, 1."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.indoptregeletron.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.indoptregeletron.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.indoptregeletron.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.indoptregeletron.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.indoptregeletron|addcss:'form-control' }}
          <input id="id_indoptregeletron" name="indoptregeletron" type="hidden" value="{% if s1000_inclusao_form.indoptregeletron.value or s1000_inclusao_form.indoptregeletron.value == 0 %}{{ s1000_inclusao_form.indoptregeletron.value|valor }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.indoptregeletron|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.indoptregeletron|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__indoptregeletron -->
<!-- inicio__s1000_inclusao__indented -->
<div class="col-md-6" id="s1000_inclusao__indented__div">
  <div class="form-group">
    <label id="s1000_inclusao__indented__label">Entidade educativa sem fins lucrativos?<a data-toggle="tooltip" title="Indicativo de entidade educativa sem fins lucrativos que tenha por objetivo a assistência ao adolescente e à educação profissional (art. 430, inciso II, CLT) ou de entidade de prática desportiva filiada ao Sistema Nacional do Desporto ou a Sistema de Desporto de Estado, do Distrito Federal ou de Município (art. 430, inciso III, CLT): N - Não; S - Sim. Validação: O preenchimento é facultativo para Pessoa Jurídica. Não informar se for Pessoa Física. Valores Válidos: S,N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.indented.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.indented.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.indented.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.indented.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.indented|addcss:'form-control' }}
          <input id="id_indented" name="indented" type="hidden" value="{% if s1000_inclusao_form.indented.value or s1000_inclusao_form.indented.value == 0 %}{{ s1000_inclusao_form.indented.value }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.indented|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.indented|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__indented -->
<!-- inicio__s1000_inclusao__indett -->
<div class="col-md-6" id="s1000_inclusao__indett__div">
  <div class="form-group">
    <label id="s1000_inclusao__indett__label">Empresa de trabalho temporário?<a data-toggle="tooltip" title="Indicativo de Empresa de Trabalho Temporário (Lei n° 6.019/1974), com registro no Ministério do Trabalho: N - Não é Empresa de Trabalho Temporário; S - Empresa de Trabalho Temporário. O preenchimento deste campo é facultativo. Valores Válidos: S,N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1000_inclusao_form.indett.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1000_inclusao_form.indett.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1000_inclusao_form.indett.field.widget.attrs.readonly %}
        {% if s1000_inclusao_form.indett.field.widget.attrs.disabled %}
          {{ s1000_inclusao_form.indett|addcss:'form-control' }}
          <input id="id_indett" name="indett" type="hidden" value="{% if s1000_inclusao_form.indett.value or s1000_inclusao_form.indett.value == 0 %}{{ s1000_inclusao_form.indett.value }}{% endif %}">
        {% else %}
          {{ s1000_inclusao_form.indett|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1000_inclusao_form.indett|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__indett -->
<!-- inicio__s1000_inclusao__nrregett -->
<div class="col-md-6" id="s1000_inclusao__nrregett__div">
  <div class="form-group">
    <label id="s1000_inclusao__nrregett__label">Número do registro da empresa de trabalho temporário<a data-toggle="tooltip" title="Número do registro da Empresa de Trabalho Temporário no Ministério do Trabalho. Validação: Informação obrigatória se {indEtt} = [S]. Não pode ser informado nos demais casos. Se informado, deve conter apenas números."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1000_inclusao_form.nrregett.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.nrregett.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1000_inclusao_form.nrregett|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__nrregett -->
<!-- inicio__s1000_inclusao__contato -->
<div class="col-md-12" id="s1000_inclusao__contato__div">
  <h4>Informações de contato</h4>
</div>
<!-- fim__s1000_inclusao__contato -->
<!-- inicio__s1000_inclusao__nmctt -->
<div class="col-md-6" id="s1000_inclusao__nmctt__div">
  <div class="form-group">
    <label id="s1000_inclusao__nmctt__label">Nome do Contato*<a data-toggle="tooltip" title="Nome do contato na empresa. Pessoa responsável por ser o contato do empregador com os órgãos gestores do eSocial."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1000_inclusao_form.nmctt.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.nmctt.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1000_inclusao_form.nmctt|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__nmctt -->
<!-- inicio__s1000_inclusao__cpfctt -->
<div class="col-md-6" id="s1000_inclusao__cpfctt__div">
  <div class="form-group">
    <label id="s1000_inclusao__cpfctt__label">CPF*<a data-toggle="tooltip" title="Preencher com o número do CPF do contato. Validação: A inscrição é validada na base de dados do CPF da RFB."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1000_inclusao_form.cpfctt.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.cpfctt.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1000_inclusao_form.cpfctt|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__cpfctt -->
<!-- inicio__s1000_inclusao__fonefixo -->
<div class="col-md-6" id="s1000_inclusao__fonefixo__div">
  <div class="form-group">
    <label id="s1000_inclusao__fonefixo__label">Telefone<a data-toggle="tooltip" title="Informar o número do telefone, com DDD. Validação: O preenchimento é obrigatório se o campo {foneCel} não for preenchido. Se preenchido, deve conter apenas números, com o mínimo de dez dígitos."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1000_inclusao_form.fonefixo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.fonefixo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1000_inclusao_form.fonefixo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__fonefixo -->
<!-- inicio__s1000_inclusao__fonecel -->
<div class="col-md-6" id="s1000_inclusao__fonecel__div">
  <div class="form-group">
    <label id="s1000_inclusao__fonecel__label">Celular<a data-toggle="tooltip" title="Telefone celular, com DDD. Validação: Se preenchido, deve conter apenas números, com o mínimo de dez dígitos."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1000_inclusao_form.fonecel.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.fonecel.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1000_inclusao_form.fonecel|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__fonecel -->
<!-- inicio__s1000_inclusao__email -->
<div class="col-md-6" id="s1000_inclusao__email__div">
  <div class="form-group">
    <label id="s1000_inclusao__email__label">E-mail<a data-toggle="tooltip" title="Endereço eletrônico. Validação: O e-mail deve possuir o caractere "@" e este não pode estar no início e no fim do e-mail. Deve possuir no mínimo um caractere "." depois do @ e não pode estar no fim do e-mail."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1000_inclusao_form.email.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1000_inclusao_form.email.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1000_inclusao_form.email|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1000_inclusao__email -->
<!-- inicio__s1000_inclusao__infocomplementares -->
<div class="col-md-12" id="s1000_inclusao__infocomplementares__div">
  <h4>Informações complementares sobre o declarante</h4>
</div>
<!-- fim__s1000_inclusao__infocomplementares -->