{% load templatetags %}{% load static %}



<!-- inicio__s2200_ctps__s2200_documentos -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações da Carteira de Trabalho e Previdência Social</label>
    <select name="s2200_documentos" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2200_documentos_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2200_documentos' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2200_ctps__s2200_documentos -->

<!-- inicio__s2200_ctps__nrctps -->
<div class="col-md-3">
  <div class="form-group">
    <label>Número da CTPS</label>
    <div name="nrctps" class="input-group" style="width: 100%;">
      <input type="text" name="nrctps" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrctps' }}">
    </div>
  </div>
</div>
<!-- fim__s2200_ctps__nrctps -->

<!-- inicio__s2200_ctps__seriectps -->
<div class="col-md-3">
  <div class="form-group">
    <label>Série da CTPS</label>
    <div name="seriectps" class="input-group" style="width: 100%;">
      <input type="text" name="seriectps" class="form-control" value="{{ dict_fields|get_value_from_dict:'seriectps' }}">
    </div>
  </div>
</div>
<!-- fim__s2200_ctps__seriectps -->

<!-- inicio__s2200_ctps__ufctps -->
<div class="col-md-3">
  <div class="form-group">
    <label>UF da CTPS</label>
    <div class="input-group" style="width: 100%;">
      <select name="ufctps" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="AC" {% ifequal 'AC' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Acre</option>
        <option value="AL" {% ifequal 'AL' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Alagoas</option>
        <option value="AM" {% ifequal 'AM' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Amazonas</option>
        <option value="AP" {% ifequal 'AP' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Amapá</option>
        <option value="BA" {% ifequal 'BA' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Bahia</option>
        <option value="CE" {% ifequal 'CE' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Ceará</option>
        <option value="DF" {% ifequal 'DF' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Distrito Federal</option>
        <option value="ES" {% ifequal 'ES' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Espírito Santo</option>
        <option value="GO" {% ifequal 'GO' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Goiás</option>
        <option value="MA" {% ifequal 'MA' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Maranhão</option>
        <option value="MG" {% ifequal 'MG' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Minas Gerais</option>
        <option value="MS" {% ifequal 'MS' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Mato Grosso do Sul</option>
        <option value="MT" {% ifequal 'MT' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Mato Grosso</option>
        <option value="PA" {% ifequal 'PA' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Pará</option>
        <option value="PB" {% ifequal 'PB' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Paraíba</option>
        <option value="PE" {% ifequal 'PE' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Pernambuco</option>
        <option value="PI" {% ifequal 'PI' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Piauí</option>
        <option value="PR" {% ifequal 'PR' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Paraná</option>
        <option value="RJ" {% ifequal 'RJ' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Rio de Janeiro</option>
        <option value="RN" {% ifequal 'RN' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Rio Grande do Norte</option>
        <option value="RO" {% ifequal 'RO' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Rondônia</option>
        <option value="RR" {% ifequal 'RR' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Roraima</option>
        <option value="RS" {% ifequal 'RS' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Rio Grande do Sul</option>
        <option value="SC" {% ifequal 'SC' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Santa Catarina</option>
        <option value="SE" {% ifequal 'SE' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Sergipe</option>
        <option value="SP" {% ifequal 'SP' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >São Paulo</option>
        <option value="TO" {% ifequal 'TO' dict_fields|get_value_from_dict:'ufctps' %}selected="selected"{% endifequal %} >Tocantins</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2200_ctps__ufctps -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2200_documentos" value="1" {% if show_fields|get_value_from_dict:'show_s2200_documentos' %}checked{% endif %} >Informações da Carteira de Trabalho e Previdência Social
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrctps" value="1" {% if show_fields|get_value_from_dict:'show_nrctps' %}checked{% endif %} >Número da CTPS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_seriectps" value="1" {% if show_fields|get_value_from_dict:'show_seriectps' %}checked{% endif %} >Série da CTPS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ufctps" value="1" {% if show_fields|get_value_from_dict:'show_ufctps' %}checked{% endif %} >UF da CTPS
    </div>
</div>


