<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2200_sucessaovinc__s2200_evtadmissao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Grupo de informações da sucessão de vínculo trabalhista/estatutário</label>
    <select name="s2200_evtadmissao" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2200_evtadmissao_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2200_evtadmissao' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2200_sucessaovinc__s2200_evtadmissao -->

<!-- inicio__s2200_sucessaovinc__tpinscant -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpinscant" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpinscant' %}selected="selected"{% endifequal %} >1 - CNPJ</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpinscant' %}selected="selected"{% endifequal %} >2 - CPF</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'tpinscant' %}selected="selected"{% endifequal %} >3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'tpinscant' %}selected="selected"{% endifequal %} >4 - CNO (Cadastro Nacional de Obra)</option>
        <option value="5" {% ifequal 5 dict_fields|get_value_from_dict:'tpinscant' %}selected="selected"{% endifequal %} >5 - CGC</option>
        <option value="6" {% ifequal 6 dict_fields|get_value_from_dict:'tpinscant' %}selected="selected"{% endifequal %} >6 - CEI</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2200_sucessaovinc__tpinscant -->

<!-- inicio__s2200_sucessaovinc__cnpjempregant -->
<div class="col-md-6">
  <div class="form-group">
    <label>CNPJ Empregador Anterior</label>
    <div name="cnpjempregant" class="input-group" style="width: 100%;">
      <input type="text" name="cnpjempregant" class="form-control" value="{{ dict_fields|get_value_from_dict:'cnpjempregant' }}">
    </div>
  </div>
</div>
<!-- fim__s2200_sucessaovinc__cnpjempregant -->

<!-- inicio__s2200_sucessaovinc__matricant -->
<div class="col-md-6">
  <div class="form-group">
    <label>Matricula anterior</label>
    <div name="matricant" class="input-group" style="width: 100%;">
      <input type="text" name="matricant" class="form-control" value="{{ dict_fields|get_value_from_dict:'matricant' }}">
    </div>
  </div>
</div>
<!-- fim__s2200_sucessaovinc__matricant -->

<!-- inicio__s2200_sucessaovinc__dttransf -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com a data da transferência do empregado para o empregador declarante</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dttransf" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dttransf' %}{{ dict_fields|get_value_from_dict:'dttransf' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s2200_sucessaovinc__dttransf -->

<!-- inicio__s2200_sucessaovinc__observacao -->
<div class="col-md-6">
  <div class="form-group">
    <label>Observações</label>
    <div name="observacao" class="input-group" style="width: 100%;">
      <input type="text" name="observacao" class="form-control" value="{{ dict_fields|get_value_from_dict:'observacao' }}">
    </div>
  </div>
</div>
<!-- fim__s2200_sucessaovinc__observacao -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2200_evtadmissao" value="1" {% if show_fields|get_value_from_dict:'show_s2200_evtadmissao' %}checked{% endif %} >Grupo de informações da sucessão de vínculo trabalhista/estatutário
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpinscant" value="1" {% if show_fields|get_value_from_dict:'show_tpinscant' %}checked{% endif %} >Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cnpjempregant" value="1" {% if show_fields|get_value_from_dict:'show_cnpjempregant' %}checked{% endif %} >CNPJ Empregador Anterior
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_matricant" value="1" {% if show_fields|get_value_from_dict:'show_matricant' %}checked{% endif %} >Matricula anterior
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dttransf" value="1" {% if show_fields|get_value_from_dict:'show_dttransf' %}checked{% endif %} >Preencher com a data da transferência do empregado para o empregador declarante
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_observacao" value="1" {% if show_fields|get_value_from_dict:'show_observacao' %}checked{% endif %} >Observações
    </div>
</div>


