<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2200_infodecjud__s2200_infoestatutario -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações sobre os dados da decisão judicial</label>
    <select name="s2200_infoestatutario" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2200_infoestatutario_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2200_infoestatutario' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2200_infodecjud__s2200_infoestatutario -->

<!-- inicio__s2200_infodecjud__nrprocjud -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número do Processo Judicial</label>
    <div name="nrprocjud" class="input-group" style="width: 100%;">
      <input type="text" name="nrprocjud" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrprocjud' }}">
    </div>
  </div>
</div>
<!-- fim__s2200_infodecjud__nrprocjud -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2200_infoestatutario" value="1" {% if show_fields|get_value_from_dict:'show_s2200_infoestatutario' %}checked{% endif %} >Informações sobre os dados da decisão judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrprocjud" value="1" {% if show_fields|get_value_from_dict:'show_nrprocjud' %}checked{% endif %} >Número do Processo Judicial
    </div>
</div>


