{% load templatetags %}
<table {% if not output %}
    class="table table-bordered"{% else %}
    width="100%"{% endif %}>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">evtFech</td>
            <td bgcolor="lightgray" colspan="3">Evento de Fechamento. Regras de validação: REGRA_EXISTE_INFO_CONTRIBUINTE REGRA_VALIDA_CONTRIBUINTE</td>
        </tr>
    {% for r4099_evtfech in r4099_evtfech_lista %}
    {% ifequal 1 1 %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEvento</td>
            <td bgcolor="lightgray" colspan="3">Informações de Identificação do Evento.</td>
        </tr>

        <tr {% if r4099_evtfech.perapur|validacoes_esocial_efdreinf:"r4099_evtfech.perapur" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApur</td>
            <td width="500px">Informar o ano/mês de referência das informações no formato AAAA-MM. Validação: Deve ser um ano/mês válido para o qual haja informações do contribuinte informadas através do evento R-1000. Não pode ser maior que o ano/mês corrente.</td>
            <td width="200px"><b>{% if r4099_evtfech.perapur or r4099_evtfech.perapur == 0 %}{{ r4099_evtfech.perapur }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_evtfech.tpamb|validacoes_esocial_efdreinf:"r4099_evtfech.tpamb" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpAmb</td>
            <td width="500px">Identificação do ambiente: 1 - Produção; 2 - Produção restrita. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r4099_evtfech.tpamb or r4099_evtfech.tpamb == 0 %}{{ r4099_evtfech.tpamb }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_evtfech.procemi|validacoes_esocial_efdreinf:"r4099_evtfech.procemi" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">procEmi</td>
            <td width="500px">Processo de emissão do evento: 1 - Aplicativo do contribuinte; 2 - Aplicativo governamental. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r4099_evtfech.procemi or r4099_evtfech.procemi == 0 %}{{ r4099_evtfech.procemi }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_evtfech.verproc|validacoes_esocial_efdreinf:"r4099_evtfech.verproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">verProc</td>
            <td width="500px">Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento.</td>
            <td width="200px"><b>{% if r4099_evtfech.verproc or r4099_evtfech.verproc == 0 %}{{ r4099_evtfech.verproc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideContri</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do contribuinte.</td>
        </tr>

        <tr {% if r4099_evtfech.tpinsc|validacoes_esocial_efdreinf:"r4099_evtfech.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF). Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r4099_evtfech.tpinsc or r4099_evtfech.tpinsc == 0 %}{{ r4099_evtfech.tpinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_evtfech.nrinsc|validacoes_esocial_efdreinf:"r4099_evtfech.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Se for um CNPJ deve ser informada apenas a Raiz/Base de oito posições, exceto se natureza jurídica de administração pública direta federal ([101-5], [104-0], [107-4], [116-3], situação em que o campo deve ser preenchido com o CNPJ completo (14 posições). Validação: Se {tpInsc} for igual a [1], deve ser um número de CNPJ válido. Se {tpInsc} for igual a [2], deve ser um CPF válido.</td>
            <td width="200px"><b>{% if r4099_evtfech.nrinsc or r4099_evtfech.nrinsc == 0 %}{{ r4099_evtfech.nrinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideRespInf</td>
            <td bgcolor="lightgray" colspan="3">Responsável pelas informações.</td>
        </tr>
    {% for r4099_iderespinf in r4099_iderespinf_lista %}
    {% ifequal r4099_iderespinf.r4099_evtfech.id r4099_evtfech.id %}
        <tr {% if r4099_iderespinf.nmresp|validacoes_esocial_efdreinf:"r4099_iderespinf.nmresp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nmResp</td>
            <td width="500px">Nome do responsável pelas informações.</td>
            <td width="200px"><b>{% if r4099_iderespinf.nmresp or r4099_iderespinf.nmresp == 0 %}{{ r4099_iderespinf.nmresp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099ideRespInf or perms.efdreinf.can_see_r4099ideRespInf %}
                <a href="{% url 'r4099_iderespinf_salvar' pk=r4099_iderespinf.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_iderespinf.cpfresp|validacoes_esocial_efdreinf:"r4099_iderespinf.cpfresp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">cpfResp</td>
            <td width="500px">Preencher com o CPF do responsável. Validação: Deve ser um número de CPF válido.</td>
            <td width="200px"><b>{% if r4099_iderespinf.cpfresp or r4099_iderespinf.cpfresp == 0 %}{{ r4099_iderespinf.cpfresp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099ideRespInf or perms.efdreinf.can_see_r4099ideRespInf %}
                <a href="{% url 'r4099_iderespinf_salvar' pk=r4099_iderespinf.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_iderespinf.telefone|validacoes_esocial_efdreinf:"r4099_iderespinf.telefone" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">telefone</td>
            <td width="500px">Informar o número do telefone, com DDD. Validação: Se preenchido, deve conter apenas números com o mínimo de dez dígitos.</td>
            <td width="200px"><b>{% if r4099_iderespinf.telefone or r4099_iderespinf.telefone == 0 %}{{ r4099_iderespinf.telefone }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099ideRespInf or perms.efdreinf.can_see_r4099ideRespInf %}
                <a href="{% url 'r4099_iderespinf_salvar' pk=r4099_iderespinf.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_iderespinf.email|validacoes_esocial_efdreinf:"r4099_iderespinf.email" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">email</td>
            <td width="500px">Endereço eletrônico. Validação: O e-mail deve possuir o caractere "@" e este não pode estar no início e/ou no final do endereço informado. Deve possuir no mínimo um caractere "." depois do @ e não pode estar no final do endereço informado.</td>
            <td width="200px"><b>{% if r4099_iderespinf.email or r4099_iderespinf.email == 0 %}{{ r4099_iderespinf.email }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099ideRespInf or perms.efdreinf.can_see_r4099ideRespInf %}
                <a href="{% url 'r4099_iderespinf_salvar' pk=r4099_iderespinf.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">infoFech</td>
            <td bgcolor="lightgray" colspan="3">Informações do Fechamento.</td>
        </tr>

        <tr {% if r4099_evtfech.evtretpf|validacoes_esocial_efdreinf:"r4099_evtfech.evtretpf" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">evtRetPF</td>
            <td width="500px">Possui informações de pagamentos ou crédito a beneficiário PF no período de apuração? S - Sim; N - Não. Validação: Se for igual a [S], deve existir evento R-4010 para o período de apuração. Caso contrário, não deve existir o referido evento. Valores Válidos: S, N.</td>
            <td width="200px"><b>{% if r4099_evtfech.evtretpf or r4099_evtfech.evtretpf == 0 %}{{ r4099_evtfech.evtretpf }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_evtfech.evtretpj|validacoes_esocial_efdreinf:"r4099_evtfech.evtretpj" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">evtRetPJ</td>
            <td width="500px">Possui informações de pagamentos ou crédito a beneficiário PJ no período de apuração? S - Sim; N - Não. Validação: Se for igual a [S], deve existir evento R-4020 para o mesmo período de apuração. Caso contrário, não deve existir o referido evento. Valores Válidos: S, N.</td>
            <td width="200px"><b>{% if r4099_evtfech.evtretpj or r4099_evtfech.evtretpj == 0 %}{{ r4099_evtfech.evtretpj }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r4099_evtfech.evtpgtosnid|validacoes_esocial_efdreinf:"r4099_evtfech.evtpgtosnid" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">evtPgtosNId</td>
            <td width="500px">Possui informações de pagamentos a beneficiários não identificados no período de apuração? S - Sim; N - Não. Validação: Se for igual a [S], deve existir o evento R-4040 para o mesmo período de apuração. Caso contrário, não deve existir o referido evento. Valores Válidos: S, N.</td>
            <td width="200px"><b>{% if r4099_evtfech.evtpgtosnid or r4099_evtfech.evtpgtosnid == 0 %}{{ r4099_evtfech.evtpgtosnid }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r4099.can_see_r4099evtFech or perms.efdreinf.can_see_r4099evtFech %}
                <a href="{% url 'r4099_evtfech_salvar' pk=r4099_evtfech.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 {% endifequal %}{% endfor %}

</table>