{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r9001_infototal or 1 %}
            <th>Totalizador das contribuições sociais incidentes sobre a comercialização de produção por Produtor Rural Pessoa Jurídica e Agroindústria, apuradas no evento R-2050</th>
            {% endif %}
            {% if show_fields.show_crcoml or 1 %}
            <th>Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Comercialização de Produção, calculada segundo as regras estabelecidas na legislação em vigor</th>
            {% endif %}
            {% if show_fields.show_vlrcrcoml or 1 %}
            <th>Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRComl}. Origem: R-2050</th>
            {% endif %}
            {% if show_fields.show_vlrcrcomlsusp or 0 %}
            <th>Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao Código de Receita - CR informado em {CRComl}. Origem: R-2050</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r9001_rcoml_lista %}
        <tr>
            {% if show_fields.show_r9001_infototal %}
            <td>{{ a.r9001_infototal }}</td>
            {% endif %}
            {% if show_fields.show_crcoml %}
            <td>{{ a.crcoml }}</td>
            {% endif %}
            {% if show_fields.show_vlrcrcoml %}
            <td>{{ a.vlrcrcoml }}</td>
            {% endif %}
            {% if show_fields.show_vlrcrcomlsusp %}
            <td>{{ a.vlrcrcomlsusp }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
