{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_transmissor or 0 %}
            <th>Transmissor</th>
            {% endif %}
            {% if show_fields.show_empregador_tpinsc or 1 %}
            <th>Tipo de Inscrição do Empregador</th>
            {% endif %}
            {% if show_fields.show_empregador_nrinsc or 1 %}
            <th>Número de Inscrição do Empregador</th>
            {% endif %}
            {% if show_fields.show_grupo or 1 %}
            <th>Grupo</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            {% if show_fields.show_resposta_codigo or 1 %}
            <th>Código da Resposta</th>
            {% endif %}
            {% if show_fields.show_resposta_descricao or 0 %}
            <th>Descrição da Resposta</th>
            {% endif %}
            {% if show_fields.show_recepcao_data_hora or 0 %}
            <th>Data/Hora de Recepção</th>
            {% endif %}
            {% if show_fields.show_recepcao_versao_aplicativo or 0 %}
            <th>Versão do Aplicativo de Recepção</th>
            {% endif %}
            {% if show_fields.show_protocolo or 0 %}
            <th>Protocolo de Envio</th>
            {% endif %}
            {% if show_fields.show_processamento_versao_aplicativo or 0 %}
            <th>Versão do Aplicativo de Processamento</th>
            {% endif %}
            {% if show_fields.show_tempo_estimado_conclusao or 0 %}
            <th>Tempo Estimado de Conclusão</th>
            {% endif %}
            {% if show_fields.show_arquivo_header or 0 %}
            <th>Arquivo Header</th>
            {% endif %}
            {% if show_fields.show_arquivo_request or 0 %}
            <th>Arquivo Request</th>
            {% endif %}
            {% if show_fields.show_arquivo_response or 0 %}
            <th>Arquivo Response</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="170px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in transmissor_lote_esocial_lista %}
        <tr>
            {% if show_fields.show_transmissor or 0 %}
            <td>{{ a.transmissor }}</td>
            {% endif %}
            {% if show_fields.show_empregador_tpinsc or 1 %}
            <td>{{ a.get_empregador_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_empregador_nrinsc or 1 %}
            <td>{{ a.empregador_nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_grupo or 1 %}
            <td>{{ a.get_grupo_display }}</td>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}
            {% if show_fields.show_resposta_codigo or 1 %}
            <td>{{ a.get_resposta_codigo_display }}</td>
            {% endif %}
            {% if show_fields.show_resposta_descricao or 0 %}
            <td>{{ a.resposta_descricao }}</td>
            {% endif %}
            {% if show_fields.show_recepcao_data_hora or 0 %}
            <td><span style="display:none">{{ a.recepcao_data_hora|date:"Y-m-d H:i" }}</span>{{ a.recepcao_data_hora|date:"d/m/Y H:i" }}</td>
            {% endif %}
            {% if show_fields.show_recepcao_versao_aplicativo or 0 %}
            <td>{{ a.recepcao_versao_aplicativo }}</td>
            {% endif %}
            {% if show_fields.show_protocolo or 0 %}
            <td>{{ a.protocolo }}</td>
            {% endif %}
            {% if show_fields.show_processamento_versao_aplicativo or 0 %}
            <td>{{ a.processamento_versao_aplicativo }}</td>
            {% endif %}
            {% if show_fields.show_tempo_estimado_conclusao or 0 %}
            <td>{{ a.tempo_estimado_conclusao }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_header or 0 %}
            <td>{{ a.arquivo_header }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_request or 0 %}
            <td>{{ a.arquivo_request }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_response or 0 %}
            <td>{{ a.arquivo_response }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    {% if a.status == 0 or a.status == 2 %}
    <a href="{% url 'transmissor_lote_esocial_enviar' pk=a.id %}">
        <span class="btn btn-primary" title="Enviar Lote">
            <i class="fa fa-fw fa-feed"></i>
            </span>
    </a>
    {% endif %}
    {% if a.status == 1 or a.status == 3 or a.status == 4 %}
    <a href="{% url 'transmissor_lote_esocial_consultar' pk=a.id %}">
        <span class="btn btn-primary" title="Consultar Lote">
            <i class="fa fa-fw fa-search"></i>
        </span>
    </a>
    {% endif %}
    {% if a.status == 2 or a.status == 3 or a.status == 4 %}
    <a href="{% url 'transmissor_lote_esocial_recibo' pk=a.id %}" target="_blank">
        <span class="btn btn-primary" title="Imprimir Recibo do Lote">
            <i class="fa fa-fw fa-print"></i>
        </span>
    </a>
    {% endif %}

                        {% if perms.mensageiro.change_TransmissorLoteEsocial or perms.mensageiro.add_TransmissorLoteEsocial %}

                        <a href="{% url 'transmissor_lote_esocial_salvar' pk=a.id %}">
                            {% if perms.mensageiro.change_TransmissorLoteEsocial %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.mensageiro.can_see_data_TransmissorLoteEsocial %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.mensageiro.delete_TransmissorLoteEsocial %}
                        <a href="{% url 'transmissor_lote_esocial_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
