{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_transmissor_tpinsc or 1 %}
            <th>Tipo de Inscrição</th>
            {% endif %}
            {% if show_fields.show_transmissor_nrinsc or 1 %}
            <th>CPF/CNPJ</th>
            {% endif %}
            {% if show_fields.show_nome_empresa or 1 %}
            <th>Nome da Empresa</th>
            {% endif %}
            {% if show_fields.show_empregador_nrinsc or 1 %}
            <th>CPF/CNPJ</th>
            {% endif %}
            {% if show_fields.show_empregador_tpinsc or 1 %}
            <th>Tipo de Inscrição</th>
            {% endif %}
            {% if show_fields.show_contribuinte_nrinsc or 1 %}
            <th>CPF/CNPJ</th>
            {% endif %}
            {% if show_fields.show_contribuinte_tpinsc or 1 %}
            <th>Tipo de Inscrição</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in transmissores_lista %}
        <tr>
            {% if show_fields.show_transmissor_tpinsc or 1 %}
            <td>{{ a.get_transmissor_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_transmissor_nrinsc or 1 %}
            <td>{{ a.transmissor_nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_nome_empresa or 1 %}
            <td>{{ a.nome_empresa }}</td>
            {% endif %}
            {% if show_fields.show_empregador_nrinsc or 1 %}
            <td>{{ a.empregador_nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_empregador_tpinsc or 1 %}
            <td>{{ a.get_empregador_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_contribuinte_nrinsc or 1 %}
            <td>{{ a.contribuinte_nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_contribuinte_tpinsc or 1 %}
            <td>{{ a.get_contribuinte_tpinsc_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.mensageiro.can_view_TransmissorLote %}
                        <a href="{% url 'transmissores_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.mensageiro.add_TransmissorLote or perms.mensageiro.change_TransmissorLote %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.mensageiro.delete_TransmissorLote %}
                        <a href="{% url 'transmissores_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
