<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_evtservprest or 0 %}
            <th>Evento Serviços Prestados - Cessão de Mão de Obra ou Empreitada</th>
            {% endif %}
            {% if show_fields.show_identidade or 1 %}
            <th>Identificação única do evento</th>
            {% endif %}
            {% if show_fields.show_ideevento or 0 %}
            <th>Informações de Identificação do Evento</th>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <th>Informe [1] para arquivo original ou [2] para arquivo de retificação</th>
            {% endif %}
            {% if show_fields.show_nrrecibo or 0 %}
            <th>Preencher com o número do recibo do arquivo a ser retificado</th>
            {% endif %}
            {% if show_fields.show_perapur or 1 %}
            <th>Informar o ano/mês de referência das informações no formato AAAA-MM</th>
            {% endif %}
            {% if show_fields.show_tpamb or 0 %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi or 0 %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc or 0 %}
            <th>Versão do processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_idecontri or 0 %}
            <th>Informações de identificação do contribuinte</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 0 %}
            <th>Preencher com o código correspondente ao tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 0 %}
            <th>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}</th>
            {% endif %}
            {% if show_fields.show_infoservprest or 0 %}
            <th>Informação dos Serviços Prestados (Cessão de Mão de Obra ou Empreitada)</th>
            {% endif %}
            {% if show_fields.show_ideestabprest or 0 %}
            <th>Registro que identifica o estabelecimento 'prestador' de serviços mediante cessão de mão de obra.</th>
            {% endif %}
            {% if show_fields.show_tpinscestabprest or 0 %}
            <th>Preencher com o código correspondente ao tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinscestabprest or 0 %}
            <th>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInscEstabPrest}</th>
            {% endif %}
            {% if show_fields.show_idetomador or 0 %}
            <th>Identificação dos tomadores dos serviços</th>
            {% endif %}
            {% if show_fields.show_tpinsctomador or 0 %}
            <th>Preencher com o código correspondente ao tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsctomador or 0 %}
            <th>Indicar o número de inscrição do tomador, conforme indicado no campo {tpInscTomador}</th>
            {% endif %}
            {% if show_fields.show_indobra or 0 %}
            <th>Indicativo de Prestação de Serviços em Obra de Construção Civil</th>
            {% endif %}
            {% if show_fields.show_vlrtotalbruto or 0 %}
            <th>Preencher com o valor bruto da(s) nota(s) fiscal(is) </th>
            {% endif %}
            {% if show_fields.show_vlrtotalbaseret or 0 %}
            <th>Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante</th>
            {% endif %}
            {% if show_fields.show_vlrtotalretprinc or 0 %}
            <th>Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante</th>
            {% endif %}
            {% if show_fields.show_vlrtotalretadic or 0 %}
            <th>Soma do valor do adicional de retenção das notas fiscais</th>
            {% endif %}
            {% if show_fields.show_vlrtotalnretprinc or 0 %}
            <th>Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial</th>
            {% endif %}
            {% if show_fields.show_vlrtotalnretadic or 0 %}
            <th>Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial</th>
            {% endif %}
            {% if show_fields.show_versao or 0 %}
            <th>Versão</th>
            {% endif %}
            {% if show_fields.show_transmissor_lote_efdreinf or 0 %}
            <th>Transmissor</th>
            {% endif %}
            {% if show_fields.show_validacao_precedencia or 0 %}
            <th>Validação de Precedência</th>
            {% endif %}
            {% if show_fields.show_validacoes or 0 %}
            <th>Validações</th>
            {% endif %}
            {% if show_fields.show_arquivo_original or 0 %}
            <th>Arquivo Original</th>
            {% endif %}
            {% if show_fields.show_arquivo or 0 %}
            <th>Arquivo</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            {% if show_fields.show_cdretorno or 1 %}
            <th>Código do Retorno</th>
            {% endif %}
            {% if show_fields.show_descretorno or 0 %}
            <th>Descrição do Retorno</th>
            {% endif %}
            {% if show_fields.show_dhprocess or 0 %}
            <th>Data/Hora do Processamento</th>
            {% endif %}
            {% if show_fields.show_transmissor_lote_efdreinf_error or 0 %}
            <th>Transmissor (Erro)</th>
            {% endif %}
            {% if show_fields.show_retorno_envio_json or 0 %}
            <th>JSON de Retorno do Envio</th>
            {% endif %}
            {% if show_fields.show_retorno_consulta_json or 0 %}
            <th>JSON de Retorno da Consulta</th>
            {% endif %}
            {% if show_fields.show_evento_json or 0 %}
            <th>JSON do Evento</th>
            {% endif %}
            {% if show_fields.show_ocorrencias_json or 0 %}
            <th>JSON das Ocorrências</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r2020_evtservprest_lista %}
        <tr>
            {% if show_fields.show_evtservprest or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_identidade or 1 %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_ideevento or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_nrrecibo or 0 %}
            <td>{{ a.nrrecibo }}</td>
            {% endif %}
            {% if show_fields.show_perapur or 1 %}
            <td>{{ a.perapur }}</td>
            {% endif %}
            {% if show_fields.show_tpamb or 0 %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi or 0 %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc or 0 %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_idecontri or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tpinsc or 0 %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc or 0 %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_infoservprest or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_ideestabprest or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tpinscestabprest or 0 %}
            <td>{{ a.tpinscestabprest }}</td>
            {% endif %}
            {% if show_fields.show_nrinscestabprest or 0 %}
            <td>{{ a.nrinscestabprest }}</td>
            {% endif %}
            {% if show_fields.show_idetomador or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tpinsctomador or 0 %}
            <td>{{ a.get_tpinsctomador_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsctomador or 0 %}
            <td>{{ a.nrinsctomador }}</td>
            {% endif %}
            {% if show_fields.show_indobra or 0 %}
            <td>{{ a.get_indobra_display }}</td>
            {% endif %}
            {% if show_fields.show_vlrtotalbruto or 0 %}
            <td>{{ a.vlrtotalbruto }}</td>
            {% endif %}
            {% if show_fields.show_vlrtotalbaseret or 0 %}
            <td>{{ a.vlrtotalbaseret }}</td>
            {% endif %}
            {% if show_fields.show_vlrtotalretprinc or 0 %}
            <td>{{ a.vlrtotalretprinc }}</td>
            {% endif %}
            {% if show_fields.show_vlrtotalretadic or 0 %}
            <td>{{ a.vlrtotalretadic }}</td>
            {% endif %}
            {% if show_fields.show_vlrtotalnretprinc or 0 %}
            <td>{{ a.vlrtotalnretprinc }}</td>
            {% endif %}
            {% if show_fields.show_vlrtotalnretadic or 0 %}
            <td>{{ a.vlrtotalnretadic }}</td>
            {% endif %}
            {% if show_fields.show_versao or 0 %}
            <td>{{ a.get_versao_display }}</td>
            {% endif %}
            {% if show_fields.show_transmissor_lote_efdreinf or 0 %}
            <td>{{ a.transmissor_lote_efdreinf }}</td>
            {% endif %}
            {% if show_fields.show_validacao_precedencia or 0 %}
            <td>{{ a.get_validacao_precedencia_display }}</td>
            {% endif %}
            {% if show_fields.show_validacoes or 0 %}
            <td>{{ a.validacoes }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_original or 0 %}
            <td>{{ a.get_arquivo_original_display }}</td>
            {% endif %}
            {% if show_fields.show_arquivo or 0 %}
            <td>{{ a.arquivo }}</td>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}
            {% if show_fields.show_cdretorno or 1 %}
            <td>{{ a.cdretorno }}</td>
            {% endif %}
            {% if show_fields.show_descretorno or 0 %}
            <td>{{ a.descretorno }}</td>
            {% endif %}
            {% if show_fields.show_dhprocess or 0 %}
            <td><span style="display:none">{{ a.dhprocess|date:"Y-m-d H:i" }}</span>{{ a.dhprocess|date:"d/m/Y H:i" }}</td>
            {% endif %}
            {% if show_fields.show_transmissor_lote_efdreinf_error or 0 %}
            <td>{{ a.transmissor_lote_efdreinf_error }}</td>
            {% endif %}
            {% if show_fields.show_retorno_envio_json or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_retorno_consulta_json or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_evento_json or 0 %}
            <td></td>
            {% endif %}
            {% if show_fields.show_ocorrencias_json or 0 %}
            <td></td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.efdreinf.change_r2020evtServPrest or perms.efdreinf.add_r2020evtServPrest %}

                        <a href="{% url 'r2020_evtservprest_salvar' pk=a.id %}">
                            {% if perms.efdreinf.change_r2020evtServPrest %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.efdreinf.can_see_data_r2020evtServPrest %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.efdreinf.delete_r2020evtServPrest %}
                        <a href="{% url 'r2020_evtservprest_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
