{% load templatetags %}
<table {% if not output %}
    class="table table-bordered"{% else %} 
    width="100%"{% endif %}>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">evtRet</td>
            <td bgcolor="lightgray" colspan="3">Evento Totalização.</td>
        </tr>
    {% for r9002_evtret in r9002_evtret_lista %}
    {% ifequal 1 1 %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEvento</td>
            <td bgcolor="lightgray" colspan="3">Informações de Identificação do Evento.</td>
        </tr>

        <tr {% if r9002_evtret.perref|validacoes_esocial_efdreinf:"r9002_evtret.perref" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perRef</td>
            <td width="500px">Informar o ano/mês no formato AAAA-MM de referência das informações. Validação: Deve ser uma data igual ou posterior à implementação da EFD- Reinf. Não pode ser maior que o ano/mês corrente.</td>
            <td width="200px"><b>{% if r9002_evtret.perref or r9002_evtret.perref == 0 %}{{ r9002_evtret.perref }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideContri</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do contribuinte.</td>
        </tr>

        <tr {% if r9002_evtret.tpinsc|validacoes_esocial_efdreinf:"r9002_evtret.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF). Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r9002_evtret.tpinsc or r9002_evtret.tpinsc == 0 %}{{ r9002_evtret.tpinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_evtret.nrinsc|validacoes_esocial_efdreinf:"r9002_evtret.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Se for um CNPJ deve ser informada apenas a Raiz/Base de oito posições, exceto se natureza jurídica de administração pública direta federal ([101-5], [104-0], [107-4], [116-3], situação em que o campo deve ser preenchido com o CNPJ completo (14 posições). Validação: Se {tpInsc} for igual a [1], deve ser um número de CNPJ válido. Se {tpInsc} for igual a [2], deve ser um CPF válido.</td>
            <td width="200px"><b>{% if r9002_evtret.nrinsc or r9002_evtret.nrinsc == 0 %}{{ r9002_evtret.nrinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideRecRetorno</td>
            <td bgcolor="lightgray" colspan="3">Informações do Recibo de Retorno.</td>
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideStatus</td>
            <td bgcolor="lightgray" colspan="3">Situação atual do evento.</td>
        </tr>

        <tr {% if r9002_evtret.cdretorno|validacoes_esocial_efdreinf:"r9002_evtret.cdretorno" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">cdRetorno</td>
            <td width="500px">Código do Retorno: 0 - Sucesso; 1 - Erro; 2 - Em processamento. Valores Válidos: 0, 1, 2.</td>
            <td width="200px"><b>{% if r9002_evtret.cdretorno or r9002_evtret.cdretorno == 0 %}{{ r9002_evtret.cdretorno }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_evtret.descretorno|validacoes_esocial_efdreinf:"r9002_evtret.descretorno" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">descRetorno</td>
            <td width="500px">Descrição do retorno.</td>
            <td width="200px"><b>{% if r9002_evtret.descretorno or r9002_evtret.descretorno == 0 %}{{ r9002_evtret.descretorno }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">regOcorrs</td>
            <td bgcolor="lightgray" colspan="3">Informações de ocorrências registradas.</td>
        </tr>
    {% for r9002_regocorrs in r9002_regocorrs_lista %}
    {% ifequal r9002_regocorrs.r9002_evtret.id r9002_evtret.id %}
        <tr {% if r9002_regocorrs.tpocorr|validacoes_esocial_efdreinf:"r9002_regocorrs.tpocorr" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpOcorr</td>
            <td width="500px">Tipo da ocorrência: 1 - Erro; 2 - Aviso.</td>
            <td width="200px"><b>{% if r9002_regocorrs.tpocorr or r9002_regocorrs.tpocorr == 0 %}{{ r9002_regocorrs.tpocorr }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002regOcorrs or perms.efdreinf.can_see_r9002regOcorrs %}
                <a href="{% url 'r9002_regocorrs_salvar' pk=r9002_regocorrs.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_regocorrs.localerroaviso|validacoes_esocial_efdreinf:"r9002_regocorrs.localerroaviso" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">localErroAviso</td>
            <td width="500px">Campo que originou o erro ou aviso.</td>
            <td width="200px"><b>{% if r9002_regocorrs.localerroaviso or r9002_regocorrs.localerroaviso == 0 %}{{ r9002_regocorrs.localerroaviso }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002regOcorrs or perms.efdreinf.can_see_r9002regOcorrs %}
                <a href="{% url 'r9002_regocorrs_salvar' pk=r9002_regocorrs.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_regocorrs.codresp|validacoes_esocial_efdreinf:"r9002_regocorrs.codresp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">codResp</td>
            <td width="500px">Código do status da resposta do processamento da consulta.</td>
            <td width="200px"><b>{% if r9002_regocorrs.codresp or r9002_regocorrs.codresp == 0 %}{{ r9002_regocorrs.codresp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002regOcorrs or perms.efdreinf.can_see_r9002regOcorrs %}
                <a href="{% url 'r9002_regocorrs_salvar' pk=r9002_regocorrs.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_regocorrs.dscresp|validacoes_esocial_efdreinf:"r9002_regocorrs.dscresp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">dscResp</td>
            <td width="500px">Descrição literal da resposta do processamento da consulta.</td>
            <td width="200px"><b>{% if r9002_regocorrs.dscresp or r9002_regocorrs.dscresp == 0 %}{{ r9002_regocorrs.dscresp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002regOcorrs or perms.efdreinf.can_see_r9002regOcorrs %}
                <a href="{% url 'r9002_regocorrs_salvar' pk=r9002_regocorrs.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}  
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">infoRecEv</td>
            <td bgcolor="lightgray" colspan="3">Informações de processamento dos eventos.</td>
        </tr>

        <tr {% if r9002_evtret.nrprotentr|validacoes_esocial_efdreinf:"r9002_evtret.nrprotentr" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrProtEntr</td>
            <td width="500px">Número do protocolo de entrega do evento.</td>
            <td width="200px"><b>{% if r9002_evtret.nrprotentr or r9002_evtret.nrprotentr == 0 %}{{ r9002_evtret.nrprotentr }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_evtret.dhprocess|validacoes_esocial_efdreinf:"r9002_evtret.dhprocess" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">dhProcess</td>
            <td width="500px">Data e hora do início do processamento da consulta.</td>
            <td width="200px"><b>{% if r9002_evtret.dhprocess or r9002_evtret.dhprocess == 0 %}{{ r9002_evtret.dhprocess|date:"Y-m-d" }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_evtret.tpev|validacoes_esocial_efdreinf:"r9002_evtret.tpev" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpEv</td>
            <td width="500px">Tipo do Evento.</td>
            <td width="200px"><b>{% if r9002_evtret.tpev or r9002_evtret.tpev == 0 %}{{ r9002_evtret.tpev }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_evtret.idev|validacoes_esocial_efdreinf:"r9002_evtret.idev" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">idEv</td>
            <td width="500px">ID do Evento.</td>
            <td width="200px"><b>{% if r9002_evtret.idev or r9002_evtret.idev == 0 %}{{ r9002_evtret.idev }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_evtret.hash|validacoes_esocial_efdreinf:"r9002_evtret.hash" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">hash</td>
            <td width="500px">Hash do arquivo processado.</td>
            <td width="200px"><b>{% if r9002_evtret.hash or r9002_evtret.hash == 0 %}{{ r9002_evtret.hash }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002evtRet or perms.efdreinf.can_see_r9002evtRet %}
                <a href="{% url 'r9002_evtret_salvar' pk=r9002_evtret.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">infoTotal</td>
            <td bgcolor="lightgray" colspan="3">Informações relativas a totalizadores de bases e tributos.</td>
        </tr>
    {% for r9002_infototal in r9002_infototal_lista %}
    {% ifequal r9002_infototal.r9002_evtret.id r9002_evtret.id %}
        <tr {% if r9002_infototal.nrrecarqbase|validacoes_esocial_efdreinf:"r9002_infototal.nrrecarqbase" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrRecArqBase</td>
            <td width="500px">Preencher com o número do recibo do arquivo que deu origem ao presente arquivo de retorno ao contribuinte. Validação: Deve ser um recibo de entrega válido, correspondente ao arquivo que deu origem a este arquivo totalizador.</td>
            <td width="200px"><b>{% if r9002_infototal.nrrecarqbase or r9002_infototal.nrrecarqbase == 0 %}{{ r9002_infototal.nrrecarqbase }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002infoTotal or perms.efdreinf.can_see_r9002infoTotal %}
                <a href="{% url 'r9002_infototal_salvar' pk=r9002_infototal.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEstab</td>
            <td bgcolor="lightgray" colspan="3">Identificação do estabelecimento.</td>
        </tr>

        <tr {% if r9002_infototal.tpinsc|validacoes_esocial_efdreinf:"r9002_infototal.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF). Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r9002_infototal.tpinsc or r9002_infototal.tpinsc == 0 %}{{ r9002_infototal.tpinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002infoTotal or perms.efdreinf.can_see_r9002infoTotal %}
                <a href="{% url 'r9002_infototal_salvar' pk=r9002_infototal.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_infototal.nrinsc|validacoes_esocial_efdreinf:"r9002_infototal.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Validação: O número de inscrição informado deve ser válido e compatível com {tpInsc}.</td>
            <td width="200px"><b>{% if r9002_infototal.nrinsc or r9002_infototal.nrinsc == 0 %}{{ r9002_infototal.nrinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002infoTotal or perms.efdreinf.can_see_r9002infoTotal %}
                <a href="{% url 'r9002_infototal_salvar' pk=r9002_infototal.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">totApurMen</td>
            <td bgcolor="lightgray" colspan="3">Totalizador das bases de cálculo e das retenções dos tributos com período de apuração mensal.</td>
        </tr>
    {% for r9002_totapurmen in r9002_totapurmen_lista %}
    {% ifequal r9002_totapurmen.r9002_infototal.id r9002_infototal.id %}
        <tr {% if r9002_totapurmen.crmen|validacoes_esocial_efdreinf:"r9002_totapurmen.crmen" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">CRMen</td>
            <td width="500px">Código de Receita - CR relativo ao tributo que possui período de apuração mensal. Validação: Deve ser um dos seguintes valores, compatível com as informações prestadas nos demais eventos: [0561, 0588, 5200, 5936, 1889, 3533, 3562, 3223, 3540, 3556, 5565, 3579, 3208, 3277, 8045, 3280, 1708, 5944, 5204, 6891, 5928, 1895, 5952, 5987, 5960, 5979, 6147, 9060, 8739, 8767, 6175, 8850, 8863, 6188, 6190].</td>
            <td width="200px"><b>{% if r9002_totapurmen.crmen or r9002_totapurmen.crmen == 0 %}{{ r9002_totapurmen.crmen }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurMen or perms.efdreinf.can_see_r9002totApurMen %}
                <a href="{% url 'r9002_totapurmen_salvar' pk=r9002_totapurmen.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurmen.vlrbasecrmen|validacoes_esocial_efdreinf:"r9002_totapurmen.vlrbasecrmen" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRMen</td>
            <td width="500px">Valor da base do tributo com período de apuração mensal. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurmen.vlrbasecrmen or r9002_totapurmen.vlrbasecrmen == 0 %}{{ r9002_totapurmen.vlrbasecrmen }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurMen or perms.efdreinf.can_see_r9002totApurMen %}
                <a href="{% url 'r9002_totapurmen_salvar' pk=r9002_totapurmen.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurmen.vlrcrmen|validacoes_esocial_efdreinf:"r9002_totapurmen.vlrcrmen" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRMen</td>
            <td width="500px">Valor do tributo retido com período de apuração mensal, calculado segundo as regras estabelecidas na legislação em vigor. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurmen.vlrcrmen or r9002_totapurmen.vlrcrmen == 0 %}{{ r9002_totapurmen.vlrcrmen }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurMen or perms.efdreinf.can_see_r9002totApurMen %}
                <a href="{% url 'r9002_totapurmen_salvar' pk=r9002_totapurmen.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurmen.vlrbasecrmensusp|validacoes_esocial_efdreinf:"r9002_totapurmen.vlrbasecrmensusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRMenSusp</td>
            <td width="500px">Valor da base do tributo com período de apuração mensal, com exigibilidade suspensa. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurmen.vlrbasecrmensusp or r9002_totapurmen.vlrbasecrmensusp == 0 %}{{ r9002_totapurmen.vlrbasecrmensusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurMen or perms.efdreinf.can_see_r9002totApurMen %}
                <a href="{% url 'r9002_totapurmen_salvar' pk=r9002_totapurmen.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurmen.vlrcrmensusp|validacoes_esocial_efdreinf:"r9002_totapurmen.vlrcrmensusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRMenSusp</td>
            <td width="500px">Valor do tributo com período de apuração mensal, que deixou de ser retido. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurmen.vlrcrmensusp or r9002_totapurmen.vlrcrmensusp == 0 %}{{ r9002_totapurmen.vlrcrmensusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurMen or perms.efdreinf.can_see_r9002totApurMen %}
                <a href="{% url 'r9002_totapurmen_salvar' pk=r9002_totapurmen.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">totApurQui</td>
            <td bgcolor="lightgray" colspan="3">Totalizador das bases de cálculo e das retenções dos tributos com período de apuração quinzenal.</td>
        </tr>
    {% for r9002_totapurqui in r9002_totapurqui_lista %}
    {% ifequal r9002_totapurqui.r9002_infototal.id r9002_infototal.id %}
        <tr {% if r9002_totapurqui.perapurqui|validacoes_esocial_efdreinf:"r9002_totapurqui.perapurqui" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApurQui</td>
            <td width="500px">Período de apuração quinzenal do Código de Receita - CR. Origem: R-4020. Validação: Se o dia ("DD") da data informada em {dtFG} no evento de origem for de 1 a 15, deve ser igual a [1]. Se o dia ("DD") da data informada em {dtFG} no evento de origem for de 16 a 31, deve ser igual a [2]. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if r9002_totapurqui.perapurqui or r9002_totapurqui.perapurqui == 0 %}{{ r9002_totapurqui.perapurqui }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurQui or perms.efdreinf.can_see_r9002totApurQui %}
                <a href="{% url 'r9002_totapurqui_salvar' pk=r9002_totapurqui.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurqui.crqui|validacoes_esocial_efdreinf:"r9002_totapurqui.crqui" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">CRQui</td>
            <td width="500px">Código de Receita - CR relativo a tributo que possui período de apuração quinzenal. Validação: Deve ser um dos seguintes valores, compatível com as informações prestadas nos demais eventos: [3746, 3770].</td>
            <td width="200px"><b>{% if r9002_totapurqui.crqui or r9002_totapurqui.crqui == 0 %}{{ r9002_totapurqui.crqui }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurQui or perms.efdreinf.can_see_r9002totApurQui %}
                <a href="{% url 'r9002_totapurqui_salvar' pk=r9002_totapurqui.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurqui.vlrbasecrqui|validacoes_esocial_efdreinf:"r9002_totapurqui.vlrbasecrqui" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRQui</td>
            <td width="500px">Valor da base do tributo com período de apuração quinzenal. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurqui.vlrbasecrqui or r9002_totapurqui.vlrbasecrqui == 0 %}{{ r9002_totapurqui.vlrbasecrqui }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurQui or perms.efdreinf.can_see_r9002totApurQui %}
                <a href="{% url 'r9002_totapurqui_salvar' pk=r9002_totapurqui.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurqui.vlrcrqui|validacoes_esocial_efdreinf:"r9002_totapurqui.vlrcrqui" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRQui</td>
            <td width="500px">Valor do tributo retido com período de apuração quinzenal, calculado segundo as regras estabelecidas na legislação em vigor. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurqui.vlrcrqui or r9002_totapurqui.vlrcrqui == 0 %}{{ r9002_totapurqui.vlrcrqui }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurQui or perms.efdreinf.can_see_r9002totApurQui %}
                <a href="{% url 'r9002_totapurqui_salvar' pk=r9002_totapurqui.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurqui.vlrbasecrquisusp|validacoes_esocial_efdreinf:"r9002_totapurqui.vlrbasecrquisusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRQuiSusp</td>
            <td width="500px">Valor da base do tributo com período de apuração quinzenal, com exigibilidade suspensa. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurqui.vlrbasecrquisusp or r9002_totapurqui.vlrbasecrquisusp == 0 %}{{ r9002_totapurqui.vlrbasecrquisusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurQui or perms.efdreinf.can_see_r9002totApurQui %}
                <a href="{% url 'r9002_totapurqui_salvar' pk=r9002_totapurqui.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurqui.vlrcrquisusp|validacoes_esocial_efdreinf:"r9002_totapurqui.vlrcrquisusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRQuiSusp</td>
            <td width="500px">Valor do tributo com período de apuração quinzenal, que deixou de ser retido. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurqui.vlrcrquisusp or r9002_totapurqui.vlrcrquisusp == 0 %}{{ r9002_totapurqui.vlrcrquisusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurQui or perms.efdreinf.can_see_r9002totApurQui %}
                <a href="{% url 'r9002_totapurqui_salvar' pk=r9002_totapurqui.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">totApurDec</td>
            <td bgcolor="lightgray" colspan="3">Totalizador das bases de cálculo e das retenções dos tributos com período de apuração decendial.</td>
        </tr>
    {% for r9002_totapurdec in r9002_totapurdec_lista %}
    {% ifequal r9002_totapurdec.r9002_infototal.id r9002_infototal.id %}
        <tr {% if r9002_totapurdec.perapurdec|validacoes_esocial_efdreinf:"r9002_totapurdec.perapurdec" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApurDec</td>
            <td width="500px">Período de apuração decenal do Código de Receita - CR. Origem: R-4010 e R-4020. Validação: Se o dia ("DD") da data informada em {dtFG} no evento de origem for de 1 a 10, deve ser igual a [1]. Se o dia ("DD") da data informada em {dtFG} no evento de origem for de 11 a 20, deve ser igual a [2]; Se o dia ("DD") da data informada em {dtFG} no evento de origem for de 21 a 31, deve ser igual a [3]. Valores Válidos: 1, 2, 3.</td>
            <td width="200px"><b>{% if r9002_totapurdec.perapurdec or r9002_totapurdec.perapurdec == 0 %}{{ r9002_totapurdec.perapurdec }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDec or perms.efdreinf.can_see_r9002totApurDec %}
                <a href="{% url 'r9002_totapurdec_salvar' pk=r9002_totapurdec.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdec.crdec|validacoes_esocial_efdreinf:"r9002_totapurdec.crdec" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">CRDec</td>
            <td width="500px">Código de Receita - CR relativo a tributo que possui período de apuração decendial. Validação: Deve ser um dos seguintes valores, compatível com as informações prestadas nos demais eventos: [5706, 3426, 8053, 6800, 6813, 0924, 5029, 5035, 5273, 8468, 5557, 0916, 8673, 9385, 0490, 9453, 5232, 5286].</td>
            <td width="200px"><b>{% if r9002_totapurdec.crdec or r9002_totapurdec.crdec == 0 %}{{ r9002_totapurdec.crdec }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDec or perms.efdreinf.can_see_r9002totApurDec %}
                <a href="{% url 'r9002_totapurdec_salvar' pk=r9002_totapurdec.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdec.vlrbasecrdec|validacoes_esocial_efdreinf:"r9002_totapurdec.vlrbasecrdec" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRDec</td>
            <td width="500px">Valor da base do tributo com período de apuração decendial. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurdec.vlrbasecrdec or r9002_totapurdec.vlrbasecrdec == 0 %}{{ r9002_totapurdec.vlrbasecrdec }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDec or perms.efdreinf.can_see_r9002totApurDec %}
                <a href="{% url 'r9002_totapurdec_salvar' pk=r9002_totapurdec.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdec.vlrcrdec|validacoes_esocial_efdreinf:"r9002_totapurdec.vlrcrdec" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRDec</td>
            <td width="500px">Valor do tributo retido com período de apuração decendial, calculado segundo as regras estabelecidas na legislação em vigor. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurdec.vlrcrdec or r9002_totapurdec.vlrcrdec == 0 %}{{ r9002_totapurdec.vlrcrdec }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDec or perms.efdreinf.can_see_r9002totApurDec %}
                <a href="{% url 'r9002_totapurdec_salvar' pk=r9002_totapurdec.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdec.vlrbasecrdecsusp|validacoes_esocial_efdreinf:"r9002_totapurdec.vlrbasecrdecsusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRDecSusp</td>
            <td width="500px">Valor da base do tributo com período de apuração decendial, com exigibilidade suspensa. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurdec.vlrbasecrdecsusp or r9002_totapurdec.vlrbasecrdecsusp == 0 %}{{ r9002_totapurdec.vlrbasecrdecsusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDec or perms.efdreinf.can_see_r9002totApurDec %}
                <a href="{% url 'r9002_totapurdec_salvar' pk=r9002_totapurdec.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdec.vlrcrdecsusp|validacoes_esocial_efdreinf:"r9002_totapurdec.vlrcrdecsusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRDecSusp</td>
            <td width="500px">Valor do tributo com período de apuração decendial, que deixou de ser retido. Origem: R-4010, R-4020.</td>
            <td width="200px"><b>{% if r9002_totapurdec.vlrcrdecsusp or r9002_totapurdec.vlrcrdecsusp == 0 %}{{ r9002_totapurdec.vlrcrdecsusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDec or perms.efdreinf.can_see_r9002totApurDec %}
                <a href="{% url 'r9002_totapurdec_salvar' pk=r9002_totapurdec.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">totApurSem</td>
            <td bgcolor="lightgray" colspan="3">Totalizador das bases de cálculo e das retenções dos tributos com apuração semanal.</td>
        </tr>
    {% for r9002_totapursem in r9002_totapursem_lista %}
    {% ifequal r9002_totapursem.r9002_infototal.id r9002_infototal.id %}
        <tr {% if r9002_totapursem.perapursem|validacoes_esocial_efdreinf:"r9002_totapursem.perapursem" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApurSem</td>
            <td width="500px">Período de apuração semanal do Código de Receita - CR. Origem: R-4020. Valores Válidos: 1, 2, 3, 4.</td>
            <td width="200px"><b>{% if r9002_totapursem.perapursem or r9002_totapursem.perapursem == 0 %}{{ r9002_totapursem.perapursem }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurSem or perms.efdreinf.can_see_r9002totApurSem %}
                <a href="{% url 'r9002_totapursem_salvar' pk=r9002_totapursem.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapursem.crsem|validacoes_esocial_efdreinf:"r9002_totapursem.crsem" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">CRSem</td>
            <td width="500px">Código de Receita - CR relativo a tributo que possui período de apuração semanal. Validação: Deve ser um dos seguintes valores, compatível com as informações prestadas nos demais eventos: [6147, 9060, 8739, 8767, 6175, 8850, 8863, 6188, 6190].</td>
            <td width="200px"><b>{% if r9002_totapursem.crsem or r9002_totapursem.crsem == 0 %}{{ r9002_totapursem.crsem }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurSem or perms.efdreinf.can_see_r9002totApurSem %}
                <a href="{% url 'r9002_totapursem_salvar' pk=r9002_totapursem.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapursem.vlrbasecrsem|validacoes_esocial_efdreinf:"r9002_totapursem.vlrbasecrsem" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRSem</td>
            <td width="500px">Valor da base do tributo com período de apuração semanal. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapursem.vlrbasecrsem or r9002_totapursem.vlrbasecrsem == 0 %}{{ r9002_totapursem.vlrbasecrsem }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurSem or perms.efdreinf.can_see_r9002totApurSem %}
                <a href="{% url 'r9002_totapursem_salvar' pk=r9002_totapursem.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapursem.vlrcrsem|validacoes_esocial_efdreinf:"r9002_totapursem.vlrcrsem" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRSem</td>
            <td width="500px">Valor do tributo retido com período de apuração semanal, calculado segundo as regras estabelecidas na legislação em vigor. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapursem.vlrcrsem or r9002_totapursem.vlrcrsem == 0 %}{{ r9002_totapursem.vlrcrsem }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurSem or perms.efdreinf.can_see_r9002totApurSem %}
                <a href="{% url 'r9002_totapursem_salvar' pk=r9002_totapursem.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapursem.vlrbasecrsemsusp|validacoes_esocial_efdreinf:"r9002_totapursem.vlrbasecrsemsusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRSemSusp</td>
            <td width="500px">Valor da base do tributo com período de apuração semanal, com exigibilidade suspensa. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapursem.vlrbasecrsemsusp or r9002_totapursem.vlrbasecrsemsusp == 0 %}{{ r9002_totapursem.vlrbasecrsemsusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurSem or perms.efdreinf.can_see_r9002totApurSem %}
                <a href="{% url 'r9002_totapursem_salvar' pk=r9002_totapursem.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapursem.vlrcrsemsusp|validacoes_esocial_efdreinf:"r9002_totapursem.vlrcrsemsusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRSemSusp</td>
            <td width="500px">Valor do tributo com período de apuração semanal, que deixou de ser retido. Origem: R-4020.</td>
            <td width="200px"><b>{% if r9002_totapursem.vlrcrsemsusp or r9002_totapursem.vlrcrsemsusp == 0 %}{{ r9002_totapursem.vlrcrsemsusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurSem or perms.efdreinf.can_see_r9002totApurSem %}
                <a href="{% url 'r9002_totapursem_salvar' pk=r9002_totapursem.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">totApurDia</td>
            <td bgcolor="lightgray" colspan="3">Totalizador das bases de cálculo e das retenções dos tributos com período de apuração diário.</td>
        </tr>
    {% for r9002_totapurdia in r9002_totapurdia_lista %}
    {% ifequal r9002_totapurdia.r9002_infototal.id r9002_infototal.id %}
        <tr {% if r9002_totapurdia.perapurdia|validacoes_esocial_efdreinf:"r9002_totapurdia.perapurdia" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApurDia</td>
            <td width="500px">Período de apuração diário do Código de Receita - CR. Origem: R-4010, R-4020 e R-4040. Validação: Deve ser um número que representa o dia do mês, no intervalo entre [1] e [31], inclusive. Deve ser igual ao dia ("DD") da data informada em {dtFG} no evento de origem.</td>
            <td width="200px"><b>{% if r9002_totapurdia.perapurdia or r9002_totapurdia.perapurdia == 0 %}{{ r9002_totapurdia.perapurdia }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDia or perms.efdreinf.can_see_r9002totApurDia %}
                <a href="{% url 'r9002_totapurdia_salvar' pk=r9002_totapurdia.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdia.crdia|validacoes_esocial_efdreinf:"r9002_totapurdia.crdia" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">CRDia</td>
            <td width="500px">Código de Receita - CR relativo a tributo que possui período de apuração diário. Validação: Deve ser um dos seguintes valores, compatível com as informações prestadas nos demais eventos: [0473, 2063, 0422, 0481, 9478, 9472, 9466, 9427, 5192, 5286, 5217, 2063].</td>
            <td width="200px"><b>{% if r9002_totapurdia.crdia or r9002_totapurdia.crdia == 0 %}{{ r9002_totapurdia.crdia }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDia or perms.efdreinf.can_see_r9002totApurDia %}
                <a href="{% url 'r9002_totapurdia_salvar' pk=r9002_totapurdia.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdia.vlrbasecrdia|validacoes_esocial_efdreinf:"r9002_totapurdia.vlrbasecrdia" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRDia</td>
            <td width="500px">Valor da base do tributo com período de apuração diário. Origem: R-4010, R-4020, R-4040.</td>
            <td width="200px"><b>{% if r9002_totapurdia.vlrbasecrdia or r9002_totapurdia.vlrbasecrdia == 0 %}{{ r9002_totapurdia.vlrbasecrdia }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDia or perms.efdreinf.can_see_r9002totApurDia %}
                <a href="{% url 'r9002_totapurdia_salvar' pk=r9002_totapurdia.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdia.vlrcrdia|validacoes_esocial_efdreinf:"r9002_totapurdia.vlrcrdia" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRDia</td>
            <td width="500px">Valor do tributo retido com período de apuração diário, calculado segundo as regras estabelecidas na legislação em vigor. Origem: R-4010, R-4020, R-4040.</td>
            <td width="200px"><b>{% if r9002_totapurdia.vlrcrdia or r9002_totapurdia.vlrcrdia == 0 %}{{ r9002_totapurdia.vlrcrdia }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDia or perms.efdreinf.can_see_r9002totApurDia %}
                <a href="{% url 'r9002_totapurdia_salvar' pk=r9002_totapurdia.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdia.vlrbasecrdiasusp|validacoes_esocial_efdreinf:"r9002_totapurdia.vlrbasecrdiasusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrBaseCRDiaSusp</td>
            <td width="500px">Valor da base do tributo com período de apuração diário, com exigibilidade suspensa. Origem: R-4010, R-4020, R-4040.</td>
            <td width="200px"><b>{% if r9002_totapurdia.vlrbasecrdiasusp or r9002_totapurdia.vlrbasecrdiasusp == 0 %}{{ r9002_totapurdia.vlrbasecrdiasusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDia or perms.efdreinf.can_see_r9002totApurDia %}
                <a href="{% url 'r9002_totapurdia_salvar' pk=r9002_totapurdia.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if r9002_totapurdia.vlrcrdiasusp|validacoes_esocial_efdreinf:"r9002_totapurdia.vlrcrdiasusp" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">vlrCRDiaSusp</td>
            <td width="500px">Valor do tributo com período de apuração diário, que deixou de ser retido. Origem: R-4010, R-4020, R-4040.</td>
            <td width="200px"><b>{% if r9002_totapurdia.vlrcrdiasusp or r9002_totapurdia.vlrcrdiasusp == 0 %}{{ r9002_totapurdia.vlrcrdiasusp }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.r9002.can_see_r9002totApurDia or perms.efdreinf.can_see_r9002totApurDia %}
                <a href="{% url 'r9002_totapurdia_salvar' pk=r9002_totapurdia.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}     {% endifequal %}{% endfor %}{% endifequal %}{% endfor %}

</table>