{% load templatetags %}{% load static %}



<!-- inicio__s2400_dependente__s2400_evtcdbenefin -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2400_evtcdbenefin').change(function(){
       document.getElementById("s2400_dependente__s2400_evtcdbenefin__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2400_dependente__s2400_evtcdbenefin__div">
  <div class="form-group">
    <label id="s2400_dependente__s2400_evtcdbenefin__label">Informações dos dependentes*</label>
    {% if not for_print %}
      {% if s2400_dependente_form.s2400_evtcdbenefin.value %}
        <a id="s2400_dependente__s2400_evtcdbenefin__div_acessar" href="{% url 's2400_evtcdbenefin_salvar' pk=s2400_dependente_form.s2400_evtcdbenefin.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s2400_dependente_form.s2400_evtcdbenefin.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2400_dependente_form.s2400_evtcdbenefin.errors }}
      </div>
    {% endif %}
    {% if s2400_dependente_form.s2400_evtcdbenefin.field.widget.attrs.readonly %}
      {% if s2400_dependente_form.s2400_evtcdbenefin.field.widget.attrs.disabled %}
        {{ s2400_dependente_form.s2400_evtcdbenefin|addcss:'form-control' }}
        <input id="id_s2400_evtcdbenefin" name="s2400_evtcdbenefin" type="hidden" value="{% if s2400_dependente_form.s2400_evtcdbenefin.value or s2400_dependente_form.s2400_evtcdbenefin.value == 0 %}{{ s2400_dependente_form.s2400_evtcdbenefin.value|valor }}{% endif %}">
      {% else %}
        {{ s2400_dependente_form.s2400_evtcdbenefin|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2400_dependente_form.s2400_evtcdbenefin|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2400_dependente__s2400_evtcdbenefin -->
<!-- inicio__s2400_dependente__tpdep -->
<div class="col-md-6" id="s2400_dependente__tpdep__div">
  <div class="form-group">
    <label id="s2400_dependente__tpdep__label">Tipo*</label>
    {% if s2400_dependente_form.tpdep.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2400_dependente_form.tpdep.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2400_dependente_form.tpdep.field.widget.attrs.readonly %}
        {% if s2400_dependente_form.tpdep.field.widget.attrs.disabled %}
          {{ s2400_dependente_form.tpdep|addcss:'form-control' }}
          <input id="id_tpdep" name="tpdep" type="hidden" value="{% if s2400_dependente_form.tpdep.value or s2400_dependente_form.tpdep.value == 0 %}{{ s2400_dependente_form.tpdep.value }}{% endif %}">
        {% else %}
          {{ s2400_dependente_form.tpdep|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2400_dependente_form.tpdep|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__tpdep -->
<!-- inicio__s2400_dependente__nmdep -->
<div class="col-md-6" id="s2400_dependente__nmdep__div">
  <div class="form-group">
    <label id="s2400_dependente__nmdep__label">Nome*</label>
      {% if s2400_dependente_form.nmdep.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2400_dependente_form.nmdep.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2400_dependente_form.nmdep|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__nmdep -->
<!-- inicio__s2400_dependente__dtnascto -->
<div class="col-md-6" id="s2400_dependente__dtnascto__div">
  <div class="form-group">
    <label id="s2400_dependente__dtnascto__label">Data de nascimento*</label>
        {% if s2400_dependente_form.dtnascto.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2400_dependente_form.dtnascto.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2400_dependente_form.dtnascto|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__dtnascto -->
<!-- inicio__s2400_dependente__cpfdep -->
<div class="col-md-6" id="s2400_dependente__cpfdep__div">
  <div class="form-group">
    <label id="s2400_dependente__cpfdep__label">CPF</label>
      {% if s2400_dependente_form.cpfdep.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2400_dependente_form.cpfdep.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2400_dependente_form.cpfdep|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__cpfdep -->
<!-- inicio__s2400_dependente__sexodep -->
<div class="col-md-6" id="s2400_dependente__sexodep__div">
  <div class="form-group">
    <label id="s2400_dependente__sexodep__label">Sexo do dependente*</label>
    {% if s2400_dependente_form.sexodep.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2400_dependente_form.sexodep.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2400_dependente_form.sexodep.field.widget.attrs.readonly %}
        {% if s2400_dependente_form.sexodep.field.widget.attrs.disabled %}
          {{ s2400_dependente_form.sexodep|addcss:'form-control' }}
          <input id="id_sexodep" name="sexodep" type="hidden" value="{% if s2400_dependente_form.sexodep.value or s2400_dependente_form.sexodep.value == 0 %}{{ s2400_dependente_form.sexodep.value }}{% endif %}">
        {% else %}
          {{ s2400_dependente_form.sexodep|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2400_dependente_form.sexodep|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__sexodep -->
<!-- inicio__s2400_dependente__depirrf -->
<div class="col-md-6" id="s2400_dependente__depirrf__div">
  <div class="form-group">
    <label id="s2400_dependente__depirrf__label">Dependente de IRRF*</label>
    {% if s2400_dependente_form.depirrf.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2400_dependente_form.depirrf.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2400_dependente_form.depirrf.field.widget.attrs.readonly %}
        {% if s2400_dependente_form.depirrf.field.widget.attrs.disabled %}
          {{ s2400_dependente_form.depirrf|addcss:'form-control' }}
          <input id="id_depirrf" name="depirrf" type="hidden" value="{% if s2400_dependente_form.depirrf.value or s2400_dependente_form.depirrf.value == 0 %}{{ s2400_dependente_form.depirrf.value }}{% endif %}">
        {% else %}
          {{ s2400_dependente_form.depirrf|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2400_dependente_form.depirrf|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__depirrf -->
<!-- inicio__s2400_dependente__incfismen -->
<div class="col-md-6" id="s2400_dependente__incfismen__div">
  <div class="form-group">
    <label id="s2400_dependente__incfismen__label">Informar se o beneficiário é pessoa com doença incapacitante, na forma da lei*</label>
    {% if s2400_dependente_form.incfismen.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2400_dependente_form.incfismen.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2400_dependente_form.incfismen.field.widget.attrs.readonly %}
        {% if s2400_dependente_form.incfismen.field.widget.attrs.disabled %}
          {{ s2400_dependente_form.incfismen|addcss:'form-control' }}
          <input id="id_incfismen" name="incfismen" type="hidden" value="{% if s2400_dependente_form.incfismen.value or s2400_dependente_form.incfismen.value == 0 %}{{ s2400_dependente_form.incfismen.value }}{% endif %}">
        {% else %}
          {{ s2400_dependente_form.incfismen|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2400_dependente_form.incfismen|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__incfismen -->
<!-- inicio__s2400_dependente__depfinsprev -->
<div class="col-md-6" id="s2400_dependente__depfinsprev__div">
  <div class="form-group">
    <label id="s2400_dependente__depfinsprev__label">Informar se é dependente para fins previdenciários*</label>
    {% if s2400_dependente_form.depfinsprev.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2400_dependente_form.depfinsprev.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2400_dependente_form.depfinsprev.field.widget.attrs.readonly %}
        {% if s2400_dependente_form.depfinsprev.field.widget.attrs.disabled %}
          {{ s2400_dependente_form.depfinsprev|addcss:'form-control' }}
          <input id="id_depfinsprev" name="depfinsprev" type="hidden" value="{% if s2400_dependente_form.depfinsprev.value or s2400_dependente_form.depfinsprev.value == 0 %}{{ s2400_dependente_form.depfinsprev.value }}{% endif %}">
        {% else %}
          {{ s2400_dependente_form.depfinsprev|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2400_dependente_form.depfinsprev|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2400_dependente__depfinsprev -->