{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s1280_evtinfocomplper or 1 %}
            <th>Registro preenchido exclusivamente por empresa enquadrada nos artigos 7 a 9 da Lei 12.546/2011, conforme classificação tributária indicada no evento de Informações Cadastrais do Empregador.</th>
            {% endif %}
            {% if show_fields.show_indsubstpatr or 1 %}
            <th>Substituição da CP patronal</th>
            {% endif %}
            {% if show_fields.show_percredcontrib or 1 %}
            <th>Percentual não substituído pela contribuição prevista na lei 12.546/2011</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s1280_infosubstpatr_lista %}
        <tr>
            {% if show_fields.show_s1280_evtinfocomplper or 1 %}
            <td>{{ a.s1280_evtinfocomplper }}</td>
            {% endif %}
            {% if show_fields.show_indsubstpatr or 1 %}
            <td>{{ a.get_indsubstpatr_display }}</td>
            {% endif %}
            {% if show_fields.show_percredcontrib or 1 %}
            <td>{{ a.percredcontrib }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.s1280.can_view_s1280infoSubstPatr %}
                        <a href="{% url 's1280_infosubstpatr_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.s1280.add_s1280infoSubstPatr or perms.s1280.change_s1280infoSubstPatr %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.s1280.delete_s1280infoSubstPatr %}
                        <a href="{% url 's1280_infosubstpatr_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
