<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s1020_alteracao_procjudterceiro__s1020_alteracao_infoprocjudterceiros -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1020_alteracao_infoprocjudterceiros').change(function(){
       document.getElementById("s1020_alteracao_procjudterceiro__s1020_alteracao_infoprocjudterceiros__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1020_alteracao_procjudterceiro__s1020_alteracao_infoprocjudterceiros__div">
  <div class="form-group">
    <label id="s1020_alteracao_procjudterceiro__s1020_alteracao_infoprocjudterceiros__label">Identificação do Processo Judicial*<a data-toggle="tooltip" title="Identificação do Processo Judicial."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.value %}
        <a id="s1020_alteracao_procjudterceiro__s1020_alteracao_infoprocjudterceiros__div_acessar" href="{% url 's1020_alteracao_infoprocjudterceiros_salvar' pk=s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.errors }}
      </div>
    {% endif %}
    {% if s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.field.widget.attrs.readonly %}
      {% if s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.field.widget.attrs.disabled %}
        {{ s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros|addcss:'form-control' }}
        <input id="id_s1020_alteracao_infoprocjudterceiros" name="s1020_alteracao_infoprocjudterceiros" type="hidden" value="{% if s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.value or s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.value == 0 %}{{ s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros.value|valor }}{% endif %}">
      {% else %}
        {{ s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1020_alteracao_procjudterceiro_form.s1020_alteracao_infoprocjudterceiros|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1020_alteracao_procjudterceiro__s1020_alteracao_infoprocjudterceiros -->
<!-- inicio__s1020_alteracao_procjudterceiro__codterc -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-3" id="s1020_alteracao_procjudterceiro__codterc__div">
    <div class="form-group">
      <label id="s1020_alteracao_procjudterceiro__codterc__label">Código de Terceiros*<a data-toggle="tooltip" title="Informar o Código de Terceiro. Validação: Deve ser um código de terceiro válido e compatível com o FPAS/Terceiros informado no registro superior, conforme Tabela 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s1020_alteracao_procjudterceiro_form.codterc.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1020_alteracao_procjudterceiro_form.codterc.errors }}
          </div>
        {% endif %}
        <input type="text"
               id="txt_codterc"
               name="txt_codterc" class="form-control"
               value="{% if s1020_alteracao_procjudterceiro.codterc %}{{ s1020_alteracao_procjudterceiro.codterc|get_opcoes_titulo:126 }}{% endif %}"
               {% if s1020_alteracao_procjudterceiro_form.codterc.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s1020_alteracao_procjudterceiro_form.codterc.field.widget.attrs.required %} required="required"{% endif %}
               {% if s1020_alteracao_procjudterceiro_form.codterc.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden"
               id="id_codterc"
               name="codterc"
               value="{% if s1020_alteracao_procjudterceiro.codterc %}{{ s1020_alteracao_procjudterceiro_form.codterc.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codterc').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/126/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codterc').val(ui.item.value);
        return false;
      }});
    {% if s1020_alteracao_procjudterceiro_form.codterc.field.widget.attrs.required %}
    $("#id_form_s1020_alteracao_procjudterceiro").submit(function(e) {
      $('#txt_codterc').disabled = true;
        if ($('#id_codterc').val() == "") {
          $('#txt_codterc').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código de Terceiros!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-3" id="s1020_alteracao_procjudterceiro__codterc__div">
    <div class="form-group">
      <label id="s1020_alteracao_procjudterceiro__codterc__label">Código de Terceiros*<a data-toggle="tooltip" title="Informar o Código de Terceiro. Validação: Deve ser um código de terceiro válido e compatível com o FPAS/Terceiros informado no registro superior, conforme Tabela 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
        <input type="text" id="txt_codterc" name="txt_codterc" class="form-control" value="{% if s1020_alteracao_procjudterceiro.codterc %}{{ s1020_alteracao_procjudterceiro.codterc }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1020_alteracao_procjudterceiro__codterc -->
<!-- inicio__s1020_alteracao_procjudterceiro__nrprocjud -->
<div class="col-md-3" id="s1020_alteracao_procjudterceiro__nrprocjud__div">
  <div class="form-group">
    <label id="s1020_alteracao_procjudterceiro__nrprocjud__label">Número do Processo Judicial*<a data-toggle="tooltip" title="Informar um número de processo judicial cadastrado através do evento S- 1070, cujo {indMatProc} seja igual a [1]. Validação: Deve ser um número de processo válido e deve existir na tabela de processos (S-1070)."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1020_alteracao_procjudterceiro_form.nrprocjud.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1020_alteracao_procjudterceiro_form.nrprocjud.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1020_alteracao_procjudterceiro_form.nrprocjud|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao_procjudterceiro__nrprocjud -->
<!-- inicio__s1020_alteracao_procjudterceiro__codsusp -->
<div class="col-md-3" id="s1020_alteracao_procjudterceiro__codsusp__div">
  <div class="form-group">
    <label id="s1020_alteracao_procjudterceiro__codsusp__label">Código do Indicativo da Suspensão*<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo empregador em S-1070. Validação: A informação prestada deve estar de acordo com o que foi informado em S-1070."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1020_alteracao_procjudterceiro_form.codsusp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1020_alteracao_procjudterceiro_form.codsusp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1020_alteracao_procjudterceiro_form.codsusp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao_procjudterceiro__codsusp -->