{% load templatetags %}{% load static %}



<!-- inicio__s1020_alteracao__s1020_evttablotacao -->
<div class="col-md-12" id="s1020_alteracao__s1020_evttablotacao__div">
  <div class="form-group">
    <label id="s1020_alteracao__s1020_evttablotacao__label">Alteração das informações*</label>
    {% if not for_print %}{% if s1020_alteracao_form.s1020_evttablotacao.value %}
        <a href="{% url 's1020_evttablotacao_salvar' pk=s1020_alteracao_form.s1020_evttablotacao.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s1020_alteracao_form.s1020_evttablotacao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1020_alteracao_form.s1020_evttablotacao.errors }}
      </div>
    {% endif %}
    {% if s1020_alteracao_form.s1020_evttablotacao.field.widget.attrs.readonly %}
      {% if s1020_alteracao_form.s1020_evttablotacao.field.widget.attrs.disabled %}
        {{ s1020_alteracao_form.s1020_evttablotacao|addcss:'form-control' }}
        <input id="id_s1020_evttablotacao" name="s1020_evttablotacao" type="hidden" value="{{ s1020_alteracao_form.s1020_evttablotacao.value }}">
      {% else %}
        {{ s1020_alteracao_form.s1020_evttablotacao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1020_alteracao_form.s1020_evttablotacao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1020_alteracao__s1020_evttablotacao -->
<!-- inicio__s1020_alteracao__idelotacao -->
<div class="col-md-12" id="s1020_alteracao__idelotacao__div">
  <h4>Informações de identificação da lotação e validade das informações que estão sendo incluídas</h4>
</div>
<!-- fim__s1020_alteracao__idelotacao -->
<!-- inicio__s1020_alteracao__codlotacao -->
<div class="col-md-6" id="s1020_alteracao__codlotacao__div">
  <div class="form-group">
    <label id="s1020_alteracao__codlotacao__label">Código da Lotação*</label>
      {% if s1020_alteracao_form.codlotacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1020_alteracao_form.codlotacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1020_alteracao_form.codlotacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao__codlotacao -->
<!-- inicio__s1020_alteracao__inivalid -->
<div class="col-md-6" id="s1020_alteracao__inivalid__div">
  <div class="form-group">
    <label id="s1020_alteracao__inivalid__label">Início da Validade*</label>
    {% if s1020_alteracao_form.inivalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1020_alteracao_form.inivalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1020_alteracao_form.inivalid.field.widget.attrs.readonly %}
        {% if s1020_alteracao_form.inivalid.field.widget.attrs.disabled %}
          {{ s1020_alteracao_form.inivalid|addcss:'form-control' }}
          <input id="id_inivalid" name="inivalid" type="hidden" value="{% if s1020_alteracao_form.inivalid.value or s1020_alteracao_form.inivalid.value == 0 %}{{ s1020_alteracao_form.inivalid.value }}{% endif %}">
        {% else %}
          {{ s1020_alteracao_form.inivalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1020_alteracao_form.inivalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao__inivalid -->
<!-- inicio__s1020_alteracao__fimvalid -->
<div class="col-md-6" id="s1020_alteracao__fimvalid__div">
  <div class="form-group">
    <label id="s1020_alteracao__fimvalid__label">Fim da Validade</label>
    {% if s1020_alteracao_form.fimvalid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1020_alteracao_form.fimvalid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1020_alteracao_form.fimvalid.field.widget.attrs.readonly %}
        {% if s1020_alteracao_form.fimvalid.field.widget.attrs.disabled %}
          {{ s1020_alteracao_form.fimvalid|addcss:'form-control' }}
          <input id="id_fimvalid" name="fimvalid" type="hidden" value="{% if s1020_alteracao_form.fimvalid.value or s1020_alteracao_form.fimvalid.value == 0 %}{{ s1020_alteracao_form.fimvalid.value }}{% endif %}">
        {% else %}
          {{ s1020_alteracao_form.fimvalid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1020_alteracao_form.fimvalid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao__fimvalid -->
<!-- inicio__s1020_alteracao__dadoslotacao -->
<div class="col-md-12" id="s1020_alteracao__dadoslotacao__div">
  <h4>Detalhamento das informações da lotação que está sendo incluída</h4>
</div>
<!-- fim__s1020_alteracao__dadoslotacao -->
<!-- inicio__s1020_alteracao__tplotacao -->
<div class="col-md-6" id="s1020_alteracao__tplotacao__div">
  <div class="form-group">
    <label id="s1020_alteracao__tplotacao__label">Tipo de Lotação*</label>
    {% if s1020_alteracao_form.tplotacao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1020_alteracao_form.tplotacao.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1020_alteracao_form.tplotacao.field.widget.attrs.readonly %}
        {% if s1020_alteracao_form.tplotacao.field.widget.attrs.disabled %}
          {{ s1020_alteracao_form.tplotacao|addcss:'form-control' }}
          <input id="id_tplotacao" name="tplotacao" type="hidden" value="{% if s1020_alteracao_form.tplotacao.value or s1020_alteracao_form.tplotacao.value == 0 %}{{ s1020_alteracao_form.tplotacao.value }}{% endif %}">
        {% else %}
          {{ s1020_alteracao_form.tplotacao|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1020_alteracao_form.tplotacao|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao__tplotacao -->
<!-- inicio__s1020_alteracao__tpinsc -->
<div class="col-md-6" id="s1020_alteracao__tpinsc__div">
  <div class="form-group">
    <label id="s1020_alteracao__tpinsc__label">Tipo de inscrição</label>
    {% if s1020_alteracao_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1020_alteracao_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1020_alteracao_form.tpinsc.field.widget.attrs.readonly %}
        {% if s1020_alteracao_form.tpinsc.field.widget.attrs.disabled %}
          {{ s1020_alteracao_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s1020_alteracao_form.tpinsc.value or s1020_alteracao_form.tpinsc.value == 0 %}{{ s1020_alteracao_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s1020_alteracao_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1020_alteracao_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao__tpinsc -->
<!-- inicio__s1020_alteracao__nrinsc -->
<div class="col-md-6" id="s1020_alteracao__nrinsc__div">
  <div class="form-group">
    <label id="s1020_alteracao__nrinsc__label">Número de inscrição (CPF/CNPJ)</label>
      {% if s1020_alteracao_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1020_alteracao_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1020_alteracao_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1020_alteracao__nrinsc -->
<!-- inicio__s1020_alteracao__fpaslotacao -->
<div class="col-md-12" id="s1020_alteracao__fpaslotacao__div">
  <h4>Informações de FPAS e Terceiros relativas à lotação tributária</h4>
</div>
<!-- fim__s1020_alteracao__fpaslotacao -->
<!-- inicio__s1020_alteracao__fpas -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s1020_alteracao__fpas__div">
    <div class="form-group">
      <label id="s1020_alteracao__fpas__label">FPAS*</label>
        {% if s1020_alteracao_form.fpas.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1020_alteracao_form.fpas.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_fpas" 
               name="txt_fpas" class="form-control" 
               value="{% if s1020_alteracao.fpas %}{{ s1020_alteracao.fpas|get_opcoes_titulo:123 }}{% endif %}" 
               {% if s1020_alteracao_form.fpas.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s1020_alteracao_form.fpas.field.widget.attrs.required %} required="required"{% endif %}
               {% if s1020_alteracao_form.fpas.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_fpas" 
               name="fpas" 
               value="{% if s1020_alteracao.fpas %}{{ s1020_alteracao_form.fpas.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_fpas').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/123/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_fpas').val(ui.item.value);
        return false;
      }});
    {% if s1020_alteracao_form.fpas.field.widget.attrs.required %}
    $("#id_form_s1020_alteracao").submit(function(e) {
      $('#txt_fpas').disabled = true;
        if ($('#id_fpas').val() == "") {
          $('#txt_fpas').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo FPAS!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s1020_alteracao__fpas__div">
    <div class="form-group">
      <label id="s1020_alteracao__fpas__label">FPAS*</label>
        <input type="text" id="txt_fpas" name="txt_fpas" class="form-control" value="{% if s1020_alteracao.fpas %}{{ s1020_alteracao.fpas }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1020_alteracao__fpas -->
<!-- inicio__s1020_alteracao__codtercs -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s1020_alteracao__codtercs__div">
    <div class="form-group">
      <label id="s1020_alteracao__codtercs__label">Código de Terceiros*</label>
        {% if s1020_alteracao_form.codtercs.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1020_alteracao_form.codtercs.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_codtercs" 
               name="txt_codtercs" class="form-control" 
               value="{% if s1020_alteracao.codtercs %}{{ s1020_alteracao.codtercs|get_opcoes_titulo:123 }}{% endif %}" 
               {% if s1020_alteracao_form.codtercs.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s1020_alteracao_form.codtercs.field.widget.attrs.required %} required="required"{% endif %}
               {% if s1020_alteracao_form.codtercs.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_codtercs" 
               name="codtercs" 
               value="{% if s1020_alteracao.codtercs %}{{ s1020_alteracao_form.codtercs.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codtercs').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/123/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codtercs').val(ui.item.value);
        return false;
      }});
    {% if s1020_alteracao_form.codtercs.field.widget.attrs.required %}
    $("#id_form_s1020_alteracao").submit(function(e) {
      $('#txt_codtercs').disabled = true;
        if ($('#id_codtercs').val() == "") {
          $('#txt_codtercs').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código de Terceiros!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s1020_alteracao__codtercs__div">
    <div class="form-group">
      <label id="s1020_alteracao__codtercs__label">Código de Terceiros*</label>
        <input type="text" id="txt_codtercs" name="txt_codtercs" class="form-control" value="{% if s1020_alteracao.codtercs %}{{ s1020_alteracao.codtercs }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1020_alteracao__codtercs -->
<!-- inicio__s1020_alteracao__codtercssusp -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s1020_alteracao__codtercssusp__div">
    <div class="form-group">
      <label id="s1020_alteracao__codtercssusp__label">Código de Terceiros (Suspensão)</label>
        {% if s1020_alteracao_form.codtercssusp.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1020_alteracao_form.codtercssusp.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_codtercssusp" 
               name="txt_codtercssusp" class="form-control" 
               value="{% if s1020_alteracao.codtercssusp %}{{ s1020_alteracao.codtercssusp|get_opcoes_titulo:123 }}{% endif %}" 
               {% if s1020_alteracao_form.codtercssusp.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s1020_alteracao_form.codtercssusp.field.widget.attrs.required %} required="required"{% endif %}
               {% if s1020_alteracao_form.codtercssusp.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_codtercssusp" 
               name="codtercssusp" 
               value="{% if s1020_alteracao.codtercssusp %}{{ s1020_alteracao_form.codtercssusp.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codtercssusp').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/123/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codtercssusp').val(ui.item.value);
        return false;
      }});
    {% if s1020_alteracao_form.codtercssusp.field.widget.attrs.required %}
    $("#id_form_s1020_alteracao").submit(function(e) {
      $('#txt_codtercssusp').disabled = true;
        if ($('#id_codtercssusp').val() == "") {
          $('#txt_codtercssusp').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código de Terceiros (Suspensão)!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s1020_alteracao__codtercssusp__div">
    <div class="form-group">
      <label id="s1020_alteracao__codtercssusp__label">Código de Terceiros (Suspensão)</label>
        <input type="text" id="txt_codtercssusp" name="txt_codtercssusp" class="form-control" value="{% if s1020_alteracao.codtercssusp %}{{ s1020_alteracao.codtercssusp }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1020_alteracao__codtercssusp -->