{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_opcoes_slug or 1 %}
            <th>Slug da Opção</th>
            {% endif %}
            {% if show_fields.show_opcoes_id or 1 %}
            <th>Identificador da Opção</th>
            {% endif %}
            {% if show_fields.show_codigo or 1 %}
            <th>Código</th>
            {% endif %}
            {% if show_fields.show_titulo or 1 %}
            <th>Título</th>
            {% endif %}
            {% if show_fields.show_descricao or 1 %}
            <th>Descrição</th>
            {% endif %}
            {% if show_fields.show_data_inicio or 1 %}
            <th>Data de Início da Validade</th>
            {% endif %}
            {% if show_fields.show_data_termino or 1 %}
            <th>Data de Término da Validade</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in opcoes_lista %}
        <tr>
            {% if show_fields.show_opcoes_slug %}
            <td>{{ a.opcoes_slug }}</td>
            {% endif %}
            {% if show_fields.show_opcoes_id %}
            <td>{{ a.opcoes_id }}</td>
            {% endif %}
            {% if show_fields.show_codigo %}
            <td>{{ a.codigo }}</td>
            {% endif %}
            {% if show_fields.show_titulo %}
            <td>{{ a.titulo }}</td>
            {% endif %}
            {% if show_fields.show_descricao %}
            <td>{{ a.descricao }}</td>
            {% endif %}
            {% if show_fields.show_data_inicio %}
            <td><span style="display:none">{{ a.data_inicio|date:"Y-m-d" }}</span>{{ a.data_inicio|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_data_termino %}
            <td><span style="display:none">{{ a.data_termino|date:"Y-m-d" }}</span>{{ a.data_termino|date:"d/m/Y" }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.tabelas.change_Opcoes or perms.tabelas.add_Opcoes %}

                        <a href="{% url 'opcoes_salvar' pk=a.id %}">
                            {% if perms.tabelas.change_Opcoes %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.tabelas.can_see_data_Opcoes %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.tabelas.delete_Opcoes %}
                        <a href="{% url 'opcoes_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
