{% load templatetags %}{% load static %}



<!-- inicio__esocial_procedimentos_diagnosticos__codigo -->
<div class="col-md-12">
  <div class="form-group">
    <label>Código</label>
    <div name="codigo" class="input-group" style="width: 100%;">
      <input type="text" name="codigo" class="form-control" value="{{ dict_fields|get_value_from_dict:'codigo' }}">
    </div>
  </div>
</div>
<!-- fim__esocial_procedimentos_diagnosticos__codigo -->

<!-- inicio__esocial_procedimentos_diagnosticos__descricao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Descrição</label>
    <div name="descricao" class="input-group" style="width: 100%;">
      <textarea name="descricao" class="form-control">{{ dict_fields|get_value_from_dict:'descricao' }}</textarea>
    </div>
  </div>
</div>
<!-- fim__esocial_procedimentos_diagnosticos__descricao -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codigo" value="1" {% if show_fields|get_value_from_dict:'show_codigo' %}checked{% endif %} >Código
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_descricao" value="1" {% if show_fields|get_value_from_dict:'show_descricao' %}checked{% endif %} >Descrição
    </div>
</div>


