{% load templatetags %}{% load static %}



<!-- inicio__municipios__codigo -->
<div class="col-md-4">
  <div class="form-group">
    <label>Código IBGE</label>
    <div name="codigo" class="input-group" style="width: 100%;">
      <input type="text" name="codigo" class="form-control" value="{{ dict_fields|get_value_from_dict:'codigo' }}">
    </div>
  </div>
</div>
<!-- fim__municipios__codigo -->

<!-- inicio__municipios__titulo -->
<div class="col-md-8">
  <div class="form-group">
    <label>Titulo</label>
    <div name="titulo" class="input-group" style="width: 100%;">
      <input type="text" name="titulo" class="form-control" value="{{ dict_fields|get_value_from_dict:'titulo' }}">
    </div>
  </div>
</div>
<!-- fim__municipios__titulo -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codigo" value="1" {% if show_fields|get_value_from_dict:'show_codigo' %}checked{% endif %} >Código IBGE
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_titulo" value="1" {% if show_fields|get_value_from_dict:'show_titulo' %}checked{% endif %} >Titulo
    </div>
</div>


