{% load templatetags %}{% load static %}



<!-- inicio__s2299_sucessaovinc__s2299_evtdeslig -->
<div class="col-md-12" id="s2299_sucessaovinc__s2299_evtdeslig__div">
  <div class="form-group">
    <label id="s2299_sucessaovinc__s2299_evtdeslig__label">Grupo de informações da sucessão de vínculo trabalhista/estatutário*</label>
    {% if not for_print %}{% if s2299_sucessaovinc_form.s2299_evtdeslig.value %}
        <a href="{% url 's2299_evtdeslig_salvar' pk=s2299_sucessaovinc_form.s2299_evtdeslig.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2299_sucessaovinc_form.s2299_evtdeslig.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_sucessaovinc_form.s2299_evtdeslig.errors }}
      </div>
    {% endif %}
    {% if s2299_sucessaovinc_form.s2299_evtdeslig.field.widget.attrs.readonly %}
      {% if s2299_sucessaovinc_form.s2299_evtdeslig.field.widget.attrs.disabled %}
        {{ s2299_sucessaovinc_form.s2299_evtdeslig|addcss:'form-control' }}
        <input id="id_s2299_evtdeslig" name="s2299_evtdeslig" type="hidden" value="{{ s2299_sucessaovinc_form.s2299_evtdeslig.value }}">
      {% else %}
        {{ s2299_sucessaovinc_form.s2299_evtdeslig|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2299_sucessaovinc_form.s2299_evtdeslig|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2299_sucessaovinc__s2299_evtdeslig -->
<!-- inicio__s2299_sucessaovinc__tpinscsuc -->
<div class="col-md-4" id="s2299_sucessaovinc__tpinscsuc__div">
  <div class="form-group">
    <label id="s2299_sucessaovinc__tpinscsuc__label">Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05*</label>
    {% if s2299_sucessaovinc_form.tpinscsuc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2299_sucessaovinc_form.tpinscsuc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2299_sucessaovinc_form.tpinscsuc.field.widget.attrs.readonly %}
        {% if s2299_sucessaovinc_form.tpinscsuc.field.widget.attrs.disabled %}
          {{ s2299_sucessaovinc_form.tpinscsuc|addcss:'form-control' }}
          <input id="id_tpinscsuc" name="tpinscsuc" type="hidden" value="{% if s2299_sucessaovinc_form.tpinscsuc.value or s2299_sucessaovinc_form.tpinscsuc.value == 0 %}{{ s2299_sucessaovinc_form.tpinscsuc.value|valor }}{% endif %}">
        {% else %}
          {{ s2299_sucessaovinc_form.tpinscsuc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2299_sucessaovinc_form.tpinscsuc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2299_sucessaovinc__tpinscsuc -->
<!-- inicio__s2299_sucessaovinc__cnpjsucessora -->
<div class="col-md-4" id="s2299_sucessaovinc__cnpjsucessora__div">
  <div class="form-group">
    <label id="s2299_sucessaovinc__cnpjsucessora__label">CNPJ sucessora*</label>
      {% if s2299_sucessaovinc_form.cnpjsucessora.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_sucessaovinc_form.cnpjsucessora.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2299_sucessaovinc_form.cnpjsucessora|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2299_sucessaovinc__cnpjsucessora -->