{% load templatetags %}{% load static %}



<!-- inicio__s2299_transftit__s2299_evtdeslig -->
<div class="col-md-12" id="s2299_transftit__s2299_evtdeslig__div">
  <div class="form-group">
    <label id="s2299_transftit__s2299_evtdeslig__label">Transferência de titularidade do empregado doméstico para outro representante da mesma unidade familiar*</label>
    {% if not for_print %}{% if s2299_transftit_form.s2299_evtdeslig.value %}
        <a href="{% url 's2299_evtdeslig_salvar' pk=s2299_transftit_form.s2299_evtdeslig.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2299_transftit_form.s2299_evtdeslig.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_transftit_form.s2299_evtdeslig.errors }}
      </div>
    {% endif %}
    {% if s2299_transftit_form.s2299_evtdeslig.field.widget.attrs.readonly %}
      {% if s2299_transftit_form.s2299_evtdeslig.field.widget.attrs.disabled %}
        {{ s2299_transftit_form.s2299_evtdeslig|addcss:'form-control' }}
        <input id="id_s2299_evtdeslig" name="s2299_evtdeslig" type="hidden" value="{{ s2299_transftit_form.s2299_evtdeslig.value }}">
      {% else %}
        {{ s2299_transftit_form.s2299_evtdeslig|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2299_transftit_form.s2299_evtdeslig|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2299_transftit__s2299_evtdeslig -->
<!-- inicio__s2299_transftit__cpfsubstituto -->
<div class="col-md-4" id="s2299_transftit__cpfsubstituto__div">
  <div class="form-group">
    <label id="s2299_transftit__cpfsubstituto__label">Preencher com o CPF do novo titular*</label>
      {% if s2299_transftit_form.cpfsubstituto.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_transftit_form.cpfsubstituto.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2299_transftit_form.cpfsubstituto|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2299_transftit__cpfsubstituto -->
<!-- inicio__s2299_transftit__dtnascto -->
<div class="col-md-4" id="s2299_transftit__dtnascto__div">
  <div class="form-group">
    <label id="s2299_transftit__dtnascto__label">Data de nascimento*</label>
        {% if s2299_transftit_form.dtnascto.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2299_transftit_form.dtnascto.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2299_transftit_form.dtnascto|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2299_transftit__dtnascto -->