<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2299_infotrabinterm_consigfgts__s2299_evtdeslig -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2299_evtdeslig').change(function(){
       document.getElementById("s2299_infotrabinterm_consigfgts__s2299_evtdeslig__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2299_infotrabinterm_consigfgts__s2299_evtdeslig__div">
  <div class="form-group">
    <label id="s2299_infotrabinterm_consigfgts__s2299_evtdeslig__label">Informações sobre operação de crédito consignado com garantia de FGTS*<a data-toggle="tooltip" title="Informações sobre operação de crédito consignado com garantia de FGTS."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.value %}
        <a id="s2299_infotrabinterm_consigfgts__s2299_evtdeslig__div_acessar" href="{% url 's2299_evtdeslig_salvar' pk=s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.errors }}
      </div>
    {% endif %}
    {% if s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.field.widget.attrs.readonly %}
      {% if s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.field.widget.attrs.disabled %}
        {{ s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig|addcss:'form-control' }}
        <input id="id_s2299_evtdeslig" name="s2299_evtdeslig" type="hidden" value="{% if s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.value or s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.value == 0 %}{{ s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig.value|valor }}{% endif %}">
      {% else %}
        {{ s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2299_infotrabinterm_consigfgts_form.s2299_evtdeslig|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2299_infotrabinterm_consigfgts__s2299_evtdeslig -->
<!-- inicio__s2299_infotrabinterm_consigfgts__insconsig -->
<div class="col-md-4" id="s2299_infotrabinterm_consigfgts__insconsig__div">
  <div class="form-group">
    <label id="s2299_infotrabinterm_consigfgts__insconsig__label">Matrícula da Instituição Consignatária, cadastrada na Caixa Econômica Federal*<a data-toggle="tooltip" title="Matrícula da Instituição Consignatária, cadastrada na Caixa Econômica Federal."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2299_infotrabinterm_consigfgts_form.insconsig.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_infotrabinterm_consigfgts_form.insconsig.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2299_infotrabinterm_consigfgts_form.insconsig|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2299_infotrabinterm_consigfgts__insconsig -->
<!-- inicio__s2299_infotrabinterm_consigfgts__nrcontr -->
<div class="col-md-4" id="s2299_infotrabinterm_consigfgts__nrcontr__div">
  <div class="form-group">
    <label id="s2299_infotrabinterm_consigfgts__nrcontr__label">Número do contrato de empréstimo consignado existente na Instituição Consignatária*<a data-toggle="tooltip" title="Número do contrato de empréstimo consignado existente na Instituição Consignatária."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2299_infotrabinterm_consigfgts_form.nrcontr.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2299_infotrabinterm_consigfgts_form.nrcontr.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2299_infotrabinterm_consigfgts_form.nrcontr|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2299_infotrabinterm_consigfgts__nrcontr -->