{% load templatetags %}{% load static %}



<!-- inicio__r4040_idenat__r4040_evtbenefnid -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r4040_evtbenefnid').change(function(){
       document.getElementById("r4040_idenat__r4040_evtbenefnid__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r4040_idenat__r4040_evtbenefnid__div">
  <div class="form-group">
    <label id="r4040_idenat__r4040_evtbenefnid__label">Identificação da natureza do rendimento*</label>
    {% if not for_print %}
      {% if r4040_idenat_form.r4040_evtbenefnid.value %}
        <a id="r4040_idenat__r4040_evtbenefnid__div_acessar" href="{% url 'r4040_evtbenefnid_salvar' pk=r4040_idenat_form.r4040_evtbenefnid.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if r4040_idenat_form.r4040_evtbenefnid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4040_idenat_form.r4040_evtbenefnid.errors }}
      </div>
    {% endif %}
    {% if r4040_idenat_form.r4040_evtbenefnid.field.widget.attrs.readonly %}
      {% if r4040_idenat_form.r4040_evtbenefnid.field.widget.attrs.disabled %}
        {{ r4040_idenat_form.r4040_evtbenefnid|addcss:'form-control' }}
        <input id="id_r4040_evtbenefnid" name="r4040_evtbenefnid" type="hidden" value="{% if r4040_idenat_form.r4040_evtbenefnid.value or r4040_idenat_form.r4040_evtbenefnid.value == 0 %}{{ r4040_idenat_form.r4040_evtbenefnid.value|valor }}{% endif %}">
      {% else %}
        {{ r4040_idenat_form.r4040_evtbenefnid|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r4040_idenat_form.r4040_evtbenefnid|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r4040_idenat__r4040_evtbenefnid -->
<!-- inicio__r4040_idenat__natrendim -->
<div class="col-md-6" id="r4040_idenat__natrendim__div">
  <div class="form-group">
    <label id="r4040_idenat__natrendim__label">Informar a natureza dos rendimentos pagos a beneficiários não identificados*</label>
    {% if r4040_idenat_form.natrendim.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r4040_idenat_form.natrendim.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r4040_idenat_form.natrendim.field.widget.attrs.readonly %}
        {% if r4040_idenat_form.natrendim.field.widget.attrs.disabled %}
          {{ r4040_idenat_form.natrendim|addcss:'form-control' }}
          <input id="id_natrendim" name="natrendim" type="hidden" value="{% if r4040_idenat_form.natrendim.value or r4040_idenat_form.natrendim.value == 0 %}{{ r4040_idenat_form.natrendim.value|valor }}{% endif %}">
        {% else %}
          {{ r4040_idenat_form.natrendim|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r4040_idenat_form.natrendim|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r4040_idenat__natrendim -->