<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2299_infotrabinterm_infomv__s2299_verbasresc -->
<div class="col-md-12">
  <div class="form-group">
    <label>Registro preenchido exclusivamente em caso de trabalhador que possua outros vínculos/atividades para definição do limite do salário-de-contribuição e da alíquota a ser aplicada no desconto da contribuição previdenciária.</label>
    <select name="s2299_verbasresc" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2299_verbasresc_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2299_verbasresc' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2299_infotrabinterm_infomv__s2299_verbasresc -->

<!-- inicio__s2299_infotrabinterm_infomv__indmv -->
<div class="col-md-6">
  <div class="form-group">
    <label>Desconto de Contribuição Previdenciária (Outros vinculos)</label>
    <div class="input-group" style="width: 100%;">
      <select name="indmv" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'indmv' %}selected="selected"{% endifequal %} >1 - O declarante aplica a alíquota de desconto do segurado sobre a remuneração por ele informada (o percentual da alíquota será obtido considerando a remuneração total do trabalhador)</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'indmv' %}selected="selected"{% endifequal %} >2 - O declarante aplica a alíquota de desconto do segurado sobre a diferença entre o limite máximo do salário de contribuição e a remuneração de outra(s) empresa(s) para as quais o trabalhador informou que houve o desconto</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'indmv' %}selected="selected"{% endifequal %} >3 - O declarante não realiza desconto do segurado, uma vez que houve desconto sobre o limite máximo de salário de contribuição em outra(s) empresa(s).</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2299_infotrabinterm_infomv__indmv -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2299_verbasresc" value="1" {% if show_fields|get_value_from_dict:'show_s2299_verbasresc' %}checked{% endif %} >Registro preenchido exclusivamente em caso de trabalhador que possua outros vínculos/atividades para definição do limite do salário-de-contribuição e da alíquota a ser aplicada no desconto da contribuição previdenciária.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_indmv" value="1" {% if show_fields|get_value_from_dict:'show_indmv' %}checked{% endif %} >Desconto de Contribuição Previdenciária (Outros vinculos)
    </div>
</div>


