{% load templatetags %}{% load static %}



<!-- inicio__s2299_infotrabinterm_quarentena__s2299_evtdeslig -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações sobre a 'quarentena' remunerada de trabalhador desligado</label>
    <select name="s2299_evtdeslig" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2299_evtdeslig_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2299_evtdeslig' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2299_infotrabinterm_quarentena__s2299_evtdeslig -->

<!-- inicio__s2299_infotrabinterm_quarentena__dtfimquar -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data do término da quarentena</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtfimquar" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtfimquar' %}{{ dict_fields|get_value_from_dict:'dtfimquar' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s2299_infotrabinterm_quarentena__dtfimquar -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2299_evtdeslig" value="1" {% if show_fields|get_value_from_dict:'show_s2299_evtdeslig' %}checked{% endif %} >Informações sobre a 'quarentena' remunerada de trabalhador desligado
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtfimquar" value="1" {% if show_fields|get_value_from_dict:'show_dtfimquar' %}checked{% endif %} >Data do término da quarentena
    </div>
</div>


