{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2299_evtdeslig or 1 %}
            <th>Informações sobre a 'quarentena' remunerada de trabalhador desligado</th>
            {% endif %}
            {% if show_fields.show_dtfimquar or 1 %}
            <th>Data do término da quarentena</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2299_infotrabinterm_quarentena_lista %}
        <tr>
            {% if show_fields.show_s2299_evtdeslig %}
            <td>{{ a.s2299_evtdeslig }}</td>
            {% endif %}
            {% if show_fields.show_dtfimquar %}
            <td><span style="display:none">{{ a.dtfimquar|date:"Y-m-d" }}</span>{{ a.dtfimquar|date:"d/m/Y" }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s2299.change_s2299infoTrabIntermquarentena or perms.s2299.add_s2299infoTrabIntermquarentena %}

                        <a href="{% url 's2299_infotrabinterm_quarentena_salvar' pk=a.id %}">
                            {% if perms.s2299.change_s2299infoTrabIntermquarentena %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2299.can_see_data_s2299infoTrabIntermquarentena %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2299.delete_s2299infoTrabIntermquarentena %}
                        <a href="{% url 's2299_infotrabinterm_quarentena_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
