{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2299_evtdeslig or 1 %}
            <th>Grupo de informações da sucessão de vínculo trabalhista/estatutário</th>
            {% endif %}
            {% if show_fields.show_tpinscsuc or 1 %}
            <th>Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05</th>
            {% endif %}
            {% if show_fields.show_cnpjsucessora or 1 %}
            <th>CNPJ sucessora</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2299_sucessaovinc_lista %}
        <tr>
            {% if show_fields.show_s2299_evtdeslig or 1 %}
            <td>{{ a.s2299_evtdeslig }}</td>
            {% endif %}
            {% if show_fields.show_tpinscsuc or 1 %}
            <td>{{ a.get_tpinscsuc_display }}</td>
            {% endif %}
            {% if show_fields.show_cnpjsucessora or 1 %}
            <td>{{ a.cnpjsucessora }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.s2299.change_s2299sucessaoVinc or perms.s2299.add_s2299sucessaoVinc %}
                    
                        <a href="{% url 's2299_sucessaovinc_salvar' pk=a.id %}">
                            {% if perms.s2299.change_s2299sucessaoVinc %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2299.can_see_data_s2299sucessaoVinc %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2299.delete_s2299sucessaoVinc %}
                        <a href="{% url 's2299_sucessaovinc_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
