{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2299_evtdeslig or 1 %}
            <th>Informações sobre operação de crédito consignado com garantia de FGTS</th>
            {% endif %}
            {% if show_fields.show_insconsig or 1 %}
            <th>Matrícula da Instituição Consignatária, cadastrada na Caixa Econômica Federal</th>
            {% endif %}
            {% if show_fields.show_nrcontr or 1 %}
            <th>Número do contrato de empréstimo consignado existente na Instituição Consignatária</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2299_infotrabinterm_consigfgts_lista %}
        <tr>
            {% if show_fields.show_s2299_evtdeslig or 1 %}
            <td>{{ a.s2299_evtdeslig }}</td>
            {% endif %}
            {% if show_fields.show_insconsig or 1 %}
            <td>{{ a.insconsig }}</td>
            {% endif %}
            {% if show_fields.show_nrcontr or 1 %}
            <td>{{ a.nrcontr }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.s2299.change_s2299infoTrabIntermconsigFGTS or perms.s2299.add_s2299infoTrabIntermconsigFGTS %}
                    
                        <a href="{% url 's2299_infotrabinterm_consigfgts_salvar' pk=a.id %}">
                            {% if perms.s2299.change_s2299infoTrabIntermconsigFGTS %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2299.can_see_data_s2299infoTrabIntermconsigFGTS %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2299.delete_s2299infoTrabIntermconsigFGTS %}
                        <a href="{% url 's2299_infotrabinterm_consigfgts_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
