<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__auditoria__tabela -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tabela</label>
    <div name="tabela" class="input-group" style="width: 100%;">
      <input type="text" name="tabela" class="form-control" value="{{ dict_fields|get_value_from_dict:'tabela' }}">
    </div>
  </div>
</div>
<!-- fim__auditoria__tabela -->

<!-- inicio__auditoria__identidade -->
<div class="col-md-6">
  <div class="form-group">
    <label>Identidade do Registro</label>
    <div name="identidade" class="input-group" style="width: 100%;">
      <input type="text" name="identidade" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'identidade' }}">
    </div>
  </div>
</div>
<!-- fim__auditoria__identidade -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tabela" value="1" {% if show_fields|get_value_from_dict:'show_tabela' %}checked{% endif %} >Tabela
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_identidade" value="1" {% if show_fields|get_value_from_dict:'show_identidade' %}checked{% endif %} >Identidade do Registro
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_situacao_anterior" value="1" {% if show_fields|get_value_from_dict:'show_situacao_anterior' %}checked{% endif %} >Situação anterior a alteração
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_situacao_posterior" value="1" {% if show_fields|get_value_from_dict:'show_situacao_posterior' %}checked{% endif %} >Situação posterior a alteração
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_operador" value="1" {% if show_fields|get_value_from_dict:'show_operador' %}checked{% endif %} >Operador
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_data_hora" value="1" {% if show_fields|get_value_from_dict:'show_data_hora' %}checked{% endif %} >Data de Hora da Operação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tipo" value="1" {% if show_fields|get_value_from_dict:'show_tipo' %}checked{% endif %} >Tipo
    </div>
</div>


