{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s1050_alteracao or 1 %}
            <th>Informação preenchida exclusivamente em caso de alteração do período de validade das informações do registro identificado no evento, apresentando o novo período de validade.</th>
            {% endif %}
            {% if show_fields.show_inivalid or 1 %}
            <th>Início da Validade</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s1050_alteracao_novavalidade_lista %}
        <tr>
            {% if show_fields.show_s1050_alteracao or 1 %}
            <td>{{ a.s1050_alteracao }}</td>
            {% endif %}
            {% if show_fields.show_inivalid or 1 %}
            <td>{{ a.get_inivalid_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.s1050.change_s1050alteracaonovaValidade or perms.s1050.add_s1050alteracaonovaValidade %}
                    
                        <a href="{% url 's1050_alteracao_novavalidade_salvar' pk=a.id tab='master' %}">
                            {% if perms.s1050.change_s1050alteracaonovaValidade %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s1050.can_see_data_s1050alteracaonovaValidade %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s1050.delete_s1050alteracaonovaValidade %}
                        <a href="{% url 's1050_alteracao_novavalidade_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
