{% load templatetags %}{% load static %}



<!-- inicio__s5011_basesavnport__s5011_idelotacao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações de bases de cálculo relativas à contratação de trabalhadores avulsos não portuários</label>
    <select name="s5011_idelotacao" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s5011_idelotacao_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s5011_idelotacao' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s5011_basesavnport__s5011_idelotacao -->

<!-- inicio__s5011_basesavnport__vrbccp00 -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da BC da CP</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrbccp00" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrbccp00' }}">
    </div>
  </div>
</div>
<!-- fim__s5011_basesavnport__vrbccp00 -->

<!-- inicio__s5011_basesavnport__vrbccp15 -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da BC da CP (15 anos)</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrbccp15" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrbccp15' }}">
    </div>
  </div>
</div>
<!-- fim__s5011_basesavnport__vrbccp15 -->

<!-- inicio__s5011_basesavnport__vrbccp20 -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da BC da CP (20 anos)</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrbccp20" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrbccp20' }}">
    </div>
  </div>
</div>
<!-- fim__s5011_basesavnport__vrbccp20 -->

<!-- inicio__s5011_basesavnport__vrbccp25 -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da BC da CP (25 anos)</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrbccp25" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrbccp25' }}">
    </div>
  </div>
</div>
<!-- fim__s5011_basesavnport__vrbccp25 -->

<!-- inicio__s5011_basesavnport__vrbccp13 -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da BC da CP (13 anos)</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrbccp13" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrbccp13' }}">
    </div>
  </div>
</div>
<!-- fim__s5011_basesavnport__vrbccp13 -->

<!-- inicio__s5011_basesavnport__vrbcfgts -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da BC do FGTS</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrbcfgts" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrbcfgts' }}">
    </div>
  </div>
</div>
<!-- fim__s5011_basesavnport__vrbcfgts -->

<!-- inicio__s5011_basesavnport__vrdesccp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor total descontada dos segurados</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrdesccp" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrdesccp' }}">
    </div>
  </div>
</div>
<!-- fim__s5011_basesavnport__vrdesccp -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s5011_idelotacao" value="1" {% if show_fields|get_value_from_dict:'show_s5011_idelotacao' %}checked{% endif %} >Informações de bases de cálculo relativas à contratação de trabalhadores avulsos não portuários
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrbccp00" value="1" {% if show_fields|get_value_from_dict:'show_vrbccp00' %}checked{% endif %} >Valor da BC da CP
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrbccp15" value="1" {% if show_fields|get_value_from_dict:'show_vrbccp15' %}checked{% endif %} >Valor da BC da CP (15 anos)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrbccp20" value="1" {% if show_fields|get_value_from_dict:'show_vrbccp20' %}checked{% endif %} >Valor da BC da CP (20 anos)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrbccp25" value="1" {% if show_fields|get_value_from_dict:'show_vrbccp25' %}checked{% endif %} >Valor da BC da CP (25 anos)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrbccp13" value="1" {% if show_fields|get_value_from_dict:'show_vrbccp13' %}checked{% endif %} >Valor da BC da CP (13 anos)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrbcfgts" value="1" {% if show_fields|get_value_from_dict:'show_vrbcfgts' %}checked{% endif %} >Valor da BC do FGTS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrdesccp" value="1" {% if show_fields|get_value_from_dict:'show_vrdesccp' %}checked{% endif %} >Valor total descontada dos segurados
    </div>
</div>


