{% load templatetags %}{% load static %}



<!-- inicio__s1005_inclusao_procadmjudfap__s1005_inclusao -->
<div class="col-md-12" id="s1005_inclusao_procadmjudfap__s1005_inclusao__div">
  <div class="form-group">
    <label id="s1005_inclusao_procadmjudfap__s1005_inclusao__label">Registro que identifica, em caso de existência, o processo administrativo/judicial em que houve decisão ou sentença favorável ao contribuinte suspendendo ou alterando a alíquota FAP aplicável ao contribuinte.*<a data-toggle="tooltip" title="Registro que identifica, em caso de existência, o processo administrativo/judicial em que houve decisão ou sentença favorável ao contribuinte suspendendo ou alterando a alíquota FAP aplicável ao contribuinte."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s1005_inclusao_procadmjudfap_form.s1005_inclusao.value %}
        <a href="{% url 's1005_inclusao_salvar' pk=s1005_inclusao_procadmjudfap_form.s1005_inclusao.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s1005_inclusao_procadmjudfap_form.s1005_inclusao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1005_inclusao_procadmjudfap_form.s1005_inclusao.errors }}
      </div>
    {% endif %}
    {% if s1005_inclusao_procadmjudfap_form.s1005_inclusao.field.widget.attrs.readonly %}
      {% if s1005_inclusao_procadmjudfap_form.s1005_inclusao.field.widget.attrs.disabled %}
        {{ s1005_inclusao_procadmjudfap_form.s1005_inclusao|addcss:'form-control' }}
        <input id="id_s1005_inclusao" name="s1005_inclusao" type="hidden" value="{{ s1005_inclusao_procadmjudfap_form.s1005_inclusao.value }}">
      {% else %}
        {{ s1005_inclusao_procadmjudfap_form.s1005_inclusao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1005_inclusao_procadmjudfap_form.s1005_inclusao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1005_inclusao_procadmjudfap__s1005_inclusao -->
<!-- inicio__s1005_inclusao_procadmjudfap__tpproc -->
<div class="col-md-3" id="s1005_inclusao_procadmjudfap__tpproc__div">
  <div class="form-group">
    <label id="s1005_inclusao_procadmjudfap__tpproc__label">Processo RAT*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de processo: 1 - Administrativo; 2 - Judicial; 4 - Processo FAP. Valores Válidos: 1, 2, 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1005_inclusao_procadmjudfap_form.tpproc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1005_inclusao_procadmjudfap_form.tpproc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1005_inclusao_procadmjudfap_form.tpproc.field.widget.attrs.readonly %}
        {% if s1005_inclusao_procadmjudfap_form.tpproc.field.widget.attrs.disabled %}
          {{ s1005_inclusao_procadmjudfap_form.tpproc|addcss:'form-control' }}
          <input id="id_tpproc" name="tpproc" type="hidden" value="{% if s1005_inclusao_procadmjudfap_form.tpproc.value or s1005_inclusao_procadmjudfap_form.tpproc.value == 0 %}{{ s1005_inclusao_procadmjudfap_form.tpproc.value|valor }}{% endif %}">
        {% else %}
          {{ s1005_inclusao_procadmjudfap_form.tpproc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1005_inclusao_procadmjudfap_form.tpproc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1005_inclusao_procadmjudfap__tpproc -->
<!-- inicio__s1005_inclusao_procadmjudfap__nrproc -->
<div class="col-md-3" id="s1005_inclusao_procadmjudfap__nrproc__div">
  <div class="form-group">
    <label id="s1005_inclusao_procadmjudfap__nrproc__label">Número do Processo*<a data-toggle="tooltip" title="Informar um número de processo cadastrado através do evento S-1070, cujo {indMatProc} seja igual a [1]. Validação: Deve ser um número de processo administrativo ou judicial válido e existente na Tabela de Processos (S-1070)."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1005_inclusao_procadmjudfap_form.nrproc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1005_inclusao_procadmjudfap_form.nrproc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1005_inclusao_procadmjudfap_form.nrproc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1005_inclusao_procadmjudfap__nrproc -->
<!-- inicio__s1005_inclusao_procadmjudfap__codsusp -->
<div class="col-md-3" id="s1005_inclusao_procadmjudfap__codsusp__div">
  <div class="form-group">
    <label id="s1005_inclusao_procadmjudfap__codsusp__label">Código do Indicativo da Suspensão*<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo empregador em S-1070. Validação: A informação prestada deve estar de acordo com o que foi informado em S-1070."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1005_inclusao_procadmjudfap_form.codsusp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1005_inclusao_procadmjudfap_form.codsusp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1005_inclusao_procadmjudfap_form.codsusp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1005_inclusao_procadmjudfap__codsusp -->