{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r2060_tipocod or 0 %}
            <th>Registro a ser preenchido caso a pessoa jurídica tenha de proceder a ajustes da contribuição apurada no período, decorrentes da legislação tributária da contribuição, de estorno ou de outras situações.</th>
            {% endif %}
            {% if show_fields.show_tpajuste or 1 %}
            <th>Preencher com o código correspondente ao tipo de ajuste</th>
            {% endif %}
            {% if show_fields.show_codajuste or 0 %}
            <th>Preencher com o código de ajuste</th>
            {% endif %}
            {% if show_fields.show_vlrajuste or 0 %}
            <th>Valor do ajuste</th>
            {% endif %}
            {% if show_fields.show_descajuste or 1 %}
            <th>Descrição resumida do ajuste</th>
            {% endif %}
            {% if show_fields.show_dtajuste or 1 %}
            <th>Informar o mês/ano (formato AAAA-MM) de referência do ajuste</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r2060_tipoajuste_lista %}
        <tr>
            {% if show_fields.show_r2060_tipocod or 0 %}
            <td>{{ a.r2060_tipocod }}</td>
            {% endif %}
            {% if show_fields.show_tpajuste or 1 %}
            <td>{{ a.get_tpajuste_display }}</td>
            {% endif %}
            {% if show_fields.show_codajuste or 0 %}
            <td>{{ a.get_codajuste_display }}</td>
            {% endif %}
            {% if show_fields.show_vlrajuste or 0 %}
            <td>{{ a.vlrajuste }}</td>
            {% endif %}
            {% if show_fields.show_descajuste or 1 %}
            <td>{{ a.descajuste }}</td>
            {% endif %}
            {% if show_fields.show_dtajuste or 1 %}
            <td>{{ a.dtajuste }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.r2060.change_r2060tipoAjuste or perms.r2060.add_r2060tipoAjuste %}

                        <a href="{% url 'r2060_tipoajuste_salvar' pk=a.id %}">
                            {% if perms.r2060.change_r2060tipoAjuste %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.r2060.can_see_data_r2060tipoAjuste %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.r2060.delete_r2060tipoAjuste %}
                        <a href="{% url 'r2060_tipoajuste_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
