<!-- eMensageriaAI -->
{% load templatetags %}

    <li id="modulo_mapa_processamento" class="{% if 'mapa_processamento' in modulos %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Mapa de Processamento</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            {% if perms.mapa_processamento.can_view_menu_VisaoGeral %}
                <li>
                    <a href="{% url 'visao_geral' %}">
                        <i class="fa fa-circle-o"></i>
                        Visão Geral
                    </a>
                </li>
            {% endif %}
            {% if perms.mapa_processamento.can_view_menu_MapaImportações %}
                <li>
                    <a href="{% url 'mapa_importacoes' tab='master' %}">
                        <i class="fa fa-circle-o"></i>
                        Importações
                    </a>
                </li>
            {% endif %}
            {% if perms.mapa_processamento.can_view_menu_MapaEsocial %}
                <li>
                    <a href="{% url 'mapa_esocial' tab='master' %}">
                        <i class="fa fa-circle-o"></i>
                        eSocial
                    </a>
                </li>
            {% endif %}
            {% if perms.mapa_processamento.can_view_menu_MapaEfdreinf %}
                <li>
                    <a href="{% url 'mapa_efdreinf' tab='master' %}">
                        <i class="fa fa-circle-o"></i>
                        EFDReinf
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
    <li id="modulo_esocial" class="{% if 'esocial' in modulos %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-circle"></i>
            <span>eSocial</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            {% if perms.esocial.can_view_menu_s1000evtInfoEmpregador %}
                <li>
                    <a href="{% url 's1000_evtinfoempregador' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1000 - Informações do Empregador/Contribuinte/Órgão Público
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1005evtTabEstab %}
                <li>
                    <a href="{% url 's1005_evttabestab' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1005 - Tabela de Estabelecimentos, Obras ou Unidades de Órgãos Públicos
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1010evtTabRubrica %}
                <li>
                    <a href="{% url 's1010_evttabrubrica' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1010 - Tabela de Rubricas
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1020evtTabLotacao %}
                <li>
                    <a href="{% url 's1020_evttablotacao' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1020 - Tabela de Lotações Tributárias
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1030evtTabCargo %}
                <li>
                    <a href="{% url 's1030_evttabcargo' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1030 - Tabela de Cargos/Empregos Públicos
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1035evtTabCarreira %}
                <li>
                    <a href="{% url 's1035_evttabcarreira' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1035 - Tabela de Carreiras Públicas
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1040evtTabFuncao %}
                <li>
                    <a href="{% url 's1040_evttabfuncao' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1040 - Tabela de Funções/Cargos em Comissão
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1050evtTabHorTur %}
                <li>
                    <a href="{% url 's1050_evttabhortur' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1050 - Tabela de Horários/Turnos de Trabalho
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1060evtTabAmbiente %}
                <li>
                    <a href="{% url 's1060_evttabambiente' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1060 - Tabela de Ambientes de Trabalho
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1070evtTabProcesso %}
                <li>
                    <a href="{% url 's1070_evttabprocesso' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1070 - Tabela de Processos Administrativos/Judiciais
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1080evtTabOperPort %}
                <li>
                    <a href="{% url 's1080_evttaboperport' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1080 - Tabela de Operadores Portuários
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1200evtRemun %}
                <li>
                    <a href="{% url 's1200_evtremun' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1200 - Remuneração de trabalhador vinculado ao Regime Geral de Previd. Social
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1202evtRmnRPPS %}
                <li>
                    <a href="{% url 's1202_evtrmnrpps' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1202 - Remuneração de servidor vinculado a Regime Próprio de Previd. Social
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1207evtBenPrRP %}
                <li>
                    <a href="{% url 's1207_evtbenprrp' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1207 - Benefícios previdenciários - RPPS
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1210evtPgtos %}
                <li>
                    <a href="{% url 's1210_evtpgtos' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1210 - Pagamentos de Rendimentos do Trabalho
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1250evtAqProd %}
                <li>
                    <a href="{% url 's1250_evtaqprod' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1250 - Aquisição de Produção Rural
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1260evtComProd %}
                <li>
                    <a href="{% url 's1260_evtcomprod' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1260 - Comercialização da Produção Rural Pessoa Física
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1270evtContratAvNP %}
                <li>
                    <a href="{% url 's1270_evtcontratavnp' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1270 - Contratação de Trabalhadores Avulsos Não Portuários
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1280evtInfoComplPer %}
                <li>
                    <a href="{% url 's1280_evtinfocomplper' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1280 - Informações Complementares aos Eventos Periódicos
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1295evtTotConting %}
                <li>
                    <a href="{% url 's1295_evttotconting' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1295 - Solicitação de Totalização para Pagamento em Contingência
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1298evtReabreEvPer %}
                <li>
                    <a href="{% url 's1298_evtreabreevper' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1298 - Reabertura dos Eventos Periódicos
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1299evtFechaEvPer %}
                <li>
                    <a href="{% url 's1299_evtfechaevper' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1299 - Fechamento dos Eventos Periódicos
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s1300evtContrSindPatr %}
                <li>
                    <a href="{% url 's1300_evtcontrsindpatr' %}">
                        <i class="fa fa-circle-o"></i>
                        S-1300 - Contribuição Sindical Patronal
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2190evtAdmPrelim %}
                <li>
                    <a href="{% url 's2190_evtadmprelim' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2190 - Admissão de Trabalhador - Registro Preliminar
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2200evtAdmissao %}
                <li>
                    <a href="{% url 's2200_evtadmissao' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2200 - Cadastramento Inicial do Vínculo e Admissão/Ingresso de Trabalhador
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2205evtAltCadastral %}
                <li>
                    <a href="{% url 's2205_evtaltcadastral' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2205 - Alteração de Dados Cadastrais do Trabalhador
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2206evtAltContratual %}
                <li>
                    <a href="{% url 's2206_evtaltcontratual' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2206 - Alteração de Contrato de Trabalho
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2210evtCAT %}
                <li>
                    <a href="{% url 's2210_evtcat' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2210 - Comunicação de Acidente de Trabalho
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2220evtMonit %}
                <li>
                    <a href="{% url 's2220_evtmonit' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2220 - Monitoramento da Saúde do Trabalhador
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2221evtToxic %}
                <li>
                    <a href="{% url 's2221_evttoxic' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2221 - Exame Toxicológico do Motorista Profissional
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2230evtAfastTemp %}
                <li>
                    <a href="{% url 's2230_evtafasttemp' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2230 - Afastamento Temporário
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2231evtCessao %}
                <li>
                    <a href="{% url 's2231_evtcessao' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2231 - Cessão/Exercício em Outro Órgão
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2240evtExpRisco %}
                <li>
                    <a href="{% url 's2240_evtexprisco' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2240 - Condições Ambientais do Trabalho - Fatores de Risco
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2241evtInsApo %}
                <li>
                    <a href="{% url 's2241_evtinsapo' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2241 - Insalubridade, Periculosidade e Aposentadoria Especial
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2245evtTreiCap %}
                <li>
                    <a href="{% url 's2245_evttreicap' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2245 - Treinamentos, Capacitações e Exercícios Simulados
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2250evtAvPrevio %}
                <li>
                    <a href="{% url 's2250_evtavprevio' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2250 - Aviso Prévio
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2260evtConvInterm %}
                <li>
                    <a href="{% url 's2260_evtconvinterm' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2260 - Convocação para Trabalho Intermitente
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2298evtReintegr %}
                <li>
                    <a href="{% url 's2298_evtreintegr' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2298 - Reintegração
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2299evtDeslig %}
                <li>
                    <a href="{% url 's2299_evtdeslig' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2299 - Desligamento
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2300evtTSVInicio %}
                <li>
                    <a href="{% url 's2300_evttsvinicio' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2300 - Trabalhador Sem Vínculo de Emprego/Estatutário - Início
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2306evtTSVAltContr %}
                <li>
                    <a href="{% url 's2306_evttsvaltcontr' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2306 - Trabalhador Sem Vínculo de Emprego/Estatutário - Alteração Contratual
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2399evtTSVTermino %}
                <li>
                    <a href="{% url 's2399_evttsvtermino' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2399 - Trabalhador Sem Vínculo de Emprego/Estatutário - Término
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2400evtCdBenefIn %}
                <li>
                    <a href="{% url 's2400_evtcdbenefin' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2400 - Cadastro de Beneficiários - Entes Públicos - Início
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2405evtCdBenefAlt %}
                <li>
                    <a href="{% url 's2405_evtcdbenefalt' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2405 - Cadastro de Beneficiários - Entes Públicos - Alteração
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2410evtCdBenIn %}
                <li>
                    <a href="{% url 's2410_evtcdbenin' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2410 - Cadastro de Benefícios - Entes Públicos - Início
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2416evtCdBenAlt %}
                <li>
                    <a href="{% url 's2416_evtcdbenalt' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2416 - Cadastro de Benefícios - Entes Públicos - Alteração
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s2420evtCdBenTerm %}
                <li>
                    <a href="{% url 's2420_evtcdbenterm' %}">
                        <i class="fa fa-circle-o"></i>
                        S-2420 - Cadastro de Benefícios - Entes Públicos - Término
                    </a>
                </li>
            {% endif %}
            {% if perms.esocial.can_view_menu_s3000evtExclusao %}
                <li>
                    <a href="{% url 's3000_evtexclusao' %}">
                        <i class="fa fa-circle-o"></i>
                        S-3000 - Exclusão de eventos
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
    <li id="modulo_efdreinf" class="{% if 'efdreinf' in modulos %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-circle"></i>
            <span>EFD-Reinf</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            {% if perms.efdreinf.can_view_menu_r1000evtInfoContri %}
                <li>
                    <a href="{% url 'r1000_evtinfocontri' %}">
                        <i class="fa fa-circle-o"></i>
                        R-1000 - Informações do Contribuinte
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r1070evtTabProcesso %}
                <li>
                    <a href="{% url 'r1070_evttabprocesso' %}">
                        <i class="fa fa-circle-o"></i>
                        R-1070 - Tabela de Processos Administrativos/Judiciais
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2010evtServTom %}
                <li>
                    <a href="{% url 'r2010_evtservtom' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2010 - Retenção Contribuição Previdenciária - Serviços Tomados
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2020evtServPrest %}
                <li>
                    <a href="{% url 'r2020_evtservprest' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2020 - Retenção Contribuição Previdenciária - Serviços Prestados
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2030evtAssocDespRec %}
                <li>
                    <a href="{% url 'r2030_evtassocdesprec' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2030 - Recursos Recebidos por Associação Desportiva
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2040evtAssocDespRep %}
                <li>
                    <a href="{% url 'r2040_evtassocdesprep' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2040 - Recursos Repassados para Associação Desportiva
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2050evtComProd %}
                <li>
                    <a href="{% url 'r2050_evtcomprod' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2050 - Comercialização da Produção por Produtor Rural PJ/Agroindústria
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2060evtCPRB %}
                <li>
                    <a href="{% url 'r2060_evtcprb' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2060 - Contribuição Previdenciária sobre a Receita Bruta - CPRB
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2070evtPgtosDivs %}
                <li>
                    <a href="{% url 'r2070_evtpgtosdivs' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2070 - Retenções na Fonte - IR, CSLL, Cofins, PIS/PASEP
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2098evtReabreEvPer %}
                <li>
                    <a href="{% url 'r2098_evtreabreevper' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2098 - Reabertura dos Eventos Periódicos
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r2099evtFechaEvPer %}
                <li>
                    <a href="{% url 'r2099_evtfechaevper' %}">
                        <i class="fa fa-circle-o"></i>
                        R-2099 - Fechamento dos Eventos Periódicos
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r3010evtEspDesportivo %}
                <li>
                    <a href="{% url 'r3010_evtespdesportivo' %}">
                        <i class="fa fa-circle-o"></i>
                        R-3010 - Receita de Espetáculo Desportivo
                    </a>
                </li>
            {% endif %}
            {% if perms.efdreinf.can_view_menu_r9000evtExclusao %}
                <li>
                    <a href="{% url 'r9000_evtexclusao' %}">
                        <i class="fa fa-circle-o"></i>
                        R-9000 - Exclusão de Eventos
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
    <li id="modulo_mensageiro" class="{% if 'mensageiro' in modulos %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-arrows-h"></i>
            <span>Mensageiro</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            {% if perms.mensageiro.can_view_menu_Importacoes %}
                <li>
                    <a href="{% url 'importacoes' %}">
                        <i class="fa fa-circle-o"></i>
                        Importações
                    </a>
                </li>
            {% endif %}
            {% if perms.mensageiro.can_view_menu_Relatorios %}
                <li>
                    <a href="{% url 'relatorios' %}">
                        <i class="fa fa-circle-o"></i>
                        Relatórios
                    </a>
                </li>
            {% endif %}
            {% if perms.mensageiro.can_view_menu_TransmissorLote %}
                <li>
                    <a href="{% url 'transmissores' %}">
                        <i class="fa fa-circle-o"></i>
                        Transmissor
                    </a>
                </li>
            {% endif %}
            {% if perms.mensageiro.can_view_menu_TransmissorLoteEsocial %}
                <li>
                    <a href="{% url 'transmissor_lote_esocial' %}">
                        <i class="fa fa-circle-o"></i>
                        Transmissor do eSocial
                    </a>
                </li>
            {% endif %}
            {% if perms.mensageiro.can_view_menu_TransmissorLoteEfdreinf %}
                <li>
                    <a href="{% url 'transmissor_lote_efdreinf' %}">
                        <i class="fa fa-circle-o"></i>
                        Transmissor do EFD-Reinf
                    </a>
                </li>
            {% endif %}
            {% if perms.mensageiro.can_view_menu_Arquivos %}
                <li>
                    <a href="{% url 'arquivos' %}">
                        <i class="fa fa-circle-o"></i>
                        Arquivos
                    </a>
                </li>
            {% endif %}
            {% if perms.mensageiro.can_view_menu_RetornosEventos %}
                <li>
                    <a href="{% url 'retornos_eventos' %}">
                        <i class="fa fa-circle-o"></i>
                        Retornos dos Eventos
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
    <li id="modulo_controle_de_acesso" class="{% if 'controle_de_acesso' in modulos %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-key"></i>
            <span>Controle de Acesso</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            {% if perms.controle_de_acesso.can_view_menu_Usuarios %}
                <li>
                    <a href="{% url 'usuarios' %}">
                        <i class="fa fa-circle-o"></i>
                        Usuários
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>

{% if config.SYSTEM_MANUAL_SHOW_IN_MENU %}
    <li id="modulo_controle_de_acesso" class="treeview">
        <a href="{{ config.SYSTEM_MANUAL_LINK }}" target="_blank">
            <i class="fa fa-question-circle"></i>
            <span>Manual</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        </ul>
    </li>
{% endif %}
