<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__retornos_eventos__transmissor_lote_esocial -->

{% if retornos_eventos_form.transmissor_lote_esocial.value %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_transmissor_lote_esocial').change(function(){
            document.getElementById("retornos_eventos__transmissor_lote_esocial__div_acessar").style.display = 'none';
        });
    });
</script>
{% endif %}

<div class="col-md-12" id="retornos_eventos__transmissor_lote_esocial__div">
<div class="form-group">
  <label id="retornos_eventos__transmissor_lote_esocial__label">Transmissor*</label>

  {% if not output %}
    {% if retornos_eventos_form.transmissor_lote_esocial.value %}
    <a id="retornos_eventos__transmissor_lote_esocial__div_acessar" href="{% url 'transmissor_lote_esocial_salvar' pk=retornos_eventos_form.transmissor_lote_esocial.value %}">
     [Acessar]
    </a>
    {% endif %}
  {% endif %}

  {% if retornos_eventos_form.transmissor_lote_esocial.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ retornos_eventos_form.transmissor_lote_esocial.errors }}
    </div>
  {% endif %}
  {% if retornos_eventos_form.transmissor_lote_esocial.field.widget.attrs.readonly %}
    {% if retornos_eventos_form.transmissor_lote_esocial.field.widget.attrs.disabled %}
      {{ retornos_eventos_form.transmissor_lote_esocial|addcss:'form-control' }}
      <input id="id_transmissor_lote_esocial" name="transmissor_lote_esocial" type="hidden" value="{% if retornos_eventos_form.transmissor_lote_esocial.value or retornos_eventos_form.transmissor_lote_esocial.value == 0 %}{{ retornos_eventos_form.transmissor_lote_esocial.value|valor }}
    {% endif %}">
   {% else %}
     {{ retornos_eventos_form.transmissor_lote_esocial|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ retornos_eventos_form.transmissor_lote_esocial|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__retornos_eventos__transmissor_lote_esocial -->
<!-- inicio__retornos_eventos__identidade -->
<div class="col-md-12" id="retornos_eventos__identidade__div">
  <div class="form-group">
    <label id="retornos_eventos__identidade__label">Identidade do Registro</label>
      {% if retornos_eventos_form.identidade.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.identidade.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.identidade|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__identidade -->
<!-- inicio__retornos_eventos__processamento -->
<div class="col-md-12" id="retornos_eventos__processamento__div">
  <h4>Recepção</h4>
</div>
<!-- fim__retornos_eventos__processamento -->
<!-- inicio__retornos_eventos__recepcao_tp_amb -->
<div class="col-md-6" id="retornos_eventos__recepcao_tp_amb__div">
  <div class="form-group">
    <label id="retornos_eventos__recepcao_tp_amb__label">Tipo de Ambiente</label>
    {% if retornos_eventos_form.recepcao_tp_amb.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.recepcao_tp_amb.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.recepcao_tp_amb.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.recepcao_tp_amb.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.recepcao_tp_amb|addcss:'form-control' }}
          <input id="id_recepcao_tp_amb" name="recepcao_tp_amb" type="hidden" value="{% if retornos_eventos_form.recepcao_tp_amb.value or retornos_eventos_form.recepcao_tp_amb.value == 0 %}{{ retornos_eventos_form.recepcao_tp_amb.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.recepcao_tp_amb|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.recepcao_tp_amb|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__recepcao_tp_amb -->
<!-- inicio__retornos_eventos__recepcao_data_hora -->
<div class="col-md-6" id="retornos_eventos__recepcao_data_hora__div">
  <div class="form-group">
    <label id="retornos_eventos__recepcao_data_hora__label">Data/Hora</label>
    {% if retornos_eventos_form.recepcao_data_hora.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ retornos_eventos_form.recepcao_data_hora.errors }}
    </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.recepcao_data_hora|addcss:'form-control automate-datetime' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__recepcao_data_hora -->
<!-- inicio__retornos_eventos__recepcao_versao_app -->
<div class="col-md-6" id="retornos_eventos__recepcao_versao_app__div">
  <div class="form-group">
    <label id="retornos_eventos__recepcao_versao_app__label">Versão do Aplicativo</label>
      {% if retornos_eventos_form.recepcao_versao_app.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.recepcao_versao_app.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.recepcao_versao_app|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__recepcao_versao_app -->
<!-- inicio__retornos_eventos__recepcao_protocolo_envio_lote -->
<div class="col-md-6" id="retornos_eventos__recepcao_protocolo_envio_lote__div">
  <div class="form-group">
    <label id="retornos_eventos__recepcao_protocolo_envio_lote__label">Protocolo do Lote de Envio</label>
      {% if retornos_eventos_form.recepcao_protocolo_envio_lote.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.recepcao_protocolo_envio_lote.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.recepcao_protocolo_envio_lote|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__recepcao_protocolo_envio_lote -->
<!-- inicio__retornos_eventos__processamento -->
<div class="col-md-12" id="retornos_eventos__processamento__div">
  <h4>Processamento</h4>
</div>
<!-- fim__retornos_eventos__processamento -->
<!-- inicio__retornos_eventos__processamento_codigo_resposta -->
<div class="col-md-6" id="retornos_eventos__processamento_codigo_resposta__div">
  <div class="form-group">
    <label id="retornos_eventos__processamento_codigo_resposta__label">Código de Resposta</label>
      {% if retornos_eventos_form.processamento_codigo_resposta.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.processamento_codigo_resposta.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.processamento_codigo_resposta|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__processamento_codigo_resposta -->
<!-- inicio__retornos_eventos__processamento_descricao_resposta -->
<div class="col-md-12" id="retornos_eventos__processamento_descricao_resposta__div">
  <div class="form-group">
    <label id="retornos_eventos__processamento_descricao_resposta__label">Descrição</label>
        {% if retornos_eventos_form.processamento_descricao_resposta.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ retornos_eventos_form.processamento_descricao_resposta.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.processamento_descricao_resposta|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__processamento_descricao_resposta -->
<!-- inicio__retornos_eventos__processamento_versao_app_processamento -->
<div class="col-md-6" id="retornos_eventos__processamento_versao_app_processamento__div">
  <div class="form-group">
    <label id="retornos_eventos__processamento_versao_app_processamento__label">Versão do Aplicativo</label>
      {% if retornos_eventos_form.processamento_versao_app_processamento.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.processamento_versao_app_processamento.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.processamento_versao_app_processamento|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__processamento_versao_app_processamento -->
<!-- inicio__retornos_eventos__processamento_data_hora -->
<div class="col-md-6" id="retornos_eventos__processamento_data_hora__div">
  <div class="form-group">
    <label id="retornos_eventos__processamento_data_hora__label">Data/Hora</label>
    {% if retornos_eventos_form.processamento_data_hora.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ retornos_eventos_form.processamento_data_hora.errors }}
    </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.processamento_data_hora|addcss:'form-control automate-datetime' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__processamento_data_hora -->
<!-- inicio__retornos_eventos__recibo -->
<div class="col-md-12" id="retornos_eventos__recibo__div">
  <h4>Recibo</h4>
</div>
<!-- fim__retornos_eventos__recibo -->
<!-- inicio__retornos_eventos__recibo_numero -->
<div class="col-md-6" id="retornos_eventos__recibo_numero__div">
  <div class="form-group">
    <label id="retornos_eventos__recibo_numero__label">Número do Recibo</label>
      {% if retornos_eventos_form.recibo_numero.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.recibo_numero.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.recibo_numero|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__recibo_numero -->
<!-- inicio__retornos_eventos__recibo_hash -->
<div class="col-md-6" id="retornos_eventos__recibo_hash__div">
  <div class="form-group">
    <label id="retornos_eventos__recibo_hash__label">Hash do Recibo</label>
      {% if retornos_eventos_form.recibo_hash.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.recibo_hash.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.recibo_hash|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__recibo_hash -->
<!-- inicio__retornos_eventos__empregador -->
<div class="col-md-12" id="retornos_eventos__empregador__div">
  <h4>Empregador</h4>
</div>
<!-- fim__retornos_eventos__empregador -->
<!-- inicio__retornos_eventos__tpinsc -->
<div class="col-md-6" id="retornos_eventos__tpinsc__div">
  <div class="form-group">
    <label id="retornos_eventos__tpinsc__label">Tipo de Inscrição</label>
    {% if retornos_eventos_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.tpinsc.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.tpinsc.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if retornos_eventos_form.tpinsc.value or retornos_eventos_form.tpinsc.value == 0 %}{{ retornos_eventos_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__tpinsc -->
<!-- inicio__retornos_eventos__empregador_tpinsc -->
<div class="col-md-6" id="retornos_eventos__empregador_tpinsc__div">
  <div class="form-group">
    <label id="retornos_eventos__empregador_tpinsc__label">Tipo de Inscrição</label>
    {% if retornos_eventos_form.empregador_tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.empregador_tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.empregador_tpinsc.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.empregador_tpinsc.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.empregador_tpinsc|addcss:'form-control' }}
          <input id="id_empregador_tpinsc" name="empregador_tpinsc" type="hidden" value="{% if retornos_eventos_form.empregador_tpinsc.value or retornos_eventos_form.empregador_tpinsc.value == 0 %}{{ retornos_eventos_form.empregador_tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.empregador_tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.empregador_tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__empregador_tpinsc -->
<!-- inicio__retornos_eventos__nrinsc -->
<div class="col-md-6" id="retornos_eventos__nrinsc__div">
  <div class="form-group">
    <label id="retornos_eventos__nrinsc__label">Número de Inscrição</label>
      {% if retornos_eventos_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__nrinsc -->
<!-- inicio__retornos_eventos__empregador_nrinsc -->
<div class="col-md-6" id="retornos_eventos__empregador_nrinsc__div">
  <div class="form-group">
    <label id="retornos_eventos__empregador_nrinsc__label">Número de Inscrição</label>
      {% if retornos_eventos_form.empregador_nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.empregador_nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.empregador_nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__empregador_nrinsc -->
<!-- inicio__retornos_eventos__trabalhador -->
<div class="col-md-12" id="retornos_eventos__trabalhador__div">
  <h4>Trabalhador</h4>
</div>
<!-- fim__retornos_eventos__trabalhador -->
<!-- inicio__retornos_eventos__cpftrab -->
<div class="col-md-4" id="retornos_eventos__cpftrab__div">
  <div class="form-group">
    <label id="retornos_eventos__cpftrab__label">CPF</label>
      {% if retornos_eventos_form.cpftrab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.cpftrab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.cpftrab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__cpftrab -->
<!-- inicio__retornos_eventos__nistrab -->
<div class="col-md-4" id="retornos_eventos__nistrab__div">
  <div class="form-group">
    <label id="retornos_eventos__nistrab__label">NIS</label>
      {% if retornos_eventos_form.nistrab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.nistrab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.nistrab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__nistrab -->
<!-- inicio__retornos_eventos__nmtrab -->
<div class="col-md-4" id="retornos_eventos__nmtrab__div">
  <div class="form-group">
    <label id="retornos_eventos__nmtrab__label">Nome</label>
      {% if retornos_eventos_form.nmtrab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.nmtrab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.nmtrab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__nmtrab -->
<!-- inicio__retornos_eventos__deficiencia -->
<div class="col-md-12" id="retornos_eventos__deficiencia__div">
  <h4>Deficiência</h4>
</div>
<!-- fim__retornos_eventos__deficiencia -->
<!-- inicio__retornos_eventos__infocota -->
<div class="col-md-12" id="retornos_eventos__infocota__div">
  <div class="form-group">
    <label id="retornos_eventos__infocota__label">Informação de Cota</label>
    {% if retornos_eventos_form.infocota.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.infocota.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.infocota.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.infocota.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.infocota|addcss:'form-control' }}
          <input id="id_infocota" name="infocota" type="hidden" value="{% if retornos_eventos_form.infocota.value or retornos_eventos_form.infocota.value == 0 %}{{ retornos_eventos_form.infocota.value }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.infocota|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.infocota|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__infocota -->
<!-- inicio__retornos_eventos__vinculo -->
<div class="col-md-12" id="retornos_eventos__vinculo__div">
  <h4>Vinculo</h4>
</div>
<!-- fim__retornos_eventos__vinculo -->
<!-- inicio__retornos_eventos__matricula -->
<div class="col-md-12" id="retornos_eventos__matricula__div">
  <div class="form-group">
    <label id="retornos_eventos__matricula__label">Matricula</label>
      {% if retornos_eventos_form.matricula.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.matricula.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.matricula|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__matricula -->
<!-- inicio__retornos_eventos__celetista -->
<div class="col-md-12" id="retornos_eventos__celetista__div">
  <h4>Informação de Celetista</h4>
</div>
<!-- fim__retornos_eventos__celetista -->
<!-- inicio__retornos_eventos__dtadm -->
<div class="col-md-6" id="retornos_eventos__dtadm__div">
  <div class="form-group">
    <label id="retornos_eventos__dtadm__label">Data de Admissão</label>
        {% if retornos_eventos_form.dtadm.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ retornos_eventos_form.dtadm.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dtadm|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dtadm -->
<!-- inicio__retornos_eventos__tpregjor -->
<div class="col-md-6" id="retornos_eventos__tpregjor__div">
  <div class="form-group">
    <label id="retornos_eventos__tpregjor__label">Tipo de Regime de Jornada</label>
    {% if retornos_eventos_form.tpregjor.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.tpregjor.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.tpregjor.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.tpregjor.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.tpregjor|addcss:'form-control' }}
          <input id="id_tpregjor" name="tpregjor" type="hidden" value="{% if retornos_eventos_form.tpregjor.value or retornos_eventos_form.tpregjor.value == 0 %}{{ retornos_eventos_form.tpregjor.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.tpregjor|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.tpregjor|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__tpregjor -->
<!-- inicio__retornos_eventos__dtbase -->
<div class="col-md-6" id="retornos_eventos__dtbase__div">
  <div class="form-group">
    <label id="retornos_eventos__dtbase__label">Data Base</label>
      {% if retornos_eventos_form.dtbase.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.dtbase.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dtbase|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dtbase -->
<!-- inicio__retornos_eventos__cnpjsindcategprof -->
<div class="col-md-6" id="retornos_eventos__cnpjsindcategprof__div">
  <div class="form-group">
    <label id="retornos_eventos__cnpjsindcategprof__label">CNPJ Sindicato</label>
      {% if retornos_eventos_form.cnpjsindcategprof.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.cnpjsindcategprof.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.cnpjsindcategprof|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__cnpjsindcategprof -->
<!-- inicio__retornos_eventos__estatutario -->
<div class="col-md-12" id="retornos_eventos__estatutario__div">
  <h4>Informação de Estatutário</h4>
</div>
<!-- fim__retornos_eventos__estatutario -->
<!-- inicio__retornos_eventos__dtposse -->
<div class="col-md-6" id="retornos_eventos__dtposse__div">
  <div class="form-group">
    <label id="retornos_eventos__dtposse__label">Data de Posse</label>
        {% if retornos_eventos_form.dtposse.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ retornos_eventos_form.dtposse.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dtposse|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dtposse -->
<!-- inicio__retornos_eventos__dtexercicio -->
<div class="col-md-6" id="retornos_eventos__dtexercicio__div">
  <div class="form-group">
    <label id="retornos_eventos__dtexercicio__label">Data de Exercício</label>
        {% if retornos_eventos_form.dtexercicio.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ retornos_eventos_form.dtexercicio.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dtexercicio|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dtexercicio -->
<!-- inicio__retornos_eventos__cargo -->
<div class="col-md-12" id="retornos_eventos__cargo__div">
  <h4>Cargo</h4>
</div>
<!-- fim__retornos_eventos__cargo -->
<!-- inicio__retornos_eventos__codcargo -->
<div class="col-md-4" id="retornos_eventos__codcargo__div">
  <div class="form-group">
    <label id="retornos_eventos__codcargo__label">Código</label>
      {% if retornos_eventos_form.codcargo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.codcargo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.codcargo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__codcargo -->
<!-- inicio__retornos_eventos__nmcargo -->
<div class="col-md-4" id="retornos_eventos__nmcargo__div">
  <div class="form-group">
    <label id="retornos_eventos__nmcargo__label">Nome</label>
      {% if retornos_eventos_form.nmcargo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.nmcargo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.nmcargo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__nmcargo -->
<!-- inicio__retornos_eventos__codcbocargo -->
<div class="col-md-4" id="retornos_eventos__codcbocargo__div">
  <div class="form-group">
    <label id="retornos_eventos__codcbocargo__label">CBO</label>
      {% if retornos_eventos_form.codcbocargo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.codcbocargo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.codcbocargo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__codcbocargo -->
<!-- inicio__retornos_eventos__funcao -->
<div class="col-md-12" id="retornos_eventos__funcao__div">
  <h4>Função</h4>
</div>
<!-- fim__retornos_eventos__funcao -->
<!-- inicio__retornos_eventos__codfuncao -->
<div class="col-md-4" id="retornos_eventos__codfuncao__div">
  <div class="form-group">
    <label id="retornos_eventos__codfuncao__label">Código</label>
      {% if retornos_eventos_form.codfuncao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.codfuncao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.codfuncao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__codfuncao -->
<!-- inicio__retornos_eventos__dscfuncao -->
<div class="col-md-4" id="retornos_eventos__dscfuncao__div">
  <div class="form-group">
    <label id="retornos_eventos__dscfuncao__label">Descrição</label>
      {% if retornos_eventos_form.dscfuncao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.dscfuncao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dscfuncao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dscfuncao -->
<!-- inicio__retornos_eventos__codcbofuncao -->
<div class="col-md-4" id="retornos_eventos__codcbofuncao__div">
  <div class="form-group">
    <label id="retornos_eventos__codcbofuncao__label">CBO</label>
      {% if retornos_eventos_form.codcbofuncao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.codcbofuncao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.codcbofuncao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__codcbofuncao -->
<!-- inicio__retornos_eventos__categoria -->
<div class="col-md-12" id="retornos_eventos__categoria__div">
  <h4>Categoria</h4>
</div>
<!-- fim__retornos_eventos__categoria -->
<!-- inicio__retornos_eventos__codcateg -->
<div class="col-md-12" id="retornos_eventos__codcateg__div">
  <div class="form-group">
    <label id="retornos_eventos__codcateg__label">Código</label>
      {% if retornos_eventos_form.codcateg.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.codcateg.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.codcateg|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__codcateg -->
<!-- inicio__retornos_eventos__remuneracao -->
<div class="col-md-12" id="retornos_eventos__remuneracao__div">
  <h4>Remuneração</h4>
</div>
<!-- fim__retornos_eventos__remuneracao -->
<!-- inicio__retornos_eventos__vrsalfx -->
<div class="col-md-4" id="retornos_eventos__vrsalfx__div">
  <div class="form-group">
    <label id="retornos_eventos__vrsalfx__label">Valor do Salário Fixo</label>
    {% if retornos_eventos_form.vrsalfx.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ retornos_eventos_form.vrsalfx.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ retornos_eventos_form.vrsalfx|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__vrsalfx -->
<!-- inicio__retornos_eventos__undsalfixo -->
<div class="col-md-4" id="retornos_eventos__undsalfixo__div">
  <div class="form-group">
    <label id="retornos_eventos__undsalfixo__label">Unidade do Salário Fixo</label>
    {% if retornos_eventos_form.undsalfixo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.undsalfixo.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.undsalfixo.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.undsalfixo.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.undsalfixo|addcss:'form-control' }}
          <input id="id_undsalfixo" name="undsalfixo" type="hidden" value="{% if retornos_eventos_form.undsalfixo.value or retornos_eventos_form.undsalfixo.value == 0 %}{{ retornos_eventos_form.undsalfixo.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.undsalfixo|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.undsalfixo|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__undsalfixo -->
<!-- inicio__retornos_eventos__dscsalvar -->
<div class="col-md-4" id="retornos_eventos__dscsalvar__div">
  <div class="form-group">
    <label id="retornos_eventos__dscsalvar__label">Descrição do salário variável</label>
      {% if retornos_eventos_form.dscsalvar.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.dscsalvar.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dscsalvar|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dscsalvar -->
<!-- inicio__retornos_eventos__duracao -->
<div class="col-md-12" id="retornos_eventos__duracao__div">
  <h4>Duração</h4>
</div>
<!-- fim__retornos_eventos__duracao -->
<!-- inicio__retornos_eventos__tpcontr -->
<div class="col-md-4" id="retornos_eventos__tpcontr__div">
  <div class="form-group">
    <label id="retornos_eventos__tpcontr__label">Tipo de Contrato</label>
    {% if retornos_eventos_form.tpcontr.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.tpcontr.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.tpcontr.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.tpcontr.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.tpcontr|addcss:'form-control' }}
          <input id="id_tpcontr" name="tpcontr" type="hidden" value="{% if retornos_eventos_form.tpcontr.value or retornos_eventos_form.tpcontr.value == 0 %}{{ retornos_eventos_form.tpcontr.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.tpcontr|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.tpcontr|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__tpcontr -->
<!-- inicio__retornos_eventos__dtterm -->
<div class="col-md-4" id="retornos_eventos__dtterm__div">
  <div class="form-group">
    <label id="retornos_eventos__dtterm__label">Data de Término</label>
        {% if retornos_eventos_form.dtterm.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ retornos_eventos_form.dtterm.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dtterm|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dtterm -->
<!-- inicio__retornos_eventos__clauasseg -->
<div class="col-md-4" id="retornos_eventos__clauasseg__div">
  <div class="form-group">
    <label id="retornos_eventos__clauasseg__label">Clausula Asseguratória</label>
      {% if retornos_eventos_form.clauasseg.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.clauasseg.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.clauasseg|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__clauasseg -->
<!-- inicio__retornos_eventos__local_trab -->
<div class="col-md-12" id="retornos_eventos__local_trab__div">
  <h4>Local de Trabalho Geral</h4>
</div>
<!-- fim__retornos_eventos__local_trab -->
<!-- inicio__retornos_eventos__local_tpinsc -->
<div class="col-md-4" id="retornos_eventos__local_tpinsc__div">
  <div class="form-group">
    <label id="retornos_eventos__local_tpinsc__label">Tipo de Inscrição</label>
    {% if retornos_eventos_form.local_tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.local_tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.local_tpinsc.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.local_tpinsc.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.local_tpinsc|addcss:'form-control' }}
          <input id="id_local_tpinsc" name="local_tpinsc" type="hidden" value="{% if retornos_eventos_form.local_tpinsc.value or retornos_eventos_form.local_tpinsc.value == 0 %}{{ retornos_eventos_form.local_tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.local_tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.local_tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__local_tpinsc -->
<!-- inicio__retornos_eventos__local_nrinsc -->
<div class="col-md-4" id="retornos_eventos__local_nrinsc__div">
  <div class="form-group">
    <label id="retornos_eventos__local_nrinsc__label">Número de Inscrição</label>
      {% if retornos_eventos_form.local_nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.local_nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.local_nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__local_nrinsc -->
<!-- inicio__retornos_eventos__local_cnae -->
<div class="col-md-4" id="retornos_eventos__local_cnae__div">
  <div class="form-group">
    <label id="retornos_eventos__local_cnae__label">CNAE</label>
      {% if retornos_eventos_form.local_cnae.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.local_cnae.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.local_cnae|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__local_cnae -->
<!-- inicio__retornos_eventos__horarios_contratuais -->
<div class="col-md-12" id="retornos_eventos__horarios_contratuais__div">
  <h4>Horários Contratuais</h4>
</div>
<!-- fim__retornos_eventos__horarios_contratuais -->
<!-- inicio__retornos_eventos__qtdhrssem -->
<div class="col-md-6" id="retornos_eventos__qtdhrssem__div">
  <div class="form-group">
    <label id="retornos_eventos__qtdhrssem__label">Quant. de horas semanais</label>
    {% if retornos_eventos_form.qtdhrssem.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ retornos_eventos_form.qtdhrssem.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      {{ retornos_eventos_form.qtdhrssem|addcss:'form-control automate-decimal' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__qtdhrssem -->
<!-- inicio__retornos_eventos__tpjornada -->
<div class="col-md-6" id="retornos_eventos__tpjornada__div">
  <div class="form-group">
    <label id="retornos_eventos__tpjornada__label">Tipo de jornada</label>
    {% if retornos_eventos_form.tpjornada.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.tpjornada.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.tpjornada.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.tpjornada.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.tpjornada|addcss:'form-control' }}
          <input id="id_tpjornada" name="tpjornada" type="hidden" value="{% if retornos_eventos_form.tpjornada.value or retornos_eventos_form.tpjornada.value == 0 %}{{ retornos_eventos_form.tpjornada.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.tpjornada|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.tpjornada|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__tpjornada -->
<!-- inicio__retornos_eventos__dsctpjorn -->
<div class="col-md-6" id="retornos_eventos__dsctpjorn__div">
  <div class="form-group">
    <label id="retornos_eventos__dsctpjorn__label">Descrição do tipo de jornada</label>
      {% if retornos_eventos_form.dsctpjorn.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_form.dsctpjorn.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_form.dsctpjorn|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__dsctpjorn -->
<!-- inicio__retornos_eventos__tmpparc -->
<div class="col-md-6" id="retornos_eventos__tmpparc__div">
  <div class="form-group">
    <label id="retornos_eventos__tmpparc__label">Contrato em tempo parcial</label>
    {% if retornos_eventos_form.tmpparc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_form.tmpparc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_form.tmpparc.field.widget.attrs.readonly %}
        {% if retornos_eventos_form.tmpparc.field.widget.attrs.disabled %}
          {{ retornos_eventos_form.tmpparc|addcss:'form-control' }}
          <input id="id_tmpparc" name="tmpparc" type="hidden" value="{% if retornos_eventos_form.tmpparc.value or retornos_eventos_form.tmpparc.value == 0 %}{{ retornos_eventos_form.tmpparc.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_form.tmpparc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_form.tmpparc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos__tmpparc -->