{% load templatetags %}{% load static %}



<!-- inicio__retornos_eventos_horarios__retornos_eventos -->

<script type="text/javascript">
    $(document).ready(function(){
        $('#id_retornos_eventos').change(function(){
            document.getElementById("retornos_eventos_horarios__retornos_eventos__div_acessar").style.display = 'none';
        });
    });
</script>

<div class="col-md-12" id="retornos_eventos_horarios__retornos_eventos__div">
<div class="form-group">
  <label id="retornos_eventos_horarios__retornos_eventos__label">Retornos<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
  
  {% if not output %}
    {% if retornos_eventos_horarios_form.retornos_eventos.value %}
    <a id="retornos_eventos_horarios__retornos_eventos__div_acessar" href="{% url 'retornos_eventos_salvar' pk=retornos_eventos_horarios_form.retornos_eventos.value tab='master' %}">
     [Acessar]
    </a>
    {% endif %} 
  {% endif %}
  
  {% if retornos_eventos_horarios_form.retornos_eventos.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ retornos_eventos_horarios_form.retornos_eventos.errors }}
    </div>
  {% endif %}
  {% if retornos_eventos_horarios_form.retornos_eventos.field.widget.attrs.readonly %}
    {% if retornos_eventos_horarios_form.retornos_eventos.field.widget.attrs.disabled %}
      {{ retornos_eventos_horarios_form.retornos_eventos|addcss:'form-control' }}
      <input id="id_retornos_eventos" name="retornos_eventos" type="hidden" value="{% if retornos_eventos_horarios_form.retornos_eventos.value or retornos_eventos_horarios_form.retornos_eventos.value == 0 %}{{ retornos_eventos_horarios_form.retornos_eventos.value|valor }}
    {% endif %}">
   {% else %}
     {{ retornos_eventos_horarios_form.retornos_eventos|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ retornos_eventos_horarios_form.retornos_eventos|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__retornos_eventos_horarios__retornos_eventos -->
<!-- inicio__retornos_eventos_horarios__dia -->
<div class="col-md-4" id="retornos_eventos_horarios__dia__div">
  <div class="form-group">
    <label id="retornos_eventos_horarios__dia__label">Dia<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if retornos_eventos_horarios_form.dia.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_horarios_form.dia.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_horarios_form.dia.field.widget.attrs.readonly %}
        {% if retornos_eventos_horarios_form.dia.field.widget.attrs.disabled %}
          {{ retornos_eventos_horarios_form.dia|addcss:'form-control' }}
          <input id="id_dia" name="dia" type="hidden" value="{% if retornos_eventos_horarios_form.dia.value or retornos_eventos_horarios_form.dia.value == 0 %}{{ retornos_eventos_horarios_form.dia.value|valor }}{% endif %}">
        {% else %}
          {{ retornos_eventos_horarios_form.dia|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_horarios_form.dia|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos_horarios__dia -->
<!-- inicio__retornos_eventos_horarios__codhorcontrat -->
<div class="col-md-4" id="retornos_eventos_horarios__codhorcontrat__div">
  <div class="form-group">
    <label id="retornos_eventos_horarios__codhorcontrat__label">Código do Horário Contratual<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if retornos_eventos_horarios_form.codhorcontrat.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_horarios_form.codhorcontrat.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_horarios_form.codhorcontrat|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos_horarios__codhorcontrat -->
<!-- inicio__retornos_eventos_horarios__hrentr -->
<div class="col-md-4" id="retornos_eventos_horarios__hrentr__div">
  <div class="form-group">
    <label id="retornos_eventos_horarios__hrentr__label">Hora de Entrada<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if retornos_eventos_horarios_form.hrentr.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_horarios_form.hrentr.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_horarios_form.hrentr|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos_horarios__hrentr -->
<!-- inicio__retornos_eventos_horarios__hrsaida -->
<div class="col-md-4" id="retornos_eventos_horarios__hrsaida__div">
  <div class="form-group">
    <label id="retornos_eventos_horarios__hrsaida__label">Hora de Saída<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if retornos_eventos_horarios_form.hrsaida.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_horarios_form.hrsaida.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_horarios_form.hrsaida|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos_horarios__hrsaida -->
<!-- inicio__retornos_eventos_horarios__durjornada -->
<div class="col-md-4" id="retornos_eventos_horarios__durjornada__div">
  <div class="form-group">
    <label id="retornos_eventos_horarios__durjornada__label">Duração da jornada (min)<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if retornos_eventos_horarios_form.durjornada.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ retornos_eventos_horarios_form.durjornada.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ retornos_eventos_horarios_form.durjornada|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos_horarios__durjornada -->
<!-- inicio__retornos_eventos_horarios__perhorflexivel -->
<div class="col-md-4" id="retornos_eventos_horarios__perhorflexivel__div">
  <div class="form-group">
    <label id="retornos_eventos_horarios__perhorflexivel__label">Horário Flexivel<a data-toggle="tooltip" title="None"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if retornos_eventos_horarios_form.perhorflexivel.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ retornos_eventos_horarios_form.perhorflexivel.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if retornos_eventos_horarios_form.perhorflexivel.field.widget.attrs.readonly %}
        {% if retornos_eventos_horarios_form.perhorflexivel.field.widget.attrs.disabled %}
          {{ retornos_eventos_horarios_form.perhorflexivel|addcss:'form-control' }}
          <input id="id_perhorflexivel" name="perhorflexivel" type="hidden" value="{% if retornos_eventos_horarios_form.perhorflexivel.value or retornos_eventos_horarios_form.perhorflexivel.value == 0 %}{{ retornos_eventos_horarios_form.perhorflexivel.value }}{% endif %}">
        {% else %}
          {{ retornos_eventos_horarios_form.perhorflexivel|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ retornos_eventos_horarios_form.perhorflexivel|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__retornos_eventos_horarios__perhorflexivel -->