<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__transmissores__transmissor_dados -->
<div class="col-md-12" id="transmissores__transmissor_dados__div">
  <h4>Dados do Transmissor</h4>
</div>
<!-- fim__transmissores__transmissor_dados -->
<!-- inicio__transmissores__transmissor_tpinsc -->
<div class="col-md-6" id="transmissores__transmissor_tpinsc__div">
  <div class="form-group">
    <label id="transmissores__transmissor_tpinsc__label">Tipo de Inscrição*</label>
    {% if transmissores_form.transmissor_tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ transmissores_form.transmissor_tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if transmissores_form.transmissor_tpinsc.field.widget.attrs.readonly %}
        {% if transmissores_form.transmissor_tpinsc.field.widget.attrs.disabled %}
          {{ transmissores_form.transmissor_tpinsc|addcss:'form-control' }}
          <input id="id_transmissor_tpinsc" name="transmissor_tpinsc" type="hidden" value="{% if transmissores_form.transmissor_tpinsc.value or transmissores_form.transmissor_tpinsc.value == 0 %}{{ transmissores_form.transmissor_tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ transmissores_form.transmissor_tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ transmissores_form.transmissor_tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__transmissores__transmissor_tpinsc -->
<!-- inicio__transmissores__transmissor_nrinsc -->
<div class="col-md-6" id="transmissores__transmissor_nrinsc__div">
  <div class="form-group">
    <label id="transmissores__transmissor_nrinsc__label">CPF/CNPJ*</label>
      {% if transmissores_form.transmissor_nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ transmissores_form.transmissor_nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ transmissores_form.transmissor_nrinsc|addcss:'form-control automate-cpf-cnpj' }}
    </div>
  </div>
</div>
<!-- fim__transmissores__transmissor_nrinsc -->
<!-- inicio__transmissores__empregador_dados -->
<div class="col-md-12" id="transmissores__empregador_dados__div">
  <h4>Dados da Empresa</h4>
</div>
<!-- fim__transmissores__empregador_dados -->
<!-- inicio__transmissores__nome_empresa -->
<div class="col-md-12" id="transmissores__nome_empresa__div">
  <div class="form-group">
    <label id="transmissores__nome_empresa__label">Nome da Empresa*</label>
      {% if transmissores_form.nome_empresa.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ transmissores_form.nome_empresa.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ transmissores_form.nome_empresa|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__transmissores__nome_empresa -->
<!-- inicio__transmissores__data_abertura -->
<div class="col-md-6" id="transmissores__data_abertura__div">
  <div class="form-group">
    <label id="transmissores__data_abertura__label">Data de abertura*</label>
        {% if transmissores_form.data_abertura.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ transmissores_form.data_abertura.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ transmissores_form.data_abertura|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__transmissores__data_abertura -->
<!-- inicio__transmissores__logotipo -->
<div class="col-md-6" id="transmissores__logotipo__div">
    <div class="form-group">
      <label id="transmissores__logotipo__label">Logotipo</label>
          {% if transmissores_form.logotipo.errors %}
            <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
                {{ transmissores_form.logotipo.errors }}
            </div>
          {% endif %}
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-file"></i>
        </div>
        {{ transmissores_form.logotipo|addcss:'form-control' }}
      </div>
    </div>
</div>
<!-- fim__transmissores__logotipo -->
<!-- inicio__transmissores__endereco_completo -->
<div class="col-md-12" id="transmissores__endereco_completo__div">
  <div class="form-group">
    <label id="transmissores__endereco_completo__label">Endereço Completo*</label>
        {% if transmissores_form.endereco_completo.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ transmissores_form.endereco_completo.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ transmissores_form.endereco_completo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__transmissores__endereco_completo -->
<!-- inicio__transmissores__nrinsc -->
<div class="col-md-6" id="transmissores__nrinsc__div">
  <div class="form-group">
    <label id="transmissores__nrinsc__label">CPF/CNPJ (Empregador/Contribuinte)*</label>
      {% if transmissores_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ transmissores_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ transmissores_form.nrinsc|addcss:'form-control automate-cpf-cnpj' }}
    </div>
  </div>
</div>
<!-- fim__transmissores__nrinsc -->
<!-- inicio__transmissores__tpinsc -->
<div class="col-md-6" id="transmissores__tpinsc__div">
  <div class="form-group">
    <label id="transmissores__tpinsc__label">Tipo de Inscrição (Empregador/Contribuinte)*</label>
    {% if transmissores_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ transmissores_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if transmissores_form.tpinsc.field.widget.attrs.readonly %}
        {% if transmissores_form.tpinsc.field.widget.attrs.disabled %}
          {{ transmissores_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if transmissores_form.tpinsc.value or transmissores_form.tpinsc.value == 0 %}{{ transmissores_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ transmissores_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ transmissores_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__transmissores__tpinsc -->
<!-- inicio__transmissores__certificado -->

<div class="col-md-6" id="transmissores__certificado__div">
<div class="form-group">
  <label id="transmissores__certificado__label">Certificado</label>

  {% if transmissores_form.certificado.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ transmissores_form.certificado.errors }}
    </div>
  {% endif %}
  {% if transmissores_form.certificado.field.widget.attrs.readonly %}
    {% if transmissores_form.certificado.field.widget.attrs.disabled %}
      {{ transmissores_form.certificado|addcss:'form-control' }}
      <input id="id_certificado" name="certificado" type="hidden" value="{% if transmissores_form.certificado.value or transmissores_form.certificado.value == 0 %}{{ transmissores_form.certificado.value|valor }}
    {% endif %}">
   {% else %}
     {{ transmissores_form.certificado|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ transmissores_form.certificado|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__transmissores__certificado -->