{% load templatetags %}{% load static %}



<!-- inicio__transmissor_lote_esocial_ocorrencias__transmissor_lote_esocial -->

{% if transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.value %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_transmissor_lote_esocial').change(function(){
            document.getElementById("transmissor_lote_esocial_ocorrencias__transmissor_lote_esocial__div_acessar").style.display = 'none';
        });
    });
</script>
{% endif %}

<div class="col-md-12" id="transmissor_lote_esocial_ocorrencias__transmissor_lote_esocial__div">
<div class="form-group">
  <label id="transmissor_lote_esocial_ocorrencias__transmissor_lote_esocial__label">Transmissor*</label>
  
  {% if not output %}
    {% if transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.value %}
    <a id="transmissor_lote_esocial_ocorrencias__transmissor_lote_esocial__div_acessar" href="{% url 'transmissor_lote_esocial_salvar' pk=transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.value tab='master' %}">
     [Acessar]
    </a>
    {% endif %} 
  {% endif %}
  
  {% if transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.errors }}
    </div>
  {% endif %}
  {% if transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.field.widget.attrs.readonly %}
    {% if transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.field.widget.attrs.disabled %}
      {{ transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial|addcss:'form-control' }}
      <input id="id_transmissor_lote_esocial" name="transmissor_lote_esocial" type="hidden" value="{% if transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.value or transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.value == 0 %}{{ transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial.value|valor }}
    {% endif %}">
   {% else %}
     {{ transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ transmissor_lote_esocial_ocorrencias_form.transmissor_lote_esocial|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__transmissor_lote_esocial_ocorrencias__transmissor_lote_esocial -->
<!-- inicio__transmissor_lote_esocial_ocorrencias__resposta_codigo -->
<div class="col-md-6" id="transmissor_lote_esocial_ocorrencias__resposta_codigo__div">
  <div class="form-group">
    <label id="transmissor_lote_esocial_ocorrencias__resposta_codigo__label">Código*</label>
      {% if transmissor_lote_esocial_ocorrencias_form.resposta_codigo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ transmissor_lote_esocial_ocorrencias_form.resposta_codigo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ transmissor_lote_esocial_ocorrencias_form.resposta_codigo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__transmissor_lote_esocial_ocorrencias__resposta_codigo -->
<!-- inicio__transmissor_lote_esocial_ocorrencias__tipo -->
<div class="col-md-6" id="transmissor_lote_esocial_ocorrencias__tipo__div">
  <div class="form-group">
    <label id="transmissor_lote_esocial_ocorrencias__tipo__label">Tipo*</label>
    {% if transmissor_lote_esocial_ocorrencias_form.tipo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ transmissor_lote_esocial_ocorrencias_form.tipo.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if transmissor_lote_esocial_ocorrencias_form.tipo.field.widget.attrs.readonly %}
        {% if transmissor_lote_esocial_ocorrencias_form.tipo.field.widget.attrs.disabled %}
          {{ transmissor_lote_esocial_ocorrencias_form.tipo|addcss:'form-control' }}
          <input id="id_tipo" name="tipo" type="hidden" value="{% if transmissor_lote_esocial_ocorrencias_form.tipo.value or transmissor_lote_esocial_ocorrencias_form.tipo.value == 0 %}{{ transmissor_lote_esocial_ocorrencias_form.tipo.value|valor }}{% endif %}">
        {% else %}
          {{ transmissor_lote_esocial_ocorrencias_form.tipo|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ transmissor_lote_esocial_ocorrencias_form.tipo|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__transmissor_lote_esocial_ocorrencias__tipo -->
<!-- inicio__transmissor_lote_esocial_ocorrencias__localizacao -->
<div class="col-md-12" id="transmissor_lote_esocial_ocorrencias__localizacao__div">
  <div class="form-group">
    <label id="transmissor_lote_esocial_ocorrencias__localizacao__label">Localização*</label>
      {% if transmissor_lote_esocial_ocorrencias_form.localizacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ transmissor_lote_esocial_ocorrencias_form.localizacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ transmissor_lote_esocial_ocorrencias_form.localizacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__transmissor_lote_esocial_ocorrencias__localizacao -->