{% load templatetags %}{% load static %}



<!-- inicio__s2241_altinsalperic__s2241_insalperic -->
<div class="col-md-12" id="s2241_altinsalperic__s2241_insalperic__div">
  <div class="form-group">
    <label id="s2241_altinsalperic__s2241_insalperic__label">Condições do ambiente de trabalho insalubre/periculoso - Alteração*</label>
    {% if not for_print %}{% if s2241_altinsalperic_form.s2241_insalperic.value %}
        <a href="{% url 's2241_insalperic_salvar' pk=s2241_altinsalperic_form.s2241_insalperic.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2241_altinsalperic_form.s2241_insalperic.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2241_altinsalperic_form.s2241_insalperic.errors }}
      </div>
    {% endif %}
    {% if s2241_altinsalperic_form.s2241_insalperic.field.widget.attrs.readonly %}
      {% if s2241_altinsalperic_form.s2241_insalperic.field.widget.attrs.disabled %}
        {{ s2241_altinsalperic_form.s2241_insalperic|addcss:'form-control' }}
        <input id="id_s2241_insalperic" name="s2241_insalperic" type="hidden" value="{{ s2241_altinsalperic_form.s2241_insalperic.value }}">
      {% else %}
        {{ s2241_altinsalperic_form.s2241_insalperic|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2241_altinsalperic_form.s2241_insalperic|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2241_altinsalperic__s2241_insalperic -->
<!-- inicio__s2241_altinsalperic__dtaltcondicao -->
<div class="col-md-6" id="s2241_altinsalperic__dtaltcondicao__div">
  <div class="form-group">
    <label id="s2241_altinsalperic__dtaltcondicao__label">Data de alteração de condição*</label>
        {% if s2241_altinsalperic_form.dtaltcondicao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2241_altinsalperic_form.dtaltcondicao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2241_altinsalperic_form.dtaltcondicao|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2241_altinsalperic__dtaltcondicao -->