{% load templatetags %}{% load static %}



<!-- inicio__s2241_altinsalperic_infoamb__s2241_altinsalperic -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2241_altinsalperic').change(function(){
       document.getElementById("s2241_altinsalperic_infoamb__s2241_altinsalperic__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2241_altinsalperic_infoamb__s2241_altinsalperic__div">
  <div class="form-group">
    <label id="s2241_altinsalperic_infoamb__s2241_altinsalperic__label">Informações sobre as condições de trabalho insalubre/periculoso.*</label>
    {% if not for_print %}
      {% if s2241_altinsalperic_infoamb_form.s2241_altinsalperic.value %}
        <a id="s2241_altinsalperic_infoamb__s2241_altinsalperic__div_acessar" href="{% url 's2241_altinsalperic_salvar' pk=s2241_altinsalperic_infoamb_form.s2241_altinsalperic.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s2241_altinsalperic_infoamb_form.s2241_altinsalperic.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2241_altinsalperic_infoamb_form.s2241_altinsalperic.errors }}
      </div>
    {% endif %}
    {% if s2241_altinsalperic_infoamb_form.s2241_altinsalperic.field.widget.attrs.readonly %}
      {% if s2241_altinsalperic_infoamb_form.s2241_altinsalperic.field.widget.attrs.disabled %}
        {{ s2241_altinsalperic_infoamb_form.s2241_altinsalperic|addcss:'form-control' }}
        <input id="id_s2241_altinsalperic" name="s2241_altinsalperic" type="hidden" value="{% if s2241_altinsalperic_infoamb_form.s2241_altinsalperic.value or s2241_altinsalperic_infoamb_form.s2241_altinsalperic.value == 0 %}{{ s2241_altinsalperic_infoamb_form.s2241_altinsalperic.value|valor }}{% endif %}">
      {% else %}
        {{ s2241_altinsalperic_infoamb_form.s2241_altinsalperic|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2241_altinsalperic_infoamb_form.s2241_altinsalperic|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2241_altinsalperic_infoamb__s2241_altinsalperic -->
<!-- inicio__s2241_altinsalperic_infoamb__codamb -->
<div class="col-md-6" id="s2241_altinsalperic_infoamb__codamb__div">
  <div class="form-group">
    <label id="s2241_altinsalperic_infoamb__codamb__label">Código do Ambiente*</label>
      {% if s2241_altinsalperic_infoamb_form.codamb.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2241_altinsalperic_infoamb_form.codamb.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2241_altinsalperic_infoamb_form.codamb|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2241_altinsalperic_infoamb__codamb -->