{% load templatetags %}{% load static %}



<!-- inicio__s2241_aposentesp__s2241_evtinsapo -->
<div class="col-md-12" id="s2241_aposentesp__s2241_evtinsapo__div">
  <div class="form-group">
    <label id="s2241_aposentesp__s2241_evtinsapo__label">Informações sobre o trabalho exercido em condições que ensejam a aposentadoria especial.*</label>
    {% if not for_print %}{% if s2241_aposentesp_form.s2241_evtinsapo.value %}
        <a href="{% url 's2241_evtinsapo_salvar' pk=s2241_aposentesp_form.s2241_evtinsapo.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s2241_aposentesp_form.s2241_evtinsapo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2241_aposentesp_form.s2241_evtinsapo.errors }}
      </div>
    {% endif %}
    {% if s2241_aposentesp_form.s2241_evtinsapo.field.widget.attrs.readonly %}
      {% if s2241_aposentesp_form.s2241_evtinsapo.field.widget.attrs.disabled %}
        {{ s2241_aposentesp_form.s2241_evtinsapo|addcss:'form-control' }}
        <input id="id_s2241_evtinsapo" name="s2241_evtinsapo" type="hidden" value="{{ s2241_aposentesp_form.s2241_evtinsapo.value }}">
      {% else %}
        {{ s2241_aposentesp_form.s2241_evtinsapo|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2241_aposentesp_form.s2241_evtinsapo|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2241_aposentesp__s2241_evtinsapo -->