<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2241_iniinsalperic_fatrisco__s2241_iniinsalperic_infoamb -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2241_iniinsalperic_infoamb').change(function(){
       document.getElementById("s2241_iniinsalperic_fatrisco__s2241_iniinsalperic_infoamb__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2241_iniinsalperic_fatrisco__s2241_iniinsalperic_infoamb__div">
  <div class="form-group">
    <label id="s2241_iniinsalperic_fatrisco__s2241_iniinsalperic_infoamb__label">Fator de risco ao qual o trabalhador está exposto na atividade exercida no ambiente*<a data-toggle="tooltip" title="Fator de risco ao qual o trabalhador está exposto na atividade exercida no ambiente"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.value %}
        <a id="s2241_iniinsalperic_fatrisco__s2241_iniinsalperic_infoamb__div_acessar" href="{% url 's2241_iniinsalperic_infoamb_salvar' pk=s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.errors }}
      </div>
    {% endif %}
    {% if s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.field.widget.attrs.readonly %}
      {% if s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.field.widget.attrs.disabled %}
        {{ s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb|addcss:'form-control' }}
        <input id="id_s2241_iniinsalperic_infoamb" name="s2241_iniinsalperic_infoamb" type="hidden" value="{% if s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.value or s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.value == 0 %}{{ s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb.value|valor }}{% endif %}">
      {% else %}
        {{ s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2241_iniinsalperic_fatrisco_form.s2241_iniinsalperic_infoamb|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2241_iniinsalperic_fatrisco__s2241_iniinsalperic_infoamb -->
<!-- inicio__s2241_iniinsalperic_fatrisco__codfatris -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s2241_iniinsalperic_fatrisco__codfatris__div">
    <div class="form-group">
      <label id="s2241_iniinsalperic_fatrisco__codfatris__label">Código do Fator de Risco*<a data-toggle="tooltip" title="Informar o código do fator de risco, conforme tabela 23. Validação: Deve ser um código existente na tabela 23.Deve existir na tabela S-1060 para o código de ambiente informado no campo{codAmb}."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s2241_iniinsalperic_fatrisco_form.codfatris.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2241_iniinsalperic_fatrisco_form.codfatris.errors }}
          </div>
        {% endif %}
        <input type="text"
               id="txt_codfatris"
               name="txt_codfatris" class="form-control"
               value="{% if s2241_iniinsalperic_fatrisco.codfatris %}{{ s2241_iniinsalperic_fatrisco.codfatris|get_opcoes_titulo:395 }}{% endif %}"
               {% if s2241_iniinsalperic_fatrisco_form.codfatris.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s2241_iniinsalperic_fatrisco_form.codfatris.field.widget.attrs.required %} required="required"{% endif %}
               {% if s2241_iniinsalperic_fatrisco_form.codfatris.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden"
               id="id_codfatris"
               name="codfatris"
               value="{% if s2241_iniinsalperic_fatrisco.codfatris %}{{ s2241_iniinsalperic_fatrisco_form.codfatris.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codfatris').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/395/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codfatris').val(ui.item.value);
        return false;
      }});
    {% if s2241_iniinsalperic_fatrisco_form.codfatris.field.widget.attrs.required %}
    $("#id_form_s2241_iniinsalperic_fatrisco").submit(function(e) {
      $('#txt_codfatris').disabled = true;
        if ($('#id_codfatris').val() == "") {
          $('#txt_codfatris').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código do Fator de Risco!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s2241_iniinsalperic_fatrisco__codfatris__div">
    <div class="form-group">
      <label id="s2241_iniinsalperic_fatrisco__codfatris__label">Código do Fator de Risco*<a data-toggle="tooltip" title="Informar o código do fator de risco, conforme tabela 23. Validação: Deve ser um código existente na tabela 23.Deve existir na tabela S-1060 para o código de ambiente informado no campo{codAmb}."><i class="fa fa-fw fa-question-circle"></i></a></label>
        <input type="text" id="txt_codfatris" name="txt_codfatris" class="form-control" value="{% if s2241_iniinsalperic_fatrisco.codfatris %}{{ s2241_iniinsalperic_fatrisco.codfatris }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2241_iniinsalperic_fatrisco__codfatris -->