<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s1200_infoperant_ideadc__s1200_infoperant -->
<div class="col-md-12">
  <div class="form-group">
    <label>Identificação do Instrumento ou situação ensejadora da remuneração relativa a Períodos de Apuração Anteriores.</label>
    <select name="s1200_infoperant" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s1200_infoperant_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s1200_infoperant' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s1200_infoperant_ideadc__s1200_infoperant -->

<!-- inicio__s1200_infoperant_ideadc__dtacconv -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data do vencimento da obrigação</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtacconv" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtacconv' %}{{ dict_fields|get_value_from_dict:'dtacconv' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideadc__dtacconv -->

<!-- inicio__s1200_infoperant_ideadc__tpacconv -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpacconv" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="A" {% ifequal 'A' dict_fields|get_value_from_dict:'tpacconv' %}selected="selected"{% endifequal %} >A - Acordo Coletivo de Trabalho</option>
        <option value="B" {% ifequal 'B' dict_fields|get_value_from_dict:'tpacconv' %}selected="selected"{% endifequal %} >B - Legislação federal, estadual, municipal ou distrital</option>
        <option value="C" {% ifequal 'C' dict_fields|get_value_from_dict:'tpacconv' %}selected="selected"{% endifequal %} >C - Convenção Coletiva de Trabalho</option>
        <option value="D" {% ifequal 'D' dict_fields|get_value_from_dict:'tpacconv' %}selected="selected"{% endifequal %} >D - Sentença Normativa - Dissídio</option>
        <option value="E" {% ifequal 'E' dict_fields|get_value_from_dict:'tpacconv' %}selected="selected"{% endifequal %} >E - Conversão de Licença Saúde em Acidente de Trabalho</option>
        <option value="F" {% ifequal 'F' dict_fields|get_value_from_dict:'tpacconv' %}selected="selected"{% endifequal %} >F - Outras verbas de natureza salarial ou não salarial devidas após o desligamento</option>
        <option value="G" {% ifequal 'G' dict_fields|get_value_from_dict:'tpacconv' %}selected="selected"{% endifequal %} >G - Antecipação de diferenças de Acordo, Convenção ou Dissídio Coletivo.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideadc__tpacconv -->

<!-- inicio__s1200_infoperant_ideadc__compacconv -->
<div class="col-md-6">
  <div class="form-group">
    <label>Competência</label>
    <div name="compacconv" class="input-group" style="width: 100%;">
      <input type="text" name="compacconv" class="form-control" value="{{ dict_fields|get_value_from_dict:'compacconv' }}">
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideadc__compacconv -->

<!-- inicio__s1200_infoperant_ideadc__dtefacconv -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data do efeito</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtefacconv" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtefacconv' %}{{ dict_fields|get_value_from_dict:'dtefacconv' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideadc__dtefacconv -->

<!-- inicio__s1200_infoperant_ideadc__dsc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Descrição</label>
    <div name="dsc" class="input-group" style="width: 100%;">
      <input type="text" name="dsc" class="form-control" value="{{ dict_fields|get_value_from_dict:'dsc' }}">
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideadc__dsc -->

<!-- inicio__s1200_infoperant_ideadc__remunsuc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Remuneração Empresa Sucessora</label>
    <div class="input-group" style="width: 100%;">
      <select name="remunsuc" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="N" {% ifequal 'N' dict_fields|get_value_from_dict:'remunsuc' %}selected="selected"{% endifequal %} >N - Não.</option>
        <option value="S" {% ifequal 'S' dict_fields|get_value_from_dict:'remunsuc' %}selected="selected"{% endifequal %} >S - Sim</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1200_infoperant_ideadc__remunsuc -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s1200_infoperant" value="1" {% if show_fields|get_value_from_dict:'show_s1200_infoperant' %}checked{% endif %} >Identificação do Instrumento ou situação ensejadora da remuneração relativa a Períodos de Apuração Anteriores.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtacconv" value="1" {% if show_fields|get_value_from_dict:'show_dtacconv' %}checked{% endif %} >Data do vencimento da obrigação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpacconv" value="1" {% if show_fields|get_value_from_dict:'show_tpacconv' %}checked{% endif %} >Tipo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_compacconv" value="1" {% if show_fields|get_value_from_dict:'show_compacconv' %}checked{% endif %} >Competência
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtefacconv" value="1" {% if show_fields|get_value_from_dict:'show_dtefacconv' %}checked{% endif %} >Data do efeito
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dsc" value="1" {% if show_fields|get_value_from_dict:'show_dsc' %}checked{% endif %} >Descrição
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_remunsuc" value="1" {% if show_fields|get_value_from_dict:'show_remunsuc' %}checked{% endif %} >Remuneração Empresa Sucessora
    </div>
</div>


