<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r5011_evttotalcontrib or 1 %}
            <th>Informações de ocorrências registradas</th>
            {% endif %}
            {% if show_fields.show_tpocorr or 1 %}
            <th>Tipo da ocorrência</th>
            {% endif %}
            {% if show_fields.show_localerroaviso or 1 %}
            <th>Campo que originou o erro ou aviso</th>
            {% endif %}
            {% if show_fields.show_codresp or 0 %}
            <th>Código do status da resposta do processamento da consulta</th>
            {% endif %}
            {% if show_fields.show_dscresp or 0 %}
            <th>Descrição literal da resposta do processamento da consulta</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r5011_regocorrs_lista %}
        <tr>
            {% if show_fields.show_r5011_evttotalcontrib or 1 %}
            <td>{{ a.r5011_evttotalcontrib }}</td>
            {% endif %}
            {% if show_fields.show_tpocorr or 1 %}
            <td>{{ a.get_tpocorr_display }}</td>
            {% endif %}
            {% if show_fields.show_localerroaviso or 1 %}
            <td>{{ a.localerroaviso }}</td>
            {% endif %}
            {% if show_fields.show_codresp or 0 %}
            <td>{{ a.codresp }}</td>
            {% endif %}
            {% if show_fields.show_dscresp or 0 %}
            <td>{{ a.dscresp }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
