{% load templatetags %}{% load static %}



<!-- inicio__r4020_infoprocret__r4020_infopgto -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações de processos relacionados a não retenção de tributos ou depósitos judiciais</label>
    <select name="r4020_infopgto" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r4020_infopgto_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r4020_infopgto' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r4020_infoprocret__r4020_infopgto -->

<!-- inicio__r4020_infoprocret__tpprocret -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o código correspondente ao tipo de processo</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpprocret" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpprocret' %}selected="selected"{% endifequal %} >1 - Administrativo</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpprocret' %}selected="selected"{% endifequal %} >2 - Judicial.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__tpprocret -->

<!-- inicio__r4020_infoprocret__nrprocret -->
<div class="col-md-6">
  <div class="form-group">
    <label>Informar o número do processo administrativo/judicial</label>
    <div name="nrprocret" class="input-group" style="width: 100%;">
      <input type="text" name="nrprocret" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrprocret' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__nrprocret -->

<!-- inicio__r4020_infoprocret__codsusp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Código do Indicativo da Suspensão, atribuído pelo contribuinte</label>
    <div name="codsusp" class="input-group" style="width: 100%;">
      <input type="text" name="codsusp" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'codsusp' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__codsusp -->

<!-- inicio__r4020_infoprocret__nir -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção de IR que deixou de ser efetuada em função de processo informado em {nrProcRet}</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="nir" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'nir' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__nir -->

<!-- inicio__r4020_infoprocret__depir -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do depósito judicial do IR em função de processo administrativo ou judicial</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="depir" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'depir' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__depir -->

<!-- inicio__r4020_infoprocret__ncsll -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção de CSLL que deixou de ser efetuada em função de processo informado em {nrProcRet}</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="ncsll" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'ncsll' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__ncsll -->

<!-- inicio__r4020_infoprocret__depcsll -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do depósito judicial da CSLL em função de processo administrativo ou judicial</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="depcsll" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'depcsll' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__depcsll -->

<!-- inicio__r4020_infoprocret__ncofins -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção de Cofins que deixou de ser efetuada em função de processo informado em {nrProcRet}</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="ncofins" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'ncofins' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__ncofins -->

<!-- inicio__r4020_infoprocret__depcofins -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do depósito judicial da Cofins em função de processo administrativo ou judicial</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="depcofins" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'depcofins' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__depcofins -->

<!-- inicio__r4020_infoprocret__npp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção de PIS/PASEP que deixou de ser efetuada em função de processo informado em {nrProcRet}</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="npp" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'npp' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__npp -->

<!-- inicio__r4020_infoprocret__deppp -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do depósito judicial do PIS/PASEP em função de processo administrativo ou judicial</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="deppp" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'deppp' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_infoprocret__deppp -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r4020_infopgto" value="1" {% if show_fields|get_value_from_dict:'show_r4020_infopgto' %}checked{% endif %} >Informações de processos relacionados a não retenção de tributos ou depósitos judiciais
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpprocret" value="1" {% if show_fields|get_value_from_dict:'show_tpprocret' %}checked{% endif %} >Preencher com o código correspondente ao tipo de processo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrprocret" value="1" {% if show_fields|get_value_from_dict:'show_nrprocret' %}checked{% endif %} >Informar o número do processo administrativo/judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codsusp" value="1" {% if show_fields|get_value_from_dict:'show_codsusp' %}checked{% endif %} >Código do Indicativo da Suspensão, atribuído pelo contribuinte
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nir" value="1" {% if show_fields|get_value_from_dict:'show_nir' %}checked{% endif %} >Valor da retenção de IR que deixou de ser efetuada em função de processo informado em {nrProcRet}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_depir" value="1" {% if show_fields|get_value_from_dict:'show_depir' %}checked{% endif %} >Valor do depósito judicial do IR em função de processo administrativo ou judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ncsll" value="1" {% if show_fields|get_value_from_dict:'show_ncsll' %}checked{% endif %} >Valor da retenção de CSLL que deixou de ser efetuada em função de processo informado em {nrProcRet}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_depcsll" value="1" {% if show_fields|get_value_from_dict:'show_depcsll' %}checked{% endif %} >Valor do depósito judicial da CSLL em função de processo administrativo ou judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ncofins" value="1" {% if show_fields|get_value_from_dict:'show_ncofins' %}checked{% endif %} >Valor da retenção de Cofins que deixou de ser efetuada em função de processo informado em {nrProcRet}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_depcofins" value="1" {% if show_fields|get_value_from_dict:'show_depcofins' %}checked{% endif %} >Valor do depósito judicial da Cofins em função de processo administrativo ou judicial
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_npp" value="1" {% if show_fields|get_value_from_dict:'show_npp' %}checked{% endif %} >Valor da retenção de PIS/PASEP que deixou de ser efetuada em função de processo informado em {nrProcRet}
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_deppp" value="1" {% if show_fields|get_value_from_dict:'show_deppp' %}checked{% endif %} >Valor do depósito judicial do PIS/PASEP em função de processo administrativo ou judicial
    </div>
</div>


