{% load templatetags %}{% load static %}



<!-- inicio__r4020_idepgto__r4020_evtretpj -->
<div class="col-md-12">
  <div class="form-group">
    <label>Identificação do rendimento</label>
    <select name="r4020_evtretpj" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r4020_evtretpj_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r4020_evtretpj' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r4020_idepgto__r4020_evtretpj -->

<!-- inicio__r4020_idepgto__natrend -->
<div class="col-md-3">
  <div class="form-group">
    <label>Código da natureza do rendimento, conforme Tabela 01</label>
    <input type="text" id="txt_natrend" name="txt_natrend" class="form-control" value="{{ dict_fields|get_value_from_dict:'natrend' }}">
    <input type="hidden" id="id_natrend" name="natrend" value="{{ dict_fields|get_value_from_dict:'natrend'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_natrend').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/682/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_natrend').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__r4020_idepgto__natrend -->

<!-- inicio__r4020_idepgto__paisresid -->
<div class="col-md-3">
  <div class="form-group">
    <label>Preencher com o código do país de residência fiscal, conforme tabela 7</label>
    <input type="text" id="txt_paisresid" name="txt_paisresid" class="form-control" value="{{ dict_fields|get_value_from_dict:'paisresid' }}">
    <input type="hidden" id="id_paisresid" name="paisresid" value="{{ dict_fields|get_value_from_dict:'paisresid'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_paisresid').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/645/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_paisresid').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__r4020_idepgto__paisresid -->

<!-- inicio__r4020_idepgto__observ -->
<div class="col-md-3">
  <div class="form-group">
    <label>Observações</label>
    <div name="observ" class="input-group" style="width: 100%;">
      <input type="text" name="observ" class="form-control" value="{{ dict_fields|get_value_from_dict:'observ' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_idepgto__observ -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r4020_evtretpj" value="1" {% if show_fields|get_value_from_dict:'show_r4020_evtretpj' %}checked{% endif %} >Identificação do rendimento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_natrend" value="1" {% if show_fields|get_value_from_dict:'show_natrend' %}checked{% endif %} >Código da natureza do rendimento, conforme Tabela 01
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_paisresid" value="1" {% if show_fields|get_value_from_dict:'show_paisresid' %}checked{% endif %} >Preencher com o código do país de residência fiscal, conforme tabela 7
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_observ" value="0" {% if show_fields|get_value_from_dict:'show_observ' %}checked{% endif %} >Observações
    </div>
</div>


