{% load templatetags %}{% load static %}



<!-- inicio__r4020_ir__r4020_infopgto -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações relativas ao Imposto de Renda</label>
    <select name="r4020_infopgto" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in r4020_infopgto_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'r4020_infopgto' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__r4020_ir__r4020_infopgto -->

<!-- inicio__r4020_ir__vlrbaseir -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da base do IR, conforme previsto na legislação</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrbaseir" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrbaseir' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_ir__vlrbaseir -->

<!-- inicio__r4020_ir__vlrir -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do Imposto de Renda Retido na Fonte, conforme previsto na legislação</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrir" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrir' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_ir__vlrir -->

<!-- inicio__r4020_ir__vlrbasenir -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da base do IR com exigibilidade suspensa</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrbasenir" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrbasenir' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_ir__vlrbasenir -->

<!-- inicio__r4020_ir__vlrnir -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor da retenção que deixou de ser efetuada, relativo ao Imposto de Renda Retido na Fonte</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrnir" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrnir' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_ir__vlrnir -->

<!-- inicio__r4020_ir__vlrdepir -->
<div class="col-md-6">
  <div class="form-group">
    <label>Valor do depósito judicial de IR</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrdepir" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrdepir' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_ir__vlrdepir -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r4020_infopgto" value="1" {% if show_fields|get_value_from_dict:'show_r4020_infopgto' %}checked{% endif %} >Informações relativas ao Imposto de Renda
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrbaseir" value="1" {% if show_fields|get_value_from_dict:'show_vlrbaseir' %}checked{% endif %} >Valor da base do IR, conforme previsto na legislação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrir" value="1" {% if show_fields|get_value_from_dict:'show_vlrir' %}checked{% endif %} >Valor do Imposto de Renda Retido na Fonte, conforme previsto na legislação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrbasenir" value="0" {% if show_fields|get_value_from_dict:'show_vlrbasenir' %}checked{% endif %} >Valor da base do IR com exigibilidade suspensa
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrnir" value="0" {% if show_fields|get_value_from_dict:'show_vlrnir' %}checked{% endif %} >Valor da retenção que deixou de ser efetuada, relativo ao Imposto de Renda Retido na Fonte
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrdepir" value="0" {% if show_fields|get_value_from_dict:'show_vlrdepir' %}checked{% endif %} >Valor do depósito judicial de IR
    </div>
</div>


