{% load templatetags %}{% load static %}



<!-- inicio__r4020_scp__r4020_infopgto -->
<div class="col-md-12">
  <div class="form-group">
    <label>Sociedade em conta de participação do qual o beneficiário faça parte e o declarante seja sócio ostensivo</label>
    <select name="r4020_infopgto" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in r4020_infopgto_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'r4020_infopgto' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__r4020_scp__r4020_infopgto -->

<!-- inicio__r4020_scp__nrinscscp -->
<div class="col-md-4">
  <div class="form-group">
    <label>Número de inscrição no CNPJ da Sociedade em Conta de Participação da qual o beneficiário faça parte e o declarante seja sócio ostensivo</label>
    <div name="nrinscscp" class="input-group" style="width: 100%;">
      <input type="text" name="nrinscscp" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinscscp' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_scp__nrinscscp -->

<!-- inicio__r4020_scp__percscp -->
<div class="col-md-4">
  <div class="form-group">
    <label>Percentual que o beneficiário possui na Sociedade em Conta de Participação</label>
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      <input type="text" name="percscp" class="form-control automate-decimal" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'percscp' }}">
    </div>
  </div>
</div>
<!-- fim__r4020_scp__percscp -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r4020_infopgto" value="1" {% if show_fields|get_value_from_dict:'show_r4020_infopgto' %}checked{% endif %} >Sociedade em conta de participação do qual o beneficiário faça parte e o declarante seja sócio ostensivo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinscscp" value="1" {% if show_fields|get_value_from_dict:'show_nrinscscp' %}checked{% endif %} >Número de inscrição no CNPJ da Sociedade em Conta de Participação da qual o beneficiário faça parte e o declarante seja sócio ostensivo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_percscp" value="1" {% if show_fields|get_value_from_dict:'show_percscp' %}checked{% endif %} >Percentual que o beneficiário possui na Sociedade em Conta de Participação
    </div>
</div>


