{% load templatetags %}{% load static %}



<!-- inicio__s5011_basesremun__s5011_idelotacao -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5011_idelotacao').change(function(){
       document.getElementById("s5011_basesremun__s5011_idelotacao__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5011_basesremun__s5011_idelotacao__div">
  <div class="form-group">
    <label id="s5011_basesremun__s5011_idelotacao__label">Bases de cálculo da contribuição previdenciária incidente sobre remunerações, por categoria.*</label>
    {% if not for_print %}
      {% if s5011_basesremun_form.s5011_idelotacao.value %}
        <a id="s5011_basesremun__s5011_idelotacao__div_acessar" href="{% url 's5011_idelotacao_salvar' hash='{}'|json_id:s5011_basesremun_form.s5011_idelotacao.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5011_basesremun_form.s5011_idelotacao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_basesremun_form.s5011_idelotacao.errors }}
      </div>
    {% endif %}
    {% if s5011_basesremun_form.s5011_idelotacao.field.widget.attrs.readonly %}
      {% if s5011_basesremun_form.s5011_idelotacao.field.widget.attrs.disabled %}
        {{ s5011_basesremun_form.s5011_idelotacao|addcss:'form-control' }}
        <input id="id_s5011_idelotacao" name="s5011_idelotacao" type="hidden" value="{% if s5011_basesremun_form.s5011_idelotacao.value or s5011_basesremun_form.s5011_idelotacao.value == 0 %}{{ s5011_basesremun_form.s5011_idelotacao.value|valor }}{% endif %}">
      {% else %}
        {{ s5011_basesremun_form.s5011_idelotacao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_basesremun_form.s5011_idelotacao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_basesremun__s5011_idelotacao -->
<!-- inicio__s5011_basesremun__indincid -->
<div class="col-md-6" id="s5011_basesremun__indincid__div">
  <div class="form-group">
    <label id="s5011_basesremun__indincid__label">Incidência*</label>
    {% if s5011_basesremun_form.indincid.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_basesremun_form.indincid.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5011_basesremun_form.indincid.field.widget.attrs.readonly %}
        {% if s5011_basesremun_form.indincid.field.widget.attrs.disabled %}
          {{ s5011_basesremun_form.indincid|addcss:'form-control' }}
          <input id="id_indincid" name="indincid" type="hidden" value="{% if s5011_basesremun_form.indincid.value or s5011_basesremun_form.indincid.value == 0 %}{{ s5011_basesremun_form.indincid.value|valor }}{% endif %}">
        {% else %}
          {{ s5011_basesremun_form.indincid|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5011_basesremun_form.indincid|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__indincid -->
<!-- inicio__s5011_basesremun__codcateg -->
{% if perms..add_ or perms..change_ %}
  <div class="col-md-6" id="s5011_basesremun__codcateg__div">
    <div class="form-group">
      <label id="s5011_basesremun__codcateg__label">Código da Categoria*</label>
        {% if s5011_basesremun_form.codcateg.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s5011_basesremun_form.codcateg.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_codcateg" 
               name="txt_codcateg" class="form-control" 
               value="{% if s5011_basesremun.codcateg %}{{ s5011_basesremun.codcateg|get_opcoes_titulo:172 }}{% endif %}" 
               {% if s5011_basesremun_form.codcateg.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s5011_basesremun_form.codcateg.field.widget.attrs.required %} required="required"{% endif %}
               {% if s5011_basesremun_form.codcateg.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_codcateg" 
               name="codcateg" 
               value="{% if s5011_basesremun.codcateg %}{{ s5011_basesremun_form.codcateg.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codcateg').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/172/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codcateg').val(ui.item.value);
        return false;
      }});
    {% if s5011_basesremun_form.codcateg.field.widget.attrs.required %}
    $("#id_form_s5011_basesremun").submit(function(e) {
      $('#txt_codcateg').disabled = true;
        if ($('#id_codcateg').val() == "") {
          $('#txt_codcateg').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código da Categoria!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s5011_basesremun__codcateg__div">
    <div class="form-group">
      <label id="s5011_basesremun__codcateg__label">Código da Categoria*</label>
        <input type="text" id="txt_codcateg" name="txt_codcateg" class="form-control" value="{% if s5011_basesremun.codcateg %}{{ s5011_basesremun.codcateg }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s5011_basesremun__codcateg -->
<!-- inicio__s5011_basesremun__basescp -->
<div class="col-md-12" id="s5011_basesremun__basescp__div">
  <h4>Valores correspondentes às bases, contribuições do segurado e deduções da contribuição previdenciária.</h4>
</div>
<!-- fim__s5011_basesremun__basescp -->
<!-- inicio__s5011_basesremun__vrbccp00 -->
<div class="col-md-6" id="s5011_basesremun__vrbccp00__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrbccp00__label">Valor da BC da CP*</label>
    {% if s5011_basesremun_form.vrbccp00.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrbccp00.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrbccp00|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrbccp00 -->
<!-- inicio__s5011_basesremun__vrbccp15 -->
<div class="col-md-6" id="s5011_basesremun__vrbccp15__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrbccp15__label">Valor da BC da CP (15 anos)*</label>
    {% if s5011_basesremun_form.vrbccp15.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrbccp15.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrbccp15|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrbccp15 -->
<!-- inicio__s5011_basesremun__vrbccp20 -->
<div class="col-md-6" id="s5011_basesremun__vrbccp20__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrbccp20__label">Valor da BC da CP (20 anos)*</label>
    {% if s5011_basesremun_form.vrbccp20.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrbccp20.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrbccp20|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrbccp20 -->
<!-- inicio__s5011_basesremun__vrbccp25 -->
<div class="col-md-6" id="s5011_basesremun__vrbccp25__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrbccp25__label">Valor da BC da CP (25 anos)*</label>
    {% if s5011_basesremun_form.vrbccp25.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrbccp25.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrbccp25|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrbccp25 -->
<!-- inicio__s5011_basesremun__vrsuspbccp00 -->
<div class="col-md-6" id="s5011_basesremun__vrsuspbccp00__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrsuspbccp00__label">Valor da BC da CP suspenso*</label>
    {% if s5011_basesremun_form.vrsuspbccp00.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrsuspbccp00.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrsuspbccp00|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrsuspbccp00 -->
<!-- inicio__s5011_basesremun__vrsuspbccp15 -->
<div class="col-md-6" id="s5011_basesremun__vrsuspbccp15__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrsuspbccp15__label">Valor da BC da CP suspenso (15 anos)*</label>
    {% if s5011_basesremun_form.vrsuspbccp15.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrsuspbccp15.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrsuspbccp15|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrsuspbccp15 -->
<!-- inicio__s5011_basesremun__vrsuspbccp20 -->
<div class="col-md-6" id="s5011_basesremun__vrsuspbccp20__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrsuspbccp20__label">Valor da BC da CP suspenso (20 anos)*</label>
    {% if s5011_basesremun_form.vrsuspbccp20.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrsuspbccp20.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrsuspbccp20|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrsuspbccp20 -->
<!-- inicio__s5011_basesremun__vrsuspbccp25 -->
<div class="col-md-6" id="s5011_basesremun__vrsuspbccp25__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrsuspbccp25__label">Valor da BC da CP suspenso (25 anos)*</label>
    {% if s5011_basesremun_form.vrsuspbccp25.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrsuspbccp25.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrsuspbccp25|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrsuspbccp25 -->
<!-- inicio__s5011_basesremun__vrdescsest -->
<div class="col-md-6" id="s5011_basesremun__vrdescsest__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrdescsest__label">Valor total descontado ao SEST*</label>
    {% if s5011_basesremun_form.vrdescsest.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrdescsest.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrdescsest|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrdescsest -->
<!-- inicio__s5011_basesremun__vrcalcsest -->
<div class="col-md-6" id="s5011_basesremun__vrcalcsest__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrcalcsest__label">Valor calculado descontado ao SEST*</label>
    {% if s5011_basesremun_form.vrcalcsest.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrcalcsest.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrcalcsest|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrcalcsest -->
<!-- inicio__s5011_basesremun__vrdescsenat -->
<div class="col-md-6" id="s5011_basesremun__vrdescsenat__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrdescsenat__label">Valor total descontado ao SENAT*</label>
    {% if s5011_basesremun_form.vrdescsenat.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrdescsenat.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrdescsenat|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrdescsenat -->
<!-- inicio__s5011_basesremun__vrcalcsenat -->
<div class="col-md-6" id="s5011_basesremun__vrcalcsenat__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrcalcsenat__label">Valor calculado descontado ao SENAT*</label>
    {% if s5011_basesremun_form.vrcalcsenat.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrcalcsenat.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrcalcsenat|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrcalcsenat -->
<!-- inicio__s5011_basesremun__vrsalfam -->
<div class="col-md-6" id="s5011_basesremun__vrsalfam__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrsalfam__label">Valor do salário-família*</label>
    {% if s5011_basesremun_form.vrsalfam.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrsalfam.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrsalfam|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrsalfam -->
<!-- inicio__s5011_basesremun__vrsalmat -->
<div class="col-md-6" id="s5011_basesremun__vrsalmat__div">
  <div class="form-group">
    <label id="s5011_basesremun__vrsalmat__label">Valor do salário-maternidade*</label>
    {% if s5011_basesremun_form.vrsalmat.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_basesremun_form.vrsalmat.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_basesremun_form.vrsalmat|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_basesremun__vrsalmat -->