{% load templatetags %}{% load static %}



<!-- inicio__s5011_infoemprparcial__s5011_idelotacao -->
<div class="col-md-12" id="s5011_infoemprparcial__s5011_idelotacao__div">
  <div class="form-group">
    <label id="s5011_infoemprparcial__s5011_idelotacao__label">Informação complementar que apresenta identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada*</label>
    {% if not for_print %}{% if s5011_infoemprparcial_form.s5011_idelotacao.value %}
        <a href="{% url 's5011_idelotacao_salvar' pk=s5011_infoemprparcial_form.s5011_idelotacao.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s5011_infoemprparcial_form.s5011_idelotacao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infoemprparcial_form.s5011_idelotacao.errors }}
      </div>
    {% endif %}
    {% if s5011_infoemprparcial_form.s5011_idelotacao.field.widget.attrs.readonly %}
      {% if s5011_infoemprparcial_form.s5011_idelotacao.field.widget.attrs.disabled %}
        {{ s5011_infoemprparcial_form.s5011_idelotacao|addcss:'form-control' }}
        <input id="id_s5011_idelotacao" name="s5011_idelotacao" type="hidden" value="{{ s5011_infoemprparcial_form.s5011_idelotacao.value }}">
      {% else %}
        {{ s5011_infoemprparcial_form.s5011_idelotacao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_infoemprparcial_form.s5011_idelotacao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_infoemprparcial__s5011_idelotacao -->
<!-- inicio__s5011_infoemprparcial__tpinsccontrat -->
<div class="col-md-6" id="s5011_infoemprparcial__tpinsccontrat__div">
  <div class="form-group">
    <label id="s5011_infoemprparcial__tpinsccontrat__label">Tipo de inscrição do Contratante*</label>
    {% if s5011_infoemprparcial_form.tpinsccontrat.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_infoemprparcial_form.tpinsccontrat.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5011_infoemprparcial_form.tpinsccontrat.field.widget.attrs.readonly %}
        {% if s5011_infoemprparcial_form.tpinsccontrat.field.widget.attrs.disabled %}
          {{ s5011_infoemprparcial_form.tpinsccontrat|addcss:'form-control' }}
          <input id="id_tpinsccontrat" name="tpinsccontrat" type="hidden" value="{% if s5011_infoemprparcial_form.tpinsccontrat.value or s5011_infoemprparcial_form.tpinsccontrat.value == 0 %}{{ s5011_infoemprparcial_form.tpinsccontrat.value|valor }}{% endif %}">
        {% else %}
          {{ s5011_infoemprparcial_form.tpinsccontrat|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5011_infoemprparcial_form.tpinsccontrat|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5011_infoemprparcial__tpinsccontrat -->
<!-- inicio__s5011_infoemprparcial__nrinsccontrat -->
<div class="col-md-6" id="s5011_infoemprparcial__nrinsccontrat__div">
  <div class="form-group">
    <label id="s5011_infoemprparcial__nrinsccontrat__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s5011_infoemprparcial_form.nrinsccontrat.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infoemprparcial_form.nrinsccontrat.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_infoemprparcial_form.nrinsccontrat|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infoemprparcial__nrinsccontrat -->
<!-- inicio__s5011_infoemprparcial__tpinscprop -->
<div class="col-md-6" id="s5011_infoemprparcial__tpinscprop__div">
  <div class="form-group">
    <label id="s5011_infoemprparcial__tpinscprop__label">Tipo de inscrição (Proprietário do CNO)*</label>
      {% if s5011_infoemprparcial_form.tpinscprop.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infoemprparcial_form.tpinscprop.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_infoemprparcial_form.tpinscprop|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infoemprparcial__tpinscprop -->
<!-- inicio__s5011_infoemprparcial__nrinscprop -->
<div class="col-md-6" id="s5011_infoemprparcial__nrinscprop__div">
  <div class="form-group">
    <label id="s5011_infoemprparcial__nrinscprop__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s5011_infoemprparcial_form.nrinscprop.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infoemprparcial_form.nrinscprop.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_infoemprparcial_form.nrinscprop|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infoemprparcial__nrinscprop -->
<!-- inicio__s5011_infoemprparcial__cnoobra -->
<div class="col-md-6" id="s5011_infoemprparcial__cnoobra__div">
  <div class="form-group">
    <label id="s5011_infoemprparcial__cnoobra__label">Número do CNO da obra*</label>
      {% if s5011_infoemprparcial_form.cnoobra.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infoemprparcial_form.cnoobra.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_infoemprparcial_form.cnoobra|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infoemprparcial__cnoobra -->