{% load templatetags %}{% load static %}



<!-- inicio__s5011_infocpseg__s5011_evtcs -->
<div class="col-md-12" id="s5011_infocpseg__s5011_evtcs__div">
  <div class="form-group">
    <label id="s5011_infocpseg__s5011_evtcs__label">Informações de contribuição previdenciária do Segurado*<a data-toggle="tooltip" title="Informações de contribuição previdenciária do Segurado."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s5011_infocpseg_form.s5011_evtcs.value %}
        <a href="{% url 's5011_evtcs_salvar' pk=s5011_infocpseg_form.s5011_evtcs.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s5011_infocpseg_form.s5011_evtcs.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infocpseg_form.s5011_evtcs.errors }}
      </div>
    {% endif %}
    {% if s5011_infocpseg_form.s5011_evtcs.field.widget.attrs.readonly %}
      {% if s5011_infocpseg_form.s5011_evtcs.field.widget.attrs.disabled %}
        {{ s5011_infocpseg_form.s5011_evtcs|addcss:'form-control' }}
        <input id="id_s5011_evtcs" name="s5011_evtcs" type="hidden" value="{{ s5011_infocpseg_form.s5011_evtcs.value }}">
      {% else %}
        {{ s5011_infocpseg_form.s5011_evtcs|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_infocpseg_form.s5011_evtcs|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_infocpseg__s5011_evtcs -->
<!-- inicio__s5011_infocpseg__vrdesccp -->
<div class="col-md-4" id="s5011_infocpseg__vrdesccp__div">
  <div class="form-group">
    <label id="s5011_infocpseg__vrdesccp__label">Valor total descontada dos segurados*<a data-toggle="tooltip" title="Valor total da contribuição descontada dos segurados. Origem: campo {valor}, quando {tpValor} = [21] - Valor total descontado do trabalhador para recolhimento à Previdência Social, do grupo {infoBaseCS} no evento S-5001."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infocpseg_form.vrdesccp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_infocpseg_form.vrdesccp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_infocpseg_form.vrdesccp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infocpseg__vrdesccp -->
<!-- inicio__s5011_infocpseg__vrcpseg -->
<div class="col-md-4" id="s5011_infocpseg__vrcpseg__div">
  <div class="form-group">
    <label id="s5011_infocpseg__vrcpseg__label">Valor da contribuição do segurado*<a data-toggle="tooltip" title="Valor total calculado relativo à contribuição dos segurados. Origem: campo {vrCpSeg}, do grupo {infoCpCalc} no evento S-5001."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infocpseg_form.vrcpseg.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_infocpseg_form.vrcpseg.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_infocpseg_form.vrcpseg|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infocpseg__vrcpseg -->