{% load templatetags %}{% load static %}



<!-- inicio__s5011_ideestab__s5011_evtcs -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5011_evtcs').change(function(){
       document.getElementById("s5011_ideestab__s5011_evtcs__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5011_ideestab__s5011_evtcs__div">
  <div class="form-group">
    <label id="s5011_ideestab__s5011_evtcs__label">Informações de identificação do estabelecimento, obra ou órgão público e período de validade das informações que estão sendo incluídas*</label>
    {% if not for_print %}
      {% if s5011_ideestab_form.s5011_evtcs.value %}
        <a id="s5011_ideestab__s5011_evtcs__div_acessar" href="{% url 's5011_evtcs_salvar' pk=s5011_ideestab_form.s5011_evtcs.value %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5011_ideestab_form.s5011_evtcs.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_ideestab_form.s5011_evtcs.errors }}
      </div>
    {% endif %}
    {% if s5011_ideestab_form.s5011_evtcs.field.widget.attrs.readonly %}
      {% if s5011_ideestab_form.s5011_evtcs.field.widget.attrs.disabled %}
        {{ s5011_ideestab_form.s5011_evtcs|addcss:'form-control' }}
        <input id="id_s5011_evtcs" name="s5011_evtcs" type="hidden" value="{% if s5011_ideestab_form.s5011_evtcs.value or s5011_ideestab_form.s5011_evtcs.value == 0 %}{{ s5011_ideestab_form.s5011_evtcs.value|valor }}{% endif %}">
      {% else %}
        {{ s5011_ideestab_form.s5011_evtcs|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_ideestab_form.s5011_evtcs|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_ideestab__s5011_evtcs -->
<!-- inicio__s5011_ideestab__tpinsc -->
<div class="col-md-4" id="s5011_ideestab__tpinsc__div">
  <div class="form-group">
    <label id="s5011_ideestab__tpinsc__label">Tipo de inscrição*</label>
    {% if s5011_ideestab_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_ideestab_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5011_ideestab_form.tpinsc.field.widget.attrs.readonly %}
        {% if s5011_ideestab_form.tpinsc.field.widget.attrs.disabled %}
          {{ s5011_ideestab_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s5011_ideestab_form.tpinsc.value or s5011_ideestab_form.tpinsc.value == 0 %}{{ s5011_ideestab_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s5011_ideestab_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5011_ideestab_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5011_ideestab__tpinsc -->
<!-- inicio__s5011_ideestab__nrinsc -->
<div class="col-md-4" id="s5011_ideestab__nrinsc__div">
  <div class="form-group">
    <label id="s5011_ideestab__nrinsc__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s5011_ideestab_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_ideestab_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_ideestab_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_ideestab__nrinsc -->