{% load templatetags %}{% load static %}



<!-- inicio__s5011_infosubstpatropport__s5011_idelotacao -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5011_idelotacao').change(function(){
       document.getElementById("s5011_infosubstpatropport__s5011_idelotacao__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5011_infosubstpatropport__s5011_idelotacao__div">
  <div class="form-group">
    <label id="s5011_infosubstpatropport__s5011_idelotacao__label">Registro preenchido exclusivamente pelo OGMO ({classTrib}=[09]) listando apenas seus Operadores Portuários enquadrados nos artigos 7 a 9 da Lei 12.546/2011.*</label>
    {% if not for_print %}
      {% if s5011_infosubstpatropport_form.s5011_idelotacao.value %}
        <a id="s5011_infosubstpatropport__s5011_idelotacao__div_acessar" href="{% url 's5011_idelotacao_salvar' pk=s5011_infosubstpatropport_form.s5011_idelotacao.value %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5011_infosubstpatropport_form.s5011_idelotacao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_infosubstpatropport_form.s5011_idelotacao.errors }}
      </div>
    {% endif %}
    {% if s5011_infosubstpatropport_form.s5011_idelotacao.field.widget.attrs.readonly %}
      {% if s5011_infosubstpatropport_form.s5011_idelotacao.field.widget.attrs.disabled %}
        {{ s5011_infosubstpatropport_form.s5011_idelotacao|addcss:'form-control' }}
        <input id="id_s5011_idelotacao" name="s5011_idelotacao" type="hidden" value="{% if s5011_infosubstpatropport_form.s5011_idelotacao.value or s5011_infosubstpatropport_form.s5011_idelotacao.value == 0 %}{{ s5011_infosubstpatropport_form.s5011_idelotacao.value|valor }}{% endif %}">
      {% else %}
        {{ s5011_infosubstpatropport_form.s5011_idelotacao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_infosubstpatropport_form.s5011_idelotacao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_infosubstpatropport__s5011_idelotacao -->
<!-- inicio__s5011_infosubstpatropport__cnpjopportuario -->
<div class="col-md-6" id="s5011_infosubstpatropport__cnpjopportuario__div">
  <div class="form-group">
    <label id="s5011_infosubstpatropport__cnpjopportuario__label">CNPJ do Operador Portuário*</label>
      {% if s5011_infosubstpatropport_form.cnpjopportuario.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infosubstpatropport_form.cnpjopportuario.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_infosubstpatropport_form.cnpjopportuario|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infosubstpatropport__cnpjopportuario -->