<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s5011_infopj__s5011_evtcs -->
<div class="col-md-12" id="s5011_infopj__s5011_evtcs__div">
  <div class="form-group">
    <label id="s5011_infopj__s5011_evtcs__label">Informações complementares, exclusivas da Pessoa Jurídica.*<a data-toggle="tooltip" title="Informações complementares, exclusivas da Pessoa Jurídica."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s5011_infopj_form.s5011_evtcs.value %}
        <a href="{% url 's5011_evtcs_salvar' pk=s5011_infopj_form.s5011_evtcs.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s5011_infopj_form.s5011_evtcs.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infopj_form.s5011_evtcs.errors }}
      </div>
    {% endif %}
    {% if s5011_infopj_form.s5011_evtcs.field.widget.attrs.readonly %}
      {% if s5011_infopj_form.s5011_evtcs.field.widget.attrs.disabled %}
        {{ s5011_infopj_form.s5011_evtcs|addcss:'form-control' }}
        <input id="id_s5011_evtcs" name="s5011_evtcs" type="hidden" value="{{ s5011_infopj_form.s5011_evtcs.value }}">
      {% else %}
        {{ s5011_infopj_form.s5011_evtcs|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_infopj_form.s5011_evtcs|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_infopj__s5011_evtcs -->
<!-- inicio__s5011_infopj__indcoop -->
<div class="col-md-6" id="s5011_infopj__indcoop__div">
  <div class="form-group">
    <label id="s5011_infopj__indcoop__label">Cooperativa?<a data-toggle="tooltip" title="Indicativo de Cooperativa: 0 - Não é cooperativa; 1 - Cooperativa de Trabalho; 2 - Cooperativa de Produção; 3 - Outras Cooperativas. Evento de origem (S-1000). Valores Válidos: 0, 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infopj_form.indcoop.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_infopj_form.indcoop.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5011_infopj_form.indcoop.field.widget.attrs.readonly %}
        {% if s5011_infopj_form.indcoop.field.widget.attrs.disabled %}
          {{ s5011_infopj_form.indcoop|addcss:'form-control' }}
          <input id="id_indcoop" name="indcoop" type="hidden" value="{% if s5011_infopj_form.indcoop.value or s5011_infopj_form.indcoop.value == 0 %}{{ s5011_infopj_form.indcoop.value|valor }}{% endif %}">
        {% else %}
          {{ s5011_infopj_form.indcoop|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5011_infopj_form.indcoop|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5011_infopj__indcoop -->
<!-- inicio__s5011_infopj__indconstr -->
<div class="col-md-6" id="s5011_infopj__indconstr__div">
  <div class="form-group">
    <label id="s5011_infopj__indconstr__label">Construtora?*<a data-toggle="tooltip" title="Indicativo de Construtora: 0 - Não é Construtora; 1 - Empresa Construtora. Evento de origem (S-1000). Valores Válidos: 0, 1."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infopj_form.indconstr.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_infopj_form.indconstr.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5011_infopj_form.indconstr.field.widget.attrs.readonly %}
        {% if s5011_infopj_form.indconstr.field.widget.attrs.disabled %}
          {{ s5011_infopj_form.indconstr|addcss:'form-control' }}
          <input id="id_indconstr" name="indconstr" type="hidden" value="{% if s5011_infopj_form.indconstr.value or s5011_infopj_form.indconstr.value == 0 %}{{ s5011_infopj_form.indconstr.value|valor }}{% endif %}">
        {% else %}
          {{ s5011_infopj_form.indconstr|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5011_infopj_form.indconstr|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5011_infopj__indconstr -->
<!-- inicio__s5011_infopj__indsubstpatr -->
<div class="col-md-6" id="s5011_infopj__indsubstpatr__div">
  <div class="form-group">
    <label id="s5011_infopj__indsubstpatr__label">Substituição da CP patronal<a data-toggle="tooltip" title="Indicativo de substituição da contribuição previdenciária patronal: 1 - Integralmente substituída; 2 - Parcialmente substituída. Origem: {indSubsPatr} de S-1280. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infopj_form.indsubstpatr.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_infopj_form.indsubstpatr.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5011_infopj_form.indsubstpatr.field.widget.attrs.readonly %}
        {% if s5011_infopj_form.indsubstpatr.field.widget.attrs.disabled %}
          {{ s5011_infopj_form.indsubstpatr|addcss:'form-control' }}
          <input id="id_indsubstpatr" name="indsubstpatr" type="hidden" value="{% if s5011_infopj_form.indsubstpatr.value or s5011_infopj_form.indsubstpatr.value == 0 %}{{ s5011_infopj_form.indsubstpatr.value|valor }}{% endif %}">
        {% else %}
          {{ s5011_infopj_form.indsubstpatr|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5011_infopj_form.indsubstpatr|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5011_infopj__indsubstpatr -->
<!-- inicio__s5011_infopj__percredcontrib -->
<div class="col-md-6" id="s5011_infopj__percredcontrib__div">
  <div class="form-group">
    <label id="s5011_infopj__percredcontrib__label">Percentual não substituído pela contribuição prevista na lei 12.546/2011<a data-toggle="tooltip" title="Percentual de redução da contribuição prevista na lei 12.546/2011. Se {indSubstPatr} = 1, preencher com 0 (zero); Se {indSubstPatr} = 2, preencher com o percentual correspondente a razão entre a receita de atividades não relacionadas nos artigos 7 e 8 da Lei 12.546/2011 e a receita bruta total. Não preencher nos demais casos. Evento de origem (S-1280)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infopj_form.percredcontrib.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_infopj_form.percredcontrib.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      {{ s5011_infopj_form.percredcontrib|addcss:'form-control automate-decimal' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infopj__percredcontrib -->