{% load templatetags %}{% load static %}



<!-- inicio__s5011_infocrestab__s5011_ideestab -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5011_ideestab').change(function(){
       document.getElementById("s5011_infocrestab__s5011_ideestab__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5011_infocrestab__s5011_ideestab__div">
  <div class="form-group">
    <label id="s5011_infocrestab__s5011_ideestab__label">Informações das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, consolidadas por estabelecimento e por código de Receita - CR.*</label>
    {% if not for_print %}
      {% if s5011_infocrestab_form.s5011_ideestab.value %}
        <a id="s5011_infocrestab__s5011_ideestab__div_acessar" href="{% url 's5011_ideestab_salvar' pk=s5011_infocrestab_form.s5011_ideestab.value %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5011_infocrestab_form.s5011_ideestab.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_infocrestab_form.s5011_ideestab.errors }}
      </div>
    {% endif %}
    {% if s5011_infocrestab_form.s5011_ideestab.field.widget.attrs.readonly %}
      {% if s5011_infocrestab_form.s5011_ideestab.field.widget.attrs.disabled %}
        {{ s5011_infocrestab_form.s5011_ideestab|addcss:'form-control' }}
        <input id="id_s5011_ideestab" name="s5011_ideestab" type="hidden" value="{% if s5011_infocrestab_form.s5011_ideestab.value or s5011_infocrestab_form.s5011_ideestab.value == 0 %}{{ s5011_infocrestab_form.s5011_ideestab.value|valor }}{% endif %}">
      {% else %}
        {{ s5011_infocrestab_form.s5011_ideestab|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_infocrestab_form.s5011_ideestab|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_infocrestab__s5011_ideestab -->
<!-- inicio__s5011_infocrestab__tpcr -->
<div class="col-md-3" id="s5011_infocrestab__tpcr__div">
  <div class="form-group">
    <label id="s5011_infocrestab__tpcr__label">Código da Receita (CR)*</label>
      {% if s5011_infocrestab_form.tpcr.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infocrestab_form.tpcr.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_infocrestab_form.tpcr|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infocrestab__tpcr -->
<!-- inicio__s5011_infocrestab__vrcr -->
<div class="col-md-3" id="s5011_infocrestab__vrcr__div">
  <div class="form-group">
    <label id="s5011_infocrestab__vrcr__label">Valor do CR apurado*</label>
    {% if s5011_infocrestab_form.vrcr.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_infocrestab_form.vrcr.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_infocrestab_form.vrcr|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infocrestab__vrcr -->
<!-- inicio__s5011_infocrestab__vrsuspcr -->
<div class="col-md-3" id="s5011_infocrestab__vrsuspcr__div">
  <div class="form-group">
    <label id="s5011_infocrestab__vrsuspcr__label">Valor suspenso correspondente ao CR</label>
    {% if s5011_infocrestab_form.vrsuspcr.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_infocrestab_form.vrsuspcr.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5011_infocrestab_form.vrsuspcr|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infocrestab__vrsuspcr -->