{% load templatetags %}{% load static %}



<!-- inicio__s5011_infoestab__s5011_ideestab -->
<div class="col-md-12" id="s5011_infoestab__s5011_ideestab__div">
  <div class="form-group">
    <label id="s5011_infoestab__s5011_ideestab__label">Informações do Estabelecimento ou obra*<a data-toggle="tooltip" title="Informações relativas a cada estabelecimento, necessárias à apuração das contribuições sociais."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s5011_infoestab_form.s5011_ideestab.value %}
        <a href="{% url 's5011_ideestab_salvar' pk=s5011_infoestab_form.s5011_ideestab.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s5011_infoestab_form.s5011_ideestab.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infoestab_form.s5011_ideestab.errors }}
      </div>
    {% endif %}
    {% if s5011_infoestab_form.s5011_ideestab.field.widget.attrs.readonly %}
      {% if s5011_infoestab_form.s5011_ideestab.field.widget.attrs.disabled %}
        {{ s5011_infoestab_form.s5011_ideestab|addcss:'form-control' }}
        <input id="id_s5011_ideestab" name="s5011_ideestab" type="hidden" value="{{ s5011_infoestab_form.s5011_ideestab.value }}">
      {% else %}
        {{ s5011_infoestab_form.s5011_ideestab|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5011_infoestab_form.s5011_ideestab|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5011_infoestab__s5011_ideestab -->
<!-- inicio__s5011_infoestab__cnaeprep -->
<div class="col-md-6" id="s5011_infoestab__cnaeprep__div">
  <div class="form-group">
    <label id="s5011_infoestab__cnaeprep__label">CNAE preponderante*<a data-toggle="tooltip" title="Preencher com o código CNAE conforme informado em S-1005. <validacao> Deve ser um número existente na tabela CNAE."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s5011_infoestab_form.cnaeprep.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s5011_infoestab_form.cnaeprep.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s5011_infoestab_form.cnaeprep|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infoestab__cnaeprep -->
<!-- inicio__s5011_infoestab__aliqrat -->
<div class="col-md-6" id="s5011_infoestab__aliqrat__div">
  <div class="form-group">
    <label id="s5011_infoestab__aliqrat__label">Alíquota RAT*<a data-toggle="tooltip" title="Preencher com a alíquota definida na legislação vigente para a atividade (CNAE) preponderante, conforme informado em S-1005. <opcoes>1; 2; 3<valores_validos>1, 2, 3<validacao> Deve ser igual a 1, 2 ou 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infoestab_form.aliqrat.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5011_infoestab_form.aliqrat.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5011_infoestab_form.aliqrat.field.widget.attrs.readonly %}
        {% if s5011_infoestab_form.aliqrat.field.widget.attrs.disabled %}
          {{ s5011_infoestab_form.aliqrat|addcss:'form-control' }}
          <input id="id_aliqrat" name="aliqrat" type="hidden" value="{% if s5011_infoestab_form.aliqrat.value or s5011_infoestab_form.aliqrat.value == 0 %}{{ s5011_infoestab_form.aliqrat.value|valor }}{% endif %}">
        {% else %}
          {{ s5011_infoestab_form.aliqrat|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5011_infoestab_form.aliqrat|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5011_infoestab__aliqrat -->
<!-- inicio__s5011_infoestab__fap -->
<div class="col-md-6" id="s5011_infoestab__fap__div">
  <div class="form-group">
    <label id="s5011_infoestab__fap__label">FAP*<a data-toggle="tooltip" title="Fator Acidentário de Prevenção - FAP. Origem: S-1005. <validacao> Deve ser um número maior ou igual a 0,5000 e menor ou igual a 2,0000, de acordo com o estabelecido para a empresa pelo Governamental Competente."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infoestab_form.fap.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_infoestab_form.fap.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      {{ s5011_infoestab_form.fap|addcss:'form-control automate-decimal' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infoestab__fap -->
<!-- inicio__s5011_infoestab__aliqratajust -->
<div class="col-md-6" id="s5011_infoestab__aliqratajust__div">
  <div class="form-group">
    <label id="s5011_infoestab__aliqratajust__label">Alíquota RAT (Ajustada)*<a data-toggle="tooltip" title="Alíquota do RAT após ajuste pelo FAP, conforme definido em S-1005, no campo {aliqRatAjust}. <validacao> Deve corresponder ao resultado da multiplicação dos campos {aliqRat} e {fap}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s5011_infoestab_form.aliqratajust.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5011_infoestab_form.aliqratajust.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      {{ s5011_infoestab_form.aliqratajust|addcss:'form-control automate-decimal' }}
    </div>
  </div>
</div>
<!-- fim__s5011_infoestab__aliqratajust -->