{% load templatetags %}{% load static %}



<!-- inicio__s2210_agentecausador__s2210_evtcat -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s2210_evtcat').change(function(){
       document.getElementById("s2210_agentecausador__s2210_evtcat__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s2210_agentecausador__s2210_evtcat__div">
  <div class="form-group">
    <label id="s2210_agentecausador__s2210_evtcat__label">Detalhamento do(s) agente(s) causador(es) do acidente de trabalho*</label>
    {% if not for_print %}
      {% if s2210_agentecausador_form.s2210_evtcat.value %}
        <a id="s2210_agentecausador__s2210_evtcat__div_acessar" href="{% url 's2210_evtcat_salvar' hash='{}'|json_id:s2210_agentecausador_form.s2210_evtcat.value|json_print:0|base64_encode_me %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s2210_agentecausador_form.s2210_evtcat.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2210_agentecausador_form.s2210_evtcat.errors }}
      </div>
    {% endif %}
    {% if s2210_agentecausador_form.s2210_evtcat.field.widget.attrs.readonly %}
      {% if s2210_agentecausador_form.s2210_evtcat.field.widget.attrs.disabled %}
        {{ s2210_agentecausador_form.s2210_evtcat|addcss:'form-control' }}
        <input id="id_s2210_evtcat" name="s2210_evtcat" type="hidden" value="{% if s2210_agentecausador_form.s2210_evtcat.value or s2210_agentecausador_form.s2210_evtcat.value == 0 %}{{ s2210_agentecausador_form.s2210_evtcat.value|valor }}{% endif %}">
      {% else %}
        {{ s2210_agentecausador_form.s2210_evtcat|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2210_agentecausador_form.s2210_evtcat|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2210_agentecausador__s2210_evtcat -->
<!-- inicio__s2210_agentecausador__codagntcausador -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-6" id="s2210_agentecausador__codagntcausador__div">
    <div class="form-group">
      <label id="s2210_agentecausador__codagntcausador__label">Agente Causador*</label>
        {% if s2210_agentecausador_form.codagntcausador.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2210_agentecausador_form.codagntcausador.errors }}
          </div>
        {% endif %}
        <input type="text" 
               id="txt_codagntcausador" 
               name="txt_codagntcausador" class="form-control" 
               value="{% if s2210_agentecausador.codagntcausador %}{{ s2210_agentecausador.codagntcausador|get_opcoes_titulo:345 }}{% endif %}" 
               {% if s2210_agentecausador_form.codagntcausador.field.widget.attrs.readonly %} readonly="readonly"{% endif %}
               {% if s2210_agentecausador_form.codagntcausador.field.widget.attrs.required %} required="required"{% endif %}
               {% if s2210_agentecausador_form.codagntcausador.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" 
               id="id_codagntcausador" 
               name="codagntcausador" 
               value="{% if s2210_agentecausador.codagntcausador %}{{ s2210_agentecausador_form.codagntcausador.value|valor }}{% endif %}" >
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codagntcausador').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/345/" + request.term + "/", function (data) {
          response($.map(data.opcoes, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codagntcausador').val(ui.item.value);
        return false;
      }});
    {% if s2210_agentecausador_form.codagntcausador.field.widget.attrs.required %}
    $("#id_form_s2210_agentecausador").submit(function(e) {
      $('#txt_codagntcausador').disabled = true;
        if ($('#id_codagntcausador').val() == "") {
          $('#txt_codagntcausador').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Agente Causador!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-6" id="s2210_agentecausador__codagntcausador__div">
    <div class="form-group">
      <label id="s2210_agentecausador__codagntcausador__label">Agente Causador*</label>
        <input type="text" id="txt_codagntcausador" name="txt_codagntcausador" class="form-control" value="{% if s2210_agentecausador.codagntcausador %}{{ s2210_agentecausador.codagntcausador }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2210_agentecausador__codagntcausador -->