{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r4099_evtfech or 1 %}
            <th>Responsável pelas informações</th>
            {% endif %}
            {% if show_fields.show_nmresp or 1 %}
            <th>Nome do responsável pelas informações.</th>
            {% endif %}
            {% if show_fields.show_cpfresp or 1 %}
            <th>Preencher com o CPF do responsável</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r4099_iderespinf_lista %}
        <tr>
            {% if show_fields.show_r4099_evtfech or 1 %}
            <td>{{ a.r4099_evtfech }}</td>
            {% endif %}
            {% if show_fields.show_nmresp or 1 %}
            <td>{{ a.nmresp }}</td>
            {% endif %}
            {% if show_fields.show_cpfresp or 1 %}
            <td>{{ a.cpfresp }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                        {% if perms.r4099.change_r4099ideRespInf or perms.r4099.add_r4099ideRespInf %}
                    
                        <a href="{% url 'r4099_iderespinf_salvar' pk=a.id tab='master' %}">
                            {% if perms.r4099.change_r4099ideRespInf %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.r4099.can_see_data_r4099ideRespInf %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.r4099.delete_r4099ideRespInf %}
                        <a href="{% url 'r4099_iderespinf_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
