{% load templatetags %}{% load static %}



<!-- inicio__s2410_infopenmorte__s2410_evtcdbenin -->
<div class="col-md-12" id="s2410_infopenmorte__s2410_evtcdbenin__div">
  <div class="form-group">
    <label id="s2410_infopenmorte__s2410_evtcdbenin__label">Informações relativas a pensão por morte*<a data-toggle="tooltip" title="Informações relativas à pensão por morte"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2410_infopenmorte_form.s2410_evtcdbenin.value %}
        <a href="{% url 's2410_evtcdbenin_salvar' pk=s2410_infopenmorte_form.s2410_evtcdbenin.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s2410_infopenmorte_form.s2410_evtcdbenin.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2410_infopenmorte_form.s2410_evtcdbenin.errors }}
      </div>
    {% endif %}
    {% if s2410_infopenmorte_form.s2410_evtcdbenin.field.widget.attrs.readonly %}
      {% if s2410_infopenmorte_form.s2410_evtcdbenin.field.widget.attrs.disabled %}
        {{ s2410_infopenmorte_form.s2410_evtcdbenin|addcss:'form-control' }}
        <input id="id_s2410_evtcdbenin" name="s2410_evtcdbenin" type="hidden" value="{{ s2410_infopenmorte_form.s2410_evtcdbenin.value }}">
      {% else %}
        {{ s2410_infopenmorte_form.s2410_evtcdbenin|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2410_infopenmorte_form.s2410_evtcdbenin|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2410_infopenmorte__s2410_evtcdbenin -->
<!-- inicio__s2410_infopenmorte__tppenmorte -->
<div class="col-md-6" id="s2410_infopenmorte__tppenmorte__div">
  <div class="form-group">
    <label id="s2410_infopenmorte__tppenmorte__label">Tipo de pensão por morte*<a data-toggle="tooltip" title="Tipo de pensão por morte: 1 - Vitalícia; 2 - Temporária. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2410_infopenmorte_form.tppenmorte.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2410_infopenmorte_form.tppenmorte.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2410_infopenmorte_form.tppenmorte.field.widget.attrs.readonly %}
        {% if s2410_infopenmorte_form.tppenmorte.field.widget.attrs.disabled %}
          {{ s2410_infopenmorte_form.tppenmorte|addcss:'form-control' }}
          <input id="id_tppenmorte" name="tppenmorte" type="hidden" value="{% if s2410_infopenmorte_form.tppenmorte.value or s2410_infopenmorte_form.tppenmorte.value == 0 %}{{ s2410_infopenmorte_form.tppenmorte.value|valor }}{% endif %}">
        {% else %}
          {{ s2410_infopenmorte_form.tppenmorte|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2410_infopenmorte_form.tppenmorte|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2410_infopenmorte__tppenmorte -->