{% load templatetags %}{% load static %}



<!-- inicio__r5001_rprest__r5001_infototal -->
<div class="col-md-12" id="r5001_rprest__r5001_infototal__div">
  <div class="form-group">
    <label id="r5001_rprest__r5001_infototal__label">Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre serviços prestados, apuradas no evento R-2020*<a data-toggle="tooltip" title="Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre serviços prestados, apuradas no evento R-2020"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if r5001_rprest_form.r5001_infototal.value %}
        <a href="{% url 'r5001_infototal_salvar' pk=r5001_rprest_form.r5001_infototal.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r5001_rprest_form.r5001_infototal.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r5001_rprest_form.r5001_infototal.errors }}
      </div>
    {% endif %}
    {% if r5001_rprest_form.r5001_infototal.field.widget.attrs.readonly %}
      {% if r5001_rprest_form.r5001_infototal.field.widget.attrs.disabled %}
        {{ r5001_rprest_form.r5001_infototal|addcss:'form-control' }}
        <input id="id_r5001_infototal" name="r5001_infototal" type="hidden" value="{{ r5001_rprest_form.r5001_infototal.value }}">
      {% else %}
        {{ r5001_rprest_form.r5001_infototal|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r5001_rprest_form.r5001_infototal|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r5001_rprest__r5001_infototal -->
<!-- inicio__r5001_rprest__tpinsctomador -->
<div class="col-md-6" id="r5001_rprest__tpinsctomador__div">
  <div class="form-group">
    <label id="r5001_rprest__tpinsctomador__label">Preencher com o código correspondente ao tipo de inscrição*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição. Origem: R-2020. <valores_validos> 1,4"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r5001_rprest_form.tpinsctomador.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r5001_rprest_form.tpinsctomador.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r5001_rprest_form.tpinsctomador|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__tpinsctomador -->
<!-- inicio__r5001_rprest__nrinsctomador -->
<div class="col-md-6" id="r5001_rprest__nrinsctomador__div">
  <div class="form-group">
    <label id="r5001_rprest__nrinsctomador__label">Indicar o número de inscrição do tomador, conforme indicado no campo {tpInscTomador}*<a data-toggle="tooltip" title="Número de inscrição do Tomador de Serviços, de acordo com o tipo de inscrição informado em {tpInscTomador}. Origem: R-2020."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r5001_rprest_form.nrinsctomador.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r5001_rprest_form.nrinsctomador.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r5001_rprest_form.nrinsctomador|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__nrinsctomador -->
<!-- inicio__r5001_rprest__vlrtotalbaseret -->
<div class="col-md-6" id="r5001_rprest__vlrtotalbaseret__div">
  <div class="form-group">
    <label id="r5001_rprest__vlrtotalbaseret__label">Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante*<a data-toggle="tooltip" title="Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r5001_rprest_form.vlrtotalbaseret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r5001_rprest_form.vlrtotalbaseret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r5001_rprest_form.vlrtotalbaseret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalbaseret -->
<!-- inicio__r5001_rprest__vlrtotalretprinc -->
<div class="col-md-6" id="r5001_rprest__vlrtotalretprinc__div">
  <div class="form-group">
    <label id="r5001_rprest__vlrtotalretprinc__label">Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante*<a data-toggle="tooltip" title="Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r5001_rprest_form.vlrtotalretprinc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r5001_rprest_form.vlrtotalretprinc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r5001_rprest_form.vlrtotalretprinc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalretprinc -->
<!-- inicio__r5001_rprest__vlrtotalretadic -->
<div class="col-md-6" id="r5001_rprest__vlrtotalretadic__div">
  <div class="form-group">
    <label id="r5001_rprest__vlrtotalretadic__label">Soma do valor do adicional de retenção das notas fiscais<a data-toggle="tooltip" title="Soma do valor do adicional de retenção das notas fiscais"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r5001_rprest_form.vlrtotalretadic.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r5001_rprest_form.vlrtotalretadic.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r5001_rprest_form.vlrtotalretadic|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalretadic -->
<!-- inicio__r5001_rprest__vlrtotalnretprinc -->
<div class="col-md-6" id="r5001_rprest__vlrtotalnretprinc__div">
  <div class="form-group">
    <label id="r5001_rprest__vlrtotalnretprinc__label">Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r5001_rprest_form.vlrtotalnretprinc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r5001_rprest_form.vlrtotalnretprinc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r5001_rprest_form.vlrtotalnretprinc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalnretprinc -->
<!-- inicio__r5001_rprest__vlrtotalnretadic -->
<div class="col-md-6" id="r5001_rprest__vlrtotalnretadic__div">
  <div class="form-group">
    <label id="r5001_rprest__vlrtotalnretadic__label">Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r5001_rprest_form.vlrtotalnretadic.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r5001_rprest_form.vlrtotalnretadic.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r5001_rprest_form.vlrtotalnretadic|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r5001_rprest__vlrtotalnretadic -->