{% load templatetags %}{% load static %}



<!-- inicio__r5001_infocrtom__r5001_rtom -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r5001_rtom').change(function(){
       document.getElementById("r5001_infocrtom__r5001_rtom__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r5001_infocrtom__r5001_rtom__div">
  <div class="form-group">
    <label id="r5001_infocrtom__r5001_rtom__label">Totalizador das retenções de contribuição previdenciária sobre serviços tomados*</label>
    {% if not for_print %}
      {% if r5001_infocrtom_form.r5001_rtom.value %}
        <a id="r5001_infocrtom__r5001_rtom__div_acessar" href="{% url 'r5001_rtom_salvar' pk=r5001_infocrtom_form.r5001_rtom.value %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if r5001_infocrtom_form.r5001_rtom.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r5001_infocrtom_form.r5001_rtom.errors }}
      </div>
    {% endif %}
    {% if r5001_infocrtom_form.r5001_rtom.field.widget.attrs.readonly %}
      {% if r5001_infocrtom_form.r5001_rtom.field.widget.attrs.disabled %}
        {{ r5001_infocrtom_form.r5001_rtom|addcss:'form-control' }}
        <input id="id_r5001_rtom" name="r5001_rtom" type="hidden" value="{% if r5001_infocrtom_form.r5001_rtom.value or r5001_infocrtom_form.r5001_rtom.value == 0 %}{{ r5001_infocrtom_form.r5001_rtom.value|valor }}{% endif %}">
      {% else %}
        {{ r5001_infocrtom_form.r5001_rtom|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r5001_infocrtom_form.r5001_rtom|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r5001_infocrtom__r5001_rtom -->
<!-- inicio__r5001_infocrtom__crtom -->
<div class="col-md-3" id="r5001_infocrtom__crtom__div">
  <div class="form-group">
    <label id="r5001_infocrtom__crtom__label">Código de Receita - CR relativo a contribuições sociais devidas à Previdência Social sobre serviços tomados*</label>
      {% if r5001_infocrtom_form.crtom.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r5001_infocrtom_form.crtom.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r5001_infocrtom_form.crtom|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r5001_infocrtom__crtom -->
<!-- inicio__r5001_infocrtom__vlrcrtom -->
<div class="col-md-3" id="r5001_infocrtom__vlrcrtom__div">
  <div class="form-group">
    <label id="r5001_infocrtom__vlrcrtom__label">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRTom}</label>
    {% if r5001_infocrtom_form.vlrcrtom.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r5001_infocrtom_form.vlrcrtom.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r5001_infocrtom_form.vlrcrtom|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r5001_infocrtom__vlrcrtom -->
<!-- inicio__r5001_infocrtom__vlrcrtomsusp -->
<div class="col-md-3" id="r5001_infocrtom__vlrcrtomsusp__div">
  <div class="form-group">
    <label id="r5001_infocrtom__vlrcrtomsusp__label">Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao código de Receita - CR informado em {CRTom}</label>
    {% if r5001_infocrtom_form.vlrcrtomsusp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r5001_infocrtom_form.vlrcrtomsusp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r5001_infocrtom_form.vlrcrtomsusp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r5001_infocrtom__vlrcrtomsusp -->