<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__r3010_boletim__r3010_evtespdesportivo -->
<div class="col-md-12">
  <div class="form-group">
    <label>Boletim do Espetáculo Desportivo</label>
    <select name="r3010_evtespdesportivo" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r3010_evtespdesportivo_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r3010_evtespdesportivo' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r3010_boletim__r3010_evtespdesportivo -->

<!-- inicio__r3010_boletim__nrboletim -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número do boletim relativo ao espetáculo desportivo</label>
    <div name="nrboletim" class="input-group" style="width: 100%;">
      <input type="text" name="nrboletim" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrboletim' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__nrboletim -->

<!-- inicio__r3010_boletim__tpcompeticao -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de Competição</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpcompeticao" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpcompeticao' %}selected="selected"{% endifequal %} >1 - Oficial</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpcompeticao' %}selected="selected"{% endifequal %} >2 - Não Oficial.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__tpcompeticao -->

<!-- inicio__r3010_boletim__categevento -->
<div class="col-md-6">
  <div class="form-group">
    <label>Categoria do evento</label>
    <div class="input-group" style="width: 100%;">
      <select name="categevento" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'categevento' %}selected="selected"{% endifequal %} >1 - Internacional</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'categevento' %}selected="selected"{% endifequal %} >2 - Interestadual</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'categevento' %}selected="selected"{% endifequal %} >3 - Estadual</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'categevento' %}selected="selected"{% endifequal %} >4 - Local</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__categevento -->

<!-- inicio__r3010_boletim__moddesportiva -->
<div class="col-md-6">
  <div class="form-group">
    <label>Descrição da modalidade do evento desportivo</label>
    <div name="moddesportiva" class="input-group" style="width: 100%;">
      <input type="text" name="moddesportiva" class="form-control" value="{{ dict_fields|get_value_from_dict:'moddesportiva' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__moddesportiva -->

<!-- inicio__r3010_boletim__nomecompeticao -->
<div class="col-md-6">
  <div class="form-group">
    <label>Nome da competição. (Campeonato Brasileiro, Copa do Brasil, Campeonato Estadual, entre outras)</label>
    <div name="nomecompeticao" class="input-group" style="width: 100%;">
      <input type="text" name="nomecompeticao" class="form-control" value="{{ dict_fields|get_value_from_dict:'nomecompeticao' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__nomecompeticao -->

<!-- inicio__r3010_boletim__cnpjmandante -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o CNPJ do clube mandante</label>
    <div name="cnpjmandante" class="input-group" style="width: 100%;">
      <input type="text" name="cnpjmandante" class="form-control" value="{{ dict_fields|get_value_from_dict:'cnpjmandante' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__cnpjmandante -->

<!-- inicio__r3010_boletim__cnpjvisitante -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com o número de inscrição do clube visitante no CNPJ</label>
    <div name="cnpjvisitante" class="input-group" style="width: 100%;">
      <input type="text" name="cnpjvisitante" class="form-control" value="{{ dict_fields|get_value_from_dict:'cnpjvisitante' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__cnpjvisitante -->

<!-- inicio__r3010_boletim__nomevisitante -->
<div class="col-md-6">
  <div class="form-group">
    <label>Nome do clube visitante</label>
    <div name="nomevisitante" class="input-group" style="width: 100%;">
      <input type="text" name="nomevisitante" class="form-control" value="{{ dict_fields|get_value_from_dict:'nomevisitante' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__nomevisitante -->

<!-- inicio__r3010_boletim__pracadesportiva -->
<div class="col-md-6">
  <div class="form-group">
    <label>Praça desportiva do local do evento</label>
    <div name="pracadesportiva" class="input-group" style="width: 100%;">
      <input type="text" name="pracadesportiva" class="form-control" value="{{ dict_fields|get_value_from_dict:'pracadesportiva' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__pracadesportiva -->

<!-- inicio__r3010_boletim__codmunic -->
<div class="col-md-6">
  <div class="form-group">
    <label>Código do Município</label>
    <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{{ dict_fields|get_value_from_dict:'codmunic' }}">
    <input type="hidden" id="id_codmunic" name="codmunic" value="{{ dict_fields|get_value_from_dict:'codmunic'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_codmunic').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/59/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_codmunic').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__r3010_boletim__codmunic -->

<!-- inicio__r3010_boletim__uf -->
<div class="col-md-6">
  <div class="form-group">
    <label>Preencher com a sigla da Unidade da Federação</label>
    <div class="input-group" style="width: 100%;">
      <select name="uf" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="AC" {% ifequal 'AC' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Acre</option>
        <option value="AL" {% ifequal 'AL' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Alagoas</option>
        <option value="AM" {% ifequal 'AM' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Amazonas</option>
        <option value="AP" {% ifequal 'AP' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Amapá</option>
        <option value="BA" {% ifequal 'BA' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Bahia</option>
        <option value="CE" {% ifequal 'CE' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Ceará</option>
        <option value="DF" {% ifequal 'DF' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Distrito Federal</option>
        <option value="ES" {% ifequal 'ES' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Espírito Santo</option>
        <option value="GO" {% ifequal 'GO' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Goiás</option>
        <option value="MA" {% ifequal 'MA' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Maranhão</option>
        <option value="MG" {% ifequal 'MG' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Minas Gerais</option>
        <option value="MS" {% ifequal 'MS' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Mato Grosso do Sul</option>
        <option value="MT" {% ifequal 'MT' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Mato Grosso</option>
        <option value="PA" {% ifequal 'PA' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Pará</option>
        <option value="PB" {% ifequal 'PB' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Paraíba</option>
        <option value="PE" {% ifequal 'PE' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Pernambuco</option>
        <option value="PI" {% ifequal 'PI' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Piauí</option>
        <option value="PR" {% ifequal 'PR' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Paraná</option>
        <option value="RJ" {% ifequal 'RJ' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rio de Janeiro</option>
        <option value="RN" {% ifequal 'RN' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rio Grande do Norte</option>
        <option value="RO" {% ifequal 'RO' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rondônia</option>
        <option value="RR" {% ifequal 'RR' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Roraima</option>
        <option value="RS" {% ifequal 'RS' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Rio Grande do Sul</option>
        <option value="SC" {% ifequal 'SC' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Santa Catarina</option>
        <option value="SE" {% ifequal 'SE' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Sergipe</option>
        <option value="SP" {% ifequal 'SP' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >São Paulo</option>
        <option value="TO" {% ifequal 'TO' dict_fields|get_value_from_dict:'uf' %}selected="selected"{% endifequal %} >Tocantins</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__uf -->

<!-- inicio__r3010_boletim__qtdepagantes -->
<div class="col-md-6">
  <div class="form-group">
    <label>Quantidade de espectadores pagantes do evento</label>
    <div name="qtdepagantes" class="input-group" style="width: 100%;">
      <input type="text" name="qtdepagantes" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'qtdepagantes' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__qtdepagantes -->

<!-- inicio__r3010_boletim__qtdenaopagantes -->
<div class="col-md-6">
  <div class="form-group">
    <label>Quantidade de espectadores não pagantes do evento</label>
    <div name="qtdenaopagantes" class="input-group" style="width: 100%;">
      <input type="text" name="qtdenaopagantes" class="form-control automate-integer" value="{{ dict_fields|get_value_from_dict:'qtdenaopagantes' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_boletim__qtdenaopagantes -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r3010_evtespdesportivo" value="1" {% if show_fields|get_value_from_dict:'show_r3010_evtespdesportivo' %}checked{% endif %} >Boletim do Espetáculo Desportivo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrboletim" value="1" {% if show_fields|get_value_from_dict:'show_nrboletim' %}checked{% endif %} >Número do boletim relativo ao espetáculo desportivo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpcompeticao" value="1" {% if show_fields|get_value_from_dict:'show_tpcompeticao' %}checked{% endif %} >Tipo de Competição
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_categevento" value="1" {% if show_fields|get_value_from_dict:'show_categevento' %}checked{% endif %} >Categoria do evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_moddesportiva" value="1" {% if show_fields|get_value_from_dict:'show_moddesportiva' %}checked{% endif %} >Descrição da modalidade do evento desportivo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nomecompeticao" value="1" {% if show_fields|get_value_from_dict:'show_nomecompeticao' %}checked{% endif %} >Nome da competição. (Campeonato Brasileiro, Copa do Brasil, Campeonato Estadual, entre outras)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cnpjmandante" value="1" {% if show_fields|get_value_from_dict:'show_cnpjmandante' %}checked{% endif %} >Preencher com o CNPJ do clube mandante
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_cnpjvisitante" value="1" {% if show_fields|get_value_from_dict:'show_cnpjvisitante' %}checked{% endif %} >Preencher com o número de inscrição do clube visitante no CNPJ
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nomevisitante" value="1" {% if show_fields|get_value_from_dict:'show_nomevisitante' %}checked{% endif %} >Nome do clube visitante
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_pracadesportiva" value="1" {% if show_fields|get_value_from_dict:'show_pracadesportiva' %}checked{% endif %} >Praça desportiva do local do evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codmunic" value="1" {% if show_fields|get_value_from_dict:'show_codmunic' %}checked{% endif %} >Código do Município
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_uf" value="1" {% if show_fields|get_value_from_dict:'show_uf' %}checked{% endif %} >Preencher com a sigla da Unidade da Federação
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_qtdepagantes" value="1" {% if show_fields|get_value_from_dict:'show_qtdepagantes' %}checked{% endif %} >Quantidade de espectadores pagantes do evento
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_qtdenaopagantes" value="1" {% if show_fields|get_value_from_dict:'show_qtdenaopagantes' %}checked{% endif %} >Quantidade de espectadores não pagantes do evento
    </div>
</div>


