{% load templatetags %}{% load static %}



<!-- inicio__r9001_rrecespetdesp__r9001_infototal -->
<div class="col-md-12" id="r9001_rrecespetdesp__r9001_infototal__div">
  <div class="form-group">
    <label id="r9001_rrecespetdesp__r9001_infototal__label">Totalizador da contribuição previdenciária incidente sobre Receitas de Espetáculos Desportivos, apuradas no evento R-3010.*</label>
    {% if not for_print %}{% if r9001_rrecespetdesp_form.r9001_infototal.value %}
        <a href="{% url 'r9001_infototal_salvar' pk=r9001_rrecespetdesp_form.r9001_infototal.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r9001_rrecespetdesp_form.r9001_infototal.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r9001_rrecespetdesp_form.r9001_infototal.errors }}
      </div>
    {% endif %}
    {% if r9001_rrecespetdesp_form.r9001_infototal.field.widget.attrs.readonly %}
      {% if r9001_rrecespetdesp_form.r9001_infototal.field.widget.attrs.disabled %}
        {{ r9001_rrecespetdesp_form.r9001_infototal|addcss:'form-control' }}
        <input id="id_r9001_infototal" name="r9001_infototal" type="hidden" value="{{ r9001_rrecespetdesp_form.r9001_infototal.value }}">
      {% else %}
        {{ r9001_rrecespetdesp_form.r9001_infototal|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r9001_rrecespetdesp_form.r9001_infototal|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r9001_rrecespetdesp__r9001_infototal -->
<!-- inicio__r9001_rrecespetdesp__crrecespetdesp -->
<div class="col-md-6" id="r9001_rrecespetdesp__crrecespetdesp__div">
  <div class="form-group">
    <label id="r9001_rrecespetdesp__crrecespetdesp__label">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Receita de Espetáculos Desportivos, calculada segundo as regras estabelecidas na legislação em vigor*</label>
      {% if r9001_rrecespetdesp_form.crrecespetdesp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r9001_rrecespetdesp_form.crrecespetdesp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r9001_rrecespetdesp_form.crrecespetdesp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r9001_rrecespetdesp__crrecespetdesp -->
<!-- inicio__r9001_rrecespetdesp__vlrreceitatotal -->
<div class="col-md-6" id="r9001_rrecespetdesp__vlrreceitatotal__div">
  <div class="form-group">
    <label id="r9001_rrecespetdesp__vlrreceitatotal__label">Valor da receita bruta total*</label>
    {% if r9001_rrecespetdesp_form.vlrreceitatotal.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9001_rrecespetdesp_form.vlrreceitatotal.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9001_rrecespetdesp_form.vlrreceitatotal|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9001_rrecespetdesp__vlrreceitatotal -->
<!-- inicio__r9001_rrecespetdesp__vlrcrrecespetdesp -->
<div class="col-md-6" id="r9001_rrecespetdesp__vlrcrrecespetdesp__div">
  <div class="form-group">
    <label id="r9001_rrecespetdesp__vlrcrrecespetdesp__label">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRecEspetDesp}. Origem:R-3010*</label>
    {% if r9001_rrecespetdesp_form.vlrcrrecespetdesp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9001_rrecespetdesp_form.vlrcrrecespetdesp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9001_rrecespetdesp_form.vlrcrrecespetdesp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9001_rrecespetdesp__vlrcrrecespetdesp -->
<!-- inicio__r9001_rrecespetdesp__vlrcrrecespetdespsusp -->
<div class="col-md-6" id="r9001_rrecespetdesp__vlrcrrecespetdespsusp__div">
  <div class="form-group">
    <label id="r9001_rrecespetdesp__vlrcrrecespetdespsusp__label">Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao Código de Receita - CR informado em {CRRecEspetDesp}</label>
    {% if r9001_rrecespetdesp_form.vlrcrrecespetdespsusp.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r9001_rrecespetdesp_form.vlrcrrecespetdespsusp.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r9001_rrecespetdesp_form.vlrcrrecespetdespsusp|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r9001_rrecespetdesp__vlrcrrecespetdespsusp -->