{% load templatetags %}{% load static %}



<!-- inicio__r2070_inforra_despprocjud__r2070_inforra -->
<div class="col-md-12" id="r2070_inforra_despprocjud__r2070_inforra__div">
  <div class="form-group">
    <label id="r2070_inforra_despprocjud__r2070_inforra__label">Detalhamento das despesas de processo judicial*</label>
    {% if not for_print %}{% if r2070_inforra_despprocjud_form.r2070_inforra.value %}
        <a href="{% url 'r2070_inforra_salvar' pk=r2070_inforra_despprocjud_form.r2070_inforra.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if r2070_inforra_despprocjud_form.r2070_inforra.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2070_inforra_despprocjud_form.r2070_inforra.errors }}
      </div>
    {% endif %}
    {% if r2070_inforra_despprocjud_form.r2070_inforra.field.widget.attrs.readonly %}
      {% if r2070_inforra_despprocjud_form.r2070_inforra.field.widget.attrs.disabled %}
        {{ r2070_inforra_despprocjud_form.r2070_inforra|addcss:'form-control' }}
        <input id="id_r2070_inforra" name="r2070_inforra" type="hidden" value="{{ r2070_inforra_despprocjud_form.r2070_inforra.value }}">
      {% else %}
        {{ r2070_inforra_despprocjud_form.r2070_inforra|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2070_inforra_despprocjud_form.r2070_inforra|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2070_inforra_despprocjud__r2070_inforra -->
<!-- inicio__r2070_inforra_despprocjud__vlrdespcustas -->
<div class="col-md-4" id="r2070_inforra_despprocjud__vlrdespcustas__div">
  <div class="form-group">
    <label id="r2070_inforra_despprocjud__vlrdespcustas__label">Preencher com o Valor da despesa com custas judiciais*</label>
    {% if r2070_inforra_despprocjud_form.vlrdespcustas.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2070_inforra_despprocjud_form.vlrdespcustas.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2070_inforra_despprocjud_form.vlrdespcustas|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2070_inforra_despprocjud__vlrdespcustas -->
<!-- inicio__r2070_inforra_despprocjud__vlrdespadvogados -->
<div class="col-md-4" id="r2070_inforra_despprocjud__vlrdespadvogados__div">
  <div class="form-group">
    <label id="r2070_inforra_despprocjud__vlrdespadvogados__label">Preencher com o Valor da despesa com advogado(s)*</label>
    {% if r2070_inforra_despprocjud_form.vlrdespadvogados.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2070_inforra_despprocjud_form.vlrdespadvogados.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2070_inforra_despprocjud_form.vlrdespadvogados|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2070_inforra_despprocjud__vlrdespadvogados -->