{% load templatetags %}{% load static %}



<!-- inicio__r2070_pgtoresidbr__r2070_ideestab -->
<div class="col-md-12" id="r2070_pgtoresidbr__r2070_ideestab__div">
  <div class="form-group">
    <label id="r2070_pgtoresidbr__r2070_ideestab__label">Pagamento a Pessoa Física ou Jurídica residente ou domiciliada no Brasil*</label>
    {% if not for_print %}{% if r2070_pgtoresidbr_form.r2070_ideestab.value %}
        <a href="{% url 'r2070_ideestab_salvar' pk=r2070_pgtoresidbr_form.r2070_ideestab.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if r2070_pgtoresidbr_form.r2070_ideestab.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2070_pgtoresidbr_form.r2070_ideestab.errors }}
      </div>
    {% endif %}
    {% if r2070_pgtoresidbr_form.r2070_ideestab.field.widget.attrs.readonly %}
      {% if r2070_pgtoresidbr_form.r2070_ideestab.field.widget.attrs.disabled %}
        {{ r2070_pgtoresidbr_form.r2070_ideestab|addcss:'form-control' }}
        <input id="id_r2070_ideestab" name="r2070_ideestab" type="hidden" value="{{ r2070_pgtoresidbr_form.r2070_ideestab.value }}">
      {% else %}
        {{ r2070_pgtoresidbr_form.r2070_ideestab|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2070_pgtoresidbr_form.r2070_ideestab|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2070_pgtoresidbr__r2070_ideestab -->