<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2241_altaposentesp_infoamb__s2241_altaposentesp -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações sobre as condições de trabalho insalubre/periculoso.</label>
    <select name="s2241_altaposentesp" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s2241_altaposentesp_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2241_altaposentesp' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2241_altaposentesp_infoamb__s2241_altaposentesp -->

<!-- inicio__s2241_altaposentesp_infoamb__codamb -->
<div class="col-md-6">
  <div class="form-group">
    <label>Código do Ambiente</label>
    <div name="codamb" class="input-group" style="width: 100%;">
      <input type="text" name="codamb" class="form-control" value="{{ dict_fields|get_value_from_dict:'codamb' }}">
    </div>
  </div>
</div>
<!-- fim__s2241_altaposentesp_infoamb__codamb -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2241_altaposentesp" value="1" {% if show_fields|get_value_from_dict:'show_s2241_altaposentesp' %}checked{% endif %} >Informações sobre as condições de trabalho insalubre/periculoso.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codamb" value="1" {% if show_fields|get_value_from_dict:'show_codamb' %}checked{% endif %} >Código do Ambiente
    </div>
</div>


