{% load templatetags %}{% load static %}



<!-- inicio__s2200_alvarajudicial__s2200_evtadmissao -->
<div class="col-md-12" id="s2200_alvarajudicial__s2200_evtadmissao__div">
  <div class="form-group">
    <label id="s2200_alvarajudicial__s2200_evtadmissao__label">Informações do alvará judicial em caso de contratação de menores de 14 anos, em qualquer categoria, e de maiores de 14 e menores de 16, em categoria diferente de 'Aprendiz'.*</label>
    {% if not for_print %}{% if s2200_alvarajudicial_form.s2200_evtadmissao.value %}
        <a href="{% url 's2200_evtadmissao_salvar' pk=s2200_alvarajudicial_form.s2200_evtadmissao.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2200_alvarajudicial_form.s2200_evtadmissao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2200_alvarajudicial_form.s2200_evtadmissao.errors }}
      </div>
    {% endif %}
    {% if s2200_alvarajudicial_form.s2200_evtadmissao.field.widget.attrs.readonly %}
      {% if s2200_alvarajudicial_form.s2200_evtadmissao.field.widget.attrs.disabled %}
        {{ s2200_alvarajudicial_form.s2200_evtadmissao|addcss:'form-control' }}
        <input id="id_s2200_evtadmissao" name="s2200_evtadmissao" type="hidden" value="{{ s2200_alvarajudicial_form.s2200_evtadmissao.value }}">
      {% else %}
        {{ s2200_alvarajudicial_form.s2200_evtadmissao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2200_alvarajudicial_form.s2200_evtadmissao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2200_alvarajudicial__s2200_evtadmissao -->
<!-- inicio__s2200_alvarajudicial__nrprocjud -->
<div class="col-md-6" id="s2200_alvarajudicial__nrprocjud__div">
  <div class="form-group">
    <label id="s2200_alvarajudicial__nrprocjud__label">Número do Processo Judicial*</label>
      {% if s2200_alvarajudicial_form.nrprocjud.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2200_alvarajudicial_form.nrprocjud.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2200_alvarajudicial_form.nrprocjud|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2200_alvarajudicial__nrprocjud -->