{% load templatetags %}{% load static %}



<!-- inicio__s2200_infodecjud__s2200_infoestatutario -->
<div class="col-md-12" id="s2200_infodecjud__s2200_infoestatutario__div">
  <div class="form-group">
    <label id="s2200_infodecjud__s2200_infoestatutario__label">Informações sobre os dados da decisão judicial*</label>
    {% if not for_print %}{% if s2200_infodecjud_form.s2200_infoestatutario.value %}
        <a href="{% url 's2200_infoestatutario_salvar' pk=s2200_infodecjud_form.s2200_infoestatutario.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s2200_infodecjud_form.s2200_infoestatutario.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2200_infodecjud_form.s2200_infoestatutario.errors }}
      </div>
    {% endif %}
    {% if s2200_infodecjud_form.s2200_infoestatutario.field.widget.attrs.readonly %}
      {% if s2200_infodecjud_form.s2200_infoestatutario.field.widget.attrs.disabled %}
        {{ s2200_infodecjud_form.s2200_infoestatutario|addcss:'form-control' }}
        <input id="id_s2200_infoestatutario" name="s2200_infoestatutario" type="hidden" value="{{ s2200_infodecjud_form.s2200_infoestatutario.value }}">
      {% else %}
        {{ s2200_infodecjud_form.s2200_infoestatutario|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2200_infodecjud_form.s2200_infoestatutario|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2200_infodecjud__s2200_infoestatutario -->
<!-- inicio__s2200_infodecjud__nrprocjud -->
<div class="col-md-6" id="s2200_infodecjud__nrprocjud__div">
  <div class="form-group">
    <label id="s2200_infodecjud__nrprocjud__label">Número do Processo Judicial*</label>
      {% if s2200_infodecjud_form.nrprocjud.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2200_infodecjud_form.nrprocjud.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2200_infodecjud_form.nrprocjud|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2200_infodecjud__nrprocjud -->