{% load templatetags %}{% load static %}



<!-- inicio__s2200_cessao__s2200_evtadmissao -->
<div class="col-md-12" id="s2200_cessao__s2200_evtadmissao__div">
  <div class="form-group">
    <label id="s2200_cessao__s2200_evtadmissao__label">Informações de cessão/exercício em outro órgão do trabalhador*</label>
    {% if not for_print %}{% if s2200_cessao_form.s2200_evtadmissao.value %}
        <a href="{% url 's2200_evtadmissao_salvar' pk=s2200_cessao_form.s2200_evtadmissao.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2200_cessao_form.s2200_evtadmissao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2200_cessao_form.s2200_evtadmissao.errors }}
      </div>
    {% endif %}
    {% if s2200_cessao_form.s2200_evtadmissao.field.widget.attrs.readonly %}
      {% if s2200_cessao_form.s2200_evtadmissao.field.widget.attrs.disabled %}
        {{ s2200_cessao_form.s2200_evtadmissao|addcss:'form-control' }}
        <input id="id_s2200_evtadmissao" name="s2200_evtadmissao" type="hidden" value="{{ s2200_cessao_form.s2200_evtadmissao.value }}">
      {% else %}
        {{ s2200_cessao_form.s2200_evtadmissao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2200_cessao_form.s2200_evtadmissao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2200_cessao__s2200_evtadmissao -->
<!-- inicio__s2200_cessao__dtinicessao -->
<div class="col-md-6" id="s2200_cessao__dtinicessao__div">
  <div class="form-group">
    <label id="s2200_cessao__dtinicessao__label">Data de início da cessão/exercício em outro órgão*</label>
        {% if s2200_cessao_form.dtinicessao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2200_cessao_form.dtinicessao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2200_cessao_form.dtinicessao|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2200_cessao__dtinicessao -->