<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2200_desligamento__s2200_evtadmissao -->
<div class="col-md-12" id="s2200_desligamento__s2200_evtadmissao__div">
  <div class="form-group">
    <label id="s2200_desligamento__s2200_evtadmissao__label">Informações do desligamento do trabalhador*<a data-toggle="tooltip" title="Informações do desligamento do trabalhador. Registro preenchido exclusivamente caso seja necessário enviar cadastramento inicial referente a trabalhador que já tenha sido desligado da empresa antes do início dos eventos não periódicos para o empregador no eSocial (ex: envio para pagamento de diferenças salariais - acordo/dissídio/convenção coletiva - em meses posteriores ao desligamento e sob vigência dos eventos periódicos para o empregador no eSocial) ou no caso de desligamento em data anterior à transferência do empregado."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2200_desligamento_form.s2200_evtadmissao.value %}
        <a href="{% url 's2200_evtadmissao_salvar' pk=s2200_desligamento_form.s2200_evtadmissao.value %}">
            [Acessar]
        </a>
    {% endif %}{% endif %}
    {% if s2200_desligamento_form.s2200_evtadmissao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2200_desligamento_form.s2200_evtadmissao.errors }}
      </div>
    {% endif %}
    {% if s2200_desligamento_form.s2200_evtadmissao.field.widget.attrs.readonly %}
      {% if s2200_desligamento_form.s2200_evtadmissao.field.widget.attrs.disabled %}
        {{ s2200_desligamento_form.s2200_evtadmissao|addcss:'form-control' }}
        <input id="id_s2200_evtadmissao" name="s2200_evtadmissao" type="hidden" value="{{ s2200_desligamento_form.s2200_evtadmissao.value }}">
      {% else %}
        {{ s2200_desligamento_form.s2200_evtadmissao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2200_desligamento_form.s2200_evtadmissao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2200_desligamento__s2200_evtadmissao -->
<!-- inicio__s2200_desligamento__dtdeslig -->
<div class="col-md-6" id="s2200_desligamento__dtdeslig__div">
  <div class="form-group">
    <label id="s2200_desligamento__dtdeslig__label">Data de desligamento*<a data-toggle="tooltip" title="Preencher com a data do último dia trabalhado para o respectivo vínculo. Validação: Devem ser observadas as seguintes regras: a) Deve ser igual ou posterior à data de admissão/exercício do trabalhador; b) Se {cadIni} = [S], deve ser anterior à data de início da obrigatoriedade dos eventos não periódicos para o empregador; c) Se {cadIni} = [N], deve ser anterior à data da transferência do empregado ({sucessaoVinc/dtTransf} ou {transfDom/dtTransf}). Não informar se {tpAdmissao} = [1]."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s2200_desligamento_form.dtdeslig.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2200_desligamento_form.dtdeslig.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2200_desligamento_form.dtdeslig|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2200_desligamento__dtdeslig -->