{% load templatetags %}{% load static %}



<!-- inicio__s2300_infoestagiario__s2300_infocomplementares -->
<div class="col-md-12" id="s2300_infoestagiario__s2300_infocomplementares__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__s2300_infocomplementares__label">Informações relativas ao estagiário*</label>
    {% if not for_print %}{% if s2300_infoestagiario_form.s2300_infocomplementares.value %}
        <a href="{% url 's2300_infocomplementares_salvar' hash='{}'|json_return_page:'s2300_infoestagiario_salvar'|json_return_hash:hash|json_id:s2300_infoestagiario_form.s2300_infocomplementares.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2300_infoestagiario_form.s2300_infocomplementares.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.s2300_infocomplementares.errors }}
      </div>
    {% endif %}
    {% if s2300_infoestagiario_form.s2300_infocomplementares.field.widget.attrs.readonly %}
      {% if s2300_infoestagiario_form.s2300_infocomplementares.field.widget.attrs.disabled %}
        {{ s2300_infoestagiario_form.s2300_infocomplementares|addcss:'form-control' }}
        <input id="id_s2300_infocomplementares" name="s2300_infocomplementares" type="hidden" value="{{ s2300_infoestagiario_form.s2300_infocomplementares.value }}">
      {% else %}
        {{ s2300_infoestagiario_form.s2300_infocomplementares|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2300_infoestagiario_form.s2300_infocomplementares|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2300_infoestagiario__s2300_infocomplementares -->
<!-- inicio__s2300_infoestagiario__natestagio -->
<div class="col-md-6" id="s2300_infoestagiario__natestagio__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__natestagio__label">Natureza do estágio*</label>
    {% if s2300_infoestagiario_form.natestagio.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infoestagiario_form.natestagio.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infoestagiario_form.natestagio.field.widget.attrs.readonly %}
        {% if s2300_infoestagiario_form.natestagio.field.widget.attrs.disabled %}
          {{ s2300_infoestagiario_form.natestagio|addcss:'form-control' }}
          <input id="id_natestagio" name="natestagio" type="hidden" value="{% if s2300_infoestagiario_form.natestagio.value or s2300_infoestagiario_form.natestagio.value == 0 %}{{ s2300_infoestagiario_form.natestagio.value }}{% endif %}">
        {% else %}
          {{ s2300_infoestagiario_form.natestagio|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infoestagiario_form.natestagio|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__natestagio -->
<!-- inicio__s2300_infoestagiario__nivestagio -->
<div class="col-md-6" id="s2300_infoestagiario__nivestagio__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__nivestagio__label">Nível*</label>
    {% if s2300_infoestagiario_form.nivestagio.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infoestagiario_form.nivestagio.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infoestagiario_form.nivestagio.field.widget.attrs.readonly %}
        {% if s2300_infoestagiario_form.nivestagio.field.widget.attrs.disabled %}
          {{ s2300_infoestagiario_form.nivestagio|addcss:'form-control' }}
          <input id="id_nivestagio" name="nivestagio" type="hidden" value="{% if s2300_infoestagiario_form.nivestagio.value or s2300_infoestagiario_form.nivestagio.value == 0 %}{{ s2300_infoestagiario_form.nivestagio.value|valor }}{% endif %}">
        {% else %}
          {{ s2300_infoestagiario_form.nivestagio|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infoestagiario_form.nivestagio|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__nivestagio -->
<!-- inicio__s2300_infoestagiario__areaatuacao -->
<div class="col-md-6" id="s2300_infoestagiario__areaatuacao__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__areaatuacao__label">Área de Atuação</label>
      {% if s2300_infoestagiario_form.areaatuacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.areaatuacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.areaatuacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__areaatuacao -->
<!-- inicio__s2300_infoestagiario__nrapol -->
<div class="col-md-6" id="s2300_infoestagiario__nrapol__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__nrapol__label">Número da Apolice de seguro</label>
      {% if s2300_infoestagiario_form.nrapol.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.nrapol.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.nrapol|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__nrapol -->
<!-- inicio__s2300_infoestagiario__vlrbolsa -->
<div class="col-md-6" id="s2300_infoestagiario__vlrbolsa__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__vlrbolsa__label">Valor da Bolsa</label>
    {% if s2300_infoestagiario_form.vlrbolsa.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s2300_infoestagiario_form.vlrbolsa.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s2300_infoestagiario_form.vlrbolsa|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__vlrbolsa -->
<!-- inicio__s2300_infoestagiario__dtprevterm -->
<div class="col-md-6" id="s2300_infoestagiario__dtprevterm__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__dtprevterm__label">Data prevista para o término*</label>
        {% if s2300_infoestagiario_form.dtprevterm.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2300_infoestagiario_form.dtprevterm.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.dtprevterm|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__dtprevterm -->
<!-- inicio__s2300_infoestagiario__instensino -->
<div class="col-md-12" id="s2300_infoestagiario__instensino__div">
  <h4>Instituição de Ensino</h4>
</div>
<!-- fim__s2300_infoestagiario__instensino -->
<!-- inicio__s2300_infoestagiario__cnpjinstensino -->
<div class="col-md-6" id="s2300_infoestagiario__cnpjinstensino__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__cnpjinstensino__label">CNPJ da instituição de ensino</label>
      {% if s2300_infoestagiario_form.cnpjinstensino.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.cnpjinstensino.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.cnpjinstensino|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__cnpjinstensino -->
<!-- inicio__s2300_infoestagiario__nmrazao -->
<div class="col-md-6" id="s2300_infoestagiario__nmrazao__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__nmrazao__label">Razão Social*</label>
      {% if s2300_infoestagiario_form.nmrazao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.nmrazao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.nmrazao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__nmrazao -->
<!-- inicio__s2300_infoestagiario__dsclograd -->
<div class="col-md-6" id="s2300_infoestagiario__dsclograd__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__dsclograd__label">Logradouro</label>
      {% if s2300_infoestagiario_form.dsclograd.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.dsclograd.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.dsclograd|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__dsclograd -->
<!-- inicio__s2300_infoestagiario__nrlograd -->
<div class="col-md-6" id="s2300_infoestagiario__nrlograd__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__nrlograd__label">Número</label>
      {% if s2300_infoestagiario_form.nrlograd.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.nrlograd.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.nrlograd|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__nrlograd -->
<!-- inicio__s2300_infoestagiario__bairro -->
<div class="col-md-6" id="s2300_infoestagiario__bairro__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__bairro__label">Bairro</label>
      {% if s2300_infoestagiario_form.bairro.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.bairro.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.bairro|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__bairro -->
<!-- inicio__s2300_infoestagiario__cep -->
<div class="col-md-6" id="s2300_infoestagiario__cep__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__cep__label">CEP</label>
      {% if s2300_infoestagiario_form.cep.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infoestagiario_form.cep.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infoestagiario_form.cep|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__cep -->
<!-- inicio__s2300_infoestagiario__codmunic -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-12" id="s2300_infoestagiario__codmunic__div">
    <div class="form-group">
      <label id="s2300_infoestagiario__codmunic__label">Código do Município</label>
        {% if s2300_infoestagiario_form.codmunic.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2300_infoestagiario_form.codmunic.errors }}
          </div>
        {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if s2300_infoestagiario.codmunic %}{{ s2300_infoestagiario.codmunic }}{% endif %}" 
        {% if s2300_infoestagiario_form.codmunic.field.widget.attrs.readonly %} readonly="readonly"{% endif %}{% if s2300_infoestagiario_form.codmunic.field.widget.attrs.required %} required="required"{% endif %}{% if s2300_infoestagiario_form.codmunic.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" id="id_codmunic" name="codmunic" value="{% if s2300_infoestagiario.codmunic %}{{ s2300_infoestagiario_form.codmunic.value|valor }}{% endif %}">
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codmunic').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/municipios/json-search/" + request.term + "/", function (data) {
          response($.map(data.municipios, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codmunic').val(ui.item.value);
        return false;
      }});
    {% if s2300_infoestagiario_form.codmunic.field.widget.attrs.required %}
    $("#id_form_s2300_infoestagiario").submit(function(e) {
      $('#txt_codmunic').disabled = true;
        if ($('#id_codmunic').val() == "") {
          $('#txt_codmunic').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código do Município!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-12" id="s2300_infoestagiario__codmunic__div">
    <div class="form-group">
      <label id="s2300_infoestagiario__codmunic__label">Código do Município</label>
        {% if not for_print %}{% if s2300_infoestagiario_form.codmunic.value %}
            <a id="s2300_infoestagiario__codmunic__div_acessar" href="{% url 'municipios_salvar' hash='{}'|json_id:s2300_infoestagiario_form.codmunic.value|json_print:0|base64_encode_me %}">
                [Acessar]
            </a>
        {% endif %} {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if s2300_infoestagiario.codmunic %}{{ s2300_infoestagiario.codmunic }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2300_infoestagiario__codmunic -->
<!-- inicio__s2300_infoestagiario__uf -->
<div class="col-md-6" id="s2300_infoestagiario__uf__div">
  <div class="form-group">
    <label id="s2300_infoestagiario__uf__label">UF</label>
    {% if s2300_infoestagiario_form.uf.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infoestagiario_form.uf.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infoestagiario_form.uf.field.widget.attrs.readonly %}
        {% if s2300_infoestagiario_form.uf.field.widget.attrs.disabled %}
          {{ s2300_infoestagiario_form.uf|addcss:'form-control' }}
          <input id="id_uf" name="uf" type="hidden" value="{% if s2300_infoestagiario_form.uf.value or s2300_infoestagiario_form.uf.value == 0 %}{{ s2300_infoestagiario_form.uf.value }}{% endif %}">
        {% else %}
          {{ s2300_infoestagiario_form.uf|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infoestagiario_form.uf|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infoestagiario__uf -->