{% load templatetags %}{% load static %}



<!-- inicio__s2300_ric__s2300_documentos -->
<div class="col-md-12" id="s2300_ric__s2300_documentos__div">
  <div class="form-group">
    <label id="s2300_ric__s2300_documentos__label">Informações do Documento Nacional de Identidade - DNI (Registro de Identificação Civil - RIC)*<a data-toggle="tooltip" title="Informações do Documento Nacional de Identidade - DNI (Registro de Identificação Civil - RIC)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2300_ric_form.s2300_documentos.value %}
        <a href="{% url 's2300_documentos_salvar' pk=s2300_ric_form.s2300_documentos.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2300_ric_form.s2300_documentos.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_ric_form.s2300_documentos.errors }}
      </div>
    {% endif %}
    {% if s2300_ric_form.s2300_documentos.field.widget.attrs.readonly %}
      {% if s2300_ric_form.s2300_documentos.field.widget.attrs.disabled %}
        {{ s2300_ric_form.s2300_documentos|addcss:'form-control' }}
        <input id="id_s2300_documentos" name="s2300_documentos" type="hidden" value="{{ s2300_ric_form.s2300_documentos.value }}">
      {% else %}
        {{ s2300_ric_form.s2300_documentos|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2300_ric_form.s2300_documentos|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2300_ric__s2300_documentos -->
<!-- inicio__s2300_ric__nrric -->
<div class="col-md-3" id="s2300_ric__nrric__div">
  <div class="form-group">
    <label id="s2300_ric__nrric__label">Número do RIC*<a data-toggle="tooltip" title="Número do Documento Nacional de Identidade - DNI."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_ric_form.nrric.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_ric_form.nrric.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_ric_form.nrric|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_ric__nrric -->
<!-- inicio__s2300_ric__orgaoemissor -->
<div class="col-md-3" id="s2300_ric__orgaoemissor__div">
  <div class="form-group">
    <label id="s2300_ric__orgaoemissor__label">Órgão Emissor do RIC*<a data-toggle="tooltip" title="Órgão e UF de emissão."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_ric_form.orgaoemissor.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_ric_form.orgaoemissor.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_ric_form.orgaoemissor|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_ric__orgaoemissor -->
<!-- inicio__s2300_ric__dtexped -->
<div class="col-md-3" id="s2300_ric__dtexped__div">
  <div class="form-group">
    <label id="s2300_ric__dtexped__label">Data de Expedição do RIC<a data-toggle="tooltip" title="Data da expedição do documento."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s2300_ric_form.dtexped.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2300_ric_form.dtexped.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_ric_form.dtexped|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2300_ric__dtexped -->