{% load templatetags %}{% load static %}



<!-- inicio__s2300_cargofuncao__s2300_infocomplementares -->
<div class="col-md-12" id="s2300_cargofuncao__s2300_infocomplementares__div">
  <div class="form-group">
    <label id="s2300_cargofuncao__s2300_infocomplementares__label">Registro que apresenta o cargo e/ou função ocupada pelo trabalhador sem vínculo*<a data-toggle="tooltip" title="Registro que apresenta o cargo e/ou função ocupada pelo trabalhador sem vínculo."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2300_cargofuncao_form.s2300_infocomplementares.value %}
        <a href="{% url 's2300_infocomplementares_salvar' pk=s2300_cargofuncao_form.s2300_infocomplementares.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2300_cargofuncao_form.s2300_infocomplementares.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_cargofuncao_form.s2300_infocomplementares.errors }}
      </div>
    {% endif %}
    {% if s2300_cargofuncao_form.s2300_infocomplementares.field.widget.attrs.readonly %}
      {% if s2300_cargofuncao_form.s2300_infocomplementares.field.widget.attrs.disabled %}
        {{ s2300_cargofuncao_form.s2300_infocomplementares|addcss:'form-control' }}
        <input id="id_s2300_infocomplementares" name="s2300_infocomplementares" type="hidden" value="{{ s2300_cargofuncao_form.s2300_infocomplementares.value }}">
      {% else %}
        {{ s2300_cargofuncao_form.s2300_infocomplementares|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2300_cargofuncao_form.s2300_infocomplementares|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2300_cargofuncao__s2300_infocomplementares -->
<!-- inicio__s2300_cargofuncao__codcargo -->
<div class="col-md-4" id="s2300_cargofuncao__codcargo__div">
  <div class="form-group">
    <label id="s2300_cargofuncao__codcargo__label">Código do Cargo*<a data-toggle="tooltip" title="Preencher com o código do cargo. <validacao> Deve ser um cargo existente na tabela de Cargos e Empregos Públicos - S-1030."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_cargofuncao_form.codcargo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_cargofuncao_form.codcargo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_cargofuncao_form.codcargo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_cargofuncao__codcargo -->
<!-- inicio__s2300_cargofuncao__codfuncao -->
<div class="col-md-4" id="s2300_cargofuncao__codfuncao__div">
  <div class="form-group">
    <label id="s2300_cargofuncao__codfuncao__label">Código da Função<a data-toggle="tooltip" title="Preencher com o código da função, se utilizado pelo empregador. <validacao> Se informada, deve ser uma função existente na tabela de Funções/Cargos em Comissão - S-1040."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_cargofuncao_form.codfuncao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_cargofuncao_form.codfuncao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_cargofuncao_form.codfuncao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_cargofuncao__codfuncao -->