{% load templatetags %}{% load static %}



<!-- inicio__s2300_infodeficiencia__s2300_evttsvinicio -->
<div class="col-md-12" id="s2300_infodeficiencia__s2300_evttsvinicio__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__s2300_evttsvinicio__label">Pessoa com Deficiência*<a data-toggle="tooltip" title="Pessoa com Deficiência."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2300_infodeficiencia_form.s2300_evttsvinicio.value %}
        <a href="{% url 's2300_evttsvinicio_salvar' pk=s2300_infodeficiencia_form.s2300_evttsvinicio.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2300_infodeficiencia_form.s2300_evttsvinicio.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infodeficiencia_form.s2300_evttsvinicio.errors }}
      </div>
    {% endif %}
    {% if s2300_infodeficiencia_form.s2300_evttsvinicio.field.widget.attrs.readonly %}
      {% if s2300_infodeficiencia_form.s2300_evttsvinicio.field.widget.attrs.disabled %}
        {{ s2300_infodeficiencia_form.s2300_evttsvinicio|addcss:'form-control' }}
        <input id="id_s2300_evttsvinicio" name="s2300_evttsvinicio" type="hidden" value="{{ s2300_infodeficiencia_form.s2300_evttsvinicio.value }}">
      {% else %}
        {{ s2300_infodeficiencia_form.s2300_evttsvinicio|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2300_infodeficiencia_form.s2300_evttsvinicio|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2300_infodeficiencia__s2300_evttsvinicio -->
<!-- inicio__s2300_infodeficiencia__deffisica -->
<div class="col-md-6" id="s2300_infodeficiencia__deffisica__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__deffisica__label">Possui Deficiência Física*<a data-toggle="tooltip" title="Deficiência Física<opcoes>S - Sim; N - Não. <valores_validos> S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infodeficiencia_form.deffisica.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infodeficiencia_form.deffisica.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infodeficiencia_form.deffisica.field.widget.attrs.readonly %}
        {% if s2300_infodeficiencia_form.deffisica.field.widget.attrs.disabled %}
          {{ s2300_infodeficiencia_form.deffisica|addcss:'form-control' }}
          <input id="id_deffisica" name="deffisica" type="hidden" value="{% if s2300_infodeficiencia_form.deffisica.value or s2300_infodeficiencia_form.deffisica.value == 0 %}{{ s2300_infodeficiencia_form.deffisica.value }}{% endif %}">
        {% else %}
          {{ s2300_infodeficiencia_form.deffisica|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infodeficiencia_form.deffisica|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infodeficiencia__deffisica -->
<!-- inicio__s2300_infodeficiencia__defvisual -->
<div class="col-md-6" id="s2300_infodeficiencia__defvisual__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__defvisual__label">Possui Deficiência Visual*<a data-toggle="tooltip" title="Deficiência visual<opcoes>S - Sim; N - Não. <valores_validos> S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infodeficiencia_form.defvisual.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infodeficiencia_form.defvisual.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infodeficiencia_form.defvisual.field.widget.attrs.readonly %}
        {% if s2300_infodeficiencia_form.defvisual.field.widget.attrs.disabled %}
          {{ s2300_infodeficiencia_form.defvisual|addcss:'form-control' }}
          <input id="id_defvisual" name="defvisual" type="hidden" value="{% if s2300_infodeficiencia_form.defvisual.value or s2300_infodeficiencia_form.defvisual.value == 0 %}{{ s2300_infodeficiencia_form.defvisual.value }}{% endif %}">
        {% else %}
          {{ s2300_infodeficiencia_form.defvisual|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infodeficiencia_form.defvisual|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infodeficiencia__defvisual -->
<!-- inicio__s2300_infodeficiencia__defauditiva -->
<div class="col-md-6" id="s2300_infodeficiencia__defauditiva__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__defauditiva__label">Possui Deficiência Auditiva*<a data-toggle="tooltip" title="Deficiência auditiva<opcoes>S - Sim; N - Não. <valores_validos> S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infodeficiencia_form.defauditiva.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infodeficiencia_form.defauditiva.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infodeficiencia_form.defauditiva.field.widget.attrs.readonly %}
        {% if s2300_infodeficiencia_form.defauditiva.field.widget.attrs.disabled %}
          {{ s2300_infodeficiencia_form.defauditiva|addcss:'form-control' }}
          <input id="id_defauditiva" name="defauditiva" type="hidden" value="{% if s2300_infodeficiencia_form.defauditiva.value or s2300_infodeficiencia_form.defauditiva.value == 0 %}{{ s2300_infodeficiencia_form.defauditiva.value }}{% endif %}">
        {% else %}
          {{ s2300_infodeficiencia_form.defauditiva|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infodeficiencia_form.defauditiva|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infodeficiencia__defauditiva -->
<!-- inicio__s2300_infodeficiencia__defmental -->
<div class="col-md-6" id="s2300_infodeficiencia__defmental__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__defmental__label">Possui Deficiência Mental*<a data-toggle="tooltip" title="Deficiência Mental<opcoes>S - Sim; N - Não. <valores_validos> S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infodeficiencia_form.defmental.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infodeficiencia_form.defmental.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infodeficiencia_form.defmental.field.widget.attrs.readonly %}
        {% if s2300_infodeficiencia_form.defmental.field.widget.attrs.disabled %}
          {{ s2300_infodeficiencia_form.defmental|addcss:'form-control' }}
          <input id="id_defmental" name="defmental" type="hidden" value="{% if s2300_infodeficiencia_form.defmental.value or s2300_infodeficiencia_form.defmental.value == 0 %}{{ s2300_infodeficiencia_form.defmental.value }}{% endif %}">
        {% else %}
          {{ s2300_infodeficiencia_form.defmental|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infodeficiencia_form.defmental|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infodeficiencia__defmental -->
<!-- inicio__s2300_infodeficiencia__defintelectual -->
<div class="col-md-6" id="s2300_infodeficiencia__defintelectual__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__defintelectual__label">Possui Deficiência Intelectual*<a data-toggle="tooltip" title="Deficiência Intelectual<opcoes>S - Sim; N - Não. <valores_validos> S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infodeficiencia_form.defintelectual.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infodeficiencia_form.defintelectual.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infodeficiencia_form.defintelectual.field.widget.attrs.readonly %}
        {% if s2300_infodeficiencia_form.defintelectual.field.widget.attrs.disabled %}
          {{ s2300_infodeficiencia_form.defintelectual|addcss:'form-control' }}
          <input id="id_defintelectual" name="defintelectual" type="hidden" value="{% if s2300_infodeficiencia_form.defintelectual.value or s2300_infodeficiencia_form.defintelectual.value == 0 %}{{ s2300_infodeficiencia_form.defintelectual.value }}{% endif %}">
        {% else %}
          {{ s2300_infodeficiencia_form.defintelectual|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infodeficiencia_form.defintelectual|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infodeficiencia__defintelectual -->
<!-- inicio__s2300_infodeficiencia__reabreadap -->
<div class="col-md-6" id="s2300_infodeficiencia__reabreadap__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__reabreadap__label">Reabilitado ou Readaptado*<a data-toggle="tooltip" title="Informar se o trabalhador é reabilitado (empregado) ou readaptado (servidor público/militar). Reabilitado: estando o empregado incapacitado parcial ou totalmente para o trabalho, cumpriu Programa de Reabilitação Profissional no INSS, recebendo certificado, sendo proporcionado os meios indicados para participar do mercado de trabalho. Readaptado: o servidor está investido em cargo de atribuições e responsabilidades compatíveis com a limitação que tenha sofrido em sua capacidade física ou mental verificada em inspeção médica<opcoes>S - Sim; N - Não. <valores_validos> S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infodeficiencia_form.reabreadap.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infodeficiencia_form.reabreadap.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infodeficiencia_form.reabreadap.field.widget.attrs.readonly %}
        {% if s2300_infodeficiencia_form.reabreadap.field.widget.attrs.disabled %}
          {{ s2300_infodeficiencia_form.reabreadap|addcss:'form-control' }}
          <input id="id_reabreadap" name="reabreadap" type="hidden" value="{% if s2300_infodeficiencia_form.reabreadap.value or s2300_infodeficiencia_form.reabreadap.value == 0 %}{{ s2300_infodeficiencia_form.reabreadap.value }}{% endif %}">
        {% else %}
          {{ s2300_infodeficiencia_form.reabreadap|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infodeficiencia_form.reabreadap|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infodeficiencia__reabreadap -->
<!-- inicio__s2300_infodeficiencia__observacao -->
<div class="col-md-6" id="s2300_infodeficiencia__observacao__div">
  <div class="form-group">
    <label id="s2300_infodeficiencia__observacao__label">Observações<a data-toggle="tooltip" title="Observações."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_infodeficiencia_form.observacao.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infodeficiencia_form.observacao.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infodeficiencia_form.observacao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infodeficiencia__observacao -->