{% load templatetags %}{% load static %}



<!-- inicio__s2300_infotrabcedido__s2300_infocomplementares -->
<div class="col-md-12" id="s2300_infotrabcedido__s2300_infocomplementares__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__s2300_infocomplementares__label">Informações relativas ao trabalhador cedido, preenchidas exclusivamente pelo cessionário.*<a data-toggle="tooltip" title="Informações relativas ao trabalhador cedido, preenchidas exclusivamente pelo cessionário."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2300_infotrabcedido_form.s2300_infocomplementares.value %}
        <a href="{% url 's2300_infocomplementares_salvar' pk=s2300_infotrabcedido_form.s2300_infocomplementares.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2300_infotrabcedido_form.s2300_infocomplementares.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infotrabcedido_form.s2300_infocomplementares.errors }}
      </div>
    {% endif %}
    {% if s2300_infotrabcedido_form.s2300_infocomplementares.field.widget.attrs.readonly %}
      {% if s2300_infotrabcedido_form.s2300_infocomplementares.field.widget.attrs.disabled %}
        {{ s2300_infotrabcedido_form.s2300_infocomplementares|addcss:'form-control' }}
        <input id="id_s2300_infocomplementares" name="s2300_infocomplementares" type="hidden" value="{{ s2300_infotrabcedido_form.s2300_infocomplementares.value }}">
      {% else %}
        {{ s2300_infotrabcedido_form.s2300_infocomplementares|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2300_infotrabcedido_form.s2300_infocomplementares|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2300_infotrabcedido__s2300_infocomplementares -->
<!-- inicio__s2300_infotrabcedido__categorig -->
<div class="col-md-6" id="s2300_infotrabcedido__categorig__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__categorig__label">Categoria de origem do trabalhador*<a data-toggle="tooltip" title="Preencher com o código correspondente à categoria de origem do trabalhador cedido."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_infotrabcedido_form.categorig.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infotrabcedido_form.categorig.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infotrabcedido_form.categorig|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__categorig -->
<!-- inicio__s2300_infotrabcedido__cnpjcednt -->
<div class="col-md-6" id="s2300_infotrabcedido__cnpjcednt__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__cnpjcednt__label">CNPJ do empregador cedente*<a data-toggle="tooltip" title="Informar o CNPJ da empresa cedente. <validacao> Deve ser um CNPJ válido, com raiz diferente da empresa declarante. <regras_validacao> REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_infotrabcedido_form.cnpjcednt.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infotrabcedido_form.cnpjcednt.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infotrabcedido_form.cnpjcednt|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__cnpjcednt -->
<!-- inicio__s2300_infotrabcedido__matricced -->
<div class="col-md-6" id="s2300_infotrabcedido__matricced__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__matricced__label">Matricula do trabalhador no empregador cedente*<a data-toggle="tooltip" title="Preencher com a matrícula do trabalhador no empregador de origem (Cedente)."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2300_infotrabcedido_form.matricced.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2300_infotrabcedido_form.matricced.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infotrabcedido_form.matricced|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__matricced -->
<!-- inicio__s2300_infotrabcedido__dtadmced -->
<div class="col-md-6" id="s2300_infotrabcedido__dtadmced__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__dtadmced__label">Data de admissão no empregador cedente*<a data-toggle="tooltip" title="Preencher com a data de admissão do trabalhador no empregador de origem (Cedente). <validacao> Deve ser uma data anterior a data de início informada no evento."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s2300_infotrabcedido_form.dtadmced.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2300_infotrabcedido_form.dtadmced.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2300_infotrabcedido_form.dtadmced|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__dtadmced -->
<!-- inicio__s2300_infotrabcedido__tpregtrab -->
<div class="col-md-6" id="s2300_infotrabcedido__tpregtrab__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__tpregtrab__label">Tipo de regime trabalhista*<a data-toggle="tooltip" title="Tipo de regime trabalhista<opcoes>1 - CLT - Consolidação das Leis de Trabalho e legislações trabalhistas específicas; 2 - Estatutário. <valores_validos> 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infotrabcedido_form.tpregtrab.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infotrabcedido_form.tpregtrab.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infotrabcedido_form.tpregtrab.field.widget.attrs.readonly %}
        {% if s2300_infotrabcedido_form.tpregtrab.field.widget.attrs.disabled %}
          {{ s2300_infotrabcedido_form.tpregtrab|addcss:'form-control' }}
          <input id="id_tpregtrab" name="tpregtrab" type="hidden" value="{% if s2300_infotrabcedido_form.tpregtrab.value or s2300_infotrabcedido_form.tpregtrab.value == 0 %}{{ s2300_infotrabcedido_form.tpregtrab.value|valor }}{% endif %}">
        {% else %}
          {{ s2300_infotrabcedido_form.tpregtrab|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infotrabcedido_form.tpregtrab|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__tpregtrab -->
<!-- inicio__s2300_infotrabcedido__tpregprev -->
<div class="col-md-6" id="s2300_infotrabcedido__tpregprev__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__tpregprev__label">Tipo de regime previdenciário*<a data-toggle="tooltip" title="Tipo de regime previdenciário conforme opções abaixo<opcoes>1 - Regime Geral da Previdência Social - RGPS; 2 - Regime Próprio de Previdência Social - RPPS; 3 - Regime de Previdência Social no Exterior. <validacao> Se {categOrig} for relativa a Empregado, não pode ser preenchido com [2]. <valores_validos> 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infotrabcedido_form.tpregprev.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infotrabcedido_form.tpregprev.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infotrabcedido_form.tpregprev.field.widget.attrs.readonly %}
        {% if s2300_infotrabcedido_form.tpregprev.field.widget.attrs.disabled %}
          {{ s2300_infotrabcedido_form.tpregprev|addcss:'form-control' }}
          <input id="id_tpregprev" name="tpregprev" type="hidden" value="{% if s2300_infotrabcedido_form.tpregprev.value or s2300_infotrabcedido_form.tpregprev.value == 0 %}{{ s2300_infotrabcedido_form.tpregprev.value|valor }}{% endif %}">
        {% else %}
          {{ s2300_infotrabcedido_form.tpregprev|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infotrabcedido_form.tpregprev|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__tpregprev -->
<!-- inicio__s2300_infotrabcedido__infonus -->
<div class="col-md-6" id="s2300_infotrabcedido__infonus__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__infonus__label">Onus da cessão/requisição*<a data-toggle="tooltip" title="Ônus da cessão/requisição<opcoes>1 - Ônus do Cedente; 2 - Ônus do Cessionário; 3 - Ônus do Cedente e Cessionário. <valores_validos> 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infotrabcedido_form.infonus.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infotrabcedido_form.infonus.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infotrabcedido_form.infonus.field.widget.attrs.readonly %}
        {% if s2300_infotrabcedido_form.infonus.field.widget.attrs.disabled %}
          {{ s2300_infotrabcedido_form.infonus|addcss:'form-control' }}
          <input id="id_infonus" name="infonus" type="hidden" value="{% if s2300_infotrabcedido_form.infonus.value or s2300_infotrabcedido_form.infonus.value == 0 %}{{ s2300_infotrabcedido_form.infonus.value|valor }}{% endif %}">
        {% else %}
          {{ s2300_infotrabcedido_form.infonus|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infotrabcedido_form.infonus|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__infonus -->
<!-- inicio__s2300_infotrabcedido__indremuncargo -->
<div class="col-md-6" id="s2300_infotrabcedido__indremuncargo__div">
  <div class="form-group">
    <label id="s2300_infotrabcedido__indremuncargo__label">Indicar se o servidor optou pela remuneração do cargo efetivo<a data-toggle="tooltip" title="Indicar se o servidor optou pela remuneração do cargo efetivo<opcoes>S - Sim; N - Não. <validacao> Preenchimento obrigatório se {codCateg} = [304]. Não preencher nos demais casos. Valores válidos: S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s2300_infotrabcedido_form.indremuncargo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2300_infotrabcedido_form.indremuncargo.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2300_infotrabcedido_form.indremuncargo.field.widget.attrs.readonly %}
        {% if s2300_infotrabcedido_form.indremuncargo.field.widget.attrs.disabled %}
          {{ s2300_infotrabcedido_form.indremuncargo|addcss:'form-control' }}
          <input id="id_indremuncargo" name="indremuncargo" type="hidden" value="{% if s2300_infotrabcedido_form.indremuncargo.value or s2300_infotrabcedido_form.indremuncargo.value == 0 %}{{ s2300_infotrabcedido_form.indremuncargo.value }}{% endif %}">
        {% else %}
          {{ s2300_infotrabcedido_form.indremuncargo|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2300_infotrabcedido_form.indremuncargo|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2300_infotrabcedido__indremuncargo -->