{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2205_documentos or 1 %}
            <th>Informações do Registro Nacional de Estrangeiro</th>
            {% endif %}
            {% if show_fields.show_nrrne or 1 %}
            <th>Número do RNE</th>
            {% endif %}
            {% if show_fields.show_orgaoemissor or 1 %}
            <th>Órgão Emissor do RIC</th>
            {% endif %}
            {% if show_fields.show_dtexped or 0 %}
            <th>Data de Expedição do RIC</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2205_rne_lista %}
        <tr>
            {% if show_fields.show_s2205_documentos %}
            <td>{{ a.s2205_documentos }}</td>
            {% endif %}
            {% if show_fields.show_nrrne %}
            <td>{{ a.nrrne }}</td>
            {% endif %}
            {% if show_fields.show_orgaoemissor %}
            <td>{{ a.orgaoemissor }}</td>
            {% endif %}
            {% if show_fields.show_dtexped %}
            <td><span style="display:none">{{ a.dtexped|date:"Y-m-d" }}</span>{{ a.dtexped|date:"d/m/Y" }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s2205.change_s2205RNE or perms.s2205.add_s2205RNE %}

                        <a href="{% url 's2205_rne_salvar' pk=a.id %}">
                            {% if perms.s2205.change_s2205RNE %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2205.can_see_data_s2205RNE %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2205.delete_s2205RNE %}
                        <a href="{% url 's2205_rne_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
