{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2205_evtaltcadastral or 1 %}
            <th>Preenchido em caso de trabalhador residente no exterior.</th>
            {% endif %}
            {% if show_fields.show_paisresid or 1 %}
            <th>País</th>
            {% endif %}
            {% if show_fields.show_dsclograd or 1 %}
            <th>Logradouro</th>
            {% endif %}
            {% if show_fields.show_nrlograd or 0 %}
            <th>Número</th>
            {% endif %}
            {% if show_fields.show_complemento or 0 %}
            <th>Complemento</th>
            {% endif %}
            {% if show_fields.show_bairro or 0 %}
            <th>Bairro</th>
            {% endif %}
            {% if show_fields.show_nmcid or 0 %}
            <th>Nome da Cidade</th>
            {% endif %}
            {% if show_fields.show_codpostal or 0 %}
            <th>Código Postal</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2205_exterior_lista %}
        <tr>
            {% if show_fields.show_s2205_evtaltcadastral or 1 %}
            <td>{{ a.s2205_evtaltcadastral }}</td>
            {% endif %}
            {% if show_fields.show_paisresid or 1 %}
            <td>{{ a.paisresid }}</td>
            {% endif %}
            {% if show_fields.show_dsclograd or 1 %}
            <td>{{ a.dsclograd }}</td>
            {% endif %}
            {% if show_fields.show_nrlograd or 0 %}
            <td>{{ a.nrlograd }}</td>
            {% endif %}
            {% if show_fields.show_complemento or 0 %}
            <td>{{ a.complemento }}</td>
            {% endif %}
            {% if show_fields.show_bairro or 0 %}
            <td>{{ a.bairro }}</td>
            {% endif %}
            {% if show_fields.show_nmcid or 0 %}
            <td>{{ a.nmcid }}</td>
            {% endif %}
            {% if show_fields.show_codpostal or 0 %}
            <td>{{ a.codpostal }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s2205.change_s2205exterior or perms.s2205.add_s2205exterior %}

                        <a href="{% url 's2205_exterior_salvar' pk=a.id %}">
                            {% if perms.s2205.change_s2205exterior %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2205.can_see_data_s2205exterior %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2205.delete_s2205exterior %}
                        <a href="{% url 's2205_exterior_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
