{% load templatetags %}{% load static %}



<!-- inicio__s1207_dmdev__s1207_evtbenprrp -->
<div class="col-md-12">
  <div class="form-group">
    <label>Identificação de cada um dos demonstrativos de valores devidos ao trabalhador antes das retenções de pensão alimentícia e IRRF</label>
    <select name="s1207_evtbenprrp" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s1207_evtbenprrp_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s1207_evtbenprrp' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s1207_dmdev__s1207_evtbenprrp -->

<!-- inicio__s1207_dmdev__tpbenef -->
<div class="col-md-3">
  <div class="form-group">
    <label>Tipo de benefício</label>
    <input type="text" id="txt_tpbenef" name="txt_tpbenef" class="form-control" value="{{ dict_fields|get_value_from_dict:'tpbenef' }}">
    <input type="hidden" id="id_tpbenef" name="tpbenef" value="{{ dict_fields|get_value_from_dict:'tpbenef'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_tpbenef').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/196/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_tpbenef').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__s1207_dmdev__tpbenef -->

<!-- inicio__s1207_dmdev__nrbenefic -->
<div class="col-md-3">
  <div class="form-group">
    <label>Número do benefício</label>
    <div name="nrbenefic" class="input-group" style="width: 100%;">
      <input type="text" name="nrbenefic" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrbenefic' }}">
    </div>
  </div>
</div>
<!-- fim__s1207_dmdev__nrbenefic -->

<!-- inicio__s1207_dmdev__idedmdev -->
<div class="col-md-3">
  <div class="form-group">
    <label>Identificador dos demostrativos de pagamento</label>
    <div name="idedmdev" class="input-group" style="width: 100%;">
      <input type="text" name="idedmdev" class="form-control" value="{{ dict_fields|get_value_from_dict:'idedmdev' }}">
    </div>
  </div>
</div>
<!-- fim__s1207_dmdev__idedmdev -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s1207_evtbenprrp" value="1" {% if show_fields|get_value_from_dict:'show_s1207_evtbenprrp' %}checked{% endif %} >Identificação de cada um dos demonstrativos de valores devidos ao trabalhador antes das retenções de pensão alimentícia e IRRF
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpbenef" value="1" {% if show_fields|get_value_from_dict:'show_tpbenef' %}checked{% endif %} >Tipo de benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrbenefic" value="1" {% if show_fields|get_value_from_dict:'show_nrbenefic' %}checked{% endif %} >Número do benefício
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_idedmdev" value="1" {% if show_fields|get_value_from_dict:'show_idedmdev' %}checked{% endif %} >Identificador dos demostrativos de pagamento
    </div>
</div>


