{% load templatetags %}{% load static %}



<!-- inicio__r2040_recursosrep__r2040_evtassocdesprep -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r2040_evtassocdesprep').change(function(){
       document.getElementById("r2040_recursosrep__r2040_evtassocdesprep__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r2040_recursosrep__r2040_evtassocdesprep__div">
  <div class="form-group">
    <label id="r2040_recursosrep__r2040_evtassocdesprep__label">Detalhamento dos repasses efetuados pelo estabelecimento indicado em {ideEstab} a Associação Desportiva que mantenha equipe de futebol profissional.*</label>
    {% if not for_print %}
      {% if r2040_recursosrep_form.r2040_evtassocdesprep.value %}
        <a id="r2040_recursosrep__r2040_evtassocdesprep__div_acessar" href="{% url 'r2040_evtassocdesprep_salvar' pk=r2040_recursosrep_form.r2040_evtassocdesprep.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if r2040_recursosrep_form.r2040_evtassocdesprep.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2040_recursosrep_form.r2040_evtassocdesprep.errors }}
      </div>
    {% endif %}
    {% if r2040_recursosrep_form.r2040_evtassocdesprep.field.widget.attrs.readonly %}
      {% if r2040_recursosrep_form.r2040_evtassocdesprep.field.widget.attrs.disabled %}
        {{ r2040_recursosrep_form.r2040_evtassocdesprep|addcss:'form-control' }}
        <input id="id_r2040_evtassocdesprep" name="r2040_evtassocdesprep" type="hidden" value="{% if r2040_recursosrep_form.r2040_evtassocdesprep.value or r2040_recursosrep_form.r2040_evtassocdesprep.value == 0 %}{{ r2040_recursosrep_form.r2040_evtassocdesprep.value|valor }}{% endif %}">
      {% else %}
        {{ r2040_recursosrep_form.r2040_evtassocdesprep|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2040_recursosrep_form.r2040_evtassocdesprep|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2040_recursosrep__r2040_evtassocdesprep -->
<!-- inicio__r2040_recursosrep__cnpjassocdesp -->
<div class="col-md-6" id="r2040_recursosrep__cnpjassocdesp__div">
  <div class="form-group">
    <label id="r2040_recursosrep__cnpjassocdesp__label">Preencher com o CNPJ da associação desportiva que mantém clube de futebol para a qual foi efetuado o repasse*</label>
      {% if r2040_recursosrep_form.cnpjassocdesp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2040_recursosrep_form.cnpjassocdesp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2040_recursosrep_form.cnpjassocdesp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2040_recursosrep__cnpjassocdesp -->
<!-- inicio__r2040_recursosrep__vlrtotalrep -->
<div class="col-md-6" id="r2040_recursosrep__vlrtotalrep__div">
  <div class="form-group">
    <label id="r2040_recursosrep__vlrtotalrep__label">Preencher com o valor bruto dos recursos repassados*</label>
    {% if r2040_recursosrep_form.vlrtotalrep.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2040_recursosrep_form.vlrtotalrep.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2040_recursosrep_form.vlrtotalrep|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2040_recursosrep__vlrtotalrep -->
<!-- inicio__r2040_recursosrep__vlrtotalret -->
<div class="col-md-6" id="r2040_recursosrep__vlrtotalret__div">
  <div class="form-group">
    <label id="r2040_recursosrep__vlrtotalret__label">Soma do valor da retenção dos recursos recebidos*</label>
    {% if r2040_recursosrep_form.vlrtotalret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2040_recursosrep_form.vlrtotalret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2040_recursosrep_form.vlrtotalret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2040_recursosrep__vlrtotalret -->
<!-- inicio__r2040_recursosrep__vlrtotalnret -->
<div class="col-md-6" id="r2040_recursosrep__vlrtotalnret__div">
  <div class="form-group">
    <label id="r2040_recursosrep__vlrtotalnret__label">Valor da retenção que deixou de ser feita pela entidade que efetuou o repasse ou que foi depositada em juízo em decorrência da decisão judicial/administrativa</label>
    {% if r2040_recursosrep_form.vlrtotalnret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2040_recursosrep_form.vlrtotalnret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2040_recursosrep_form.vlrtotalnret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2040_recursosrep__vlrtotalnret -->