{% load templatetags %}{% load static %}



<!-- inicio__cid__codigo -->
<div class="col-md-12" id="cid__codigo__div">
  <div class="form-group">
    <label id="cid__codigo__label">Código*</label>
      {% if cid_form.codigo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ cid_form.codigo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ cid_form.codigo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__cid__codigo -->
<!-- inicio__cid__descricao -->
<div class="col-md-12" id="cid__descricao__div">
  <div class="form-group">
    <label id="cid__descricao__label">Descrição*</label>
        {% if cid_form.descricao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ cid_form.descricao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ cid_form.descricao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__cid__descricao -->
<!-- inicio__cid__data_inicio -->
<div class="col-md-6" id="cid__data_inicio__div">
  <div class="form-group">
    <label id="cid__data_inicio__label">Data de Início da Validade*</label>
        {% if cid_form.data_inicio.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ cid_form.data_inicio.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ cid_form.data_inicio|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__cid__data_inicio -->
<!-- inicio__cid__data_termino -->
<div class="col-md-6" id="cid__data_termino__div">
  <div class="form-group">
    <label id="cid__data_termino__label">Data de Término da Validade</label>
        {% if cid_form.data_termino.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ cid_form.data_termino.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ cid_form.data_termino|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__cid__data_termino -->
<!-- inicio__cid__descricao_resumida -->
<div class="col-md-12" id="cid__descricao_resumida__div">
  <div class="form-group">
    <label id="cid__descricao_resumida__label">Descrição Resumida*</label>
        {% if cid_form.descricao_resumida.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ cid_form.descricao_resumida.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ cid_form.descricao_resumida|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__cid__descricao_resumida -->