{% load templatetags %}{% load static %}



<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__grupo -->
<div class="col-md-6" id="efdreinf_codigos_atividades_produtos_servicos_cprb__grupo__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__grupo__label">Grupo*</label>
    {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo.field.widget.attrs.readonly %}
        {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo.field.widget.attrs.disabled %}
          {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo|addcss:'form-control' }}
          <input id="id_grupo" name="grupo" type="hidden" value="{% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo.value or efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo.value == 0 %}{{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo.value|valor }}{% endif %}">
        {% else %}
          {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.grupo|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__grupo -->
<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__codigo -->
<div class="col-md-6" id="efdreinf_codigos_atividades_produtos_servicos_cprb__codigo__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__codigo__label">Código*</label>
      {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.codigo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.codigo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.codigo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__codigo -->
<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__descricao -->
<div class="col-md-12" id="efdreinf_codigos_atividades_produtos_servicos_cprb__descricao__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__descricao__label">Descrição*</label>
        {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.descricao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.descricao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.descricao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__descricao -->
<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__incidencia -->
<div class="col-md-12" id="efdreinf_codigos_atividades_produtos_servicos_cprb__incidencia__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__incidencia__label">Incidência</label>
        {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.incidencia.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.incidencia.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.incidencia|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__incidencia -->
<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__cr -->
<div class="col-md-6" id="efdreinf_codigos_atividades_produtos_servicos_cprb__cr__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__cr__label">CR</label>
      {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.cr.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.cr.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.cr|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__cr -->
<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__ncm -->
<div class="col-md-6" id="efdreinf_codigos_atividades_produtos_servicos_cprb__ncm__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__ncm__label">NCM</label>
      {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.ncm.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.ncm.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.ncm|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__ncm -->
<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__aliquota -->
<div class="col-md-6" id="efdreinf_codigos_atividades_produtos_servicos_cprb__aliquota__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__aliquota__label">Alíquota</label>
    {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.aliquota.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.aliquota.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.aliquota|addcss:'form-control automate-decimal' }}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__aliquota -->
<!-- inicio__efdreinf_codigos_atividades_produtos_servicos_cprb__inicio_escrituracao -->
<div class="col-md-6" id="efdreinf_codigos_atividades_produtos_servicos_cprb__inicio_escrituracao__div">
  <div class="form-group">
    <label id="efdreinf_codigos_atividades_produtos_servicos_cprb__inicio_escrituracao__label">Inicio da Escrituração</label>
        {% if efdreinf_codigos_atividades_produtos_servicos_cprb_form.inicio_escrituracao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.inicio_escrituracao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ efdreinf_codigos_atividades_produtos_servicos_cprb_form.inicio_escrituracao|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__efdreinf_codigos_atividades_produtos_servicos_cprb__inicio_escrituracao -->