{% load templatetags %}{% load static %}



<!-- inicio__esocial_naturezas_rubricas__codigo -->
<div class="col-md-12" id="esocial_naturezas_rubricas__codigo__div">
  <div class="form-group">
    <label id="esocial_naturezas_rubricas__codigo__label">Código*</label>
      {% if esocial_naturezas_rubricas_form.codigo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ esocial_naturezas_rubricas_form.codigo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ esocial_naturezas_rubricas_form.codigo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__esocial_naturezas_rubricas__codigo -->
<!-- inicio__esocial_naturezas_rubricas__titulo -->
<div class="col-md-12" id="esocial_naturezas_rubricas__titulo__div">
  <div class="form-group">
    <label id="esocial_naturezas_rubricas__titulo__label">Título*</label>
      {% if esocial_naturezas_rubricas_form.titulo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ esocial_naturezas_rubricas_form.titulo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ esocial_naturezas_rubricas_form.titulo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__esocial_naturezas_rubricas__titulo -->
<!-- inicio__esocial_naturezas_rubricas__descricao -->
<div class="col-md-12" id="esocial_naturezas_rubricas__descricao__div">
  <div class="form-group">
    <label id="esocial_naturezas_rubricas__descricao__label">Descrição*</label>
        {% if esocial_naturezas_rubricas_form.descricao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ esocial_naturezas_rubricas_form.descricao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ esocial_naturezas_rubricas_form.descricao|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__esocial_naturezas_rubricas__descricao -->
<!-- inicio__esocial_naturezas_rubricas__data_inicio -->
<div class="col-md-6" id="esocial_naturezas_rubricas__data_inicio__div">
  <div class="form-group">
    <label id="esocial_naturezas_rubricas__data_inicio__label">Data de Início da Validade*</label>
        {% if esocial_naturezas_rubricas_form.data_inicio.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ esocial_naturezas_rubricas_form.data_inicio.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ esocial_naturezas_rubricas_form.data_inicio|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__esocial_naturezas_rubricas__data_inicio -->
<!-- inicio__esocial_naturezas_rubricas__data_termino -->
<div class="col-md-6" id="esocial_naturezas_rubricas__data_termino__div">
  <div class="form-group">
    <label id="esocial_naturezas_rubricas__data_termino__label">Data de Término da Validade</label>
        {% if esocial_naturezas_rubricas_form.data_termino.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ esocial_naturezas_rubricas_form.data_termino.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ esocial_naturezas_rubricas_form.data_termino|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__esocial_naturezas_rubricas__data_termino -->