{% load templatetags %}{% load static %}



<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__codigo -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__codigo__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__codigo__label">Código*</label>
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.codigo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.codigo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.codigo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__codigo -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_01 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_01__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_01__label">Classificação Tributária 01*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_01" name="classificacao_tributaria_01" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_01|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_01 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_02 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_02__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_02__label">Classificação Tributária 02*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_02" name="classificacao_tributaria_02" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_02|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_02 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_03 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_03__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_03__label">Classificação Tributária 03*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_03" name="classificacao_tributaria_03" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_03|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_03 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_04 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_04__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_04__label">Classificação Tributária 04*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_04" name="classificacao_tributaria_04" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_04|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_04 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_06 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_06__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_06__label">Classificação Tributária 06*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_06" name="classificacao_tributaria_06" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_06|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_06 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_07 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_07__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_07__label">Classificação Tributária 07*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_07" name="classificacao_tributaria_07" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_07|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_07 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_08 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_08__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_08__label">Classificação Tributária 08*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_08" name="classificacao_tributaria_08" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_08|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_08 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_09 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_09__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_09__label">Classificação Tributária 09*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_09" name="classificacao_tributaria_09" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_09|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_09 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_10 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_10__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_10__label">Classificação Tributária 10*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_10" name="classificacao_tributaria_10" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_10|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_10 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_11 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_11__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_11__label">Classificação Tributária 11*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_11" name="classificacao_tributaria_11" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_11|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_11 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_13 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_13__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_13__label">Classificação Tributária 13*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_13" name="classificacao_tributaria_13" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_13|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_13 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_14 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_14__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_14__label">Classificação Tributária 14*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_14" name="classificacao_tributaria_14" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_14|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_14 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_21 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_21__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_21__label">Classificação Tributária 21*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_21" name="classificacao_tributaria_21" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_21|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_21 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_22 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_22__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_22__label">Classificação Tributária 22*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_22" name="classificacao_tributaria_22" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_22|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_22 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_60 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_60__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_60__label">Classificação Tributária 60*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_60" name="classificacao_tributaria_60" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_60|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_60 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_70 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_70__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_70__label">Classificação Tributária 70*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_70" name="classificacao_tributaria_70" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_70|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_70 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_80 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_80__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_80__label">Classificação Tributária 80*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_80" name="classificacao_tributaria_80" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_80|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_80 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_85 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_85__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_85__label">Classificação Tributária 85*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_85" name="classificacao_tributaria_85" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_85|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_85 -->
<!-- inicio__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_99 -->
<div class="col-md-12" id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_99__div">
  <div class="form-group">
    <label id="esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_99__label">Classificação Tributária 99*</label>
    {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99.field.widget.attrs.readonly %}
        {% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99.field.widget.attrs.disabled %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99|addcss:'form-control' }}
          <input id="id_classificacao_tributaria_99" name="classificacao_tributaria_99" type="hidden" value="{% if esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99.value or esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99.value == 0 %}{{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99.value }}{% endif %}">
        {% else %}
          {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ esocial_compatibilidades_fpas_classificacoes_tributarias_form.classificacao_tributaria_99|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__esocial_compatibilidades_fpas_classificacoes_tributarias__classificacao_tributaria_99 -->