{% load templatetags %}{% load static %}



<!-- inicio__s2210_parteatingida__s2210_evtcat -->
<div class="col-md-12">
  <div class="form-group">
    <label>Detalhamento da(s) parte(s) atingida(s) pelo acidente de trabalho.</label>
    <select name="s2210_evtcat" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s2210_evtcat_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2210_evtcat' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2210_parteatingida__s2210_evtcat -->

<!-- inicio__s2210_parteatingida__codparteating -->
<div class="col-md-4">
  <div class="form-group">
    <label>Parte Atingida</label>
    <input type="text" id="txt_codparteating" name="txt_codparteating" class="form-control" value="{{ dict_fields|get_value_from_dict:'codparteating' }}">
    <input type="hidden" id="id_codparteating" name="codparteating" value="{{ dict_fields|get_value_from_dict:'codparteating'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_codparteating').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/356/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_codparteating').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__s2210_parteatingida__codparteating -->

<!-- inicio__s2210_parteatingida__lateralidade -->
<div class="col-md-4">
  <div class="form-group">
    <label>Laterabilidade</label>
    <div class="input-group" style="width: 100%;">
      <select name="lateralidade" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'lateralidade' %}selected="selected"{% endifequal %} >0 - Não aplicável</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'lateralidade' %}selected="selected"{% endifequal %} >1 - Esquerda</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'lateralidade' %}selected="selected"{% endifequal %} >2 - Direita</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'lateralidade' %}selected="selected"{% endifequal %} >3 - Ambas. Nos casos de órgãos bilaterais, ou seja, que se situam dos lados do corpo, assinalar o lado (direito ou esquerdo). Exemplo: no caso de o órgão atingido ser uma perna, apontar qual foi a atingida (se a perna direita, se a perna esquerda, ou se ambas). Se o órgão atingido é único (como, por exemplo, a cabeça), assinalar este campo como não aplicável.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2210_parteatingida__lateralidade -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2210_evtcat" value="1" {% if show_fields|get_value_from_dict:'show_s2210_evtcat' %}checked{% endif %} >Detalhamento da(s) parte(s) atingida(s) pelo acidente de trabalho.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codparteating" value="1" {% if show_fields|get_value_from_dict:'show_codparteating' %}checked{% endif %} >Parte Atingida
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_lateralidade" value="1" {% if show_fields|get_value_from_dict:'show_lateralidade' %}checked{% endif %} >Laterabilidade
    </div>
</div>


