<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2300_oc__s2300_documentos -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações do número de registro em Órgão de Classe (OC)</label>
    <select name="s2300_documentos" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2300_documentos_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2300_documentos' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2300_oc__s2300_documentos -->

<!-- inicio__s2300_oc__nroc -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número do OC</label>
    <div name="nroc" class="input-group" style="width: 100%;">
      <input type="text" name="nroc" class="form-control" value="{{ dict_fields|get_value_from_dict:'nroc' }}">
    </div>
  </div>
</div>
<!-- fim__s2300_oc__nroc -->

<!-- inicio__s2300_oc__orgaoemissor -->
<div class="col-md-6">
  <div class="form-group">
    <label>Órgão Emissor do RIC</label>
    <div name="orgaoemissor" class="input-group" style="width: 100%;">
      <input type="text" name="orgaoemissor" class="form-control" value="{{ dict_fields|get_value_from_dict:'orgaoemissor' }}">
    </div>
  </div>
</div>
<!-- fim__s2300_oc__orgaoemissor -->

<!-- inicio__s2300_oc__dtexped -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data de Expedição do RIC</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtexped" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtexped' %}{{ dict_fields|get_value_from_dict:'dtexped' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s2300_oc__dtexped -->

<!-- inicio__s2300_oc__dtvalid -->
<div class="col-md-6">
  <div class="form-group">
    <label>Data de Validade do OC</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtvalid" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtvalid' %}{{ dict_fields|get_value_from_dict:'dtvalid' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s2300_oc__dtvalid -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2300_documentos" value="1" {% if show_fields|get_value_from_dict:'show_s2300_documentos' %}checked{% endif %} >Informações do número de registro em Órgão de Classe (OC)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nroc" value="1" {% if show_fields|get_value_from_dict:'show_nroc' %}checked{% endif %} >Número do OC
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_orgaoemissor" value="1" {% if show_fields|get_value_from_dict:'show_orgaoemissor' %}checked{% endif %} >Órgão Emissor do RIC
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtexped" value="1" {% if show_fields|get_value_from_dict:'show_dtexped' %}checked{% endif %} >Data de Expedição do RIC
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtvalid" value="1" {% if show_fields|get_value_from_dict:'show_dtvalid' %}checked{% endif %} >Data de Validade do OC
    </div>
</div>


