<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s2300_cargofuncao__s2300_infocomplementares -->
<div class="col-md-12">
  <div class="form-group">
    <label>Registro que apresenta o cargo e/ou função ocupada pelo trabalhador sem vínculo</label>
    <select name="s2300_infocomplementares" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2300_infocomplementares_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2300_infocomplementares' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2300_cargofuncao__s2300_infocomplementares -->

<!-- inicio__s2300_cargofuncao__codcargo -->
<div class="col-md-4">
  <div class="form-group">
    <label>Código do Cargo</label>
    <div name="codcargo" class="input-group" style="width: 100%;">
      <input type="text" name="codcargo" class="form-control" value="{{ dict_fields|get_value_from_dict:'codcargo' }}">
    </div>
  </div>
</div>
<!-- fim__s2300_cargofuncao__codcargo -->

<!-- inicio__s2300_cargofuncao__codfuncao -->
<div class="col-md-4">
  <div class="form-group">
    <label>Código da Função</label>
    <div name="codfuncao" class="input-group" style="width: 100%;">
      <input type="text" name="codfuncao" class="form-control" value="{{ dict_fields|get_value_from_dict:'codfuncao' }}">
    </div>
  </div>
</div>
<!-- fim__s2300_cargofuncao__codfuncao -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2300_infocomplementares" value="1" {% if show_fields|get_value_from_dict:'show_s2300_infocomplementares' %}checked{% endif %} >Registro que apresenta o cargo e/ou função ocupada pelo trabalhador sem vínculo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codcargo" value="1" {% if show_fields|get_value_from_dict:'show_codcargo' %}checked{% endif %} >Código do Cargo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_codfuncao" value="1" {% if show_fields|get_value_from_dict:'show_codfuncao' %}checked{% endif %} >Código da Função
    </div>
</div>


