{% load templatetags %}{% load static %}



<!-- inicio__s2300_fgts__s2300_infocomplementares -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações relativas ao FGTS.</label>
    <select name="s2300_infocomplementares" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s2300_infocomplementares_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s2300_infocomplementares' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s2300_fgts__s2300_infocomplementares -->

<!-- inicio__s2300_fgts__opcfgts -->
<div class="col-md-4">
  <div class="form-group">
    <label>Opção pelo FGTS</label>
    <div class="input-group" style="width: 100%;">
      <select name="opcfgts" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'opcfgts' %}selected="selected"{% endifequal %} >1 - Optante</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'opcfgts' %}selected="selected"{% endifequal %} >2 - Não Optante.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s2300_fgts__opcfgts -->

<!-- inicio__s2300_fgts__dtopcfgts -->
<div class="col-md-4">
  <div class="form-group">
    <label>Data da opção pelo FGTS</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" name="dtopcfgts" class="form-control pull-right automate-date-range" value="{% if dict_fields|get_value_from_dict:'dtopcfgts' %}{{ dict_fields|get_value_from_dict:'dtopcfgts' }}{% else %}01/01/1990 - 31/12/2050{% endif %}">
    </div>
  </div>
</div>
<!-- fim__s2300_fgts__dtopcfgts -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s2300_infocomplementares" value="1" {% if show_fields|get_value_from_dict:'show_s2300_infocomplementares' %}checked{% endif %} >Informações relativas ao FGTS.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_opcfgts" value="1" {% if show_fields|get_value_from_dict:'show_opcfgts' %}checked{% endif %} >Opção pelo FGTS
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_dtopcfgts" value="1" {% if show_fields|get_value_from_dict:'show_dtopcfgts' %}checked{% endif %} >Data da opção pelo FGTS
    </div>
</div>


