{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5002_evtirrfbenef or 1 %}
            <th>Informações relativas ao Imposto de Renda Retido na Fonte do Trabalhador e suas bases de cálculo</th>
            {% endif %}
            {% if show_fields.show_codcateg or 0 %}
            <th>Código da Categoria</th>
            {% endif %}
            {% if show_fields.show_indresbr or 1 %}
            <th>Indicador de residência</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5002_infoirrf_lista %}
        <tr>
            {% if show_fields.show_s5002_evtirrfbenef %}
            <td>{{ a.s5002_evtirrfbenef }}</td>
            {% endif %}
            {% if show_fields.show_codcateg %}
            <td>{{ a.codcateg|valor }}</td>
            {% endif %}
            {% if show_fields.show_indresbr %}
            <td>{{ a.get_indresbr_display }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
