{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5002_infoirrf %}
            <th>Informações complementares relativas a pagamentos efetuados a beneficiário residente fiscal no exterior.</th>
            {% endif %}
            {% if show_fields.show_idepais %}
            <th>Identificação do País onde foi efetuado o pagamento</th>
            {% endif %}
            {% if show_fields.show_codpais %}
            <th>Código do País</th>
            {% endif %}
            {% if show_fields.show_indnif %}
            <th>Indicador do NIF</th>
            {% endif %}
            {% if show_fields.show_nifbenef %}
            <th>Número do NIF</th>
            {% endif %}
            {% if show_fields.show_endext %}
            <th>Informações complementares de endereço do beneficiário.</th>
            {% endif %}
            {% if show_fields.show_dsclograd %}
            <th>Logradouro</th>
            {% endif %}
            {% if show_fields.show_nrlograd %}
            <th>Número</th>
            {% endif %}
            {% if show_fields.show_complem %}
            <th>Complemento</th>
            {% endif %}
            {% if show_fields.show_bairro %}
            <th>Bairro</th>
            {% endif %}
            {% if show_fields.show_nmcid %}
            <th>Nome da Cidade</th>
            {% endif %}
            {% if show_fields.show_codpostal %}
            <th>Código Postal</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5002_idepgtoext_lista %}
        <tr>
            {% if show_fields.show_s5002_infoirrf %}
            <td>{{ a.s5002_infoirrf }}</td>
            {% endif %}
            {% if show_fields.show_idepais %}
            <td></td>
            {% endif %}
            {% if show_fields.show_codpais %}
            <td>{{ a.codpais }}</td>
            {% endif %}
            {% if show_fields.show_indnif %}
            <td>{{ a.get_indnif_display }}</td>
            {% endif %}
            {% if show_fields.show_nifbenef %}
            <td>{{ a.nifbenef }}</td>
            {% endif %}
            {% if show_fields.show_endext %}
            <td></td>
            {% endif %}
            {% if show_fields.show_dsclograd %}
            <td>{{ a.dsclograd }}</td>
            {% endif %}
            {% if show_fields.show_nrlograd %}
            <td>{{ a.nrlograd }}</td>
            {% endif %}
            {% if show_fields.show_complem %}
            <td>{{ a.complem }}</td>
            {% endif %}
            {% if show_fields.show_bairro %}
            <td>{{ a.bairro }}</td>
            {% endif %}
            {% if show_fields.show_nmcid %}
            <td>{{ a.nmcid }}</td>
            {% endif %}
            {% if show_fields.show_codpostal %}
            <td>{{ a.codpostal }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
