<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s1250_nfs__s1250_ideprodutor -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1250_ideprodutor').change(function(){
       document.getElementById("s1250_nfs__s1250_ideprodutor__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1250_nfs__s1250_ideprodutor__div">
  <div class="form-group">
    <label id="s1250_nfs__s1250_ideprodutor__label">Detalhamento das notas fiscais relativas a aquisição de produção do produtor rural identificado no registro superior, não sendo obrigatório nas aquisições de produção de pessoa física/segurado especial.*<a data-toggle="tooltip" title="Detalhamento das notas fiscais relativas a aquisição de produção do produtor rural identificado no registro superior, não sendo obrigatório nas aquisições de produção de pessoa física/segurado especial."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s1250_nfs_form.s1250_ideprodutor.value %}
        <a id="s1250_nfs__s1250_ideprodutor__div_acessar" href="{% url 's1250_ideprodutor_salvar' pk=s1250_nfs_form.s1250_ideprodutor.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if s1250_nfs_form.s1250_ideprodutor.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1250_nfs_form.s1250_ideprodutor.errors }}
      </div>
    {% endif %}
    {% if s1250_nfs_form.s1250_ideprodutor.field.widget.attrs.readonly %}
      {% if s1250_nfs_form.s1250_ideprodutor.field.widget.attrs.disabled %}
        {{ s1250_nfs_form.s1250_ideprodutor|addcss:'form-control' }}
        <input id="id_s1250_ideprodutor" name="s1250_ideprodutor" type="hidden" value="{% if s1250_nfs_form.s1250_ideprodutor.value or s1250_nfs_form.s1250_ideprodutor.value == 0 %}{{ s1250_nfs_form.s1250_ideprodutor.value|valor }}{% endif %}">
      {% else %}
        {{ s1250_nfs_form.s1250_ideprodutor|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1250_nfs_form.s1250_ideprodutor|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1250_nfs__s1250_ideprodutor -->
<!-- inicio__s1250_nfs__serie -->
<div class="col-md-6" id="s1250_nfs__serie__div">
  <div class="form-group">
    <label id="s1250_nfs__serie__label">Número de Série da NF/Fatura<a data-toggle="tooltip" title="Informar o número de série da nota fiscal/fatura."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1250_nfs_form.serie.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1250_nfs_form.serie.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1250_nfs_form.serie|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1250_nfs__serie -->
<!-- inicio__s1250_nfs__nrdocto -->
<div class="col-md-6" id="s1250_nfs__nrdocto__div">
  <div class="form-group">
    <label id="s1250_nfs__nrdocto__label">Número da NF*<a data-toggle="tooltip" title="Número da Nota Fiscal/Fatura."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1250_nfs_form.nrdocto.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1250_nfs_form.nrdocto.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1250_nfs_form.nrdocto|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1250_nfs__nrdocto -->
<!-- inicio__s1250_nfs__dtemisnf -->
<div class="col-md-6" id="s1250_nfs__dtemisnf__div">
  <div class="form-group">
    <label id="s1250_nfs__dtemisnf__label">Data de emissão da NF*<a data-toggle="tooltip" title="Data de Emissão da Nota Fiscal/Fatura. Validação: O mês/ano da emissão da nota fiscal deve ser igual ao mês/ano indicado no registro de abertura do arquivo."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s1250_nfs_form.dtemisnf.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s1250_nfs_form.dtemisnf.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1250_nfs_form.dtemisnf|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s1250_nfs__dtemisnf -->
<!-- inicio__s1250_nfs__vlrbruto -->
<div class="col-md-6" id="s1250_nfs__vlrbruto__div">
  <div class="form-group">
    <label id="s1250_nfs__vlrbruto__label">Valor bruto*<a data-toggle="tooltip" title="Preencher com o valor bruto da(s) nota(s) fiscal(is)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_nfs_form.vlrbruto.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_nfs_form.vlrbruto.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_nfs_form.vlrbruto|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_nfs__vlrbruto -->
<!-- inicio__s1250_nfs__vrcpdescpr -->
<div class="col-md-6" id="s1250_nfs__vrcpdescpr__div">
  <div class="form-group">
    <label id="s1250_nfs__vrcpdescpr__label">Valor da CP descontada PR*<a data-toggle="tooltip" title="Preencher com o valor da Contribuição Previdenciária descontada pelo adquirente de produção de produtor rural - sub-rogação. Se não houver informação, preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_nfs_form.vrcpdescpr.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_nfs_form.vrcpdescpr.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_nfs_form.vrcpdescpr|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_nfs__vrcpdescpr -->
<!-- inicio__s1250_nfs__vrratdescpr -->
<div class="col-md-6" id="s1250_nfs__vrratdescpr__div">
  <div class="form-group">
    <label id="s1250_nfs__vrratdescpr__label">Valor RAT descontado do produtor rural*<a data-toggle="tooltip" title="Valor da contribuição destinada ao financiamento dos benefícios concedidos em razão do grau de incidência da incapacidade laborativa decorrente dos riscos ambientais do trabalho, incidente sobre a aquisição de produção rural de produtor rural. Se não houver informação, preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_nfs_form.vrratdescpr.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_nfs_form.vrratdescpr.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_nfs_form.vrratdescpr|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_nfs__vrratdescpr -->
<!-- inicio__s1250_nfs__vrsenardesc -->
<div class="col-md-6" id="s1250_nfs__vrsenardesc__div">
  <div class="form-group">
    <label id="s1250_nfs__vrsenardesc__label">Valor descontado destinado ao SENAR*<a data-toggle="tooltip" title="Valor da contribuição destinada ao SENAR, incidente sobre a aquisição de produção rural de produtor rural pessoa física/segurado especial. Se não houver informação, preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_nfs_form.vrsenardesc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_nfs_form.vrsenardesc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_nfs_form.vrsenardesc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_nfs__vrsenardesc -->