{% load templatetags %}{% load static %}



<!-- inicio__s1250_ideprodutor__s1250_tpaquis -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1250_tpaquis').change(function(){
       document.getElementById("s1250_ideprodutor__s1250_tpaquis__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1250_ideprodutor__s1250_tpaquis__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__s1250_tpaquis__label">Registro que identifica os produtores rurais dos quais foi efetuada aquisição da produção pelo contribuinte declarante.*<a data-toggle="tooltip" title="Registro que identifica os produtores rurais dos quais foi efetuada aquisição da produção pelo contribuinte declarante."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if s1250_ideprodutor_form.s1250_tpaquis.value %}
        <a id="s1250_ideprodutor__s1250_tpaquis__div_acessar" href="{% url 's1250_tpaquis_salvar' pk=s1250_ideprodutor_form.s1250_tpaquis.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s1250_ideprodutor_form.s1250_tpaquis.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1250_ideprodutor_form.s1250_tpaquis.errors }}
      </div>
    {% endif %}
    {% if s1250_ideprodutor_form.s1250_tpaquis.field.widget.attrs.readonly %}
      {% if s1250_ideprodutor_form.s1250_tpaquis.field.widget.attrs.disabled %}
        {{ s1250_ideprodutor_form.s1250_tpaquis|addcss:'form-control' }}
        <input id="id_s1250_tpaquis" name="s1250_tpaquis" type="hidden" value="{% if s1250_ideprodutor_form.s1250_tpaquis.value or s1250_ideprodutor_form.s1250_tpaquis.value == 0 %}{{ s1250_ideprodutor_form.s1250_tpaquis.value|valor }}{% endif %}">
      {% else %}
        {{ s1250_ideprodutor_form.s1250_tpaquis|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1250_ideprodutor_form.s1250_tpaquis|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1250_ideprodutor__s1250_tpaquis -->
<!-- inicio__s1250_ideprodutor__tpinscprod -->
<div class="col-md-6" id="s1250_ideprodutor__tpinscprod__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__tpinscprod__label">Tipo de Inscrição Produtor*<a data-toggle="tooltip" title="Tipo de inscrição do produtor (CNPJ ou CPF). <validacao> Se {indAquis} for igual a [1, 2, 4, 5], deve ser igual a [2]. Se {indAquis} for igual a [3, 6], deve ser igual a [1]. <valores_validos> 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1250_ideprodutor_form.tpinscprod.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1250_ideprodutor_form.tpinscprod.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1250_ideprodutor_form.tpinscprod|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1250_ideprodutor__tpinscprod -->
<!-- inicio__s1250_ideprodutor__nrinscprod -->
<div class="col-md-6" id="s1250_ideprodutor__nrinscprod__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__nrinscprod__label">Número de inscrição (CPF/CNPJ)*<a data-toggle="tooltip" title="Número de inscrição do produtor no CPF ou no CNPJ, de acordo com o definido no campo {tpInscProd}. <validacao> Deve ser um CPF ou CNPJ válido, de acordo com o {tpInscProd}. Deve ser diferente da inscrição do declarante."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s1250_ideprodutor_form.nrinscprod.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1250_ideprodutor_form.nrinscprod.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1250_ideprodutor_form.nrinscprod|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1250_ideprodutor__nrinscprod -->
<!-- inicio__s1250_ideprodutor__vlrbruto -->
<div class="col-md-6" id="s1250_ideprodutor__vlrbruto__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__vlrbruto__label">Valor bruto*<a data-toggle="tooltip" title="Preencher com o valor bruto da aquisição da produção rural. <validacao> Deve ser maior que zero."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_ideprodutor_form.vlrbruto.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_ideprodutor_form.vlrbruto.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_ideprodutor_form.vlrbruto|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_ideprodutor__vlrbruto -->
<!-- inicio__s1250_ideprodutor__vrcpdescpr -->
<div class="col-md-6" id="s1250_ideprodutor__vrcpdescpr__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__vrcpdescpr__label">Valor da CP descontada PR*<a data-toggle="tooltip" title="Preencher com o valor da Contribuição Previdenciária descontada pelo adquirente de produção de produtor rural - sub-rogação. Se não houver valor a ser informado, preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_ideprodutor_form.vrcpdescpr.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_ideprodutor_form.vrcpdescpr.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_ideprodutor_form.vrcpdescpr|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_ideprodutor__vrcpdescpr -->
<!-- inicio__s1250_ideprodutor__vrratdescpr -->
<div class="col-md-6" id="s1250_ideprodutor__vrratdescpr__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__vrratdescpr__label">Valor RAT descontado do produtor rural*<a data-toggle="tooltip" title="Valor da contribuição destinada ao financiamento dos benefícios concedidos em razão do grau de incidência da incapacidade laborativa decorrente dos riscos ambientais do trabalho, incidente sobre a aquisição de produção rural de produtor rural. Se não houver informação, preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_ideprodutor_form.vrratdescpr.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_ideprodutor_form.vrratdescpr.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_ideprodutor_form.vrratdescpr|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_ideprodutor__vrratdescpr -->
<!-- inicio__s1250_ideprodutor__vrsenardesc -->
<div class="col-md-6" id="s1250_ideprodutor__vrsenardesc__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__vrsenardesc__label">Valor descontado destinado ao SENAR*<a data-toggle="tooltip" title="Valor da contribuição destinada ao SENAR, incidente sobre a aquisição de produção rural de produtor rural pessoa física/segurado especial. Se não houver valor a ser informado, preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_ideprodutor_form.vrsenardesc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_ideprodutor_form.vrsenardesc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_ideprodutor_form.vrsenardesc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_ideprodutor__vrsenardesc -->
<!-- inicio__s1250_ideprodutor__indopccp -->
<div class="col-md-6" id="s1250_ideprodutor__indopccp__div">
  <div class="form-group">
    <label id="s1250_ideprodutor__indopccp__label">Indicativo da opção pelo produtor rural pela forma de tributação da contribuição previdenciária*<a data-toggle="tooltip" title="Indicativo da opção pelo produtor rural pela forma de tributação da contribuição previdenciária, nos termos do art. 25, §13, da Lei 8.212/1991 e do art. 25, §7°, da Lei 8.870/1994<opcoes>1 - Sobre a comercialização da sua produção; 2 - Sobre a folha de pagamento. <valores_validos> 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if s1250_ideprodutor_form.indopccp.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1250_ideprodutor_form.indopccp.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1250_ideprodutor_form.indopccp.field.widget.attrs.readonly %}
        {% if s1250_ideprodutor_form.indopccp.field.widget.attrs.disabled %}
          {{ s1250_ideprodutor_form.indopccp|addcss:'form-control' }}
          <input id="id_indopccp" name="indopccp" type="hidden" value="{% if s1250_ideprodutor_form.indopccp.value or s1250_ideprodutor_form.indopccp.value == 0 %}{{ s1250_ideprodutor_form.indopccp.value|valor }}{% endif %}">
        {% else %}
          {{ s1250_ideprodutor_form.indopccp|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1250_ideprodutor_form.indopccp|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1250_ideprodutor__indopccp -->