{% load templatetags %}{% load static %}



<!-- inicio__s1250_infoprocj__s1250_tpaquis -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s1250_tpaquis').change(function(){
       document.getElementById("s1250_infoprocj__s1250_tpaquis__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s1250_infoprocj__s1250_tpaquis__div">
  <div class="form-group">
    <label id="s1250_infoprocj__s1250_tpaquis__label">Registro preenchido quando houver processo judicial do adquirente ou de terceiros e que abranja a totalidade dos produtores identificados em {ideProdutor} com decisão/sentença determinando a não retenção pelo adquirente, das contribuições incidentes sobre a aquisição de produção.*</label>
    {% if not for_print %}
      {% if s1250_infoprocj_form.s1250_tpaquis.value %}
        <a id="s1250_infoprocj__s1250_tpaquis__div_acessar" href="{% url 's1250_tpaquis_salvar' pk=s1250_infoprocj_form.s1250_tpaquis.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s1250_infoprocj_form.s1250_tpaquis.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1250_infoprocj_form.s1250_tpaquis.errors }}
      </div>
    {% endif %}
    {% if s1250_infoprocj_form.s1250_tpaquis.field.widget.attrs.readonly %}
      {% if s1250_infoprocj_form.s1250_tpaquis.field.widget.attrs.disabled %}
        {{ s1250_infoprocj_form.s1250_tpaquis|addcss:'form-control' }}
        <input id="id_s1250_tpaquis" name="s1250_tpaquis" type="hidden" value="{% if s1250_infoprocj_form.s1250_tpaquis.value or s1250_infoprocj_form.s1250_tpaquis.value == 0 %}{{ s1250_infoprocj_form.s1250_tpaquis.value|valor }}{% endif %}">
      {% else %}
        {{ s1250_infoprocj_form.s1250_tpaquis|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1250_infoprocj_form.s1250_tpaquis|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1250_infoprocj__s1250_tpaquis -->
<!-- inicio__s1250_infoprocj__nrprocjud -->
<div class="col-md-6" id="s1250_infoprocj__nrprocjud__div">
  <div class="form-group">
    <label id="s1250_infoprocj__nrprocjud__label">Número do Processo Judicial*</label>
      {% if s1250_infoprocj_form.nrprocjud.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1250_infoprocj_form.nrprocjud.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1250_infoprocj_form.nrprocjud|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1250_infoprocj__nrprocjud -->
<!-- inicio__s1250_infoprocj__codsusp -->
<div class="col-md-6" id="s1250_infoprocj__codsusp__div">
  <div class="form-group">
    <label id="s1250_infoprocj__codsusp__label">Código do Indicativo da Suspensão*</label>
      {% if s1250_infoprocj_form.codsusp.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1250_infoprocj_form.codsusp.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1250_infoprocj_form.codsusp|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1250_infoprocj__codsusp -->
<!-- inicio__s1250_infoprocj__vrcpnret -->
<div class="col-md-6" id="s1250_infoprocj__vrcpnret__div">
  <div class="form-group">
    <label id="s1250_infoprocj__vrcpnret__label">Valor da CP não retida*</label>
    {% if s1250_infoprocj_form.vrcpnret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_infoprocj_form.vrcpnret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_infoprocj_form.vrcpnret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_infoprocj__vrcpnret -->
<!-- inicio__s1250_infoprocj__vrratnret -->
<div class="col-md-6" id="s1250_infoprocj__vrratnret__div">
  <div class="form-group">
    <label id="s1250_infoprocj__vrratnret__label">Valor da GILRAT*</label>
    {% if s1250_infoprocj_form.vrratnret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_infoprocj_form.vrratnret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_infoprocj_form.vrratnret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_infoprocj__vrratnret -->
<!-- inicio__s1250_infoprocj__vrsenarnret -->
<div class="col-md-6" id="s1250_infoprocj__vrsenarnret__div">
  <div class="form-group">
    <label id="s1250_infoprocj__vrsenarnret__label">Valor da CP destinada ao SENAR não retida*</label>
    {% if s1250_infoprocj_form.vrsenarnret.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s1250_infoprocj_form.vrsenarnret.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s1250_infoprocj_form.vrsenarnret|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s1250_infoprocj__vrsenarnret -->