{% load templatetags %}{% load static %}



<!-- inicio__s1070_inclusao_dadosprocjud__s1070_inclusao -->
<div class="col-md-12" id="s1070_inclusao_dadosprocjud__s1070_inclusao__div">
  <div class="form-group">
    <label id="s1070_inclusao_dadosprocjud__s1070_inclusao__label">Informações Complementares do Processo Judicial*</label>
    {% if not for_print %}{% if s1070_inclusao_dadosprocjud_form.s1070_inclusao.value %}
        <a href="{% url 's1070_inclusao_salvar' hash='{}'|json_return_page:'s1070_inclusao_dadosprocjud_salvar'|json_return_hash:hash|json_id:s1070_inclusao_dadosprocjud_form.s1070_inclusao.value|json_print:0|base64_encode_me %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s1070_inclusao_dadosprocjud_form.s1070_inclusao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1070_inclusao_dadosprocjud_form.s1070_inclusao.errors }}
      </div>
    {% endif %}
    {% if s1070_inclusao_dadosprocjud_form.s1070_inclusao.field.widget.attrs.readonly %}
      {% if s1070_inclusao_dadosprocjud_form.s1070_inclusao.field.widget.attrs.disabled %}
        {{ s1070_inclusao_dadosprocjud_form.s1070_inclusao|addcss:'form-control' }}
        <input id="id_s1070_inclusao" name="s1070_inclusao" type="hidden" value="{{ s1070_inclusao_dadosprocjud_form.s1070_inclusao.value }}">
      {% else %}
        {{ s1070_inclusao_dadosprocjud_form.s1070_inclusao|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s1070_inclusao_dadosprocjud_form.s1070_inclusao|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s1070_inclusao_dadosprocjud__s1070_inclusao -->
<!-- inicio__s1070_inclusao_dadosprocjud__ufvara -->
<div class="col-md-3" id="s1070_inclusao_dadosprocjud__ufvara__div">
  <div class="form-group">
    <label id="s1070_inclusao_dadosprocjud__ufvara__label">UF da seção jucidial*</label>
    {% if s1070_inclusao_dadosprocjud_form.ufvara.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s1070_inclusao_dadosprocjud_form.ufvara.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s1070_inclusao_dadosprocjud_form.ufvara.field.widget.attrs.readonly %}
        {% if s1070_inclusao_dadosprocjud_form.ufvara.field.widget.attrs.disabled %}
          {{ s1070_inclusao_dadosprocjud_form.ufvara|addcss:'form-control' }}
          <input id="id_ufvara" name="ufvara" type="hidden" value="{% if s1070_inclusao_dadosprocjud_form.ufvara.value or s1070_inclusao_dadosprocjud_form.ufvara.value == 0 %}{{ s1070_inclusao_dadosprocjud_form.ufvara.value }}{% endif %}">
        {% else %}
          {{ s1070_inclusao_dadosprocjud_form.ufvara|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s1070_inclusao_dadosprocjud_form.ufvara|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s1070_inclusao_dadosprocjud__ufvara -->
<!-- inicio__s1070_inclusao_dadosprocjud__codmunic -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-3" id="s1070_inclusao_dadosprocjud__codmunic__div">
    <div class="form-group">
      <label id="s1070_inclusao_dadosprocjud__codmunic__label">Código do Município*</label>
        {% if s1070_inclusao_dadosprocjud_form.codmunic.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s1070_inclusao_dadosprocjud_form.codmunic.errors }}
          </div>
        {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if s1070_inclusao_dadosprocjud.codmunic %}{{ s1070_inclusao_dadosprocjud.codmunic }}{% endif %}" 
        {% if s1070_inclusao_dadosprocjud_form.codmunic.field.widget.attrs.readonly %} readonly="readonly"{% endif %}{% if s1070_inclusao_dadosprocjud_form.codmunic.field.widget.attrs.required %} required="required"{% endif %}{% if s1070_inclusao_dadosprocjud_form.codmunic.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" id="id_codmunic" name="codmunic" value="{% if s1070_inclusao_dadosprocjud.codmunic %}{{ s1070_inclusao_dadosprocjud_form.codmunic.value|valor }}{% endif %}">
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codmunic').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/municipios/json-search/" + request.term + "/", function (data) {
          response($.map(data.municipios, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codmunic').val(ui.item.value);
        return false;
      }});
    {% if s1070_inclusao_dadosprocjud_form.codmunic.field.widget.attrs.required %}
    $("#id_form_s1070_inclusao_dadosprocjud").submit(function(e) {
      $('#txt_codmunic').disabled = true;
        if ($('#id_codmunic').val() == "") {
          $('#txt_codmunic').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código do Município!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-3" id="s1070_inclusao_dadosprocjud__codmunic__div">
    <div class="form-group">
      <label id="s1070_inclusao_dadosprocjud__codmunic__label">Código do Município*</label>
        {% if not for_print %}{% if s1070_inclusao_dadosprocjud_form.codmunic.value %}
            <a id="s1070_inclusao_dadosprocjud__codmunic__div_acessar" href="{% url 'municipios_salvar' hash='{}'|json_id:s1070_inclusao_dadosprocjud_form.codmunic.value|json_print:0|base64_encode_me %}">
                [Acessar]
            </a>
        {% endif %} {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if s1070_inclusao_dadosprocjud.codmunic %}{{ s1070_inclusao_dadosprocjud.codmunic }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s1070_inclusao_dadosprocjud__codmunic -->
<!-- inicio__s1070_inclusao_dadosprocjud__idvara -->
<div class="col-md-3" id="s1070_inclusao_dadosprocjud__idvara__div">
  <div class="form-group">
    <label id="s1070_inclusao_dadosprocjud__idvara__label">Vara*</label>
      {% if s1070_inclusao_dadosprocjud_form.idvara.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s1070_inclusao_dadosprocjud_form.idvara.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s1070_inclusao_dadosprocjud_form.idvara|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s1070_inclusao_dadosprocjud__idvara -->