{% load templatetags %}{% load static %}



<!-- inicio__s5013_infobasefgts__s5013_evtfgts -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações referentes a bases de cálculo do FGTS.</label>
    <select name="s5013_evtfgts" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s5013_evtfgts_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s5013_evtfgts' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s5013_infobasefgts__s5013_evtfgts -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s5013_evtfgts" value="1" {% if show_fields|get_value_from_dict:'show_s5013_evtfgts' %}checked{% endif %} >Informações referentes a bases de cálculo do FGTS.
    </div>
</div>


