{% load templatetags %}{% load static %}



<!-- inicio__s2410_homologtc__s2410_evtcdbenin -->
<div class="col-md-12" id="s2410_homologtc__s2410_evtcdbenin__div">
  <div class="form-group">
    <label id="s2410_homologtc__s2410_evtcdbenin__label">Registro que apresenta as informações de homologação do benefício pelo Tribunal de Contas*<a data-toggle="tooltip" title="Registro que apresenta as informações de homologação do benefício pelo Tribunal de Contas"><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}{% if s2410_homologtc_form.s2410_evtcdbenin.value %}
        <a href="{% url 's2410_evtcdbenin_salvar' pk=s2410_homologtc_form.s2410_evtcdbenin.value tab='master' %}">
            [Acessar]
        </a>
    {% endif %}{% endif %} 
    {% if s2410_homologtc_form.s2410_evtcdbenin.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2410_homologtc_form.s2410_evtcdbenin.errors }}
      </div>
    {% endif %}
    {% if s2410_homologtc_form.s2410_evtcdbenin.field.widget.attrs.readonly %}
      {% if s2410_homologtc_form.s2410_evtcdbenin.field.widget.attrs.disabled %}
        {{ s2410_homologtc_form.s2410_evtcdbenin|addcss:'form-control' }}
        <input id="id_s2410_evtcdbenin" name="s2410_evtcdbenin" type="hidden" value="{{ s2410_homologtc_form.s2410_evtcdbenin.value }}">
      {% else %}
        {{ s2410_homologtc_form.s2410_evtcdbenin|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s2410_homologtc_form.s2410_evtcdbenin|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s2410_homologtc__s2410_evtcdbenin -->
<!-- inicio__s2410_homologtc__dthomol -->
<div class="col-md-4" id="s2410_homologtc__dthomol__div">
  <div class="form-group">
    <label id="s2410_homologtc__dthomol__label">Data da homologação do benefício pelo Tribunal de Contas*<a data-toggle="tooltip" title="Data da homologação do benefício pelo Tribunal de Contas. <validacao> Deve ser uma data válida, igual ou posterior à data de início do benefício."><i class="fa fa-fw fa-question-circle"></i></a></label>
        {% if s2410_homologtc_form.dthomol.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2410_homologtc_form.dthomol.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2410_homologtc_form.dthomol|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2410_homologtc__dthomol -->
<!-- inicio__s2410_homologtc__nratolegal -->
<div class="col-md-4" id="s2410_homologtc__nratolegal__div">
  <div class="form-group">
    <label id="s2410_homologtc__nratolegal__label">Informar o número do ato legal de registro ou homologação do Tribunal de Contas.*<a data-toggle="tooltip" title="Informar o número do ato legal de registro ou homologação do Tribunal de Contas."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if s2410_homologtc_form.nratolegal.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2410_homologtc_form.nratolegal.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2410_homologtc_form.nratolegal|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2410_homologtc__nratolegal -->