{% load templatetags %}{% load static %}



<!-- inicio__r2010_infoprocretpr__r2010_evtservtom -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r2010_evtservtom').change(function(){
       document.getElementById("r2010_infoprocretpr__r2010_evtservtom__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r2010_infoprocretpr__r2010_evtservtom__div">
  <div class="form-group">
    <label id="r2010_infoprocretpr__r2010_evtservtom__label">Informações de processos relacionados a não retenção de contribuição previdenciária*<a data-toggle="tooltip" title="Informações de processos relacionados a não retenção de contribuição previdenciária. Validação: A soma dos valores informados no campo {valorPrinc} deste grupo, com exceção dos valores informados para {indSusp} = [92], deve ser igual a {vlrTotalNRetPrinc}."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if not for_print %}
      {% if r2010_infoprocretpr_form.r2010_evtservtom.value %}
        <a id="r2010_infoprocretpr__r2010_evtservtom__div_acessar" href="{% url 'r2010_evtservtom_salvar' pk=r2010_infoprocretpr_form.r2010_evtservtom.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if r2010_infoprocretpr_form.r2010_evtservtom.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2010_infoprocretpr_form.r2010_evtservtom.errors }}
      </div>
    {% endif %}
    {% if r2010_infoprocretpr_form.r2010_evtservtom.field.widget.attrs.readonly %}
      {% if r2010_infoprocretpr_form.r2010_evtservtom.field.widget.attrs.disabled %}
        {{ r2010_infoprocretpr_form.r2010_evtservtom|addcss:'form-control' }}
        <input id="id_r2010_evtservtom" name="r2010_evtservtom" type="hidden" value="{% if r2010_infoprocretpr_form.r2010_evtservtom.value or r2010_infoprocretpr_form.r2010_evtservtom.value == 0 %}{{ r2010_infoprocretpr_form.r2010_evtservtom.value|valor }}{% endif %}">
      {% else %}
        {{ r2010_infoprocretpr_form.r2010_evtservtom|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2010_infoprocretpr_form.r2010_evtservtom|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2010_infoprocretpr__r2010_evtservtom -->
<!-- inicio__r2010_infoprocretpr__tpprocretprinc -->
<div class="col-md-6" id="r2010_infoprocretpr__tpprocretprinc__div">
  <div class="form-group">
    <label id="r2010_infoprocretpr__tpprocretprinc__label">Preencher com o código correspondente ao tipo de processo*<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de processo: 1 - Administrativo; 2 - Judicial. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2010_infoprocretpr_form.tpprocretprinc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2010_infoprocretpr_form.tpprocretprinc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if r2010_infoprocretpr_form.tpprocretprinc.field.widget.attrs.readonly %}
        {% if r2010_infoprocretpr_form.tpprocretprinc.field.widget.attrs.disabled %}
          {{ r2010_infoprocretpr_form.tpprocretprinc|addcss:'form-control' }}
          <input id="id_tpprocretprinc" name="tpprocretprinc" type="hidden" value="{% if r2010_infoprocretpr_form.tpprocretprinc.value or r2010_infoprocretpr_form.tpprocretprinc.value == 0 %}{{ r2010_infoprocretpr_form.tpprocretprinc.value|valor }}{% endif %}">
        {% else %}
          {{ r2010_infoprocretpr_form.tpprocretprinc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ r2010_infoprocretpr_form.tpprocretprinc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__r2010_infoprocretpr__tpprocretprinc -->
<!-- inicio__r2010_infoprocretpr__nrprocretprinc -->
<div class="col-md-6" id="r2010_infoprocretpr__nrprocretprinc__div">
  <div class="form-group">
    <label id="r2010_infoprocretpr__nrprocretprinc__label">Informar o número do processo administrativo/judicial*<a data-toggle="tooltip" title="Informar o número do processo administrativo/judicial. Validação: O processo deve existir na tabela de processos (R-1070)."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2010_infoprocretpr_form.nrprocretprinc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2010_infoprocretpr_form.nrprocretprinc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2010_infoprocretpr_form.nrprocretprinc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2010_infoprocretpr__nrprocretprinc -->
<!-- inicio__r2010_infoprocretpr__codsuspprinc -->
<div class="col-md-6" id="r2010_infoprocretpr__codsuspprinc__div">
  <div class="form-group">
    <label id="r2010_infoprocretpr__codsuspprinc__label">Código do Indicativo da Suspensão, atribuído pelo contribuinte<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo contribuinte. Este campo deve ser utilizado se, num mesmo processo, houver mais de uma matéria tributária objeto de contestação e as decisões forem diferentes para cada uma. Validação: Preenchimento obrigatório se houver mais de uma informação de Indicativo de Suspensão para um mesmo processo. Se informado, deve constar na tabela de processos (R-1070 - campo {codSusp}), vinculado ao número do processo informado em {nrProcRetPrinc}."><i class="fa fa-fw fa-question-circle"></i></a></label>
      {% if r2010_infoprocretpr_form.codsuspprinc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2010_infoprocretpr_form.codsuspprinc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2010_infoprocretpr_form.codsuspprinc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2010_infoprocretpr__codsuspprinc -->
<!-- inicio__r2010_infoprocretpr__valorprinc -->
<div class="col-md-6" id="r2010_infoprocretpr__valorprinc__div">
  <div class="form-group">
    <label id="r2010_infoprocretpr__valorprinc__label">Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial.*<a data-toggle="tooltip" title="Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial."><i class="fa fa-fw fa-question-circle"></i></a></label>
    {% if r2010_infoprocretpr_form.valorprinc.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2010_infoprocretpr_form.valorprinc.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2010_infoprocretpr_form.valorprinc|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2010_infoprocretpr__valorprinc -->