{% load templatetags %}{% load static %}



<!-- inicio__r2010_nfs__r2010_evtservtom -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_r2010_evtservtom').change(function(){
       document.getElementById("r2010_nfs__r2010_evtservtom__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="r2010_nfs__r2010_evtservtom__div">
  <div class="form-group">
    <label id="r2010_nfs__r2010_evtservtom__label">Detalhamento das notas fiscais de serviços prestados pela empresa identificada no registro superior*</label>
    {% if not for_print %}
      {% if r2010_nfs_form.r2010_evtservtom.value %}
        <a id="r2010_nfs__r2010_evtservtom__div_acessar" href="{% url 'r2010_evtservtom_salvar' pk=r2010_nfs_form.r2010_evtservtom.value %}">
          [Acessar]
        </a>
      {% endif %}
    {% endif %}
    {% if r2010_nfs_form.r2010_evtservtom.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ r2010_nfs_form.r2010_evtservtom.errors }}
      </div>
    {% endif %}
    {% if r2010_nfs_form.r2010_evtservtom.field.widget.attrs.readonly %}
      {% if r2010_nfs_form.r2010_evtservtom.field.widget.attrs.disabled %}
        {{ r2010_nfs_form.r2010_evtservtom|addcss:'form-control' }}
        <input id="id_r2010_evtservtom" name="r2010_evtservtom" type="hidden" value="{% if r2010_nfs_form.r2010_evtservtom.value or r2010_nfs_form.r2010_evtservtom.value == 0 %}{{ r2010_nfs_form.r2010_evtservtom.value|valor }}{% endif %}">
      {% else %}
        {{ r2010_nfs_form.r2010_evtservtom|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ r2010_nfs_form.r2010_evtservtom|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__r2010_nfs__r2010_evtservtom -->
<!-- inicio__r2010_nfs__serie -->
<div class="col-md-6" id="r2010_nfs__serie__div">
  <div class="form-group">
    <label id="r2010_nfs__serie__label">Informar o número de série da nota fiscal/fatura ou do Recibo Provisório de Serviço - RPS*</label>
      {% if r2010_nfs_form.serie.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2010_nfs_form.serie.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2010_nfs_form.serie|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2010_nfs__serie -->
<!-- inicio__r2010_nfs__numdocto -->
<div class="col-md-6" id="r2010_nfs__numdocto__div">
  <div class="form-group">
    <label id="r2010_nfs__numdocto__label">Número da Nota Fiscal/Fatura ou do Recibo Provisório de Serviço - RPS.*</label>
      {% if r2010_nfs_form.numdocto.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2010_nfs_form.numdocto.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2010_nfs_form.numdocto|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2010_nfs__numdocto -->
<!-- inicio__r2010_nfs__dtemissaonf -->
<div class="col-md-6" id="r2010_nfs__dtemissaonf__div">
  <div class="form-group">
    <label id="r2010_nfs__dtemissaonf__label">Data de Emissão da Nota Fiscal/Fatura ou do Recibo Provisório de Serviço - RPS*</label>
        {% if r2010_nfs_form.dtemissaonf.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ r2010_nfs_form.dtemissaonf.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2010_nfs_form.dtemissaonf|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__r2010_nfs__dtemissaonf -->
<!-- inicio__r2010_nfs__vlrbruto -->
<div class="col-md-6" id="r2010_nfs__vlrbruto__div">
  <div class="form-group">
    <label id="r2010_nfs__vlrbruto__label">Preencher com o valor bruto da nota fiscal ou do Recibo Provisório de Serviço - RPS*</label>
    {% if r2010_nfs_form.vlrbruto.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ r2010_nfs_form.vlrbruto.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ r2010_nfs_form.vlrbruto|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__r2010_nfs__vlrbruto -->
<!-- inicio__r2010_nfs__obs -->
<div class="col-md-6" id="r2010_nfs__obs__div">
  <div class="form-group">
    <label id="r2010_nfs__obs__label">Observações</label>
      {% if r2010_nfs_form.obs.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ r2010_nfs_form.obs.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ r2010_nfs_form.obs|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__r2010_nfs__obs -->