{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5003_infotrabfgts or 1 %}
            <th>Informações referentes a bases de cálculo do FGTS.</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5003_infobasefgts_lista %}
        <tr>
            {% if show_fields.show_s5003_infotrabfgts %}
            <td>{{ a.s5003_infotrabfgts }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
