{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s5003_evtbasesfgts or 1 %}
            <th>Registro que identifica o Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_codlotacao or 1 %}
            <th>Código da Lotação</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s5003_ideestablot_lista %}
        <tr>
            {% if show_fields.show_s5003_evtbasesfgts or 1 %}
            <td>{{ a.s5003_evtbasesfgts }}</td>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_codlotacao or 1 %}
            <td>{{ a.codlotacao }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
