<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2240_evtexprisco or 1 %}
            <th>Informações relativas ao responsável pelos registros ambientais</th>
            {% endif %}
            {% if show_fields.show_dtini or 1 %}
            <th>Data de início da responsabilidade</th>
            {% endif %}
            {% if show_fields.show_dtfim or 0 %}
            <th>Data de término da responsabilidade</th>
            {% endif %}
            {% if show_fields.show_nisresp or 1 %}
            <th>NIS</th>
            {% endif %}
            {% if show_fields.show_nroc or 0 %}
            <th>Número do OC</th>
            {% endif %}
            {% if show_fields.show_ufoc or 0 %}
            <th>UF do OC</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2240_fimexprisco_respreg_lista %}
        <tr>
            {% if show_fields.show_s2240_evtexprisco or 1 %}
            <td>{{ a.s2240_evtexprisco }}</td>
            {% endif %}
            {% if show_fields.show_dtini or 1 %}
            <td><span style="display:none">{{ a.dtini|date:"Y-m-d" }}</span>{{ a.dtini|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_dtfim or 0 %}
            <td><span style="display:none">{{ a.dtfim|date:"Y-m-d" }}</span>{{ a.dtfim|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_nisresp or 1 %}
            <td>{{ a.nisresp }}</td>
            {% endif %}
            {% if show_fields.show_nroc or 0 %}
            <td>{{ a.nroc }}</td>
            {% endif %}
            {% if show_fields.show_ufoc or 0 %}
            <td>{{ a.get_ufoc_display }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s2240.change_s2240fimExpRiscorespReg or perms.s2240.add_s2240fimExpRiscorespReg %}

                        <a href="{% url 's2240_fimexprisco_respreg_salvar' pk=a.id %}">
                            {% if perms.s2240.change_s2240fimExpRiscorespReg %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2240.can_see_data_s2240fimExpRiscorespReg %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2240.delete_s2240fimExpRiscorespReg %}
                        <a href="{% url 's2240_fimexprisco_respreg_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
