{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2240_evtexprisco %}
            <th>Condições ambientais do trabalho - Fim</th>
            {% endif %}
            {% if show_fields.show_dtfimcondicao %}
            <th>Data do termino da condição</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2240_fimexprisco_lista %}
        <tr>
            {% if show_fields.show_s2240_evtexprisco %}
            <td>{{ a.s2240_evtexprisco }}</td>
            {% endif %}
            {% if show_fields.show_dtfimcondicao %}
            <td><span style="display:none">{{ a.dtfimcondicao|date:"Y-m-d" }}</span>{{ a.dtfimcondicao|date:"d/m/Y" }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.s2240.change_s2240fimExpRisco or perms.s2240.add_s2240fimExpRisco %}

                        <a href="{% url 's2240_fimexprisco_salvar' pk=a.id %}">
                            {% if perms.s2240.change_s2240fimExpRisco %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2240.can_see_data_s2240fimExpRisco %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2240.delete_s2240fimExpRisco %}
                        <a href="{% url 's2240_fimexprisco_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
