{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_s2240_altexprisco_fatrisco or 1 %}
            <th>Equipamentos de Proteção Individual - EPI</th>
            {% endif %}
            {% if show_fields.show_eficepi or 1 %}
            <th>EPI é eficaz na neutralização</th>
            {% endif %}
            {% if show_fields.show_medprotecao or 1 %}
            <th>Medidas de proteção coletiva</th>
            {% endif %}
            {% if show_fields.show_condfuncto or 1 %}
            <th>Condição de funcionamento e uso ininterrupto</th>
            {% endif %}
            {% if show_fields.show_przvalid or 1 %}
            <th>Observado Prazo de validade</th>
            {% endif %}
            {% if show_fields.show_periodictroca or 1 %}
            <th>Observado periodicidade de troca</th>
            {% endif %}
            {% if show_fields.show_higienizacao or 1 %}
            <th>Observada higienização</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2240_altexprisco_epi_lista %}
        <tr>
            {% if show_fields.show_s2240_altexprisco_fatrisco or 1 %}
            <td>{{ a.s2240_altexprisco_fatrisco }}</td>
            {% endif %}
            {% if show_fields.show_eficepi or 1 %}
            <td>{{ a.get_eficepi_display }}</td>
            {% endif %}
            {% if show_fields.show_medprotecao or 1 %}
            <td>{{ a.get_medprotecao_display }}</td>
            {% endif %}
            {% if show_fields.show_condfuncto or 1 %}
            <td>{{ a.get_condfuncto_display }}</td>
            {% endif %}
            {% if show_fields.show_przvalid or 1 %}
            <td>{{ a.get_przvalid_display }}</td>
            {% endif %}
            {% if show_fields.show_periodictroca or 1 %}
            <td>{{ a.get_periodictroca_display }}</td>
            {% endif %}
            {% if show_fields.show_higienizacao or 1 %}
            <td>{{ a.get_higienizacao_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.s2240.change_s2240altExpRiscoepi or perms.s2240.add_s2240altExpRiscoepi %}
                    
                        <a href="{% url 's2240_altexprisco_epi_salvar' pk=a.id %}">
                            {% if perms.s2240.change_s2240altExpRiscoepi %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.s2240.can_see_data_s2240altExpRiscoepi %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.s2240.delete_s2240altExpRiscoepi %}
                        <a href="{% url 's2240_altexprisco_epi_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
