{% load templatetags %}{% load static %}



<!-- inicio__s1020_inclusao_infoemprparcial__s1020_inclusao -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informação complementar que apresenta identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada</label>
    <select name="s1020_inclusao" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>{% for a in s1020_inclusao_lista %}
      <option value="{{ a.id }}" {% ifequal a.id dict_fields|get_value_from_dict:'s1020_inclusao' %}selected="selected"{% endifequal %} >{{ a }}</option>{% endfor %}
    </select>
  </div>
</div>
<!-- fim__s1020_inclusao_infoemprparcial__s1020_inclusao -->

<!-- inicio__s1020_inclusao_infoemprparcial__tpinsccontrat -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de inscrição do Contratante</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpinsccontrat" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpinsccontrat' %}selected="selected"{% endifequal %} >1 - CNPJ</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpinsccontrat' %}selected="selected"{% endifequal %} >2 - CPF.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1020_inclusao_infoemprparcial__tpinsccontrat -->

<!-- inicio__s1020_inclusao_infoemprparcial__nrinsccontrat -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número de inscrição (CPF/CNPJ)</label>
    <div name="nrinsccontrat" class="input-group" style="width: 100%;">
      <input type="text" name="nrinsccontrat" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinsccontrat' }}">
    </div>
  </div>
</div>
<!-- fim__s1020_inclusao_infoemprparcial__nrinsccontrat -->

<!-- inicio__s1020_inclusao_infoemprparcial__tpinscprop -->
<div class="col-md-6">
  <div class="form-group">
    <label>Tipo de inscrição (Proprietário do CNO)</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpinscprop" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpinscprop' %}selected="selected"{% endifequal %} >1 - CNPJ</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpinscprop' %}selected="selected"{% endifequal %} >2 - CPF</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s1020_inclusao_infoemprparcial__tpinscprop -->

<!-- inicio__s1020_inclusao_infoemprparcial__nrinscprop -->
<div class="col-md-6">
  <div class="form-group">
    <label>Número de inscrição (CPF/CNPJ)</label>
    <div name="nrinscprop" class="input-group" style="width: 100%;">
      <input type="text" name="nrinscprop" class="form-control" value="{{ dict_fields|get_value_from_dict:'nrinscprop' }}">
    </div>
  </div>
</div>
<!-- fim__s1020_inclusao_infoemprparcial__nrinscprop -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s1020_inclusao" value="1" {% if show_fields|get_value_from_dict:'show_s1020_inclusao' %}checked{% endif %} >Informação complementar que apresenta identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpinsccontrat" value="1" {% if show_fields|get_value_from_dict:'show_tpinsccontrat' %}checked{% endif %} >Tipo de inscrição do Contratante
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinsccontrat" value="1" {% if show_fields|get_value_from_dict:'show_nrinsccontrat' %}checked{% endif %} >Número de inscrição (CPF/CNPJ)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpinscprop" value="1" {% if show_fields|get_value_from_dict:'show_tpinscprop' %}checked{% endif %} >Tipo de inscrição (Proprietário do CNO)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_nrinscprop" value="1" {% if show_fields|get_value_from_dict:'show_nrinscprop' %}checked{% endif %} >Número de inscrição (CPF/CNPJ)
    </div>
</div>


