{% load templatetags %}{% load static %}



<!-- inicio__r3010_outrasreceitas__r3010_boletim -->
<div class="col-md-12">
  <div class="form-group">
    <label>Outras receitas do espetáculo</label>
    <select name="r3010_boletim" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in r3010_boletim_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'r3010_boletim' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__r3010_outrasreceitas__r3010_boletim -->

<!-- inicio__r3010_outrasreceitas__tpreceita -->
<div class="col-md-3">
  <div class="form-group">
    <label>Tipo de receita</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpreceita" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'tpreceita' %}selected="selected"{% endifequal %} >1 - Transmissão</option>
        <option value="2" {% ifequal 2 dict_fields|get_value_from_dict:'tpreceita' %}selected="selected"{% endifequal %} >2 - Propaganda</option>
        <option value="3" {% ifequal 3 dict_fields|get_value_from_dict:'tpreceita' %}selected="selected"{% endifequal %} >3 - Publicidade</option>
        <option value="4" {% ifequal 4 dict_fields|get_value_from_dict:'tpreceita' %}selected="selected"{% endifequal %} >4 - Sorteio</option>
        <option value="5" {% ifequal 5 dict_fields|get_value_from_dict:'tpreceita' %}selected="selected"{% endifequal %} >5 - Outros.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__r3010_outrasreceitas__tpreceita -->

<!-- inicio__r3010_outrasreceitas__vlrreceita -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor da receita auferida</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vlrreceita" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vlrreceita' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_outrasreceitas__vlrreceita -->

<!-- inicio__r3010_outrasreceitas__descreceita -->
<div class="col-md-3">
  <div class="form-group">
    <label>Descrição da receita</label>
    <div name="descreceita" class="input-group" style="width: 100%;">
      <input type="text" name="descreceita" class="form-control" value="{{ dict_fields|get_value_from_dict:'descreceita' }}">
    </div>
  </div>
</div>
<!-- fim__r3010_outrasreceitas__descreceita -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_r3010_boletim" value="1" {% if show_fields|get_value_from_dict:'show_r3010_boletim' %}checked{% endif %} >Outras receitas do espetáculo
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpreceita" value="1" {% if show_fields|get_value_from_dict:'show_tpreceita' %}checked{% endif %} >Tipo de receita
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vlrreceita" value="1" {% if show_fields|get_value_from_dict:'show_vlrreceita' %}checked{% endif %} >Valor da receita auferida
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_descreceita" value="1" {% if show_fields|get_value_from_dict:'show_descreceita' %}checked{% endif %} >Descrição da receita
    </div>
</div>


