{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r4010_infopgto or 1 %}
            <th>Rendimentos Isentos/Não Tributáveis</th>
            {% endif %}
            {% if show_fields.show_tpisencao or 1 %}
            <th>Tipo de Isenção</th>
            {% endif %}
            {% if show_fields.show_vlrisento or 1 %}
            <th>Valor da Parcela Isenta</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r4010_rendisento_lista %}
        <tr>
            {% if show_fields.show_r4010_infopgto or 1 %}
            <td>{{ a.r4010_infopgto }}</td>
            {% endif %}
            {% if show_fields.show_tpisencao or 1 %}
            <td>{{ a.get_tpisencao_display }}</td>
            {% endif %}
            {% if show_fields.show_vlrisento or 1 %}
            <td>{{ a.vlrisento }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.r4010.can_view_r4010rendIsento %}
                        <a href="{% url 'r4010_rendisento_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.r4010.add_r4010rendIsento or perms.r4010.change_r4010rendIsento %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.r4010.delete_r4010rendIsento %}
                        <a href="{% url 'r4010_rendisento_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
