{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r4010_detded or 1 %}
            <th>Informação dos beneficiários da pensão alimentícia</th>
            {% endif %}
            {% if show_fields.show_nome or 1 %}
            <th>Nome do dependente</th>
            {% endif %}
            {% if show_fields.show_reldep or 1 %}
            <th>Relação de dependência</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not for_print %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r4010_benefpen_lista %}
        <tr>
            {% if show_fields.show_r4010_detded or 1 %}
            <td>{{ a.r4010_detded }}</td>
            {% endif %}
            {% if show_fields.show_nome or 1 %}
            <td>{{ a.nome }}</td>
            {% endif %}
            {% if show_fields.show_reldep or 1 %}
            <td>{{ a.get_reldep_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not for_print %}
            <td>
                <div>
                    <!-- botões especiais -->
                    {% if perms.r4010.can_view_r4010benefPen %}
                        <a href="{% url 'r4010_benefpen_salvar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            {% if perms.r4010.add_r4010benefPen or perms.r4010.change_r4010benefPen %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% else %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if perms.r4010.delete_r4010benefPen %}
                        <a href="{% url 'r4010_benefpen_apagar' hash='{}'|json_id:a.id|json_print:0|base64_encode_me %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
