{% load templatetags %}{% load static %}



<!-- inicio__s5001_infobasecs__s5001_infocategincid -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações sobre bases de cálculo, descontos e deduções de contribuições sociais devidas à Previdência Social e a Outras Entidades e Fundos. Evento de origem (S-1200, S-2299 e S-2399).</label>
    <select name="s5001_infocategincid" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s5001_infocategincid_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s5001_infocategincid' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s5001_infobasecs__s5001_infocategincid -->

<!-- inicio__s5001_infobasecs__ind13 -->
<div class="col-md-3">
  <div class="form-group">
    <label>Indicativo de 13º salário</label>
    <div class="input-group" style="width: 100%;">
      <select name="ind13" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'ind13' %}selected="selected"{% endifequal %} >0 - Mensal</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'ind13' %}selected="selected"{% endifequal %} >1 - 13° salário - {codIncCP} = [12, 14, 16, 22, 26, 32, 92, 94].</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s5001_infobasecs__ind13 -->

<!-- inicio__s5001_infobasecs__tpvalor -->
<div class="col-md-3">
  <div class="form-group">
    <label>Tipo de Valor</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpvalor" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="11" {% ifequal 11 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >11 - Base de cálculo da Contribuição Previdenciária normal</option>
        <option value="12" {% ifequal 12 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >12 - Base de cálculo da Contribuição Previdenciária adicional para o financiamento dos benefícios de aposentadoria especial após 15 anos de contribuição</option>
        <option value="13" {% ifequal 13 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >13 - Base de cálculo da Contribuição Previdenciária adicional para o financiamento dos benefícios de aposentadoria especial após 20 anos de contribuição</option>
        <option value="14" {% ifequal 14 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >14 - Base de cálculo da Contribuição Previdenciária adicional para o financiamento dos benefícios de aposentadoria especial após 25 anos de contribuição</option>
        <option value="15" {% ifequal 15 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >15 - Base de cálculo da contribuição previdenciária adicional normal - exclusiva do empregador</option>
        <option value="16" {% ifequal 16 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >16 - Base de cálculo da contribuição previdenciária adicional para o financiamento dos benefícios de aposentadoria especial após 15 anos de contribuição - exclusiva do empregador</option>
        <option value="17" {% ifequal 17 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >17 - Base de cálculo da contribuição previdenciária adicional para o financiamento dos benefícios de aposentadoria especial após 20 anos de contribuição - exclusiva do empregador</option>
        <option value="18" {% ifequal 18 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >18 - Base de cálculo da contribuição previdenciária adicional para o financiamento dos benefícios de aposentadoria especial após 25 anos de contribuição - exclusiva do empregador</option>
        <option value="19" {% ifequal 19 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >19 - Base de cálculo da contribuição previdenciária exclusiva do empregado</option>
        <option value="21" {% ifequal 21 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >21 - Valor total descontado do trabalhador para recolhimento à Previdência Social</option>
        <option value="22" {% ifequal 22 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >22 - Valor descontado do trabalhador para recolhimento ao Sest</option>
        <option value="23" {% ifequal 23 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >23 - Valor descontado do trabalhador para recolhimento ao Senat</option>
        <option value="31" {% ifequal 31 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >31 - Valor pago ao trabalhador a título de salário-família</option>
        <option value="32" {% ifequal 32 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >32 - Valor pago ao trabalhador a título de salário-maternidade</option>
        <option value="91" {% ifequal 91 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >91 - Incidência suspensa em decorrência de decisão judicial - Base de cálculo (BC) da Contribuição Previdenciária (CP) Normal</option>
        <option value="92" {% ifequal 92 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >92 - Incid. suspensa em decorrência de decisão judicial - BC CP Aposentadoria Especial aos 15 anos de trabalho</option>
        <option value="93" {% ifequal 93 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >93 - Incid. suspensa em decorrência de decisão judicial - BC CP Aposentadoria Especial aos 20 anos de trabalho</option>
        <option value="94" {% ifequal 94 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >94 - Incid. suspensa em decorrência de decisão judicial - BC CP Aposentadoria Especial aos 25 anos de trabalho</option>
        <option value="95" {% ifequal 95 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >95 - Incid. suspensa em decorrência de decisão judicial - BC CP normal - Exclusiva do empregador. 96 - Incid. suspensa em decorrência de decisão judicial - BC CP Aposentadoria Especial aos 15 anos de trabalho - Exclusiva do empregador</option>
        <option value="97" {% ifequal 97 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >97 - Incid. suspensa em decorrência de decisão judicial - BC CP Aposentadoria Especial aos 20 anos de trabalho - Exclusiva do empregador</option>
        <option value="98" {% ifequal 98 dict_fields|get_value_from_dict:'tpvalor' %}selected="selected"{% endifequal %} >98 - Incid. suspensa em decorrência de decisão judicial - BC CP Aposentadoria Especial aos 25 anos de trabalho - Exclusiva do empregador.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s5001_infobasecs__tpvalor -->

<!-- inicio__s5001_infobasecs__valor -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor da base de cálculo, dedução ou desconto da CP</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="valor" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'valor' }}">
    </div>
  </div>
</div>
<!-- fim__s5001_infobasecs__valor -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s5001_infocategincid" value="1" {% if show_fields|get_value_from_dict:'show_s5001_infocategincid' %}checked{% endif %} >Informações sobre bases de cálculo, descontos e deduções de contribuições sociais devidas à Previdência Social e a Outras Entidades e Fundos. Evento de origem (S-1200, S-2299 e S-2399).
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ind13" value="1" {% if show_fields|get_value_from_dict:'show_ind13' %}checked{% endif %} >Indicativo de 13º salário
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpvalor" value="1" {% if show_fields|get_value_from_dict:'show_tpvalor' %}checked{% endif %} >Tipo de Valor
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_valor" value="1" {% if show_fields|get_value_from_dict:'show_valor' %}checked{% endif %} >Valor da base de cálculo, dedução ou desconto da CP
    </div>
</div>


