<!-- eMensageriaAI -->
{% load templatetags %}{% load static %}



<!-- inicio__s5001_infocpcalc__s5001_evtbasestrab -->
<div class="col-md-12">
  <div class="form-group">
    <label>Cálculo da contribuição previdenciária do segurado, incidente sobre a Remuneração do Período de Apuração e de Períodos Anteriores informada nos eventos S-1200, S-2299 e S-2399.</label>
    <select name="s5001_evtbasestrab" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s5001_evtbasestrab_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s5001_evtbasestrab' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s5001_infocpcalc__s5001_evtbasestrab -->

<!-- inicio__s5001_infocpcalc__tpcr -->
<div class="col-md-3">
  <div class="form-group">
    <label>Código da Receita (CR)</label>
    <div class="input-group" style="width: 100%;">
      <select name="tpcr" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="1082-01" {% ifequal '1082-01' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-01 - Contribuição previdenciária (CP) descontada do segurado empregado/avulso, alíquotas 8%, 9% ou 11%</option>
        <option value="1082-02" {% ifequal '1082-02' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-02 - CP descontada do segurado empregado rural curto prazo, alíquota de 8%, lei 11718/2008</option>
        <option value="1082-03" {% ifequal '1082-03' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-03 - CP descontada do segurado empregado doméstico ou segurado especial, alíquota de 8%, 9% ou 11%</option>
        <option value="1082-04" {% ifequal '1082-04' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-04 - CP descontada do segurado especial curto prazo, alíquota de 8%, lei 11718/2008</option>
        <option value="1082-21" {% ifequal '1082-21' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-21 - CP descontada do segurado empregado/avulso 13° salário, alíquotas 8%, 9% ou 11%. (codIncCP = [12, 16])</option>
        <option value="1082-22" {% ifequal '1082-22' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-22 - CP descontada do segurado empregado rural curto prazo 13° salário, alíquota de 8%, lei 11718/2008 (codIncCP = [12, 16])</option>
        <option value="1082-23" {% ifequal '1082-23' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-23 - CP descontada do segurado empregado doméstico ou segurado especial 13° salário, alíquota de 8%, 9% ou 11% (codIncCP = [12, 16])</option>
        <option value="1082-24" {% ifequal '1082-24' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1082-24 - CP descontada do segurado especial curto prazo 13° salário, alíquota de 8%, lei 11718/2008 (codIncCP = [12, 16])</option>
        <option value="1099-01" {% ifequal '1099-01' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1099-01 - CP descontada do contribuinte individual, alíquota de 11%</option>
        <option value="1099-02" {% ifequal '1099-02' dict_fields|get_value_from_dict:'tpcr' %}selected="selected"{% endifequal %} >1099-02 - CP descontada do contribuinte individual, alíquota de 20%.</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s5001_infocpcalc__tpcr -->

<!-- inicio__s5001_infocpcalc__vrcpseg -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor da contribuição do segurado</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrcpseg" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrcpseg' }}">
    </div>
  </div>
</div>
<!-- fim__s5001_infocpcalc__vrcpseg -->

<!-- inicio__s5001_infocpcalc__vrdescseg -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor efetivamente descontado do segurado</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="vrdescseg" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'vrdescseg' }}">
    </div>
  </div>
</div>
<!-- fim__s5001_infocpcalc__vrdescseg -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s5001_evtbasestrab" value="1" {% if show_fields|get_value_from_dict:'show_s5001_evtbasestrab' %}checked{% endif %} >Cálculo da contribuição previdenciária do segurado, incidente sobre a Remuneração do Período de Apuração e de Períodos Anteriores informada nos eventos S-1200, S-2299 e S-2399.
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpcr" value="1" {% if show_fields|get_value_from_dict:'show_tpcr' %}checked{% endif %} >Código da Receita (CR)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrcpseg" value="1" {% if show_fields|get_value_from_dict:'show_vrcpseg' %}checked{% endif %} >Valor da contribuição do segurado
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_vrdescseg" value="1" {% if show_fields|get_value_from_dict:'show_vrdescseg' %}checked{% endif %} >Valor efetivamente descontado do segurado
    </div>
</div>


