{% load templatetags %}{% load static %}



<!-- inicio__s5001_infobasecs__s5001_infocategincid -->
<div class="col-md-12">
  <div class="form-group">
    <label>Informações sobre bases de cálculo, descontos e deduções de contribuições sociais devidas à Previdência Social e a Outras Entidades e Fundos. Evento de origem (S-1200, S-2299 e S-2399).</label>
    <select name="s5001_infocategincid" class="form-control automate-select" style="width: 100%;">
      <option value="">-- selecione --</option>
      {% for a in s5001_infocategincid_lista %}
      <option value="{{ a.id|valor }}" {% ifequal a.id dict_fields|get_value_from_dict:'s5001_infocategincid' %}selected="selected"{% endifequal %} >{{ a }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<!-- fim__s5001_infobasecs__s5001_infocategincid -->

<!-- inicio__s5001_infobasecs__ind13 -->
<div class="col-md-3">
  <div class="form-group">
    <label>Indicativo de 13º salário</label>
    <div class="input-group" style="width: 100%;">
      <select name="ind13" class="form-control automate-select" style="width: 100%;">
        <option value="">-- selecione --</option>
        <option value="0" {% ifequal 0 dict_fields|get_value_from_dict:'ind13' %}selected="selected"{% endifequal %} >0 - Mensal</option>
        <option value="1" {% ifequal 1 dict_fields|get_value_from_dict:'ind13' %}selected="selected"{% endifequal %} >1 - 13° salário - {codIncCP} = [12, 14, 16, 22, 26, 32, 92, 94].</option>
      </select>
    </div>
  </div>
</div>
<!-- fim__s5001_infobasecs__ind13 -->

<!-- inicio__s5001_infobasecs__tpvalor -->
<div class="col-md-3">
  <div class="form-group">
    <label>Tipo de Valor</label>
    <input type="text" id="txt_tpvalor" name="txt_tpvalor" class="form-control" value="{{ dict_fields|get_value_from_dict:'tpvalor' }}">
    <input type="hidden" id="id_tpvalor" name="tpvalor" value="{{ dict_fields|get_value_from_dict:'tpvalor'|valor }}">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
  $('#txt_tpvalor').autocomplete({
    source: function (request, response) {
    $.getJSON("{{ LINK_WEBSITE }}tabelas/opcoes/json-search/552/" + request.term + "/", function (data) {
      response($.map(data.opcoes, function (value, key) {
        return {
          label: value.value,
          value: value.key
        };
      }));
    });
  },
  minLength: 3,
  select: function( e, ui ) {
    e.preventDefault(e);
    $(this).val(ui.item.label);
    $('#id_tpvalor').val(ui.item.value);
    return false;
  }});
});
</script>
<!-- fim__s5001_infobasecs__tpvalor -->

<!-- inicio__s5001_infobasecs__valor -->
<div class="col-md-3">
  <div class="form-group">
    <label>Valor da base de cálculo, dedução ou desconto da CP</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      <input type="text" name="valor" class="form-control automate-money" data-thousands="." data-decimal="," value="{{ dict_fields|get_value_from_dict:'valor' }}">
    </div>
  </div>
</div>
<!-- fim__s5001_infobasecs__valor -->



<div class="form-group col-md-12">
    <div class="text-left">
        <h4>Escolha quais os campos que deseja que sejam visualizados no relatório</h4>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_s5001_infocategincid" value="1" {% if show_fields|get_value_from_dict:'show_s5001_infocategincid' %}checked{% endif %} >Informações sobre bases de cálculo, descontos e deduções de contribuições sociais devidas à Previdência Social e a Outras Entidades e Fundos. Evento de origem (S-1200, S-2299 e S-2399).
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_ind13" value="1" {% if show_fields|get_value_from_dict:'show_ind13' %}checked{% endif %} >Indicativo de 13º salário
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_tpvalor" value="1" {% if show_fields|get_value_from_dict:'show_tpvalor' %}checked{% endif %} >Tipo de Valor
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <input type="checkbox" name="show_valor" value="1" {% if show_fields|get_value_from_dict:'show_valor' %}checked{% endif %} >Valor da base de cálculo, dedução ou desconto da CP
    </div>
</div>


