{% load templatetags %}
<table {% if not output %}
    class="table table-bordered"{% else %} 
    width="100%"{% endif %}>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">evtReabreEvPer</td>
            <td bgcolor="lightgray" colspan="3">Evento de reabertura de eventos periódicos - remuneração. Regras de validação: REGRA_EXISTE_INFO_EMPREGADOR REGRA_REABERTURA_VALIDA_PERIODO_APURACAO REGRA_VALIDA_EMPREGADOR</td>
        </tr>
    {% for s1298_evtreabreevper in s1298_evtreabreevper_lista %}
    {% ifequal 1 1 %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEvento</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do evento.</td>
        </tr>

        <tr {% if s1298_evtreabreevper.indapuracao|validacoes_esocial_efdreinf:"s1298_evtreabreevper.indapuracao" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">indApuracao</td>
            <td width="500px">Indicativo de período de apuração: 1 - Mensal; 2 - Anual (13° salário). Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if s1298_evtreabreevper.indapuracao or s1298_evtreabreevper.indapuracao == 0 %}{{ s1298_evtreabreevper.indapuracao }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s1298.can_see_s1298evtReabreEvPer or perms.esocial.can_see_s1298evtReabreEvPer %}
                <a href="{% url 's1298_evtreabreevper_salvar' pk=s1298_evtreabreevper.id tab='master' %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s1298_evtreabreevper.perapur|validacoes_esocial_efdreinf:"s1298_evtreabreevper.perapur" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApur</td>
            <td width="500px">Informar o mês/ano (formato AAAA-MM) de referência das informações, se {indApuracao} for igual a [1], ou apenas o ano (formato AAAA), se {indApuracao} for igual a [2]. Validação: Deve ser um mês/ano ou ano válido, igual ou posterior à implementação do eSocial.</td>
            <td width="200px"><b>{% if s1298_evtreabreevper.perapur or s1298_evtreabreevper.perapur == 0 %}{{ s1298_evtreabreevper.perapur }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s1298.can_see_s1298evtReabreEvPer or perms.esocial.can_see_s1298evtReabreEvPer %}
                <a href="{% url 's1298_evtreabreevper_salvar' pk=s1298_evtreabreevper.id tab='master' %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s1298_evtreabreevper.tpamb|validacoes_esocial_efdreinf:"s1298_evtreabreevper.tpamb" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpAmb</td>
            <td width="500px">Identificação do ambiente: 1 - Produção; 2 - Produção restrita. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if s1298_evtreabreevper.tpamb or s1298_evtreabreevper.tpamb == 0 %}{{ s1298_evtreabreevper.tpamb }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s1298.can_see_s1298evtReabreEvPer or perms.esocial.can_see_s1298evtReabreEvPer %}
                <a href="{% url 's1298_evtreabreevper_salvar' pk=s1298_evtreabreevper.id tab='master' %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s1298_evtreabreevper.procemi|validacoes_esocial_efdreinf:"s1298_evtreabreevper.procemi" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">procEmi</td>
            <td width="500px">Processo de emissão do evento: 1- Aplicativo do empregador; 2 - Aplicativo governamental - Empregador Doméstico; 3 - Aplicativo governamental - Web Geral; 4 - Aplicativo governamental - Microempreendedor Individual (MEI); 5 - Aplicativo governamental - Segurado Especial. Valores Válidos: 1, 2, 3, 4, 5.</td>
            <td width="200px"><b>{% if s1298_evtreabreevper.procemi or s1298_evtreabreevper.procemi == 0 %}{{ s1298_evtreabreevper.procemi }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s1298.can_see_s1298evtReabreEvPer or perms.esocial.can_see_s1298evtReabreEvPer %}
                <a href="{% url 's1298_evtreabreevper_salvar' pk=s1298_evtreabreevper.id tab='master' %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s1298_evtreabreevper.verproc|validacoes_esocial_efdreinf:"s1298_evtreabreevper.verproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">verProc</td>
            <td width="500px">Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento.</td>
            <td width="200px"><b>{% if s1298_evtreabreevper.verproc or s1298_evtreabreevper.verproc == 0 %}{{ s1298_evtreabreevper.verproc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s1298.can_see_s1298evtReabreEvPer or perms.esocial.can_see_s1298evtReabreEvPer %}
                <a href="{% url 's1298_evtreabreevper_salvar' pk=s1298_evtreabreevper.id tab='master' %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEmpregador</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do empregador.</td>
        </tr>

        <tr {% if s1298_evtreabreevper.tpinsc|validacoes_esocial_efdreinf:"s1298_evtreabreevper.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF).</td>
            <td width="200px"><b>{% if s1298_evtreabreevper.tpinsc or s1298_evtreabreevper.tpinsc == 0 %}{{ s1298_evtreabreevper.tpinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s1298.can_see_s1298evtReabreEvPer or perms.esocial.can_see_s1298evtReabreEvPer %}
                <a href="{% url 's1298_evtreabreevper_salvar' pk=s1298_evtreabreevper.id tab='master' %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s1298_evtreabreevper.nrinsc|validacoes_esocial_efdreinf:"s1298_evtreabreevper.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Se for um CNPJ deve ser informada apenas a Raiz/Base de oito posições, exceto se natureza jurídica de administração pública direta federal ([101-5], [104-0], [107-4], [116-3], situação em que o campo deve ser preenchido com o CNPJ completo (14 posições). Validação: Se {tpInsc} for igual a [1], deve ser um número de CNPJ válido. Se {tpInsc} for igual a [2], deve ser um CPF válido.</td>
            <td width="200px"><b>{% if s1298_evtreabreevper.nrinsc or s1298_evtreabreevper.nrinsc == 0 %}{{ s1298_evtreabreevper.nrinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s1298.can_see_s1298evtReabreEvPer or perms.esocial.can_see_s1298evtReabreEvPer %}
                <a href="{% url 's1298_evtreabreevper_salvar' pk=s1298_evtreabreevper.id tab='master' %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 {% endifequal %}{% endfor %}

</table>