<!-- eMensageriaAI -->
{% load templatetags %}
<table {% if not output %}
    class="table table-bordered"{% else %}
    width="100%"{% endif %}>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">evtAdmPrelim</td>
            <td bgcolor="lightgray" colspan="3">Evento Admissão do Trabalhador - Registro Preliminar. Regras de validação: REGRA_EVENTOS_EXTEMP REGRA_EXCLUSAO_ADMISSAO_PRELIMINAR REGRA_EXISTE_INFO_EMPREGADOR REGRA_RETIFICACAO_NAO_PERMITIDA REGRA_VALIDA_ADMISSAO_PRELIMINAR REGRA_VALIDA_EMPREGADOR</td>
        </tr>
    {% for s2190_evtadmprelim in s2190_evtadmprelim_lista %}
    {% ifequal 1 1 %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEvento</td>
            <td bgcolor="lightgray" colspan="3">Informações de Identificação do Evento.</td>
        </tr>

        <tr {% if s2190_evtadmprelim.tpamb|validacoes_esocial_efdreinf:"s2190_evtadmprelim.tpamb" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpAmb</td>
            <td width="500px">Identificação do ambiente: 1 - Produção; 2 - Produção restrita. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.tpamb or s2190_evtadmprelim.tpamb == 0 %}{{ s2190_evtadmprelim.tpamb }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s2190_evtadmprelim.procemi|validacoes_esocial_efdreinf:"s2190_evtadmprelim.procemi" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">procEmi</td>
            <td width="500px">Processo de emissão do evento: 1- Aplicativo do empregador; 2 - Aplicativo governamental - Empregador Doméstico; 3 - Aplicativo governamental - Web Geral; 4 - Aplicativo governamental - Simplificado Pessoa Jurídica; 5 - Aplicativo governamental - Segurado Especial. Valores Válidos: 1, 2, 3, 4, 5.</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.procemi or s2190_evtadmprelim.procemi == 0 %}{{ s2190_evtadmprelim.procemi }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s2190_evtadmprelim.verproc|validacoes_esocial_efdreinf:"s2190_evtadmprelim.verproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">verProc</td>
            <td width="500px">Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento.</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.verproc or s2190_evtadmprelim.verproc == 0 %}{{ s2190_evtadmprelim.verproc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEmpregador</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do empregador.</td>
        </tr>

        <tr {% if s2190_evtadmprelim.tpinsc|validacoes_esocial_efdreinf:"s2190_evtadmprelim.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF).</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.tpinsc or s2190_evtadmprelim.tpinsc == 0 %}{{ s2190_evtadmprelim.tpinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s2190_evtadmprelim.nrinsc|validacoes_esocial_efdreinf:"s2190_evtadmprelim.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Se for um CNPJ deve ser informada apenas a Raiz/Base de oito posições, exceto se natureza jurídica de administração pública direta federal ([101-5], [104-0], [107-4], [116-3], situação em que o campo deve ser preenchido com o CNPJ completo (14 posições). Validação: Se {tpInsc} for igual a [1], deve ser um número de CNPJ válido. Se {tpInsc} for igual a [2], deve ser um CPF válido.</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.nrinsc or s2190_evtadmprelim.nrinsc == 0 %}{{ s2190_evtadmprelim.nrinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">infoRegPrelim</td>
            <td bgcolor="lightgray" colspan="3">Informações do Registro Preliminar do Trabalhador.</td>
        </tr>

        <tr {% if s2190_evtadmprelim.cpftrab|validacoes_esocial_efdreinf:"s2190_evtadmprelim.cpftrab" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">cpfTrab</td>
            <td width="500px">Preencher com o número do CPF do trabalhador. Validação: Deve ser um CPF válido.</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.cpftrab or s2190_evtadmprelim.cpftrab == 0 %}{{ s2190_evtadmprelim.cpftrab }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s2190_evtadmprelim.dtnascto|validacoes_esocial_efdreinf:"s2190_evtadmprelim.dtnascto" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">dtNascto</td>
            <td width="500px">Preencher com a data de nascimento.</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.dtnascto or s2190_evtadmprelim.dtnascto == 0 %}{{ s2190_evtadmprelim.dtnascto|date:"Y-m-d" }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s2190_evtadmprelim.dtadm|validacoes_esocial_efdreinf:"s2190_evtadmprelim.dtadm" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">dtAdm</td>
            <td width="500px">Preencher com a data de admissão do trabalhador. Validação: Deve ser posterior à data de nascimento do trabalhador e igual ou posterior à data de início da obrigatoriedade dos eventos não periódicos para o empregador.</td>
            <td width="200px"><b>{% if s2190_evtadmprelim.dtadm or s2190_evtadmprelim.dtadm == 0 %}{{ s2190_evtadmprelim.dtadm|date:"Y-m-d" }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s2190.can_see_s2190evtAdmPrelim or perms.esocial.can_see_s2190evtAdmPrelim %}
                <a href="{% url 's2190_evtadmprelim_salvar' pk=s2190_evtadmprelim.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 {% endifequal %}{% endfor %}

</table>