{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_identidade or 1 %}
            <th>Identidade do Registro</th>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <th>Identificador de retificação</th>
            {% endif %}
            {% if show_fields.show_tpamb or 1 %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi or 1 %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc or 1 %}
            <th>Versão do processo</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <th>CPF</th>
            {% endif %}
            {% if show_fields.show_dtacid or 1 %}
            <th>Data do Acidente</th>
            {% endif %}
            {% if show_fields.show_tpacid or 1 %}
            <th>Tipo de acidente</th>
            {% endif %}
            {% if show_fields.show_hrstrabantesacid or 1 %}
            <th>Quant. de horas trabalhadas antes do acidente</th>
            {% endif %}
            {% if show_fields.show_tpcat or 1 %}
            <th>Tipo de CAT</th>
            {% endif %}
            {% if show_fields.show_indcatobito or 1 %}
            <th>Houve óbito</th>
            {% endif %}
            {% if show_fields.show_indcomunpolicia or 1 %}
            <th>Houve comunicação a autoridade policial</th>
            {% endif %}
            {% if show_fields.show_codsitgeradora or 1 %}
            <th>Situação Geradora</th>
            {% endif %}
            {% if show_fields.show_iniciatcat or 1 %}
            <th>Emitido por</th>
            {% endif %}
            {% if show_fields.show_tplocal or 1 %}
            <th>Tipo de logradouro</th>
            {% endif %}
            {% if show_fields.show_tplograd or 1 %}
            <th>Tipo de logradouro</th>
            {% endif %}
            {% if show_fields.show_dsclograd or 1 %}
            <th>Logradouro</th>
            {% endif %}
            {% if show_fields.show_nrlograd or 1 %}
            <th>Número</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2210_evtcat_lista %}
        <tr>
            {% if show_fields.show_identidade or 1 %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_tpamb or 1 %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi or 1 %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc or 1 %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <td>{{ a.cpftrab }}</td>
            {% endif %}
            {% if show_fields.show_dtacid or 1 %}
            <td><span style="display:none">{{ a.dtacid|date:"Y-m-d" }}</span>{{ a.dtacid|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_tpacid or 1 %}
            <td>{{ a.tpacid }}</td>
            {% endif %}
            {% if show_fields.show_hrstrabantesacid or 1 %}
            <td>{{ a.hrstrabantesacid }}</td>
            {% endif %}
            {% if show_fields.show_tpcat or 1 %}
            <td>{{ a.get_tpcat_display }}</td>
            {% endif %}
            {% if show_fields.show_indcatobito or 1 %}
            <td>{{ a.get_indcatobito_display }}</td>
            {% endif %}
            {% if show_fields.show_indcomunpolicia or 1 %}
            <td>{{ a.get_indcomunpolicia_display }}</td>
            {% endif %}
            {% if show_fields.show_codsitgeradora or 1 %}
            <td>{{ a.codsitgeradora|valor }}</td>
            {% endif %}
            {% if show_fields.show_iniciatcat or 1 %}
            <td>{{ a.get_iniciatcat_display }}</td>
            {% endif %}
            {% if show_fields.show_tplocal or 1 %}
            <td>{{ a.get_tplocal_display }}</td>
            {% endif %}
            {% if show_fields.show_tplograd or 1 %}
            <td>{{ a.tplograd }}</td>
            {% endif %}
            {% if show_fields.show_dsclograd or 1 %}
            <td>{{ a.dsclograd }}</td>
            {% endif %}
            {% if show_fields.show_nrlograd or 1 %}
            <td>{{ a.nrlograd }}</td>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.esocial.change_s2210evtCAT or perms.esocial.add_s2210evtCAT %}
                    
                        <a href="{% url 's2210_evtcat_salvar' pk=a.id %}">
                            {% if perms.esocial.change_s2210evtCAT %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.esocial.can_see_data_s2210evtCAT %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.esocial.delete_s2210evtCAT %}
                        <a href="{% url 's2210_evtcat_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
