{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_identidade or 1 %}
            <th>Identidade do Registro</th>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <th>Identificador de retificação</th>
            {% endif %}
            {% if show_fields.show_tpamb or 1 %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi or 1 %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc or 1 %}
            <th>Versão do processo</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <th>CPF</th>
            {% endif %}
            {% if show_fields.show_dtexame or 1 %}
            <th>Data da realização do exame toxicológico</th>
            {% endif %}
            {% if show_fields.show_indrecusa or 1 %}
            <th>Indicar se o trabalhador se recusou a realizar o exame toxicológico no desligamento: S - Sim; N - Não. Valores Válidos: S, N.</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2221_evttoxic_lista %}
        <tr>
            {% if show_fields.show_identidade or 1 %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_tpamb or 1 %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi or 1 %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc or 1 %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <td>{{ a.cpftrab }}</td>
            {% endif %}
            {% if show_fields.show_dtexame or 1 %}
            <td><span style="display:none">{{ a.dtexame|date:"Y-m-d" }}</span>{{ a.dtexame|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_indrecusa or 1 %}
            <td>{{ a.get_indrecusa_display }}</td>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->
                    
                        {% if perms.esocial.change_s2221evtToxic or perms.esocial.add_s2221evtToxic %}
                    
                        <a href="{% url 's2221_evttoxic_salvar' pk=a.id tab='master' %}">
                            {% if perms.esocial.change_s2221evtToxic %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.esocial.can_see_data_s2221evtToxic %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.esocial.delete_s2221evtToxic %}
                        <a href="{% url 's2221_evttoxic_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
