{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_identidade or 1 %}
            <th>Identidade do Registro</th>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <th>Identificador de retificação</th>
            {% endif %}
            {% if show_fields.show_tpamb or 1 %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi or 1 %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc or 1 %}
            <th>Versão do processo</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <th>CPF</th>
            {% endif %}
            {% if show_fields.show_codtreicap or 1 %}
            <th>Informar o código do treinamento/capacitação</th>
            {% endif %}
            {% if show_fields.show_dttreicap or 1 %}
            <th>Informar a data de início do treinamento/capacitação/autorização/exercício simulado ou a data de início da obrigatoriedade deste evento para o empregador no eSocial, a que for mais recente</th>
            {% endif %}
            {% if show_fields.show_indtreinant or 1 %}
            <th>Indicar se o treinamento ocorreu antes da admissão, em outro empregador</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="90px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2245_evttreicap_lista %}
        <tr>
            {% if show_fields.show_identidade or 1 %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_indretif or 1 %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_tpamb or 1 %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi or 1 %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc or 1 %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_tpinsc or 1 %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc or 1 %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <td>{{ a.cpftrab }}</td>
            {% endif %}
            {% if show_fields.show_codtreicap or 1 %}
            <td>{{ a.codtreicap }}</td>
            {% endif %}
            {% if show_fields.show_dttreicap or 1 %}
            <td><span style="display:none">{{ a.dttreicap|date:"Y-m-d" }}</span>{{ a.dttreicap|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_indtreinant or 1 %}
            <td>{{ a.get_indtreinant_display }}</td>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}
            
            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div>
                    <!-- botões especiais -->
                    
                        {% if perms.esocial.change_s2245evtTreiCap or perms.esocial.add_s2245evtTreiCap %}
                    
                        <a href="{% url 's2245_evttreicap_salvar' pk=a.id tab='master' %}">
                            {% if perms.esocial.change_s2245evtTreiCap %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.esocial.can_see_data_s2245evtTreiCap %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.esocial.delete_s2245evtTreiCap %}
                        <a href="{% url 's2245_evttreicap_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}
                    
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
