{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_evtconvinterm or 0 %}
            <th>Evento Convocação para Trabalho Intermitente</th>
            {% endif %}
            {% if show_fields.show_identidade or 1 %}
            <th>Identidade do Registro</th>
            {% endif %}
            {% if show_fields.show_ideevento or 0 %}
            <th>Informações de Identificação do Evento</th>
            {% endif %}
            {% if show_fields.show_indretif or 0 %}
            <th>Identificador de retificação</th>
            {% endif %}
            {% if show_fields.show_nrrecibo or 0 %}
            <th>Número do recibo</th>
            {% endif %}
            {% if show_fields.show_tpamb or 0 %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi or 0 %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc or 0 %}
            <th>Versão do processo</th>
            {% endif %}
            {% if show_fields.show_ideempregador or 0 %}
            <th>Informações de identificação do empregador</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 0 %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 0 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_idevinculo or 0 %}
            <th>Informações de Identificação do Trabalhador e do Vínculo</th>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <th>CPF</th>
            {% endif %}
            {% if show_fields.show_nistrab or 0 %}
            <th>NIS</th>
            {% endif %}
            {% if show_fields.show_matricula or 0 %}
            <th>Matricula</th>
            {% endif %}
            {% if show_fields.show_infoconvinterm or 0 %}
            <th>Informações da convocação para trabalho intermitente</th>
            {% endif %}
            {% if show_fields.show_codconv or 0 %}
            <th>Preencher com o código atribuído pela empresa que identifica a convocação para trabalho intermitente</th>
            {% endif %}
            {% if show_fields.show_dtinicio or 1 %}
            <th>Data de início</th>
            {% endif %}
            {% if show_fields.show_dtfim or 1 %}
            <th>Data de término da responsabilidade</th>
            {% endif %}
            {% if show_fields.show_dtprevpgto or 0 %}
            <th>Preencher com a data prevista para o pagamento da remuneração</th>
            {% endif %}
            {% if show_fields.show_jornada or 0 %}
            <th>Informações da(s) jornada(s) diária(s) da prestação de trabalho intermitente</th>
            {% endif %}
            {% if show_fields.show_codhorcontrat or 0 %}
            <th>Código do Horário Contratual</th>
            {% endif %}
            {% if show_fields.show_dscjornada or 0 %}
            <th>Descrição das jornadas e dos dias da prestação de trabalho intermitente</th>
            {% endif %}
            {% if show_fields.show_localtrab or 0 %}
            <th>Informações do local da prestação de trabalho intermitente</th>
            {% endif %}
            {% if show_fields.show_indlocal or 0 %}
            <th>Indicativo do local da prestação de trabalho intermitente</th>
            {% endif %}
            {% if show_fields.show_versao or 0 %}
            <th>Versão</th>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial or 0 %}
            <th>Transmissor</th>
            {% endif %}
            {% if show_fields.show_retornos_eventos or 0 %}
            <th>Retorno do Evento</th>
            {% endif %}
            {% if show_fields.show_ocorrencias or 0 %}
            <th>Ocorrências</th>
            {% endif %}
            {% if show_fields.show_validacao_precedencia or 0 %}
            <th>Validação de Precedência</th>
            {% endif %}
            {% if show_fields.show_validacoes or 0 %}
            <th>Validações</th>
            {% endif %}
            {% if show_fields.show_arquivo_original or 0 %}
            <th>Arquivo Original</th>
            {% endif %}
            {% if show_fields.show_arquivo or 0 %}
            <th>Arquivo</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2260_evtconvinterm_lista %}
        <tr>
            {% if show_fields.show_evtconvinterm %}
            <td></td>
            {% endif %}
            {% if show_fields.show_identidade %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_ideevento %}
            <td></td>
            {% endif %}
            {% if show_fields.show_indretif %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_nrrecibo %}
            <td>{{ a.nrrecibo }}</td>
            {% endif %}
            {% if show_fields.show_tpamb %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_ideempregador %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tpinsc %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_idevinculo %}
            <td></td>
            {% endif %}
            {% if show_fields.show_cpftrab %}
            <td>{{ a.cpftrab }}</td>
            {% endif %}
            {% if show_fields.show_nistrab %}
            <td>{{ a.nistrab }}</td>
            {% endif %}
            {% if show_fields.show_matricula %}
            <td>{{ a.matricula }}</td>
            {% endif %}
            {% if show_fields.show_infoconvinterm %}
            <td></td>
            {% endif %}
            {% if show_fields.show_codconv %}
            <td>{{ a.codconv }}</td>
            {% endif %}
            {% if show_fields.show_dtinicio %}
            <td><span style="display:none">{{ a.dtinicio|date:"Y-m-d" }}</span>{{ a.dtinicio|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_dtfim %}
            <td><span style="display:none">{{ a.dtfim|date:"Y-m-d" }}</span>{{ a.dtfim|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_dtprevpgto %}
            <td><span style="display:none">{{ a.dtprevpgto|date:"Y-m-d" }}</span>{{ a.dtprevpgto|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_jornada %}
            <td></td>
            {% endif %}
            {% if show_fields.show_codhorcontrat %}
            <td>{{ a.codhorcontrat }}</td>
            {% endif %}
            {% if show_fields.show_dscjornada %}
            <td>{{ a.dscjornada }}</td>
            {% endif %}
            {% if show_fields.show_localtrab %}
            <td></td>
            {% endif %}
            {% if show_fields.show_indlocal %}
            <td>{{ a.get_indlocal_display }}</td>
            {% endif %}
            {% if show_fields.show_versao %}
            <td>{{ a.get_versao_display }}</td>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial %}
            <td>{{ a.transmissor_lote_esocial }}</td>
            {% endif %}
            {% if show_fields.show_retornos_eventos %}
            <td>{{ a.retornos_eventos }}</td>
            {% endif %}
            {% if show_fields.show_ocorrencias %}
            <td>{{ a.ocorrencias }}</td>
            {% endif %}
            {% if show_fields.show_validacao_precedencia %}
            <td>{{ a.get_validacao_precedencia_display }}</td>
            {% endif %}
            {% if show_fields.show_validacoes %}
            <td>{{ a.validacoes }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_original %}
            <td>{{ a.get_arquivo_original_display }}</td>
            {% endif %}
            {% if show_fields.show_arquivo %}
            <td>{{ a.arquivo }}</td>
            {% endif %}
            {% if show_fields.show_status %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.esocial.change_s2260evtConvInterm or perms.esocial.add_s2260evtConvInterm %}

                        <a href="{% url 's2260_evtconvinterm_salvar' pk=a.id %}">
                            {% if perms.esocial.change_s2260evtConvInterm %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.esocial.can_see_data_s2260evtConvInterm %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.esocial.delete_s2260evtConvInterm %}
                        <a href="{% url 's2260_evtconvinterm_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
