{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_evtdeslig or 0 %}
            <th>Evento Desligamento</th>
            {% endif %}
            {% if show_fields.show_identidade or 1 %}
            <th>Identidade do Registro</th>
            {% endif %}
            {% if show_fields.show_ideevento or 0 %}
            <th>Informações de Identificação do Evento</th>
            {% endif %}
            {% if show_fields.show_indretif or 0 %}
            <th>Identificador de retificação</th>
            {% endif %}
            {% if show_fields.show_nrrecibo or 0 %}
            <th>Número do recibo</th>
            {% endif %}
            {% if show_fields.show_tpamb or 0 %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi or 0 %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc or 0 %}
            <th>Versão do processo</th>
            {% endif %}
            {% if show_fields.show_ideempregador or 0 %}
            <th>Informações de identificação do empregador</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 0 %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 0 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_idevinculo or 0 %}
            <th>Informações de Identificação do Trabalhador e do Vínculo</th>
            {% endif %}
            {% if show_fields.show_cpftrab or 1 %}
            <th>CPF</th>
            {% endif %}
            {% if show_fields.show_nistrab or 0 %}
            <th>NIS</th>
            {% endif %}
            {% if show_fields.show_matricula or 0 %}
            <th>Matricula</th>
            {% endif %}
            {% if show_fields.show_infodeslig or 0 %}
            <th>Apresenta as informações relativas ao desligamento do vínculo identificado no registro superior.</th>
            {% endif %}
            {% if show_fields.show_mtvdeslig or 0 %}
            <th>Motivo do desligamento</th>
            {% endif %}
            {% if show_fields.show_dtdeslig or 1 %}
            <th>Data de desligamento</th>
            {% endif %}
            {% if show_fields.show_indpagtoapi or 0 %}
            <th>Indicador de pagamento de aviso prévio indenizado</th>
            {% endif %}
            {% if show_fields.show_dtprojfimapi or 0 %}
            <th>Data projetada para o término do aviso prévio</th>
            {% endif %}
            {% if show_fields.show_pensalim or 0 %}
            <th>Pensão Alimentícia</th>
            {% endif %}
            {% if show_fields.show_percaliment or 0 %}
            <th>Percentual da Pensão Alimentícia</th>
            {% endif %}
            {% if show_fields.show_vralim or 0 %}
            <th>Valor da Pensão alimentícia</th>
            {% endif %}
            {% if show_fields.show_nrcertobito or 0 %}
            <th>Número da certidão de óbito</th>
            {% endif %}
            {% if show_fields.show_nrproctrab or 0 %}
            <th>Número do Processo Trabalhista</th>
            {% endif %}
            {% if show_fields.show_indcumprparc or 1 %}
            <th>Cumprimento parcial do aviso prévio</th>
            {% endif %}
            {% if show_fields.show_qtddiasinterm or 0 %}
            <th>Quantidade de dias trabalhados no mês pelo empregado com contrato de trabalho intermitente</th>
            {% endif %}
            {% if show_fields.show_versao or 0 %}
            <th>Versão</th>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial or 0 %}
            <th>Transmissor</th>
            {% endif %}
            {% if show_fields.show_retornos_eventos or 0 %}
            <th>Retorno do Evento</th>
            {% endif %}
            {% if show_fields.show_ocorrencias or 0 %}
            <th>Ocorrências</th>
            {% endif %}
            {% if show_fields.show_validacao_precedencia or 0 %}
            <th>Validação de Precedência</th>
            {% endif %}
            {% if show_fields.show_validacoes or 0 %}
            <th>Validações</th>
            {% endif %}
            {% if show_fields.show_arquivo_original or 0 %}
            <th>Arquivo Original</th>
            {% endif %}
            {% if show_fields.show_arquivo or 0 %}
            <th>Arquivo</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2299_evtdeslig_lista %}
        <tr>
            {% if show_fields.show_evtdeslig %}
            <td></td>
            {% endif %}
            {% if show_fields.show_identidade %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_ideevento %}
            <td></td>
            {% endif %}
            {% if show_fields.show_indretif %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_nrrecibo %}
            <td>{{ a.nrrecibo }}</td>
            {% endif %}
            {% if show_fields.show_tpamb %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_ideempregador %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tpinsc %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_idevinculo %}
            <td></td>
            {% endif %}
            {% if show_fields.show_cpftrab %}
            <td>{{ a.cpftrab }}</td>
            {% endif %}
            {% if show_fields.show_nistrab %}
            <td>{{ a.nistrab }}</td>
            {% endif %}
            {% if show_fields.show_matricula %}
            <td>{{ a.matricula }}</td>
            {% endif %}
            {% if show_fields.show_infodeslig %}
            <td></td>
            {% endif %}
            {% if show_fields.show_mtvdeslig %}
            <td>{{ a.mtvdeslig }}</td>
            {% endif %}
            {% if show_fields.show_dtdeslig %}
            <td><span style="display:none">{{ a.dtdeslig|date:"Y-m-d" }}</span>{{ a.dtdeslig|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_indpagtoapi %}
            <td>{{ a.get_indpagtoapi_display }}</td>
            {% endif %}
            {% if show_fields.show_dtprojfimapi %}
            <td><span style="display:none">{{ a.dtprojfimapi|date:"Y-m-d" }}</span>{{ a.dtprojfimapi|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_pensalim %}
            <td>{{ a.get_pensalim_display }}</td>
            {% endif %}
            {% if show_fields.show_percaliment %}
            <td>{{ a.percaliment }}</td>
            {% endif %}
            {% if show_fields.show_vralim %}
            <td>{{ a.vralim }}</td>
            {% endif %}
            {% if show_fields.show_nrcertobito %}
            <td>{{ a.nrcertobito }}</td>
            {% endif %}
            {% if show_fields.show_nrproctrab %}
            <td>{{ a.nrproctrab }}</td>
            {% endif %}
            {% if show_fields.show_indcumprparc %}
            <td>{{ a.get_indcumprparc_display }}</td>
            {% endif %}
            {% if show_fields.show_qtddiasinterm %}
            <td>{{ a.qtddiasinterm }}</td>
            {% endif %}
            {% if show_fields.show_versao %}
            <td>{{ a.get_versao_display }}</td>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial %}
            <td>{{ a.transmissor_lote_esocial }}</td>
            {% endif %}
            {% if show_fields.show_retornos_eventos %}
            <td>{{ a.retornos_eventos }}</td>
            {% endif %}
            {% if show_fields.show_ocorrencias %}
            <td>{{ a.ocorrencias }}</td>
            {% endif %}
            {% if show_fields.show_validacao_precedencia %}
            <td>{{ a.get_validacao_precedencia_display }}</td>
            {% endif %}
            {% if show_fields.show_validacoes %}
            <td>{{ a.validacoes }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_original %}
            <td>{{ a.get_arquivo_original_display }}</td>
            {% endif %}
            {% if show_fields.show_arquivo %}
            <td>{{ a.arquivo }}</td>
            {% endif %}
            {% if show_fields.show_status %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.esocial.change_s2299evtDeslig or perms.esocial.add_s2299evtDeslig %}

                        <a href="{% url 's2299_evtdeslig_salvar' pk=a.id %}">
                            {% if perms.esocial.change_s2299evtDeslig %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.esocial.can_see_data_s2299evtDeslig %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.esocial.delete_s2299evtDeslig %}
                        <a href="{% url 's2299_evtdeslig_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
