{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_evttsvinicio %}
            <th>Evento Trabalhador Sem Vínculo de Emprego/Estatutário - Início</th>
            {% endif %}
            {% if show_fields.show_identidade %}
            <th>Identidade do Registro</th>
            {% endif %}
            {% if show_fields.show_ideevento %}
            <th>Informações de Identificação do Evento</th>
            {% endif %}
            {% if show_fields.show_indretif %}
            <th>Identificador de retificação</th>
            {% endif %}
            {% if show_fields.show_nrrecibo %}
            <th>Número do recibo</th>
            {% endif %}
            {% if show_fields.show_tpamb %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc %}
            <th>Versão do processo</th>
            {% endif %}
            {% if show_fields.show_ideempregador %}
            <th>Informações de identificação do empregador</th>
            {% endif %}
            {% if show_fields.show_tpinsc %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_trabalhador %}
            <th>Informações Pessoais do Trabalhador</th>
            {% endif %}
            {% if show_fields.show_cpftrab %}
            <th>CPF</th>
            {% endif %}
            {% if show_fields.show_nistrab %}
            <th>NIS</th>
            {% endif %}
            {% if show_fields.show_nmtrab %}
            <th>Nome</th>
            {% endif %}
            {% if show_fields.show_sexo %}
            <th>Sexo</th>
            {% endif %}
            {% if show_fields.show_racacor %}
            <th>Raça/Cor</th>
            {% endif %}
            {% if show_fields.show_estciv %}
            <th>Estado Civil</th>
            {% endif %}
            {% if show_fields.show_grauinstr %}
            <th>Grau de Instrução</th>
            {% endif %}
            {% if show_fields.show_nmsoc %}
            <th>Nome Social</th>
            {% endif %}
            {% if show_fields.show_nascimento %}
            <th>Grupo de informações do nascimento do trabalhador</th>
            {% endif %}
            {% if show_fields.show_dtnascto %}
            <th>Data de nascimento</th>
            {% endif %}
            {% if show_fields.show_codmunic %}
            <th>Código do Município</th>
            {% endif %}
            {% if show_fields.show_uf %}
            <th>UF</th>
            {% endif %}
            {% if show_fields.show_paisnascto %}
            <th>País de nascimento</th>
            {% endif %}
            {% if show_fields.show_paisnac %}
            <th>País de nacionalidade</th>
            {% endif %}
            {% if show_fields.show_nmmae %}
            <th>Nome da Mãe</th>
            {% endif %}
            {% if show_fields.show_nmpai %}
            <th>Nome do Pai</th>
            {% endif %}
            {% if show_fields.show_endereco %}
            <th>Grupo de informações do endereço do Trabalhador</th>
            {% endif %}
            {% if show_fields.show_infotsvinicio %}
            <th>Trabalhador Sem Vínculo - Início</th>
            {% endif %}
            {% if show_fields.show_cadini %}
            <th>Indicar se o evento se refere a cadastramento inicial de vínculo</th>
            {% endif %}
            {% if show_fields.show_codcateg %}
            <th>Código da Categoria</th>
            {% endif %}
            {% if show_fields.show_dtinicio %}
            <th>Data de início</th>
            {% endif %}
            {% if show_fields.show_natatividade %}
            <th>Natureza da atividade</th>
            {% endif %}
            {% if show_fields.show_versao %}
            <th>Versão</th>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial %}
            <th>Transmissor</th>
            {% endif %}
            {% if show_fields.show_retornos_eventos %}
            <th>Retorno do Evento</th>
            {% endif %}
            {% if show_fields.show_ocorrencias %}
            <th>Ocorrências</th>
            {% endif %}
            {% if show_fields.show_validacao_precedencia %}
            <th>Validação de Precedência</th>
            {% endif %}
            {% if show_fields.show_validacoes %}
            <th>Validações</th>
            {% endif %}
            {% if show_fields.show_arquivo_original %}
            <th>Arquivo Original</th>
            {% endif %}
            {% if show_fields.show_arquivo %}
            <th>Arquivo</th>
            {% endif %}
            {% if show_fields.show_status %}
            <th>Status</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2300_evttsvinicio_lista %}
        <tr>
            {% if show_fields.show_evttsvinicio %}
            <td></td>
            {% endif %}
            {% if show_fields.show_identidade %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_ideevento %}
            <td></td>
            {% endif %}
            {% if show_fields.show_indretif %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_nrrecibo %}
            <td>{{ a.nrrecibo }}</td>
            {% endif %}
            {% if show_fields.show_tpamb %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_ideempregador %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tpinsc %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_trabalhador %}
            <td></td>
            {% endif %}
            {% if show_fields.show_cpftrab %}
            <td>{{ a.cpftrab }}</td>
            {% endif %}
            {% if show_fields.show_nistrab %}
            <td>{{ a.nistrab }}</td>
            {% endif %}
            {% if show_fields.show_nmtrab %}
            <td>{{ a.nmtrab }}</td>
            {% endif %}
            {% if show_fields.show_sexo %}
            <td>{{ a.get_sexo_display }}</td>
            {% endif %}
            {% if show_fields.show_racacor %}
            <td>{{ a.get_racacor_display }}</td>
            {% endif %}
            {% if show_fields.show_estciv %}
            <td>{{ a.get_estciv_display }}</td>
            {% endif %}
            {% if show_fields.show_grauinstr %}
            <td>{{ a.get_grauinstr_display }}</td>
            {% endif %}
            {% if show_fields.show_nmsoc %}
            <td>{{ a.nmsoc }}</td>
            {% endif %}
            {% if show_fields.show_nascimento %}
            <td></td>
            {% endif %}
            {% if show_fields.show_dtnascto %}
            <td><span style="display:none">{{ a.dtnascto|date:"Y-m-d" }}</span>{{ a.dtnascto|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_codmunic %}
            <td>{{ a.codmunic|valor }}</td>
            {% endif %}
            {% if show_fields.show_uf %}
            <td>{{ a.get_uf_display }}</td>
            {% endif %}
            {% if show_fields.show_paisnascto %}
            <td>{{ a.paisnascto }}</td>
            {% endif %}
            {% if show_fields.show_paisnac %}
            <td>{{ a.paisnac }}</td>
            {% endif %}
            {% if show_fields.show_nmmae %}
            <td>{{ a.nmmae }}</td>
            {% endif %}
            {% if show_fields.show_nmpai %}
            <td>{{ a.nmpai }}</td>
            {% endif %}
            {% if show_fields.show_endereco %}
            <td></td>
            {% endif %}
            {% if show_fields.show_infotsvinicio %}
            <td></td>
            {% endif %}
            {% if show_fields.show_cadini %}
            <td>{{ a.get_cadini_display }}</td>
            {% endif %}
            {% if show_fields.show_codcateg %}
            <td>{{ a.codcateg|valor }}</td>
            {% endif %}
            {% if show_fields.show_dtinicio %}
            <td><span style="display:none">{{ a.dtinicio|date:"Y-m-d" }}</span>{{ a.dtinicio|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_natatividade %}
            <td>{{ a.get_natatividade_display }}</td>
            {% endif %}
            {% if show_fields.show_versao %}
            <td>{{ a.get_versao_display }}</td>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial %}
            <td>{{ a.transmissor_lote_esocial }}</td>
            {% endif %}
            {% if show_fields.show_retornos_eventos %}
            <td>{{ a.retornos_eventos }}</td>
            {% endif %}
            {% if show_fields.show_ocorrencias %}
            <td>{{ a.ocorrencias }}</td>
            {% endif %}
            {% if show_fields.show_validacao_precedencia %}
            <td>{{ a.get_validacao_precedencia_display }}</td>
            {% endif %}
            {% if show_fields.show_validacoes %}
            <td>{{ a.validacoes }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_original %}
            <td>{{ a.get_arquivo_original_display }}</td>
            {% endif %}
            {% if show_fields.show_arquivo %}
            <td>{{ a.arquivo }}</td>
            {% endif %}
            {% if show_fields.show_status %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.esocial.change_s2300evtTSVInicio or perms.esocial.add_s2300evtTSVInicio %}

                        <a href="{% url 's2300_evttsvinicio_salvar' pk=a.id %}">
                            {% if perms.esocial.change_s2300evtTSVInicio %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.esocial.can_see_data_s2300evtTSVInicio %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.esocial.delete_s2300evtTSVInicio %}
                        <a href="{% url 's2300_evttsvinicio_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
