{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_evtcdbenefin or 0 %}
            <th>Evento de cadastro de beneficiários - Início</th>
            {% endif %}
            {% if show_fields.show_identidade or 1 %}
            <th>Identidade do Registro</th>
            {% endif %}
            {% if show_fields.show_ideevento or 0 %}
            <th>Informações de Identificação do Evento</th>
            {% endif %}
            {% if show_fields.show_indretif or 0 %}
            <th>Identificador de retificação</th>
            {% endif %}
            {% if show_fields.show_nrrecibo or 0 %}
            <th>Número do recibo</th>
            {% endif %}
            {% if show_fields.show_tpamb or 0 %}
            <th>Identificação do ambiente</th>
            {% endif %}
            {% if show_fields.show_procemi or 0 %}
            <th>Processo de emissão do evento</th>
            {% endif %}
            {% if show_fields.show_verproc or 0 %}
            <th>Versão do processo</th>
            {% endif %}
            {% if show_fields.show_ideempregador or 0 %}
            <th>Informações de identificação do empregador</th>
            {% endif %}
            {% if show_fields.show_tpinsc or 0 %}
            <th>Tipo de inscrição</th>
            {% endif %}
            {% if show_fields.show_nrinsc or 0 %}
            <th>Número de inscrição (CPF/CNPJ)</th>
            {% endif %}
            {% if show_fields.show_beneficiario or 0 %}
            <th>Grupo de informações do beneficiário</th>
            {% endif %}
            {% if show_fields.show_cpfbenef or 1 %}
            <th>CPF</th>
            {% endif %}
            {% if show_fields.show_nisbenef or 0 %}
            <th>Preencher com o Número de Identificação Social - NIS, o qual pode ser o PIS, PASEP ou NIT</th>
            {% endif %}
            {% if show_fields.show_nmbenefic or 0 %}
            <th>Nome</th>
            {% endif %}
            {% if show_fields.show_dtinicio or 1 %}
            <th>Data de início</th>
            {% endif %}
            {% if show_fields.show_sexo or 0 %}
            <th>Sexo</th>
            {% endif %}
            {% if show_fields.show_racacor or 0 %}
            <th>Raça/Cor</th>
            {% endif %}
            {% if show_fields.show_estciv or 0 %}
            <th>Estado Civil</th>
            {% endif %}
            {% if show_fields.show_incfismen or 0 %}
            <th>Informar se o beneficiário é pessoa com doença incapacitante, na forma da lei</th>
            {% endif %}
            {% if show_fields.show_dtincfismen or 0 %}
            <th>Preencher com a data do reconhecimento da incapacidade</th>
            {% endif %}
            {% if show_fields.show_dadosnasc or 0 %}
            <th>Informações de nascimento do beneficiário</th>
            {% endif %}
            {% if show_fields.show_dtnascto or 1 %}
            <th>Data de nascimento</th>
            {% endif %}
            {% if show_fields.show_codmunic or 0 %}
            <th>Código do Município</th>
            {% endif %}
            {% if show_fields.show_uf or 0 %}
            <th>UF</th>
            {% endif %}
            {% if show_fields.show_paisnascto or 0 %}
            <th>País de nascimento</th>
            {% endif %}
            {% if show_fields.show_paisnac or 0 %}
            <th>País de nacionalidade</th>
            {% endif %}
            {% if show_fields.show_nmmae or 0 %}
            <th>Nome da Mãe</th>
            {% endif %}
            {% if show_fields.show_nmpai or 0 %}
            <th>Nome do Pai</th>
            {% endif %}
            {% if show_fields.show_versao or 0 %}
            <th>Versão</th>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial or 0 %}
            <th>Transmissor</th>
            {% endif %}
            {% if show_fields.show_retornos_eventos or 0 %}
            <th>Retorno do Evento</th>
            {% endif %}
            {% if show_fields.show_ocorrencias or 0 %}
            <th>Ocorrências</th>
            {% endif %}
            {% if show_fields.show_validacao_precedencia or 0 %}
            <th>Validação de Precedência</th>
            {% endif %}
            {% if show_fields.show_validacoes or 0 %}
            <th>Validações</th>
            {% endif %}
            {% if show_fields.show_arquivo_original or 0 %}
            <th>Arquivo Original</th>
            {% endif %}
            {% if show_fields.show_arquivo or 0 %}
            <th>Arquivo</th>
            {% endif %}
            {% if show_fields.show_status or 1 %}
            <th>Status</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in s2400_evtcdbenefin_lista %}
        <tr>
            {% if show_fields.show_evtcdbenefin %}
            <td></td>
            {% endif %}
            {% if show_fields.show_identidade %}
            <td>{{ a.identidade }}</td>
            {% endif %}
            {% if show_fields.show_ideevento %}
            <td></td>
            {% endif %}
            {% if show_fields.show_indretif %}
            <td>{{ a.get_indretif_display }}</td>
            {% endif %}
            {% if show_fields.show_nrrecibo %}
            <td>{{ a.nrrecibo }}</td>
            {% endif %}
            {% if show_fields.show_tpamb %}
            <td>{{ a.get_tpamb_display }}</td>
            {% endif %}
            {% if show_fields.show_procemi %}
            <td>{{ a.get_procemi_display }}</td>
            {% endif %}
            {% if show_fields.show_verproc %}
            <td>{{ a.verproc }}</td>
            {% endif %}
            {% if show_fields.show_ideempregador %}
            <td></td>
            {% endif %}
            {% if show_fields.show_tpinsc %}
            <td>{{ a.get_tpinsc_display }}</td>
            {% endif %}
            {% if show_fields.show_nrinsc %}
            <td>{{ a.nrinsc }}</td>
            {% endif %}
            {% if show_fields.show_beneficiario %}
            <td></td>
            {% endif %}
            {% if show_fields.show_cpfbenef %}
            <td>{{ a.cpfbenef }}</td>
            {% endif %}
            {% if show_fields.show_nisbenef %}
            <td>{{ a.nisbenef }}</td>
            {% endif %}
            {% if show_fields.show_nmbenefic %}
            <td>{{ a.nmbenefic }}</td>
            {% endif %}
            {% if show_fields.show_dtinicio %}
            <td><span style="display:none">{{ a.dtinicio|date:"Y-m-d" }}</span>{{ a.dtinicio|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_sexo %}
            <td>{{ a.get_sexo_display }}</td>
            {% endif %}
            {% if show_fields.show_racacor %}
            <td>{{ a.get_racacor_display }}</td>
            {% endif %}
            {% if show_fields.show_estciv %}
            <td>{{ a.get_estciv_display }}</td>
            {% endif %}
            {% if show_fields.show_incfismen %}
            <td>{{ a.get_incfismen_display }}</td>
            {% endif %}
            {% if show_fields.show_dtincfismen %}
            <td><span style="display:none">{{ a.dtincfismen|date:"Y-m-d" }}</span>{{ a.dtincfismen|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_dadosnasc %}
            <td></td>
            {% endif %}
            {% if show_fields.show_dtnascto %}
            <td><span style="display:none">{{ a.dtnascto|date:"Y-m-d" }}</span>{{ a.dtnascto|date:"d/m/Y" }}</td>
            {% endif %}
            {% if show_fields.show_codmunic %}
            <td>{{ a.codmunic|valor }}</td>
            {% endif %}
            {% if show_fields.show_uf %}
            <td>{{ a.get_uf_display }}</td>
            {% endif %}
            {% if show_fields.show_paisnascto %}
            <td>{{ a.paisnascto }}</td>
            {% endif %}
            {% if show_fields.show_paisnac %}
            <td>{{ a.paisnac }}</td>
            {% endif %}
            {% if show_fields.show_nmmae %}
            <td>{{ a.nmmae }}</td>
            {% endif %}
            {% if show_fields.show_nmpai %}
            <td>{{ a.nmpai }}</td>
            {% endif %}
            {% if show_fields.show_versao %}
            <td>{{ a.get_versao_display }}</td>
            {% endif %}
            {% if show_fields.show_transmissor_lote_esocial %}
            <td>{{ a.transmissor_lote_esocial }}</td>
            {% endif %}
            {% if show_fields.show_retornos_eventos %}
            <td>{{ a.retornos_eventos }}</td>
            {% endif %}
            {% if show_fields.show_ocorrencias %}
            <td>{{ a.ocorrencias }}</td>
            {% endif %}
            {% if show_fields.show_validacao_precedencia %}
            <td>{{ a.get_validacao_precedencia_display }}</td>
            {% endif %}
            {% if show_fields.show_validacoes %}
            <td>{{ a.validacoes }}</td>
            {% endif %}
            {% if show_fields.show_arquivo_original %}
            <td>{{ a.get_arquivo_original_display }}</td>
            {% endif %}
            {% if show_fields.show_arquivo %}
            <td>{{ a.arquivo }}</td>
            {% endif %}
            {% if show_fields.show_status %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.esocial.change_s2400evtCdBenefIn or perms.esocial.add_s2400evtCdBenefIn %}

                        <a href="{% url 's2400_evtcdbenefin_salvar' pk=a.id %}">
                            {% if perms.esocial.change_s2400evtCdBenefIn %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.esocial.can_see_data_s2400evtCdBenefIn %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.esocial.delete_s2400evtCdBenefIn %}
                        <a href="{% url 's2400_evtcdbenefin_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
