{% load templatetags %}
<table {% if not output %}
    class="table table-bordered"{% else %} 
    width="100%"{% endif %}>


        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">evtExclusao</td>
            <td bgcolor="lightgray" colspan="3">Evento de Exclusão. Regras de validação: REGRA_EVE_EXCLUSAO_VALIDA_NRRECIBO REGRA_EXISTE_INFO_EMPREGADOR REGRA_VALIDA_EMPREGADOR</td>
        </tr>
    {% for s3000_evtexclusao in s3000_evtexclusao_lista %}
    {% ifequal 1 1 %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEvento</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do evento.</td>
        </tr>

        <tr {% if s3000_evtexclusao.tpamb|validacoes_esocial_efdreinf:"s3000_evtexclusao.tpamb" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpAmb</td>
            <td width="500px">Identificação do ambiente: 1 - Produção; 2 - Produção restrita. Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if s3000_evtexclusao.tpamb or s3000_evtexclusao.tpamb == 0 %}{{ s3000_evtexclusao.tpamb }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000evtExclusao or perms.esocial.can_see_s3000evtExclusao %}
                <a href="{% url 's3000_evtexclusao_salvar' pk=s3000_evtexclusao.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s3000_evtexclusao.procemi|validacoes_esocial_efdreinf:"s3000_evtexclusao.procemi" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">procEmi</td>
            <td width="500px">Processo de emissão do evento: 1- Aplicativo do empregador; 2 - Aplicativo governamental - Empregador Doméstico; 3 - Aplicativo governamental - Web Geral; 4 - Aplicativo governamental - Microempreendedor Individual (MEI); 5 - Aplicativo governamental - Segurado Especial. Valores Válidos: 1, 2, 3, 4, 5.</td>
            <td width="200px"><b>{% if s3000_evtexclusao.procemi or s3000_evtexclusao.procemi == 0 %}{{ s3000_evtexclusao.procemi }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000evtExclusao or perms.esocial.can_see_s3000evtExclusao %}
                <a href="{% url 's3000_evtexclusao_salvar' pk=s3000_evtexclusao.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s3000_evtexclusao.verproc|validacoes_esocial_efdreinf:"s3000_evtexclusao.verproc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">verProc</td>
            <td width="500px">Versão do processo de emissão do evento. Informar a versão do aplicativo emissor do evento.</td>
            <td width="200px"><b>{% if s3000_evtexclusao.verproc or s3000_evtexclusao.verproc == 0 %}{{ s3000_evtexclusao.verproc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000evtExclusao or perms.esocial.can_see_s3000evtExclusao %}
                <a href="{% url 's3000_evtexclusao_salvar' pk=s3000_evtexclusao.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideEmpregador</td>
            <td bgcolor="lightgray" colspan="3">Informações de identificação do empregador.</td>
        </tr>

        <tr {% if s3000_evtexclusao.tpinsc|validacoes_esocial_efdreinf:"s3000_evtexclusao.tpinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpInsc</td>
            <td width="500px">Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF).</td>
            <td width="200px"><b>{% if s3000_evtexclusao.tpinsc or s3000_evtexclusao.tpinsc == 0 %}{{ s3000_evtexclusao.tpinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000evtExclusao or perms.esocial.can_see_s3000evtExclusao %}
                <a href="{% url 's3000_evtexclusao_salvar' pk=s3000_evtexclusao.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s3000_evtexclusao.nrinsc|validacoes_esocial_efdreinf:"s3000_evtexclusao.nrinsc" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrInsc</td>
            <td width="500px">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}. Se for um CNPJ deve ser informada apenas a Raiz/Base de oito posições, exceto se natureza jurídica de administração pública direta federal ([101-5], [104-0], [107-4], [116-3], situação em que o campo deve ser preenchido com o CNPJ completo (14 posições). Validação: Se {tpInsc} for igual a [1], deve ser um número de CNPJ válido. Se {tpInsc} for igual a [2], deve ser um CPF válido.</td>
            <td width="200px"><b>{% if s3000_evtexclusao.nrinsc or s3000_evtexclusao.nrinsc == 0 %}{{ s3000_evtexclusao.nrinsc }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000evtExclusao or perms.esocial.can_see_s3000evtExclusao %}
                <a href="{% url 's3000_evtexclusao_salvar' pk=s3000_evtexclusao.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
 
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">infoExclusao</td>
            <td bgcolor="lightgray" colspan="3">Registro que identifica o evento objeto da exclusão.</td>
        </tr>

        <tr {% if s3000_evtexclusao.tpevento|validacoes_esocial_efdreinf:"s3000_evtexclusao.tpevento" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">tpEvento</td>
            <td width="500px">Preencher com o tipo de evento, conforme tabela 9. Validação: Deve existir na tabela 9. Podem ser excluídos apenas os eventos relacionados abaixo: a) Não periódicos (S-2190 a S-2400); b) Periódicos (S-1200 a S-1280 e S-1300).</td>
            <td width="200px"><b>{% if s3000_evtexclusao.tpevento or s3000_evtexclusao.tpevento == 0 %}{{ s3000_evtexclusao.tpevento }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000evtExclusao or perms.esocial.can_see_s3000evtExclusao %}
                <a href="{% url 's3000_evtexclusao_salvar' pk=s3000_evtexclusao.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s3000_evtexclusao.nrrecevt|validacoes_esocial_efdreinf:"s3000_evtexclusao.nrrecevt" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nrRecEvt</td>
            <td width="500px">Preencher com o número do recibo do evento que será excluído. Validação: O recibo deve ser relativo ao mesmo tipo de evento indicado em {tpEvento} e o respectivo evento não deve constar como excluído ou retificado. Além disso, no caso de exclusão de eventos em que existe a identificação do trabalhador, o evento que está sendo excluído deve referir-se ao mesmo trabalhador identificado por {cpfTrab} e {nisTrab}.</td>
            <td width="200px"><b>{% if s3000_evtexclusao.nrrecevt or s3000_evtexclusao.nrrecevt == 0 %}{{ s3000_evtexclusao.nrrecevt }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000evtExclusao or perms.esocial.can_see_s3000evtExclusao %}
                <a href="{% url 's3000_evtexclusao_salvar' pk=s3000_evtexclusao.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideTrabalhador</td>
            <td bgcolor="lightgray" colspan="3">Registro que identifica a qual trabalhador refere-se o evento a ser excluído.</td>
        </tr>
    {% for s3000_idetrabalhador in s3000_idetrabalhador_lista %}
    {% ifequal s3000_idetrabalhador.s3000_evtexclusao.id s3000_evtexclusao.id %}
        <tr {% if s3000_idetrabalhador.cpftrab|validacoes_esocial_efdreinf:"s3000_idetrabalhador.cpftrab" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">cpfTrab</td>
            <td width="500px">Preencher com o número do CPF do trabalhador. Validação: O CPF indicado deve existir na base de dados do RET.</td>
            <td width="200px"><b>{% if s3000_idetrabalhador.cpftrab or s3000_idetrabalhador.cpftrab == 0 %}{{ s3000_idetrabalhador.cpftrab }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000ideTrabalhador or perms.esocial.can_see_s3000ideTrabalhador %}
                <a href="{% url 's3000_idetrabalhador_salvar' pk=s3000_idetrabalhador.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s3000_idetrabalhador.nistrab|validacoes_esocial_efdreinf:"s3000_idetrabalhador.nistrab" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">nisTrab</td>
            <td width="500px">Preencher com o Número de Identificação Social - NIS, o qual pode ser o PIS, PASEP ou NIT. Validação: O preenchimento é obrigatório, exceto se o código de categoria do trabalhador for igual a [901, 903, 904]. Não preencher no caso de exclusão de pagamento de rendimentos do trabalho (S-1210) ou de admissão preliminar (S-2190).</td>
            <td width="200px"><b>{% if s3000_idetrabalhador.nistrab or s3000_idetrabalhador.nistrab == 0 %}{{ s3000_idetrabalhador.nistrab }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000ideTrabalhador or perms.esocial.can_see_s3000ideTrabalhador %}
                <a href="{% url 's3000_idetrabalhador_salvar' pk=s3000_idetrabalhador.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %}
        <tr>
            <td bgcolor="lightgray" colspan="1" width="130px">ideFolhaPagto</td>
            <td bgcolor="lightgray" colspan="3">Registro que identifica a qual folha de pagamento pertence o evento que será excluído.</td>
        </tr>
    {% for s3000_idefolhapagto in s3000_idefolhapagto_lista %}
    {% ifequal s3000_idefolhapagto.s3000_evtexclusao.id s3000_evtexclusao.id %}
        <tr {% if s3000_idefolhapagto.indapuracao|validacoes_esocial_efdreinf:"s3000_idefolhapagto.indapuracao" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">indApuracao</td>
            <td width="500px">Indicativo de período de apuração: 1 - Mensal; 2 - Anual (13° salário). Valores Válidos: 1, 2.</td>
            <td width="200px"><b>{% if s3000_idefolhapagto.indapuracao or s3000_idefolhapagto.indapuracao == 0 %}{{ s3000_idefolhapagto.indapuracao }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000ideFolhaPagto or perms.esocial.can_see_s3000ideFolhaPagto %}
                <a href="{% url 's3000_idefolhapagto_salvar' pk=s3000_idefolhapagto.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>

        <tr {% if s3000_idefolhapagto.perapur|validacoes_esocial_efdreinf:"s3000_idefolhapagto.perapur" %}bgcolor="lightcoral"{% endif %}>
            <td width="130px">perApur</td>
            <td width="500px">Informar o mês/ano (formato AAAA-MM) de referência das informações, se {indApuracao} for igual a [1], ou apenas o ano (formato AAAA), se {indApuracao} for igual a [2]. Validação: Deve ser um mês/ano ou ano válido, posterior a implementação do eSocial.</td>
            <td width="200px"><b>{% if s3000_idefolhapagto.perapur or s3000_idefolhapagto.perapur == 0 %}{{ s3000_idefolhapagto.perapur }}{% else %}(vazio){% endif %}</b></td>
            {% if not output %}
            <td width="40px">
              <div>
                {% if perms.s3000.can_see_s3000ideFolhaPagto or perms.esocial.can_see_s3000ideFolhaPagto %}
                <a href="{% url 's3000_idefolhapagto_salvar' pk=s3000_idefolhapagto.id %}">
                    <span class="btn btn-primary">
                        <i class="fa fa-fw fa-edit"></i>
                    </span>
                </a>
                {% endif %}
              </div>
            </td>
            {% endif %}
        </tr>
    {% endifequal %}{% endfor %} {% endifequal %}{% endfor %}

</table>