{% load templatetags %}<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<font size="20px">Recibo do R-2060 - Contribuição Previdenciária sobre a Receita Bruta - CPRB</font><br>

Gerado em <strong>{{ data|date:"SHORT_DATE_FORMAT" }}</strong> por <strong>{{ usuario.nome }}</strong>
<br><br>



{% if r5001evtTotal_dados %}


<font size="15px">Identificação</font><br>
<table border="0.5px" cellpadding="5px" width="900px">
    <tr>
        <td colspan="6">Período de apuração:<br> <font
                size="13px"><strong>{{ r5001evtTotal_dados.perapur }}</strong></font></td>
        <td colspan="3">Tipo de Inscrição:<br> <font
                size="13px"><strong>{{ r5001evtTotal_dados.get_tpinsc_display }}</strong></font></td>
        <td colspan="3">Número de Inscrição:<br> <font
                size="13px"><strong>{{ r5001evtTotal_dados.nrinsc }}</strong></font></td>
    </tr>
</table>
<br>

<font size="15px">Retorno:</font><br>
<table border="0.5px" cellpadding="5px" width="900px">

    <tr>
        <td>Código:<br>
            <font size="13px"><strong>{{ r5001evtTotal_dados.cdretorno }}</strong></font>
        </td>

        <td>Descrição:<br>
            <font size="13px"><strong>{{ r5001evtTotal_dados.descretorno }}</strong></font>
        </td>
    </tr>

</table>
<br>

<font size="15px">Ocorrências</font><br>
<table border="0.5px" cellpadding="5px">
    <tr>
        <td bgcolor="#CCC" colspan="1">Tipo</td>
        <td bgcolor="#CCC" colspan="1">Código</td>
        <td bgcolor="#CCC" colspan="10">Descrição</td>
    </tr>
    {% for a in r5001regOcorrs_dados %}
        <tr>
            <td colspan="1" rowspan="2">{{ a.get_tpocorr_display }}</td>
            <td colspan="1" rowspan="2">{{ a.codresp }}</td>
            <td colspan="10">{{ a.dscresp }}</td>
        </tr>
        <tr>
            <td colspan="10">Localização: {{ a.localerroaviso }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não foram registradas ocorrências para este evento!</td>
        </tr>
    {% endfor %}
</table><br>





<font size="15px">Recibo</font><br>
<table border="0.5px" cellpadding="5px">
    <tr>
        <td colspan="6">Número Protocolo:<br>
            <strong><font size="13px">
                {% if r5001evtTotal_dados.nrprotentr %}{{ retorno.nrprotentr }}{% else %}
                    -{% endif %}</font></strong></td>
        <td colspan="6">Data:<br>
            <strong><font size="13px">
                {% if r5001evtTotal_dados.dhprocess %}{{ retorno.dhprocess }}{% else %}
                    -{% endif %}</font></strong></td>
    </tr>
    <tr>
        <td>Evento:<br>
            <strong><font size="13px">
                {% if r5001evtTotal_dados.tpev %}{{ retorno.tpev }}{% else %}
                    -{% endif %}</font></strong></td>
        <td>ID do Eventos:<br>
            <strong><font size="13px">
                {% if r5001evtTotal_dados.idev %}{{ retorno.idev }}{% else %}
                    -{% endif %}</font></strong></td>
        <td>Hash:<br>
            <strong><font size="13px">
                {% if r5001evtTotal_dados.hash %}{{ retorno.hash }}{% else %}
                    -{% endif %}</font></strong></td>
    </tr>
</table>



{% if r5001RTom_dados %}
<br>
<font size="15px">Totalizador das retenções de contribuição previdenciária sobre serviços tomados</font><br>
<table border="0.5px" cellpadding="5px">
    <tr>
        <td bgcolor="#CCC" colspan="6">CNPJ do Prestador de Serviços</td>
        <td bgcolor="#CCC" colspan="6">Base de cálculo da retenção da contribuição previdenciária</td>
    </tr>
    {% for a in r5001RTom_dados %}
        <tr>
            <td colspan="6">{{ a.cnpjprestador }}</td>
            <td colspan="6">{{ a.vlrtotalbaseret }}</td>
        </tr>
        <tr>
            <td colspan="4">Código de Receita - CR relativo a contribuições sociais devidas à Previdência Social sobre serviços tomados</td>
            <td colspan="4">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRTom}</td>
            <td colspan="4">Valor da contribuição previdenciária com exibilidade suspensa correspondente ao Código de Receita - CR informado em {CRTom}</td>
        </tr>
    {% for b in r5001RTom_dados %}
    {% ifequal b.id a.id %}
        <tr>
            <td colspan="4">{{ b.crtomom }}</td>
            <td colspan="4">{{ b.vlrcrtom }}</td>
            <td colspan="4">{{ b.vlrcrtomsusp }}</td>
        </tr>
    {% endifequal %}
    {% endfor %}


    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5001RPrest_dados %}
<br>

<font size="15px">Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre serviços prestados, apuradas no evento R-2020</font><br>
<table border="0.5px" cellpadding="5px">
    {% for a in r5001RPrest_dados %}
        <tr>
            <td colspan="6">Preencher com o código correspondente ao tipo de inscrição.
                                  Origem: R-2020:<br>{{ a.tpinsctomador }}</td>
            <td colspan="6">Número de inscrição do Tomador de Serviços:<br>{{ a.nrinsctomador }}</td>
        </tr>
        <tr>
            <td colspan="4">Preencher com a soma da base de cálculo da retenção da contribuição previdenciária
                                  das notas fiscais emitidas para o contratante:<br>{{ a.vlrtotalbaseret }}</td>
            <td colspan="4">Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante:<br>{{ a.vlrtotalretprinc }}</td>
            <td colspan="4">Soma do valor do adicional de retenção das notas fiscais:<br>{{ a.vlrtotalretadic }}</td>
        </tr>
        <tr>
            <td colspan="6">Valor da retenção principal em decorrência da decisão judicial:<br>{{ a.vlrtotalnretprinc }}</td>
            <td colspan="6">Valor da retenção principal em decorrência da decisão judicial:<br>{{ a.vlrtotalnretadic }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5001RRecRepAD_dados %}

<br>
<font size="15px">Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre recursos repassados a Associações Desportivas que mantenham equipe de futebol profissional, apuradas no evento R-2040</font><br>
<table border="0.5px" cellpadding="5px">
    {% for a in r5001RRecRepAD_dados %}
        <tr>
            <td colspan="6">CNPJ da associação desportiva - origem R-2040:<br>{{ a.cnpjAssocDesp }}</td>
            <td colspan="6">Valor bruto dos recursos repassados:<br>{{ a.vlrTotalRep }}</td>
        </tr>
        <tr>
            <td colspan="4">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre recursos repassados a Associações Desportivas que mantenham equipe de futebol profissional, calculada segundo as regras estabelecidas na legislação em vigor:<br>{{ a.CRRecRepAD }}</td>
            <td colspan="4">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRepAD}.
                                  Validação: Deve ser apurado de acordo com a legislação em vigor na competência:<br>{{ a.vlrCRRecRepAD }}</td>
            <td colspan="4">Valor da contribuição previdenciária que deixou de ser efetuada ou que foi depositada em juízo em decorrência de decisão judicial/administrativa correspondente ao Código de Receita - CR informado em {CRRepAD}:<br>{{ a.vlrCRRecRepADSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5001RComl_dados %}
<br>

<font size="15px">Totalizador das contribuições sociais incidentes sobre a comercialização de produção por Produtor Rural Pessoa Jurídica e Agroindústria, apuradas no evento R-2050</font><br>
<table border="0.5px" cellpadding="5px">
        <tr>
            <td colspan="4">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Comercialização de Produção, calculada segundo as regras estabelecidas na legislação em vigor.
                                  Validação: Deve ser um código válido, compatível com as informações prestadas nos demais eventos</td>
            <td colspan="4">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRComl}.
                                  Validação: Deve ser apurado de acordo com a legislação em vigor na competência</td>
            <td colspan="4">Valor da contribuição previdenciária com exibilidade suspensa correspondente ao Código de Receita - CR informado em {CRComl}</td>
        </tr>
    {% for a in r5001RComl_dados %}
        <tr>
            <td colspan="4">{{ a.CRComl }}</td>
            <td colspan="4">{{ a.vlrCRComl }}</td>
            <td colspan="4">{{ a.vlrCRComlSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5001RCPRB_dados %}
<br>

<font size="15px">Totalizador da contribuição previdenciária sobre a Receita Bruta - CPRB, apuradas no evento R-2060</font><br>
<table border="0.5px" cellpadding="5px">
        <tr>
            <td colspan="4">Código de Receita - CR</td>
            <td colspan="4">Valor do total da Contribuição Previdenciária sobre Receita Bruta</td>
            <td colspan="4">Valor da Contribuição Previdenciária com exigibilidade suspensa</td>
        </tr>
    {% for a in r5001RCPRB_dados %}
        <tr>
            <td colspan="4">{{ a.CRCPRB }}</td>
            <td colspan="4">{{ a.vlrCRCPRB }}</td>
            <td colspan="4">{{ a.vlrCRCPRBSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5001RRecEspetDesp_dados %}
<br>
<font size="15px">Totalizador da contribuição previdenciária sobre a Receita Bruta - CPRB, apuradas no evento R-2060</font><br>
<table border="0.5px" cellpadding="5px">
        <tr>
            <td colspan="3">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Receita de Espetáculos Desportivos, calculada segundo as regras estabelecidas na legislação em vigor</td>
            <td colspan="3">Valor acumulado da receita total auferida em espetáculos desportivos</td>
            <td colspan="3">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRecEspetDesp}</td>
            <td colspan="3">Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao Código de Receita - CR informado em {CRRecEspetDesp}</td>
        </tr>
    {% for a in r5001RRecEspetDesp_dados %}
        <tr>
            <td colspan="3">{{ a.CRRecEspetDesp }}</td>
            <td colspan="3">{{ a.vlrReceitaTotal }}</td>
            <td colspan="3">{{ a.vlrCRRecEspetDesp }}</td>
            <td colspan="3">{{ a.vlrCRRecEspetDespSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endif %}

<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->
<!--  CONTRIBUINTE   -->




{% if r5011evtTotalContrib_dados %}


<font size="15px">Identificação</font><br>
<table border="0.5px" cellpadding="5px" width="900px">
    <tr>
        <td colspan="6">Período de apuração:<br> <font
                size="13px"><strong>{{ r5011evtTotalContrib_dados.perapur }}</strong></font></td>
        <td colspan="3">Tipo de Inscrição:<br> <font
                size="13px"><strong>{{ r5011evtTotalContrib_dados.get_tpinsc_display }}</strong></font></td>
        <td colspan="3">Número de Inscrição:<br> <font
                size="13px"><strong>{{ r5011evtTotalContrib_dados.nrinsc }}</strong></font></td>
    </tr>
</table>
<br>

<font size="15px">Retorno:</font><br>
<table border="0.5px" cellpadding="5px" width="900px">

    <tr>
        <td>Código:<br>
            <font size="13px"><strong>{{ r5011evtTotalContrib_dados.cdretorno }}</strong></font>
        </td>

        <td>Descrição:<br>
            <font size="13px"><strong>{{ r5011evtTotalContrib_dados.descretorno }}</strong></font>
        </td>
    </tr>

</table>
<br>

<font size="15px">Ocorrências</font><br>
<table border="0.5px" cellpadding="5px">
    <tr>
        <td bgcolor="#CCC" colspan="1">Tipo</td>
        <td bgcolor="#CCC" colspan="1">Código</td>
        <td bgcolor="#CCC" colspan="10">Descrição</td>
    </tr>
    {% for a in r5011regOcorrs_dados %}
        <tr>
            <td colspan="1" rowspan="2">{{ a.get_tpocorr_display }}</td>
            <td colspan="1" rowspan="2">{{ a.codresp }}</td>
            <td colspan="10">{{ a.dscresp }}</td>
        </tr>
        <tr>
            <td colspan="10">Localização: {{ a.localerroaviso }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não foram registradas ocorrências para este evento!</td>
        </tr>
    {% endfor %}
</table><br>





<font size="15px">Recibo</font><br>
<table border="0.5px" cellpadding="5px">
    <tr>
        <td colspan="6">Número Protocolo:<br>
            <strong><font size="13px">
                {% if r5011evtTotal_dados.nrprotentr %}{{ retorno.nrprotentr }}{% else %}
                    -{% endif %}</font></strong></td>
        <td colspan="6">Data:<br>
            <strong><font size="13px">
                {% if r5011evtTotal_dados.dhprocess %}{{ retorno.dhprocess }}{% else %}
                    -{% endif %}</font></strong></td>
    </tr>
    <tr>
        <td>Evento:<br>
            <strong><font size="13px">
                {% if r5011evtTotal_dados.tpev %}{{ retorno.tpev }}{% else %}
                    -{% endif %}</font></strong></td>
        <td>ID do Eventos:<br>
            <strong><font size="13px">
                {% if r5011evtTotal_dados.idev %}{{ retorno.idev }}{% else %}
                    -{% endif %}</font></strong></td>
        <td>Hash:<br>
            <strong><font size="13px">
                {% if r5011evtTotal_dados.hash %}{{ retorno.hash }}{% else %}
                    -{% endif %}</font></strong></td>
    </tr>
</table>



{% if r5011RTom_dados %}
<br>
<font size="15px">Totalizador das retenções de contribuição previdenciária sobre serviços tomados</font><br>
<table border="0.5px" cellpadding="5px">
    <tr>
        <td bgcolor="#CCC" colspan="6">CNPJ do Prestador de Serviços</td>
        <td bgcolor="#CCC" colspan="6">Base de cálculo da retenção da contribuição previdenciária</td>
    </tr>
    {% for a in r5011RTom_dados %}
        <tr>
            <td colspan="6">{{ a.cnpjprestador }}</td>
            <td colspan="6">{{ a.vlrtotalbaseret }}</td>
        </tr>
        <tr>
            <td colspan="4">Código de Receita - CR relativo a contribuições sociais devidas à Previdência Social sobre serviços tomados</td>
            <td colspan="4">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRTom}</td>
            <td colspan="4">Valor da contribuição previdenciária com exibilidade suspensa correspondente ao Código de Receita - CR informado em {CRTom}</td>
        </tr>
    {% for b in r5011RTom_dados %}
    {% ifequal b.id a.id %}
        <tr>
            <td colspan="4">{{ b.crtomom }}</td>
            <td colspan="4">{{ b.vlrcrtom }}</td>
            <td colspan="4">{{ b.vlrcrtomsusp }}</td>
        </tr>
    {% endifequal %}
    {% endfor %}


    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5011RPrest_dados %}
<br>

<font size="15px">Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre serviços prestados, apuradas no evento R-2020</font><br>
<table border="0.5px" cellpadding="5px">
    {% for a in r5011RPrest_dados %}
        <tr>
            <td colspan="6">Preencher com o código correspondente ao tipo de inscrição.
                                  Origem: R-2020:<br>{{ a.tpinsctomador }}</td>
            <td colspan="6">Número de inscrição do Tomador de Serviços:<br>{{ a.nrinsctomador }}</td>
        </tr>
        <tr>
            <td colspan="4">Preencher com a soma da base de cálculo da retenção da contribuição previdenciária
                                  das notas fiscais emitidas para o contratante:<br>{{ a.vlrtotalbaseret }}</td>
            <td colspan="4">Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante:<br>{{ a.vlrtotalretprinc }}</td>
            <td colspan="4">Soma do valor do adicional de retenção das notas fiscais:<br>{{ a.vlrtotalretadic }}</td>
        </tr>
        <tr>
            <td colspan="6">Valor da retenção principal em decorrência da decisão judicial:<br>{{ a.vlrtotalnretprinc }}</td>
            <td colspan="6">Valor da retenção principal em decorrência da decisão judicial:<br>{{ a.vlrtotalnretadic }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5011RRecRepAD_dados %}

<br>
<font size="15px">Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre recursos repassados a Associações Desportivas que mantenham equipe de futebol profissional, apuradas no evento R-2040</font><br>
<table border="0.5px" cellpadding="5px">
    {% for a in r5011RRecRepAD_dados %}
        <tr>
            <td colspan="6">CNPJ da associação desportiva - origem R-2040:<br>{{ a.cnpjAssocDesp }}</td>
            <td colspan="6">Valor bruto dos recursos repassados:<br>{{ a.vlrTotalRep }}</td>
        </tr>
        <tr>
            <td colspan="4">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre recursos repassados a Associações Desportivas que mantenham equipe de futebol profissional, calculada segundo as regras estabelecidas na legislação em vigor:<br>{{ a.CRRecRepAD }}</td>
            <td colspan="4">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRepAD}.
                                  Validação: Deve ser apurado de acordo com a legislação em vigor na competência:<br>{{ a.vlrCRRecRepAD }}</td>
            <td colspan="4">Valor da contribuição previdenciária que deixou de ser efetuada ou que foi depositada em juízo em decorrência de decisão judicial/administrativa correspondente ao Código de Receita - CR informado em {CRRepAD}:<br>{{ a.vlrCRRecRepADSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5011RComl_dados %}
<br>

<font size="15px">Totalizador das contribuições sociais incidentes sobre a comercialização de produção por Produtor Rural Pessoa Jurídica e Agroindústria, apuradas no evento R-2050</font><br>
<table border="0.5px" cellpadding="5px">
        <tr>
            <td colspan="4">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Comercialização de Produção, calculada segundo as regras estabelecidas na legislação em vigor.
                                  Validação: Deve ser um código válido, compatível com as informações prestadas nos demais eventos</td>
            <td colspan="4">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRComl}.
                                  Validação: Deve ser apurado de acordo com a legislação em vigor na competência</td>
            <td colspan="4">Valor da contribuição previdenciária com exibilidade suspensa correspondente ao Código de Receita - CR informado em {CRComl}</td>
        </tr>
    {% for a in r5011RComl_dados %}
        <tr>
            <td colspan="4">{{ a.CRComl }}</td>
            <td colspan="4">{{ a.vlrCRComl }}</td>
            <td colspan="4">{{ a.vlrCRComlSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5011RCPRB_dados %}
<br>

<font size="15px">Totalizador da contribuição previdenciária sobre a Receita Bruta - CPRB, apuradas no evento R-2060</font><br>
<table border="0.5px" cellpadding="5px">
        <tr>
            <td colspan="4">Código de Receita - CR</td>
            <td colspan="4">Valor do total da Contribuição Previdenciária sobre Receita Bruta</td>
            <td colspan="4">Valor da Contribuição Previdenciária com exigibilidade suspensa</td>
        </tr>
    {% for a in r5011RCPRB_dados %}
        <tr>
            <td colspan="4">{{ a.CRCPRB }}</td>
            <td colspan="4">{{ a.vlrCRCPRB }}</td>
            <td colspan="4">{{ a.vlrCRCPRBSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if r5011RRecEspetDesp_dados %}
<br>
<font size="15px">Totalizador da contribuição previdenciária sobre a Receita Bruta - CPRB, apuradas no evento R-2060</font><br>
<table border="0.5px" cellpadding="5px">
        <tr>
            <td colspan="3">Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Receita de Espetáculos Desportivos, calculada segundo as regras estabelecidas na legislação em vigor</td>
            <td colspan="3">Valor acumulado da receita total auferida em espetáculos desportivos</td>
            <td colspan="3">Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRecEspetDesp}</td>
            <td colspan="3">Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao Código de Receita - CR informado em {CRRecEspetDesp}</td>
        </tr>
    {% for a in r5011RRecEspetDesp_dados %}
        <tr>
            <td colspan="3">{{ a.CRRecEspetDesp }}</td>
            <td colspan="3">{{ a.vlrReceitaTotal }}</td>
            <td colspan="3">{{ a.vlrCRRecEspetDesp }}</td>
            <td colspan="3">{{ a.vlrCRRecEspetDespSusp }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">Não há!</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endif %}

</body>
</html>