{% load templatetags %}{% load static %}



<!-- inicio__s5003_dpsperapur__s5003_infotrabdps -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#id_s5003_infotrabdps').change(function(){
       document.getElementById("s5003_dpsperapur__s5003_infotrabdps__div_acessar").style.display = 'none';
   });
  });
</script>
<div class="col-md-12" id="s5003_dpsperapur__s5003_infotrabdps__div">
  <div class="form-group">
    <label id="s5003_dpsperapur__s5003_infotrabdps__label">Cálculo dos valores de FGTS a serem depositados, incidentes sobre a remuneração do período de apuração e de períodos anteriores, exceto se {tpAcConv} = [E].*</label>
    {% if not for_print %}
      {% if s5003_dpsperapur_form.s5003_infotrabdps.value %}
        <a id="s5003_dpsperapur__s5003_infotrabdps__div_acessar" href="{% url 's5003_infotrabdps_salvar' pk=s5003_dpsperapur_form.s5003_infotrabdps.value tab='master' %}">
          [Acessar]
        </a>
      {% endif %} 
    {% endif %}
    {% if s5003_dpsperapur_form.s5003_infotrabdps.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5003_dpsperapur_form.s5003_infotrabdps.errors }}
      </div>
    {% endif %}
    {% if s5003_dpsperapur_form.s5003_infotrabdps.field.widget.attrs.readonly %}
      {% if s5003_dpsperapur_form.s5003_infotrabdps.field.widget.attrs.disabled %}
        {{ s5003_dpsperapur_form.s5003_infotrabdps|addcss:'form-control' }}
        <input id="id_s5003_infotrabdps" name="s5003_infotrabdps" type="hidden" value="{% if s5003_dpsperapur_form.s5003_infotrabdps.value or s5003_dpsperapur_form.s5003_infotrabdps.value == 0 %}{{ s5003_dpsperapur_form.s5003_infotrabdps.value|valor }}{% endif %}">
      {% else %}
        {{ s5003_dpsperapur_form.s5003_infotrabdps|addcss:'form-control' }}
      {% endif %}
    {% else %}
      {{ s5003_dpsperapur_form.s5003_infotrabdps|addcss_select2:'form-control automate-select' }}
    {% endif %}
  </div>
</div>
<!-- fim__s5003_dpsperapur__s5003_infotrabdps -->
<!-- inicio__s5003_dpsperapur__tpdps -->
<div class="col-md-4" id="s5003_dpsperapur__tpdps__div">
  <div class="form-group">
    <label id="s5003_dpsperapur__tpdps__label">Tipo de depósito*</label>
    {% if s5003_dpsperapur_form.tpdps.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s5003_dpsperapur_form.tpdps.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s5003_dpsperapur_form.tpdps.field.widget.attrs.readonly %}
        {% if s5003_dpsperapur_form.tpdps.field.widget.attrs.disabled %}
          {{ s5003_dpsperapur_form.tpdps|addcss:'form-control' }}
          <input id="id_tpdps" name="tpdps" type="hidden" value="{% if s5003_dpsperapur_form.tpdps.value or s5003_dpsperapur_form.tpdps.value == 0 %}{{ s5003_dpsperapur_form.tpdps.value|valor }}{% endif %}">
        {% else %}
          {{ s5003_dpsperapur_form.tpdps|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s5003_dpsperapur_form.tpdps|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s5003_dpsperapur__tpdps -->
<!-- inicio__s5003_dpsperapur__dpsfgts -->
<div class="col-md-4" id="s5003_dpsperapur__dpsfgts__div">
  <div class="form-group">
    <label id="s5003_dpsperapur__dpsfgts__label">Valor histórico do FGTS a ser depositado na conta vinculada do trabalhador, conforme definido no campo {tpDps}*</label>
    {% if s5003_dpsperapur_form.dpsfgts.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s5003_dpsperapur_form.dpsfgts.errors }}
    </div>
    {% endif %}
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-money"></i>
      </div>
      {{ s5003_dpsperapur_form.dpsfgts|addcss:'form-control automate-money' }}
    </div>
  </div>
</div>
<!-- fim__s5003_dpsperapur__dpsfgts -->