{% load templatetags %}{% load static %}
<table class="table table-bordered table-striped automate-data-table">
    <thead>
        <tr>
            {% if show_fields.show_r4020_infopgto or 1 %}
            <th>Informações relativas ao PIS/PASEP</th>
            {% endif %}
            {% if show_fields.show_vlrbasepp or 1 %}
            <th>Valor da base do PIS/PASEP, conforme previsto na legislação</th>
            {% endif %}
            {% if show_fields.show_vlrpp or 1 %}
            <th>Valor da retenção do PIS/PASEP, conforme previsto na legislação</th>
            {% endif %}
            {% if show_fields.show_vlrbasenpp or 0 %}
            <th>Valor da base do PIS/PASEP com exigibilidade suspensa</th>
            {% endif %}
            {% if show_fields.show_vlrnpp or 0 %}
            <th>Valor do PIS/PASEP com exigibilidade suspensa, que deixou de ser retido</th>
            {% endif %}
            {% if show_fields.show_vlrdeppp or 0 %}
            <th>Valor depósito judicial de PIS/PASEP</th>
            {% endif %}
            <!-- cabeçalho de colunas especiais -->
            {% if not output %}
            <th width="80px">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in r4020_pp_lista %}
        <tr>
            {% if show_fields.show_r4020_infopgto %}
            <td>{{ a.r4020_infopgto }}</td>
            {% endif %}
            {% if show_fields.show_vlrbasepp %}
            <td>{{ a.vlrbasepp }}</td>
            {% endif %}
            {% if show_fields.show_vlrpp %}
            <td>{{ a.vlrpp }}</td>
            {% endif %}
            {% if show_fields.show_vlrbasenpp %}
            <td>{{ a.vlrbasenpp }}</td>
            {% endif %}
            {% if show_fields.show_vlrnpp %}
            <td>{{ a.vlrnpp }}</td>
            {% endif %}
            {% if show_fields.show_vlrdeppp %}
            <td>{{ a.vlrdeppp }}</td>
            {% endif %}

            <!-- colunas especiais -->
            {% if not output %}
            <td>
                <div class="btn-group">
                    <!-- botões especiais -->

                        {% if perms.r4020.change_r4020PP or perms.r4020.add_r4020PP %}

                        <a href="{% url 'r4020_pp_salvar' pk=a.id %}">
                            {% if perms.r4020.change_r4020PP %}
                                <span class="btn btn-primary" title="Editar">
                                    <i class="fa fa-fw fa-edit"></i>
                                </span>
                            {% elif perms.r4020.can_see_data_r4020PP %}
                                <span class="btn btn-primary" title="Visualizar">
                                    <i class="fa fa-fw fa-eye"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if perms.r4020.delete_r4020PP %}
                        <a href="{% url 'r4020_pp_apagar' pk=a.id %}">
                            <span class="btn btn-danger" title="Apagar">
                                <i class="fa fa-fw fa-times"></i>
                            </span>
                        </a>
                        {% endif %}

                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
